[2019-04-12 15:12] brianreinhold opened #1598 "Page is inconsistent with what Visual Studio does."
This page is already inconsistent with what Visual Studio give me when creating the project. I have no main.cpp; I have two cpp files, one called pch.cpp with a single entry, #include pch.h. Then I have Class.cpp which has some auto-generated class files in it as such
int32_t Class::MyProperty()
    {
        throw hresult_not_implemented();
    }

    void Class::MyProperty(int32_t /* value */)

[2019-04-15 09:03] anemomylos opened #1601 "Windows 10 notification listener for desktop app"
Is it possible to use the notification listener from a desktop app (not bridged) or it is only for UWP apps? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7bf8a3a-3e67-f3b9-f63c-ca53383d7f19
* Version Independent ID: b64f8103-55c0-d8bd-52b9-b4b9f7b63fdf
* Content: [Notification listener - Windows UWP applicat

[2019-04-15 17:46] mhopkins-msft commented on #1252
Closing due to no response.

[2019-04-15 17:46] #1252 closed, assigned to mhopkins-msft

[2019-04-15 18:48] ericcornelissen opened #1602 "Typo in Do's and don'ts"
In the third bullet of the Do's and don'ts there is a typo: "arylic" instead of "acrylic"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9faf87c-bd56-99da-70ed-07c68f9118a5
* Version Independent ID: 713b5c24-d710-303f-620e-9c7735797907
* Content: [Acrylic material - Windows UWP applications](https://docs.microsoft.com

[2019-04-15 20:48] andrewleader commented on #1593
Thanks @Ace-Lightning. I've confirmed with the dev team that this is a known issue. We don't have any current plans to address it, as the fix is relatively big compared to the number of people who have asked for this functionality.

If you use the Desktop Bridge to package your application, you'll be able to use resources via the `ms-appx:///` file path and audio will work! Otherwise, if Desktop B

[2019-04-16 02:07] daviddetweiler opened #1603 "co_await on C++/WinRT projected methods fails to compile"
Using co_await on an Async method such as RunIdleAsync() on the default Core Application template in the extension results in a compilation error asking for the header "experimental/resumable," after including this, it fails with `error C2039:  'promise_type': is not a member of 'std::experimental::coroutine_traits&lt;winrt::Windows::Foundation::IAsyncAction,const App::Run::&lt;lambda_ . . .`

Thi

[2019-04-16 02:26] stevewhims commented on #1598
Hi, @brianreinhold, there is a Windows **Runtime Component** (C++/WinRT) (my emphasis) project template, which does generate files and source code that are consistent with your report (including the presence of an IDL file). However, this Get started topic calls for a Windows **Console Application** (C++/WinRT) project. If you create one of those, then you'll see files and source code that match w

[2019-04-16 03:22] stevewhims commented on #1603
Hi, @daviddetweiler, thanks for filing this issue, and I'm in the process of updating this topic (and the FAQ and Troubleshooting topics). Btw, the breaking changes for C++/WinRT 2.0 are documented here; https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/news#news-and-changes-in-cwinrt-20. For coroutine support, you'll now need to `#include <winrt/coroutine.h>`. If you're using a range-base

[2019-04-16 03:38] daviddetweiler commented on #1603
Thanks, the documentation can be a bit hard to grok sometimes, especially when I happen across it in the middle of a transition. One question, though, is the cppwinrt in the nuget package now the xlang version?

[2019-04-16 03:40] #1603 closed, assigned to stevewhims

[2019-04-16 03:56] stevewhims commented on #1603
Hi, @daviddetweiler, yes, that's correct about the `cppwinrt.exe` tool.

[2019-04-16 09:06] brianreinhold commented on #1598
Steve,

Thanks for the response. Part of this was my fault for not fully understanding what all these new items (new for me) are. I thought the Windows Component template was for generating UWP C++/winRT libraries for C++/winRT applications; the C++/winRT analog to the C++/CX dll and static lib templates. I did not realize at the time that a Windows Component was a 'special' feature which after an

[2019-04-16 11:49] brianreinhold opened #1605 "Cannot open precompiled header file: Continuation of issue 103"
#103 has been archived so I can't query further on it.
I am using C++/winRT as a UWP library. It was building fine. First I changed the name of pch.h to btwrpch.h (everywhere) and rebuilt. Changed the name in the properties 'precompiled headers' option and it still built fine.

Then I moved the btwrpch.h file to an include directory in my library project along with all the other header files for m

[2019-04-16 14:20] eluchsinger opened #1606 "How can I set the expiration time of Notification"
&gt;  By default, push notifications expire three days from the time they are received by the device. If needed, you can override this default with an explicit expiration time (toasts have a max of three days).

Where can I do that? Is there an example? I don't know how I can set the expiration time with `NotificationHub`. I only find a way to set the expiration time of a registration.

---
#### D

[2019-04-16 14:37] jeremytbrun opened #1607 "What OSS license is the sample provided under?"
What open source license is this code sample provided under?
https://github.com/WindowsNotifications/desktop-toasts
Most other repositories under the WindowsNotifications account are tagged with an MIT license. This is one of the very few with no license currently specified. Can you please tag it with a license (assuming the MIT)?

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2019-04-16 14:48] sergey-koryshev commented on #1593
I'm not familiar with Desktop Bridge. I will investigate this way.
But I look forward the issue will be handled for Win32 applications near future.

Thanks for looking at it!

[2019-04-16 15:29] nguyen-tam opened #1608 "This page disappeared in the new dashboard version"
I can't find any analytics about add on

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8038cbf9-083d-e07c-97a2-0d0dd0e4edc4
* Version Independent ID: 8187ad11-23f6-2d93-2cb0-add22125562e
* Content: [Add-on acquisitions report - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/publish/add-on-acquis

[2019-04-16 16:19] #1593 closed, assigned to andrewleader, mijacobs

[2019-04-16 16:59] andrewleader commented on #1606
Hey @eluchsinger, for push notifications, you can set the expiration time by [using the request headers](https://docs.microsoft.com/en-us/previous-versions/windows/apps/hh465435(v=win.10)).

To do that, you use the [X-WNS-TTL](https://docs.microsoft.com/en-us/previous-versions/windows/apps/hh465435(v=win.10)) header. The value is in seconds. If you specify it, once the Windows PC receives the noti

[2019-04-16 16:59] #1606 closed, assigned to andrewleader, mijacobs

[2019-04-16 17:02] andrewleader commented on #1607
Sorry about that, just added the MIT license! Thanks for letting us know!

[2019-04-16 17:02] #1607 closed, assigned to andrewleader, mijacobs

[2019-04-16 20:37] stevewhims commented on #1598
Sounds good, thanks for the update, @brianreinhold! I'll go ahead and close this issue. Thanks for evaluating C++/WinRT for your project, and for filing the issue. ~Steve

[2019-04-16 20:37] #1598 closed, assigned to stevewhims

[2019-04-17 20:48] knicholasa commented on #1544
After investigating I have a follow up. This article is about UWP data binding, which you’ll find in the [Windows.UI.XAML.Data](https://docs.microsoft.com/uwp/api/windows.ui.xaml.data) namespace. The [UWP BindingMode enum](https://docs.microsoft.com/uwp/api/windows.ui.xaml.data.bindingmode) does not have the OneWayToSource value, which is why the article doesn’t talk about it. I'll update the lang

[2019-04-17 20:48] #1544 closed, assigned to knicholasa

[2019-04-18 14:16] hamdyghanem opened #1609 "AccountHelper is missing some using"
to have AccountHelper working you need to add the following using
using System;
using System.IO;
using System.Xml.Serialization;
using Windows.Storage;
using PassportLogin.Models;
using System.Collections.Generic;
using System.Threading.Tasks;
using System.Text;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b1a69a3-8

[2019-04-18 16:27] vishtahil opened #1610 "UWP Unit Test not working in Custom Agent"
Issue: UWP unit test not running in Azure Virtual Machine (Win-10) which Custom Agent running in Interactive mode.
Please note that the build in configured in Azure Devops.

Error:
Failed to initialize client proxy: could not connect to test process.
Closing app with package full name '#####_1.0.0.0_x86__vsn28pm45h7sa'.

DEP7100: Failed to activate app ''#####ccc_vsn28pm45h7sa!vstest.executionengi

[2019-04-19 09:33] hupo376787 opened #1614 "XAML FlipView sample code is out of date"
[Enter feedback here]
I'm looking into [Flip View](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/flipview) control, the code liked to [XAML FlipView sample](https://go.microsoft.com/fwlink/p/?LinkID=311760) is out of date, and can't be opened by Visual Studio 2017. So can you upgrade it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-04-20 00:06] jdspain opened #1616 "getMACAddress Not Yet Implemented"
getMACAddress method doesn't seem to work. Could this be because SBAC designated it as optional?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b75a82cd-e530-bc8e-b822-04cd0138dfd1
* Version Independent ID: 89efbaaf-77f3-6fbe-0616-29c129b4f475
* Content: [Take a Test JavaScript API. - Windows UWP applications](https://

[2019-04-20 22:55] brianreinhold opened #1617 "These methods do not work on windows runtime apis"
This method, for example, compiles but does not work:

IAsyncOperation&lt;BluetoothAdapter&gt; WindowsBluetoothAdapter::GetBluetoothAdapter()
{
	BluetoothAdapter bluetoothAdapter = NULL;
	if (bluetoothAdapter == NULL)
	{
		bluetoothAdapter = co_await BluetoothAdapter::GetDefaultAsync();
	}
	co_return bluetoothAdapter;
}
The co_await does nothing. On return, a call to the return X.get() gives the c

[2019-04-21 14:23] madenwala opened #1618 "X-WNS-PRIORITY values are incorrectly written"
The "SECTION THE PRIORITY" section says the values should be between 0-3 but the chart shows values between 1-4.  Could you please clarify which is the correct set of values?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00495cf6-5df2-c85a-be4b-5af5ffb95acb
* Version Independent ID: 9234cef0-7a0d-7d2d-ef53-ed1df59ece2

[2019-04-21 22:54] brianreinhold opened #1619 "No C++/winRT examples"
The C++/winRT is significantly different so examples should be provided. Also, it is not explained how one can register for the connection state changed events on the BluetoothLEDevice object when you cannot do that until you have retrieved the device. In the mean time a connection is ongoing. By the time one gets to register, the connection event is already over. Every other reasonable API I have

[2019-04-22 09:51] brianreinhold opened #1620 "event_source.Event({ get_strong(), &EventRecipient::OnEvent }); not sufficiently documented"
When I do event_source.Event({ get_strong(), &EventRecipient::OnEvent }); the compiler gives me an error saying that 'get_strong()' is undefined. However, if I do
event_source.Event({ this, &EventRecipient::OnEvent });
there is no problem.
So something is missing in the documentation explaining what else I must tell the compiler so it understands 'get_strong()' and 'get_weak()'.

---
#### Document

[2019-04-22 15:48] brianreinhold opened #1621 "For C++/winRT need to document how one connects to a BTLE Device from the AdvertisementWatcher"
There is no documentation on how one connects to a device when the AdvertisementWatcher is used and a connectable advertisement is received.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c57c086-3015-37b6-5318-b90a8e1fc0ba
* Version Independent ID: 94556012-dcdd-1dde-c8e5-147e1d05d5c0
* Content: [Bluetooth GATT Clien

[2019-04-22 15:51] brianreinhold commented on #1621
Note that the approach suggested
BluetoothLEDevice.FromBluetoothAddressAsync
does not work. It returns NULL (when using a co_await). So there must be more to it than stated above.

[2019-04-22 17:47] #1602 closed, assigned to mijacobs

[2019-04-22 17:48] #1570 closed, assigned to mijacobs

[2019-04-22 23:43] QuinnRadich commented on #617
Clearing out this old issue.

We reviewed our accessibility guidelines. This is a supplementary graphic that contains no vital information, and is of the same size and general scheme as other top-level images in this section. As might be expected given the age of this issue, we don't currently intend to change it.

[2019-04-22 23:43] #617 closed, assigned to QuinnRadich

[2019-04-22 23:45] #1446 closed, assigned to QuinnRadich

[2019-04-22 23:46] #1531 closed, assigned to QuinnRadich

[2019-04-22 23:54] QuinnRadich commented on #1491
Sorry to hear about the GitHub bug.

We've presented a truncated version of the full code on the page, with the hope that the user is progressing through the steps in order and the abbreviated reference to the RelativePanel will be enough for them to understand where to put the VSM.

Is the structure of the code presented in the "Make your layout responsive" section incorrect or unclear? Or is thi

[2019-04-23 02:47] michael-hawker commented on #1491
@QuinnRadich it's about providing a sample setup for success as someone coming to your page first without learning as much about VSM first won't know that they can't just copy/paste it anywhere.  For instance if you look at the [VSM sample on fluid layout page](https://docs.microsoft.com/en-us/windows/uwp/design/layout/layouts-with-xaml#adaptive-layouts-with-visual-states-and-state-triggers), they

[2019-04-23 09:54] brianreinhold opened #1622 "DeviceWatcher does not expose BTLE service UUIDs in its DeviceInformation.Properties() : C++/winRT"
Given that one cannot connect to a device using the data from the AdvertisementWatcher, one turns to the DeviceWatcher. However, there is no way to intelligently filter the responses to work with all devices that support standard profiles. When creating the watcher, one can only specify a single UUID in the aqsfilter, so one cannot filter to handle all BTLE devices following the health standard pr

[2019-04-23 15:44] tim-weis opened #1623 "Link to bluetooth.com is broken"
The final paragraph of [Bluetooth and Bluetooth LE services](https://docs.microsoft.com/en-us/windows/uwp/devices-sensors/aep-service-class-ids#bluetooth-and-bluetooth-le-services) reads:

The first link forwards to the specification hosted at bluetooth.com. That link no longer works, and reports a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-04-23 23:44] QuinnRadich commented on #1496
I've consulted with the engineering team for this feature, and we've been unable to reproduce this issue. I'd recommend that, if you're still having this issue, that you file a bug report. Thank you.

[2019-04-23 23:44] #1496 closed, assigned to QuinnRadich

[2019-04-24 10:01] sp-stuart-harrison opened #1624 "Override pricing for single markets"
Hi, the wording above implies that having a market group with multiple countries in it allows you to set a pricing tier (e.g. in USD) and this tier price will be converted to local currency for each country listed (e.g. to EUR in Germany).
However, it also implies that having a market group with only a single country selected only allows you to set a price in local currency, not a tier price.  So,

[2019-04-24 17:39] al-n commented on #1381
Any news on this?

[2019-04-24 22:33] #1539 closed, assigned to eliotcowley, knicholasa

[2019-04-24 23:03] #365 closed, assigned to GrantMeStrength

[2019-04-24 23:10] knicholasa commented on #1518
Hi @kudobyte, sorry this was open for so long. For these kinds of support questions, I route people to our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/questions), and it looks like you got an answer on StackOverflow. For those reading this thread, the answer was that there's no such URI

[2019-04-24 23:10] #1518 closed, assigned to knicholasa

[2019-04-24 23:19] kudobyte commented on #1518
Thanks! Added request on WPDev UserVoice: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/37013110-settings-uri-for-installing-a-specific-language-re

[2019-04-24 23:36] jevansaks commented on #1622
Let's consolidate all the discussion into https://github.com/Microsoft/Windows-universal-samples/issues/1089 and re-open these issues when that concludes.

[2019-04-24 23:36] #1622 closed, assigned to eliotcowley

[2019-04-24 23:36] jevansaks commented on #1621
Let's consolidate all the discussion into https://github.com/Microsoft/Windows-universal-samples/issues/1089 and re-open these issues when that concludes.

[2019-04-24 23:36] #1621 closed, assigned to eliotcowley

[2019-04-24 23:36] jevansaks commented on #1619
Let's consolidate all the discussion into https://github.com/Microsoft/Windows-universal-samples/issues/1089 and re-open these issues when that concludes.

[2019-04-24 23:36] #1619 closed, assigned to eliotcowley

[2019-04-25 06:21] naiasin opened #1625 ""アプリ ID の詳細の表示"ページ内の誤訳と思われる記載について"
[フィードバックをこちらに入力してください]
---
・パッケージ/ユーザー/名前
・パッケージ/ユーザー/パブリッシャー
・パッケージ/プロパティ/PublisherDisplayName
---

の部分の記載についてですが、
マニフェスト内のパスを示していると思われますので、
英語の原文のまま下記のように記載した方が適切ではないでしょうか。

---
・Package/Identity/Name
・Package/Identity/Publisher
・Package/Properties/PublisherDisplayName
---

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: a03609b9-e26e-f6ec-fe69-73a7d

[2019-04-25 07:49] DerSIlent opened #1626 "Code snippet not working"
The code snippet:
private async void Button_Click(object sender, RoutedEventArgs e)
{
    MediaElement mediaElement = new MediaElement();
    var synth = new Windows.Media.SpeechSynthesis.SpeechSynthesizer();
    Windows.Media.SpeechSynthesis.SpeechSynthesisStream stream = await synth.SynthesizeTextToStreamAsync("Hello, World!");
    mediaElement.SetSource(stream, stream.ContentType);
    mediaEle

[2019-04-25 07:52] DerSIlent commented on #1626
The fix was adding async to the method!

[2019-04-25 12:20] maexsp opened #1627 "-Insert SKU here-"
What do you mean with -Insert SKU here- ? Probably a documentation mistake?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb68dee1-01d8-94cf-976a-5dd31d408f4d
* Version Independent ID: 1deea8b5-5241-c349-0d17-3a6a55187e58
* Content: [Bluetooth developer FAQ - Windows UWP applications](https://docs.microsoft.com/en-us/

[2019-04-25 17:06] FrankGorgenyi commented on #1622
Hi Jevan,

I work on the Bluetooth team for the Windows Core OS. We own the APIs under Windows.Devices.Bluetooth.* and I helped with the design for Windows.Devices.Enumeration.* long ago so I am sure we can help.

We are dealing with some other escalations right now and we're a small team. I'll get to you later tonight or tomorrow.

Thanks,
Fg

[2019-04-25 17:25] jevansaks commented on #1614
We have more up-to-date samples in the GitHub repos. Here:
https://github.com/Microsoft/Xaml-Controls-Gallery
and here:
https://github.com/Microsoft/Windows-universal-samples

@predavid can you fix the link in this article to point to a modern sample in the controls gallery?

[2019-04-25 17:29] jevansaks commented on #1596
We translated this as:
Title: "Make"
Contents: "[Enter feedback]" / "Document details"

Sorry, are you asking for the document to be translated?

Machine translation:

ขออภัยคุณกำลังขอให้เอกสารแปลหรือไม่

[2019-04-25 17:29] #1596 closed

[2019-04-25 19:00] ghost commented on #1626
Thank you for having the courage to point this out, finally.
Warmly and respectfully, Karin

Sent from my Windows 10 device

________________________________
From: Stephan Ruiz <notifications@github.com>
Sent: Thursday, April 25, 2019 12:49:51 AM
To: MicrosoftDocs/windows-uwp
Cc: Subscribed
Subject: [MicrosoftDocs/windows-uwp] Code snippet not working (#1626)

The code snippet:
private async void

[2019-04-25 21:01] bpwane opened #1628 "Clicking developer verification email does not change status"
I have clicked on the verification button in the confirmation email sent to me but my status is not updating. It still says pending for email verification. What should I do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6f30d12-71bf-798e-731b-7d20ff618bf4
* Version Independent ID: 936a38a3-8e84-7a48-725b-b3eb3607ef68

[2019-04-25 23:37] knicholasa commented on #1503
Hello again, I found the string you are looking for. It should be "ms-settings:apps-volume". When you search for "sound mixer options", the menu that comes up is titled "App volume and device preferences", which is an entry on this page. I'll see about adding a note to avoid future confusion.

[2019-04-25 23:37] #1503 closed, assigned to knicholasa

[2019-04-25 23:40] knicholasa commented on #739
Hi @DanNCengineer, thanks for your feedback. I believe the string you're looking for is "ms-settings:search-permissions". I'll add the URI to the page.

[2019-04-25 23:40] #739 closed, assigned to knicholasa

[2019-04-25 23:55] knicholasa commented on #588
Hi again, I believe I've found the URI you're looking for. It should be "ms-settings:apps-volume", which is for the "App volume and device preferences" menu.

[2019-04-26 00:06] knicholasa commented on #588
I'm going to close the issue since there is no documentation update necessary. If you need further technical support, I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/questions). Otherwise, please see [the developer support page](https://developer.microsoft.co

[2019-04-26 00:06] #588 closed, assigned to knicholasa

[2019-04-26 08:15] zersiax commented on #1503
Hi,

I just tried this and for me this just opens the main settings screen,
rather than that specific page.
I'm on 1809 if it helps.

Op vr 26 apr. 2019 om 01:37 schreef Nick Adman <notifications@github.com>:

[2019-04-26 12:54] asierpn opened #1629 "XAML render performance is not good"
Despite you follow these guides there is scenarios where you need to display a complex visual tree, for example of 5000 items, and on these scenarios the UI freezes when loading the visual tree. This behavior should be improved, or we will not be able to design complex apps with UWP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-04-26 12:54] DanNCengineer commented on #739
No, it's not.

If I wanted to hide the individual options for the following individual settings related to the search features (such as safesearch, my device history, or couldsearching) , so they didn't appear to the general users, how would I do that?

I'm thinking something like ms-settings:search-safesearch, ms-settings:search-cloudsearch and ms-settings:search-search history.

[2019-04-26 18:15] jevansaks commented on #1532
@jesbis do you know who owns this?

[2019-04-26 18:17] jevansaks commented on #1506
@chigy can you take a look?

[2019-04-26 18:20] jevansaks commented on #1595
@michael-hawker do you want to just put up a PR with your proposed change?

[2019-04-26 18:21] jevansaks commented on #1591
@micahl please take a look?

[2019-04-26 18:22] #1569 closed, assigned to jwmsft

[2019-04-26 18:25] #1551 closed, assigned to jwmsft

[2019-04-26 18:51] jesbis commented on #1532
For more information you can see the remarks under SvgImageSource:
https://docs.microsoft.com/uwp/api/windows.ui.xaml.media.imaging.svgimagesource

We'll update the page with links for fonts and SVG.

[2019-04-26 18:51] #1532 closed, assigned to jesbis, mijacobs

[2019-04-26 19:35] knicholasa commented on #1503
Ah, yes, I believe this URI was added with 1903.

[2019-04-26 19:53] knicholasa commented on #739
Hi @DanNCengineer, unfortunately comments left here are meant for documentation feedback, so I'm unable to provide ongoing technical support. I'll follow up with the team about whether the docs need to be updated based on what you're saying, but in the mean time I'd recommend you consult our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=requi

[2019-04-26 22:42] QuinnRadich commented on #1626
Closing this issue, as the page already contains a reminder to add **async** to the method.

[2019-04-26 22:42] #1626 closed, assigned to QuinnRadich

[2019-04-27 00:01] jdspain commented on #1616
Nevertheless, the call is documented here, and the documentation is wrong. Who will correct this error? Is Microsoft only supporting the required methods and not the optional methods?

[2019-04-27 00:36] taoyouh opened #1631 "What’s new about cloud files API?"
The link in “cloud files” says the cloud files API was introduced in 1607. So what’s new in this version? Can it be described more detailed?

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 5ade8bd6-7a05-1a6a-ea2f-b77798d4607d
* Version Independent ID: 6a2c0366-7b16-0bf2-f809-6521c3936886
* Content: [What's New in Windows 10 for Developers - Windows UWP applications](

[2019-04-27 07:09] radev8 commented on #1532
Thankyou.  That was what I was looking for.  Also I was using windows version 1609 and upgraded to version 1709 which now includes this.

[2019-04-28 09:23] hupo376787 commented on #1614
Thanks. @jevansaks

[2019-04-28 09:23] #1614 closed, assigned to jwmsft, predavid-zz

[2019-04-28 17:41] Oneibus opened #1632 "Broken link above to: https://github.com/Microsoft/xlang/blob/master/src/package/nuget/readme.md"
In the paragraph entitled "Changes to the Microsoft.Windows.CppWinRT NuGet package for version 2.0" at the top of the page above, a link to the C++/WinRT Nuget Package Readme.md is broken.

It seems like it should reference: https://github.com/Microsoft/xlang/blob/master/src/package/cppwinrt/nuget/readme.md.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-04-29 15:41] sp-stuart-harrison opened #1633 "Public + Whitelist"
What's unclear from this page is whether the combination of Public + Private is possible through the use of user groups.  For example, if you set the product as Public, but only launch in Austria, but previously you had been testing in Zambia with a Private group of beta-testers, will the Zambia group be able to access the product after it goes Public (in Austria only)?

---
#### Document Details

[2019-04-29 17:20] jevansaks commented on #1542
@stmoy samples don't compile, can you please fix?

[2019-04-29 17:23] jevansaks commented on #1524
C# can't do this because it requires including native headers to interop with DX. The recommendation would be to have a native WinRT component in your C# app if you wanted to do that.

[2019-04-29 17:23] #1524 closed, assigned to jwmsft

[2019-04-29 17:26] jevansaks commented on #1521
This sounds like a product bug. Can you open this issue in https://github.com/windows-toolkit/Microsoft.Toolkit.Win32 ?

[2019-04-29 17:31] chanallenk commented on #1521
@jevansaks Somehow this thread got copied over from the toolkit to the UWP. It has since been resolved in the toolkit so I'm closing this issue. Thank you.

[2019-04-29 17:31] #1521 closed, assigned to jevansaks

[2019-04-29 17:32] jevansaks commented on #1511
The sample has drifted from the docs. @hadayago Does the sample work and the doc just needs to be updated?

[2019-04-30 15:34] englishb opened #1634 "Surprise removal while executing an ID3D11Query"
How is an application expected to handle this scenario?  If the GPU is removed, and the application is executing this code (sample from https://docs.microsoft.com/en-us/windows/desktop/api/d3d11/nn-d3d11-id3d11query):

while( S_OK != pDeviceContext-&gt;GetData(pQuery, &queryData, sizeof(queryData), 0) )
{
}

GetData continues to return S_FALSE before and after the GPU is removed, and the app is le

[2019-04-30 17:14] jevansaks commented on #1510
Find/replace x:Key -> x:Name in the VisualStates.

[2019-04-30 17:19] jevansaks commented on #1499
Dupe of #1560 which is also calling out the unclear samples on this page.

[2019-04-30 17:19] #1499 closed, assigned to YuliKl, jwmsft

[2019-04-30 17:21] jevansaks commented on #1470
Windows Phone is end-of-life at the end of this calendar year so closing this issue.

[2019-04-30 17:21] #1470 closed, assigned to jwmsft

[2019-04-30 17:23] jevansaks commented on #1482
You can bind Run.Text property of Runs in a RichTextBlock. If you want to have the viewmodel offer up a formatted string like this that would be a feature request. You can file such requests at https://github.com/Microsoft/microsoft-ui-xaml.

[2019-04-30 17:23] #1482 closed, assigned to jwmsft

[2019-04-30 17:24] #1469 closed, assigned to jwmsft

[2019-04-30 17:26] jevansaks commented on #1381
@marb2000 this is your area.

[2019-04-30 22:49] predavid-zz commented on #590
@jevansaks - wasn't this bug already fixed by Kai. If yes, we can close now.

[2019-04-30 23:40] jevansaks commented on #590
Agree, this is fixed. If not please open an issue against https://github.com/Microsoft/microsoft-ui-xaml.

[2019-04-30 23:40] #590 closed, assigned to jwmsft, predavid-zz

[2019-05-01 02:08] rido-min commented on #1610
With the latest Hosted Build Agent with VS 2019, now you can run Unit Tests.

If you prefer a custom build agent, make sure you are running the agent with an account that is not the builtin administrator

[2019-05-01 19:22] #1610 closed, assigned to mcleanbyron

[2019-05-01 21:00] BMarques opened #1635 "Which previous code snippet?"
On this page it says: "Create a type that implements IFrameworkViewSource, as we did in the previous code snippet." Although I know how to create such a type, what "previous code snippet" are you talking about?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0edfec45-0605-31d8-c505-ba7d401b5551
* Version Independent ID:

[2019-05-02 09:31] toredk commented on #1409
I get the point about having a user defined background color and in the star menu it makes a little more sense as the icons are bigger. The problem is that the icon in notifications and in the action center is quite small making the background color drown the actual icon. Some icons are of cause better than others but it is quite impossible to design an icon that would work with any of the availab

[2019-05-02 17:18] jevansaks commented on #1378
Sounds like you're reporting a product bug. Can you open the issue on https://github.com/Microsoft/microsoft-ui-xaml ?

[2019-05-02 17:20] jevansaks commented on #1344
I believe you would add a DependencyPropertyChanged callback to the DependencyProperty.Register and in that callback you would call InvalidateMeasure() on the target.

[2019-05-02 17:20] #1344 closed, assigned to jwmsft

[2019-05-02 17:22] jevansaks commented on #1339
@seanpo can you clarify what you mean by a "referenced assembly"? Is a ResourceDictionary type defined in the other assembly?

[2019-05-02 17:23] jevansaks commented on #1326
@stmoy can you help link this to the samples in Xaml Controls Gallery?

[2019-05-02 17:25] jevansaks commented on #1196
Also suggested here: #1595, marking this one as dup.

[2019-05-02 17:25] #1196 closed, assigned to jwmsft

[2019-05-02 17:30] stmoy commented on #1326
@peterincumbria - thanks for the feedback. The Xaml Controls Gallery app ([store link](https://aka.ms/xamlgalleryapp)) ([source link](https://aka.ms/xamlgallerysource)) includes a bunch of samples of everything from controls to materials to animations. We're always striving to make our samples better, so if you have specific things you'd like to see, please file a sample request [here](https://git

[2019-05-02 19:05] htxryan opened #1636 "Improper code example"
In each of the C# examples, "ComputeNextMove()" returns a Task, but is not awaited. This is bad practice, and will result in lost exceptions and other negative side effects. Both examples are also exactly the same.

Here's a corrected C# code sample:

public class AsyncExample
{
    private async void NextMove_Click(object sender, RoutedEventArgs e)
    {
        // The await causes the handler to

[2019-05-04 02:25] JuanMejiaVelez commented on #1326
Although the Xaml Controls gallery and other Sample projects in GitHub are great to provide a better end to end dive-in-code, it is more productive to have quick snippets of sample code that illustrates the different elements touch on each document. That saves tons of time for developers and avoid sending them in a hunt for three or four lines of code on such big projects.

[2019-05-04 06:46] hyoshioka0128 opened #1637 "[LOC] "reg 追加" needs to be replaced with "reg add""
https://docs.microsoft.com/ja-jp/windows/uwp/get-started/enable-your-device-for-development

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 54f67548-9361-beab-49f8-7d604651c6a6
* Version Independent ID: 6194efed-24aa-74f2-7687-3e368534b74a
* Content: [デバイスを開発用に有効にする - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/get-started/e

[2019-05-04 06:47] hyoshioka0128 opened #1638 "[LOC] "HKEY_ローカル_マシン\ソフトウェア\" needs to be replaced with "HKEY_LOCAL_MACHINE\SOFTWARE\""
https://docs.microsoft.com/ja-jp/windows/uwp/get-started/enable-your-device-for-development

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 54f67548-9361-beab-49f8-7d604651c6a6
* Version Independent ID: 6194efed-24aa-74f2-7687-3e368534b74a
* Content: [デバイスを開発用に有効にする - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/get-started/e

[2019-05-06 14:40] hyoshioka0128 opened #1639 "Back-Translation "ms-設定:" → "ms-settings:""
https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-settings-app

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 987ec16c-9456-93a4-177a-dbd563be7eb7
* Version Independent ID: f41f0344-f7f6-f092-a6bf-fc4184a9b460
* Content: [Windows 設定アプリの起動 - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-set

[2019-05-06 14:44] hyoshioka0128 opened #1640 "Back-Translation "Ms-チュートリアル-します。" → "ms-walk-to:""
https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-maps-app

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 4baead54-3332-c579-f135-6464cc228be4
* Version Independent ID: fcf9e8a0-f10e-2fdd-a24b-212d3fc935b9
* Content: [Windows マップ アプリの起動 - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-maps-

[2019-05-06 14:44] hyoshioka0128 opened #1641 "Back-Translation "Ms-ドライブ-します。" → "ms-drive-to:""
https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-maps-app

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 4baead54-3332-c579-f135-6464cc228be4
* Version Independent ID: fcf9e8a0-f10e-2fdd-a24b-212d3fc935b9
* Content: [Windows マップ アプリの起動 - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-maps-

[2019-05-06 14:45] hyoshioka0128 opened #1642 "Back-Translation "ms-設定:" → "ms-settings:""
https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-maps-app

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 4baead54-3332-c579-f135-6464cc228be4
* Version Independent ID: fcf9e8a0-f10e-2fdd-a24b-212d3fc935b9
* Content: [Windows マップ アプリの起動 - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-maps-

[2019-05-06 14:49] hyoshioka0128 opened #1643 "[LOC] Showing "**ms 設定。" (extra asterisks appears)"
https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-maps-app

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 4baead54-3332-c579-f135-6464cc228be4
* Version Independent ID: fcf9e8a0-f10e-2fdd-a24b-212d3fc935b9
* Content: [Windows マップ アプリの起動 - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-maps-

[2019-05-06 14:50] hyoshioka0128 opened #1644 "[LOC] Back-Translation "ms-設定:" → "ms-settings:""
https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-default-app

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ae2608d3-38b8-2404-d138-1ba17772e72c
* Version Independent ID: 535d38b3-3174-fc77-ec58-7b5732ba803c
* Content: [URI に応じた既定のアプリの起動 - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-def

[2019-05-06 14:56] hyoshioka0128 opened #1645 "[LOC] Back-Translation "ms 呼び出し。" → "ms-call:""
https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-default-app

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ae2608d3-38b8-2404-d138-1ba17772e72c
* Version Independent ID: 535d38b3-3174-fc77-ec58-7b5732ba803c
* Content: [URI に応じた既定のアプリの起動 - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-def

[2019-05-06 14:57] hyoshioka0128 opened #1646 "[LOC] Back-Translation "ms チャット:" → "ms-chat:""
https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-default-app

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ae2608d3-38b8-2404-d138-1ba17772e72c
* Version Independent ID: 535d38b3-3174-fc77-ec58-7b5732ba803c
* Content: [URI に応じた既定のアプリの起動 - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-def

[2019-05-06 14:57] hyoshioka0128 opened #1647 "[LOC] Back-Translation "ms ユーザー: " → "ms-people:""
https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-default-app

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ae2608d3-38b8-2404-d138-1ba17772e72c
* Version Independent ID: 535d38b3-3174-fc77-ec58-7b5732ba803c
* Content: [URI に応じた既定のアプリの起動 - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-def

[2019-05-06 14:57] hyoshioka0128 opened #1648 "[LOC] Back-Translation "ms 写真:" → "ms-photos:""
https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-default-app

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ae2608d3-38b8-2404-d138-1ba17772e72c
* Version Independent ID: 535d38b3-3174-fc77-ec58-7b5732ba803c
* Content: [URI に応じた既定のアプリの起動 - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-def

[2019-05-06 14:58] hyoshioka0128 opened #1649 "[LOC] Back-Translation "ms ストア。" → "ms-store:""
https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-default-app

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ae2608d3-38b8-2404-d138-1ba17772e72c
* Version Independent ID: 535d38b3-3174-fc77-ec58-7b5732ba803c
* Content: [URI に応じた既定のアプリの起動 - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-def

[2019-05-06 15:00] hyoshioka0128 opened #1650 "[LOC] Back-Translation "ms ユーザー: " → "ms-people:""
https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-people-apps

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: a1d62e94-aa32-467f-fa2d-14e630543e1f
* Version Independent ID: 2ab8ae17-c66e-3bd8-2a28-a8804a06a66a
* Content: [People アプリの起動 - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-people-

[2019-05-06 15:05] hyoshioka0128 opened #1651 "Typo "ms tonepicker:" → "ms-tonepicker:""
https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-default-app

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ae2608d3-38b8-2404-d138-1ba17772e72c
* Version Independent ID: 535d38b3-3174-fc77-ec58-7b5732ba803c
* Content: [URI に応じた既定のアプリの起動 - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-def

[2019-05-06 15:06] hyoshioka0128 opened #1652 "Typo "ms yellowpage:" → "ms-yellowpage:""
https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-default-app

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ae2608d3-38b8-2404-d138-1ba17772e72c
* Version Independent ID: 535d38b3-3174-fc77-ec58-7b5732ba803c
* Content: [URI に応じた既定のアプリの起動 - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-def

[2019-05-06 15:11] hyoshioka0128 opened #1653 "Back-Translation "ソース" → "source""
https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-screen-snipping

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: f601b985-8203-1b9e-3592-d6f8db289f97
* Version Independent ID: 93ea1d13-1d5a-d471-d7cb-bc54d5580a26
* Content: [画面切り取りの起動 - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-screen-

[2019-05-06 15:14] hyoshioka0128 opened #1654 "[LOC] Back-Translation "マップ" → "maps""
https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/reserved-uri-scheme-names

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 3b7aff9d-497b-d2f2-79ec-fd017a5284c1
* Version Independent ID: 543a79a4-7258-36ea-0ffd-4ceda8655e4a
* Content: [予約済みのファイルと URI スキーム名 - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/

[2019-05-06 15:15] hyoshioka0128 opened #1655 "[LOC] ".html を見ることができます。" needs to be replaced with ".html ""
https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/reserved-uri-scheme-names

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 3b7aff9d-497b-d2f2-79ec-fd017a5284c1
* Version Independent ID: 543a79a4-7258-36ea-0ffd-4ceda8655e4a
* Content: [予約済みのファイルと URI スキーム名 - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/

[2019-05-06 18:46] MikeHillberg opened #1656 "Need to set packaging project as StartUp Project"
At the end of the Create a Package section, you must set that project as the startup project (right click on the project and select "Set as StartUp Project"). That way when you F5 you're running the packaged app. Otherwise, when you run the app you're getting the unpackaged WPF or WinForms app, and you get an exception like:

And/or

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-05-07 03:06] hyoshioka0128 opened #1657 "[LOC] Back-Translation "ファイル" → "file""
https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/reserved-uri-scheme-names

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 3b7aff9d-497b-d2f2-79ec-fd017a5284c1
* Version Independent ID: 543a79a4-7258-36ea-0ffd-4ceda8655e4a
* Content: [予約済みのファイルと URI スキーム名 - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/

[2019-05-07 03:09] hyoshioka0128 opened #1658 "[LOC] Back-Translation "ms yellowpage: でしょうか入力 =[キーワード]& メソッド =[文字列または T9。]" → "ms-yellowpage:?input=[キーワード]&method=[String or T9]""
https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-default-app

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ae2608d3-38b8-2404-d138-1ba17772e72c
* Version Independent ID: 535d38b3-3174-fc77-ec58-7b5732ba803c
* Content: [URI に応じた既定のアプリの起動 - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-def

[2019-05-07 03:12] hyoshioka0128 opened #1659 "[LOC] Back-Translation "bingmaps: ms でドライブを: および ms のウォーク-に。" → "bingmaps:, ms-drive-to:, and ms-walk-to:""
https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-default-app

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ae2608d3-38b8-2404-d138-1ba17772e72c
* Version Independent ID: 535d38b3-3174-fc77-ec58-7b5732ba803c
* Content: [URI に応じた既定のアプリの起動 - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-def

[2019-05-07 03:23] stevennyman opened #1660 "Add equivalent VB.NET examples"
It would be helpful if VB.NET examples were added to this page as the Bluetooth docs are a little confusing and some people are more familiar with VB.NET than C#. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c57c086-3015-37b6-5318-b90a8e1fc0ba
* Version Independent ID: 94556012-dcdd-1dde-c8e5-147e1d05d5c0
*

[2019-05-07 17:24] jevansaks commented on #1167
What content was on the https://www.microsoft.com/design/color page you had linked? Was there something specific you were looking for?

[2019-05-07 17:25] jevansaks commented on #1153
I believe it should go in the OnLaunched handler. But this sample is confusing, I agree.

[2019-05-07 17:28] jevansaks commented on #904
Which properties did you set to null?

[2019-05-07 17:29] jevansaks commented on #863
What documentation page were you having an issue with? Sounds like maybe you're trying to report a product bug.

[2019-05-07 17:31] david-osborne commented on #1167
There used to be a link to this color palette (see screenshot I took here:  https://drive.google.com/file/d/1_dWln5IKEG_EdN7Ep-7TMy-PYXOlhLfd/view?usp=sharing)

[https://lh4.googleusercontent.com/pD3KOStyubiBhfvl9aEM85g6L64tb36LhvpaeaCvytMwHNyl6E1lQeNMBm0=w1200-h630-p]<https://drive.google.com/file/d/1_dWln5IKEG_EdN7Ep-7TMy-PYXOlhLfd/view?usp=sharing>

2018-11-02 08_37_38-Color.png<https://drive.g

[2019-05-07 17:34] ArchieCoder commented on #863
I found a workaround. The issue can be closed.

[2019-05-07 17:34] #863 closed, assigned to jwmsft

[2019-05-07 18:17] jevansaks commented on #1167
Thanks. I'm guessing this palette isn't part of the guidance anymore but @chigy can you take a look?

[2019-05-07 21:43] carmellolb opened #1661 "Left app pane background Acrylic not working"
When app is expanded, the left panes are supposed to have background Acrylic, except they are all just grey. Please fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9faf87c-bd56-99da-70ed-07c68f9118a5
* Version Independent ID: 713b5c24-d710-303f-620e-9c7735797907
* Content: [Acrylic material - Windows UWP applicati

[2019-05-07 21:58] chigy commented on #1167
I do not recall the color pallet John point out but I know we worked on the styling page and fixed some misleading information. Now we do have a similar to palette info but is in https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/xaml-theme-resources

User is capable of creating any theme color.

@david-osborne , what are you looking for in particular? What information will

[2019-05-07 22:06] chigy commented on #1073
Closing per no response. As far as I could tell, this was working properly on our ContentDialog.

[2019-05-07 22:06] #1073 closed, assigned to chigy

[2019-05-08 14:47] david-osborne commented on #1167
As a developer targeting Windows, I want my application to match the interface guidelines of the environment, including the OS color scheme.

For example, if I am developing for Android - there is a color pallet for Material Design located in their documentation here:  https://material.io/design/color/the-color-system.html#tools-for-picking-colors

Of course I can incorporate my own brand colors i

[2019-05-08 17:15] jevansaks commented on #815
The relative path should work. What OS version are you running on?

[2019-05-08 17:15] #815 closed, assigned to jwmsft

[2019-05-08 17:20] jevansaks commented on #482
Looks like this sample is using Telerik for RatingControl, the sample should be updated to use the platform's native RatingControl now anyway.

@KarlErickson  can you help update the sample?

[2019-05-08 17:24] jevansaks commented on #464
Sorry, can you be more specific? How does the blog post relate to the doc article?

[2019-05-08 17:24] #464 closed, assigned to jwmsft

[2019-05-08 17:26] jevansaks commented on #456
These questions are more suited for StackOverflow.com. I recommend posting there with the winrt-xaml tag. https://stackoverflow.com/questions/tagged/winrt-xaml.

[2019-05-08 17:26] #456 closed, assigned to jwmsft

[2019-05-09 06:48] aiiitm opened #1663 "TransactionId and OrderId"
How can we correlate the orderId/TransactionId in this report to the Subscription(https://docs.microsoft.com/en-gb/windows/uwp/monetize/get-subscriptions-for-a-user) fetched for a user which has an "id" field(subscription id). Secondly is there an API to download this payout summary on a server? We basically want to associate price info with subscriptions

---
#### Document details

⚠ *Do not edit

[2019-05-09 18:49] petrejonn opened #1664 "Rebuilding Windows Runtime Component"
When I build a Windows Runtime Component and try rebuilding it, i get errors "c:\dev\c++\bankaccountwrc\bankaccountwrc\bankaccount.h(2): fatal error C1083: Cannot open include file: 'BankAccount.g.h': No such file or directory". After Looking at the "Generated Files" folder, I discovered that Visual studio deletes the generated files during the "clean" operation. And it seems like the files in  "G

[2019-05-10 01:01] the-jedi-code opened #1665 "Code Snippet Says C# but it's actually C++/CX"
Code snippet in this section is in a box labeled C# but the code in the snippet is all C++/CX
https://docs.microsoft.com/en-us/windows/uwp/devices-sensors/host-card-emulation#receive-and-respond-to-apdus

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3e9aa72-d6d4-1233-ed11-833bc84ebb30
* Version Independent ID: bfdc3c

[2019-05-10 16:16] yaugenka opened #1666 "Cannot find a Resource with the Name/Key MenuBarItemBorderThickness error"
I tried adding MenuBar to my C#/WinRT project as described at this page
https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/menus#create-a-menu-bar
but got the following error:

Using Microsoft.UI.XAML v2.1.190405004.2

[2019-05-13 04:04] hyoshioka0128 opened #1667 "[LOC] "Windows こんにちは" needs to be replaced with "Windows Hello""
https://docs.microsoft.com/ja-jp/windows/uwp/security/microsoft-passport-login#exercise-3-registering-a-new-windows-hello-user

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 4b1a69a3-81e8-4ef3-e928-6cf348d402c3
* Version Independent ID: 395b9716-26fa-c43a-6f45-a691b729f3ff
* Content: [Windows Hello ログイン アプリの作成 - Windows UWP applications](https://docs

[2019-05-13 04:29] 77milkyway opened #1668 "まだ配信されてないWindowsOSのバージョンを要求される"
GituHubからダウンロードして解凍し、Photolab.slnするところまで来ました。
しかし実行した後、最新版のSDK(バージョン1903用）のを要求され、インストールされているSDK(バージョン1809用）のに合わせてプロジェクトを更新する　をしたのですが「アセンブリ参照の一部がありません。」となりMainpage.xamlを開くことはできませんでした。これはバージョン1903が一般公開されるまでこのチュートリアルを実行できないということなのでしょうか。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: f181394a-13f5-ae4b-92a0-752015c8d4de
* Version Independent ID: e729b886

[2019-05-13 16:45] petrejonn opened #1669 "Stubs (.h and .cpp) files does not update when i build"
I am following the tutorial below but when i make make changes to my .idl file, the .h an .cpp files in 'Generated files' does not get updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd002fb0-9c40-6faa-9c83-b6cf7430bbe1
* Version Independent ID: 416d6f14-82b4-38c9-a8b2-2daf5cf2a37c
* Content: [XAML items contro

[2019-05-14 00:18] jonthysell opened #1670 "Desktop Bridge .NET Requirement"
It says your existing desktop app (WinForms or WPF) needs to run on .NET 4.6.2 - does that mean you literally need to _target_ 4.6.2 or greater? Because then it says that your .NET 4.0 apps shoudl work but you should test them.

I've re-targeted some old .NET 2.0 apps to 4.6.**1** and they got on the store just fine.

Can I package an WPF app that targets .NET 4.5 for use with Desktop Bridge? I de

[2019-05-14 00:25] moshegutman opened #1671 "Missing sound clips"
This page appears to be missing the MP3 sound clips. Like &lt;ElementFocus1.mp3 sound clip here&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78f534f7-fff9-52af-1a90-e0ad23dc5e89
* Version Independent ID: 1e85662f-3f65-97ad-55df-e24678b625fd
* Content: [Sound - Windows UWP applications](https://docs.microsoft.com/

[2019-05-14 03:10] hyoshioka0128 opened #1672 "[LOC] "Windows こんにちは" needs to be replaced with "Windows Hello""
https://docs.microsoft.com/ja-jp/windows/uwp/security/microsoft-passport

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: d504f58b-e998-291d-2bf0-fd8925ca9a61
* Version Independent ID: 04fb7b13-7fbb-181f-b111-2f1c0525b94c
* Content: [Windows Hello - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/security/microsoft-passport)
* Co

[2019-05-14 14:19] jolleekin opened #1673 "Accent color algorithm"
What is the algorithm that generates light and dark shades of the accent color? Can it be made public?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d04b1b4-83bd-b54f-8009-969ac052976b
* Version Independent ID: 921b50c1-a8aa-27d6-b1a6-fe6f2fdee07c
* Content: [Color in UWP apps - Windows UWP applications](https://docs

[2019-05-14 16:16] RexfelisLOC opened #1674 "Policy Violations"
Policy Violations needs to be updated with something like:

*  Placing ads in a Viewbox to reduce the size of the ads in order to allow more ads on a page than normal.

Several developers are placing their ads in a Viewbox to the point where they can have five or more 728x90 banners side by side on a page when normally you can only fit two 728x90 ads on a device that displays 1920x1080 resolution

[2019-05-14 21:45] stevewhims commented on #1664
Hi, @petrejonn, I'm unable to reproduce the issue. First, I followed the sections of the topic that create the finished Windows Runtime Component (it didn't seem necessary to create the consuming app for these attempted repros). I tried first with Visual Studio 2019 and didn't have a problem. Then I switched to Visual Studio 2017 (v15.9.12), NuGet (v2.0.190506.1), VSIX (v2.0.190506.1), SDK (v10.0.

[2019-05-14 22:12] stmoy commented on #1542
Thanks for reporting this. The typo has been fixed: https://docs.microsoft.com/en-us/windows/uwp/design/motion/page-transitions#horizontal-slide

[2019-05-14 23:00] stevewhims commented on #1617
Hi, @brianreinhold, can you try this. Create a new Blank App (C++/WinRT) and then add these methods to MainPage.

[code]

Thanks!
~Steve

[2019-05-14 23:17] stevewhims commented on #1620
Hi, @brianreinhold, see the following paragraph from the topic: "Because a C++/WinRT object directly or indirectly derives from the winrt::implements template, the C++/WinRT object can call its implements.get_strong protected member function to retrieve a strong reference to its `this` pointer. Calling get_strong increments your reference count, and keeps your implicit `this` pointer valid." So, y

[2019-05-14 23:34] #1542 closed, assigned to stmoy

[2019-05-14 23:59] stmoy commented on #751
Hi @seanocali - thank you for reaching out. There are several ways to achieve 3d effects using both Xaml APIs and Composition APIs. In Xaml, your options include using PlaneProjection, Transform3D, or the TransformMatrix property. To achieve this effect using Composition, you would need to set the TransformMatrix property on the Visual – setting the Rotation would not be sufficient. If you must us

[2019-05-15 00:48] stevewhims commented on #1632
@Oneibus, thanks for pointing this out. I've fixed the link now. ~Steve

(PS I'll go ahead and close the issue. Thanks again!)

[2019-05-15 00:48] #1632 closed, assigned to stevewhims

[2019-05-15 02:18] stevewhims commented on #1669
Hi, @petrejonn, they should be being generated in `\Bookstore\Bookstore\Generated Files\sources'? I'll make the topic clearer about the exact path. ~Steve

[2019-05-15 05:07] zawawimanja opened #1675 "Cannot Find windows.winmd"
I am using windows 10 version 17763. Why there is no file winmd??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e3a2cdf-1f87-e79f-cc4a-9723d5226525
* Version Independent ID: db1bef81-8724-0dd5-1dff-b84d64a4f2c5
* Content: [Enhance your desktop application for Windows 10 - Windows UWP applications](https://docs.micros

[2019-05-15 09:10] brianreinhold commented on #1620
Hi, @stevewhims In my actual use case I am looking at bluetooth low energy APIs. I am trying to solve the problem of
`bluetoothLEDevice = co_await BluetoothLEDevice::FromBluetoothAddressAsync(eventArgs.BluetoothAddress(), BluetoothAddressType::Random);`

this method is always returning NULL when I use the BluetoothLEAdvertisementWatcher class. Though I get advertisements and my callback gets signa

[2019-05-15 09:32] szydej opened #1676 "WebCam based Eye-Tracker"
How to use webcam Eye-Tracker (GazePointer: https://sourceforge.net/projects/gazepointer/ ) with the Gaze Interaction Library ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6cc2d6d6-2316-bb10-5dc7-12c0b97e02d3
* Version Independent ID: f4065046-8d78-785a-1369-40a749d63147
* Content: [Gaze interactions - Windows UWP a

[2019-05-15 12:52] petrejonn commented on #1669
I guess its an issue with my visual studio. i will try try reinstalling it. Thanks anyway

[2019-05-15 12:54] petrejonn commented on #1664
I will try reinstalling visual studio to see if it will help. thanks

[2019-05-15 15:56] Karl-Bridge-Microsoft commented on #1676
Hi @szydej - please see https://support.microsoft.com/en-us/help/4043921/windows-10-get-started-eye-control#supported-devices for a list of supported devices.

[2019-05-15 15:56] #1676 closed, assigned to Karl-Bridge-Microsoft

[2019-05-16 00:13] stevewhims commented on #1620
Note that get_strong() is a technique for preventing an event sink (meaning an object that handles an event, such as a Page) from being released before an event source (the object raising the event, such as a Button) attempts to notify the event sink of an event. Of course, in the case of Page/Button, because the Page contains the Button as a member, the Page naturally outlives the Button. So get_

[2019-05-16 04:30] gnmithun opened #1677 "Typo"
`To create a fluid layout, use automatic or proportional sizing for elements, and allow layout panels position their children as needed.`

This should be

`To create a fluid layout, use automatic or proportional sizing for elements, and allow layout panels` **to** `position their children as needed.`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-05-16 04:36] zawawimanja commented on #1675
Sorry my fault. Need to set as all files.Not as component files.

[2019-05-16 04:36] #1675 closed, assigned to hickeys

[2019-05-16 06:55] metathinker opened #1678 "Final code snippet in "If you're not authoring a runtime class" section (stack allocating an instance and passing it by value) may be wrong"
Here is the code snippet in question:

[code]

The type `App` is a class we defined earlier in the section using `winrt::implements` specifically so we could pass an instance of the class to `CoreApplication::Run()`. However, a Windows Runtime object is a COM object and so its lifetime needs to be managed by reference counts, as it may be live beyond the end of the function call in which it was cr

[2019-05-16 08:26] brianreinhold commented on #1620
I did not think that 'get_strong() would solve the problem but it was just a desperate attempt given I exhausted all other possibilities. What I didn't understand was why VS said it couldn't identify the method. The documentation did not help me solve that issue. From what I read I would have expected it to work _anyplace I could register for an event_. There was nothing in the documentation or ex

[2019-05-16 22:34] stevewhims commented on #1620
Thanks, @brianreinhold. You're right, and I've just published an update to the topic in line with your feedback.

The detail about **get_strong** being a member of **winrt::implements** was emphasized only in the first section that deals with it (the section about coroutines). The detail wasn't emphasized in the second section (about delegates). So anyone skipping to that section could easily miss

[2019-05-16 22:34] #1620 closed, assigned to stevewhims

[2019-05-17 00:05] stevewhims commented on #1678
Thanks, @metathinker, you're right, this is a mistake. I had already fixed this in another place, but I missed this one. Anyway, I just published a fix to it, so we're good now. Thanks again! And, I'll close the issue now.

~Steve

[2019-05-17 00:05] #1678 closed, assigned to stevewhims

[2019-05-17 08:26] DanieleScipioni opened #1679 "enterpriseAuthentication and domain administrator"
In the description of enterpriseAuthentication capability is written

&gt; This capability will require a domain administrator to enable the functionality for all apps.

What exactly does it means? Which option the domain administrator must change and how?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 606c0ecf-783c-5f

[2019-05-17 09:19] thepowercoders opened #1680 "Cannot remove tenant"
I do not have the option to remove a tenant from Partner Center. I have logged in using a user in a different tenant to the one I want to remove, and the user has the Manager role. When I go to the Tenants page (in Account Settings) I see the tenants listed, but there is no 'Remove' option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-05-17 11:40] GeertvanHorrik opened #1681 "Bluetooth ids seem wrong"
The docs show this:

18160000-0000-1000-8000-00805F9B34FB

However, both the GattServiceUuids class as code show that it should be:

00001816-0000-1000-8000-00805f9b34fb

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea99bd8d-03e9-0aee-defd-46380e2ca680
* Version Independent ID: 1c5c815d-d0ed-a6a6-4ec1-5d2a1435693d
* C

[2019-05-17 13:14] Barton-Systems opened #1682 "ms-settings:apps-volume URI deprecated in 1809"
it seems that the ms-settings:apps-volume URI is deprecated in 1809.
can you document accordingly or is there any plan to re-introduce?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 987ec16c-9456-93a4-177a-dbd563be7eb7
* Version Independent ID: f41f0344-f7f6-f092-a6bf-fc4184a9b460
* Content: [Launch the Windows Settin

[2019-05-17 20:50] YuliKl opened #1683 "Images in Overview section are small and inaccurate"
The overview sections shows two images - the ribbon and a floating ribbon menu. The first, ribbon, image is small and blurry.
The text above the images states "The following image shows two command interfaces (a CommandBar and a floating contextual CommandBarFlyout) that share many of the same commands." But that's not accurate. The controls called out are Xaml controls while the screenshots appea

[2019-05-17 22:14] stevewhims commented on #1679
Thanks, @DanieleScipioni, I've published an update to the topic now. I asked a few engineers and although we had some theories for what that sentence might mean, we weren't certain. Also, there's another topic that explains this same capability in more detail. So, in the interest of clarity, I've removed the confusing sentence and I've added a link to the other topic. If you look at the Networking

[2019-05-18 03:25] jamesdooleymsft opened #1685 "Missing explanations for ClientIPsIPv4, CloudServiceIPs, ClientDNS, CloudServiceDNS, IPv4 ranges"
Please add explanations for what all the XML document elements mean, and what the IPv4 range notation is. Here's how I've explained it to other:
See https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing for a detailed explanation of what the 64.4.28.0/26 notation means. Keeping the first 26 bits constant of 64.4.28.0 means the IPv4 range is 64.4.28.0 - 64.4.28.63.
ClientIPsIPv4 are the IPv4

[2019-05-18 15:07] hyoshioka0128 opened #1686 "[LOC] Back-Translation "メール" → "Email""
https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-people-apps

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: a1d62e94-aa32-467f-fa2d-14e630543e1f
* Version Independent ID: 2ab8ae17-c66e-3bd8-2a28-a8804a06a66a
* Content: [People アプリの起動 - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/launch-resume/launch-people-

[2019-05-19 02:26] Stuart88 opened #1687 "Doesn't work for VS2019"
Monogame doesn't have a VS2019 release yet, so the article is wrong where it says, "Start Visual Studio 2019"...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43b55ec8-00ba-dd3f-3fe8-dae000b588ba
* Version Independent ID: dd1b048f-b8c8-091c-8dcc-342a1fd75843
* Content: [Create a UWP game in MonoGame 2D - Windows UWP a

[2019-05-20 06:04] meteorsnows opened #1689 "Preview Screen Capture in real time."
Hi, which video/graphic packages can i using to preview the screen capture in XAML in real time, such as in Process Frame but clearly we should do manually instead of FrameArrived right?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b8d11e4-f9c6-383a-38d4-6cf7633edb7c
* Version Independent ID: 7015ed77-ae66-cc97-301c

[2019-05-20 17:17] jevansaks commented on #1668
### Machine translation:
Title:
Requested version of Windows OS not yet delivered
Description:
I downloaded it from GituHub, unzipped it, and came to Photolab.sln.
However, after execution, I was asked for the latest version of the SDK (for version 1903), and I updated the project according to the installed SDK (for version 1809). It was not possible to open Mainpage.xaml. Does this mean that you

[2019-05-20 17:18] jevansaks commented on #1668
1903 is required for this project and is now available through the Visual Studio Installer or from https://developer.microsoft.com/en-us/windows/downloads/windows-10-sdk.

[2019-05-20 17:19] jevansaks commented on #1666
Did you add XamlControlsResources to your app.xaml per the readme.txt instructions or per step 4 here: https://docs.microsoft.com/en-us/uwp/toolkits/winui/getting-started ?

[2019-05-20 17:19] #1666 closed, assigned to jwmsft

[2019-05-20 17:22] jevansaks commented on #425
@michael-hawker I'm confused about what you would like updated? Is there a link you think should be in the Related Topics section? If so, which one?

[2019-05-20 17:22] #425 closed, assigned to jwmsft

[2019-05-20 21:52] mijacobs commented on #1685
Added this feedback to the PR.

[2019-05-20 21:52] #1685 closed, assigned to mijacobs

[2019-05-21 05:37] tanitanin opened #1692 "[LOC] "XAML 諸島", " XAML 島々", and "XAML の島" → "XAML Islands""
Islandsはローカライズせず、"XAML Islands"を固有名称として残すのがよいと思います。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: e93ebf14-73e6-d1b6-0bbe-514390fd7be0
* Version Independent ID: 5ac137cf-59a0-f646-2379-202889b96143
* Content: [デスクトップ アプリケーションの UWP コントロール - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uwp/xaml-platform/xaml-host-controls)
* Cont

[2019-05-21 07:49] 77milkyway commented on #1668
I was able to get the SDK without any problem, but if I leave it as it is, the OS version is required to be 1903, so I cannot run it.

[2019-05-21 09:37] NikulovE opened #1693 "Link to source code DesktopNotificationManagerCompat is broken"
https://raw.githubusercontent.com/WindowsNotifications/desktop-toasts/master/CS/DesktopToastsApp/DesktopNotificationManagerCompat.cs

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: 14e9484a-4921-2ee3-c93e-787a7b104f61
* Version Independent ID: 9e3db713-1558-7297-ef6d-53e5d87d4757
* Con

[2019-05-21 17:18] drewbatgit commented on #1689
Thanks for reaching out with your feedback. Issues opened on the docs GitHub are meant for documentation feedback, and unfortunately we cannot provide technical support. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackov

[2019-05-21 17:21] jevansaks commented on #1673
This used to be in the docs but I can't find it anymore. @chigy can you update this to include it?

[2019-05-21 17:24] jevansaks commented on #1661
This was an intentional change, always-expanded NavigationView no longer uses acrylic. That is reserved for "transient" UI, so only the compact/minimal pane flyout will use acrylic.

[2019-05-21 17:24] #1661 closed, assigned to jevansaks

[2019-05-21 17:25] jevansaks commented on #1497
@chigy who owns this tool? I'm surprised this page links to a zip file instead of a github.

[2019-05-21 17:27] jevansaks commented on #1468
All XAML APIs need to be called from the UI thread. In order to not clutter doc pages with this info, we include the opposite -- only the APIs that *can* be called off the UI thread are noted as such.

[2019-05-21 17:27] #1468 closed, assigned to mijacobs

[2019-05-21 17:28] jevansaks commented on #1454
No, it cannot.

[2019-05-21 17:28] #1454 closed, assigned to mijacobs

[2019-05-21 17:28] kikisaints commented on #1671
Are you asking to have the sound clips available to listen to on the doc site itself, or are you asking for markup explaining how to access the mp3 files directly in XAML?

[2019-05-21 17:31] moshegutman commented on #1671
Yeah I think the intention was to have sound clips embedded on the doc site to listen to. It seems like they are missing because the doc site says “sound clip here”

[2019-05-21 17:41] kikisaints commented on #1671
Oh wow! Thanks for pointing it out.

@mijacobs Looks like we have [the sound resources here](https://github.com/MicrosoftDocs/windows-uwp/tree/docs/windows-apps-src/design/style/assets/sound), but they're just not hooked up - do we have a way of embedding sound clips yet? If so I can go ahead and hook those up.

[2019-05-21 17:44] jevansaks commented on #1668
@stevewhims is 1903 required to *run* this sample now?

[2019-05-21 22:04] stevewhims commented on #1668
If you go to the sample itself (https://github.com/Microsoft/Windows-appsample-photo-lab), there's a **Note** at the top of the readme that's displayed.

"Note - This sample is targeted and tested for Windows 10, version 1903 (10.0; Build 18362), and Visual Studio 2019. If you prefer, you can use project properties to retarget the project(s) to Windows 10, version 1809 (10.0; Build 17763), and/or

[2019-05-21 22:58] AdamBraden opened #1694 "Update version of VCLibs referenced in the docs"
The version of the v14 VCLibs at the download link is old. VS2017 Update 3 introduced a breaking change and any app built with this version of VS or newer, ie: VS2019, need to reference the newer package, or the app will fail to load. Unfortunately the web download link is not updated for the v14 packages.  VS changed the redist model from the web download to redist via VS and have the VS 2017 upd

[2019-05-22 00:26] 77milkyway commented on #1668
Changing the target version from Properties to 1809 now works.
Thank you!

[2019-05-22 00:28] stevewhims commented on #1668
Great. I'll go ahead and close the issue now. Thanks! ~Steve

[2019-05-22 00:28] #1668 closed, assigned to jwmsft

[2019-05-22 01:38] stmoy commented on #1435
Thanks for reporting this issue. We have fixed the link on the page. Closing.

[2019-05-22 01:38] #1435 closed, assigned to jwmsft, stmoy

[2019-05-22 06:45] Panda-Sharp commented on #809
Hi Guys,

I have a problem that I think is related to this one, I waited to try with latest SDK (18362) to check if it was fixed, but it's still there , here there is my XAML code

[code]

when I'm inside the textbox  or the passwordbox and I press enter on the keyboard the click event is not fired.
thanks

[2019-05-23 13:15] carmellolb commented on #1661
Why? Why do you add beauty and then remove it? It looked nice and was nice how it switched between background and in app Acrylic. Why did you remove it?

[2019-05-23 16:57] Phoenyx33 opened #1696 "Download PDF not up to date"
Clicking the "Download PDF" in the left side downloads a document that begins with "What's new in Windows 10 for developers, build 17763" instead of the new build 18362. Request that you update soon as many developers depend on the pdf to lookup whats new without having to access the internet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-05-23 17:15] timheuer opened #1697 "Reveal on more default controls"
The documentation indicates that reveal is on by default in 6 controls, but it is more than that.  For example, it is on MenuFlyout/MenuFlyoutItems.  It may be because ListView is being used there, but from a documentation standpoint, this should be clearer on what leaf controls get this by default, even via inherited functionality of other controls.

---
#### Document Details

⚠ *Do not edit this

[2019-05-23 23:00] YuliKl commented on #1661
@carmellolb  – thank you for taking the time to provide feedback. Although I agree that NavigationView’s pane with background acrylic looked beautiful, we strive to implement the default styles of XAML controls with more than just aesthetics in mind. The goal of the Fluent Design System is to provide thoughtful, coherent guidelines applicable to all of Microsoft’s controls libraries. We want to en

[2019-05-24 00:47] carmellolb commented on #1661
@YuliKl I understand what you are saying, but I think that aesthetics should also be important, and rather they seem to be being put aside and neglected, and therefore the apps’ designs are now looking more on the not so nice side. I understand what you are saying, but in my opinion, and in a a lot of other people’s opinions, it wasn’t, and it actually provided context, and showed that the menu ha

[2019-05-24 22:05] knicholasa commented on #1682
Thanks for leaving your feedback. I contacted the team to see if the docs need to be updated. I believe that this URI works in 1903 but not 1809, and if I can confirm that with the team I'll add it to the doc.

Feedback here is meant for documentation updates rather than technical support, so here are some other resources you might find useful. For community assistance with development questions I

[2019-05-24 22:06] jwmsft commented on #1677
Thanks for notifying us about this. A fix has been submitted.

[2019-05-24 22:06] #1677 closed, assigned to jwmsft

[2019-05-25 19:25] SuperJMN commented on #343
@serenaz could you, please, post an example on how to get the desired result without the workaround that @binaryfunt posted on StackOverflow?

Thanks in advance

[2019-05-26 04:06] edwardchanjw commented on #630
If anyone interested, just info. There is no bug, that would be a restriction enforced by [Reserved file and URI scheme names](https://docs.microsoft.com/en-us/windows/uwp/launch-resume/reserved-uri-scheme-names)

[2019-05-26 06:38] hyoshioka0128 opened #1700 "[LOC] "Windows こんにちは" needs to be replaced with "Windows Hello""
https://docs.microsoft.com/ja-jp/windows/uwp/security/microsoft-passport-login-auth-service

related issue: #1667 | #1672

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 7bcd30a1-2df4-6eed-a744-a7e29369197f
* Version Independent ID: 40c4f8a1-8c4c-c252-048d-13fbc1b6b49a
* Content: [Windows Hello ログイン サービスの作成 - Windows UWP applications](https://docs.mic

[2019-05-27 09:08] tgrisel opened #1701 "typo: ms-settings:privacy-phonecall"
there is a missing "s". it has to be: ms-settings:privacy-phonecalls

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 987ec16c-9456-93a4-177a-dbd563be7eb7
* Version Independent ID: f41f0344-f7f6-f092-a6bf-fc4184a9b460
* Content: [Starten der Windows-Einstellungs-App - Windows UWP applicat

[2019-05-27 13:46] vaibhav242990 opened #1702 "Graphics essue"
I did't find any start or stop recording button. if i add button and start recording it stuck in StartCaptureInternal  loop. I am new in uwp please help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b8d11e4-f9c6-383a-38d4-6cf7633edb7c
* Version Independent ID: 7015ed77-ae66-cc97-301c-b0c6ebfb2bd3
* Content: [Screen

[2019-05-27 21:59] saf-itpro commented on #478
@kevin-jing You may want to check the URL you provided above for your sample project. It does not work when clicking on the link directly or even if we right click and copy/paste the link to new window (it sends user to https://github.com/MicrosoftDocs/windows-uwp/issues/url).

But it works if we directly copy your link (by dragging the mouse on the link) and then paste it on a new tab of the brow

[2019-05-28 05:27] vaibhav242990 commented on #612
Thanks. How can i record screen with audio

[2019-05-28 10:34] rAndom69 commented on #1428
Update from Microsoft support. I'll post here once again when/if it's resolved.
"The root cause has been identified, but due to the nature of the back-end changes that will need to be made, it may be some time until a fix is available."

[2019-05-28 11:31] JohnGalt1717 commented on #612
Recording your own app is not really useful. Recording other apps or screens like Goto Meeting or Teams does is what is required.

One hopes that this isn't too low level as noted above. It should be trivial to enumerate all apps and/or screens and then pass that to a record function and record it and as noted add an audio stream as well.

[2019-05-28 15:30] jgcoded commented on #612
Using Media Foundation SinkWriter class, C++/WinRT, and the UWP Desktop Bridge will allow you to create publishable UWP apps that can record the screen into h264 videos with audio. It can be a lot of work, however, depending on your approach to screen capturing.

[2019-05-28 17:22] chigy commented on #1497
@plexus-design , I don't quite understand your comment "I got to the github page from following the link at bottom of the above page" When I click on "download" link of the Sketch, it give you the zip file with the symbol file so I am unable to figure out what you mean by the github page. Is the zip file with symbol file not sufficient?

[2019-05-28 17:24] chigy commented on #1673
@jolleekin , is this page not what you are looking for? https://docs.microsoft.com/en-us/windows/uwp/design/style/color#accent-color-palette

[2019-05-28 19:43] Felix-Dev commented on #1661
@carmellolb @YuliKl

Unfortunately, I think MS was put off by cases like this:
![image](https://user-images.githubusercontent.com/1398851/58504856-da097180-818b-11e9-94eb-3d9a7578e17f.png)
where the colorful acrylic background could indeed unwantingly steel away attention from both the navigation pane content and other app content.
I do agree with @carmellolb though, the current uniform grey backg

[2019-05-28 22:04] YuliKl commented on #1661
https://github.com/microsoft/microsoft-ui-xaml/issues/524

---------------

https://www.microsoft.com/design/fluent/#/
That conversation is primarily taking place on LinkedIn: https://www.linkedin.com/groups/13529340/

[2019-05-29 00:37] TonyAshton opened #1705 "Confusion about Discoverability Vs. Private Audience"
I have an app that is currently under test with a Test Group using the Private Audience.  I also have the Direct URL, and have enabled this option in the app's settings.

User in the Private test group can see the app, Users with the Direct URL (not part of the test group) cannot see the app in the store.

There seems to be a disconnect here, as I would expect the Direct URL to make the app visibl

[2019-05-29 03:30] ChrisGuzak opened #1706 "Document winrt::capture, useful for COM REFIID/void** cases"
Kenny added `winrt::capture` to the recent version of C++ WinRT. This lets you replace
[code]
with this
  `dwriteFactory2.capture(DWriteCreateFactory, DWRITE_FACTORY_TYPE_SHARED);`

avoiding the dangerous and ugly casts and non-standard __uuidof().

Note, double check my example above as DWriteCreateFactory is an unusual case, using `REFIID/IUnknown**` where most COM designs use `REFIID/void**` (t

[2019-05-29 03:36] ChrisGuzak opened #1707 "Working with COM types, such as BSTR and VARIANT should reference the wil library"
This section should be updated to not mention ATL or the compiler support for COM.

instead use the windows implementation library (wil) https://github.com/Microsoft/wil

it has `wil::unique_variant`, `wil::unique_bstr` for managing resource lifetimes.

[2019-05-29 03:38] ChrisGuzak opened #1708 "Working with COM types, such as BSTR and VARIANT should reference the wil library"
this is a dupe of #1707 but linked via the doc page for reference.

This section should be updated to not mention ATL or the compiler support for COM.

instead use the windows implementation library (wil) https://github.com/Microsoft/wil

it has `wil::unique_variant`, `wil::unique_bstr` for managing resource lifetimes.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-05-29 03:39] ChrisGuzak commented on #1707
dupe of #1708

[2019-05-29 03:39] #1707 closed, assigned to nobody

[2019-05-29 13:58] jolleekin commented on #1673
@chigy What I mean is the actual algorithm to calculate the light and dark shades of an accent color.

[2019-05-29 14:53] rAndom69 commented on #1428
And the resume is, API was probably never implemented but is documented. ^^
This sadly makes entire Store Analytics somewhat useless to us and processing dumps in our infrastructure was only use-case for it.
Right now I question competence and/or honesty of people I've been in contact regarding this. As ticket took two months to finish to this state, while adam had repro in 5 minutes.

"I have an

[2019-05-29 15:35] rAndom69 commented on #1543
Per https://github.com/MicrosoftDocs/windows-uwp/issues/1428#issuecomment-496971460

Please document API is currently not usable as per MS statement so others don't spend time chasing non-existant functionality (or submit "feature" request). This holds for both UWP and Desktop, we don't develop for XBox so unable to verify.

Another edit should be in documentation where cabDownloadable is present.

[2019-05-29 15:44] chigy commented on #1673
@jolleekin , the actual algorithm is not public and I do not believe there's any plan to do so. If it is available, how would you use it? We do provide a way for you to get different shades of accent color through Theme Resources as well as grammatically. What is missing that this does not give you? I'm just curious to know about the gap.

[2019-05-29 16:01] jebeld17 opened #1709 "Desktop version numbering for Centennial Apps"
I am a little confused on how to version number my Centennial bridge apps to the Microsoft Store if I began with version "1.1.10.0" as explained in the documentation.
Please add some clear examples for users and developers porting over new versions of their apps converted using the Desktop Bridge after version "1.1.10.0."

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-05-29 16:35] jolleekin commented on #1673
@chigy I have a package of general purpose web components (text box, combo box, dialog, menu, …) based on Microsoft design language. Part of that package is a theme manager that allows users to dynamically change theme properties (accent color, light/dark mode, and so on). When the accent color is changed, the theme manager will automatically recalculate the light and dark shades and update the th

[2019-05-29 17:17] jevansaks commented on #1411
This image seems to have some extra text in the image. Doesn't seem to be a product screenshot, maybe it's an issue with the figma this came from?

[2019-05-29 17:19] jevansaks commented on #992
You don't have to use these fonts if you don't want to, this is just guidance.

[2019-05-29 17:19] #992 closed, assigned to mijacobs

[2019-05-29 17:20] jevansaks commented on #1012
I don't see this on the page anymore, might have been a typo that's since corrected.

[2019-05-29 17:20] #1012 closed, assigned to mijacobs

[2019-05-29 17:23] jevansaks commented on #959
Good feedback, we will add a link out to an article on how to author custom controls.

[2019-05-29 17:26] #923 closed, assigned to mijacobs

[2019-05-29 17:27] jevansaks commented on #889
@chigy are there codepoints in the font that are missing from the documentation?

[2019-05-29 20:05] Felix-Dev commented on #1661
@YuliKl @chigy I saw that proposal but I'm under the impression the Fluet Design (FD) team already decided to went ahead with their plans anyway. My point was about bringing the user into the discussion of design changes before the general direction is decided, and not once it is finalized. Correct me if I'm wrong, but am I correct in assumig the FD team (and now the WinUI team) is already busy im

[2019-05-30 17:18] #752 closed, assigned to mijacobs

[2019-05-30 17:21] jevansaks commented on #696
At this point the expectation of "OK" being on the left of the dialog is fairly well cemented across the Windows ecosystem, so that's where this recommendation comes from.

[2019-05-30 17:21] #696 closed, assigned to mijacobs

[2019-05-30 17:23] jevansaks commented on #572
Seems related to microsoft/microsoft-ui-xaml#754. I'll add that to that issue.

[2019-05-30 17:26] jevansaks commented on #584
@Powerhelmsman I can't tell who opened this issue and the linked issue doesn't really have more info. What page do you want a more promoted link for the develop section?

[2019-05-30 17:26] #584 closed, assigned to mijacobs

[2019-05-30 17:28] jevansaks commented on #571
@ahainen can you elaborate on what's missing? Do you have a more specific suggestion about what could be improved?

[2019-05-30 23:29] #1708 closed, assigned to stevewhims

[2019-05-30 23:46] stevewhims commented on #1708
Thanks, Chris, fix is live now! ~Steve

[2019-05-30 23:48] stevewhims commented on #1706
Thanks, Chris, I've switched over to use winrt::com_ptr::capture in the topic wherever I was able. There are some places (as per the internal email I sent you) where it's not possible. We can continue the discussion internally and make further changes as we go. Thanks! ~Steve

[2019-05-30 23:48] #1706 closed, assigned to stevewhims

[2019-05-31 12:34] ahainen commented on #571
https://youtu.be/RzohF-Wbdy8

[2019-05-31 16:30] judysa commented on #571
It's in our queue to update this. Thanks!

[2019-05-31 16:31] judysa commented on #571
It's in our queue to update this. Thanks!

[2019-05-31 16:36] ahainen commented on #571
https://github.com/MicrosoftDocs/windows-uwp/issues/411

[2019-05-31 19:10] stevewhims commented on #1679
Hi, @DanieleScipioni, I'll go ahead and close this issue now since it's been a while, and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2019-05-31 19:10] #1679 closed, assigned to stevewhims

[2019-05-31 19:11] stevewhims commented on #1669
Hi, @petrejonn, I'll go ahead and close this issue now since it's been a while, and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2019-05-31 19:11] #1669 closed, assigned to stevewhims

[2019-05-31 19:11] stevewhims commented on #1664
Hi, @petrejonn, I'll go ahead and close this issue now since it's been a while, and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2019-05-31 19:11] #1664 closed, assigned to stevewhims

[2019-05-31 19:12] stevewhims commented on #1617
Hi, @brianreinhold, I'll go ahead and close this issue now since it's been a while, and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2019-05-31 19:12] #1617 closed, assigned to stevewhims

[2019-05-31 19:16] stevewhims commented on #1541
Hi, @egyik, I'll go ahead and close this issue now since it's been a while, and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2019-05-31 19:16] #1541 closed, assigned to jwmsft, stevewhims

[2019-05-31 21:43] adamhewitt627 opened #1710 "Debugging Package Updates"
Is there any guidance on debugging an entire app update workflow? Not just prompting the user, but receiving the progress. I'm on 1803, and `RequestDownloadAndInstallStorePackageUpdatesAsync` brings up a prompt "Download updates now?" with "Okay" and "Maybe later." Looking in the Store, it is attempting to update and getting error: 0x80073CF9. The app never receives progress information.

I'm assu

[2019-05-31 21:54] mcleanbyron commented on #1710
To test your implementation of this code, you'll need to actually publish an updated package for your app to the Store. There is no test framework or harness for this. However, we do provide the [ability to flight package updates](https://docs.microsoft.com/en-us/windows/uwp/publish/package-flights) for your app to a specific set of users, and you can use this process to set up a private test for

[2019-05-31 22:02] adamhewitt627 commented on #1710
That does help. We've been using package flights, but for some reason that felt wrong to me. Probably because it means I have to actually submit 2 new builds. One to have this code, and another to be seen as an update. At which point, if it isn't working, I have to create & submit 2 more.

I think I've seen the Store update over a sideloaded build? Maybe I'm imagining that, but I was about to try:

[2019-06-02 04:28] coocooman3 opened #1711 "Incorrect Indentation on Per-Control Styling Example Code"
In the provide example code, the second line is indented, when it should be the same level as the CheckBox above. Need to move the second CheckBox and all it's children back one indent. Confirmed appears on both Edge Insider and Firefox.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71085aa7-f688-0f7f-af84-431742ca7a2

[2019-06-02 21:23] MaxwellCurtis opened #1713 "crashing with out having the Filters add"
The Picking will Crash the App if there are no filters added to it and the error message that is displayed sucks "Unspecified" Please add a section to this page stating that you must have the filters to have this work properly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f98368cc-a7d2-6770-7c8f-3cb2f500676f
* Version

[2019-06-03 03:34] hupo376787 opened #1714 "Add Extended Splash to Windows Template Studio"
How to add this extended splash to current windows template studio?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a0fe87b-78e1-64a6-a7ed-51d8a6373a5d
* Version Independent ID: 71898667-5572-11bb-f53c-0d1ebc77511d
* Content: [Display a splash screen for more time - Windows UWP applications](https://docs.microsoft.com/

[2019-06-03 17:26] jevansaks commented on #383
@andrewleader this is more of a feature request. We've been discussing adding the WPF "focus scopes" feature to XAML and this would be something that would benefit from that work. You could file this as a feature request on https://github.com/microsoft/microsoft-ui-xaml.

[2019-06-03 17:38] andrewleader commented on #383
Thanks @jevansaks, I think I was trying to do this for a demo project at work, don't remember what for specifically. So I'm no longer blocked as I'm not working on that anymore. It'd be a nice feature to have, but I have no current application for it.

[2019-06-03 18:02] knicholasa commented on #1714
Thanks for reaching out with your feedback. This looks like a technical support question to me, and unfortunately we cannot provide that level of support through GitHub issues. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://

[2019-06-03 18:03] chigy commented on #1497
@plexus-design , as I do not currently see issues with the files we provide and I have not heard back with the response, I'm closing the issue. Please feel free to follow up if this issue is not resolved for you.

[2019-06-03 18:03] #1497 closed, assigned to mijacobs, chigy

[2019-06-03 18:56] kikisaints commented on #538
Hmm, could you post what you're looking at? I see this on the guidance page:

![image](https://user-images.githubusercontent.com/6964369/58826879-8e751e80-85f6-11e9-97b4-0d4c778d06b9.png)

Which appears correct to me.

[2019-06-03 19:26] superjose commented on #538
Yup seems correct. I think it should've been fixed already.

Thanks!!

[2019-06-03 19:26] #538 closed, assigned to kikisaints, mijacobs

[2019-06-03 20:37] knicholasa commented on #1682
I have confirmed that 1903 is required and will be updating the docs to say so.

[2019-06-03 20:37] #1682 closed, assigned to knicholasa

[2019-06-03 20:58] knicholasa commented on #1713
Thanks for the feedback. I'll reach out to the team that owns the technology about adding that note to the page. In the mean time if you need technical support feel free to reach out on our support [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/questions). Or see [the developer support pag

[2019-06-04 00:33] TylerMSFT commented on #630
Thanks @edwardchanjw

[2019-06-04 02:54] haripulapaka opened #1715 "Add Links for ARM64 redist and other downloadsa"
VC++ Redist for ARM64

Direct download links:
•	2019 Redist: https://aka.ms/vs/16/release/VC_redist.arm64.exe
•	2017 Redist: https://aka.ms/vs/15/release/VC_redist.arm64.exe

Places for customers to download:
•	https://visualstudio.microsoft.com/downloads/ under “Other Tools and Frameworks”
•	https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads
•	https://visuals

[2019-06-04 05:39] haripulapaka commented on #1715
this is the orig doc page: https://docs.microsoft.com/en-us/windows/arm/

[2019-06-04 14:02] StAI opened #1716 "ManifestParseFailure when try to create AdaptiveMediaSource from manifest with long presentationTimeOffset."
[manifest.txt](https://github.com/MicrosoftDocs/windows-uwp/files/3252881/manifest.txt)
We are trying to create AdaptiveMediaSource by using "await AdaptiveMediaSource.CreateFromUriAsync(contentUri);"
My manifest is dynamic dash manifest.
But we've got ManifestParseFailure with ExtendedError "Overflow or underflow in the arithmetic operation."
As I found the reason is presentationTimeOffset attrib

[2019-06-04 15:57] #1710 closed, assigned to mcleanbyron

[2019-06-04 21:11] hickeys commented on #1680
Thanks for reaching out with your feedback. Issues opened on the docs GitHub are meant for documentation feedback, and unfortunately we cannot provide technical support. For community assistance with development questions I recommend that you ask on our forums or StackOverflow. For other support options, check out the developer support page. If you get assistance through these other resources and

[2019-06-04 21:11] #1680 closed, assigned to hickeys

[2019-06-04 21:17] hickeys commented on #1670
Thanks for reaching out Jon. Unfortunately, issues opened on the docs GitHub are meant for documentation feedback, and unfortunately we cannot provide technical support. For community assistance with development questions I recommend that you ask on our forums or StackOverflow. For other support options, check out the developer support page.

That said, My understanding is that as long as you've t

[2019-06-04 21:17] #1670 closed, assigned to hickeys

[2019-06-04 21:17] hickeys commented on #1663
Thanks for reaching out with your feedback. Issues opened on the docs GitHub are meant for documentation feedback, and unfortunately we cannot provide technical support. For community assistance with development questions I recommend that you ask on our forums or StackOverflow. For other support options, check out the developer support page. If you get assistance through these other resources and

[2019-06-04 21:17] #1663 closed, assigned to hickeys

[2019-06-04 21:27] hickeys commented on #1674
Added, thank you. It may take a few hours to be published, but it will show up soon.

[2019-06-04 21:27] #1674 closed, assigned to hickeys

[2019-06-04 21:31] hickeys commented on #1585
It looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use the [Windows developer feedback site](https://wpdev.uservoice.com/). We’d be happy to have this on record, where others can view it and upvote it.

[2019-06-04 21:31] #1585 closed, assigned to hickeys

[2019-06-04 22:03] thepowercoders commented on #1680
Hi, I am not asking for technical support, I am trying to follow the documentation. It clearly says "Any user who has the Manager role for a Partner Center account can remove Azure AD tenants from the account". I have the manager role but I cannot remove tenants - so obviously the documentation is wrong. Are you saying I need to go elsewhere for support? - just saying 'ask on our forums' isn't ver

[2019-06-05 00:07] mjfusa opened #1717 "Modifying indentifierUris as documented results in error"
Following instruction 5 of the [docs](https://docs.microsoft.com/en-us/windows/uwp/monetize/view-and-grant-products-from-a-service#step-1-configure-an-application-in-azure-ad), I update my app manifest with the following values:
[code]
When attempting the save the manifest, the following error is returned.
**“Failed to update WindowsTestApp application. Error detail: The Application ID URI must be

[2019-06-06 05:23] AdamSzofran commented on #1361
@Quico20 did you ever find the answer to your question? I have exactly the same requirement but I'm not sure how to implement it. Thanks for sharing if you know!

[2019-06-06 05:35] Quico20 commented on #1361
No, man, I didnt get an official answer from Microsoft, because by the time I made the question I hadn't test the store framework yet, just read of it.

Now i'm about to publish and since you can make the subscription unavailable (you can't delete them), at Microsoft Partner Center (add-on section of your application), so my strategy will be to notify my customers when i'm planning to increase the

[2019-06-06 06:26] AdamSzofran commented on #1361
Thanks for the detailed response. The procedure for switching users over to the new subscription is what I'm most worried about messing up. I had hoped it would work like the following but now I'm not so sure:

1. New subscription add-on released. Customers subscribe and start paying. Yay!
2. Later you decide to raise the price of new subscriptions.
3. You create a new subscription add-on with a h

[2019-06-06 06:50] Quico20 commented on #1361
well I think that scenario that you are describing can be achieve after all.
you see at the add-on subcription section when you open a submission there is a section named Pricing and Availability.
there you can schedule the release date and also you can schedule to stop acquisition, that way you can modify your app to collect only the new subscription for your customers of couse they will have to

[2019-06-06 06:57] AdamSzofran commented on #1361
Thanks @Quico20!

[2019-06-06 07:01] Quico20 commented on #1361
if you happens to test it before me, please let me know the behavior through this thread please.

it will also be of great help to me!!! Its the first time I'll publish an app on my own.

wish you the best in your business strategy @AdamSzofran

[2019-06-06 14:51] ArchieCoder opened #1721 "Splash screen is not mandatory anymore"
The first sentence is inaccurate now. The splashscreen can be optional https://docs.microsoft.com/en-us/uwp/schemas/appxpackage/uapmanifestschema/element-uap-splashscreen

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb89dff7-85b7-9ce7-cae4-d5190d94c5ea
* Version Independent ID: b3401dec-88cb-b7b4-1313-10dc1b30301d
*

[2019-06-06 19:57] knicholasa commented on #1721
Thanks for providing this feedback! I'm wondering, are you basing this feedback on the article you linked, where it says you can specify that the splash screen is optional? In the section on setting the "optional" parameter to be true, it says:

So I believe the splash screen is still required, it just might not be shown, and so the

language is still accurate.

If you have reason to believe other

[2019-06-06 19:59] ArchieCoder commented on #1721
After testing the feature myself, the doc is right. I will close the issue. Thanks.

[2019-06-06 19:59] #1721 closed, assigned to knicholasa

[2019-06-07 03:23] Tan2NT opened #1722 "[Window runtime compenent]"
Hello,
Is it possible to call a Windows Runtime Component (written in C++/Cx) from a C++ project? If Yes, could you please give us an example?
Thank a lot!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2860140a-8b64-4280-3f5b-bb454d71def9
* Version Independent ID: 4af675f3-e584-5616-ac4a-335ecda5b4f3
* Content: [Creat

[2019-06-07 03:39] stevewhims commented on #1722
Call it from a C++/WinRT project?

Essentially, you can write a Windows Runtime Component (WRC) in any of the Windows Runtime languages and consume that from an application written in any of the Windows Runtime Languages; the workflow is the same. Building the WRC generates a .winmd file. You reference that .winmd file from your consuming application and use its APIs.

This content shows how to co

[2019-06-07 03:54] hyoshioka0128 opened #1723 "[LOC] "Windows こんにちは" needs to be replaced with "Windows Hello"
related issue: #1672

https://docs.microsoft.com/ja-jp/windows/uwp/updates-and-versions/choose-a-uwp-version

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: fd1ff7f3-d77d-b7bd-8dfa-7f25cb0b5239
* Version Independent ID: 71e57b3b-b25f-0299-2cbc-f895a98c685d
* Content: [UWP バージョンの選択 - Windows UWP applications](https://docs.microsoft.com/ja-jp/windows/uw

[2019-06-07 21:36] #1714 closed, assigned to knicholasa

[2019-06-07 23:17] chigy commented on #1167
@david-osborne , as a matter of fact, it was indeed invalid.

[2019-06-07 23:38] chigy commented on #1673
@jolleekin , I reached out to the team who might be able to help here but they've got a bit of moving of the resources around and I cannot pinpoint a person who can help answer this question. Sorry about that but I'm trying...

[2019-06-10 05:57] dpaulino opened #1725 "Automate store submission section is difficult to follow"
Would someone be able to add screen shots or a video of where to get or how to set up the tenant ID and other items? I'm also a bit confused as to why a tenant and client IDs are required in the first place.

Direct link to the section I'm referring to: https://docs.microsoft.com/en-us/windows/uwp/packaging/packaging-uwp-apps#automate-store-submission

---
#### Document Details

⚠ *Do not edit thi

[2019-06-10 11:37] david-osborne commented on #1167
and it was replaced with what?
________________________________
From: Chigusa Sansen <notifications@github.com>
Sent: Friday, June 7, 2019 7:18 PM
To: MicrosoftDocs/windows-uwp
Cc: David Osborne; Mention
Subject: Re: [MicrosoftDocs/windows-uwp] No color palette? (#1167)

Unless the color palette previously available in the online documentation is invalid, I would like to understand why it was remo

[2019-06-10 13:42] RehanSaeed opened #1726 "GetAppAndOptionalStorePackageUpdatesAsync Returns the Current App?"
When I call `GetAppAndOptionalStorePackageUpdatesAsync` while debugging locally, I am seeing one app update appear with version `1.0.0.0` which is the current app. Even more strangely, some developers are seeing the update appear with `Mandatory` set to `true` and others are seeing `false`.

![image](https://user-images.githubusercontent.com/2270364/59199204-4ec9ac00-8b8d-11e9-91e9-ea5c486c0d87.pn

[2019-06-10 13:44] RehanSaeed commented on #442
I'm also seeing this strange behaviour. In addition, I also see the current app version appear as an update (See https://github.com/MicrosoftDocs/windows-uwp/issues/1726).

[2019-06-10 21:24] mcleanbyron commented on #1725
Thanks for your feedback! I expanded the [automate Store submissions](https://docs.microsoft.com/en-us/windows/uwp/packaging/packaging-uwp-apps#automate-store-submissions) section to try to make the steps clearer, along with more specific links to the Partner Center docs for associating Azure AD and getting the credential info from the Partner Center dashboard (tenant ID, client ID, and client key

[2019-06-10 21:24] #1725 closed, assigned to mcleanbyron

[2019-06-12 14:22] thejimmyj57 commented on #1442
Still the same issue as of update 1903

[2019-06-12 14:31] toredk opened #1727 "New instance is created on activation"
We are seeing something strange with the notification activation in case the application was started using a custom action at the end of the installation. Instead of just calling OnActivated on the running instance a new is started. Unfortunately, our application is dependent on a single running instance.

Restarting the application fixes the behavior so OnActivated is called on the already runnin

[2019-06-12 16:40] mijacobs commented on #1442
I just merged Kiki's PR, it should be live shortly.

[2019-06-12 16:40] #1442 closed, assigned to kikisaints, mijacobs

[2019-06-12 16:57] #1689 closed, assigned to drewbatgit

[2019-06-12 18:58] TheJimmyJ57 opened #1728 "Z-depth for Datatemplates"
Since the Z-depth has to currently be set in the code-behind, it makes it very difficult to set for Datatemplated elements since they cannot be accessed by their name. Maybe being able to set it directly in the XAML would be good?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e564c0e-575e-516c-ff48-bd01656e9801
* Ver

[2019-06-12 19:11] tmlyon opened #1729 "Additional HoloLens product documentation"
Should we also be documenting which pages are supported on HoloLens settings?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 987ec16c-9456-93a4-177a-dbd563be7eb7
* Version Independent ID: f41f0344-f7f6-f092-a6bf-fc4184a9b460
* Content: [Launch the Windows Settings app - Windows UWP applications](https://docs.microsoft.

[2019-06-12 22:39] knicholasa commented on #1701
Hello, thanks for your feedback! Looks like you're correct. I'll update the text.

[2019-06-12 22:39] #1701 closed, assigned to knicholasa

[2019-06-13 04:10] mcalexster opened #1730 "Set datacontext to viewmodel"
In 'Binding to a single item' section in the code for MainPage.xaml.cs you say:
`this.ViewModel = new RecordingViewModel();`
Do you mean:
`this.DataContext = new RecordingViewModel();` ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a9882c8-2945-54d0-c418-72e5464229da
* Version Independent ID: debb8633-d2f4-bd60-7ddd

[2019-06-13 15:11] jozefizso opened #1731 "UWP JavaScript apps"
Visual Studio 2019 does not have option to create UWP JavaScript apps. Why was this feature removed and it is not documented?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fcd2e7e-612d-29de-6b94-3bed0b772b16
* Version Independent ID: cf067679-95df-f7d2-17ec-d15cc18c0b4b
* Content: [What's a Universal Windows Platform

[2019-06-13 15:26] MikeHillberg commented on #1730
No, this example uses {x:Bind}, which binds implicitly to 'this', as opposed to the older {Binding} which binds implicitly to the DataContext property.

[2019-06-13 15:26] #1730 closed, assigned to knicholasa

[2019-06-14 16:50] JohnGalt1717 commented on #612
@jgcoded This should "just work" in UWP. I shouldn't have to do anything special at all. It appears that the code almost works but then it doesn't seem possible to write the frames to the video file. Is this an oversight?

To me this should be basic working functionality.

[2019-06-14 23:13] knicholasa commented on #1728
Hi there, thanks for the feedback! Would you mind [opening a new issue](https://github.com/microsoft/microsoft-ui-xaml/issues/new/choose) in the WinUI GitHub with this feedback?

[2019-06-16 08:59] Gavin-Williams opened #1733 "Author WinRT Components page feels like it's written for the wrong audience. Confusing from a C# perspective."
"A runtime class is a type that can be activated and consumed via modern COM interfaces, typically across executable boundaries" - This sounds like this is intended for inter-process communication. What about consuming C++ libraries from C#? Isn't that a typical scenario? I'm trying to work out how to do that but this page doesn't mention C# once, which is really confusing, because I thought that

[2019-06-16 13:38] #1733 closed, assigned to stevewhims

[2019-06-16 16:33] Gavin-Williams opened #1734 "Please update with regard to C++/WinRT"
You mention "Microsoft C++ with Component Extensions (C++/CX)" but elsewhere you say that you recommend C++/WinRT. Do you need to update the development options for game development or update this documentation to reflect what's happening elsewhere?

How would we go about using C++/WinRT with DX ?

And many people use C# to consume DirectX (I think using C++/CLI mostly) and some of us would apprec

[2019-06-16 17:59] SoylentGraham opened #1735 "Hololens link broken"
https://developer.microsoft.com/windows/holographic/using_the_windows_device_portal no longer points to instructions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54f67548-9361-beab-49f8-7d604651c6a6
* Version Independent ID: 6194efed-24aa-74f2-7687-3e368534b74a
* Content: [Enable your device for development - Windows

[2019-06-16 19:34] mdmozibur opened #1736 "Update instructions"
It's been a long since this page was last updated, instructions given aren't appropriate anymore.
Most of us use visual studio 2019 or 2017, net standard 2.2 and many more update.  Please validate the instructions .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c591596-d202-244c-6fbf-31c288fe9b57
* Version Independen

[2019-06-17 21:07] legistek opened #1737 "Hit Testing"
The article says "To do hit testing, you need to do bounds calculations by walking the visual tree yourself." That makes sense, but how does one do the bounds calculations for each visual - especially if complex geometries are used? There seems to be no hit testing functionality at all even at the Visual-level, nor does there seem to be a way to get an ID2D1Geometry from a Visual to use D2D for th

[2019-06-17 23:18] Almis90 opened #1738 "Cannot record some video"
When I was recording my screen while watching Netflix (the app from Microsoft store, not website) it was showing only the subtitles in the recording without video. I don't want to record Netflix, I just want to know why this is happening. Are there any other cases like that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2019-06-18 15:05] gwcSoftware opened #1739 "Errors compiling when windows.ui.composition.interop.h is included in composition class"
Trying to go through the tutorial for using the Visual Layer in a Win32 project (dll) and after setting up the composition class and doing a test build I get errors C4430 and C2143 referencing windows.ui.composition.interop.h.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ec27759-aadf-a12d-5842-3b5fabb8e9e3
* Version

[2019-06-18 16:40] manoskow commented on #1727
Hi toredk, I work at Microsoft on the notifications team. Any chance you could collect logs for us so we can understand a little better what is going on?

Instructions:
1. from elevated cmd window run "netsh trace start wns_client per=yes"
2. start the installation
3. repro the activation scenario
4. when it is complete stop the log collection, "netsh trace stop"
5. the location of the files will

[2019-06-18 17:15] gwcSoftware commented on #1739
This worked ok if I created a new Windows Desktop App and then added the C++WinRT Nuget package to the new project. Will have to take a look at my existing dll project to see if I can get it working with C++WinRT and the Visual Layer.

[2019-06-18 18:52] drewbatgit commented on #1738
The screen capture API does not allow you to capture video content that is restricted by DRM. This is by design.

[2019-06-18 18:52] #1738 closed, assigned to drewbatgit

[2019-06-18 20:14] gwcSoftware commented on #1739
I had to remove _WIN32_WINNT=0x0601 from the existing win32 project's C++ Preprocessor directives for the project and now project builds correctly.

[2019-06-19 02:25] moe-lok opened #1741 "Getting error on DNS connection"
UWP applications restrict network access by default. In order to connect to the database successfully, you will need to add Internet (Client & Server), Internet (Client) and Private Networks (Client & Server) capabilities in "Package.appxmanifest".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6415499a-b936-1e81-99ee-

[2019-06-19 13:38] wldevries opened #1742 "ms-settings:display-* links incorrect"
&gt; Advanced display settings 	ms-settings:display-advanced (only available on devices that support advanced display options)

This uri actually points to "Advanced scaling settings", not to "Advanced display settings".

Also I would like to know the actual uri to the "Advanced display settings" screen.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-06-19 20:16] knicholasa commented on #1729
Hi @tmlyon thanks for your feedback. I'm not sure I understand the question. Could you provide an example of the scenario you're talking about?

[2019-06-19 23:25] mjfusa opened #1745 "Query for Products. orderid not required?"
In the Query for products documentation, it states "order id" isn't required in response. Could you clarify in what cases it wouldn't be there?

Reference: https://docs.microsoft.com/en-gb/windows/uwp/monetize/query-for-products

[2019-06-20 00:12] tmlyon commented on #1729
Hi @knicholasa, similar to the section showing which pages work on Surface Hub, HoloLens and HoloLens 2 run a version of the Windows Settings app with a slightly different set of pages supported. We don't currently have the set of supported protocol launches for the these pages documented, but some of the pages are listed on our [docs](https://docs.microsoft.com/en-us/windows/mixed-reality/connect

[2019-06-20 11:33] adrientetar opened #1748 "CI instructions aren't updated for VS2019"
The UWP CI instructions suggest adding TemporaryKey.pfx certificate to the repository, however VS2019 doesn't generate a pfx anymore, instead it installs the certificate directly on user machine. Here's a workaround to get Azure Pipelines working: https://www.edandersen.com/2019/05/27/missing-storekey-pfx-certificates-when-building-a-visual-studio-2019-uwp-project/

The instructions need to be upd

[2019-06-20 21:33] mcleanbyron commented on #1748
Thanks for reporting this. The engineering team has confirmed the .pfx changes you reported in Visual Studio 2019, and they also confirmed that the workaround you provided does work but may not be ideal because of security implications. They are doing some investigation into new recommendations and we'll get this article updated as soon as we can.

[2019-06-21 10:25] Googulator opened #1751 "Runtime pin muxing documentation possibly outdated?"
Since ACPI 6.2, an equivalent of the vendor-specific MsftFunctionConfig() macro has been added, under the name PinFunction(), with an almost identical API (an extra optional parameter was added before VendorData). From my testing, this new standard macro seems to be supported and treated as an equivalent of MsftFunctionConfig in recent Insider builds.

It would be great to have this documented, wi

[2019-06-21 10:25] adrientetar commented on #1748
Thanks, McLean. I'm thinking the engineering team should have provided new guidelines at the time they overhauled the feature.. spent a while trying to get VS to generate that certificate file to no avail.

[2019-06-21 11:36] liam-tuite opened #1752 "Typo"
"... make sure that the overall UI is responds to different resolutions..."
Should remove the "is".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06eec92b-e1ef-945f-bc1a-0fa3e23c77de
* Version Independent ID: 50fbbe23-6e9d-d4a7-7242-b9e9c04fc0d2
* Content: [Responsive layouts with XAML - Windows UWP applications](http

[2019-06-21 11:37] liam-tuite opened #1753 "Typo"
"When going from phone or phablet to larger devices..."

Should this be "tablet"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa06ba4d-5e4f-feb0-2f05-b5de186e10df
* Version Independent ID: a20bc7f3-d00f-2055-005d-0f3e327af779
* Content: [Responsive design techniques - Windows UWP applications](https://docs.microsoft

[2019-06-21 16:19] liam-tuite opened #1754 "Code comment mistake"
"VisualState to be triggered when the width is &gt;=720 effective pixels"

Shouldn't this be 640 pixels?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06eec92b-e1ef-945f-bc1a-0fa3e23c77de
* Version Independent ID: 50fbbe23-6e9d-d4a7-7242-b9e9c04fc0d2
* Content: [Responsive layouts with XAML - Windows UWP applications]

[2019-06-21 16:25] liam-tuite opened #1755 "Typo"
" when the input type is touch"

Should be "when the input type is touched".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06eec92b-e1ef-945f-bc1a-0fa3e23c77de
* Version Independent ID: 50fbbe23-6e9d-d4a7-7242-b9e9c04fc0d2
* Content: [Responsive layouts with XAML - Windows UWP applications](https://docs.microsoft.com/

[2019-06-21 21:12] jonthysell commented on #1670
@hickeys This is a documentation issue. This documentation, right here: https://docs.microsoft.com/en-us/windows/msix/desktop/desktop-to-uwp-prepare, is incorrect and ambiguous.

The _actual_ requirements to package and publish a desktop app using Desktop Bridge are:

- The entry executable must target 4.6.1 or later.
- Other .NET assemblies just need to be able to run on .NET 4.6.1, they can targ

[2019-06-21 23:00] #1537 closed, assigned to knicholasa

[2019-06-22 00:23] #1739 closed, assigned to jwmsft

[2019-06-22 13:16] liam-tuite opened #1759 "Typo"
"... it's scope is determined ..."
- should be "its scope is determined".

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71085aa7-f688-0f7f-af84-431742ca7a2a
* Version Independent ID: 181f13bd-fb4e-3e43-398d-8a2f6e981035
* Content: [XAML styles - Windows UWP applications](https://docs.microsoft.com/en-gb/windows/uwp/de

[2019-06-22 15:30] stecrain opened #1760 "C++/Winrt Author Events needs an event_revoker example"
Hi!

I think it would be great to include an example of authoring an event with the event_revoker pattern on the page [Author Events](https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/author-events)

Just to make sure there is no confusion, I'm referring to the event revoker pattern demonstrated [here](https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/handle-events#revo

[2019-06-23 13:38] hyoshioka0128 opened #1761 "Broken link "XAML Island""
https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/dialogs-and-flyouts/dialogs
![dialogs_e](https://user-images.githubusercontent.com/40815708/59977059-91689b00-9607-11e9-8fb2-9610fbfbf36d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3361e67d-b904-0d10-42d7-abf317fbf0ab
* Version Independe

[2019-06-23 14:25] touseefbsb opened #1762 "broadFileSystemAccess on all devices?"
the docs page for restricted capibilities need to clarify can we use **broadFileSystemAccess** on all windows 10 device platforms like xbox, hololens etc? or is it just limited to Desktop ? Thanks

[2019-06-24 12:16] bertrandpons opened #1763 "Import PFX password-protected certificate to be used for build"
Hello,

Question based on the following documentation: https://docs.microsoft.com/en-us/windows/uwp/packaging/auto-build-package-uwp-apps.

Would it be possible to have more explanation on how to use certificate for UWP app, the certificate being supposed to be handled at build time?

So far, I use Secure Files, then use tasks _Download Secure File_ and _Copy Files_ to upload it in my UWP project.

[2019-06-24 12:58] rml1997 opened #1764 "Quick actions is missing"
I think I've removed quick actions from the dashboard, but there is no option to re-add it like the other tools. Is there a way to reset the dashboard or some other way to get quick actions back, as I'm currently unable to view the pin to deploy my app!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2d22122-9c64-2d5a-

[2019-06-24 13:24] rml1997 commented on #1755
This is not a typo. "The input type is touch" is meant as in touch input as opposed to mouse, gamepad or keyboard input. It is not used as a verb here.

[2019-06-24 13:28] #1755 closed, assigned to jwmsft

[2019-06-24 16:04] ginami commented on #1762
Hi @touseefbsb -- thanks for your feedback! Can you give me the URL for the restricted capabilities page, please? This will help me route your comment to the correct author. Thank you!

[2019-06-24 16:55] mcleanbyron commented on #1763
Thanks for bringing this to our attention. The engineering team that owns this scenario is looking at updating this article. I will update this issue when we know more.

[2019-06-24 17:22] liam-tuite opened #1765 "Typo"
"... move the ResourceDictionary out of the UserControl and put it the page level".
- should be something like "... put it at the page level" instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd65842c-cc53-7120-2cf3-87bde4b0168e
* Version Independent ID: e34f3953-c43c-aa42-c161-6e07c268a5f0
* Content: [Optimize y

[2019-06-24 18:56] touseefbsb commented on #1762
here you go : https://docs.microsoft.com/en-us/windows/uwp/packaging/app-capability-declarations

[2019-06-24 22:12] mcleanbyron commented on #1762
Nick, this is a question about file system capabilities. Can you please take a look?

[2019-06-24 22:17] jwmsft commented on #1753
@liam-tuite, Thanks for the feedback. "Phablet" is correct - it describes a device that falls between a phone and a tablet. See https://en.wikipedia.org/wiki/Phablet.

[2019-06-24 22:54] stevewhims commented on #1760
Hi, @stecrain, you get default (auto) event_revoker behavior for free. In the [Author events](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/author-events) topic, in the "Create a Windows Runtime Component" section, in the listing for `BankAccount.cpp`, the necessary registration and (manual) revocation functions are shown. But, as the content below the listing say, "You don't need to i

[2019-06-24 23:21] knicholasa commented on #1762
Hi @touseefbsb, thanks for leaving your feedback. I'll look into updating the documentation with this information. I would also encourage you to check out our developer support resources if you need timely assistance. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&p

[2019-06-25 00:43] chigy commented on #1728
@thejimmyj57 , could you please [opening a new issue](https://github.com/microsoft/microsoft-ui-xaml/issues/new/choose) in the WinUI GitHub with this feedback?

[2019-06-25 02:23] TheJimmyJ57 commented on #1728
@knicholasa @chigy yep il do that right now

[2019-06-25 03:19] stecrain commented on #1760
Oh cool thanks for the response!

[2019-06-25 03:51] stevewhims commented on #1760
You're welcome, I'll go ahead and close this for now. ~Steve

[2019-06-25 03:51] #1760 closed, assigned to stevewhims

[2019-06-25 14:29] mitulsuthar opened #1766 "Provide full source code or sample."
Being able to see the final code or how the above code fits into the whole application would be nice. I always get lost on these types of articles on how to make it work. I keep clicking on pages are after pages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8b97f34-8667-87fa-32d0-e1abfe285f26
* Version Independent I

[2019-06-25 14:31] touseefbsb commented on #1762
yes sure @knicholasa  actually I asked it here bcz I wanted to know answer about it myself but also wanted docs to be updated so that it can help everyone else as well. Thanks.

[2019-06-25 19:34] knicholasa commented on #1762
No problem! We just don't have the resources to respond quickly, so I wanted to make sure you're aware of where you can go to get help. If you get help on the support forums and think that that information could be used to update the docs, feel free to come back here and provide a link to the conversation.

[2019-06-25 19:45] knicholasa commented on #1766
Hi @mitulsuthar, I found the following sample in GitHub, is this helpful? https://github.com/microsoft/Windows-universal-samples/tree/master/Samples/BackgroundTask

If so I can update this page to contain a link to this sample.

[2019-06-25 20:34] #1728 closed, assigned to jesbis, chigy, knicholasa

[2019-06-26 15:41] #1609 closed, assigned to hickeys

[2019-06-26 18:06] gregmeess opened #1767 "TreeView.SelectedNodes always empty when SelectionMode is Single"
When the TreeView has `SelectionMode="Single"`, the `SelectedNodes` property is always empty. This must either be a bug, or there is a different way to get the single selected node that isn't documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b245536a-3179-ff1e-dfd5-76898d07381b
* Version Independent ID: 145609

[2019-06-26 18:08] gregmeess commented on #1767
Providing my related StackOverflow post in case context helps:
https://stackoverflow.com/questions/56766785/uwp-get-selected-nodes-from-treeview-control

[2019-06-27 01:10] dphfox commented on #1661
Why get rid of the effect altogether? Why not just introduce a less transparent version of Acrylic for use in supporting UI instead that's less distracting without looking, for lack of better terms, crude and unfinished? That way, you can satisfy both camps; it keeps the UI looking great while improving content legibility. Flat out removing the effect is just throwing the baby out with the bath wa

[2019-06-27 01:50] carmellolb commented on #1661
Yes, I completely agree. Microsoft just doesn’t seem to carefully about users’ opinions and instead is taking the all or nothing approach and is reverting the design back to pre-Fluent. It is a shame. I hope they reconsider and readd BG Acrylic just in a less transparent form.

[2019-06-27 07:33] toredk commented on #1727
Files exchanged

[2019-06-27 13:28] mitulsuthar commented on #1766
Yes. That is helpful.

[2019-06-28 18:14] jevansaks commented on #1767
Thanks for reporting! This is a product bug that we are tracking as https://github.com/microsoft/microsoft-ui-xaml/issues/124.

[2019-06-28 18:14] #1767 closed, assigned to jwmsft

[2019-06-28 18:17] jevansaks commented on #1754
Yes, I would agree. @liam-tuite you can submit fixes for these doc issues if you would like! Clicking the "edit" button on the doc page will take you to github where you can create a PR to fix these issues you've found. If you want to contribute that way we would be eternally grateful. :)

[2019-06-28 18:17] #1753 closed, assigned to jwmsft

[2019-06-28 18:17] jevansaks commented on #1752
or "is responsive"

[2019-06-28 18:19] jevansaks commented on #1737
Right, I think the point is that the composition layer doesn't know the geometry of the elements in the scene, only the app/component author does. So on the D2D visuals you could do hit testing instead of asking the Visual layer to do it.

[2019-06-28 18:19] #1737 closed, assigned to jwmsft

[2019-06-28 18:54] marb2000 commented on #1761
The right link is https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/xaml-islands
@jwmsft can you please, update the reference?

[2019-06-28 22:31] jwmsft commented on #1761
The link update has been submitted.

[2019-06-28 22:31] #1761 closed, assigned to marb2000, jwmsft

[2019-06-28 22:41] jwmsft commented on #1752
Fix has been submitted.

[2019-06-28 22:41] #1752 closed, assigned to jwmsft

[2019-06-29 04:01] hyoshioka0128 opened #1769 "Broken link "XAML Island" (ja-jp)"
related issue: #1761
![dialogs_j](https://user-images.githubusercontent.com/40815708/60379441-b3ca4080-9a6d-11e9-98f5-2b1784b458a8.png)
https://docs.microsoft.com/ja-jp/apps/desktop/modernize/xaml-islands
↓
https://docs.microsoft.com/ja-jp/windows/apps/desktop/modernize/xaml-islands

[LOC] Back-Translation "XAML アイランド"→"XAML Island"

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必

[2019-07-01 09:40] dzianis-vashkevich-EPAM commented on #1716
Hello @drewbatgit,

Can you please perform assessment of this issue and provide feedback. It's blocks development of critical component for our customer.

Thank you,
Denis

[2019-07-01 16:58] drewbatgit commented on #1716
@DenisV-E sorry for the delayed response. I am engaged with a conversation with the feature team about this issue. They have investigated and believe they may have discovered a bug that is causing this behavior. I am waiting for information about an ETA for a fix and potential workarounds. I will update the thread when I have new information.

[2019-07-01 17:21] jevansaks commented on #1769
Is this a different link than #1761?

[2019-07-01 19:22] CeciAc commented on #1639
Issue moved to [MicrosoftDocs/windows-uwp.ja-jp #8](https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/8) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-01 19:27] CeciAc commented on #1639
Hello, @hyoshioka0128

Your feedback is much appreciated.
Since your comments are specific to the localization of the documentation, we have moved this issue to the corresponding localization repository and we will close this one.

Please review the status of this issue here https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/8

Kind regards,
Microsoft DOCS International Team

[2019-07-01 19:31] CeciAc commented on #1640
Hello, @hyoshioka0128
Your feedback is much appreciated.
Since your comments are specific to the localization of the documentation, we have moved this issue to the corresponding localization repository and we will close this one.

Please review the status of this issue here https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/9

Kind regards,
Microsoft DOCS International Team

[2019-07-01 19:31] CeciAc commented on #1640
#please-close

[2019-07-01 19:34] CeciAc commented on #1639
#please-close

[2019-07-01 19:37] CeciAc commented on #1641
Issue moved to [MicrosoftDocs/windows-uwp.ja-jp #10](https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/10) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-01 19:39] CeciAc commented on #1641
Hello, @hyoshioka0128

Your feedback is much appreciated.
Since your comments are specific to the localization of the documentation, we have moved this issue to the corresponding localization repository and we will close this one.

Please review the status of this issue here https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/10

Kind regards,
Microsoft DOCS International Team

#please-close

[2019-07-01 19:57] CeciAc commented on #1642
Issue moved to [MicrosoftDocs/windows-uwp.ja-jp #11](https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/11) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-01 20:04] CeciAc commented on #1643
Hello, @hyoshioka0128
 
We truly appreciate your comment and we strive to improve your experience in docs.microsoft.com. However, we need more information in order to be able to address your feedback. Can you please provide more detailed information and clarify your comment?

**I cannot repro this issue, ` **ms 設定。` cannot be found anywhere in the document, please, clarify.**
 
Kind regards,
Micro

[2019-07-01 20:20] CeciAc commented on #1659
Issue moved to [MicrosoftDocs/windows-uwp.ja-jp #12](https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/12) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-01 20:24] CeciAc commented on #1659
Hello, @hyoshioka0128
 
Your feedback is much appreciated.
Since your comments are specific to the localization of the documentation, we have moved this issue to the corresponding localization repository and we will close this one.

Please review the status of this issue here https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/12

Kind regards,
Microsoft DOCS International Team

[2019-07-01 20:25] CeciAc commented on #1659
#please-close

[2019-07-01 20:45] #1659 closed, assigned to nokura, DavidPrio, knicholasa

[2019-07-01 20:46] #1641 closed, assigned to nokura, DavidPrio, knicholasa, v-nidolc

[2019-07-01 20:53] CeciAc commented on #1644
Hello, @hyoshioka0128
 
Your feedback is much appreciated.
Since your comments are specific to the localization of the documentation, we have moved this issue to the corresponding localization repository and we will close this one.

Please review the status of this issue here https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/12

Kind regards,
Microsoft DOCS International Team

[2019-07-01 20:56] CeciAc commented on #1658
Hello, @hyoshioka0128

Your contribution is much appreciated. Our team reviewed your feedback and it appears that this issue has been already logged.
Please review issue #https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/12
For this reason we are closing this issue since it is duplicated.

Kind regards,
Microsoft DOCS International Team
#please-close

[2019-07-01 20:58] CeciAc commented on #1652
Hello, @hyoshioka0128

Your contribution is much appreciated. Our team reviewed your feedback and it appears that this issue has been already logged.
Please review issue #https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/12
For this reason we are closing this issue since it is duplicated.

Kind regards,
Microsoft DOCS International Team
#please-close

[2019-07-01 20:59] CeciAc commented on #1651
Hello, @hyoshioka0128

Your contribution is much appreciated. Our team reviewed your feedback and it appears that this issue has been already logged.
Please review issue #https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/12
For this reason we are closing this issue since it is duplicated.

Kind regards,
Microsoft DOCS International Team
#please-close

[2019-07-01 21:07] CeciAc commented on #1649
Hello, @hyoshioka0128

Your contribution is much appreciated. Our team reviewed your feedback and it appears that this issue has been already logged.
Please review issue #https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/12
For this reason we are closing this issue since it is duplicated.

Kind regards,
Microsoft DOCS International Team
#please-close

[2019-07-01 21:08] CeciAc commented on #1648
Hello, @hyoshioka0128

Your contribution is much appreciated. Our team reviewed your feedback and it appears that this issue has been already logged.
Please review issue #https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/12
For this reason we are closing this issue since it is duplicated.

Kind regards,
Microsoft DOCS International Team
#please-close

[2019-07-01 21:09] CeciAc commented on #1647
Hello, @hyoshioka0128

Your contribution is much appreciated. Our team reviewed your feedback and it appears that this issue has been already logged.
Please review issue #https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/12
For this reason we are closing this issue since it is duplicated.

Kind regards,
Microsoft DOCS International Team
#please-close

[2019-07-01 21:10] CeciAc commented on #1646
Hello, @hyoshioka0128

Your contribution is much appreciated. Our team reviewed your feedback and it appears that this issue has been already logged.
Please review issue #https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/12
For this reason we are closing this issue since it is duplicated.

Kind regards,
Microsoft DOCS International Team
#please-close

[2019-07-01 21:12] CeciAc commented on #1645
Hello, @hyoshioka0128

Your contribution is much appreciated. Our team reviewed your feedback and it appears that this issue has been already logged.
Please review issue #https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/12
For this reason we are closing this issue since it is duplicated.

Kind regards,
Microsoft DOCS International Team
#please-close

[2019-07-01 21:24] CeciAc commented on #1686
Issue moved to [MicrosoftDocs/windows-uwp.ja-jp #13](https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/13) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-01 21:26] CeciAc commented on #1650
Hello, @hyoshioka0128

Your contribution is much appreciated. Our team reviewed your feedback and it appears that this issue has been already logged.
Please review issue https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/13
For this reason we are closing this issue since it is duplicated.

Kind regards,
Microsoft DOCS International Team
#please-close

[2019-07-01 21:26] CeciAc commented on #1686
Hello, @hyoshioka0128
 
Your feedback is much appreciated.
Since your comments are specific to the localization of the documentation, we have moved this issue to the corresponding localization repository and we will close this one.

Please review the status of this issue here https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/13

Kind regards,
Microsoft DOCS International Team
#please-close

[2019-07-01 21:31] CeciAc commented on #1657
Issue moved to [MicrosoftDocs/windows-uwp.ja-jp #14](https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/14) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-01 21:38] CeciAc commented on #1657
Hello, @hyoshioka0128
 
Your feedback is much appreciated.
Since your comments are specific to the localization of the documentation, we have moved this issue to the corresponding localization repository and we will close this one.

Please review the status of this issue here https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/14

Kind regards,
Microsoft DOCS International Team
#please-close

[2019-07-01 21:41] CeciAc commented on #1654
Hello, @hyoshioka0128

Your contribution is much appreciated. Our team reviewed your feedback and it appears that this issue has been already logged.
Please review issue https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/14
For this reason we are closing this issue since it is duplicated.

Kind regards,
Microsoft DOCS International Team
#please-close

[2019-07-01 21:43] CeciAc commented on #1653
Issue moved to [MicrosoftDocs/windows-uwp.ja-jp #15](https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/15) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-01 21:44] CeciAc commented on #1653
Hello, @hyoshioka0128
 
Your feedback is much appreciated.
Since your comments are specific to the localization of the documentation, we have moved this issue to the corresponding localization repository and we will close this one.

Please review the status of this issue here https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/15

Kind regards,
Microsoft DOCS International Team
#please-close

[2019-07-01 21:55] #1658 closed, assigned to nokura, DavidPrio, knicholasa, v-nidolc

[2019-07-01 21:56] #1652 closed, assigned to nokura, DavidPrio, knicholasa, v-nidolc

[2019-07-01 21:56] #1651 closed, assigned to nokura, DavidPrio, knicholasa, v-nidolc

[2019-07-01 21:56] #1649 closed, assigned to nokura, DavidPrio, knicholasa, v-nidolc

[2019-07-01 21:56] #1648 closed, assigned to nokura, DavidPrio, knicholasa, v-nidolc

[2019-07-01 21:58] #1653 closed, assigned to nokura, DavidPrio, knicholasa, v-nidolc

[2019-07-01 21:58] #1654 closed, assigned to nokura, DavidPrio, knicholasa, v-nidolc

[2019-07-01 21:58] #1657 closed, assigned to nokura, DavidPrio, knicholasa, v-nidolc

[2019-07-01 21:58] #1686 closed, assigned to nokura, DavidPrio, knicholasa, v-nidolc

[2019-07-01 21:58] #1650 closed, assigned to nokura, DavidPrio, knicholasa, v-nidolc

[2019-07-01 21:58] #1645 closed, assigned to nokura, DavidPrio, knicholasa, v-nidolc

[2019-07-01 21:58] #1646 closed, assigned to nokura, DavidPrio, knicholasa, v-nidolc

[2019-07-01 21:58] #1647 closed, assigned to nokura, DavidPrio, knicholasa, v-nidolc

[2019-07-01 22:02] drewbatgit commented on #1716
Hello, the product team has investigated and believe they have discovered a bug. The following are the details and a proposed workaround until a bug fix can be integrated into a release:

The issue is with the Period@start accuracy. It looks like the value of Period@start is PT433088H1.980S = 15591168019800000 HNS. The value of presentationTimeOffset is 15591168019808650. It will try and subtract

[2019-07-01 22:02] #1716 closed, assigned to drewbatgit

[2019-07-02 03:47] MoonCha commented on #1717
I have the same problem. Is there anybody solved this?

[2019-07-02 05:23] dzianis-vashkevich-EPAM commented on #1716
Hi @drewbatgit, thank you for help ! We will try to apply this work around into our solution.

[2019-07-02 08:33] bronze1man commented on #1717
I have solve this problem:
Changing following fields to following value in your manifest.
[code]
The "signInAudience" part can solve this problem, and the "accessTokenAcceptedVersion" part can solve the "getCustomerCollectionsIdAsync" return empty problem.
https://stackoverflow.com/a/56848128/1586797

[2019-07-02 09:38] bronze1man opened #1770 "Type of field of beneficiaries type is wrong."
The document of type of field of beneficiaries type is wrong. It should be List&lt;UserIdentity&gt;.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea910a17-224b-95a9-5baa-b119a9362764
* Version Independent ID: 407c87b4-7506-8b83-e646-012cc13948a6
* Content: [Query for products - Windows UWP applications](https://docs.

[2019-07-02 15:54] tim-weis commented on #1748
I ran into the same issue after associating my application with the store in Visual Studio 2019. I solved this in a slightly different way, that doesn't require you to add the .pfx to source control or the *Secure File* library. Instead, I'm always creating the certificate on the hosted build agent, and then update the project file with the new thumbprint.

The following is a quick-and-dirty Power

[2019-07-02 16:21] mcleanbyron commented on #1748
Thanks @tim-weis. As an update, the engineering team is planning to revise this article with updated guidance in the first half of July. I'll update this issue when I know more.

[2019-07-02 22:06] stevewhims commented on #1722
I'll go ahead and close this issue now, since it seems resolved. Thanks! ~Steve

[2019-07-02 22:06] #1722 closed, assigned to stevewhims

[2019-07-03 16:54] jevansAN opened #1772 "Publish to testers only"
Is it necessary to Publish in order for the package to be available to beta testers? I've submitted a package that passed certification, put my own name on a beta testing list, and tried the download link provided for testers - but the link is invalid. As the package in question is not the completed product we don't want it visible on the store until it is ready, and the term, 'publish' might impl

[2019-07-04 01:23] ghost commented on #1642
#please-close

[2019-07-04 01:24] ghost commented on #1644
#please-close

[2019-07-04 01:24] ghost commented on #1655
#please-close

[2019-07-04 06:04] WinBase opened #1773 "Private audience"
i initially set my (new) app up as for private audience only as i remember looking at the list of testers, however now i come back into it to setup people i find its changed to 'public audience' and i cant change it back - WTF WHY !!!!. i dont remember doing this but maybe i did, however when i look here and search the web theres no info on how i can change it back other than a cursory 'you can't

[2019-07-04 16:21] hyoshioka0128 commented on #1655
Close #1655
"https://github.com/MicrosoftDocs/windows-uwp.ja-jp/pull/16"

[2019-07-04 16:21] #1655 closed, assigned to nokura, DavidPrio, knicholasa, v-nidolc

[2019-07-04 17:42] CeciAc commented on #1643
Hello, @hyoshioka0128
 
We are following up on our previous comment. We need more information in order to be able to address your feedback. Can you please provide more detailed information and clarify your comment?
 
Kind regards,
Microsoft DOCS International Team

[2019-07-05 09:09] hyoshioka0128 commented on #1643
Hello, @CeciAc (I'm poor English.)
"** ms 設定" was lost because it was updated.
![launch-maps-app_j](https://user-images.githubusercontent.com/40815708/60711387-cce05f00-9f4f-11e9-8a19-85558d98637c.png)

As you will PR later, please close it.

[2019-07-05 14:41] CeciAc commented on #1643
Hello, @hyoshioka0128

Your feedback is much appreciated. We are glad to see that your experience with our documentation meets your expectations.
We encourage you to provide your valuable feedback so that we can continue improve your experience.

Kind regards,
Microsoft DOCS International Team

#please-close

[2019-07-06 19:53] jevansAN opened #1774 "Error in docs - "Update" no longer present"
I'd like to update a package, but the above sentence, "To create a new submission for a published app, click Update next to the most recent submission shown on its Overview page" is apparently mistaken. There is no Update next to the submission in its Overview page. Actually I can find no way to replace a package without deleting the enter submission, which would mean filling it all out again at e

[2019-07-07 00:20] hyoshioka0128 commented on #1769
Please close it because PR was done.
https://github.com/MicrosoftDocs/windows-uwp.ja-jp/pull/18

[2019-07-07 00:22] hyoshioka0128 commented on #1769
PR done. Close #1769
https://github.com/MicrosoftDocs/windows-uwp.ja-jp/pull/18

[2019-07-07 00:22] #1769 closed, assigned to jwmsft

[2019-07-07 00:26] hyoshioka0128 commented on #1700
Fixed. https://github.com/MicrosoftDocs/windows-uwp.ja-jp/pull/6
Close #1700

[2019-07-07 00:26] #1700 closed, assigned to hickeys

[2019-07-07 00:31] hyoshioka0128 commented on #1723
Fixed.
Close #1723

[2019-07-07 00:31] #1723 closed, assigned to hickeys

[2019-07-07 06:46] makerofgames opened #1776 "Great article about making games"
But why not just use unity? there are many gamedev tutorials http://bit.do/eYDXd like this one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5873bf21-4560-102a-a9c8-2ad4e425be49
* Version Independent ID: dea02fb9-f0a7-739d-2926-f92d6d973026
* Content: [Windows 10 game development guide - Windows UWP applications](htt

[2019-07-07 13:51] capt-sms opened #1778 "No explenation of newly introduced term"
WINRT_ASSERT macro used in the last example and it was not commented at all, nor any link was provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b97f1e3-af78-453e-6140-0fd37460d6c3
* Version Independent ID: e74f6cdb-2ac4-5a4d-8f73-0e97958f997b
* Content: [Boxing and unboxing scalar values to IInspectable with C+

[2019-07-07 14:16] mastroalbert opened #1779 "App installed on external disk"
When an app is installed on a non-system disk, files stored in the ApplicationData.LocalFolder are locked, preventing some manipulation of those files. Is there any documentation on this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 340f7839-6454-f1b5-ced5-5000964efc2e
* Version Independent ID: f83df5c8-e149-df6e-243

[2019-07-08 01:31] MoonCha commented on #1770
I also found that if I put `UserIdentity`, not `list<UserIdentity>`, I get:
[code]

[2019-07-08 03:14] bronze1man opened #1780 "Please change Microsoft Store ID key valid time to 60 minutes or never."
In the document, Each Microsoft Store ID key is valid for 90 days. So I have to wait 90 days to test my application is correct? I looks like I will get an bug after 90 days after my application is release to product.

I will forgot this bug exist in my code.So I have to speed a lot of time to debug this bug.

Please change the Microsoft Store ID key valid time shorter, so I can test and  verify my

[2019-07-08 06:09] sylveon opened #1781 "maxVersionTested triggers build warning"
In VS 2019, when I add maxVersionTested to my manifest like instructed in this page, I get the following warning:

[code]

I'd like to not have to silence this warning because it can be useful to correct mistakes - is there any way to fix this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d29a354-62d8-f881-7338-71a2

[2019-07-08 14:13] PatricioVidal opened #1782 "Private audience to work/school account"
We are releasing to a private audience but some of the emails are work/school account. Those user can not see the listing. It works fine for personal emails.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe1cc4da-53ea-e79d-c59a-c213e75db486
* Version Independent ID: b56a46e7-785a-6bd1-030c-8c500c268bfc
* Content: [Cho

[2019-07-08 17:19] mcleanbyron commented on #1781
I'm sorry you're encountering this issue. I tested this out in Visual Studio 2019 version 16.1.3 with version 10.0.18362.1 of the Windows SDK and am not seeing this warning after adding the maxversiontested element to app manifest files in new WPF and Windows Forms projects. Can you clarify which versions of the tools you have installed and whether you're seeing this warning in new projects?

[2019-07-08 20:46] stevewhims commented on #1778
Thanks for filing this issue, @sm-sabat. You raise a good point. I've now updated the docs with more info.

`WINRT_ASSERT` is a macro definition, and it expands to [_ASSERTE](https://docs.microsoft.com/cpp/c-runtime-library/reference/assert-asserte-assert-expr-macros?view=vs-2019).

Thanks!
Steve

[2019-07-08 21:20] mijacobs commented on #1779
Thanks for reaching out with your feedback. I'll work on updating the documentation with this info, but in the meantime you'll find quicker support by consulting our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [Stack

[2019-07-08 21:20] #1779 closed, assigned to mijacobs

[2019-07-08 21:29] #1711 closed, assigned to jwmsft

[2019-07-08 21:29] #1759 closed, assigned to jwmsft

[2019-07-08 21:50] sylveon commented on #1781
Brand new C++ project using the Windows SDK 18362 on Visual Studio 2019 16.2 Preview 3.

I added the following manifest, copied verbatim from the docs:
[code]

and got the following output when building
[code]

[2019-07-08 22:57] mcleanbyron commented on #1781
Thanks for the additional details. The engineering team has confirmed that this is a known minor issue. Given that it is just a warning that can be ignored, they have no plans on fixing this issue at this time. I will add a note about this to the article you referenced.

[2019-07-09 00:02] #1643 closed, assigned to nokura, DavidPrio, knicholasa, v-nidolc

[2019-07-09 00:08] #1644 closed, assigned to nokura, DavidPrio, knicholasa, v-nidolc

[2019-07-09 00:08] #1642 closed, assigned to nokura, DavidPrio, knicholasa, v-nidolc

[2019-07-09 00:50] #1778 closed, assigned to stevewhims

[2019-07-09 09:22] hyoshioka0128 opened #1784 "Broken link "Windows Ink""
![using-the-xaml-hosting-api_e](https://user-images.githubusercontent.com/40815708/60876231-6a9c9c80-a276-11e9-91dc-bae813773a2a.png)

https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/using-the-xaml-hosting-api

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f2fc66b-ffa8-5128-8658-a8ea1d064e47
* Version

[2019-07-09 15:48] ghost opened #1785 "Code block not closed"
Hi team, this is a reference to https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/31. Some paragraphs are not getting localized because there's missing closure for a code block in the file hub/apps/desktop/modernize/using-the-visual-layer-with-windows-forms.md.

The Code Block missing the closure is this one:

[code]

Thanks!

[2019-07-09 17:02] mcleanbyron commented on #1784
Thanks for reporting this broken link. It has been fixed.

[2019-07-09 17:02] #1784 closed, assigned to mcleanbyron

[2019-07-09 17:34] mcleanbyron commented on #1781
The article has been updated with the note. Thanks again for your feedback!

[2019-07-09 17:34] #1781 closed, assigned to mcleanbyron

[2019-07-09 22:37] #1560 closed, assigned to YuliKl, jwmsft

[2019-07-11 05:28] TheFanatr opened #1790 "Typos in the Markup Extensions Sub-Header"
In the [Markup Extensions](https://docs.microsoft.com/en-us/windows/uwp/xaml-platform/xaml-overview#markup-extensions) sub-header, `{x:Bind}` is written incorrectly as `{xBind}` in the bullet-point list, and in the second paragraph after the aforementioned list, there is a grammatical error in the text `A markup extension generally return an existing instance ...`, where `return` is supposed to be

[2019-07-11 16:39] #1754 closed, assigned to jwmsft

[2019-07-11 17:29] jevansaks commented on #1790
@TheFanatr You can make changes to the docs via the "Edit" button when suggesting typo fixes. :)

[2019-07-12 03:15] MasterSU opened #1791 "改进建议"
应在开头提示需要在包清单-&gt;功能中启用相应功能才可正常使用。

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: 6c57c086-3015-37b6-5318-b90a8e1fc0ba
* Version Independent ID: 94556012-dcdd-1dde-c8e5-147e1d05d5c0
* Content: [蓝牙 GATT 客户端 - Windows UWP applications](https://docs.microsoft.com/zh-cn/windows/uwp/devices-sensors/gatt-client)
* Content Source: [windows-apps-src/devices-sensors/gatt-clie

[2019-07-12 14:29] sudoJoe opened #1793 "Typo on this page"
In the paragraph under 'UWP', in the third sentence, a word is incorrectly repeated twice:

"applications that that require.."

The sentence should read "..applications that require.."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c56f2824-b04c-1e07-2de1-2f78f84834d1
* Version Independent ID: b73656a9-ba3d-2411-dfca-0

[2019-07-13 14:40] dongle-the-gadget opened #1794 "Exception thrown, even the manifest is set correctly."
Even though I have setup the manifest correctly, the InitializeComponent() throws this exception:
TypeLoadException: Could not find Windows Runtime type 'Microsoft.Toolkit.Win32.UI.XamlHost.IXamlMetadataContainer'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: badad06e-48a0-0a8d-e5e1-d0c8573dbc3e
* Version Independent

[2019-07-14 02:15] weitzhandler commented on #343
Issue still exists.
The issue is very easy to reproduce:
- Create a `NavigtionView` and set inline `NavigationViewItem`s to it.
- Run it and observe the icon displaying and hiding according to screen

Now instead of inline items, use `NavigationView.MenuItemTemplate`:

[code]

When rendered, the `NavigationViewItem` is no longer responsive to the screen size or the navigation view mode.
This issue

[2019-07-14 03:53] weitzhandler opened #1795 "Full sample code?"
Hi,

I wish we could see the full source code for the [one column form example](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/forms#one-column-form-example).
Right now, only the details pane is shown.
What I'm interested in seeing is how you set and designed the master pane as well.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-07-14 05:08] sylveon commented on #1781
Actually, this is breaking. `maxVersionTested` is completely ignored by WindowsXamlSource but `maxversiontested` is not, even though the guide instructs to use the camel cased name.

[2019-07-14 14:21] BillyMartin1964 opened #1796 "Following this advice creates two errors in Xamarin Forms UWP"
UWP will only install the language resources for the languages  that are already installed on the target device. I need to install all of the languages my app provides.

I added the two xml files to my UWP project in Xamarin Forms so that I could install all of my apps languages and provide a drop down to choose the language, but when I tried to debug, I received the following two errors:

1.  Err

[2019-07-14 20:30] hamzaanjum opened #1797 "App Services not working on Domain Joined PC"
When I install my app on a machine which isn't part of the domain, the App Services are working fine. But when I install the same app on a machine which is domain joined, the **OnBackgroundActivated** method is not triggered at all.
Is there a policy on domain that need to be allowed for it to work?

[2019-07-15 10:29] era312 opened #1798 "In RevealBackgroundBrush doesn't work hover light"
RevealBackgroundBrush doesn't work, but when I use the system style for example ButtonRevealStyle, everything is fine.

RevealBorderBrush work fine!

**Code example:**

[code]

**Screen example:**

1. RevealBorderBrush

2. RevealBackgroundBrush

3. ButtonRevealStyle

[https://paste.pics/eef2e7eee38410dba4a43a6fdc1ffe29](https://paste.pics/eef2e7eee38410dba4a43a6fdc1ffe29)

[2019-07-15 16:38] knicholasa commented on #1796
Thanks for your feedback. This looks like a support request so I recommend you reach out to our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/questions). Otherwise, please see

[2019-07-15 16:45] teamfreytag opened #1799 "There is an new option "Make Alias""
There is an new option "Make Alias".  This documentation page should be updated to include "What is the purpose of the option" and "What it does".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9763974f-11a9-793a-3927-2c5038f1fe32
* Version Independent ID: f60c21e8-cec9-a1cc-b372-840a7fe540cc
* Content: [Manage app nam

[2019-07-15 17:18] jevansaks commented on #1795
I believe the master pane is from the "master/details" scenario which has a source code sample: https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/master-details. Is that what you were looking for?

[2019-07-15 20:15] mcleanbyron commented on #1781
Thanks for catching that. The examples did specify 'maxversiontested' without camel casing but the surrounding steps/instructions showed it camel cased. I updated the text so it is shown consistently without camel casing everywhere.

[2019-07-15 20:21] mcleanbyron commented on #1793
Thanks for catching this. This issue has been fixed.

[2019-07-15 20:21] #1793 closed, assigned to mcleanbyron

[2019-07-15 23:03] QuinnRadich commented on #1687
Thanks for pointing this out.

The MonoGame article has been unlisted in our table of contents for a while as it's out of date, and I don't think we have the bandwidth to update it right now. I was already planning to remove the article entirely, and I think this just makes that all the more compelling.

[2019-07-15 23:03] #1687 closed, assigned to QuinnRadich

[2019-07-15 23:12] QuinnRadich commented on #1517
This link was removed a little while ago, thanks for the heads-up. Closing this issue.

[2019-07-15 23:12] #1517 closed, assigned to QuinnRadich

[2019-07-15 23:13] QuinnRadich commented on #1631
My understanding was that the Cloud Files documentation was introduced in this version, to correspond with the APIs being expanded and publicized.

[2019-07-15 23:13] #1631 closed, assigned to QuinnRadich

[2019-07-16 07:26] weitzhandler commented on #1795
I was referring to the one in this image, I haven't been able to find it.

![image](https://user-images.githubusercontent.com/2716316/61274165-e4231600-a7b3-11e9-8842-2c03b5e5788e.png)

I was specifically referring to the middle column, I wanted to see what you used to create the search box, add button and `ListView`.

Feel free to close this issue, but it'd be nice if the samples for the screensh

[2019-07-16 16:20] jevansaks commented on #1795
I don't see a sample that produces exactly what's in that screenshot. Maybe @micahl can help find it the source?

[2019-07-16 20:07] micahl commented on #1795
Sorry, I'm not familiar with this.  @serenaz do you have the original (full) source from when this doc was originally authored?

[2019-07-16 21:36] genarooluucas opened #1801 "mixer/Beam Partner GenaroFPS: problema de configuração do Partner Center"
Olá Boa tarde,
Lucas Santos
(lucasrodriguessantos7@gmail.com) or (lucasrodriguessantos7@outlook.com)

Estou com problemas na inscrição no Partner Center recebi a seguinte mensagem de:
''Mixer Partnerships Onboarding Team <mixeroas@microsoft.com>

Hello GenaroFPS,

Partner Center has encountered an issue with the tax information you provided during setup. Please visit Partner Center using the links

[2019-07-16 22:53] weitzhandler commented on #1795
WOW, it's gone way further than I'd thought, thank you so much for your effort folks!

[2019-07-17 13:02] zivkan opened #1802 "Javascript UWP template prerequisites"
I have about half of the VS workloads installed, including node.js development and UWP workload. I have C# and VB.NET UWP templates, but no javascript UWP template. What do I need to do to get that template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b996558c-4643-b37a-5afb-9cd14369b8bf
* Version Independent ID: de

[2019-07-17 13:27] zivkan commented on #1802
After some web searches, I found this: https://developercommunity.visualstudio.com/comments/533695/view.html

I believe this docs page should be deleted, or changed back to say VS2017, because this project type is not supported by VS2019.

[2019-07-17 18:06] predavid-zz commented on #597
@jwmsft - could you please update this file to address this issue : windows-apps-src/design/controls-and-patterns/semantic-zoom.md?

[2019-07-17 18:08] predavid-zz commented on #615
@jwmsft - I understand this is already on you radar to update the code sample in the docs.

[2019-07-17 18:12] predavid-zz commented on #781
Please use the latest version of the WinUI Nuget package. It should address the issue.

[2019-07-17 18:32] YuliKl opened #1803 "Call out CommandBar's access key behavior."
Assigning an access key to CommandBar will place the key tip over the More button without changing the scope of the access keys. This behavior is currently not documented but should be.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80f24bef-6dfe-9b8b-e6aa-5582f231e28a
* Version Independent ID: f910182d-b917-121c-fc81-

[2019-07-17 19:15] mcleanbyron commented on #1748
This article has been updated with info about using the secure files feature in Azure DevOps to store certificates and with a note about the fact that Visual Studio 2019 no longer generates temporary .pfx files in UWP projects. Thanks for your feedback.

[2019-07-17 19:15] #1748 closed, assigned to mcleanbyron

[2019-07-17 19:19] mcleanbyron commented on #1794
Thanks for reporting this issue. It turned out that there was a bug in the 6.0.0-preview6.3 release of the Microsoft.Toolkit.Wpf.UI.Controls NuGet package. The engineering team has fixed the bug and released an updated 6.0.0-preview6.4 version of the package. Please try these steps again with the latest package, and feel free to reopen this issue if you encounter further problems.

[2019-07-17 19:19] #1794 closed, assigned to mcleanbyron

[2019-07-17 19:50] serenaz commented on #1795
I don't have the source on my current machine, but the example uses a NavigationView control, which allows you to add a search bar, add button, and ListView.
https://docs.microsoft.com/windows/uwp/design/controls-and-patterns/navigationview

Hope that helps!

[2019-07-17 19:54] weitzhandler commented on #1795
K tx guys I'll do it myself
I was hoping to do it the same way u did with fluent design styles, but appreciate the effort!

[2019-07-17 19:54] #1795 closed, assigned to micahl, jwmsft

[2019-07-18 03:52] sjb-sjb opened #1805 "Should specify directory as well as file name for x:Uid"
Concerning the example in the section "Factoring strings into multiple Resources Files": additional information is needed about how to also specify the directory name. In the example, how can we specify the resource directory ("/Strings") in addition to the resource file name?

I would comment that in some situations the directory name is needed to find the resource. For example, if resource files

[2019-07-18 12:57] RexfelisLOC opened #1806 "Rotating Ad Banners"
Rotating ad banners should also be a policy violation as it interferes with viewability of ads thereby reducing CTR.  When you have low CTR, advertisers pull out.

[2019-07-18 15:26] adrientetar commented on #1748
@mcleanbyron So I've looked at the new guidance but one thing that's not handled I think is when you export a certificate (with `Export-PfxCertificate`) you have to specify a password for it. And the new guidance does not afaict explain how to deal with password-protected certificate. The old VS2017 would generate a password-less certificate in the repository.

Relevant error message: `Error APPX0

[2019-07-18 16:51] chigy opened #1807 "ToggleButton should be documented in this page?"
There was no mention of &lt;ToggleButton/&gt; in this page which I felt should be there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b6e57c0-4d39-7608-e535-f3bf35d3f7a2
* Version Independent ID: 826f8e2b-b5be-3c62-6bb6-85abea1bfba4
* Content: [Buttons - Windows UWP applications](https://docs.microsoft.com/en-us/win

[2019-07-18 21:41] mijacobs commented on #1806
Hi @RexfelisLOC, is this feedback about UWP in-app advertising guidelines or is it about rotating ads that appear on docs.microsoft.com? If this feedback is about UWP in-app advertising, it looks like you have product feedback rather than documentation feedback. Please use the [Windows developer feedback site](https://wpdev.uservoice.com/). We’d be happy to have this on record, where others can vi

[2019-07-18 21:44] RexfelisLOC commented on #1806
I was told by the Microsoft Advertising SDK team that rotating ad banners is not allowed, but it is not covered in the guidelines.  If it is not allowed, shouldn't it be covered in the guidelines?

[2019-07-18 21:54] mijacobs commented on #290
@joannaleecy Should this be updated for VS 2019?

[2019-07-18 21:55] #383 closed, assigned to mijacobs

[2019-07-19 01:53] dongle-the-gadget opened #1808 "UserActivity.CreateSession refuses to finish"
The User Activity (Timeline) feature doesn't work. I tried debugging the code and found out UserActivity.CreateSession() cannot finish

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adf5f88c-d598-d624-a570-9a93d2092cf2
* Version Independent ID: 6f9b95e7-0d1a-6b88-cde0-ba4b60dcbced
* Content: [Add Windows 10 user activi

[2019-07-19 06:09] hamzaanjum commented on #1797
I don't know what happened, but it started to work the next day !!!

[2019-07-19 06:09] #1797 closed, assigned to nobody

[2019-07-19 16:40] mijacobs commented on #387
Hi @lxgdark, currently, the site navigation menu is translated to Russian, but the article contents are not. We've passed your feedback on to our localization team.

[2019-07-19 16:40] #387 closed, assigned to ginami

[2019-07-19 16:43] mijacobs commented on #411
From the feature team:

The issue with Mac and Sketch relates to icons and Unicode Private use area. There is no fallback for PUA even on Windows. I’m not sure why this works for some icons and not others. The user should contact Sketch to discuss lack of support for PUA icons.
Some of our icons are available as svg through Fabric. https://uifabricicons.azurewebsites.net/ while that will help with

[2019-07-19 16:43] #411 closed, assigned to mijacobs

[2019-07-19 16:44] #419 closed, assigned to mijacobs

[2019-07-19 16:46] mijacobs commented on #468
It looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use the [Windows developer feedback site](https://wpdev.uservoice.com/). We’d be happy to have this on record, where others can view it and upvote it.

[2019-07-19 16:46] #468 closed, assigned to andrewleader, mijacobs

[2019-07-19 16:46] mijacobs commented on #470
@rkarman Can you provide this info so we can add it to the doc?

[2019-07-19 16:47] mcleanbyron commented on #1808
I'm sorry you're encountering this issue. I just stepped through the walkthrough again and confirmed that this section is working as expected for me: UserActivity.CreateSession() completes without error and the expenses I view in the sample app show up in my Timeline view. Have you tried going through the steps in this section yet to see if you missed a step? If you try running the code without de

[2019-07-19 16:48] mijacobs commented on #536
Hi @manupstairs ,
This documentation is for UWP/WinUI--for WPF docs, please see https://docs.microsoft.com/en-us/dotnet/framework/wpf/graphics-multimedia/graphics

[2019-07-19 16:48] #536 closed, assigned to mijacobs

[2019-07-19 16:48] #545 closed, assigned to mijacobs

[2019-07-19 16:50] mijacobs commented on #571
We published the updated on June 21st. Please re-open if there are items missing.
https://github.com/MicrosoftDocs/windows-uwp/commit/d5667ea32e90acef44f903806aad356813ed5e62#diff-e461a5aa680b93a61bdac9007555bbf6

[2019-07-19 16:50] #571 closed, assigned to mijacobs, chigy

[2019-07-19 16:51] #572 closed, assigned to mijacobs

[2019-07-19 16:53] mijacobs commented on #737
The latest updates should fix these issues, please re-open if that's not the case.
https://docs.microsoft.com/en-us/windows/uwp/design/downloads/

[2019-07-19 16:53] #737 closed, assigned to mijacobs, chigy

[2019-07-19 16:53] #768 closed, assigned to mijacobs

[2019-07-19 16:55] mijacobs commented on #889
Hi @JeremyTBradshaw,
We recently updated the list so that it reflects all the codepoints that are publicly available.

[2019-07-19 16:55] #889 closed, assigned to mijacobs, chigy

[2019-07-19 17:01] mijacobs commented on #932
Hi @gilmanjo,
It looks like we don't have any additional documentation other than this guidance:

Essentially, for Desktop Bridge apps, just send toast notifications like a UWP app would. When the user clicks on your toast, your app will be command line launched with the launch args that you specified in the toast.

For classic Win32 apps, set up the AUMID so that you can send toasts, and then als

[2019-07-19 17:01] #932 closed, assigned to andrewleader, mijacobs

[2019-07-19 18:27] #597 closed, assigned to GrantMeStrength, jwmsft

[2019-07-19 22:13] #976 closed, assigned to mijacobs

[2019-07-19 22:15] mijacobs commented on #989
Thanks for reaching out with your feedback. I'll work on updating the documentation with this info, but in the meantime you'll find quicker support by consulting our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [Stack

[2019-07-19 22:15] #989 closed, assigned to YuliKl, QuinnRadich, jwmsft, mijacobs

[2019-07-19 22:21] mijacobs commented on #994
We don't have any plans to update this doc with info on how to design icons-the focus of this documentation is how to use existing icons and shapes.

[2019-07-19 22:21] #994 closed, assigned to mijacobs, chigy

[2019-07-19 22:22] mijacobs commented on #1037
Info about large tile sizes has been added to the Tile sizes section.

[2019-07-19 22:22] #1037 closed, assigned to mijacobs

[2019-07-19 22:25] mijacobs commented on #1409
Thanks for reaching out with your feedback. I'll work on updating the documentation with this info, but in the meantime you'll find quicker support by consulting our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [Stack

[2019-07-19 22:25] #1409 closed, assigned to andrewleader, mijacobs

[2019-07-19 22:30] #1412 closed, assigned to andrewleader, mijacobs

[2019-07-19 22:31] #1413 closed, assigned to mijacobs

[2019-07-19 22:31] #1431 closed, assigned to andrewleader, mijacobs

[2019-07-19 22:35] mijacobs commented on #1466
This is known issue with our localization tools; the loc team is developing a fix.

[2019-07-19 22:35] #1466 closed, assigned to mijacobs

[2019-07-19 22:39] mijacobs commented on #1530
It looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use the [Windows developer feedback site](https://wpdev.uservoice.com/). We’d be happy to have this on record, where others can view it and upvote it.

[2019-07-19 22:39] #1530 closed, assigned to mijacobs

[2019-07-19 22:40] mijacobs commented on #1557
Thanks for reaching out with your feedback. I'll work on updating the documentation with this info, but in the meantime you'll find quicker support by consulting our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [Stack

[2019-07-19 22:40] #1557 closed, assigned to andrewleader, mijacobs

[2019-07-19 22:42] mijacobs commented on #1618
Thanks for your feedback, the answer is 1-4--we've updated the article.

[2019-07-19 22:42] #1618 closed, assigned to andrewleader, mijacobs

[2019-07-19 22:45] mijacobs commented on #1671
I just sent a query to docs support.

[2019-07-19 23:10] mcleanbyron commented on #1808
Since this doesn't appear to be an issue with the article at this time, I'm closing this issue for now. Please feel free to reopen with more info as needed. Thanks!

[2019-07-19 23:10] #1808 closed, assigned to mcleanbyron

[2019-07-20 01:40] dongle-the-gadget commented on #1808
Thanks, I tried Start without Debugging and then everything works as expected.

[2019-07-20 01:58] dongle-the-gadget opened #1811 "Packaging Project Build Failed"
I was ready to build the packaging project when the project threw an error:
MSB3030	Could not copy the file "&lt;path&gt;\ContosoExpenses\&lt;compile path&gt;\netcoreapp3.0\Microsoft.Toolkit.Win32.UI.XamlHost.dll" because it was not found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7844818-d0b7-f502-3a07-a4970401f

[2019-07-20 21:54] tonybaloney opened #1812 "Python for scripting of Windows"
Thanks for putting this useful resource together.

For beginners, I think they could benefit from some important information around PowerShell, and the exposure of APIs via Managed DLLs.

For example, many of the system configuration options in the Windows platform are only available via managed DLLs, using a PowerShell CmdLet or using the native management tools.

If the users were coming at this

[2019-07-22 17:06] mijacobs commented on #1671
I investigated--to play the sound resources, we need to host them somewhere else, like we would host a video. Since the sound clips are a nice addition to the article but not essential to understanding the content, I removed them.

[2019-07-22 17:06] #1671 closed, assigned to GrantMeStrength, kikisaints, mijacobs

[2019-07-22 17:09] mcleanbyron commented on #1748
Thanks for pointing this out. I followed up with the engineering team and added some further guidance about dealing with password-protected files (store the password in Azure Key Vault, map it to a variable group that you can reference in the pipeline, and specify the password via the PackageCertificatePassword MSBuild argument).

[2019-07-22 17:52] mijacobs commented on #1806
@Karl-Bridge-Microsoft , this probably is for this article:
https://docs.microsoft.com/en-us/windows/uwp/monetize/ui-and-user-experience-guidelines

[2019-07-22 17:54] mijacobs commented on #1512
We've updated the article, thank you!

[2019-07-22 17:54] #1512 closed, assigned to mijacobs

[2019-07-22 18:02] mijacobs commented on #440
The PDF has been fixed.

[2019-07-22 18:02] #440 closed, assigned to nobody

[2019-07-22 20:37] tipa commented on #1673
I would also be interested in that algorithm - any updates to this?

[2019-07-22 20:40] YellowAfterlife commented on #1673
The only thing that I can find on the matter is [this StackOverflow answer from 2017](https://stackoverflow.com/a/45356490/5578773), which links back to this page and cites the formula for title bar font color,
[code]
Having these little formulas public is essential for having applications fit in with the OS - if you experiment with middle-of-luminance-spectrum accent colors (e.g. `#06A8C3`), you

[2019-07-23 00:13] chigy opened #1813 "Screenshot of the dialog is outdated and should be updated"
The screenshot of the dialog is outdated with the accent color border. We replaced it with shadow and no border and should reflect that change in the doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3361e67d-b904-0d10-42d7-abf317fbf0ab
* Version Independent ID: 993d923a-b11a-2f4e-6751-a0a266109e8b
* Content: [Dialog

[2019-07-23 14:16] dingsheng999 opened #1814 "Too limited usage makes this almost useless for many apps"
For example, a photos app usually needs to list all photos of a folder but for many cases the folder is not indexed. As a developer I cannot rely on this. There is an obvious performance gap between Win32 application methods and this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 118371e5-b7e2-febe-b88f-bdeb068db567
*

[2019-07-23 15:21] CeciAc commented on #1640
@knicholasa This issue is already resolved in the https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/9

#please-close

[2019-07-23 15:23] CeciAc commented on #1639
@knicholasa This issue is already resolved in the MicrosoftDocs/windows-uwp.ja-jp#8

#please-close

[2019-07-23 16:17] knicholasa commented on #1639
Got it, thanks.

[2019-07-23 16:17] #1639 closed, assigned to nokura, DavidPrio, knicholasa, v-nidolc

[2019-07-23 16:17] knicholasa commented on #1640
Got it, thanks.

[2019-07-23 16:17] #1640 closed, assigned to nokura, DavidPrio, knicholasa, v-nidolc

[2019-07-23 20:27] #1307 closed, assigned to Karl-Bridge-Microsoft

[2019-07-23 20:52] melvyniandrag opened #1815 "Need Quotes"
Need Quotes are x:Name in:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d61d8e1-c0c9-e605-8ddd-714ffa400204
* Version Independent ID: 6d753cc1-93a9-adf4-00bf-1b967df8b7c8
* Content: [Time picker - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/time-picker#

[2019-07-23 21:09] scottkuhl opened #1816 "Screenshot Out of Date"
The screenshot has not been updated for version 3.3.  It is missing the sections for Services and Testing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 267c2143-4e40-fce9-97b8-8b3ebb10e555
* Version Independent ID: 7570c8f4-d0fa-bdbc-4ac6-71821b1a11eb
* Content: [Windows Template Studio - Windows UWP applications](ht

[2019-07-23 22:55] mcleanbyron commented on #1811
Thanks for reporting this. We are investigating this issue.

[2019-07-23 23:56] Karl-Bridge-Microsoft commented on #1683
Thanks @YuliKl. I've replaced them with images used in the menus.md and appbars.md topics.

[2019-07-23 23:56] #1683 closed, assigned to Karl-Bridge-Microsoft

[2019-07-24 12:28] dontspeak opened #1818 "äö#"

[2019-07-24 12:31] dontspeak commented on #1717
Is this really the solution? Sorry, but I cant believe that MS does not update its documentation or resolves the bug (if any).

By the way, this does not work, as the error that appears then is:  Another object with the same value for property identifierUris already exists. [LsUND]

[2019-07-24 15:27] Lechus commented on #976
ClickOnce - to get your AppId.
https://www.devexpress.com/Support/Center/Question/Details/T613322/xaf-text-notification-using-toasts-in-winforms-apps-deployed-through-click-once-not

[2019-07-24 15:33] Lechus commented on #361
To get appid for clickonce deployed app:
https://www.devexpress.com/Support/Center/Question/Details/T613322/xaf-text-notification-using-toasts-in-winforms-apps-deployed-through-click-once-not

It works for me.

[2019-07-24 17:25] Preppy commented on #1673
Thanks for reaching out and pointing me to this thread.  I can confirm that the formula mentioned by YellowAfterlife is the formula in use here.  That is the old logic used dating back at least to ComCtl and we have maintained compatibility with that.

[2019-07-24 17:35] andrewleader commented on #1601
You have to be using the Desktop Bridge and UWP APIs to use the Notification Listener as the APIs require identity and an installed package.

[2019-07-24 17:35] #1601 closed, assigned to andrewleader

[2019-07-24 18:09] tipa commented on #1673
I was rather curious about how UWP is calculating the shades based on an accent color, not the theme

[2019-07-25 00:11] mattwojo commented on #1818
Not sure what this about. Closing.

[2019-07-25 00:11] #1818 closed, assigned to nobody

[2019-07-25 00:19] Preppy commented on #1673
That is not currently documented that I am aware of.  Quick general overview:
* The stock 48 palettes as shown in the Settings page have values manually assigned, generally hewing to a base logic but with specific tweaks here and there
* For colors with extreme values for luminosity or saturation, we do some special logic
* For other colors, we do some further undocumented calculations from there

[2019-07-25 00:23] mattwojo commented on #1812
Thanks Tony!  Appreciate the feedback!

Do you think it would be more helpful if we set the context at the beginning of the article that we're not really doing special Windows-specific stuff... rather just pointing out some of the helpful libraries in Python that can automate tasks across platforms... like searching your file system, accessing the internet, parsing file types, etc... but from a Wi

[2019-07-25 02:45] amcasey commented on #1802
Another customer identified these pages with similar issues:
https://docs.microsoft.com/en-us/windows/uwp/get-started/your-first-app
https://docs.microsoft.com/en-us/windows/uwp/get-started/create-a-hello-world-app-js-uwp

[2019-07-25 05:27] namlgiang opened #1819 "Please help, I can't update my payout assignment"
https://i.imgur.com/PlVQBmh.png

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98f4a20b-33aa-a616-6206-461d83fde6b8
* Version Independent ID: c28b8f31-922e-02b3-93c9-effa13395e1d
* Content: [Set up your payout account and tax forms - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/publish/setting

[2019-07-25 08:20] nadavisr opened #1820 "Use Graphics.Capture API without GraphicsCapturePicker"
Hi,
Is there a way to capture the screen without displaying GraphicsCapturePicker to the user?
I want my program to capture and record the screen without user intervention
Thanks,

[2019-07-25 08:38] mehmetgulmus opened #1821 "Good"
my problem is corrected.
---
#### Belge Ayrıntıları

⚠ *Bu bölümü düzenlemeyin. docs.microsoft.com ➟ GitHub sorunu bağlantısı için gereklidir.*

* ID: 98f4a20b-33aa-a616-6206-461d83fde6b8
* Version Independent ID: c28b8f31-922e-02b3-93c9-effa13395e1d
* Content: [Set up your payout account and tax forms - Windows UWP applications](https://docs.microsoft.com/tr-tr/windows/uwp/publish/setting-up-your

[2019-07-25 18:56] CeciAc opened #1822 "Document(ja-jp) is not translated."
Hi team,
I'm moving this from here: https://github.com/MicrosoftDocs/windows-uwp.ja-jp/issues/51
There's a paragrph which is not localized in all locales due a source issue

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c611201-543d-0dba-54ba-ebf351b6cad0
* Version Independent ID: 5a4827fa-32b1-22b2-9eea-71b4144ae1d0

[2019-07-25 18:58] CeciAc commented on #1822
Comment from our engineer team:

![imagen](https://user-images.githubusercontent.com/26746247/61900927-fbb97780-aef4-11e9-9bee-5d3a47caac3c.png)

[2019-07-25 20:46] #1821 closed, assigned to hickeys

[2019-07-25 21:17] michael-hawker opened #1823 "VSIX Templates are missing from marketplace"
This article mentions templates available in the Visual Studio Marketplace, but the link just goes to the marketplace home page and searching doesn't return any results?  It'd be nice for the templates to be re-uploaded to the marketplace?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c161a2e-d9f4-466f-5a63-5e25648a1

[2019-07-25 21:34] LanceMcCarthy opened #1824 "Missing Instruction for Required Flag"
When following these directions, you'll end up being stuck with a compiler error stating that you can only have one "entry point". To avoid this, you need to set a flag to tell the compiler that the Program.cs Main should be used instead.

This is done by disabling XAML generated entry point using the `DISABLE_XAML_GENERATED_MAIN` flag in the csproj property groups:

Before (incorrect)
[code]

Aft

[2019-07-26 00:44] asklar opened #1825 "broken link"
the link to XamlApplication.cs on GitHub is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f2fc66b-ffa8-5128-8658-a8ea1d064e47
* Version Independent ID: ce50830e-9947-ad68-709c-1e3fd049bb71
* Content: [Using the UWP XAML hosting API in a desktop application - Windows apps](https://docs.microsoft.com/en-us/windo

[2019-07-26 00:46] asklar commented on #1825
actually a lot of the GitHub links on that page are broken

[2019-07-26 12:40] LanceMcCarthy commented on #1823
It turns out the package is still there, but the search feature of the Marketplace is broken and nothing returns a result.

May I suggest adding a hyperlink right to the package? Otherwise, there is no way to discover and download it.

Here's the url - https://marketplace.visualstudio.com/items?itemName=AndrewWhitechapelMSFT.MultiInstanceApps

[2019-07-26 18:19] jevansaks commented on #1349
@RobbyRobbyRobby can you elaborate on the crash? Maybe provide the error message you get and the stack?

For product bugs we prefer to track them on our product GitHub -- https://github.com/microsoft/microsoft-ui-xaml.

[2019-07-26 18:56] knicholasa commented on #1823
Thanks for catching that @michael-hawker , and thanks for finding the correct template @LanceMcCarthy !

I'll update the url on the page, it should show up within a day or so.

[2019-07-26 18:56] #1823 closed, assigned to knicholasa

[2019-07-28 09:49] matthewpaulthomas opened #1827 "Says you can make unplated assets — but doesn’t say how"
“If you want, you can provide a target-based unplated asset.” Unfortunately, there are no instructions on how.

(Apparently this involves producing files with names where “.png” is changed to “_altform-unplated.png”.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc48efcd-ad3f-1b01-6a6a-a6865b4b7624
* Version Independ

[2019-07-28 10:10] matthewpaulthomas opened #1828 "Doesn’t specify which asset is used in a window title bar"
The page begins “Every app has an icon/logo that represents it, and that icon appears in … • The title bar of your app window”.

The following table of where each “Icon name” “Appears in” specifies many different places in the Windows GUI — but unfortunately not the window title bar. Nor is this specified anywhere else in the document.

---
#### Document Details

⚠ *Do not edit this section. It is

[2019-07-28 11:58] daviddetweiler opened #1829 "`co_await`-ing a std::chrono literal does not compile in latest versions of MSVC"
Title, co_await is not defined for std::chrono duration types anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd174fcd-dc5c-7536-9a12-0e7b5926e739
* Version Independent ID: b66899fb-46a5-ac2c-b9e0-a23ddb351b2b
* Content: [More advanced concurrency and asynchrony with C++/WinRT - Windows UWP applications](https:

[2019-07-28 17:51] viktorszekeress opened #1830 "How to show Lifecycle events toolbar"
Hi, it would be nice to see steps how to display Lifecycle events. It's not very intuitive, hidden under Debug location toolbar.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95b1d81a-323c-259b-d74a-146543a751b7
* Version Independent ID: fb01280b-8799-cd35-48fd-33976b841804
* Content: [Debug a background task - Window

[2019-07-29 03:13] hyoshioka0128 commented on #1672
related: "https://github.com/MicrosoftDocs/windows-uwp.ja-jp/pull/42"
Fixed.
Close #1672

[2019-07-29 03:13] #1672 closed, assigned to hickeys

[2019-07-29 09:12] jb92 opened #1831 "Pick a file certificate with the app manifest"
Hello,

The doc about [Configuring an app package](https://docs.microsoft.com/fr-fr/windows/uwp/packaging/packaging-uwp-apps#configure-a-package-with-the-manifest-designer) says:
" Notes
Starting in Visual Studio 2019, a temporary certificate is no longer generated in UWP projects. To create or export certificates, use the PowerShell cmdlets described in this article."

So yes, inside the manifest

[2019-07-29 18:28] jwmsft commented on #1349
@jevansaks, this is a doc issue. You can't pass `null` to SetContentFromBitmapImage as shown in the example. I've submitted an update to correct the code. It should look like this:
`e.DragUIOverride.SetContentFromBitmapImage(new BitmapImage(new Uri("ms-appx:///Assets/CustomImage.png", UriKind.RelativeOrAbsolute)));`

[2019-07-29 19:14] jwmsft commented on #615
Doc and sample code have been updated to show DataTemplateSelector.

[2019-07-29 19:14] #615 closed, assigned to jwmsft

[2019-07-29 19:26] chigy opened #1832 "Image needs to be updated"
There is an image that appears to be of a Sets feature that is no longer pursued.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9faf87c-bd56-99da-70ed-07c68f9118a5
* Version Independent ID: 713b5c24-d710-303f-620e-9c7735797907
* Content: [Acrylic material - Windows UWP applications](https://docs.microsoft.com/en-us/w

[2019-07-29 19:36] mijacobs commented on #1832
Which image?

[2019-07-29 19:48] chigy commented on #1832
https://docs.microsoft.com/en-us/windows/uwp/design/style/images/maps_in_app_acrylic_1.png and https://docs.microsoft.com/en-us/windows/uwp/design/style/images/mail_transientcontextmenu.png

[2019-07-29 21:49] jwmsft commented on #1807
Maybe just be a mention in the list, then link to [Toggles](https://docs.microsoft.com/windows/uwp/design/controls-and-patterns/toggles) page, which should be updated with more ToggleButton info?

[2019-07-30 01:07] knicholasa commented on #1814
Hi @dingsheng999, this is good feedback, but it looks like it's product feedback rather than documentation feedback. Please use the [Windows developer feedback site](https://wpdev.uservoice.com/). We’d be happy to have this on record, where others can view it and up-vote it.

[2019-07-30 01:07] #1814 closed, assigned to knicholasa

[2019-07-30 13:58] jordanmills opened #1833 "API being deprecated... more details?"
I can't get the feedback widget to load on the doc page, but it is https://docs.microsoft.com/en-us/windows/uwp/security/companion-device-unlock from https://github.com/MicrosoftDocs/windows-uwp/blob/docs/windows-apps-src/security/companion-device-unlock.md

It says:

Does that mean that the API is being deprecated from windows, or just from windows 10 iot?  It's a pretty big difference.  MS conti

[2019-07-31 07:10] tonybaloney commented on #1812
Yes, this is exactly what I mean. thanks.

[2019-07-31 09:28] MB-Atos opened #1835 "German translation errors"
The following MS Build parameters to "renamed" in the german translation:

"PackageCertificateKeyFile" got "Packagecertificatekeyfile" (loss of CamelCase)
"PackageCertificatePassword" got "Packagecertifialisiepassword" (???)
I do not think, this is the way it should be.

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub

[2019-07-31 12:13] MB-Atos opened #1836 "Unclear documentation regarding PackageCertificatePassword parameter"
During the explanation on how to integrate a certificate for package signing, it would help a lot if you could state that the "PackageCertificatePassword" Parameter is ONY for the private key, if it has a password at all. The refernced / used PFX file must not be password protected. Or is there another way to pass this password in as well?

---
#### Document details

⚠ *Do not edit this section. I

[2019-07-31 18:00] hickeys commented on #1806
Thanks for logging this. I've checked with the team to get more precise information regarding our rotating banner ad policy, and will update the documentation when I understand our policy.

[2019-07-31 18:01] hickeys commented on #1819
Thank you for logging this issue.

In general, GitHub comments should not be used for logging bugs against products; they are only for documentation issues. However, I happen to have been working with this team on this exact page for the last couple weeks, so I've gone ahead and passed this along to them. I will update here when I hear back from them.

[2019-07-31 18:21] mcleanbyron commented on #1835
Assigning to David Prioni for localization triage.

[2019-07-31 19:33] CeciAc commented on #1835
Hello, @MatBenAtos

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2019-08-01 15:43] AurelienS opened #1837 "Missing translation for Description column for local fr-FR"
there is only few icon that have a french description. for example, 'Forward' button is not translated in French but 'Back' button is.

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 60025def-004a-97b9-be6e-a2678e0b4461
* Version Independent ID: 51e386c5-e9cf-f900-ba27-1479709f8186
* Content: [Recomm

[2019-08-01 19:37] #1790 closed, assigned to jwmsft

[2019-08-02 02:23] Gavin-Williams opened #1838 "Setting the title bar text doesn't work as expected"
My title bar shows "Samples". If I set the title bar text to "Engine Samples". The title bar shows "Engine Samples - Samples". I'm working in CoreApp style. And the purple box here suggesting that the code be placed in OnLaunched is wrong for CoreApps, there is no OnLaunched. I have to place the call into either Activated or Run. And both are too late as the window already has the Assembly name wh

[2019-08-02 16:17] mijacobs commented on #1838
@Gavin-Williams : I'm sorry, I don't know what you mean by "CoreApp" style--I'm not aware that it's an option for UWP apps. Can you confirm that you're working in a UWP app?

[2019-08-02 16:28] Gavin-Williams commented on #1838
Yes, it's UWP, The CoreApp style is no-Xaml. I implement .. [Windows.ApplicationModel.Core.IFrameworkView](https://docs.microsoft.com/en-us/uwp/api/windows.applicationmodel.core.iframeworkview) interface.
This application model is typically seen in C++ DirectX applications. But I use it in C# when I don't want the Xaml layer, using my own rendering and UI layers. So there are some slight differenc