[2018-10-08 16:15] #1053 closed, assigned to JnHs

[2018-10-08 16:57] WilliamsJason commented on #1002
I posted a response to this on https://github.com/Microsoft/WindowsDevicePortalWrapper/issues/294 that might help. Can you give that a shot?

[2018-10-08 18:14] AuriR commented on #934
There's a link with detail, but I still can't add the entry. It says text isn't allowed where I placed it, odd. Here's the link, though: https://docs.microsoft.com/en-us/windows/uwp/packaging/app-capability-declarations

[2018-10-08 18:59] ObsidianMinor opened #1068 "Unexplained placement properties"
There's a section in this article about "Placement" and it talks about how you can place the command bar on the top of the screen, on the bottom of the screen, or both. But it doesn't provide any example code or any information about how to adjust the placement of the command bar.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2018-10-08 22:54] eliotcowley commented on #995
Hi @JimmyRespawn, you should be able to solve this by adding a margin to the [ItemsPresenter](https://docs.microsoft.com/uwp/api/Windows.UI.Xaml.Controls.ItemsPresenter). See [Scrolling ends of lists and grids](https://docs.microsoft.com/windows/uwp/design/devices/designing-for-tv#scrolling-ends-of-lists-and-grids) for more info. Does that help?

[2018-10-08 22:54] ridomin commented on #1066
Hi, I've not been able to reproduce, can you provide additional details?
Which OS? Which SDK are you targeting? Which Update Policy are you using? Any specifics about your app?

[2018-10-08 23:02] stevewhims commented on #406
Hi, @optikos, I've made some progress porting Bookstore2 to C++/WinRT. On the to which this issue is attached, the Bookstore2 link (under the heading "Sample apps that demonstrate {Binding}") now downloads a zip that contains both cs and cppwinrt folders, each folder containing a functionally identical app in the respective language projection. One caveat is that I'm still getting the C++/WinRT ve

[2018-10-08 23:28] JimmyRespawn commented on #995
@eliotcowley I think the margin of the ItemsPresenter for the listview and gridview is only afftect when you scroll to the end of the list. You can even set the margin directly to the listview to achieve same effect. It does not change the Highlight Item margin I think.

[2018-10-09 00:36] JnHs commented on #1065
I have not heard of anything like this before - please open a support request at http://aka.ms/storesupport so we can gather more info and look into this.

[2018-10-09 00:36] #1065 closed, assigned to JnHs

[2018-10-09 07:08] zhangl1201 commented on #333
I have installed C++/WinRT VSIX successfully today when I failed to find it in Visual Studio Installer.
And My partner has installed C++/WinRT as a individual component in Visual Studio Installer... Confusing

[2018-10-09 15:42] eliotcowley commented on #995
@JimmyRespawn Maybe I'm misunderstanding&mdash;I thought you wanted to apply a margin so that the selected item never gets cut off by the bottom of the screen as you scroll down. Can you explain what you're trying to do here?

[2018-10-09 17:07] techjogger opened #1070 "Can you link to a sample project?"
Can you link to a sample project?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9b1bd20-afd5-4520-2b3f-24da95525afe
* Version Independent ID: 1aa742aa-2bdc-c8bf-ee94-fbaeaa0558d0
* Content: [Interop between C++/WinRT and C++/CX - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/inter

[2018-10-09 20:47] #1043 closed, assigned to eliotcowley

[2018-10-09 22:32] jwmsft commented on #1025
Hi @JsonTextfield, Thanks for letting us know about this. This issue is fixed now.

[2018-10-09 22:32] #1025 closed, assigned to mijacobs

[2018-10-09 23:48] JimmyRespawn commented on #995
@eliotcowley I want to manually control the position of selected item inside a scrollview/gridview.
Here's a quick video between, store app and my app
[Showcase Video](https://www.youtube.com/watch?v=g7Nx0eYmNUA)
Like you saw, there are couple textblocks and one line gridview genre. When the item from single line gridivew get selected, by system default, it only shows 4-8 pixels from bottom. If I

[2018-10-10 03:19] hocalvin79 opened #1071 "Master"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b08c6292-c94c-2d95-e800-b14d404879f9
* Version Independent ID: 83029484-dc65-6c17-80f3-e75a6bbc6732
* Content: [Display ads in your app with the Microsoft Advertising SDK - UWP app developer](https://docs.microsoft.com/en-gb/windows/uwp/monetize/displ

[2018-10-10 15:41] ginami commented on #1071
Hi @hocalvin79 -- please let us know if you have specific feedback for our docs. Thank you!

[2018-10-10 15:41] #1071 closed

[2018-10-11 02:42] HaoLife commented on #988
D:designinstance does not take effect in the UWP, but it can be used in WPF
@mcleblanc

[2018-10-11 03:52] sanjeev3094 opened #1073 "Windows speech recognition show numbers doesn't work on it"
When using windows speech recognition the buttons are not given any number, so no action can be taken by the windows speech recognition leaving me blocked once the content dialog opens.
Note: It works only for ContentDialog which is shown when App launches, but subsequent ContentDialog doesn't work. So in this topic, you should cover these aspects too mentioning the limitations.

---
#### Document

[2018-10-11 07:59] tnc1997 opened #1074 "GridView ItemClick"
Hi all, great tutorial series! In Part 5 of this tutorial, I was unable to get the GridView ItemClick event firing with only `ItemClick="ImageGridView_ItemClick"`. I had to also add `IsItemClickEnabled="True"` to the GridView in order to get the ItemClick event firing. Perhaps this additional property could be added to the `&lt;GridView x:Name="ImageGridView" ItemClick="ImageGridView_ItemClick"` c

[2018-10-11 08:23] PaulCapron opened #1075 "Doc on package version numbers could be more precise"
Hello,

The documentation on what constitutes a valid UWP package version number is vague.

Worse, if you search on the Web what, for instance, are the minimum and maximum values for a version number, you may end up mistaken. All I could find were _official_ but _unfit/obsolete_ documents, like https://docs.microsoft.com/windows/desktop/msi/productversion which talks about non-UWP apps, and says t

[2018-10-11 11:11] taaoo75 commented on #1066
Thanks for the kind and prompt reply my friend. Here are the particulars you requested.

Windows Specification

Edition: windows 10Pro.
Version: 1803
OS build: 17134.345

.Net framework version: 4.7
VS version: 15.7.1, Professional 2017
Windows 10 SDK (10.0.16299.0) for UWP

[2018-10-11 13:55] JulienVink opened #1076 "Submit presence"
I'm here who else?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 127f67d8-f9fc-8ec6-4131-b4ba8a9c402a
* Version Independent ID: 9c4db5fb-884d-aaf5-78cb-b80e7a2089a9
* Content: [Engage with your customers - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/publish/engage-with-your-customers)
* Content Sou

[2018-10-11 18:59] ginami commented on #1076
Hi @JulienVink -- please let us know if you have any specific feedback for our docs. Thank you!

[2018-10-11 18:59] #1076 closed, assigned to nobody

[2018-10-11 19:29] JnHs commented on #1075
Hi Paul - thanks for pointing these out. We do mention that the last number must be set to 0 and is reserved for Store use in the "Important" note near the top of the topic, but the other points you mention would be good to include as well. I'm confirming that this is all accurate (and if there are any other caveats or restrictions to mention) and will get the topic updated once I do so!

[2018-10-11 21:36] TyBarthel opened #1077 "Windows.UI.Xaml Package Default Templates"
Is there a place where these default templates (i.e. NavigationView) are available?

It makes it much easier to provide a custom template when using the default as a starting point.

[2018-10-12 01:27] rido-min commented on #1066
@taaoo75 Visual Studio generates the app installer file when Target Platform Min Version is 10.0.17134.0 or greater, I hope you have a most recent SDK version.

Also, will be good to know which kind of app (C#, C++, JS UWP or Desktop Bridge), and where are you hosting your files (HTTP, Shared Folder).

If you could share the original appinstaller file as well the updated one will help to understan

[2018-10-12 12:30] linhnddev opened #1078 "Webm vp9 support for Adaptive Streaming?"
Hello,

I have tried to set a Webm vp9 codecs DASH url to Adaptive. I show "file not supported..."

If I set a Webm video file directly to MediaPlayerElement and it works. That means UWP support Webm file

I tried to debug with adaptive streaming sample app. It shows error: "the data in the stream is corrupt" while downloading InitSegment. I'm sure it's not corrupted

---
#### Document Details

⚠

[2018-10-12 14:15] adamhewitt627 opened #1079 "`key` in the request is required."
It's pretty obvious that it would be, otherwise there isn't anything to renew, but I confirmed anyway that the HTTP fails if it is excluded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b504355-1c98-acbd-7063-273771028f26
* Version Independent ID: d64bd82e-67eb-a4ed-e0dd-cb67bf7ea0bb
* Content: [Renew a Microsoft St

[2018-10-12 16:10] mcleanbyron commented on #1079
Thanks for reporting this error! I have fixed the article to reflect that the key is required, and this change should show up on the live docs site in a few days.

[2018-10-12 16:10] #1079 closed, assigned to mhopkins-msft

[2018-10-12 16:40] jwmsft commented on #1077
Hi @TyBarthel, if you have the SDK installed, you'll find the default XAML control templates in the generic.xaml file located at C:\Program Files (x86)\Windows Kits\10\DesignTime\CommonConfiguration\Neutral\UAP\<SDK version>\Generic. You can find more info in [XAML theme resources](https://docs.microsoft.com/windows/uwp/design/controls-and-patterns/xaml-theme-resources).

[2018-10-12 19:18] eliotcowley commented on #995
@JimmyRespawn Okay I see what you're saying. I'm not able to test it out myself at the moment but I've reached out to some people who know more and will get back to you.

[2018-10-12 19:33] eliotcowley commented on #612
Hi, just an update on this. @CristianKica asked earlier about capturing only a portion of the screen without a picker. With the 1809 update, this is now possible with [GraphicsCaptureItem.CreateFromVisual](https://docs.microsoft.com/uwp/api/windows.graphics.capture.graphicscaptureitem.createfromvisual). You can get the [Visual](https://docs.microsoft.com/uwp/api/windows.ui.composition.visual) of a

[2018-10-12 19:51] baclark774 commented on #862
@WilliamsJason Would it be possible to provide a command line example of a control to the websocket api using something like wscat or any other command line based websocket tool? I'm setting up a remote test api for our xbox's and have everything working except the remote inputs and could use a little nudge :-) Right now i'm using wscat but can't connect and send a keyboard down command. Any help

[2018-10-12 22:22] michael-hawker commented on #1077
It'd be nice if the latest versions were updated on the [Default control styles and templates](https://msdn.microsoft.com/en-us/library/windows/apps/mt299122.aspx) page, I think it was last updated for RS2.  It's a huge mess to crawl through generic.xaml.  And the individual pages I linked to nicely separated out the VisualStates for each control as well as the utilized resources.

[2018-10-12 22:39] TyBarthel commented on #1077
Updated styles and templates page would be great.

I was aware of the SDK generic XAML locations locally, but I mainly wondering about the prerelease NuGet packages since they are shipping out of band from the SDK.

[2018-10-14 02:26] JimmyRespawn commented on #995
@eliotcowley Good to hear. This issue is kind of experience breaking.

[2018-10-15 16:24] djarcas commented on #1010
Looks like they're all broken again, and all redirect to : https://partner.microsoft.com/en-us/dashboard/directory

[2018-10-15 16:25] djarcas opened #1081 "Xbox activate link broken once more"
http://developer.microsoft.com/xboxactivate.
Tried to follow the procedure, but the link landed on invalid homepage. Couldn't find further instructions about how to create a devkit and associate my gamer account to the devkit.

I tried the links:

https://partner.microsoft.com/xboxactivate
or https://partner.microsoft.com/en-us/xboxdevices?activate=1

Also, to manage your devices once registered:

[2018-10-15 16:56] taaoo75 commented on #1066
Rido my friend,

Tried sending you the files as a zip package at rmaplos dot Microsoft dot com but the email got rejected by the host 🙁
________________________________
From: Ricardo Minguez (Rido) <notifications@github.com>
Sent: Thursday, October 11, 2018 9:27 PM
To: MicrosoftDocs/windows-uwp
Cc: taaoo75; Mention
Subject: Re: [MicrosoftDocs/windows-uwp] Application updates only once (#1066)

@ta

[2018-10-15 16:59] rido-min commented on #1066
@taaoo75  sorry, there is a typo in the email (corrected). It should be rmpablos

[2018-10-15 17:29] guilekim72 opened #1082 "I don't see "Graphics Capture" capability in Visual Studio 2017"
In link below:
https://docs.microsoft.com/en-us/windows/uwp/audio-video-camera/screen-capture

There is an instruction how to add "the screen capture" capability into my app.
But when I open the "Capabilities" tab in Package.appxmanifest, I don't see "Graphics Capture" check box.

I might be missing some components to install.  Any idea what are they?

My environment:
- Windows 10 Enterprise Build

[2018-10-15 17:49] eliotcowley commented on #995
@JimmyRespawn Okay here is what they said: It could be an issue with nesting a **GridView** inside a **ScrollViewer**. **GridView** has its own **ScrollViewer**, so if you remove the outer **ScrollViewer** and rely on the **GridView**'s instead, that might fix the issue.

If that's not the issue, and you want more fine-grained control over how the item is brought into view, if your app targets 180

[2018-10-15 17:58] guilekim72 commented on #1082
Never mind!  I've updated VS 2017 through VS installer then I can see it.

[2018-10-15 17:58] #1082 closed, assigned to nobody

[2018-10-16 00:11] JimmyRespawn commented on #995
@eliotcowley Thanks for reaching back. BringIntoViewRequested seems a promising way to fix the position of selected item. I'll try it out.

[2018-10-16 10:08] PascalTNL opened #1083 "RHPROXY for the Intel Apollo Lake Series?"
I am not a experienced ASL programmer so I hoped to find help here.
I was trying to adapt the code given in the appendix to my Intel Atom E3950 Apollo Lake chip with Windows 10 Enterprise on it. But for some reason it does not work proberly (It just appears in the device manager but is not accessable when tested with the verificationmethods of the testtools or a own sample program with Windows.dev

[2018-10-16 19:23] mjfusa opened #1084 "Link to File Redirection Fixup == 404"
Clicking on the File Redirection Fixup link routes the user to a GitHub page not found page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c064b714-da78-4e0f-c851-bb17c06bc553
* Version Independent ID: a99df892-16ac-3a5a-f241-f4d03a7e5448
* Content: [Fix issues that prevent your desktop application from running in an

[2018-10-17 14:34] denizgokce opened #1085 "Handling Prelaunch event is ambiguous!"
In this document, implementation is shown but the exact function for prelaunch state is ambiguous. Where is the function that I can call before everything starts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c02c96c-87a4-b8de-1aa3-03fc6bf29b4e
* Version Independent ID: 4c5d47fa-ad5e-d4cd-b78d-6da56ae7996a
* Content:

[2018-10-17 18:53] oliverluethi opened #1086 "ScreenCapture MediaComposition only shows the last frame"
Hi there

I'm using the ScreenCapture sample from microsoft [ScreenCapture](https://docs.microsoft.com/en-us/windows/uwp/audio-video-camera/screen-capture).

The capturing works as expected, but if I want to save the frames to a mediacomposition for rendering a .mp4 video, only the last frame is rendered to the video. But if I resize the captured application window all frames are saved how they sh

[2018-10-18 11:15] oliverluethi commented on #1086
@eliotcowley Found a issue with the same content #612. I need to save the video to a .mp4 file. I guess the workaround on issue #612 isn't the right way?

[2018-10-18 16:05] frangagn opened #1088 "OnLaunched: No suitable found to override"
God I get irritated when I copy and paste your code as-is and it still generate a cryptic error message. This is what you recommend we do as of 07/01/2018, and yet..... So please either fix your documentation or delete it if it does not work.....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bc80d73-48ee-f480-4106-82

[2018-10-19 01:13] ghostcaptain18 opened #1089 "Link is broken"
The link takes me the wrong page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc064e49-5f24-ff80-d511-7f1947fc39da
* Version Independent ID: b8ad47c2-8264-c232-167f-b9ee69d6dce1
* Content: [Xbox One Developer Mode activation - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/xbox-apps/devkit-activation

[2018-10-19 01:33] mtoepke commented on #1089
Hi @ghostcaptain18 ,

You'll need to first sign into Dev Center with your Windows Dev Center account, then you should be able to follow that link.

See https://docs.microsoft.com/en-us/windows/uwp/publish/using-the-windows-dev-center-dashboard
 for information on Dev Center and creating an account.

[2018-10-19 01:34] mtoepke commented on #1081
Hi @djarcas

You'll need to first sign into Dev Center with your Windows Dev Center account, then you should be able to follow that link.

See https://docs.microsoft.com/en-us/windows/uwp/publish/using-the-windows-dev-center-dashboard for information on Dev Center and creating an account.

[2018-10-19 01:47] ghostcaptain18 commented on #1089
@mtoepke partner.microsoft.com/xboxactivate aka.ms/activatexbox both of those do not work for me.

[2018-10-19 01:55] mtoepke commented on #1089
@ghostcaptain18

Can you try in a new InPrivate or Incognito window?  Or after flushing your cache?

And make sure you are signed into Dev Center / Partner Center with your developer account.  It should show your studio name in the upper left, something like "Partner Center | mystudioname", for example, when you navigate to https://partner.microsoft.com/en-us/dashboard/windows/overview.

[2018-10-19 02:22] honorew opened #1090 "smbios"
<rescap:Capability Name="smbios" />
This capability can not pass by .Net native Complie.

[2018-10-19 06:56] mdmozibur opened #1091 "Why can't i store those IDirect3DSurface ?"
I have a List&lt;IDirect3DSurface&gt; and I wanted to store those surfaces in this list. so, before calling the `ProcessFrame(frame);` method,  I just used `mylist.add(frame.Surface);`
But when I create a video out of this stored surfaces using MediaComposition class like this :

[code]

 it shows the first frame, and then that all the other frames are like the last frame.. so the video looks like

[2018-10-19 08:51] djarcas commented on #1081
Yup, I'm signed in, and it just takes me to the page, via

https://login.microsoftonline.com/common/oauth2/authorize?client_id=4990cffe-04e8-4e8b-808a-1175604b879f&response_mode=form_post&response_type=code+id_token&scope=openid+profile&state=OpenIdConnect.AuthenticationProperties%3dUoXOsjq34NGRskAl3KO2Chd5I3Q7l_MW8MC4unzlfUv53whRgmClZQAfjg61HFFQMkD2G4FjOwggbXe5DrgIxqoQSLqFcUkdrsdBpmlkwK5CvFX5lLxd

[2018-10-19 12:51] hampuslidin opened #1093 "Having Featured Stats as persistent leaderboards per in-game level"
Hello!

As I understand it, featured stats are only temporary statistics, that are wiped at the beginning of each month. How would you go about to have (in-game) leaderboards, which are persist "forever"? We want to have about 100+ unique leaderboards for each of the levels in the game, which also would go against the 20 featured leaderboard limit. Do we need to use some other service for this use

[2018-10-19 18:38] ginami commented on #1090
Hi @honorew -- can you please give me the URL of the page this feedback is about? That will help me route your comment to the correct author.

[2018-10-19 19:38] mtoepke commented on #1081
@djarcas

Can you try in a new InPrivate IE window?  That worked for me.  And if that doesn't work, try clearing your cache.

Also, to verify your Dev account:
If you are logged into Partner Center (http://partner.microsoft.com/dashboard/directory with a valid Dev account, on the left side you should see something like "Partner Center", your studio name, and below that the 3-line menu button, and

[2018-10-19 19:59] stevewhims commented on #1070
Hi, @techjogger, I've now updated this topic with more information. If you follow the steps in the topic now, then you can create a new sample project of your own. You just create a new project, set a property, and paste in some code. The full details are in the topic right now.

Please let me know whether this new info is helpful and/or sufficient.

Thanks!
~Steve

[2018-10-19 23:03] aablackm commented on #1093
Hello lidin,
Featured Stats are persistent over time, but to attain the number and type of leaderboards you mentioned here you will need to use the Stats 2013 and Leaderboards 2013 services. The Stats 2013 service is described in the [Player Stats](https://docs.microsoft.com/en-us/windows/uwp/xbox-live/leaderboards-and-stats-2017/player-stats) article. However, it is not available to Creator's Pro

[2018-10-20 12:11] laultman opened #1094 "Missing Code References - Incomplete Documentation"
In numerous places in the documentation mention is made of using separate files to store ResourceDictionary XAML but there is no sample of actually HOW to implement it using a separate file. Always you op to show a simple inline resource use that is trivial. If you mention something then please demonstrate its intended use.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-10-20 19:09] liliyashka commented on #968
I get over a million impressions a day for all my apps combined. Native ads on desktop works just fine and I see impressions and request looking good, so is the revenue. But for Native ads on XBOX ONE I get absolute zero impressions. I mean Zero!!! Not even one request or one impressions. Nothing. I doubled checked all my native code and it looks good. While testing my app on my XBOX ONE the nativ

[2018-10-21 05:18] honorew commented on #1090
[AppCert_Trace_1810180911.txt](https://github.com/MicrosoftDocs/windows-uwp/files/2498793/AppCert_Trace_1810180911.txt)
[logotest_trace_10182018_211118.txt](https://github.com/MicrosoftDocs/windows-uwp/files/2498794/logotest_trace_10182018_211118.txt)
[post_process_trace_ApplicationCount_10182018_211216.txt](https://github.com/MicrosoftDocs/windows-uwp/files/2498795/post_process_trace_ApplicationC

[2018-10-21 19:52] liliyashka commented on #968
Can anyone confirm that Native Ads for xbox are not supported? I get my native ads for xbox to load and they are clickable but I get zero request and impressions. So Im guessing that they are not supported?

[2018-10-22 00:01] stevewhims commented on #406
One last update, here. I've made the final changes to the C++/WinRT version of Bookstore2 after the code-review pass. I hope it's useful. ~Steve

[2018-10-22 08:35] linhnddev commented on #968
I can confirm that the Request/Impressions of Native Ads for Xbox is working fine but the Fill Rate is not good (~ 10%)

[2018-10-22 09:11] liliyashka commented on #968
This is very interesting. So when you look at your advertisement info and you click to show xbox one only metrics you get requests and impressions? I get absolute zero!! Not even 1 impression and not even 1 request even though ads load on my xbox and I get over 1 million impressions for Desktop version of the same apps. So same apps gets 1 millions impression but same app for xbox gets zero! Are y

[2018-10-22 11:02] Sergio0694 opened #1096 "Incorrect grouping for "What's new in build 17763" and earlier SDKs"
The "What's new in Windows 10 for developers, build 17763" category incorrectly groups the whole list of earlier SDKs instead of just the "API additions in Windows 10, build 17763" secondary page:

![image](https://user-images.githubusercontent.com/10199417/47289348-98fc1e00-d5fa-11e8-94d5-90d9ae86dcdd.png)

As a result, collapsing the "What's new, build 17763" collapses the whole list of previous

[2018-10-22 15:42] SilverSilence opened #1098 "Bubbling Behaviour"
Hello,

I have a question. I have a Grid and a TextBox inside the grid (as a child element). The Grid listens to KeyDown events and all the handler does is set the event as handled (e.Handled = true). Why does in that case the "TextChangedEvent" not fire? I thought that event handling bubbles up from the child events but my app shows that the Grid handler is invoked first. Thanks for your reply.

[2018-10-22 19:34] QuinnRadich commented on #1096
We want to ensure that the most recent What's New content is always clear, so we want to avoid excess top-level nodes within the What's New area. Because of that, this is currently expected behavior.

In light of this issue, however, I may test out an alternate solution. Stay tuned.

[2018-10-22 19:55] Sergio0694 commented on #1096
Hi @QuinnRadich - thank you for your answer.
I'm not sure I understand the reasoning behind this. Collapsing the "What's new in Windows 10, build 17763" node, this is the result:

![image](https://user-images.githubusercontent.com/10199417/47315358-a50ccd80-d644-11e8-9f9c-0bc85327b8dc.png)

So basically this is the only node that instead of collapsing the related APIs (for that same SDK), collapse

[2018-10-23 08:14] MetallicPickaxe opened #1100 "Unclear Sentence"
The two "should" with confuse meaning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4665391f-f838-ae07-8591-d8f13f41a027
* Version Independent ID: 38b6b8ed-c3d2-97b1-9852-e3779b3ea281
* Content: [Using the UWP XAML hosting API in a desktop application - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/

[2018-10-23 08:15] MetallicPickaxe commented on #1100
![tim 20181023160635](https://user-images.githubusercontent.com/9762353/47346036-c8845680-d6de-11e8-82a1-6ea417b8a037.jpg)

[2018-10-23 12:38] microelec commented on #987
yes, I searched c++ examples for days. Could somebody help out.

[2018-10-23 15:01] rido-min commented on #1066
This is a known bug in 1803, it has been fixed in the October 2018 update aka 1809

[2018-10-23 16:50] mcleanbyron commented on #1100
Thanks for bringing this to our attention. I have deleted one of the "should" instances, and the updated article should be republished to the live site in the next day or so.

[2018-10-23 16:50] #1100 closed, assigned to nobody

[2018-10-23 17:08] #1066 closed, assigned to rido-min

[2018-10-23 18:26] eliotcowley commented on #995
Hi @JimmyRespawn, just checking in. Were you able to solve your issue?

[2018-10-24 06:41] JimmyRespawn commented on #995
@eliotcowley Sorry for the late reply. Thanks for getting back to me. I've tried "BringIntoViewRequested" method. And it works very well on a real Xbox machine with controller. Maybe I can add some optional xaml codes to make it support at least at 15063. I know 14393 support is asking too much in this scenerio. And I've created a simple demo for this as well.
[UWPSelectedItemVisibleBounds](https:

[2018-10-24 14:43] moraeselisabeth opened #1101 "game"
[Hier Feedback eingeben]

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 03829a62-ce3b-910e-2738-917069fba449
* Version Independent ID: a18b2869-ea37-956f-bdcc-800ac52ae350
* Content: [Getting started - UWP app developer](https://docs.microsoft.com/de-de/windows/uwp/gaming/getting-starte

[2018-10-24 15:07] aelij opened #1102 "/IndexOptions <OPTIONS> documentation missing"
Please list all the options for the `/IndexOptions` parameter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ee0ec88-9b18-fd4e-1d0e-c0e1cf304b10
* Version Independent ID: 3a9a55bb-4a39-5a42-4f81-85f029277aa6
* Content: [MakePri.exe command-line options - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp

[2018-10-24 16:08] ginami commented on #1101
Hi @moraeselisabeth -- please let us know if you have some specific feedback on our docs. Thank you!

[2018-10-24 16:08] #1101 closed, assigned to nobody

[2018-10-24 21:50] JnHs commented on #1035
You do have to open a developer account and pay the fee in order to use this functionality. Please note that new app submissions targeting Windows Phone 8.1 and earlier won't be accepted as of 10/31/18 - see https://blogs.windows.com/buildingapps/2018/08/20/important-dates-regarding-apps-with-windows-phone-8-x-and-earlier-and-windows-8-8-1-packages-submitted-to-microsoft-store/ for more info.

[2018-10-24 21:50] #1035 closed, assigned to JnHs

[2018-10-24 23:01] charliearcuri opened #1103 ""C++/WinRT is a new way of authoring ... It's implemented sole in" should be "implemented solely in""
"C++/WinRT is a new way of authoring ... It's implemented *sole* in" should be "implemented *solely* in"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d4c0f3b-3038-ac66-dcf0-09f8a51ec211
* Version Independent ID: 98ae5219-0a0d-863b-d296-7d47510a7a0b
* Content: [What's New in Windows 10 for Developers, Tools & Feature

[2018-10-24 23:02] QuinnRadich commented on #1103
Thanks for the heads-up!

[2018-10-24 23:21] shreyagupta-dev opened #1104 "Is the Graphics.Capture API supported on Javascript UWP apps or PWAs on Windows?"
I am working on a JavaScript based UWP app and a PWA running on Windows. I want to access the `Graphics.Capture` API in both apps, but none of the methods and attributes belonging to the `Windows.Graphics.Capture` namespace are available in either app.

Here is what happens when I try to access the `Windows.Graphics.Capture.GraphicsCaptureSession.IsSupported()` API in a JavaScript UWP:

![js uwp](

[2018-10-25 05:15] kgreed opened #1105 "The UWP Template no longer contains the Publish Symbos path task"
I am adding it by hand

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c024acf3-a58a-74c8-25b1-e5c88c85583a
* Version Independent ID: 81403e1d-947a-1f7d-f4b7-898105abd745
* Content: [Set up automated builds for your UWP app - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/packaging/auto-build-package-uw

[2018-10-25 05:18] kgreed opened #1106 "The screen shot of the Nuget Restore task is not up to date"
Advanced does not show the path to Nuget.exe

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c024acf3-a58a-74c8-25b1-e5c88c85583a
* Version Independent ID: 81403e1d-947a-1f7d-f4b7-898105abd745
* Content: [Set up automated builds for your UWP app - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/packaging

[2018-10-25 05:57] kgreed commented on #1105
or the publish to store task

[2018-10-25 16:49] eliotcowley commented on #995
Great, glad to hear that it worked for you! I'll add this to the doc as well to help others in the future.

[2018-10-25 17:28] JnHs commented on #1075
Thanks for your patience - I updated the "Important" note to include all of these points. Appreciate your bringing this up!

[2018-10-25 17:28] #1075 closed, assigned to JnHs

[2018-10-25 17:30] JnHs commented on #982
Thanks for your patience. After consulting with the team it seems that we may allow you to upload packages targeting languages which don't appear on this list, but these languages won't be distributed to customers since they aren't supported by the Microsoft Store. I've updated the topic to make that clearer - appreciate your bringing it up.

[2018-10-25 17:30] #982 closed, assigned to JnHs

[2018-10-25 17:31] JnHs commented on #920
I am so sorry it took a long time to address this! We have added info on this to https://docs.microsoft.com/en-us/windows/uwp/publish/understand-irs-tax-forms

[2018-10-25 17:31] #920 closed, assigned to JnHs

[2018-10-25 19:44] stevewhims commented on #1102
Hi, @aelij, thanks for filing this issue, and my apologies for the omission in the documentation. The topic is now updated with info about what the /IndexOptions option does.

~Steve

[2018-10-25 20:15] PaulCapron commented on #1075
Oh there was no hurry :) Thanks for updating the doc!

[2018-10-25 21:29] normesta commented on #1015
Hi ChrisGuzak - We do indeed have an entire set of content devoted to C++/WinRT here - https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/intro-to-using-cpp-with-winrt. This specific topic is about async with CX for those still maintaining code bases in CX, but for visibility, there is a note at the top of this topic directing folks to C++/WinRT and recommending C++/WinRT. Thx!

[2018-10-25 21:29] #1015 closed, assigned to normesta

[2018-10-25 21:33] #816 closed, assigned to normesta

[2018-10-26 16:28] normesta commented on #952
Thank you for reporting this! We've fixed the broken link.

[2018-10-26 16:28] #952 closed, assigned to normesta

[2018-10-26 16:29] normesta commented on #772
Thank you for the suggestion! We've added that line of code to the example.

[2018-10-26 16:29] #772 closed, assigned to normesta

[2018-10-26 18:53] jevansAN opened #1132 "More needed"
Would like to see specific examples of each major method as used - for example the StorageFolder method GetFilesAsync(). That one had been working for me and stopped building in 10.0.17666.0.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a087153a-b34a-b9fc-0ba6-e96d14764455
* Version Independent ID: 4db9d519-6a9d-a8f9

[2018-10-26 19:29] Karl-Bridge-Microsoft commented on #709
Hi @lisaweixu - thanks for the feedback! I've updated the topic to include more detail on your concerns.

[2018-10-26 19:29] #709 closed, assigned to Karl-Bridge-Microsoft

[2018-10-26 19:54] Karl-Bridge-Microsoft commented on #902
Hi @vadobre. Thanks for the feedback. These links should be fixed now.

[2018-10-26 19:54] #902 closed, assigned to Karl-Bridge-Microsoft

[2018-10-26 22:46] stevewhims commented on #1132
Hi, @jevansAN. 17666 is an SDK Preview version, in between two released versions (the released versions being 17134 and 17763, respectively), and I don't have that exact version installed right now. I'd recommend that you move to released SDK version 17763, if you can. Here's a code example, and I can confirm that it builds and runs. I don't know what your build issue is, but if you're getting lin

[2018-10-26 22:54] michael-hawker opened #1133 "What does 'next major update' mean?"
In the `x:Bind in ControlTemplate` section it says next Major update, but the timestamp on this article is from 2017.  This seems like new content though.  It'd be nice to call out a version number of when this is available if it's already in the insider builds.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d6d6ad5-4

[2018-10-26 23:10] ChrisGuzak opened #1135 "Please add Framework packages to this table"
I want to understand how framework packages relate to others, please update the table at the top to include them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07a43e99-2699-6568-6d37-6fe72286ae3c
* Version Independent ID: dfe8c8e7-a573-32e0-cb6c-efbdadc9b00f
* Content: [Extend your app with services, extensions, and

[2018-10-26 23:22] jevansAN commented on #1132
Thanks - can't go down much in SDK, because the reason I based this on the latest BlankApp in 17666 is that I need to use canvas.h. The next SDK down that I see is 17134, and if I switch to that I get a hundred canvas errors.

I have a question up at StackOverflow, "How to co-await GetFilesAsync in latest cppwinrt," in which I list the lengthy link error.
I've tried using as a model that code from

[2018-10-26 23:32] stevewhims commented on #1132
Jeff, I'm sorry about the frustration. I don't recommend that you install an earlier SDK if that's what you mean. I recommend that you move to released SDK version 17763, if you can (which is the latest publicly released version). Btw, the latest released SDK version is always at
https://developer.microsoft.com/en-US/windows/downloads/windows-10-sdk. We'll be able to support you on a released SDK

[2018-10-26 23:41] jevansAN commented on #1132
Thanks, Steve, but I'm a little nervous about trying to downversion the SDK. This is a C++/Winrt project in the latest preview VS, the latest winrt included in the SDK and upon which the BlankApp for C++/Winrt created by VS probably depends. I spent the last few days rebuilding the project on top of that BlankApp.

I have just recovered the project from backup and since I made no progress today th

[2018-10-26 23:49] stevewhims commented on #1132
Hi, Jeff, when you say "downversion the SDK", do you mean move to an earlier version? You're on 17666. And it's my recommendation to move to a later version: 17763. I'm using the latest generally available (not Preview) version of VS (which is version 15.8.8) and the latest generally available version of the SDK (which is 17763), and not seeing issues with using the GetFilesAsync. I'm not on your

[2018-10-27 00:06] jevansAN commented on #1132
Ha, I misread. I was assuming that the latest generally available SDK would have a version number lower than that of the latest preview. But as far as VS is concerned I'm on 15.9.0, which at least is later.

The Win OS on this computer is version 1809, build 18262, but the targeted SDK is 17666. I haven't received any update notices for the SDK, I guess I can try downloading another SDK package.

[2018-10-27 00:26] stevewhims commented on #1132
You're right there. But 17666 isn't the latest preview (17763 was a later preview, then it became the release candidate, then it became the release on 10/2). And we haven't released a preview since then. :) I hope the latest SDK (and VS 15.9) give you a path to a clean build.

[2018-10-27 03:13] jkotas commented on #983
Thank you for your suggestion. Better interop with other languages is definitely on the .NET roadmap, for all platforms, not just UWP.

https://github.com/dotnet/coreclr/issues/19566, https://github.com/dotnet/corert/pull/5703 or https://github.com/mono/embeddinator-4000 are discussions and prototypes related to this that you may find interesting.

[2018-10-27 07:33] Leisvan opened #1136 "When on top does not update selected Item"
I bind MenuItemsSource to an ICollectionView in the ViewModel. When I select an item by clicking on it or by code (changing the ICollectionViewModel.SelectedItem property) both the ICollectionView and the NavigationView updates the selected item when the PaneDisplayMode property is not set to "OnTop". In that case the NavigationView does not updates its selected item when I change it in the ViewMo

[2018-10-27 16:06] dongle-the-gadget opened #1137 "WNS and Store application"
Can I continue to use WNS even though Store application name reservation is lost?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58f9d7cc-e60c-be39-e8b5-b0cb935e1feb
* Version Independent ID: 3d3a5b42-6d68-0348-920b-d6c35aa4bf7a
* Content: [Windows Push Notification Services (WNS) overview - UWP app developer](https://

[2018-10-27 19:00] lionevan opened #1138 "hello"
helloWorld

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57ed0b73-fe3a-e66b-307e-d4803731b708
* Version Independent ID: 9f027742-4b7b-24d6-f02e-5704d70e0f94
* Content: [App submissions - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/publish/app-submissions)
* Content Source: [windows-apps-src/publish

[2018-10-27 20:06] jevansAN commented on #1132
Steven,

	I've updated VS and installed SDK 17763, but with the target set to 17763 I now see 1112 errors that are beyond my ability to respond, such as
	"E0145 variable "RpcFreeAuthorizationContext may not be initialized" in file rpcasync.h.
	The other new errors are in Canvas.h, combaseapi.h, hstring.h, etc.
	Yet it built and ran just fine with the target 17666 - except for GetFilesAsync.

	Whil

[2018-10-28 00:39] yair100 opened #1139 "Not showing ads after app published"
I used the test unit ids and ads showed now when I used my actual ids and publish the app I get reports it does not show.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1fd9d37-275b-9fd4-1455-345221f197b9
* Version Independent ID: 721e5075-0a0d-e3a2-7c10-d9ac9496a782
* Content: [AdControl in XAML and .NET - UWP app de

[2018-10-28 00:41] yair100 opened #1140 "Ads not showing after app is published"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8590344-1b1a-feb6-49dd-f137568feadd
* Version Independent ID: 2b32c06e-41b5-330a-c89f-7d2f85397ac7
* Content: [Set up ad units in your app - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/monetize/set-up-ad-units-in-your-app)
* Content Source: [windows-app

[2018-10-28 03:07] TDodgeCo opened #1141 "Incredibly frustrating docs..."
How do you get these tokens? All this page does is describe what they are, but gives absolutely no direction on how to obtain the various tokens.

What are the end points? What are the Xbox Authentication Services (XAS)? Where are they located?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce59c936-c7ca-e27f-a493-d744

[2018-10-28 23:55] JustinXinLiu opened #1147 "A couple of issues"
1. Replace _next major update_ with _17763_.
2. `TemplateBinding` is `OneWay` while `<TextBlock Text="{x:Bind Content}" />` is `OneTime`. The code needs to be updated to `<TextBlock Text="{x:Bind Content, Mode=OneWay}" />` to act the same way as `TemplateBinding`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d6d6ad5

[2018-10-29 01:16] stevewhims commented on #1132
Hi, Jeff, the E**** errors (for example, the E0145 that you’re seeing) are coming from the IntelliSense compiler. I’ve seen a lot of cases where those show up in the Error List (in Visual Studio) and they're false positives, so they’re actually not preventing the project/solution from building. For the genuine build errors, together with more information about them, I tend to look just in the Outp

[2018-10-29 01:34] jevansAN commented on #1132
Thanks very much, Steven - very helpful. I've posted an answer at StackOverflow explaining how I managed to get GetFilesAsync working- basically I skipped trying to use CommonQuery and simply called the GetFilesAsync method that uses no argument, plus I stopped trying to use the StorageFolder method to get a named internal folder and instead went with specifying the path and asking for the folder

[2018-10-29 11:11] #1102 closed, assigned to stevewhims

[2018-10-29 11:13] aelij commented on #1102
Thanks @stevewhims. Not sure if this is within your purview, but it would be also nice to add this to the command line help (`/?`).

[2018-10-29 14:36] oliverluethi commented on #1086
@eliotcowley Any feedback on this? #1091 Has the same problem.

[2018-10-29 16:33] mijacobs commented on #1137
@andrewleader  Can you forward this to the WNS and notification team?

[2018-10-29 16:47] andrewleader commented on #1137
@mijacobs done! I'll have them follow up.

[2018-10-29 18:14] jevansAN commented on #1132
Steven, If you don't mind a follow-up: I'm trying a retargeting right now - my solution for GetFilesAsync worked in one method but not in another, so the whole thing seems unstable - and I am attempting the second of the methods mentioned in the linked article about retargeting.
	That is, I right-clicked the project node and selected retarget to 17763, Then did a Clean and then Build, which did pr

[2018-10-29 19:09] AlexSikilinda opened #1148 "List<(string Tag, Type Page)> should be Dictionary<string, Type>"
In the last code example List&lt;(string Tag, Type Page)&gt; should be replaced with Dictionary&lt;string, Type&gt;. It is more logical than ValueTuple, and also faster.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 745ab6c5-cfbe-a56f-dccd-ab55123f9223
* Version Independent ID: 54455a9f-a92f-e462-558d-78fb696dba8c
* C

[2018-10-29 20:26] jevansAN commented on #1132
Steven, one more bit of information that might help: I see that the first of the (now) just two link errors when retargeting to 17663 is in the file Microsoft.Windows.CppWinR.targets, line 246. There doesn't appear to be any later version of CppWinRT - this is 1.0.181002.2. But aren't you using CppWinrt in your test targeted to 17763? I'm wondering why you wouldn't see that same error at building.

[2018-10-29 21:12] ginami commented on #1138
Hi @lionevan -- thanks for your feedback. Let us know if you have comments specific to our docs!

[2018-10-29 21:12] #1138 closed, assigned to nobody

[2018-10-29 21:30] JnHs commented on #1032
Thanks for this feedback and sorry for the delayed response. I plan to add the appropriate links and will close this issue when that is done.

[2018-10-29 23:07] stevewhims commented on #1132
Hi, Jeff, with any project I've created, I've always been able to safely delete the Debug folder. That folder is always created by Visual Studio during build. And it's VS that copies stuff in there (copies stuff out of project folders), hence they're duplicated files, and temporary, and VS can copy them again when you rebuild. If you have NuGet packages, then VS has always been able to acquire tho

[2018-10-29 23:14] jevansAN commented on #1132
Thanks for another very helpful answer, Steven. It will take me some time to digest this properly, after which I'll comment if needed.

Jeff

On Oct 29, 2018, at 4:07 PM, Steven White wrote:

Hi, Jeff, with any project I've created, I've always been able to safely delete the Debug folder. That folder is always created by Visual Studio during build. And it's VS that copies stuff in there (copies st

[2018-10-29 23:35] stevewhims commented on #1102
Good idea, I just merged a change; should be live tomorrow AM. :)

[2018-10-30 09:52] CanisLupus opened #1149 "This page is wrong saying that the developer gets to choose the category. Games are possibly rejected even if they are games."
This page seems to be the only page we get that talks about app categories, but it does not tell us that our product can be rejected due to "wrong" categorization as a game. In fact it tells us that "You must choose the category that best describes your app."

We have an entertainment game made for young children to learn music. It is free-form and has no defined objectives, and we were told that

[2018-10-30 15:03] JohnGalt1717 commented on #612
A full sample and in the documentation for recording the screen capture on this page per the above but complete: https://docs.microsoft.com/en-us/windows/uwp/audio-video-camera/screen-capture

And I'm still not clear how to take the sample and dump it into a video file.

For reference here's my stackoverflow question on the subject: https://stackoverflow.com/questions/53070359/uwp-how-to-record-sc

[2018-10-30 16:18] jawineh opened #1150 "Speech Synthesis (Hello World)"
App could not be built due to errors involving "e", Sender,, private and button_click. If the tutor would fix them asap, it will be fine with us. otherwise all others worked out nicely. Kudos!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f2e0944-3981-142e-2654-01ab8adc78dd
* Version Independent ID: bc455444-d972-742

[2018-10-30 16:39] andrewleader commented on #1137
@superkid200 the answer is YES, you can continue to use WNS even though your Store application's friendly name reservation is lost. WNS is tied to the package family name, which will be kept forever. No need to worry! :)

Please close this if that answered your question!

[2018-10-30 17:21] mhopkins-msft commented on #1139
Thanks for reaching out to the Microsoft developer documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the documentation.

You may have success posting your question in the [Windows developer forums](https://social.msdn.microsoft.com/Forums/windowsapps/home?forum=windowsstore%2Cwpsubmit%2Cwppayout%2Cwpdcapp%2Ca

[2018-10-30 17:21] #1139 closed, assigned to mhopkins-msft

[2018-10-30 17:23] mhopkins-msft commented on #1140
Thanks for reaching out to the Microsoft developer documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the documentation.

You may have success posting your question in the [Windows developer forums](https://social.msdn.microsoft.com/Forums/windowsapps/home?forum=windowsstore%2Cwpsubmit%2Cwppayout%2Cwpdcapp%2Ca

[2018-10-30 17:23] #1140 closed, assigned to mhopkins-msft

[2018-10-30 17:58] techjogger commented on #723
I second this request!

[2018-10-30 18:58] jevansAN commented on #1132
Steven,

	That's very useful  info about what is safe and desirable to delete  - the only one I can't locate is the .user file you mention. Is that somewhere in the project folder?
	You mention installing the Nuget package for msbuild support. There are a number of items in the Nuget management window that refer to msbuild - I've now installed msbuild.nuget.pack on the assumption this is correct.

[2018-10-30 19:37] stevewhims commented on #1132
Well, to be honest, the .vcxproj.user file (which, if it exists, will be next to the .vcxproj file) is probably a case of me being obsessively tidy. It just contains user-specific settings for the project AFAIK, so while it's unlikely that deleting it will do any good, I tend to just delete it as a tidying-up ritual. :) My deleting it is quite likely unnecessary, but on the other hand I haven't ha

[2018-10-30 19:50] jevansAN commented on #1132
Good - well, maybe I wasn't clear. The Nuget package manager does show that I have these packages:

Microsoft.Windows.CppWinRT
MsBuild.NuGet.Pack
Win2D.uwp

	So all of that appears to be in place.

	Maybe I will have to try starting from scratch again, with a new BlankApp template that is already targeted to 17763. Wanted to avoid that because the project is so large.

	Thanks, Jeff

On Oct 30, 20

[2018-10-30 22:03] stevewhims commented on #1132
I see: I didn't look closely enough! :) Yes, agreed, that looks good!

[2018-10-30 23:08] WuGing opened #1152 "What does package mean?"
What does package mean in this instance? Reading through this, it seems to refer to packages that are a part of the core UWP app, and not the core app itself. Is this code necessary for handling updates to the core app? Part of the concern is a user getting an update during a critical time during which an app update would prove quite bad. Where can we get more information on the update process etc

[2018-10-30 23:28] mcleanbyron commented on #1152
The term "package" in this article refers to any package that is part of your application and that you have [submitted to the Dev Center dashboard](https://docs.microsoft.com/windows/uwp/publish/upload-app-packages) as part of your app's submission. In the context of your question, this could be your "core" app package or a related/optional app package. The [RequestDownloadAndInstallStorePackageUp

[2018-10-31 02:31] georgeLiew opened #1153 "App.xaml.cs"
In https://docs.microsoft.com/en-us/windows/uwp/design/basics/navigation-history-and-backwards-navigation

Windows.UI.Core.SystemNavigationManager.GetForCurrentView().BackRequested += App_BackRequested;
Frame rootFrame = Window.Current.Content;
rootFrame.PointerPressed += On_PointerPressed;

Can I know what is the 3 lines above meaning and where should I put it?

Thanks

[2018-10-31 09:32] snobu commented on #717
Should be fine to just link to this page -
https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/device-portal-api-core#set-a-static-ip-address-ipv4-configuration

However, please add an example for a `NetworkConfiguration` request payload for both a static IP address and DHCP, since it's not obvious how that looks like.

[2018-10-31 11:30] ztl8702 opened #1155 "Any specific guidelines for IME icons (i.e. icons on the language bar)"
There was a Windows 8 guideline for IME icons (including branding and mode icons)  https://docs.microsoft.com/en-us/previous-versions/windows/apps/hh967425(v=win.10)#ime-icons  But that is outdated. Are there any new guidelines specifically for IME icons? Or can I design IME icons in whatever way I like?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2018-10-31 16:04] rurrui opened #1156 "App.xaml.cs"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ab5201c-d8c8-1804-a225-4420f66d77ea
* Version Independent ID: 2d217eac-b2cd-553a-970f-32bb043fc353
* Content: [Navigation history and backwards navigation (Windows apps) - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/design/basics/navigation-history-and-

[2018-10-31 16:36] #1156 closed, assigned to nobody

[2018-10-31 16:44] mcleblanc commented on #683
Closing this due to the lack of activity. If we get more information, we can reopen this.

[2018-10-31 16:44] #683 closed, assigned to mcleblanc

[2018-10-31 16:47] PatrickFarley commented on #717
I added ipv4config to that doc a while ago, as you can see. But snobu's request is new

[2018-10-31 17:00] jevansAN commented on #1132
Steven,

	I've made good progress from your suggestions and have some information that may be useful to you.

	I have successfully rebuilt the app on a new template that was targeted to 17763 at creation, and now it is possible to build and run with co_await GetFolderAsync() and co_await GetFilesAsync(). It wasn't possible to just use the Retarget command, but starting over works.
	CommonFileQuery

[2018-10-31 18:00] eliotcowley commented on #612
Hi @JohnGalt1717, sorry for the wait on this. I am engaged with the feature teams and am actively trying to work out a solution. I'll update here once I find out more.

[2018-10-31 18:32] snobu commented on #717
What I'm really after is a sample request that sets an interface to DHCP. Sending IPAddress as null doesn't cut it.

E.g.

[code]

[2018-10-31 19:32] Murtaya opened #1157 "What happens when a first-time user tries to sign in on an offline device?"
It's mentioned that:

But can you post what the expectation is when a user who has never previously signed into an app/game tries to sign in when the device is offline?  Should the user not be allowed to get into the app/game?  I don't think there's anything the game or Xbox Live could really do in this case to continue, is there?

(I'm currently blocked on my game being certified because it does

[2018-11-01 09:03] NISTabletSW opened #1160 "How does Microsoft handle basic licensing functions for uploaded apps?"
To Whom It May Concern:

Does the Microsoft Store handle basic licensing functions for apps that are uploaded to it?

IF I select the available trial option for 30-days when uploading my app to the Microsoft Store THEN will the Microsoft Store:

a) Automatically modify my app to timeout after 30-days of usage.

b) Block the launch of the app once the timeout has expired.

c) Prompt the user to pur

[2018-11-01 12:09] RuddyOne commented on #205
@gsingh11  [Here is the documentation](https://docs.microsoft.com/en-us/windows/uwp/contacts-and-calendar/sending-email). Nothing appears to be happening with this at all.

[2018-11-01 13:25] Gavin-Williams commented on #838
I should note that SharpDX will be coming to and end soon, as the creator doesn't have time to manage commits, so there will be no managed wrapper for DirectX within a couple of years.

[2018-11-01 15:17] snobu commented on #717
So, okay, looks like this is all you need:

[code]

You serialize that in a PUT to `/api/networking/ipv4config`, you get back a `200 OK` and you're all set. The interface is now in DHCP.

Since i believe this should be clearly stated in the docs, here's a PR for it - https://github.com/MicrosoftDocs/windows-uwp/pull/1161

[2018-11-01 16:14] KoteKotlyarov opened #1162 "Are we able to renew Store ID from service ?"
Docs stand for: The only way to *create/generate* a Store ID key is by calling an UWP API from client code in app.
But for renew process there is no limit. Also, docs give us a guideline to "create Azure tokens in the service, not in app", so I made decision that we *should* renew Store ID outside the app.

Am I correct ?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-11-01 16:55] shreyagupta-dev opened #1163 "Getting errors trying to compile the C++ WinRT_CPP project"
### This is the debug output I get after a failed build:

[code]

My Windows version: Windows 10 Pro Version 1803 (OS Build 17134.376)

Thanks in advance!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52e7576e-d2b0-0346-48be-a52cde97c9b8
* Version Independent ID: 8bc2286b-477b-eb00-711f-922a6a2cef7f
* Content: [Creati

[2018-11-01 17:46] JnHs commented on #1160
Yes, the Store handles these licensing functions. A, B, and D are accurate (I wouldn't say that the Store "modifies your app" - but it will enable the time limit for that customer's license to the app). For C, if a customer tries to open the app after a trial expires, they'll instead see a message with the option to purchase the app from the Store.

[2018-11-01 17:46] #1160 closed, assigned to JnHs

[2018-11-01 18:06] jwmsft commented on #1147
@JustinXinLiu, thanks for pointing this out. The page is updated.

[2018-11-01 18:06] #1147 closed, assigned to jwmsft

[2018-11-01 18:07] jwmsft commented on #1133
@michael-hawker, thanks for pointing this out. The page is updated.

[2018-11-01 18:07] #1133 closed, assigned to jwmsft

[2018-11-01 19:50] shreyagupta-dev opened #1164 "Is the Graphics.Capture API supported on Javascript UWP apps or PWAs on Windows?"
I am working on a JavaScript based UWP app and a PWA running on Windows. I want to access the `Graphics.Capture` API in both apps, but none of the methods and attributes belonging to the `Windows.Graphics.Capture` namespace are available in either app.

Here is what happens when I try to access the `Windows.Graphics.Capture.GraphicsCaptureSession.IsSupported()` API in a JavaScript UWP:

![js uwp](

[2018-11-01 19:55] shreyagupta-dev commented on #1104
Closing this issue because I opened a new one directly linked to the UWP docs page [here](https://github.com/MicrosoftDocs/windows-uwp/issues/1164).

[2018-11-01 19:55] #1104 closed, assigned to eliotcowley

[2018-11-01 21:10] mhopkins-msft commented on #1162
Thanks for reaching out to the Microsoft developer documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the documentation.

You may have success posting your question in the [Windows developer forums](https://social.msdn.microsoft.com/Forums/windowsapps/home?forum=windowsstore%2Cwpsubmit%2Cwppayout%2Cwpdcapp%2Ca

[2018-11-01 21:10] #1162 closed, assigned to mhopkins-msft

[2018-11-01 21:43] jevansAN commented on #1132
p.s. Would it be safe to remove that MSBuild package? I can no longer view the locals window when debugging (VS quits the debugging session if I choose the locals window), and that package is the main difference between now and the days when I could look at the locals.  When attempting to refresh VS using the VSInstaller I was warned that MSBuild was still running (having quit VS) - could be a clu

[2018-11-01 21:46] cwey commented on #1160
Since yesterday I am getting an error that prevent me to have trials. The error says Product with no package cannot have trials. Does anyone know what that means? I have always had trials, and I do have a current package associated to the product. Anyone can help me? My sales are plummeting with the lack of a trial

[2018-11-01 21:49] JnHs commented on #1160
You should open a support request at http://aka.ms/storesupport so that we can look into this.

[2018-11-01 21:51] stevewhims commented on #1132
Yes, it's my understanding that it's ok to uninstall https://www.nuget.org/packages/Microsoft.Windows.CppWinRT/, since those facilities are still in the VSIX also. I'll pass along your experiences to the folks that develop that package.

Thanks!
Steve

[2018-11-01 22:27] jevansAN commented on #1132
I meant MSBuild.NuGet.Pack - I'd not dare to remove the CppWinRT !

Jeff

On Nov 1, 2018, at 2:51 PM, Steven White wrote:

Yes, it's my understanding that it's ok to uninstall https://www.nuget.org/packages/Microsoft.Windows.CppWinRT/, since those facilities are still in the VSIX also. I'll pass along your experiences to the folks that develop that package.

Thanks!
Steve

—
You are receiving this

[2018-11-01 22:37] jevansAN commented on #1132
I can confirm that removing the MSBuild pack fixed the debugger - I can now use the local variables window again.

Thanks, Jeff

I meant MSBuild.NuGet.Pack - I'd not dare to remove the CppWinRT !

Jeff

On Nov 1, 2018, at 2:51 PM, Steven White wrote:

Yes, it's my understanding that it's ok to uninstall https://www.nuget.org/packages/Microsoft.Windows.CppWinRT/, since those facilities are still in

[2018-11-01 22:39] stevewhims commented on #1132
Nice! :)

[2018-11-01 22:53] stevewhims commented on #333
@zhangl1201, I'm sorry for the inconsistent UI you and your colleague are seeing. My advice is just to follow the info in [Visual Studio support for C++/WinRT, and the VSIX](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/intro-to-using-cpp-with-winrt#visual-studio-support-for-cwinrt-and-the-vsix). ~Steve

[2018-11-01 23:13] jevansAN commented on #1132
But - it was a false hope. Did work great on the first breakpoint! I could see that my calls to GetFilesAsync, etc. had not produced any data, so next up was to find out why. But now VS quits whenever it hits a breakpoint anywhere in the code, and I've made no changes. The whole system just seems unusable, and that is a problem because the project is educational software with a good-sized installe

[2018-11-01 23:30] stevewhims commented on #1132
Hi, Jeff, for Visual Studio issues, do you know about the [Visual Studio User Voice](https://visualstudio.uservoice.com) feedback website, or the [Developer Community](https://developercommunity.visualstudio.com)? Those might be able to help.

For issues, or suspected product bugs, there's [Microsoft Support](https://support.microsoft.com/contactus); a support engineer will look at the repro and s

[2018-11-02 07:45] myusrn opened #1165 "missing details on how to style entries that target descendents"
in css you can use "tag1 tag2 tag3 { &lt;tag3 settings&gt; }" to target layout and style settings only at instances of tag3 that exist as children of tag2 that exist as instance of tag1.  The above documentation doesn't cover how to do this with uwp resource style settings, for example for TextBlock instances that exist as children at any level below StackPanel that is child of root Grid container

[2018-11-02 09:37] ErikOAndersson opened #1166 "Broken link"
The link to the AudioStateMonitor doc page is broken, should be:
https://docs.microsoft.com/uwp/api/windows.media.audio.audiostatemonitor

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b25b952-2aad-4497-0232-a00a7c7a6d51
* Version Independent ID: b21ac101-7681-224b-ddf1-3a603b72f62d
* Content: [Detect and respond to a

[2018-11-02 12:35] david-osborne opened #1167 "No color palette?"
There is no palette to reference in the Color documentation.  The Universal Color Palette used to be published, but was removed?
(https://www.microsoft.com/design/color)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 181b91e8-b61c-f32b-f59c-332db130d207
* Version Independent ID: ec8195d3-5847-e003-c8ef-bc3a6dfe069f
* C

[2018-11-03 05:01] kgreed opened #1169 "Isn't this circular?"
"1) Test your app. Before you package your app for Dev Center submission, make sure it works as expected on all device families that you plan to support. These device families may include desktop, mobile, Surface Hub, Xbox, IoT devices, or others."

Don't I need to package my app before I can test it on all device families? Otherwise how do I get it on to the device I need to test on ?

[Update]
I

[2018-11-05 00:50] kgreed opened #1171 "Whats new for developers in Windows 10 ?"
Is there such a thing as "Windows 10 for developers" ? or should this read what's new for developers in windows 10 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d4c0f3b-3038-ac66-dcf0-09f8a51ec211
* Version Independent ID: 98ae5219-0a0d-863b-d296-7d47510a7a0b
* Content: [What's New in Windows 10 for Developers, Too

[2018-11-05 05:33] dimitrijevic opened #1172 "When is the new non-game app revenue split coming?"
There was word "later this year"(https://blogs.windows.com/buildingapps/2018/05/07/a-new-microsoft-store-revenue-share-is-coming/) around build conference time and it's almost end of year yet still nothing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36abe7f6-20c0-e1ba-d585-9630bcfdcc9f
* Version Independent ID: fd2

[2018-11-05 08:45] vbandi opened #1173 "Typo"
"... this more is called" should be "this mode is called"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 918404cb-28b0-1624-da04-c992bfca4395
* Version Independent ID: 20df39b5-a4db-3065-a172-5a90d27909fb
* Content: [Data binding in depth - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/data-binding/da

[2018-11-05 10:32] weitzhandler commented on #466
I'm using the `MediaPlayer` element to play a sequence of various audio files. After enabling the _Background Media Playback_ capability, the audio will mute once I minimize the app window (on Windows).

[2018-11-05 10:34] weitzhandler opened #1175 "Audio mutes when window minimized"
Hi,
I'm using the `MediaPlayer` element to play a sequence of various audio files. After enabling the _Background Media Playback_ capability, the audio will mute once I minimize the app window (on Windows).
Please elaborate this tutorial to indicate what's supposed to work and what not, or perhaps it's not clear what steps have to be taken to make the `MediaPlayer` continue play audio in the backg

[2018-11-05 16:01] Depechie opened #1176 "Example screenshots"
Somehow I was expecting some screenshots of the customization examples given in the doc... This could help devs faster understand/learn the different property values and their impact.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffd79400-8154-9a7c-a36e-33077cfa4be9
* Version Independent ID: fafc7523-a98a-fbff-9cc1-ca

[2018-11-05 17:57] mikej7167 opened #1177 "When I run the WACK, It fails."
I am getting the following message on every WPF app I try to create for the store:

App manifest resources tests: Failed
The test was blocked from execution. Please try re-running the validation. If the test execution remains blocked then please contact support.

I started getting this message after WACK 17763.1 was installed. I have tested this version against other WPF apps I have submitted succ

[2018-11-05 18:06] mikej7167 commented on #1177
I forgot to mention the apps that are failing the WACK install and run correctly on my clean test computer that I use to verify the apps.

[2018-11-05 20:44] stevewhims commented on #1173
Looks like this is being taken care of in https://github.com/MicrosoftDocs/windows-uwp/pull/1174#pullrequestreview-171748761.

[2018-11-05 21:48] jwmsft commented on #898
WinUI library and documentation have been updated.

[2018-11-05 21:48] #898 closed, assigned to jwmsft

[2018-11-05 21:57] stevewhims commented on #1173
...and that's approved and merged. Thanks for fixing this, @vbandi!

~Steve

[2018-11-05 21:57] #1173 closed, assigned to stevewhims

[2018-11-05 22:45] QuinnRadich commented on #1171
This should be read as What's New for developers in Windows 10.

[2018-11-05 22:45] #1171 closed, assigned to QuinnRadich

[2018-11-06 00:00] rfreytag opened #1178 "Get All App API not working as documented"
I have taken the MSFT Store Services API 'Create an app submission' example code [1] and from that made a repo that tests the 'Get all apps' API.   This call in the API does not work as documented instead only returning at most the first 10 applications in your Dev Center.  The variation that skips N and returns M apps also only returns the first 10 apps in your Dev Center.  Please see my GitHub r

[2018-11-06 16:58] rido-min opened #1180 "Provide instructions to create packages from CLI builds"
Not everyone uses VS to produce packages. The packaging section should have instructions to produce packages from CI/CD scenarios using CLI commands only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 703719e7-1097-544a-1bb1-9007d2ca057c
* Version Independent ID: 36eac807-73ee-f3b8-b982-10865036be53
* Content: [Packag

[2018-11-06 18:22] piyushgoel1973 commented on #1032
we need to upload W8 for the payout, the dashboard is throwing error across all browsers.

[2018-11-06 18:23] piyushgoel1973 opened #1181 "Links are not working - Account section to upload document"
Errors on the Account page in Settings menu

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec06af90-a369-e18e-dffd-30443c415f33
* Version Independent ID: dae3fe06-e22a-7c3f-c0eb-03220929f0ef
* Content: [Set up your payout account and tax forms - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/publish/se

[2018-11-06 18:26] JnHs commented on #1032
Thanks for letting me know. I've passed along the info to investigate if there is a global issue. In the meantime you might want to open a support request at http://aka.ms/storesupport - we can't provide troubleshooting assistance through these doc feedback comments.

[2018-11-06 18:27] JnHs commented on #1181
Thanks for sharing this. Please open a support request at http://aka.ms/storesupport so we can investigate further.

[2018-11-06 18:27] #1181 closed, assigned to nobody

[2018-11-06 18:32] #774 closed, assigned to KevinAsgari, aablackm

[2018-11-06 22:13] markvantilburg opened #1183 "Wrong menu item description"
```Account settings``` is called ```developer settings``` in my settings menu...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec06af90-a369-e18e-dffd-30443c415f33
* Version Independent ID: dae3fe06-e22a-7c3f-c0eb-03220929f0ef
* Content: [Set up your payout account and tax forms - UWP app developer](https://docs.micro

[2018-11-06 22:16] JnHs commented on #1172
Great question. This is still on track to occur by the end of year, although I don’t have an exact date to give you.

[2018-11-06 22:16] #1172 closed, assigned to JnHs

[2018-11-07 02:40] HppZ opened #1184 "extendedSplashImage not showing on mobile"
image position & size is not right
https://stackoverflow.com/questions/36958367/windows-uwp-extended-splash-screen-image-rendering-incorrectly-on-mobile

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d156d985-2791-6521-331c-8d5ac9283f0e
* Version Independent ID: 794ddc4b-6660-8008-29fd-d4b696541b87
* Content: [Display

[2018-11-07 03:32] FatJohn opened #1185 "Sounds setting URI schema is not correct"
it should be "ms-settings:sound" (no s) not "ms-settings:sounds"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6a2ae18-080e-3470-d1c7-ab2990d4da85
* Version Independent ID: 3d0d02af-c1d7-e2e7-ba01-15e0904dc9a6
* Content: [Launch the Windows Settings app - UWP app developer](https://docs.microsoft.com/en-us/windows/uw

[2018-11-07 14:53] NISTabletSW commented on #1160
To Whom It May Concern:

I am getting the following error when I try to upload my UWP app to the
Microsoft Store, "Package acceptance validation error."

Apps are not allowed to have a Version with a revision number other than
zero specified in the app manifest. The package EditRight.appx specifies
0.0.0.1.

I tried solving this problem by having my programmer change the version
number to 0.0.0.0,

[2018-11-07 16:15] steve126 opened #1186 "about forms"
These specific two forms will be sent or some other? in what format will the files be? Will you send files by type 1099 form https://1099-misc-form.pdffiller.com/ or is your option?
By the way, the idea is interesting, for busy people just a godsend. Hurry they would be available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2018-11-07 16:47] isi-dwade opened #1187 "missing parameter in command line example"
MakeAppx bundle [options] /d &lt;content directory&gt; /fb /p &lt;output flat bundle name&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac171f83-bac9-f008-14e4-acb4e98f6770
* Version Independent ID: d89243a9-4ffd-ed02-11c2-d82fe86561db
* Content: [Flat bundle app packages - UWP app developer](https://docs.microsof

[2018-11-07 18:15] michael-hawker opened #1188 "Provided guidance on error detection or validation that Writes are successful"
Here and in the accompanying API docs (like WriteTextAsync) there's no info on how these methods can fail, throw exceptions, or how to validate that the write was successful and stored to the file.  It'd be great to see guidance here and there on how to determine that a write was successful and recover from error cases.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2018-11-07 23:39] BestTimeIsNow commented on #747
Can Microsoft comment on backgroundtask registration as it relates to an app service?  Registering, or confirming that the task has been registered, is not noted as needed or not needed anywhere in the app service provider or in the caller.

Clarification may be helpful for readers who may not be entirely familiar with the requirements around handling background task registrations.

[2018-11-08 01:25] stevewhims commented on #370
Hi, @SuperJMN, again I really apologize for the delay in resolving this issue. I've just sent a reminder ping to the subject-matter experts. I'll periodically do that again until we get info.

~Steve

[2018-11-08 01:25] stevewhims commented on #630
Hi, Luke, I'll go ahead and close this issue now. Please reopen it if you need to, and we can pick up where we left off.

~Steve

[2018-11-08 01:25] #630 closed, assigned to stevewhims

[2018-11-08 01:28] stevewhims commented on #685
@IgorX2, really sorry about the delay getting to this. I have no progress to report yet, but I haven't forgotten about it. ~Steve

[2018-11-08 01:31] #974 closed, assigned to stevewhims

[2018-11-08 01:31] #1009 closed, assigned to stevewhims

[2018-11-08 01:32] #1022 closed, assigned to stevewhims

[2018-11-08 01:33] #1070 closed, assigned to stevewhims

[2018-11-08 01:34] #1132 closed, assigned to stevewhims

[2018-11-08 02:13] kgreed opened #1190 "Why should I only use folder icons for folders?"
Can you explain this statement please?  Surely it is up to the designer what icon they wish to use for a parent node?
"If you do this, you should use a folder icon only for nodes that represent literal folders, such as the folder structure on a disk."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5ba995b-8bf3-407c-7b

[2018-11-08 03:08] kgreed opened #1191 "Where is ExplorerItem defined?"
I am copying the code into my project but don't know where to get the source for ExplorerItem

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5ba995b-8bf3-407c-7b87-015d22d813f1
* Version Independent ID: 52c553b6-e94d-2810-4123-8ee215b002bf
* Content: [Tree view - UWP app developer](https://docs.microsoft.com/en-us/win

[2018-11-08 15:54] fmExcense opened #1192 "ScreenCapture : Framepool.Dispose() causes application crash."

[2018-11-08 15:57] #1192 closed, assigned to nobody

[2018-11-08 20:33] mcooley opened #1193 "Requirements should be updated to account for the new "Make text bigger" setting"
In version 1809 there's a new "Make text bigger" setting under Ease of Access &gt; Display. The "Text scale factor" section mentions that this is a phone feature but I think it could be updated to mention that a similar feature is now available on desktop.

The "accessibility checklist" page could also be updated to recommend testing your app with this setting in addition to the current guidance t

[2018-11-09 04:31] srirayavarapu opened #1194 "Current month Payout(october 2018) not yet done"
Team, for the current month oct 2018, revenue is not updating from last 10 days and also did not mentioned how many will get for this month.

[2018-11-09 07:32] michael-hawker opened #1196 "Does it make sense to link to Windows Community Toolkit solutions?"
The Windows Community Toolkit has a workaround for LayoutTransforms using a control, documented [here](https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/LayoutTransformControl).  Is that worth calling out here somewhere (like in the migration note)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4ba33

[2018-11-09 16:50] jakehockey10 opened #1197 "UWP"
UWP keeps being mentioned when perusing these documentation pages on bluetooth.  Is it required to be building a UWP app, or is that just the suggestion as UWP is the newest GUI framework I'm aware of for windows .NET GUI application development.  Can I utilize this with WPF?  WinForms?  Does the operating system have to be Windows 10?

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-11-09 17:27] ginami commented on #1194
Hi @srirayavarapu -- which page are you referring to? This will help me route your comment to the correct author. Thank you!

[2018-11-10 08:52] BestTimeIsNow opened #1198 "Clarification Requested re: BackgroundTask Registration for an App Service"
Can Microsoft comment on backgroundtask registration as it relates to an app service? Registering, or confirming that the task has been registered, is not noted as needed or not needed anywhere in the app service provider or in the caller.

Clarification may be helpful for readers who may not be entirely familiar with the requirements around handling background task registrations.

---
#### Docume

[2018-11-11 04:13] rido-min opened #1200 "Missing ARM64"
With RS5 we have support for ARM64, it should be included in this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2975459d-0a61-a9ac-02be-5a1191254165
* Version Independent ID: 453681de-7ac5-c469-31c9-afabf4c8a930
* Content: [App package architectures - UWP app developer](https://docs.microsoft.com/en-us/windows/u

[2018-11-11 04:16] rido-min opened #1201 "Update sideload features for RS5"
The table showing the capabilities by version should be updated to include what's new in 1809

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95c40c14-add5-56b5-2138-ed0805268b94
* Version Independent ID: faf5d307-7af4-27f7-2ce8-5745a2a57605
* Content: [Troubleshoot installation issues with the App Installer file - UWP

[2018-11-11 14:44] JackDetrick opened #1203 "Compiler unable to find get_strong()"
auto strong_this{ get_strong() }; // Keep *this* alive.

I'm missing something but what?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1d40e59-b0fc-e95c-5c25-a933811514b6
* Version Independent ID: 7f28cd84-d6bc-6add-472b-8cd1c0ba08e6
* Content: [Weak references in C++/WinRT - UWP app developer](https://docs.microsoft

[2018-11-11 22:34] stevewhims commented on #1203
Hi, @JackDetrick, get_strong is a member function of winrt::implements. And when you're implementing a Windows Runtime class, your base class is winrt::implements. So, the code is an abbreviation for `this->get_strong()`, called from within the member function of an implementation type. The get_strong function increases the reference count of the *this* object.

I don't know whether that helps. Pl

[2018-11-12 02:40] JackDetrick commented on #1203
Steve -
I'm using VS 2018 15.8.9 and Windows SDK 18272.
When I add the following to a C++/winRT console app, the compiler doesn't like: get_strong();
My question - what am I missing

hstring m_value = L"Hello World"; //jd 11/11/2018
IAsyncOperation<winrt::hstring> RetrieveValueAsync()
{
    auto strong_this{ get_strong() }; // Keep *this* alive.
    co_await 5s;
    co_return m_value;
}

[2018-11-12 03:27] stevewhims commented on #1203
As long as RetrieveValueAsync is a member function of a class that directly or indirectly derives from winrt::implements, then that's correct. You should read `get_strong()` AS IF it says `this->get_strong()`. As long as your class has a get_strong member (inherited from winrt::implements) then the code is good.

Currently, the docs are based on the latest RTM'd release of the SDK (17763), rather

[2018-11-12 06:48] ghost opened #1205 "Asterisks"
What do the Asterisk behind e.g. German mean? I cannot get any description of it here or do I miss something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d2ae8ac-9ec3-364e-8f0f-01513ee1a257
* Version Independent ID: dcd97213-e70f-91aa-57bf-93c3fce31a67
* Content: [Define market selection - UWP app developer](https:

[2018-11-12 09:17] sharpe5 opened #1206 "When I run the C# sample, it gives "System.Exception: 'Element not found. (Exception from HRESULT: 0x80070490)'"
I tried the sample code in the docs to create a Toast notification, and it gave the error in the subject.

How to reproduce:
1. Browse to https://docs.microsoft.com/en-us/windows/uwp/porting/desktop-to-uwp-enhance
2. Using Win 10 Enterprise 10.0.14393.
3. Using Visual Studio v15.8.9.
4. Using  SDK 10.0.16299.0, e.g. "C:\Program Files (x86)\Windows Kits\10\References\10.0.16299.0\Windows.Foundation

[2018-11-12 09:24] sharpe5 commented on #1206
Tried upgrading to Win SDK v10.0.17763.0, and updating the two references to point to it.

Still get the same error: "System.Exception: 'Element not found. (Exception from HRESULT: 0x80070490)'".

[2018-11-12 09:25] sharpe5 commented on #1206
Tried compiling as "x86" instead of "All CPU". No luck.

[2018-11-12 09:31] sharpe5 commented on #1206
Tried:

ToastNotificationManager x1 = ToastNotificationManager.History;

This gave an "Operation Not Supported" error.

[2018-11-12 12:11] e455a81e-d3ba-41a2-bc6d-7aafb1d9a5cd opened #1207 "The link to the Pivot control is broken."
The link to the Pivot control 404s.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8bd2acc-d4c1-f645-a908-ed9f1592deb4
* Version Independent ID: 91326e94-3261-8fea-40ed-fc89e2d95b31
* Content: [Forms - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/forms)
* Content Source:

[2018-11-12 16:23] ginami commented on #1205
Hi @arrangeplatform -- the page says "The markets with an asterisk support the Microsoft Store on Xbox One; you'll see Xbox next to their names in the Market selection popup window."
Does that answer your question?

[2018-11-12 17:36] jakehockey10 opened #1208 "Writing to characteristic code block incorrect"
Hello,

I noticed that the call to WriteValueAsync needs to be WriteValueWithResultAsync in order for the result to be of type GattWriteResult (not GattReadResult like in the existing code block).

https://docs.microsoft.com/en-us/windows/uwp/devices-sensors/gatt-client#enumerating-supported-services-and-characteristics

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2018-11-12 17:39] jakehockey10 commented on #1208
One could either write it this way:

[code]

or

[code]

[2018-11-13 17:03] JnHs commented on #1186
This info is provided in the "Availability" column of the "Types of tax forms" table (https://docs.microsoft.com/en-us/windows/uwp/publish/understand-irs-tax-forms#types-of-tax-forms). Let me know if anything is not clear. Thanks!

[2018-11-13 17:03] #1186 closed, assigned to JnHs

[2018-11-13 17:08] JnHs commented on #926
I'm sorry for taking so long to reply. Each Azure AD application must be specifically added as a user to the account, and keys can be removed as needed if there is any issue that someone unintended gets access to a key. Additionally, as noted on the page, to use the REST APIs provided by the Microsoft Store services, you will need to obtain an Azure AD access token that you can use to authenticate

[2018-11-13 17:08] #926 closed, assigned to JnHs

[2018-11-13 18:11] #1011 closed, assigned to KevinAsgari, aablackm

[2018-11-13 18:37] re-jim opened #1211 "Creating a runtime component and calling it from Javascript throws runtime errors"
https://docs.microsoft.com/en-us/windows/uwp/winrt-components/walkthrough-creating-a-simple-windows-runtime-component-and-calling-it-from-javascript

I attempted to follow the steps in this walkthrough, but I'm getting errors when attempting to invoke the C# from javascript.

I'm using VS 2017. You can find my project here: https://github.com/re-jim/UWPComponentSample

---
#### Document Details

⚠

[2018-11-13 19:05] jwmsft commented on #1207
@LariscusObscurus, thanks for letting us know about the broken link. It's fixed now.

[2018-11-13 19:05] #1207 closed, assigned to jwmsft

[2018-11-13 21:26] #995 closed, assigned to eliotcowley

[2018-11-13 22:30] ginami commented on #1194
Hi @srirayavarapu -- let us know if you've got page-specific feedback for our docs. Thank you!

[2018-11-13 22:30] #1194 closed, assigned to nobody

[2018-11-13 23:16] bakerm00 opened #1212 "how do you work out why company registration is always being rejected?"
we are attempting to register the company and have what we believe to be the correct information - but it keeps getting rejected...

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726a5c98-ba0b-38a0-d86e-2d5df4745d1a
* Version Independent ID: 643673cc-0b57-86f6-e00d-13aad2ef8d20
* Content: [Opening a developer account -

[2018-11-14 00:46] mhopkins-msft commented on #1178
Thank you for this extensive research and feedback. I'll do some investigation and update the documentation as necessary.

[2018-11-14 01:41] JnHs commented on #1212
For help with this please open a support request at http://aka.ms/storesupport - under "Contact us" choose "Dashboard issue" and "Account setup & management".

[2018-11-14 01:41] #1212 closed, assigned to JnHs

[2018-11-14 03:34] nguyenthanhliemfc opened #1213 "Any document to use Microsoft Ads in Unity?"
I'm making game for UWP, Android and iOS in one Project by Unity. But I can't find any docs and worked sample about integrate Microsoft Ads? May I give up UWP game?

---
#### Chi tiết tài liệu

⚠ *Không chỉnh sửa phần này. Điều này là bắt buộc cho docs.microsoft.com ➟ Vấn đề khi liên kết GitHub.*

* ID: b08c6292-c94c-2d95-e800-b14d404879f9
* Version Independent ID: 83029484-dc65-6c17-80f3-e75a6bbc

[2018-11-14 05:40] ianier opened #1214 "Microsoft.Midi.GmDls not available for ARM64"
Already reported this via the Feedback Hub, but no response/action so far:

The processor architecture of the project being built "ARM64" is not supported by the referenced SDK "Microsoft.Midi.GmDls, Version=10.0.17134.0". Please consider changing the targeted processor architecture of your project (in Visual Studio this can be done through the Configuration Manager) to one of the architectures su

[2018-11-14 14:01] rfreytag commented on #1178
I have also filed support request #618110891279430 ("SRX618110891379430ID - Dev Center API does not return listing of all store apps"), with the Dev Center team pointing to this problem in the Store API.  I mention this because it may be that your documentation is correct and the API needs repair.

I will update here and on my GitHub repo if there is a resolution; including changing the code to a

[2018-11-14 18:56] mhopkins-msft commented on #1213
Hello,

As it says on the [Microsoft Advertising SDK download page](https://marketplace.visualstudio.com/items?itemName=AdMediator.MicrosoftAdvertisingSDK), "All APIs in this SDK are exclusive to Universal Windows Platform (UWP) apps."

Unfortunately, you will need to find another advertising solution for a cross-platform game or create conditional code to load different advertising solutions base

[2018-11-14 18:56] #1213 closed, assigned to mhopkins-msft

[2018-11-14 21:38] johanlindfors opened #1217 "AddOn Submissions can't really be managed through this API"
Since the API is not exposing the "Properties" | "Support Info" property set, there's no way to finalize a creation of an addon and a submission without first manually go to the Dev Portal and change these properties through the portal UI. These properties needs to be added ASAP.

Also, the Product Feedback link feels kind of old, or at least I couldn't login on the wpdev.uservoice.com web with my

[2018-11-14 22:50] nschonni opened #1219 "Trim branches"
There are a bunch of merged and closed branches in the repo https://github.com/MicrosoftDocs/windows-uwp/branches/all
When using the web editor, the branch list is getting long and would benefit from removing the old branches

[2018-11-15 00:44] JuanMejiaVelez opened #1220 "Function arguments issues"
The section "Function arguments" mentions that ^ (hat) character can be used to scape quotes for literal strings, Visual Studio seems to disagree on this.

Additionally, adding a more complete example in Two way function binding won't hurt, specially showing the definition of the BindBack method.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2018-11-15 00:46] syncimprov opened #1221 "There is NO Developer Settings link"
We are are Microsoft Partner with O365 (and associated AD account). We would like to use our company credentials for Dev Center. Can you please tell us how to do this? There is NO Developer Settings link under the gear icon. PLEASE do not make us sign up for a personal account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-11-15 03:34] nguyenthanhliemfc commented on #1213
I saw Unity can build a game out a Visual Studio Project with C# (Have a MainPage and MainPage.cs).
Then I implement Microsoft Ads on it?

[2018-11-15 17:48] JnHs commented on #1149
I’m afraid I don’t have any more details on this. If you need more assistance, please open a support inquiry via http://aka.ms/storesupport.

[2018-11-15 17:48] #1149 closed, assigned to JnHs

[2018-11-15 22:19] CanisLupus commented on #1149
Is this _really_ supposed to get closed?

We don't need further assistance, but thanks. We had a long back and forth with several people at Microsoft and had to create the product again from scratch as an app instead of a game, even though we don't agree.

That doesn't change the fact that there's just nowhere in the documentation or submission process that tells us what a "game" is supposed to be

[2018-11-15 22:28] JnHs commented on #1149
Thanks for your additional feedback and I'm glad you were already able to get more assistance through other channels (we cannot provide individual support through this documentation feedback mechanism). I will share your feedback with the team to consider whether further clarifications are needed.

[2018-11-15 22:31] CanisLupus commented on #1149
Thank you. I appreciate you sharing the feedback with the team. We didn't intend to get help through here since we were already working with Microsoft to understand and resolve the issue, but I felt that feedback was needed regarding the docs.

[2018-11-15 23:43] ginami commented on #1205
@arrangeplatform -- let us know if you have any further questions. Thanks!

[2018-11-15 23:43] #1205 closed, assigned to nobody

[2018-11-16 00:37] yadavbdev opened #1223 "Incorrect restricted capability name for teamEditionDeviceCredential"
In the 'Windows Team Device Credentials' above the capability name should be singular like: teamEditionDeviceCredential

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30a70676-883b-801e-2f07-881923cb0b96
* Version Independent ID: f968708e-33cd-ba83-fe9a-71672c961044
* Content: [App capability declarations - UWP app dev

[2018-11-16 16:09] JnHs commented on #1221
Hi - I think you will need to open a support request (via http://aka.ms/storesupport) to troubleshoot this issue.

[2018-11-16 16:09] #1221 closed, assigned to JnHs

[2018-11-16 16:10] JnHs commented on #1183
Thanks for pointing that out - this changed recently and I have updated the topic.

[2018-11-16 16:10] #1183 closed, assigned to JnHs

[2018-11-16 16:12] JnHs commented on #1032
Getting back to the original issue, I've added links to sign in to Partner Center, from which you can navigate to these pages using the instructions provided. I hope this is helpful.

[2018-11-16 16:12] #1032 closed, assigned to JnHs

[2018-11-16 20:29] jasonjef commented on #1177
I started to receive this same message from the certification kit, same version (17763.1) when running against an app that is already in the store. I regenerated the assets and otherwise inspected the manifest but all seems well. If I create an empty UWP app and run WACK it gives the same error ("test was blocked from execution"), so I'm guessing it's not my app but maybe the certification wizard.

[2018-11-16 20:42] mijacobs commented on #1219
I removed the merged branches--thanks for the heads up!

[2018-11-16 20:42] #1219 closed, assigned to mijacobs

[2018-11-16 21:33] mhopkins-msft commented on #1217
Hi Johan,

Thank you for this info. I have shared your feedback with the engineering team.

~ *Mark*

[2018-11-16 21:33] #1217 closed, assigned to mhopkins-msft

[2018-11-17 12:13] omansak opened #1227 "appLicense.AddOnLicenses is null"
i need check license to AddOn. I am using StoreAppLicense appLicense = await context.GetAppLicenseAsync(); -&gt; appLicense.AddOnLicenses but  AddOnLicenses gets null .Why ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c6876f5-833c-935e-2fad-bc1cdb9df995
* Version Independent ID: e13e512a-27f3-f55f-e2bc-2e4e5f101009

[2018-11-17 21:14] icecreamsellah commented on #588
Did you ever find out how to make a shortcut for this? Looking for the URI for this to try..

[2018-11-17 22:14] pixartist commented on #588
Nope, sorry :/

On Sat, 17 Nov 2018, 22:14 icecreamsellah <notifications@github.com wrote:

[2018-11-18 05:16] CheathamPatrick opened #1235 "Databinding section might benefit from a primer on dependencyobject behavior"
The presentation of **data binding** documentation covers the various techniques fairly well. However, I feel that an extra several screens/pages worth of foundational principles to the operation of dependencyobjects and delegation would benefit the programmer in better understanding the plumbing being wired together by these various constructs laid out in the documentation. I recall formerly stud

[2018-11-18 21:52] EddieLotter commented on #892
It appears that update 1809 fixes these issues.
Can anyone confirm?

[2018-11-19 22:18] mcleanbyron commented on #1223
Thanks for your feedback. This issue has been fixed in the documentation.

[2018-11-19 22:18] #1223 closed, assigned to mcleanbyron

[2018-11-19 22:19] mcleanbyron commented on #879
Because there has been no further reply to this issue, I am closing it for now. Please feel free to reopen it if you have more details to share.

[2018-11-19 22:19] #879 closed, assigned to mcleanbyron

[2018-11-19 22:24] mcleanbyron commented on #907
Because this does not appear to be a problem with the docs, I am closing this issue for now. If you continue to encounter problems calling this method on Windows 10 version version 1607 or later, please contact [developer support](https://developer.microsoft.com/windows/support).

[2018-11-19 22:24] #907 closed, assigned to mcleanbyron

[2018-11-19 23:43] JackDetrick commented on #1203
The c++/winRT documentation section "Strong & Weak References"  contains an example on how to create a coroutine that uses get_strong().. The example is called from main(). My coroutine is called from a click handler. I replaced "winrt::init_apartment();: with - co_await winrt::resume_background(); //resume UI thread so that get() doesn't block it. It woks...

[2018-11-19 23:57] mcleanbyron commented on #1187
Thanks for opening this issue. I have updated the article (adding the /p parameter to the example), and the revised article should be published to the live docs site in the next few days.

[2018-11-19 23:57] #1187 closed, assigned to mcleanbyron

[2018-11-19 23:58] mcleanbyron commented on #1021
Thanks for opening this issue. I have updated the productTypes description in the article (noted that it is required and a string array), and the revised article should be published to the live docs site in the next few days.

[2018-11-19 23:58] #1021 closed, assigned to mcleanbyron

[2018-11-20 01:57] steve3424 opened #1239 "Further image processing"
So each frame is written on a Direct3D11Surface which we then convert to a CanvasBitmap object in order to draw onto the _surface we defined earlier. I am looking to instead take a frame and do further processing (cropping, color manipulations, etc.) for the purposes of image classification. I can't seem to find any info on how to do this. Is there any documentation on this?

---
#### Document Det

[2018-11-20 09:50] julienshepherd opened #1242 "PowerShell module"
Is there a PowerShell module for makeappx.exe? If not is there a plan to make one?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1dbb802e-250b-5875-5363-a63479a00cd2
* Version Independent ID: 2a240166-3532-5fbe-bd97-ce94cba7af1f
* Content: [Create an app package with the MakeAppx.exe tool - UWP app developer](https://

[2018-11-20 15:22] sylveon opened #1244 "About certificate signing for distribution"
This page mentions that "it's recommended to sign your app package with a certificate from a certificate authority" to distribute an APPX or MSIX out of the Store, but if I distribute my app in the Store and outside the Store using MSIX, do I really need to purchase a certificate or I can get my MSIX signed by Microsoft for distribution outside the Store?

---
#### Document Details

⚠ *Do not edit

[2018-11-20 15:24] sylveon commented on #1244
Also, if I need to purchase a certificate, would I need to sign every binary file in the package or just signing the MSIX will be fine? What if my app wants admin, will the signature from the MSIX show up? Or does signing the MSIX also signs all binaries inside?

[2018-11-20 16:44] assassin316 opened #1245 "Samples should have full code to avoid others "guessing" what they are."
Horrible example....lots of code missing and takes awhile for someone (whose never worked with Expression Builder) to figure out what "EF" maps to, how to get the proper value of "center", etc...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077d8d68-5166-ed15-4d09-7545abf4aa57
* Version Independent ID: fb6d6dc9-2ffe-

[2018-11-21 11:17] AngelTs opened #1246 "Not work. You waste my time. Next time focus to make working sample, not child "fashion" videos"
Desktop, Win10Pro, 1803, 17134.407, VS2017.
The application "Update a live tile from a background task" totally not work - no tile updates, only success with compilation and start!
Can't debug!!!
Also in "Debug location', there is no "BlogFeedBackgroundTask"!!!
(just for comparison, I compile, run and debug successful "BackgroundTask" project from "Universal Windows Platform (UWP) app samples"

--

[2018-11-21 17:22] ajventi commented on #1211
I am stuck at the second section, calling the component from JavaScript, because VS 17 didn't give me a default.js or any code at all in the template. Perhaps this needs an update?

[2018-11-21 17:28] ajventi commented on #1211
I just looked through the javascript templates and it looks like maybe instead of a Blank Project template we want the WinJS Template? It's the only template that has any code similar to the description in the text.

[2018-11-21 17:37] ajventi opened #1247 "Error in Text"
Going through https://docs.microsoft.com/en-us/windows/uwp/winrt-components/walkthrough-creating-a-simple-windows-runtime-component-and-calling-it-from-javascript I believe it needs updating. VS 17 does not give a "default.js" file in the template, the only file "main.js" is empty, so I don't think it could possibly work. I browsed the templates and it looks like the WinJSApplication Template is t

[2018-11-21 17:38] ajventi commented on #1247
I should also add that the final link under "related topics" is recursive. I don't really think we need to reread the page for related topics.

[2018-11-21 19:48] ajventi commented on #1247
I've gotten further along, you definitely want the WinJSApplication template.

I've come across quite a few errors at this point, do you want to point me to where the code is in the repo (if there is any) and I can work on  a pull-request

[2018-11-21 21:21] shadowmage45 opened #1248 "Need WPF Equivalent"
How to access an equivalent control in WPF?

(or has WPF development been dropped already in favor of UWP?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb31e7af-bc26-689e-6881-430e7bd9a8f7
* Version Independent ID: fa7d8401-dc0b-43c1-e3d0-5f3543d749f1
* Content: [Color Picker - UWP app developer](https://docs.micros

[2018-11-22 00:20] ajventi commented on #1211
Apologies for my comments, I have opened a separate thread for my issues.

[2018-11-22 07:02] Heidelberger opened #1249 "Which Privacy Settings affect failure reporting?"
"Most often, this occurs because of storage constraints, but it can also be a result of a device's privacy settings..."

Which privacy settings exactly? Please provide a link or additional information. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a91b3f4b-30e3-af2d-950c-38d5e63e0480
* Version Independent I

[2018-11-22 18:55] tolros1 opened #1252 "Grow Revenue"
Leverage rich commerce, capabilities and get insights into how your business is promoting on azure marketplace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91270efd-e009-5b09-a4c5-dc3675024fbd
* Version Independent ID: 9ab569b8-9106-1b68-d403-e885e9c8c84b
* Content: [Implement ads in your app - UWP app developer](ht

[2018-11-23 07:44] kasperbalink opened #1253 "Binary analyzer: AppContainerCheck"
Hi,

I'm currently trying to submit an app to the store. Everything works fine, but I got an error in the App Certification Kit: a Binary Analyzer error. And because of this error I can't submit this app to the store.
This error is telling me te following:

**Error Found:** The binary analyzer test detected the following errors:
[code]

•**Impact if not fixed**: If the app doesn’t use the availabl

[2018-11-23 13:27] made1990 opened #1254 "How is it handled when updating an app and simultaneosly change price from "free" to "not-free""
Meaning you have an app already published for free in the store.
Now you submit an updated version of your app and also want to charge for your app from now on.
What happens to those users already installed the earlier free app version? Can't they use there app anymore until they pay?
What if you enable a "free trial" version. Are the current users, the ones who got the app for free, automatically

[2018-11-23 13:37] made1990 opened #1255 "As a develop do I have to pay for my own published app?"
When I publish an app which is not for free to the store, do I have to pay for it as well when I want to download it?
Or is there some kind of linking between my Microsoft-account and developer account possible which prevents me from payment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca4c0541-1af5-8654-ad07-96b629

[2018-11-23 13:52] yowl opened #1256 "Missing example"
The remarks section says "x:DataType value, as shown in the example below." yet there is no example below.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27806783-e079-576b-6477-103b3582a7b4
* Version Independent ID: 6f94ae4c-9946-712a-53f9-4ea26a0b025c
* Content: [xBind markup extension - UWP app developer](https://do

[2018-11-23 14:39] laultman opened #1257 "This could use a serious refresh to current VS 2017 or alternate page altogether."
Much of this is very dated information. In particular the current (15.9.2) tooling package.manifest tools have easier and better ways to edit the packages, and to get the various IDs needed. One thing still seems to require direct edit of XML is the support for multiple instances. Some people might not know how to edit the XML in 15.9.2 since it is not on the context menu, which is to right-click

[2018-11-24 02:42] deskoh opened #1258 "Broken Links"
Github link in documentation broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4665391f-f838-ae07-8591-d8f13f41a027
* Version Independent ID: 38b6b8ed-c3d2-97b1-9852-e3779b3ea281
* Content: [Using the UWP XAML hosting API in a desktop application - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/xa

[2018-11-25 13:02] ghost commented on #1089
Still doesn't work and I agree in that the link seems to be broken. Any ideas? Has Microsoft cancelled the program?

[2018-11-25 16:04] EddieLotter opened #1260 "Spelling Error"
The section "Build up the heirarchy of services and characteristics" spells "hierarchy" incorrectly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43664026-c784-e891-bdec-3102f48ade77
* Version Independent ID: 4629d3c4-d850-d456-efe5-ba4c1d61c21b
* Content: [Bluetooth GATT Server - UWP app developer](https://docs.micr

[2018-11-25 17:49] #636 closed, assigned to nobody

[2018-11-26 11:57] moyanming commented on #558
Hi @kevin-jing ,
Same problem here on the 17763 (1809), could you tell me how to solve this problem?
Best regards.

[2018-11-26 17:12] JnHs commented on #1254
Once a customer has a full license to your app, they won't lose that license, even if you raise the price or change it from free to a cost. Similarly they won't revert to a trial version even if you implement a trial after the customer acquired it.

[2018-11-26 17:12] #1254 closed, assigned to nobody

[2018-11-26 17:14] JnHs commented on #1255
There is no automatic linking, but you can generate promotional codes to get the app (and/or any add-ons) for free. See https://docs.microsoft.com/windows/uwp/publish/generate-promotional-codes
 for more info.

[2018-11-26 17:14] #1255 closed, assigned to nobody

[2018-11-26 20:18] the-jedi-code opened #1261 "Install via NuGet workflow has issues"
**Microsoft.Services.Store.Engagement**

I've added the NuGet version to my UWP app. The issue happens when you create the store package and try to install the app using the powershell script inside the appxbundle you get this error.

[code]

I ran a `Get-AppPackage Microsoft.Services.Store.Engagement` powershell command and found that windows already has installed the engagement package at the wi

[2018-11-26 20:31] #1260 closed, assigned to nobody

[2018-11-26 20:32] jillre commented on #1260
Thanks for the feedback, @EddieLotter! I fixed the typos, and the update should be live tomorrow.

[2018-11-26 21:00] mhopkins-msft commented on #1178
Great, thanks. I'm going to go close this issue since you have a support request filed.

[2018-11-26 21:10] mhopkins-msft commented on #1213
The download page is pretty specific that it only supports the Universal Windows Platform.

[2018-11-26 21:12] mhopkins-msft commented on #1227
Thanks for reaching out to the Microsoft developer documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the documentation.

You may have success posting your question in the [Windows developer forums](https://social.msdn.microsoft.com/Forums/windowsapps/home?forum=windowsstore%2Cwpsubmit%2Cwppayout%2Cwpdcapp%2Ca

[2018-11-26 21:12] #1227 closed, assigned to mhopkins-msft

[2018-11-26 21:56] JnHs commented on #1249
This can be affected by a customer's diagnostic data settings (when someone chooses not to provide full diagnostic data to Microsoft). See  https://privacy.microsoft.com/en-US/windows-10-feedback-diagnostics-and-privacy_/ for more info.

[2018-11-26 21:56] #1249 closed, assigned to JnHs

[2018-11-26 23:09] jwmsft commented on #1248
@shadowmage45, you can use the WindowsXamlHost to use this color picker control in WPF. See [UWP controls in desktop applications](https://docs.microsoft.com/windows/uwp/xaml-platform/xaml-host-controls) for more info.

[2018-11-27 08:26] Heidelberger commented on #1249
This is the correct link: [https://privacy.microsoft.com/en-US/windows-10-feedback-diagnostics-and-privacy/](https://privacy.microsoft.com/en-US/windows-10-feedback-diagnostics-and-privacy/)

Thank you!

[2018-11-27 12:30] A55imilat0r opened #1264 "Fluent Design for Wordpress"
Would be really nice if Microsoft could partner with wordpress and bring a fully functioning Fluent Design UWP theme and editor with all the things that make it great.

Please empower every wordpress author to achieve more.

[2018-11-27 14:06] techjogger opened #1265 "Is the Graphics.Capture API supported in C++/WinRT ?"
Is the Graphics.Capture API supported in C++/WinRT ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f607a1db-43b3-bf1c-c6d1-6283c1280743
* Version Independent ID: c1c72175-3e9c-59f6-e30e-7d6f821c5876
* Content: [Screen capture - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/audio-video-camera/screen-c

[2018-11-27 16:47] JnHs commented on #1249
Thanks, sorry about the typo!

[2018-11-27 18:25] mcleanbyron commented on #1258
Thanks for letting us know about the broken links in this article. I have fixed the links, and those changes should be published to the live version of this article in the next couple of days.

[2018-11-27 18:25] #1258 closed, assigned to jwmsft

[2018-11-27 21:24] c-don commented on #1242
We currently do not have a PowerShell Module for creating Windows 10 app packages.

Our current offering of PowerShell modules that handle Windows 10 app packages are [here](https://docs.microsoft.com/en-us/powershell/module/appx/?view=win10-ps).

We would like to learn more about your scenario. If you would like to place a request for this module - please post the request on our [community ](http

[2018-11-27 21:53] #1242 closed, assigned to mcleanbyron

[2018-11-28 08:48] bezysoftware opened #1266 "Path too long on Azure Pipelines custom VM"
I got the error "Path too long" during a build on my Azure VM (run by Azure pipelines). The solution to add "repositoryPath" above didn't help, because the problem was with the global packages path - it was being installed into "C:\Windows\ServiceProfiles\NetworkService" and THIS path was too long.
The solution was to add "globalPackagesFolder" into my Nuget.config and that fixed my build

---
###

[2018-11-28 08:57] myokeeh opened #1267 "LOB App Submission"
Is there a better explanation of why LOB app submissions are not supported? I've tried it, but it gets stuck at "CommitStarted"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 368e3d24-23d2-9e46-3d58-3d328e917f50
* Version Independent ID: 15ddd09e-bf7a-21ed-b39f-300896186879
* Content: [Create and manage submissions - U

[2018-11-28 09:36] Heidelberger opened #1268 "Instructions incorrect"
"If you encounter issues, contact product support. On that page, choose Ads-In-Apps."

There is no "Ads-In-Apps" selection on the linked product support page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 552c0676-b378-929b-0882-4a8ce78d5c47
* Version Independent ID: 9dee3b2f-d6df-bbb7-7e0e-62dd19fc5e52
* Content: [Kn

[2018-11-28 10:08] Heidelberger opened #1269 "Define Dimensions"
It's not clear if the following are (width x height) or (height x width). They are, in fact, (height x width). Please state that in the doc. Thank you!

160x600
300x50
300x250
300x600
320x50
640x100
728x90

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ff243ec-5cbd-fef0-006f-24498eb88468
* Version Independent ID: 1db6

[2018-11-28 12:31] NISTabletSW opened #1271 "Trusted Certificate Problem"
To Whom It May Concern:

I finally managed to successfully upload my app to the Packages section of my Individual Microsoft Developers Account.

I used the following command line to convert my MSI file over to a UWP app:

DesktopAppConverter.exe -Installer C:\Installer6\EditRight.msi -Destination C:\Output6 -PackageName “9994SeanKennethMaxted.EditRight” -PackageDisplayName “EditRight” -AppId “Edit

[2018-11-28 18:14] re-jim commented on #1211
@msatranjr any updates or news?
Thanks

[2018-11-28 20:34] ghost commented on #1068
You can do it placing the ```CommandBar``` inside a ```Grid.Row```.

[2018-11-28 20:37] mcleanbyron commented on #1271
Thanks for reaching out to us. For assistance with your question about using DesktopAppConverter.exe to package your existing .msi, I recommend that you start a new conversation at https://techcommunity.microsoft.com/t5/MSIX-Packaging-and-Tools/bd-p/MSIX-Packaging. That community is supported by experts from Microsoft and the community. I'm closing this issue, because this GitHub repo is specifica

[2018-11-28 20:37] #1271 closed, assigned to hickeys, mcleanbyron

[2018-11-28 21:29] eliotcowley commented on #612
Hi, just wanted to provide an update. Apologies for taking so long, we're still trying to figure out the best way to handle this scenario. (It starts to get pretty low-level.)

If you are only trying to record video of your app window, you can do so with the [Windows.Media.AppRecording Namespace](https://docs.microsoft.com/uwp/api/windows.media.apprecording). This is in the Desktop Extensions SDK,

[2018-11-28 23:10] JohnGalt1717 commented on #612
Thanks for that. Unfortunately I need to record other apps, not our own so I still need to be able to write the frames to a file and ultimately produce an mp4 and something that I can do basic editing against.

[2018-11-28 23:38] jwmsft commented on #1256
@yowl, thanks for the feedback. The examples were moved to the top of the page. I've updated the text and linked to the Examples section.

[2018-11-28 23:38] #1256 closed, assigned to jwmsft

[2018-11-29 08:41] AlexeySubbotin opened #1275 "Deprecated method in docs"
In the "Get info about locations" section the deprecated GetLocationFromOffset method is advised to use. There should be the TryGetLocationFromOffset method listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2556060-087b-0509-0639-5ad36ce5a85e
* Version Independent ID: 47c9b210-bb48-c5f3-3cf5-08ff1a75662a
* Conten

[2018-11-29 18:55] #787 closed, assigned to KevinAsgari, aablackm

[2018-11-29 18:56] #790 closed, assigned to KevinAsgari, aablackm

[2018-11-29 18:58] #940 closed, assigned to KevinAsgari, aablackm

[2018-11-29 18:59] #1093 closed, assigned to aablackm

[2018-11-29 19:14] jevansAN opened #1276 "Reading binary data"
Could there be an example provided for reading binary data? It's not clear that the methods for reading text from a file are appropriate. Also, it would help to see some explanation of the advantages of each of these methods. Why should one choose the 4-step method when there are shorter methods, for example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2018-11-29 22:28] mhopkins-msft commented on #968
Thanks for reaching out to the Microsoft developer documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the documentation.

You may have success posting your question in the [Windows developer forums](https://social.msdn.microsoft.com/Forums/windowsapps/home?forum=windowsstore%2Cwpsubmit%2Cwppayout%2Cwpdcapp%2Ca

[2018-11-29 22:28] #968 closed, assigned to mhopkins-msft

[2018-11-29 22:35] mhopkins-msft commented on #1178
I recently got some info from the engineering team.

`GET https://manage.devcenter.microsoft.com/v1.0/my/applications` will return the top 10 apps. The default value of _top_ query parameter is 10.
`GET https://manage.devcenter.microsoft.com/v1.0/my/applications?top={totalAppNum}` will return all the applications in one page. This is at user’s own risk and is not guaranteed to work with a large pa

[2018-11-29 22:35] #1178 closed, assigned to mhopkins-msft

[2018-11-29 22:38] mhopkins-msft commented on #1178
To summarize:

1. `?top={totalAppNum}` if the system can handle it.
2. `GET https://manage.devcenter.microsoft.com/v1.0/my/applications`
    Then recursively call
    `GET https://manage.devcenter.microsoft.com/v1.0/my/{nextLink}`
    aka
    `GET https://manage.devcenter.microsoft.com/v1.0/my/applications?skip=10&top=10`
    `GET https://manage.devcenter.microsoft.com/v1.0/my/applications?skip=20

[2018-11-29 23:47] mhopkins-msft commented on #1052
Thanks for reaching out to the Microsoft developer documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the documentation.

You may have success posting your question in the [Windows developer forums](https://social.msdn.microsoft.com/Forums/windowsapps/home?forum=windowsstore%2Cwpsubmit%2Cwppayout%2Cwpdcapp%2Ca

[2018-11-29 23:47] #1052 closed, assigned to mhopkins-msft

[2018-11-29 23:53] mhopkins-msft commented on #1252
Hi tolros1, did you have some specific feedback about the documentation or are you just making a comment?

[2018-11-29 23:56] mhopkins-msft commented on #1261
Thanks for reaching out to the Microsoft developer documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the documentation.

You may have success posting your question in the [Windows developer forums](https://social.msdn.microsoft.com/Forums/windowsapps/home?forum=windowsstore%2Cwpsubmit%2Cwppayout%2Cwpdcapp%2Ca

[2018-11-29 23:56] #1261 closed, assigned to mhopkins-msft

[2018-11-29 23:57] mhopkins-msft commented on #1267
Thanks for reaching out to the Microsoft developer documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the documentation.

You may have success posting your question in the [Windows developer forums](https://social.msdn.microsoft.com/Forums/windowsapps/home?forum=windowsstore%2Cwpsubmit%2Cwppayout%2Cwpdcapp%2Ca

[2018-11-29 23:57] #1267 closed, assigned to mhopkins-msft

[2018-11-30 00:08] mhopkins-msft commented on #1268
Hi Heidelberger, thank you for pointing this out. You should choose **Contact us**. I've updated the topic. Thanks, again.

[2018-11-30 00:08] #1268 closed, assigned to mhopkins-msft

[2018-11-30 00:33] mhopkins-msft commented on #1269
Hi Heidelberger, the example images definitely look like the values are width x height, as I'd expect.

[2018-11-30 05:29] myokeeh commented on #1267
Actually, to add to the confusion, it seems LOB apps ARE supported. All of my apps are for LOB, and the API handled them just fine after I figured out what I was doing wrong.

[2018-11-30 14:13] spelbreker opened #1277 "sytax fault"
public static List&lt;!!!S!!!tring&gt; GetData()
{
    List&lt;!!!S!!!tring&gt; entries = new List&lt;string&gt;();

    using (SqliteConnection db =
        new SqliteConnection("Filename=sqliteSample.db"))
    {
        db.Open();

        SqliteCommand selectCommand = new SqliteCommand
            ("SELECT Text_Entry from MyTable", db);

        SqliteDataReader query = selectCommand.ExecuteRea

[2018-11-30 14:14] SilverSilence opened #1278 "Inaccurate explanation of accelerator resolution"
The documentation says:
A keyboard accelerator event bubbles from the element that has focus up to the root. If the event isn't handled, the XAML framework looks for other unscoped app accelerators outside of the bubbling path.

I just had the case that I let my accelerator bubble up (didn't set e.handled = true) and it then re-executed the very same accelerator. In other words, it's not "complete

[2018-11-30 16:55] clairernovotny opened #1279 "Need doc for Packaging Project on Azure Blobs"
In the docs, there’s a section for hosting the AppInstaller on AWS S3, but not Azure Blobs: https://docs.microsoft.com/en-us/windows/uwp/packaging/web-install-aws. The Azure section only covers App Services, which is overkill and more expensive than the AWS option. Can a page for Azure blobs please be added?

[2018-11-30 17:01] rido-min commented on #1279
/cc @nonasi @normesta

[2018-11-30 18:25] mcleanbyron commented on #1277
Thanks for your feedback! The "Prepare the data access class" section of this article was missing an instruction to add a using statement for the System.Collections.Generic namespace to the top of the DataAccess code file. I have added this instruction, and this fix will be published to the docs in the next day or two.

[2018-11-30 18:25] #1277 closed, assigned to nobody

[2018-11-30 18:48] the-jedi-code commented on #1261
@Xansky Thanks i'll log my but over there.

[2018-11-30 19:44] Nathan-Tarin opened #1280 "Account Verification"
Hello team,

We received a notification that the verification process for Company account has been updated. Please remove the mention of Dun and Bradstreet from this documentation and the mention of the possibility of a phone call, since this was discontinued.

The standard SLA of the business verification will be 2 business days.

Thanks in advance!

---
#### Document Details

⚠ *Do not edit this

[2018-11-30 21:19] eliotcowley commented on #624
Hi @kubakista, thanks for the feedback. Sorry for the long wait. I'm testing this out now on Windows 10 build 17763, with SDK build 17763 as well. Here's what I've found:

* Uploading a file to the app's temp folder through the Windows Device Portal works, and I am able to read it from the app.
* I am able to create a file through the app to the app's temp folder.

I don't currently have an Xbox s

[2018-11-30 21:44] kubakista commented on #624
Hi @eliotcowley,
it was already fixed in 17763 (build 2023).
In the latest build 3062 it works as well.

I guess this ticket can be closed.

[2018-11-30 21:47] shanepowell opened #1281 "Incorrect New-SelfSignedCertificate example"
The certificate requirements are documented here:
https://docs.microsoft.com/en-us/previous-versions/br230260%28v%3dvs.110%29

The example New-SelfSignedCertificate does not follow the above requirements so it doesn't work:
New-SelfSignedCertificate -Type Custom -Subject "CN=Contoso Software, O=Contoso Corporation, C=US" -KeyUsage DigitalSignature -FriendlyName <Your Friendly Name> -CertStoreLocat

[2018-11-30 23:56] eliotcowley commented on #624
Okay great, thanks for letting me know.

[2018-11-30 23:56] #624 closed, assigned to eliotcowley

[2018-12-02 17:21] mnpoor opened #1283 "Microsoft Store API Information"
"Use the Microsoft Store promotions API to programmatically manage promotional ad campaigns for your apps. This API enables you to create, update and monitor your campaigns and other related assets such as targeting and creatives. This API is especially useful for developers who create large volumes of campaigns, and who want do so without using Partner Center dhboard." <===

Note spelling error '

[2018-12-02 18:17] ghost commented on #609
jashif is correct,

https://docs.microsoft.com/en-us/windows/uwp/packaging/web-install-iis

Carry out the first 2 actions in Step 8

[2018-12-03 14:17] urjapatel opened #1284 "How to use Desktop Bridge in UWP Background Task?"
I have a desktop application which I need to use and communicate from Background Task. I tried various solution but no luck.
Is it possible to communicate with desktop bridge app through App Service from UWP Background Task? And if yes how do i achieve that? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ba89d6

[2018-12-03 15:47] billyrayxbox opened #1286 "ProductId guidance is incorrect, should be the StoreId"
This API (and perhaps the other Xbox One analytics APIs for XDP-published titles?) appears to require the StoreID, not the XDP product id.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f41781d-fe03-611f-689a-f39f18299bb4
* Version Independent ID: bc2cdfdc-bdaf-f302-7ea5-a9e0d97aa494
* Content: [Get error reporting da

[2018-12-03 16:04] cwca opened #1287 "Does not work (no sound) under Windows 10 1809"
For whatever reason, using Windows 10 1809 from https://www.microsoft.com/en-ca/software-download/windows10ISO, built clean on a VMWare Fusion 11.0.2 Virtual Machine with the most current Visual Studio 2017, there is no sound from the speech synthesizer.  The VM outputs sound just fine (moving the volume control on the task bar results in a windows 'bing').   The exact same example run under a VMW

[2018-12-03 23:50] mcleanbyron commented on #1188
Thanks for your feedback! We are in the process of pulling together a lot of in-depth guidance about what the WritexxxAsync methods do internally, how and why various parts of these operations can fail, and what you can do in response to the failures. I'll update this issue when this new guidance is published in our docs.

[2018-12-04 00:24] mhopkins-msft commented on #1283
Hi Meredith,

Thanks for reporting this typo. I've fixed the issue. It should be published tomorrow.

 ~ Mark

[2018-12-04 00:24] #1283 closed, assigned to mhopkins-msft

[2018-12-04 00:36] mhopkins-msft commented on #1286
Hi billyrayxbox,

The page says the API takes the _applicationId_, which it describes as the "product ID." Are you suggesting that this description should be changed to say "store ID?"

 ~ Mark

[2018-12-04 00:44] mhopkins-msft commented on #1286
I see it now, I'll make this update. Thanks!

[2018-12-04 11:49] jignesh-fandco opened #1288 "Need sample example of how to handle errors"
There needs a sample example of how to handle errors after committing submission.
unfortunately ApplicationSubmissionStatusUrlTemplate = "/v{0}/{1}/applications/{2}/submissions/{3}/status"  does not return lsit of Errors (if any).   Can anyone point me to a sample example if available on internet  or in anybody's blog or so.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2018-12-04 16:05] #1288 closed, assigned to nobody

[2018-12-04 21:18] JnHs commented on #1280
Thanks for passing on this info, I'm confirming the current processes and what updates may be needed, and will reply back here after I've done so.

[2018-12-04 22:53] mhopkins-msft commented on #1286
Hi billyrayxbox,

I checked with the engineering team and they told me that product ID is the correct term because it applies universally.

Thanks,
 *\~ Mark*

[2018-12-04 23:51] #1041 closed, assigned to QuinnRadich, jwmsft

[2018-12-04 23:54] #802 closed, assigned to jwmsft

[2018-12-04 23:56] jwmsft commented on #775
ItemsSource property was added in Windows 10, version 1809 (introduced v10.0.17763.0).
[TreeView.ItemsSource Property](https://docs.microsoft.com/uwp/api/windows.ui.xaml.controls.treeview.itemssource)

[2018-12-04 23:56] #775 closed, assigned to jwmsft

[2018-12-05 00:10] jwmsft commented on #1042
See linked WindowsTemplateStudio issue #2621.

[2018-12-05 00:10] #1042 closed, assigned to jwmsft

[2018-12-05 00:41] mhopkins-msft commented on #1266
Thanks for the feedback. I've incorporated your info into the article. It should publish tomorrow.

[2018-12-05 00:41] #1266 closed, assigned to mhopkins-msft

[2018-12-05 00:47] mhopkins-msft commented on #1269
Closing this since I haven't heard back.

[2018-12-05 00:47] #1269 closed, assigned to mhopkins-msft

[2018-12-05 09:02] Heidelberger commented on #1269
I didn't realize you were waiting for a response to your statement.

Yes, the images imply width x height.  Why not state it explicitly and avoid confusion?

[2018-12-05 14:27] timteam opened #1289 "How are run apps for sideloading with a commercial trusted certificate"
Hello,

Do we need to enable the developer mode and to import manually the certificate if the UWP app has been signed with an official trusted certificate bought on a certification site?

Regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9d1c88d-24b1-0eda-b458-105db02dca36
* Version Independent ID: c5d1634a-0ead

[2018-12-05 16:57] billyrayxbox commented on #1286
Hi,

Couple of problems here:

* The other analytics API docs use the term Store ID when referring to the applicationId parameter.
* ProductId is familiar to our Xbox partners as a big guid style Id they see in XDP.
* The documentation for applicationId tells the partner to go and get it from XDP.  This is incorrect.

The same wording as other analytics APIs seems like the right way to go, per thi

[2018-12-05 19:09] #1248 closed, assigned to jwmsft

[2018-12-05 20:12] hickeys commented on #1275
Thanks for the feedback. I've made this change in the docs, it should be published shortly. I'll keep this issue open until the change is visible.

[2018-12-05 22:14] hickeys commented on #1284
If I understand your question correctly, what you would like to do is not possible. IPC (Inter-Process Communication)is not allowed for Desktop Bridge apps outside of their app container to desktop components. [Please see here](https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/windows-desktop-bridge-app-tests#31-app-manifest)

If you'd like to continue to investigate your options, I rec

[2018-12-05 22:14] #1284 closed, assigned to hickeys

[2018-12-05 23:33] mhopkins-msft commented on #1286
Thanks for the info, I've updated the topic. It should be published tomorrow. Thanks!

[2018-12-05 23:33] #1286 closed, assigned to mhopkins-msft

[2018-12-06 02:20] jraldrin opened #1290 "Links to out of date content"
The following links go to content almost 3 years old.

See Universal Windows apps in .NET for an overview of writing .NET UWP apps
.NET Native - What it means for Universal Windows Platform (UWP) developers

Hard to believe content is still relevant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88c23e09-bb75-8b8e-095

[2018-12-06 04:05] EvaRichie commented on #1206
Use the toast need in appx package. Reference here
https://github.com/Microsoft/DesktopBridgeToUWP-Samples/issues/38

[2018-12-06 05:09] mtbeaver commented on #712
When creating a Characteristic or Descriptor, you do set the GattProtectionLevel as you alluded to in your question.  There is a property for both Read and Write permissions for each attribute as well.  Once set, the Bluetooth stack will enforce the requirements on all incoming operations, replying back to the remote device with the appropriate access error code if the link requirements do not mat

[2018-12-06 08:00] denizgokce commented on #1085
@mcleblanc @msatranjr

`private void TryEnablePrelaunch()
{
     Windows.ApplicationModel.Core.CoreApplication.EnablePrelaunch(true);
}`

This piece of code that is presented in official documentation not working for me.

I am building an UWP application with target version 1803
After I called `TryEnablePrelaunch()`, I call

`if (!canEnablePrelaunch && e.PrelaunchActivated == true)
{
    LoggingSe

[2018-12-06 16:11] EquiGym commented on #987
this might help
https://github.com/ozapara/Heart-Rate-Bluegiga/blob/master/Heart_Rate_Bluegiga/main.c

[2018-12-06 17:51] hickeys commented on #1275
This change is now reflected in the page. I'm closing this issue.

[2018-12-06 17:51] #1275 closed, assigned to hickeys

[2018-12-06 19:02] mcleanbyron commented on #1289
Hi @timteam - To clarify, are you specifically referring to sideloading an app on your development computer for testing purposes? (versus sideloading an app in a production environment or publishing it to the Store).

[2018-12-06 20:55] loarabia commented on #662
Hi @ahojnnes , WDP's core API doesn't surface this today but it is on our backlog. One thing that helps us is understanding what device you're using WDP against (WDP runs on many form factors) and what you're trying to accomplish. Depending on the scenario, we can often come up with more holistic solutions.

[2018-12-06 21:32] QuinnRadich commented on #1290
To my knowledge, the "UWP in .NET" docs are still the most recent content in that area. I agree that the current .NET Native link is outdated, so I'll update it with more recent information.

[2018-12-06 21:49] marswe commented on #1214
The framework package Microsoft.Midi.GmDls itself is in fact neutral and therefore works on ARM64.  The issue is that the manifest file included with it in the SDK is limiting it to only x86, x64, and arm.

That means that as a workaround before the fix ships in an upcoming SDK flight, you can edit the manifest XML file directly at `%programfiles(x86)%\Microsoft SDKs\Windows Kits\10\ExtensionSDKs\

[2018-12-06 21:58] QuinnRadich commented on #1287
Interesting. Thanks for the report.

I'll investigate further, but I would encourage you (if you haven't already) to send a report to Windows developer feedback. If this is an issue that only exists on VMs running Version 1809 and doesn't have a known workaround, we can add a notice to the tutorial but probably won't update the code.

[2018-12-07 01:42] khorshid-amazon opened #1294 "Typo"
Typo: "indetermindate" should be "indeterminate"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4832355-0a00-8e3d-9e5a-1bfe4b2a915b
* Version Independent ID: 2b928728-705f-4dc6-1a5a-658d728ae924
* Content: [Toast progress bar and data binding - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/design/she

[2018-12-07 05:36] #1103 closed, assigned to nobody

[2018-12-07 05:42] martinekuan commented on #1096
Closing since this has been fixed.

<img width="278" alt="whats_new" src="https://user-images.githubusercontent.com/7740692/49629720-c1b85700-f99f-11e8-9100-52a6a5ede790.PNG">

[2018-12-07 05:42] #1096 closed, assigned to QuinnRadich

[2018-12-07 06:05] ianier commented on #1214
The workaround does the trick so I'm closing this issue. The WoA team confirmed this will be fixed in an upcoming SDK. Thanks a lot.

[2018-12-07 06:05] #1214 closed, assigned to drewbatgit

[2018-12-07 19:35] markseminatore opened #1296 "Missing Credits on report"
In UDC I do not see Credits Earned or Credits Spent on the Advertising Performance Report even though I've had a Community Ad campaign running for months.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83096d8a-871a-3481-578a-e8f909468a79
* Version Independent ID: 3c352877-2aa6-3d50-d954-2bf12cdf8056
* Content: [Advert

[2018-12-07 19:39] JnHs commented on #1280
@Nathan-Tarin could you let me know more about the notification you received - was this an email or other formal communication, or a conversation with support, or something else? Trying to understand the origin of this info.

[2018-12-07 20:16] Nathan-Tarin commented on #1280
Hello,

We received this notification from our SME for the Dev Center LOB (see attached).

Please refer to Ricardo Pabon (v-rpabo@microsoft.com<mailto:v-rpabo@microsoft.com>) for further clarification.

Let me know if you need anything else.

Best regards,

Nathan Tarin

From: JH <notifications@github.com>
Sent: Friday, December 7, 2018 1:39 PM
To: MicrosoftDocs/windows-uwp <windows-uwp@noreply.gi

[2018-12-07 21:24] JnHs commented on #1296
Please open a support request at http://aka.ms/storesupport so that we can look into this.

[2018-12-07 21:24] #1296 closed, assigned to JnHs

[2018-12-07 23:45] saidi6882 opened #1297 ".."
[ป้อนคำติชมที่นี่]

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: 94542e37-416b-d37d-b9a6-93fc343b1963
* Version Independent ID: a06bb01a-febf-350a-cfe7-e1cca85bf7d1
* Content: [Windows 10 Build 17763 API changes - UWP app developer](https://docs.microsoft.com/th-th/windows/uwp/whats-new/windows-10-build-17763-api-diff)
* Con

[2018-12-08 00:46] WallSoGB opened #1298 "Adobe XD template still on 1806"
When it will be updated to 1810?

[2018-12-08 01:03] ginami commented on #1297
Hi @saidi6882 -- let us know if you have specific feedback on our docs. Thank you!

[2018-12-08 01:03] #1297 closed, assigned to nobody

[2018-12-08 01:04] ginami commented on #1298
Hi @WallSoGB -- can you tell me which specific page in our docs you're referring to? This will help me route your question to the correct author. Thank you!

[2018-12-08 02:02] WallSoGB commented on #1298
Hi, it should be [there](https://github.com/MicrosoftDocs/windows-uwp/issues?utf8=%E2%9C%93&q=%22943e9c97-f223-4d3c-730c-a7f20cb04560%22&in=body), don't know why it was sent here instead.

[2018-12-08 02:06] WallSoGB commented on #1298
If you still need need a doc then [that's it](https://docs.microsoft.com/en-us/windows/uwp/design/downloads/?ocid=cxfluent-v1Oct-fluent-get).

[2018-12-08 04:15] cwca commented on #1287
Had a physical machine update itself to 1809 today and tried out this example - works fine.  Only the VM version doesn't speak (but sound on the VM works though).  Perhaps some incompatibility with the sound drivers on the VM or other interaction.  Thanks for investigating.

[2018-12-10 08:31] touseefbsb commented on #558
strangely I also have app min version as 1809 and the app is supposed to ask the user about allowing file system access, but it never does, and then it denies access. So I checked in settings -> file system access, and I saw that my app name is there in the list but access to it is turned off, if I turn it on then access works as expected, but the problem is the app never asks for the access from

[2018-12-10 17:04] Powerhelmsman opened #1299 "Sample data on the design surface on the UWP does not take effect"
This issue was created by @HaoLife from https://github.com/MicrosoftDocs/feedback/issues/924
Describe the bug
I used sample data on the design surface during the development of the UWP app, but found no effect, and it was effective for me to use the method in WPF with the same example, which should be a bug for the UWP app
To Reproduce
Steps to reproduce the behavior:
1.Add to xmlns:ds="using:Desi

[2018-12-10 19:44] mcleanbyron commented on #1276
Thanks for submitting your feedback. I am following up with the engineering team to confirm what improvements we can make to these docs, and will update this issue when I know more.

[2018-12-10 20:26] mijacobs commented on #1298
Hi @WallSoGB,
Our design team is in the process of updating the design toolkits, but I don't have an ETA just yet.

[2018-12-10 20:26] #1298 closed, assigned to mijacobs

[2018-12-11 06:46] seanquijote opened #1300 "Unable to install the Device Guard Code Integrity policies"
Hi,

I am unable to install the **Device Guard Code Integrity policies**.
I have already followed the instructions on renaming the desired policy file to **SIPolicy.P7B**, and copying it into the `C:\Windows\System32\CodeIntegrity\`.

This pops up when I try to execute one of the policies:
![p7b-installation-error](https://user-images.githubusercontent.com/13918341/49782989-3cdc8d00-fd53-11e8-9ac0

[2018-12-11 08:45] cindy712geng opened #1301 "What's the OS requirement for Fluent design "Reveal Highlight" and "Acrylic"?"
We have tried that UWP that has "Reveal Highlight" and "Acrylic" implemented can't be installed on RS1 and it can't work normally in RS2.
What's the min OS requirement for these features?RS3?

[2018-12-11 17:57] ginami commented on #1300
Hi @seanquijote -- I'm sorry you're having this problem! This issue list is specifically for feedback on our docs--for non-doc related issues, I recommend that you post your question on our forums or StackOverflow (linked on our [Support](https://developer.microsoft.com/en-us/windows/support) page).

[2018-12-11 17:58] ginami commented on #1301
Hi @cindy712geng -- if you give me the URL of the specific doc that should contain this information, I can route your question to the correct author. Thank you!

[2018-12-11 18:20] YuliKl commented on #1301
@cindy712geng You are correct, acrylic and reveal components of the Fluent design system were added in RS3 (Fall Creators Update, 16299)

[2018-12-11 21:47] thomas-yost commented on #679
I'm seeing an issue with the default icons not working, using the Windows Insider Preview, that may require the same fix for this issue needs.
![treeviewiconissue](https://user-images.githubusercontent.com/28576593/49832345-7bb21900-fd3a-11e8-9399-d08b138a8bbd.png)

[2018-12-11 22:42] jevansaks commented on #679
Thanks for reporting this issue! This turned out to be a regression on the OS side that we fixed recently. The fix should be in insider flights soon.

[2018-12-11 22:45] #679 closed, assigned to jwmsft

[2018-12-11 23:23] thomas-yost commented on #679
This issue should not be closed.  The original complaint has not been addressed.  Three public properties should be added to the control to support specifying custom icons such as this:
![image](https://user-images.githubusercontent.com/28576593/49836821-385ea700-fd48-11e8-8448-07a7afc82c4a.png)

[2018-12-11 23:42] YuliKl commented on #679
@thomas-yost this sounds like a feature request for the TreeView control. Now that Xaml controls are open source, the best way to track this request is directly in the [microsoft-ui-xaml](https://github.com/Microsoft/microsoft-ui-xaml) repo. Would you mind opening a new [feature request](https://github.com/Microsoft/microsoft-ui-xaml/issues/new/choose) there?

[2018-12-12 02:08] seanquijote commented on #1300
Alright @ginami will do.

[2018-12-12 02:08] #1300 closed, assigned to nobody

[2018-12-12 13:31] ShawnKendall opened #1304 ""get_unknown" no longer compiles (Win 1809, latest VS and cppwinrt)"
**get_unknown** no longer compiles (Win 1809, latest VS and cppwinrt) as per example above and in the example Direct2D app.

[code]

`...direct2d\app.cpp(130): error C3861: 'get_unknown': identifier not found`

Already had the the command-line options mentioned elsewhere (as was working before updates anyway) :
/bigobj /await /permissive- /Zc:twoPhase-

Thanks for any help!

[2018-12-12 13:55] ShawnKendall opened #1305 ""get_unknown" no longer compiles (Win 1809, latest VS and cppwinrt)"
**get_unknown** no longer compiles (Win 1809, latest VS and cppwinrt) as per example above and in the example Direct2D app.

[code]

`...direct2d\app.cpp(130): error C3861: 'get_unknown': identifier not found`

Already had the the command-line options mentioned elsewhere (as was working before updates anyway) :
/bigobj /await /permissive- /Zc:twoPhase-

Thanks for any help!

---
#### Document Deta

[2018-12-12 14:06] ShawnKendall commented on #1305
Tried the updated call about but same result:

		agile_ref<winrt::Windows::UI::Core::CoreWindow> m_window;
		check_hresult(
		factory->CreateSwapChainForCoreWindow(
			device.get(),
			get_unknown(m_window.get()),
			&props,
			nullptr, // all or nothing
			swapChain.put())
		);

\direct2d\app.cpp(134): error C3861: 'get_unknown': identifier not found

[2018-12-12 16:24] ghost opened #1306 "What is textureData?"
Where is textureData defined here? How is it loaded? Where is it loaded? What data structure holds it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d54624b3-5d20-80db-2092-a8850ceaeb45
* Version Independent ID: 67dfbf9f-c38d-92e9-f421-d94d75571853
* Content: [Apply textures to primitives - UWP app developer](https://

[2018-12-12 16:44] ginami commented on #1301
Thanks @YuliKl!
@cindy712geng I'll close this issue--please let us know if you have further questions. Thank you!

[2018-12-12 16:44] #1301 closed, assigned to nobody

[2018-12-12 16:45] ginami commented on #1304
Hi @ShawnKendall -- which page in our docs are you referring to? (This will help me route your question to the correct author.) Thank you!

[2018-12-12 16:47] ginami commented on #1305
Hi @ShawnKendall -- is this a duplicate of issue #1304 ? If you let me know the URL of the relevant doc, I can route your issue to the correct author. (This is a feedback channel for our docs.)

[2018-12-12 17:19] ShawnKendall commented on #1304
Yeah I some how posted this here instead of the page. I xposted to the page and found a workaround so I'd say you are welcome to delete this issue. Sorry I don't know how but I'll keep looking.
Thank you!

[2018-12-12 17:19] #1304 closed, assigned to nobody

[2018-12-12 17:36] SheheryarSherry opened #1307 "cant access textbox.handwriting"
I am trying to put the textbox pro[erty that is textbox.handwriting but it is not available can you please explain how to add this property?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6efbfea7-c3c1-0e34-14a3-b96c8a4c51f3
* Version Independent ID: 2613d9b6-c11a-050b-ea28-f3669f20c564
* Content: [Text input with the

[2018-12-12 17:39] ginami commented on #1305
Thanks @ShawnKendall -- sorry, I see you did post this on the page...and you said you found a work-around, but let's see if @stevewhims can help.

[2018-12-12 19:49] XamlBrewer opened #1308 "Bug in code snippet"
I believe that the last line of the last code snippet should read:
visual.StartAnimation("Offset", animation);

The target property of the Vector3 animation is the whole Offset and not just Offset.X

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd76f137-7acf-075b-2eda-fdc0b377c052
* Version Independent ID: 468ea2ed-21

[2018-12-12 19:56] XamlBrewer commented on #1308
Same for the snippet before that, it should become:
redVisual.StartAnimation("Offset", animation);

[2018-12-12 22:48] ikhbarkhan opened #1310 "Facebook"
UpDate

---
#### Butiran Dokumen

⚠ *Jangan edit bahagian ini. Ia diperlukan untuk docs.microsoft.com ➟ Pemautan isu GitHub.*

* ID: 389b0b14-d267-2aa2-fa43-33d3ba813d5a
* Version Independent ID: 8cd6bccf-b426-a21d-13a7-6eb08fb1f235
* Content: [Windows 10 game development guide - Windows UWP applications](https://docs.microsoft.com/ms-my/windows/uwp/gaming/e2e#submitting-and-publishing-your-game)

[2018-12-12 23:53] #692 closed, assigned to laurenhughes

[2018-12-13 00:07] stevewhims commented on #1305
Hi, @ShawnKendall! I'm just checking whether you're unblocked now? In the other issue (#1304), you say you've found a workaround. I've verified that the code in this topic that calls CreateSwapChainForCoreWindow, and uses winrt::get_unknown, is correct. I created a new CoreWindow project targeting the latest SDK (10.0.17763.0), added the appropriate headers and variables, and pasted in the code fr

[2018-12-13 00:20] kikisaints commented on #909
Lightweight styling is basically renamed resources that give you more direct access to control colors both during rest and in a visual state. So, as long as your custom control or template uses ButtonBackground, or ButtonBackgroundPointerOver, etc. somewhere, it will get the appropriate color from our system.

I'm not sure what you mean by your second question - can you give me a markup example of

[2018-12-13 00:53] ShawnKendall commented on #1305
Yes I was building and using the Direct2D application as reference and that is where it wasn't working for me.
Thanks for the fix and responses!

[2018-12-13 00:55] stevewhims commented on #1305
Great, so I'll go ahead and close this issue now. Thanks! ~Steve

[2018-12-13 00:55] #1305 closed, assigned to stevewhims

[2018-12-13 01:39] ginami commented on #1310
Hi @ikhbarkhan -- please let us know if you have specific feedback for our docs. Thank you!

[2018-12-13 01:39] #1310 closed, assigned to nobody

[2018-12-13 04:09] jgcoded commented on #612
Instead of using what's shown in this article, I was able to record the screen by using the desktop dupl api, Media Foundation, and then submitting my app to the Microsoft Store as a UWP app using the desktop bridge. The APIs in the article are easier to work with, lead to a more stable app, and are part of the modern runtime, so if you choose to do something similar to what I did, then once the v

[2018-12-13 04:35] parkovski commented on #892
Hi, I was linked here by [this reddit thread](https://www.reddit.com/r/Windows10/comments/a5b81m/any_hope_for_uwp_midi_apis/). I'm still having naming issues as I wrote in that thread. Can't speak for sysex as I don't plan to pursue this API further until I can get correct names from it.

[2018-12-13 05:37] YuliKl commented on #1077
@TyBarthel, Xaml controls have been open sourced. You can find latest code and styles at https://github.com/Microsoft/microsoft-ui-xaml. Please let us know if you run into any controls problems by opening issues on that repo.

[2018-12-13 05:37] #1077 closed, assigned to jwmsft

[2018-12-13 06:58] ndw6152 commented on #976
Hi any update on this issue? I am also trying to implement some Toast notifications through a Win32 app but currently the toast does not show up (I have a different installer than WiX)
@Gaz83 Were you able to somehow set the CLSID without using WiX?
Also could you let me know what Win10 build version you are running on?

[2018-12-13 10:19] jignesh-fandco opened #1314 "No proper or detailed message is provided if import fails."
Below are some list or errors that are repeated for each language.  It make no sense from the message "The value you provided is not valid".  Cross checked many times, but The folder path is correct, Image File does exists.

I'm out of ideas.

and yes, forgot to mention, I also increase the size of image to 1366 x 768 (as recommended on store website)  still the same error.   Note: On the Store we

[2018-12-13 14:53] Gaz83 commented on #976
@ndw6152 I can get the AUMID to get the popup notification to show. You will first need to deploy your application. Once installed, follow this guide to get the AUMID. [https://jcutrer.com/howto/windows/find-aumid](url). You use the AUMID in step 5.2.

On my works computer, I am on Windows 10 build 1803. My toast appears and also appears in action centre but after the toast disappears it goes from

[2018-12-13 16:37] regal60740 commented on #1211
I also am stuck at the second section, calling the component from JavaScript, because VS 2015 Enterprise didn't give me a default.js in the js folder.

[2018-12-13 17:16] regal60740 commented on #1211
I used the WinJS Template instead of blank Template. I am getting some errors. I will try to work through these.

[2018-12-13 18:26] mcleanbyron commented on #983
Because this is a general comment/suggestion about .NET and not feedback on the UWP documentation itself, I am closing this issue.

[2018-12-13 18:26] #983 closed, assigned to hickeys, mcleanbyron

[2018-12-13 18:35] regal60740 commented on #1211
I'm getting 54 errors now. I was getting an error for the project.json where it said I needed win 10 added but I saw all versions of win 10 in there? I tried to do an update for nuget for the UWP package hoping that would fix the error but I got an error saying the new version did not work in VS 2015. So I tried to uninstall the update and install the 5.2.2 version that was recommended and I got t

[2018-12-13 18:37] regal60740 commented on #1211
I think I'm going to skip this Walkthrough. It is taking way too long so I will move on to something else for now.

[2018-12-13 18:49] chigy commented on #425
@ptorr-msft

[2018-12-13 19:35] chigy commented on #237
Please open this product issue to https://github.com/Microsoft/microsoft-ui-xaml/issues.

[2018-12-13 19:35] #237 closed, assigned to jwmsft

[2018-12-13 19:35] chigy commented on #247
Please open this product issue to https://github.com/Microsoft/microsoft-ui-xaml/issues so we can take a look.

[2018-12-13 19:35] #247 closed, assigned to jwmsft

[2018-12-13 19:58] predavid-zz commented on #1190
Hey @kgreed , please feel free to use any suitable icon of choice for the parent node. The statement in the document is a suggestion and not a mandate, which it why it reads as such to use the folder icon only if representing 'literal folders'.App designers and developers are free to use icons that best suit the design of the apps since they know best the scenarios for the app the audience being c

[2018-12-13 20:17] kgreed commented on #1190
I get it.  However the docs are usually technical guides not design guides
Thus I read it as
"If item is node then assert node.icon is folder icon"
Where as the meaning as you explain is more like
"If the node is a parent node, consider using a folder icon. This is a common UI convention. "

I hope this is useful feedback.

[2018-12-13 20:43] #756 closed, assigned to serenaz

[2018-12-13 20:45] ptorr-msft commented on #425
@michael-hawker, can you please be more specific? Which particular doc is old? What needs to be clearer?

[2018-12-13 20:47] jwmsft commented on #884
Fixed

[2018-12-13 20:47] #884 closed, assigned to jwmsft

[2018-12-13 20:49] #865 closed, assigned to mikematteson

[2018-12-13 20:50] jwmsft commented on #1308
@XamlBrewer, thanks for pointing out this error. The code has been updated.

[2018-12-13 20:50] #1308 closed, assigned to jwmsft

[2018-12-13 20:52] jwmsft commented on #885
The article has been updated and this issue is addressed.

[2018-12-13 20:52] #885 closed, assigned to jwmsft

[2018-12-13 20:58] eliotcowley commented on #662
Hey @ahojnnes, would you mind answering @loarabia's questions below? It will help us figure out how to support your scenario. Thanks!

[2018-12-13 21:29] mijacobs commented on #923
Thank you, @Sunilab; I'm updating the article.

[2018-12-13 21:32] mijacobs commented on #1294
Thanks, @khorshid-amazon ; I've fixed the typo.

[2018-12-13 21:32] #1294 closed, assigned to mijacobs

[2018-12-13 21:33] mijacobs commented on #1264
Thanks, @A55imilat0r ; I've shared your feedback with our engineering team.

[2018-12-13 21:33] #1264 closed, assigned to mijacobs

[2018-12-13 21:48] mijacobs commented on #1073
@chigy Is this a known issue with ContentDialog?

[2018-12-13 22:11] mijacobs commented on #859
@AngelMarshall  Thanks for the feedback. I'm not aware of any plans to update WinJS. If you'd like to reach the engineering team implemented Fluent Design for UWP, you can open an issue here:
https://github.com/Microsoft/microsoft-ui-xaml

[2018-12-13 22:11] #859 closed, assigned to mijacobs

[2018-12-13 22:15] AngelMarshall commented on #859
Hi,

I guess you meant to mention https://github.com/AngelMunoz ?

From: Mike Jacobs <notifications@github.com>
Sent: Thursday, December 13, 2018 2:11 PM
To: MicrosoftDocs/windows-uwp <windows-uwp@noreply.github.com>
Cc: Angel Marshall <Tsuntsun.Marshall@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/windows-uwp] Fluent Design and JS UWP Apps (#859)

Closed #859<h

[2018-12-13 22:16] mijacobs commented on #859
Yes, I did--thank you.

[2018-12-13 22:46] YuliKl commented on #1148
@AlexSikilinda thank you for the suggestion!

[2018-12-13 22:55] YuliKl commented on #1136
@Leisvan, thank you for reporting this issue. Sounds like you have identified a bug in the NavigationView control. Now that Xaml controls have been open sourced, the best place to report this bug is on the [microsoft-ui-xaml repo](https://github.com/Microsoft/microsoft-ui-xaml/). Would you mind re-opening this issue using the [bug report template](https://github.com/Microsoft/microsoft-ui-xaml/iss

[2018-12-13 22:55] #1136 closed, assigned to YuliKl, jwmsft

[2018-12-13 23:00] YuliKl commented on #989
@OmPisit, thank you for the code snippet, but can you clarify what issue you've encountered? Is the ItemInvoked event not behaving as you expected?

[2018-12-14 05:30] ahojnnes commented on #662
The specific thing I needed to do is recursively deleting folders (empty or not) using the API. As far as I could tell, this was or is still not possible, with which you can only delete individual files.

[2018-12-14 08:36] encrypt0r commented on #1169
What exactly is the role of MSIX here?

We have always been able to create appx files, and it seems that it hasn't changed. But from what I've read, MSIX is for both UWP and Win32 apps. Can you clarify?

[2018-12-14 08:39] mhmd-azeez opened #1315 "What exactly is the role of MSIX here?"
We have always been able to create appx files, and it seems that it hasn't changed. But from what I've read, MSIX is for both UWP and Win32 apps. Can you clarify, please?

~~Because if MSIX is the same thing as Appx, we have had many issues around its auto-update feature for self-hosted (on IIS) apps, because it doesn't update the app most of the time. We even updated windows to the October 2018 u

[2018-12-14 08:47] mhmd-azeez commented on #1066
@rido-min From my experience, the bug is still present.

[2018-12-14 15:38] MDTeg commented on #1211
Hi;
Ihave followed this walkthough too , and I have the same issue while trying to load the c# component.

[2018-12-14 17:57] Leisvan commented on #1136
@YuliKl, Indeed I assumed PaneDisplayMode="Top". I've reported the bug to the repo, as you suggested.
Thanks!

[2018-12-14 18:27] michael-hawker commented on #425
It may have been fixed, I believe this link:

Went somewhere else before.

I was just also commenting that there should be a 'Related Topics' to call that linke more prominently too, since the main article goes into more detail about setting up the x:Uid system in your app.

[2018-12-14 19:16] tjmullen2 opened #1316 "Second code snippet missing semicolon"
Second code snippet missing semicolon on the GetDeferral(); line.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e9daac3-b416-9a90-39ff-55ada1d9d461
* Version Independent ID: fecefe30-8a56-5da4-1123-7e822d96ae8a
* Content: [Create and register an out-of-process background task - Windows UWP applications](https://docs.

[2018-12-14 21:12] nonasi commented on #1066
If you have an app & appinstaller file that repro it - can you point me to them?

[2018-12-14 22:03] chigy commented on #1073
@sanjeev3094, I just tested the speech recognition and ContentDialog does appear to support show buttons functionality so the control appears to support the functionality properly. Which particular UI are you having problem wtih?

[2018-12-15 10:33] cjw1115 commented on #1091
Hi buddy, I just do what like you. only one same frame in my video. So I think it is befacuse of the api will reuse the buffer, so the second frame will cover the first frame. We need an interface to access the frame buffer and copy the data from it. But I don't know if there is such an interface. Maybe Microsoft guys can help us.

[2018-12-15 11:50] mdmozibur commented on #1091
I thought so.

[2018-12-15 14:42] cjw1115 commented on #1091
I found a walkaround but I think it is not good enough.

We can save the surface to a CanvasBitmap, and save this CanvasBitmap to a temp file, then we can load it by MediaClip.CreateFromImageFileAsync.

And create a viedeos.
I have try it, it have a very high CPU and disk usage. But the result is good.
I'm try to find out a better way. Maybe we have to use some cpp code I guess.

[code]

[code]

[2018-12-15 17:48] mhmd-azeez commented on #1066
@nonasi I tried it out again, and it seems that it works now. The first time the only the client computer was updated to 1809, but now that I have also updated my dev machine, it seems to work.

[2018-12-15 21:35] ndw6152 commented on #976
@Gaz83 thanks for the reply. After setting the AUMID I was also able to see the the toast notification. I need to look into ShellLinks to see how I can set the CLSID (it's definitely need to be set in order for the toast to persist in the action center)

[2018-12-16 04:06] jakejgordon opened #1317 "Small typo"
There is a typo with the word "Fortunatly". Should be "Fortunately".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac89746a-7629-6a95-6c5c-9498a9d7989f
* Version Independent ID: 044558cb-9f69-42df-362c-6c35317c3411
* Content: [App icons and logos - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp

[2018-12-16 09:34] cjw1115 commented on #1091
I find out another workaround!

good performance and good resources usage.

[code]

And this is my project:

https://github.com/cjw1115/UniversalWindowsDevDemos/blob/master/MediaCompositionDemo/MainPage.xaml.cs

[2018-12-16 13:43] mdmozibur commented on #1091
Yeah, tried that, 3 seconds of video consume 700+ MB, and waiting more than 6-7 seconds almost hangs my desktop (4GB RAM). I wonder if there were any memory safe way.

I faced the same problem few months ago : https://stackoverflow.com/questions/52839957/adding-mediaclips-in-to-mediacomposition-eats-too-much-ram and looks like, currently there is no other work-around.

[2018-12-16 13:51] cjw1115 commented on #1091
Yes. the situation is same with me.

[2018-12-16 16:47] Sikanderalikhan123 opened #1318 "Operator '==' cannot be applied to Operands of type 'NavigationViewDisplayMode'."
In the documentation I am getting issue in  [On_BackRequested()].
Here I am getting issue that Operator '==' cannot be applied to Operand of type 'NavigationViewDisplayMode'
 if (NavView.IsPaneOpen &&
                (NavView.DisplayMode == muxc.NavigationViewDisplayMode.Compact ||NavView.DisplayMode == muxc.NavigationViewDisplayMode.Minimal))

---
#### Document Details

⚠ *Do not edit this sectio

[2018-12-16 18:25] benstevens48 commented on #909
I was mainly talking about defining custom ThemeResources and also overriding them in certain sections of the visual tree. In my first point I mainly wanted to clarify the behaviour of UserControls. For some reason in the documentation it says

Maybe I'm misinterpreting it, but this seems to be incorrect. If I use a ThemeResource inside a UserControl definition scope, then it will pick that up fro

[2018-12-17 06:53] urjapatel opened #1319 "SQL Server Installed Compatible Minimum Version not documented"
In documentation, it is not provided anywhere, about the **Minimum SQL Server Installed Version compatible with UWP App**.
 As there has been many users on Stack Overflow, which are facing SQL Server Version issues, and I am recently facing it too. I want to know whether this is true or not?

I want **documented proof** of this issue. **As it is necessary to give basic requirements of SQL Server r

[2018-12-17 22:26] mijacobs commented on #1317
Thanks, @jakejgordon. I've checked in a fix.

[2018-12-17 22:26] #1317 closed, assigned to mijacobs

[2018-12-17 22:56] markseminatore commented on #1296
@JnHs Sorry, are you asking me to open an issue at that location?

[2018-12-17 23:03] JnHs commented on #1296
Exactly, there is no way for us to look into your specific circumstances through doc feedback, so this is a way to get individualized support.

[2018-12-18 00:05] mseminatore commented on #1296
@JnHs This is not specific to me, no user sees Credits on the report screen in UDC.  I contacted support and it turns out the Credits Spent and Credits Earned only show up in the downloadable report.  The doc page should be updated to clarify to avoid confusion.

[2018-12-18 08:02] anticoder69 opened #1320 "Clarity + lack of example"
Please be more specific on "namespace", give a concrete code example on how to retrieve the SecureBrowser object

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f88d8c5-5dcd-4cec-89b0-a30aab0f46c5
* Version Independent ID: cc634390-a145-90ec-c654-4b6fccd25f71
* Content: [Take a Test JavaScript API. - Windows UWP applic

[2018-12-18 11:03] mbagattini commented on #1246
This is way too harsh. Not the right way to ask for help, don' t be surprised if you're not getting some.

[2018-12-18 16:40] cheles opened #1323 "inconsistency in recommendations"
We mention: For Windows 10, we recommend uploading the .msixupload or .appxupload file here rather than .msix, .appx, .msixbundle, or .appxbundle. For more info about packaging UWP apps for the Store, see Packaging a UWP app with Visual Studio.

But https://docs.microsoft.com/en-us/windows/uwp/packaging/packaging-uwp-apps mentions: appxupload is the only type of valid app package for Partner Cente

[2018-12-18 21:56] BMarques opened #1325 "Wrong starting point"
The documentation says: "This means that the starting point for your game lives in the body of the implementation of the IFrameworkView::Run method, and in this case, it's the App::Run."

This isn't correct, it should be that the starting point is the Initialize method of the App class, not the Run method, or did I misundersand? Because without Initialize and subscribing to the Activated event, Ru

[2018-12-18 23:23] Karl-Bridge-Microsoft commented on #688
Hi @SilverSilence: Back button should be reserved for back stack navigation. You risk confusing your customers If you start changing standard behavior. Same for Enter. Always best to accept the built-in platform behaviors. That said, you can subscribe to the global Window.Current.CoreWindow.KeyDown event to override these behaviors.

[2018-12-18 23:23] #688 closed, assigned to Karl-Bridge-Microsoft

[2018-12-19 16:08] ghost opened #1326 "Code samples"
Could we have some more code samples please

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e8ca0e5-8827-0b34-c582-47c196dc034e
* Version Independent ID: eab0e86f-49d7-43fb-1dbf-c33d94166b67
* Content: [Motion in practice - animation in UWP apps - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/d

[2018-12-19 17:42] mcleanbyron commented on #1323
Thanks for your feedback and for pointing out the inconsistencies in the docs! I have updated [https://docs.microsoft.com/en-us/windows/uwp/packaging/packaging-uwp-apps](https://docs.microsoft.com/en-us/windows/uwp/packaging/packaging-uwp-apps) to discuss .msixupload as well as .appxupload. I also took the liberty to update the screenshots.

[2018-12-19 17:42] #1323 closed, assigned to mcleanbyron

[2018-12-19 22:32] deandredublin commented on #1089
I am having the same problem. Please help me fix this.

[2018-12-20 01:32] stamaimer commented on #908
@aaron-bond You can check this question [How to send requests to Xbox Live Restful API](https://stackoverflow.com/questions/51853445/how-to-send-requests-to-xbox-live-restful-api) on stackoverflow.

[2018-12-20 02:27] duncanmacmichael opened #1327 "Test assign issue"
Test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fccec470-cfbb-9a8b-91a5-ee51393f1e5e
* Version Independent ID: dbebddc4-57a1-1888-4da6-a798316f4a2a
* Content: [Design basics - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/design/basics/)
* Content Source: [windows-apps-src/design/basics/ind

[2018-12-20 15:29] IliyaNovikov opened #1328 "Wrong type for "consumable" property of inventoryItem"
This document states that "consumable" property of inventoryItem is of type array. This is wrong, in fact it is a JSON object representing consumableInventoryItem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0cb7cae-e53b-b9bb-cbe9-f23ca2d0f7cf
* Version Independent ID: bcaec36e-6f78-c5d2-8a94-8918d59da7eb
* Content

[2018-12-20 18:09] KevinAsgari commented on #908
You can also check out the source code for the Xbox Live SDK, which just wraps the REST calls. Check out the code for get_user_profiles in https://github.com/Microsoft/xbox-live-api/blob/master/Source/Services/Social/profile_service.cpp

[2018-12-20 18:39] mijacobs opened #1330 "Test issue"
Test issue

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81d73bc4-190c-8110-e6a2-8590deb64b9c
* Version Independent ID: e01649d8-a094-6033-f42f-0ddda6cac617
* Content: [Tiles - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/design/shell/tiles-and-notifications/creating-tiles)
* Content Source:

[2018-12-20 19:42] benstevens48 opened #1331 "Please correctly document which threads the Suspending and Resuming handlers are called on and also how a multi-view app should handle Suspending"
My app opens multiple windows, and I recently had a lot of trouble with the Suspending handler. To cut a long story short, I eventually found out that the Suspending handler is called on the same thread on which it was registered. This is important because it turns out that secondary view threads can be paused before the main view thread suspending handler is called, so trying to run cleanup code

[2018-12-20 19:51] benstevens48 commented on #1331
In addition, I guess this should also be documented in the Suspending - https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.application.suspending - and resuming - https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.application.resuming - documentation pages.

[2018-12-20 20:50] chigy commented on #1307
@marb2000 ?

[2018-12-20 20:56] marb2000 commented on #1307
You meant IsHandwritingViewEnabled property, right? The IsHandwritingViewEnabled is only available when your app targets  the 1803 Win10 build (17134 SDK).  Make sure that your are targeting it at Project's Properties.

[2018-12-20 21:36] Karl-Bridge-Microsoft commented on #809
@sjointer - I have reproduced the same behavior and have reached out to the feature team for more details.

[2018-12-20 22:12] Karl-Bridge-Microsoft commented on #818
@sjointer - I couldn't identify the specific issue you identify as the function called in the example isn't defined in the snippet. That said, I did update the snippet to replace the function call with actual code. Perhaps you were running an insider's version that had a bug. Please reactivate the issue with more detail if you still encounter issues. Thanks for the feedback!

[2018-12-20 22:12] #818 closed, assigned to Karl-Bridge-Microsoft

[2018-12-20 23:37] JnHs commented on #1314
Thanks for passing your feedback along. We're looking into this to see if we can provide more details about these types of messages. I'll respond again once I have an update. In the meantime, you can always open a support issue via http://aka.ms/storesupport to get personalized support.

[2018-12-20 23:52] #1327 closed, assigned to mijacobs

[2018-12-21 20:29] Karl-Bridge-Microsoft commented on #1193
Hi @mcooley : Thanks for the feedback both topics you identify have been updated with the suggested info (along with a couple of API ref topics). Keep the feedback coming!

[2018-12-21 20:29] #1193 closed, assigned to Karl-Bridge-Microsoft

[2018-12-21 23:40] Karl-Bridge-Microsoft commented on #828
thanks for the suggestions @mrmsbarnes. I've updated the topic.

[2018-12-21 23:40] #828 closed, assigned to Karl-Bridge-Microsoft

[2018-12-21 23:43] #1330 closed, assigned to mijacobs

[2018-12-22 00:19] Karl-Bridge-Microsoft commented on #1005
Thanks for the feedback @NancyFolsom! I've updated the doc to include your suggestions in the prerequisites section.

[2018-12-22 00:19] #1005 closed, assigned to Karl-Bridge-Microsoft

[2018-12-22 00:24] Karl-Bridge-Microsoft commented on #913
This behavior is supported by the platform. You don't need to do anything in your app.

[2018-12-22 00:24] #913 closed, assigned to Karl-Bridge-Microsoft

[2018-12-22 02:09] duncanmacmichael opened #1332 "Test"
test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fccec470-cfbb-9a8b-91a5-ee51393f1e5e
* Version Independent ID: dbebddc4-57a1-1888-4da6-a798316f4a2a
* Content: [Design basics - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/design/basics/)
* Content Source: [windows-apps-src/design/basics/ind

[2018-12-22 02:09] #1332 closed, assigned to mijacobs

[2018-12-22 19:27] ischmal opened #1335 "Clarification on "When to use icons""
Under the specific segment of "when to use icons," I'm not sure I really understand the "don't do this" guidelines.

My initial interpretation was that you shouldn't use any individual MDL2 icon for something other than its explicitly designated purpose. If this is the case, would the XAML Controls Gallery app be in violation of this? (I mean this strictly as an example, I don't actually care if i

[2018-12-23 05:30] JimmyRespawn opened #1336 "Xbox does not trigger MemoryManager_AppMemoryUsageLimitChanging event in background"
There is a limitation of 128mb for uwp running in background.
The scenario is app is playing background music handled by mediaPlayerElement
So basically before 1809 update, Xbox will kill off the app directly.
After 1809, system will kill off the audio instead of triggering MemoryManager_AppMemoryUsageChanging (which I use to triggers ReduceMemoryUsage/GC/Clear UI etc).
Usually the audio will be 2

[2018-12-23 14:56] JackDetrick opened #1337 "Missing MainPage.xaml creation"
MainPage.xaml is mentioned but I can find no reference for creating it via Blank App

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: deb3f64f-cb34-b6e2-a9a0-6ed8eb741cb3
* Version Independent ID: c8f31cef-b782-76ff-df62-9f26c54e8897
* Content: [Use a SQLite database in a UWP app - Windows UWP applications](https://docs.

[2018-12-25 05:55] w00233051 commented on #694
I am having the same problem has anybody come up with a solution?

[2018-12-25 06:19] mxi1 commented on #694
Hi  @msatranjr,  could you forward this issue to the developer/maintainer of the windows Bluetooth subsystem, so they can consider how to handle it?  I am afraid the maintainer of Microsoft Docs doesn't care this issue.

[2018-12-25 16:18] sjb-sjb commented on #913
I don't agree. The platform will display tooltips when you press and then release the Alt key. I want to display tooltips when you press AND HOLD the Alt key (and then I want them to stay displayed when I release the Alt key). This is what Office does but it is not supported out of the box by UWP.

[2018-12-25 20:44] MikelThief opened #1338 "Broken images"
It seems that image source is no longer valid and images' links are broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7371c6d4-c3b8-f6ed-dc2c-11e62504adde
* Version Independent ID: 9f674922-6d8b-4293-756f-0036ad9cbcff
* Content: [Responsive design techniques - Windows UWP applications](https://docs.microsoft.com/en

[2018-12-25 20:45] #1338 closed, assigned to nobody

[2018-12-26 00:39] seanpo opened #1339 "Import from referenced assembly"
Please add documentation on how to import a resource dictionary from a referenced assembly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6822f33-819b-ae6f-95cd-04861fa46dca
* Version Independent ID: 12e5988d-2aa1-0284-4f75-3b0cfb17177c
* Content: [ResourceDictionary and XAML resource references - Windows UWP applica

[2018-12-26 03:42] kgreed opened #1340 "We need information about connecting to LocalDB"
Is connection to LocalDB supported?
I am experiencing all kinds of issues
https://stackoverflow.com/questions/53909226/why-cant-i-see-a-database-created-by-a-uwp-desktop-bridge-app-in-the-sql-serve

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7f63491-26ec-52f6-e124-dec2ecea8477
* Version Independent ID: 72aa55f1-766

[2018-12-26 07:47] rrvenki opened #1341 "Sample code issue"
The code in the sample of this topic
StorageFile sampleFile = await temporaryFolder.CreateFileAsync("dataFile.txt",
       CreateCollisionOption.ReplaceExisting);
Should be
StorageFile sampleFile = await temporaryFolder.CreateFileAsync("dataFile.txt",
       CreationCollisionOption.ReplaceExisting);

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2018-12-26 07:47] #1341 closed, assigned to mijacobs

[2018-12-26 11:59] MarcAnt01 opened #1342 "It's not possible to trigger a button with enter"
If I want to use one button to reply a message from a messaging app, I have to press "reply" button, but it would be better if that can be automatically done by pressing enter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bede8ebc-b5e7-e3f6-a0de-e2098c202429
* Version Independent ID: 716d0cca-5039-0b36-10e3-571e9dc79

[2018-12-27 00:45] kgreed opened #1343 "Please explicitly mention LocalDB"
Is it supported or not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7f63491-26ec-52f6-e124-dec2ecea8477
* Version Independent ID: 72aa55f1-766a-c015-a5f7-104359382d53
* Content: [Use a SQL Server database in a UWP app - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/data-access/sql-server-da

[2018-12-27 00:46] kgreed commented on #1343
Oops, I see I asked this already.

[2018-12-27 00:46] #1343 closed, assigned to mcleanbyron

[2018-12-27 03:44] zenjia opened #1344 "UseOppositeRCRatio?"
What should we do to update the layout of the panel when UseOppositeRCRatio is changed later?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4239a3c-6a26-3b05-4154-09df54bee5d6
* Version Independent ID: 1eb8acb6-1379-8df8-aef9-e858bf9c315d
* Content: [BoxPanel, an example custom panel (Windows apps) - Windows UWP appl

[2018-12-27 10:34] MarcAnt01 opened #1345 "Trigger buttons after typing something with enter (toast notifications)"
In a messaging app if someone writes a quick reply and wants to send it, has to press reply after having typed, is it possible to make enter trigger that button?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b559cf6d-7bd0-9e1a-8ab0-a389b01a20d8
* Version Independent ID: 7e9df100-79bc-20f5-a193-3194328b28bc
* Content:

[2018-12-27 10:35] #1342 closed, assigned to mijacobs

[2018-12-27 13:46] MagnusKieler opened #1346 "More information"
It would be very useful if the article had a section describing the differences between using text, buffer or stream. So one could see which one is best suited.

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: b36404b8-4385-81d9-2ee8-486f0a55fc37
* Version Independent ID: 7b6ce4df-6ab2-3aa6-059f-b38aa9ea8062
* Content

[2018-12-27 14:45] JGFahey commented on #1281
This might be the most helpful comment I've seen online on this... thank you

[2018-12-28 00:51] eliotcowley commented on #717
@snobu Thanks for this! I've approved your pull request so I'm closing this issue.

[2018-12-28 00:51] #717 closed, assigned to eliotcowley

[2018-12-28 08:28] Dylan-H opened #1347 "cppwinrt example"
https://docs.microsoft.com/en-us/windows/uwp/xaml-platform/custom-attached-properties#code-example
bool IsMovable()     -----&gt;   the accessors must be named GetIsMovable and SetIsMovable ?
 Windows::UI::Xaml::DependencyProperty IsMovableProperty(){ return m_IsMovableProperty; }      not static ?

 winrt::xaml_typename&lt;bool&gt;()  ------&gt;  T must be WinRT type.

---
#### Document Details

[2018-12-29 00:04] eliotcowley commented on #754
Hi @raksha-git, are you still having trouble with this? I was able to call into the device portal APIs from a .NET Core C# console app and get a list of items in my Documents folder. Here's the endpoint I used (it's specific to my machine, of course): **https://localhost:50443/api/filesystem/apps/files?knownfoldierid=Documents**. You should be able to get the address of your device from the Settin

[2018-12-29 02:43] dingsheng999 commented on #1172
This has not occurred now.

[2018-12-30 07:14] linojon opened #1348 "missing IMR"
Immersive MR devices?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2975459d-0a61-a9ac-02be-5a1191254165
* Version Independent ID: 453681de-7ac5-c469-31c9-afabf4c8a930
* Content: [App package architectures - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/packaging/device-architecture)
* Content

[2018-12-30 22:32] MagnusJohansson commented on #1191
You can find the source here:
https://github.com/Microsoft/Xaml-Controls-Gallery/blob/1ecd85c908a8a1cb9a8201e548f58db379801e69/XamlControlsGallery/ControlPages/TreeViewPage.xaml.cs

[2018-12-30 23:01] RobbyRobbyRobby opened #1349 "The SetContentFromBitmapImage command in the Customizations section gives error."
This line is good to reference, but if copy/pasted in doesn't work and crashes app.

e.DragUIOverride.SetContentFromBitmapImage(null); // Sets a custom glyph

All the other examples work just fine.

Tanks for the wonderful tutorial!
Rob

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11b8e0c0-6835-070e-da44-b6e35a9f38cb

[2018-12-30 23:02] kgreed commented on #1191
@MagnusJohansson Thanks. I see a few of the links on the content source are broken. For example https://github.com/MicrosoftDocs/windows-uwp/blob/docs/uwp/api/windows.ui.xaml.controls.treeview.itemssource

[2018-12-31 18:08] mijacobs commented on #1345
Hi @MarcAnt01,
 I think there are many ways to do this. One of the simplest ways is to register for the key down event on whatever element the user is typing into and testing to see whether they pressed Enter: https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.uielement.keydown

You can read more about keyboard events here: https://docs.microsoft.com/en-us/windows/uwp/design/input/keyboard-e

[2018-12-31 18:33] mijacobs commented on #1335
Hi @ischmal,
The example is saying that if a concept already has a icon associated with it (such as the disk icon being associated with saving), you shouldn't use it for something else. It doesn't matter whether the icon is a standalone item or in a navigation menu. The issue is that users get used to an icon meaning something specific, so if you use the same icon for a different concept or use a

[2019-01-01 18:59] cwey commented on #738
I am guessing this is the same issue I run into. When I set the single selection programmatically, the item in the tree doesn't appear selected.

[2019-01-02 18:17] mcleanbyron commented on #1337
Did you create your UWP application project using the standard "Blank App (Universal Windows)" project template in Visual Studio? If so, the MainPage.xaml file (and the relateed code-behind file) should be created for you in your project.

[2019-01-02 18:46] ptorr-msft opened #1350 "Suggested changes to the `documentsLibrary` section of the capabilities page."
Suggested changes to the `documentsLibrary` section:
---

The `documentsLibrary` capability provides programmatic access to the user's **Documents** folder, filtered to the file type associations declared in the package manifest. For example, if a word processing app declared a `.doc` file type association, it can open `.doc` files in the user's **Documents** folder.

Generally, apps should allow

[2019-01-02 18:50] verelpode opened #1351 "Timestamp of when the event occurred"
Please document how to get the timestamp of when the key-down or key-up event occurred.  Alternatively, please explain why the timestamp is unavailable/unsupported for keyboard events.

In other words, what is the equivalent of Windows.UI.Input.PointerPoint.Timestamp for keyboard events?

In the old WPF-Classic, you could get the timestamp via System.Windows.Input.KeyEventArgs.Timestamp (inherited

[2019-01-02 20:43] MarcAnt01 commented on #1345
That's not applicable to toast notifications

[2019-01-02 20:50] mijacobs commented on #1345
I think I see what you mean--are you talking about a quick reply within the toast notification UI?

[2019-01-02 20:52] MarcAnt01 commented on #1345
Yes and send it without clicking on one of the two buttons

[2019-01-02 20:57] mijacobs commented on #1345
I don't believe you can do that. Adding @andrewleader--Andrew, is there a way to let the user send a message in a quick reply block by pressing Enter?

[2019-01-02 21:04] MarcAnt01 commented on #1345
You haven't tagged him properly 😉

[2019-01-02 21:27] andrewleader commented on #1345
Hey @MarcAnt01!

Windows toast notifications use `Ctrl+Enter` to invoke the quick reply action. There's no way you can customize that (neither as the app developer nor the user).

Did you know about `Ctrl+Enter`? Would you still rather it be simply `Enter`? If so, please provide more info about your scenario and why that's important so that we can gather this feedback!

Note that this functionalit

[2019-01-02 21:30] MarcAnt01 commented on #1345
I didn't know about it, anyway I asked the Unigram main dev to add it to his app and he told me that there's no documentation about how to add it. In Unigram to send a message I just type enter and having a different behaviour in the quick reply area is not good

[2019-01-02 21:33] andrewleader commented on #1345
Thanks MarkAnt01 for this valuable feedback. I'll close this issue and track this product feedback internally (since this is Windows feedback, no longer a docs question).

[2019-01-02 21:35] MarcAnt01 commented on #1345
Thank you for considering my idea

[2019-01-02 23:18] #1335 closed, assigned to mijacobs

[2019-01-02 23:51] predavid-zz commented on #1190
Thanks much for the feedback @kgreed ! We are working on updating the wording of the statement in question to be a suggestions versus a 'must-do' which is what it may seem to imply in the current form. The update will go live shortly.

[2019-01-02 23:54] predavid-zz opened #1352 "Doc bug: The itemsource link for TreeView is broken"
This link seems broken. Please fix.

https://github.com/MicrosoftDocs/windows-uwp/blob/docs/uwp/api/windows.ui.xaml.controls.treeview.itemssource

[2019-01-02 23:56] predavid-zz commented on #1191
Thanks @kgreed for pointing out the broken link. I've opened Issue #1352 to track it.

[2019-01-03 00:08] predavid-zz commented on #590
Hey @robloo, thanks for reporting the issue. We are looking into it.

[2019-01-03 00:28] ginami commented on #1352
Hi @predavid -- thanks for letting us know! On which page does this link appear?

[2019-01-03 11:47] MarcAnt01 commented on #1345
@andrewleader control + enter is not applicable to the template used by Unigram
![image](https://user-images.githubusercontent.com/43090263/50636243-a700e000-0f55-11e9-8258-432d9eb0ba20.png)

[2019-01-03 17:07] andrewleader commented on #1345
Thanks for including a picture of their notification. Indeed, in that case, there's no quick shortcut to press send. We'll track this feedback for making it possible for a developer to associate the button with an enter press action.

In the meantime, as a user, you can hit the `Tab` key twice to move focus to Send, and then press Enter.

[2019-01-03 17:58] michael-hawker opened #1353 "First code example doesn't work"
There's no `NavigationStrategy` property on this class:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8acece5-c4d8-8247-49ad-93317d0de2d5
* Version Independent ID: ebe3f26a-5bda-296f-237d-477145eab671
* Content: [Programmatic focus navigation with keyboard, gamepad, and accessibility tools - Windows UWP appli

[2019-01-03 18:36] YuliKl commented on #914
@Ullmie02 Thank you for reaching out. You found an error in the documentation that we have since corrected. You may place any content into PaneFooter, including a NavigationViewItem. But keep in mind that NVIs in the PaneFooter won't have all the built-in behaviors of NVIs inside the MenuItems list. For example, the selection indicator's animation won't work, and the parent NavigationView will not

[2019-01-03 18:36] #914 closed, assigned to YuliKl, jwmsft

[2019-01-03 18:51] mcleanbyron commented on #1350
Thanks for your feedback and suggestions! I updated the description for the documentsLibrary capability and published the updates in the [live article](https://docs.microsoft.com/en-us/windows/uwp/packaging/app-capability-declarations).

[2019-01-03 18:51] #1350 closed, assigned to mcleanbyron

[2019-01-03 19:25] eliotcowley commented on #755
Closing as duplicate

[2019-01-03 19:25] #755 closed, assigned to eliotcowley

[2019-01-03 20:19] mthomason opened #1354 "Desktop x86 / x64 Mixup"
It says Desktop x64 can run on x86 machines.  Says that x86 can not run on x64 machines.  Doesn't seem correct to me.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2975459d-0a61-a9ac-02be-5a1191254165
* Version Independent ID: 453681de-7ac5-c469-31c9-afabf4c8a930
* Content: [App package architectures - Windows UWP app

[2019-01-03 21:30] mcleanbyron commented on #1354
Thanks for your feedback. If you're referring to the "Windows 10 devices and architectures" table, I think you might be misinterpreting the table. The first column is the index to the table, and it lists the different types of native architectures you can build against for UWP apps. This table basically says that a UWP app built against the x86 architecture can run on x86 and x64 versions of deskt

[2019-01-03 21:30] #1354 closed, assigned to mcleanbyron

[2019-01-03 21:38] YuliKl commented on #1318
Hi @Sikanderalikhan123, did you expand the "muxc" from the sample to its full namespace? That line should read ```(NavView.DisplayMode == Microsoft.UI.Xaml.Controls.NavigationViewDisplayMode.Compact ||
NavView.DisplayMode == Microsoft.UI.Xaml.Controls.NavigationViewDisplayMode.Minimal)``` .

If you're getting an error, it's most likely the result of a namespace mismatch: your NavigationView contro

[2019-01-03 21:38] #1318 closed, assigned to YuliKl, jwmsft

[2019-01-03 22:01] YuliKl commented on #887
Hi @hupo376787, thank you for reporting this bug. Drawing into the title bar makes this situation a bit tricky because the control doesn't really know where you expect it to clip. As a workaround, I suggest adding ```Header=" "``` to your NavigationView declaration. The Header helps impose a hard stop on the Content area.

Going forward, we would appreciate your opening any other controls bugs tha

[2019-01-03 22:01] #887 closed, assigned to YuliKl, jwmsft

[2019-01-03 22:02] eliotcowley commented on #870
Hi @JohnMasen, many apologies for the delay on this. Now that [Windows.AI.MachineLearning](https://docs.microsoft.com/uwp/api/windows.ai.machinelearning) has been fully released publicly, have you tried again with the current APIs? The ones you were using were preview APIs.

[2019-01-03 22:18] eliotcowley commented on #951
Hi @IQpierce, apologies for the delay here, and thanks for the feedback. Are you still seeing this behavior, where on some machines there is an **Xbox Live** section in the Windows Device Portal, but on others there isn't? On both of my machines (Windows 10, version 1809, build 17763) I see the **Xbox Live** section. Perhaps make sure you're up-to-date?

[2019-01-03 23:55] eliotcowley commented on #980
Hi @v-jessmi, thanks for catching this! I've updated the doc.

[2019-01-03 23:55] #980 closed, assigned to eliotcowley

[2019-01-04 00:21] #1287 closed, assigned to QuinnRadich

[2019-01-04 00:22] #1290 closed, assigned to QuinnRadich

[2019-01-04 00:26] mcleanbyron commented on #1348
Thanks for your feedback. If I'm understanding your comment correctly, this is covered by the "Windows Mixed Reality and HoloLens" column. If I have misunderstood, please reopen this issue with more details.

[2019-01-04 00:26] #1348 closed, assigned to mcleanbyron

[2019-01-04 01:18] marb2000 commented on #809
@sjointer, @Karl-Bridge-Microsoft, We are working on fixing this bug for MenuFlyouts. Unfortunately it won't be available until the 19H1 release.

[2019-01-04 01:28] Karl-Bridge-Microsoft commented on #809
Thanks @marb2000.

@sjointer: Closing issue. Please re-open if 19H1 doesn't address your concerns. Thanks for your feedback!

[2019-01-04 01:28] #809 closed, assigned to Karl-Bridge-Microsoft

[2019-01-04 01:33] sjointer commented on #809
Fixing the issue is fine with me. I'm patient.

On Thu, Jan 3, 2019, 19:19 Miguel Ramos <notifications@github.com wrote:

[2019-01-04 03:55] stevewhims commented on #1347
Hi, @Dylan-H, yes, the content and code is correct. For example, about the naming convention for accessors, and the actual DP getter is not static, by design. bool is a Windows Runtime type, in that it can be passed across the application binary interface (ABI). Please let me know if this doesn't address your questions. I'll leave the issue open for a while. ~Steve

[2019-01-04 05:19] Dylan-H commented on #1347
@stevewhims
Sorry, my English is not very good. I'm using translation software.
Without Set (Get), I can't access DP as shown in the example above. In my code, I have to write SetIsMovable (GettIsMovable) to work properly.
winrt::xaml_typename<bool>() ------> “T must be WinRT type” is a static_assert  error.
winrt code:
    template <typename T>
    inline Windows::UI::Xaml::Interop::TypeName xaml

[2019-01-04 14:31] bensonlee311 opened #1358 "Xbox Live REST endpoints lack functions"
why i can`t find any URI in Xbox Live REST can get club / game pass / game with gold information ?
Is there any way to get these information ? thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01dfd0ee-01f0-cd71-0e12-d28f16b0170f
* Version Independent ID: 09ac52ae-3972-0c99-4048-e80aecaf0bc0
* Content: [Introductio

[2019-01-04 16:27] linojon commented on #1348
Are we looking at the same page? I dont see a "Windows Mixed Reality and HoloLens" column.

https://github.com/MicrosoftDocs/windows-uwp/blob/docs/windows-apps-src/packaging/device-architecture.md

| UWP Architecture | Desktop (x86) | Desktop (x64) | Desktop (ARM) | Mobile | HoloLens | Xbox | IoT Core (Device dependent) | Surface Hub |

[2019-01-04 16:54] eliotcowley commented on #754
Closing due to no response. @raksha-git please feel free to re-open if you have further questions.

[2019-01-04 16:54] #754 closed, assigned to eliotcowley

[2019-01-04 17:25] mcleanbyron commented on #1348
I'm seeing the "Windows Mixed Reality and HoloLens" column on that page now. Previously it was just "HoloLens" but I revised the column title to clarify the scope of what this column refers to several days ago in the copy of this file in our internal repo. That change was published to the public docs site yesterday, and it looks like that change has now made it to the version of this file in the p