[2019-01-04 17:27] mcleanbyron commented on #1337
I am closing this issue for now. If my previous response did not address your issue, please reopen with more info. Thanks!

[2019-01-04 17:27] #1337 closed, assigned to mcleanbyron

[2019-01-04 18:05] mcleanbyron commented on #1200
This page has been updated with references to ARM64 and info about requiring Visual Studio 2017 15.9 or later.

[2019-01-04 18:05] #1200 closed, assigned to jillre

[2019-01-04 18:07] mcleanbyron commented on #1169
Thanks for your feedback. I believe that the "1. Test your app" step you're commenting on refers to testing/debugging your app directly from Visual Studio, either in an emulator or by deploying directly to a target test device via Visual Studio, all before you package your app. I have expanded on this step in the article to clarify this point.

[2019-01-04 18:07] #1169 closed, assigned to mcleanbyron

[2019-01-04 20:48] QuinnRadich commented on #1064
I've added a little bit of text to clarify this, without getting into a long list of examples.

[2019-01-04 20:48] #1064 closed, assigned to QuinnRadich

[2019-01-04 20:48] #667 closed, assigned to QuinnRadich

[2019-01-05 01:01] fearless40 opened #1359 "Having Issues with the example"
When learning the example I had a major issue with Visual Studio. When you copy over the files from "Generated Files\sources\MainPage.cpp" and "MainPage.h" into the solution visual studio asks if you would like to overwrite them. If you say yes then the Xaml and the C++ code are no longer linked together. Therefore when compiling the solution the compiler spits out an error in "xamltypeinfo.g.cpp"

[2019-01-05 02:28] stevewhims commented on #1347
Hi, @Dylan-H, there actually IS a problem with the code example, so I'm taking a closer look. The problem is that the code is showing a regular dependency property instead of an attached property. However, I can confirm that the expression winrt::xaml_typename<bool>() is correct. Bool is a WinRT type. Anyway, I hope to have more news for you tomorrow when I've worked on this. Thanks for bringing t

[2019-01-05 03:07] stevewhims commented on #1359
Hi, @fearless40, note that in the topic we ask you to create BookSku.idl, then build, then copy the generated files across (you do the copy in File Explorer, of course). At that point, the files that you're copying have been created for the first time. So copying them, and then adding them to the project, is the right workflow. However, when you make changes to the IDL for a type that's already in

[2019-01-05 20:28] reutann commented on #1089
This is still broken. Come on guys!

Icognito/inprivate don't affect the result at all. Navigating to https://partner.microsoft.com/xboxactivate and https://aka.ms/activatexbox redirect to the partner dashboard and there's no option for xbox.

[2019-01-06 10:36] mhoelzel142 opened #1360 "Missing / in self closing xaml tag"
Under the "Create a menu bar" section in the code sample, the &lt;MenuFlyoutItem Text="Save"/&gt; is missing the forward slash to make it a self-closing tag.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd894ab6-9b28-956f-fd00-3d60de336045
* Version Independent ID: 5f80b19f-f8a7-4d66-bd46-2ba165f68c0f
* Content: [Men

[2019-01-06 21:48] Quico20 opened #1361 "Subscription Add-on pricing options!!!"
I have an app i'm developing on my own and I wish to use the subscription add-on from microsoft store, but my doubt is about the pricing, I understand that once I chose a base price it cant be changed later, and that scenario is something i dont like, you see every year inflation grows, i would love to increase the subscription price year by year, if its needed.

So what suggestions do you have to

[2019-01-07 08:09] sebastianzolg commented on #612
Same problem here. Any update on this topic?

[2019-01-07 08:09] sebastianzolg commented on #1086
Same Problem here. Any update on this topic?

[2019-01-07 18:02] chigy commented on #1353
@marb2000

[2019-01-07 18:02] chigy commented on #1353
@marb2000

[2019-01-07 19:51] mijacobs commented on #1352
@predavid Can you add a link  to the page and then reopen the issue?

[2019-01-07 19:51] #1352 closed, assigned to nobody

[2019-01-07 23:54] stevewhims commented on #1347
@Dylan-H, I've fixed the code example now, and confirmed that it builds and runs as expected on the latest public versions of the Windows SDK, Visual Studio, and Windows. Now that I've fixed the topic, I'll address your specific points/questions.

Yes, the accessors must be named GetIsMovable and SetIsMovable. Currently, you can't use those from XAML markup, but you can use them in imperative code

[2019-01-08 13:03] chenggj opened #1362 "Can it show toast with installing shotcut by c# code?"
I have a sample that it installs shortcut by code, but the toast should not display all the time, I'm sure that the AUMID is the same and registry has already the ToastActivatorCLSID value.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53415734-dd31-7cf0-a82e-02566ed82396
* Version Independent ID: e5f82c08-6c9f-c628-9

[2019-01-08 14:16] HppZ commented on #1184
so any further information?@msatranjr

[2019-01-08 14:55] chenggj commented on #1362
I have resolve this problem.
The reason is that I download from the internet, and in their code, the appUserModel_ID fomatID is "9F4C2855-9F79-4B39-A8D0-E1D42DE1D5F**6**" but the MSDN, the value is "9F4C2855-9F79-4B39-A8D0-E1D42DE1D5F**3**"

[2019-01-08 14:55] #1362 closed, assigned to mijacobs

[2019-01-08 18:59] jwmsft commented on #1360
@mhoelzel142, thanks for bringing this to our attention. It's fixed now.

[2019-01-08 18:59] #1360 closed, assigned to jwmsft

[2019-01-08 19:11] hickeys commented on #1206
Just checking in, did @EvaRichie's advice help you resolve the issue?

[2019-01-08 19:14] jwmsft commented on #563
This link appears to be fixed.

[2019-01-08 19:14] #563 closed, assigned to GrantMeStrength

[2019-01-08 20:30] JnHs commented on #1314
Thanks for your patience. I'm sorry that I haven't been able to confirm what the issue is with these files, and that it's taken so long to respond again. If you haven't already, please contact support to get more info and help resolve the problem.

[2019-01-08 20:30] #1314 closed, assigned to JnHs

[2019-01-08 21:41] hickeys commented on #1084
It seems to be working for me, so it's possible it's a GitHub permissions issue. Are you able to navigate to this link?

https://github.com/Microsoft/MSIX-PackageSupportFramework/tree/master/fixups/FileRedirectionFixup

[2019-01-08 22:44] matthew65536 opened #1363 "Link broken"
Even though the issue is claimed to be "fixed" i still can't get my Xbox one s activated for dev mode. Seriously Microsoft you are better then this, get your stuff working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc064e49-5f24-ff80-d511-7f1947fc39da
* Version Independent ID: b8ad47c2-8264-c232-167f-b9ee69d6dce1

[2019-01-09 00:44] mhopkins-msft commented on #1361
Thank you for reaching out to the Microsoft Partner Center documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the documentation.

You may have success posting your question in the [Microsoft Partner Community](https://www.microsoftpartnercommunity.com/) or reaching out to [Support for Microsoft Partners](https

[2019-01-09 00:44] #1361 closed, assigned to hickeys

[2019-01-09 01:36] aruproy14 opened #1366 "Title of this section in the sidebar is incorrect"
Title in the sidebar says "Create and consume an app extension" whereas the page title is "Create and host an app extension"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3298b92-cea5-7d7e-c25e-3fd090420eeb
* Version Independent ID: fdb61ad4-a542-db99-bc9c-36c613b86162
* Content: [Create and consume an app extension

[2019-01-09 06:39] HppZ opened #1367 "link is down"
"Windows Developer Platform features"
https://developer.microsoft.com/en-us/windows/platform/features

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e29449c0-035d-483b-d92e-fce0351fb9e5
* Version Independent ID: 5642c637-bf8b-cf70-7b41-8ca20a56d327
* Content: [What's New in Windows 10 for Developers, Tools & Features -

[2019-01-09 06:50] ByErdem opened #1368 "About xaml complexity."
I don't want html in uwp. I want to be able to use many features like css.

[2019-01-09 12:39] Dylan-H commented on #1347
@stevewhims  Sorry，    winrt::xaml_typename<bool>() is correct
“T must be WinRT type”  from other code
Thanks!

[2019-01-09 12:39] #1347 closed, assigned to jwmsft, stevewhims

[2019-01-09 22:27] stevewhims commented on #1347
Sounds good, thanks! :)

[2019-01-09 22:44] stevewhims commented on #685
I have an update, although an unsatisfactory one. I've taken a look at the issue with a dev team person, but so far neither of us has been able to devote enough cycles to it to resolve it. The sample apps are a mix of Win10 and Win8.x, and in this case I've been trying to port the 8.x sample to 10 without success (I wanted to port it before I addressed this particular issue). I'm running into buil

[2019-01-10 16:06] KSib opened #1369 "Error in parsing the app package"
I'm getting the following message when double-clicking the .appinstaller from a UNC path: "Error in parsing the app package." It works just fine if I create an app package to my desktop. It will also auto-update when installed via .appinstaller from my desktop. What could be the problem? There's no errors in the event log where this document says to check. The project is signed with a .pfx that's

[2019-01-10 16:33] KSib commented on #1368
I don't understand what you're saying, but you can use javascript, HTML, and CSS to make a UWP app: https://docs.microsoft.com/en-us/windows/uwp/get-started/create-a-hello-world-app-js-uwp

[2019-01-10 17:06] mdmozibur opened #1370 "Make Selector class constructor public"
`Selector` - the base class for `ComboBox` and other `ItemsControl` with single selection mode,  has a contructor that's not public. As a result, it's being difficult or Impossible to create an `ItemsControl` that has only Single selection mode like `ComboBox`.

[2019-01-10 18:58] mcleanbyron commented on #1369
I'm sorry you're encountering this issue. The following threads are about the same error and have some suggestions in them:

- [https://github.com/MicrosoftDocs/windows-uwp/issues/609](https://github.com/MicrosoftDocs/windows-uwp/issues/609) (see the last several comments)
- [https://stackoverflow.com/questions/50485153/uwp-appinstaller-error-in-parsing-the-app-package](https://stackoverflow.com/q

[2019-01-10 18:58] #1369 closed, assigned to mcleanbyron

[2019-01-10 19:25] ginami commented on #1370
Hi @MuziburRahman -- thank you for your feedback. This list is specifically for documentation issues--are you asking to have a doc on this topic updated? If so, could you please let me know the URL for the doc? Thank you!

[2019-01-10 19:30] eliotcowley commented on #415
Hi @luskan, sorry for the delay on this. I was able to make the **OnRequestReceived** breakpoint trigger in my C++ **AppServicesProvider** project while the **Debugger Type** was still set to **Native Only**. Can you confirm that you made sure to:

1. Set **Launch Application** to **No**.
2. Set the **AppServicesProvider** project as the start-up project.
3. Run it from Visual Studio.
4. Run the c

[2019-01-10 19:44] mdmozibur commented on #1370
Hi @ginami , of course, here is the `Selector` page: https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Controls.Primitives.Selector
Thanks.

[2019-01-10 20:58] eliotcowley commented on #745
Hi @superkid200, sorry for the delayed response. Are you talking about having two different apps and two different app services within the same project? I don't see why you wouldn't be able to do this, if you also had two different app service providers, one for each app service. If you wanted to have an app call an app service in a different project, I believe you can do that as well, since that'

[2019-01-10 21:12] eliotcowley commented on #747
Hi all, sorry for the delayed response. There are several questions here, and it's difficult to debug an issue without more info, but if anyone wants to follow-up please comment again with more details about the problem you're having.

@BloominLate I'm not sure what you mean by "background task registration." In the doc, we connect the app service provider to the app service by adding it as a decl

[2019-01-10 21:14] eliotcowley commented on #1198
Closing as duplicate, please see Issue #747.

[2019-01-10 21:14] #1198 closed, assigned to eliotcowley, msatranjr

[2019-01-10 21:20] eliotcowley commented on #1257
Hi @laultman, sorry for the delayed response. I agree, this doc could use some updating. I will take that as a work item and update this issue when I'm done.

Re: lack of documentation updates, as much as we would like to keep everything up-to-date, it is a large documentation set, so it comes down to resource constraints and prioritizing :) But I will take that feedback and pass it along.

[2019-01-11 01:17] mbw-k11 opened #1372 "Will not compile as provided"
As installed per Visual Studio with the C++/WinRT and VISIX, include files still not correct and cannot be located by Visual Studio. Solution - must remove "winrt" from #include files. e.g. &lt;winrt/Windows.Foundation.h&gt; - once "winrt" is removed, the file can be found by Visual Studio 17 (updated today).

The "winrt" namespace is not defined as installed - identified by the editor in Visual S

[2019-01-11 02:56] meteorsnows opened #1373 "Ability to Embed UWP inside Desktop Application?"
Ability to Embed UWP inside Desktop Application?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95e5b22d-e803-5c0a-3e82-d08f59919ac5
* Version Independent ID: 85cb8283-4d80-b519-a03b-f3efab4f6d75
* Content: [UWP controls in desktop applications - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/xa

[2019-01-11 03:04] stevewhims commented on #1372
Hi, @mbw-k11, let's take Windows.Foundation.h as an example. There are two versions of that file in the Windows SDK. The latest publicly released Windows SDK is 10.0.17763.0. So, on my machine, I have these two versions of a file with that name:

C:\Program Files (x86)\Windows Kits\10\Include\10.0.17763.0\winrt\windows.foundation.h
C:\Program Files (x86)\Windows Kits\10\Include\10.0.17763.0\cppwin

[2019-01-11 03:35] meteorsnows opened #1375 "Remove/Customized the Yellow Rectangular Region Highlight the Windows is in Screen Capturing?"
It is able to Remove/Customized the Yellow Rectangular Region Highlight the Windows is in Screen Capturing?
Could it be a feature / parameter allowed it to be customized?, or any overlay red dot instead of rectangular, if it for the sake of Security of user (Notify that the windows is recorded)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-01-11 05:25] michael-hawker opened #1376 "Provide examples for theme"
No examples of possible values for theme are given.  I believe they should be like `theme-light` and `theme-dark`.  Similar for contrast, but it's used in other examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a5f1d5c-9079-14c5-cbdf-20c7f067b3e5
* Version Independent ID: 0e8fb0fd-1330-c826-cb02-871aa1f3e473
*

[2019-01-11 05:28] michael-hawker opened #1377 "Overlapped scope?"
This document about loading images covers some of the material in [tailor resources](https://docs.microsoft.com/en-us/windows/uwp/app-resources/tailor-resources-lang-scale-contrast), I was looking for the latter, but found this one from search first (keyword loading).

It'd be nice to either better isolate the scopes of these two articles, or better highlight the other article with a link in the a

[2019-01-11 09:50] michael-hawker opened #1378 "Does conditional XAML not work for attached properties?"
There's no mention/examples of attached properties here.  Are they supposed to be supported?  I'm seeing a `The XAML Binary Format (XBF) generator reported syntax error '0x09cc'` in VS trying to do it intuitively as `contract6Present:AutomationProperties.HeadingLevel="Level2"` but not sure if there's some other syntax for attached with `()` I'm supposed to use like in other binding type expression

[2019-01-11 14:09] mdunka opened #1379 "Selection while virtualizing."
Unfortunately, only the items on the screen (or, more correctly, the ones not being virtualized) will cause SelectionChanged notifications. Read about it here, especially the Remarks section: https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.listview.itemselectionchanged?view=netframework-4.7.2#remarks
So, how about adding a complete example here (or there) on how to correctly manag

[2019-01-11 17:31] michael-hawker commented on #1077
@YuliKl what about the inbox controls that aren't part of that package yet?  There's also still extra info in the docs like separating out Visual States and Style Resources which can be customized above the style itself.  So, I think this work item is still useful about the documentation of the styles themselves.

[2019-01-11 17:55] mcleanbyron commented on #1373
Thanks for your feedback. This article provides an overview about the currently supported ways to host UWP controls in desktop (Windows Forms, WPF, and native Win32) applications. Unfortunately, it isn't clear from your comment whether you are asking a question about this feature, leaving feedback on the documentation, or something else. If you are leaving feedback on the documentation, please reo

[2019-01-11 17:55] #1373 closed, assigned to mcleanbyron

[2019-01-11 23:27] YuliKl commented on #1077
@michael-hawker The overhead of maintaining copies of styles and templates and keeping these in sync with generic.xaml is prohibitive.

[2019-01-13 06:42] michael-hawker opened #1380 "Should show grabbing the 'SelectedTime' Property in Example"
I had to dig through the properties to find out how to grab the value from the control.  The sample should show retrieving the `SelectedTime` property from the control to make use of what the user has picked.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ee0213d-5c88-91c6-f798-b958afa967f6
* Version Independent ID: a

[2019-01-13 15:27] al-n opened #1381 "Custom ContentLinkProvider"
Is there any info available for implementing a custom ContentLinkProvider for e.g. hashtags for categorizing items?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0863d9c0-9b9a-c111-74a5-8fcd04b31671
* Version Independent ID: 0fa5a148-a608-8b07-6a81-339f7a594597
* Content: [Content links in text controls - Windows UWP

[2019-01-14 00:18] sichbo opened #1382 "Wrapping collections seem unstable"
I may doing something wrong here, but a basic custom collection returned by a WinRT component seems to crash the IDE debugger.

I've posted an MVCE here: https://github.com/sichbo/WinRTCollectionCrash

The gist of it is:
Basic MIDL definition
[code]

In your `ThingCollection` implementation, simply shim all of the interface methods into a backing:

[code]
Breakpoint on something like `ThingCollect

[2019-01-14 08:16] HppZ commented on #1367
@mijacobs

[2019-01-14 21:43] stevewhims commented on #1382
Hi, Simon.

I can repro the crash (I updated Microsoft.Windows.CppWinRT to the latest version in order to get a build). Then, I updated the C# project to 17763, and that got me further in the debugger. But still, there seemed to be an issue with the code someplace. I see you're using one of the [helper functions for collections](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/collections

[2019-01-14 22:11] stevewhims commented on #1382
So, there is a known mixed-mode debugging bug in Visual Studio; the visualizer within the C++/WinRT VSIX contains a workaround. That combined with what I found, means that some combination of upgrading your VSIX and/or the target SDK of your projects should alleviate that issue. But if the base classes for collections work for you (you don't have to shim all those methods), then that might be bett

[2019-01-14 22:36] sichbo commented on #1382
Thanks for that, Steve!

You're earning your coffee today :)

Many thanks for the vector_base sample and passing along the debugger issue and finding out about the known mixed-mode bug. Traditionally when I've encountered behaviour like this in VS it was my own stupid fault and needed Intel xe memory inspector to find the source (typically hand coded asm/intrinsic mistakes.)

My understanding of t

[2019-01-14 22:36] #1382 closed, assigned to stevewhims

[2019-01-14 22:49] yyr57695 opened #1383 "2017: How to display Friends-only leaderboard?"
Thank you for the detailed documentation, especially the recently-added C# examples.

The one thing I can't figure out, though, is how to use this to retrieve Friends-only results.  Getting "Overall" results is easy, and you can get "My Score" simply by setting SkipResultToMe to True and MaxItems to 1, but what about "Friends?"  These are the 3 major types of leaderboards in pretty much every game

[2019-01-14 23:05] duncanmacmichael opened #1384 "Test"
test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 449f8eee-26f7-82fd-fa40-690b2c01d835
* Version Independent ID: 3431bcaa-7566-ca31-3d49-79a4773f845e
* Content: [Collections with C++/WinRT - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/collections)
* Content Source: [windo

[2019-01-14 23:05] #1384 closed, assigned to stevewhims

[2019-01-14 23:30] yyr57695 commented on #1383
Wait...I think I figured it out.  The answer is to use StatsManager.GetSocialLeaderboard as opposed to StatsManager.GetLeaderboard.  The LeaderboardQuery is exactly the same for both.

However, before this can be done, we need to create a SingletonInstance of the SocialManager and add the user (in the same way we did the StatisticsManager), and then use SocialManager.CreateSocialUserGroupFromFilte

[2019-01-14 23:30] #1383 closed, assigned to KevinAsgari, aablackm

[2019-01-14 23:30] NFGodoy opened #1385 "The name XXX does not exist in the namespace ZZZ"
I am doing exactly as described in the article, but I always get the same general error message as above. For example
&lt;Page x:Class="KnO.Views.FoldersView"
...
xmlns:uc="using:KnO.UserControls"
… &gt;

&lt;uc:TrailUserControl x:Name="TrailUserControl1"/&gt;

and then inside a grid I am trying to use a control that I am sure was correctly created in the namespace KnO.UserControls

Everything was

[2019-01-14 23:31] stevewhims commented on #1382
You're right, Simon, the Developer Community is probably better for bug reports than the UserVoice is. I just wanted to enumerate all the channels, as they're all ways to get data to Microsoft (some better channels than others for that), where "data" is "hey, someone else is having this issue, too." As a customer, I might feel like my single lone voice won't prevail, so why bother; on the other ha

[2019-01-14 23:58] sichbo commented on #1382
Thanks again for the outstanding support, Steve. There was a "bugs" category on uservoice, so I went ahead and [uploaded a MVCE](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/36523795--bug-broker-infrastructure-doesn-t-respect-always) on that other issue. Cheers!

[2019-01-14 23:58] JnHs commented on #1280
Thanks again for bringing this up. I'm in contact with the right folks and we'll update this page when we are able to confirm details - closing for now.

[2019-01-14 23:58] #1280 closed, assigned to JnHs

[2019-01-15 00:03] stevewhims commented on #1382
Cool! You're welcome! :)

[2019-01-15 20:19] stevewhims commented on #370
Hi, @SuperJMN, my contact within the product team has helped us out with the following info. I will incorporate this info into the topic itself.

In the example, we're converting the ASN.1 encoded blob to a CNG blob so that it can be used with CNG (https://docs.microsoft.com/en-us/windows/desktop/SecCNG/cng-portal) and the BCrypt API. If you do a quick lookup of the CNG blob it will point you to t

[2019-01-15 20:22] YuliKl opened #1386 "NavigationView doc: Settings item not always showing in correct position"
NavigationView was update to always show Settings (the gear icon) as the last (bottom-most or right-most) item in NavigationView's pane. Images in this doc need to be updated to show correct order with PaneFooter content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 745ab6c5-cfbe-a56f-dccd-ab55123f9223
* Version Inde

[2019-01-15 22:35] stevewhims commented on #1382
Just one last bit of info, Simon, FYI. You needn't be concerned on this score: "it's a $300 "gamble" as to whether or not it's actually a bug and you need to buy an incident prior to submission and I'm pretty sure there are no refunds either way."

For future reference: if you pay to open up a new professional support incident and the issue leads to a confirmed bug by the dev team, then you can re

[2019-01-15 23:02] sichbo commented on #1382
Great to know — thanks for the tip!

[2019-01-16 06:18] Gavin-Williams opened #1387 "Fullscreen switch causes too many resize events."
** I'm not sure if this is the right place to post this **

When I switch to fullscreen in a C# UWP app (using the CoreApp style as opposed to the XamlApp style), there seem to be too many resize events being triggered. Here is the output of my app...

    T: 3 | KeyboardEventProcessor.ToggleFullscreen
    T: 3 | App.WindowSizeChanged {1600x900}
    T: 3 | App.WindowSizeChanged {1616x908}
    T: 3

[2019-01-16 16:47] ginami commented on #1387
Hi @Gavin-Williams -- sorry for your frustration! This isn't the best place to post, as this list is for documentation issues. I'd recommend going to our Support page (https://developer.microsoft.com/en-us/windows/support) and linking to our forums or Stack Overflow (or both) for help. Thanks!

[2019-01-16 23:52] eliotcowley commented on #1257
Hi @laultman, I've updated the doc to make sure that everything works with the current tooling, and included the steps to edit the manifest file in the XML text editor. I also included the easier method of getting the package family name (copying it from the app manifest). And I passed along your feedback about the lack of doc updates&mdash;we're working on it :)

[2019-01-16 23:52] #1257 closed, assigned to eliotcowley

[2019-01-17 00:03] Gavin-Williams commented on #1387
OK, thanks, I will repost there.

[2019-01-17 00:03] #1387 closed, assigned to nobody

[2019-01-17 04:09] gmgallo opened #1388 "Population of Layers after layer creation"
In the example above, the layer is populated with:
var MyElements = new List&lt;MapElement&gt;();
If you add more elements to this collection they are ignored by the layer. To add or remove elements after layer creation replace List&lt;MapElement&gt;() with
IList&lt;MapElement&gt; MyElements = new ObservableCollection&lt;MapElement&gt;();

---
#### Document Details

⚠ *Do not edit this section. It

[2019-01-17 06:27] myokeeh opened #1389 "StoreServicesFeedbackLauncher.GetDefault() is broken"
FYI, StoreServicesFeedbackLauncher.GetDefault() is crashing UWP apps on 1809.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 443bc235-c1bd-4f01-f758-14575db6dbb6
* Version Independent ID: 9b2b7af4-870a-d423-f0d7-2f7a680d38cc
* Content: [Launch Feedback Hub from your app - Windows UWP applications](https://docs.microsof

[2019-01-17 16:31] AdamWhitcombCAS opened #1390 "Example URIs display with HTML subscript"
A few of the examples in the "Display known locations" and "Display multiple points" sections display part of the URIs within subscript tags.  I suspect it is replacing pairs of tildes with sub tags.

eg: Displays a pushpin named Caesars Palace and a pushpin named The Bellagio in Las Vegas and zooms to level 16.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2019-01-17 18:08] eliotcowley commented on #951
Closing due to lack of response. @IQpierce feel free to re-open if you're still having this issue.

[2019-01-17 18:08] #951 closed, assigned to eliotcowley

[2019-01-17 18:10] eliotcowley commented on #415
Closing due to lack of response. @luskan please feel free to re-open if you're still having this issue.

[2019-01-17 18:10] #415 closed, assigned to eliotcowley, msatranjr

[2019-01-17 18:14] eliotcowley commented on #745
Closing due to lack of response. @superkid200 please feel free to re-open if you're still having this issue.

[2019-01-17 18:14] #745 closed, assigned to eliotcowley, msatranjr

[2019-01-17 18:17] eliotcowley commented on #747
Closing due to lack of response. @superkid200 please feel free to re-open if you're still having this issue.

[2019-01-17 18:17] #747 closed, assigned to eliotcowley, msatranjr

[2019-01-17 18:56] eliotcowley commented on #870
Closing due to lack of response. @JohnMasen please feel free to re-open if you're still having this issue.

[2019-01-17 18:56] #870 closed, assigned to eliotcowley

[2019-01-17 19:08] eliotcowley commented on #612
Hi, I've gotten in touch with people from multiple teams that work on these APIs, and they've filed a bug to investigate this issue. They will also be working on an end-to-end screen capture and encoding sample, for which this bug is a dependency. I'll continue to stay in touch and update here. Sorry all, and thanks for your patience!

[2019-01-17 19:09] JohnGalt1717 commented on #612
@eliotcowley  Thanks for the update and following up on this!

[2019-01-17 19:37] ahainen commented on #411
Just checking in on this

[2019-01-17 19:48] sichbo opened #1392 "WinRT IComparable for API authoring"
An important part of composing public APIs is that value types should be able to sort or compare in an expected and standard way. Under the CLI we have System.IComparable<T> for that job but I'm not seeing any kind of analogue under the Windows.Platform namespace.

Can we get some guidance on whether or not it's possible for API authors to have their projected types implement System.IComparable wh

[2019-01-17 20:32] stevewhims commented on #1392
Acknowledging receipt! It's on my TODO list. :)

[2019-01-17 23:34] duncanmacmichael opened #1393 "Test"
test

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e65576db-2b1f-a8c7-489a-d73a5cbbbba2
* Version Independent ID: 1baaded8-7512-3d8d-534d-d7a541f4d665
* Content: [Author APIs with C++/WinRT - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/author-apis)
* Content Source: [windo

[2019-01-17 23:35] #1393 closed, assigned to stevewhims

[2019-01-18 00:05] ginami commented on #1392
(Sorry about the close and reopen...we're doing some testing on our issues list!)

[2019-01-18 01:08] ericleigh007 opened #1394 "copy/paste in audio capture devices"
In the para about audio capture devices, the text says to enumerate the audio render devices.  The code sample for that para is correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 411e7a56-a4da-c4c4-c401-4ae28c465ab6
* Version Independent ID: ad3bbc5a-9a63-f475-f7d9-5af28ba9acd6
* Content: [Audio graphs - Windows U

[2019-01-18 10:03] made1990 opened #1395 "Trial version selected in store submission but user can only buy"
Hi folks,
I submitted an app to the store with a free trial version (for 30 days) but store users can't select trial version in app store, only can buy it.
What is the reason for that?

By the way - When I look on my submission the trial version section is greyed out and the time limit is set to only 1 day  although I submitted with 30 days.

[2019-01-18 16:25] ginami commented on #1395
Hi @made1990 -- sorry that you're experiencing this problem! Unfortunately this list is specifically for issues with our docs. Please see our forums and support options at https://developer.microsoft.com/en-us/windows/support. Thank you.

[2019-01-18 18:16] drewbatgit commented on #1394
Thanks for the feedback. It looks like the copy/paste error was in the paragraph, referring to the GetAudioRenderSelector method instead of the GetAudioCaptureSelector method. The code sample correctly shows the GetAudioCaptureSelector method. This error has been fixed: https://docs.microsoft.com/en-us/windows/uwp/audio-video-camera/audio-graphs

[2019-01-18 18:16] #1394 closed, assigned to drewbatgit

[2019-01-18 19:54] YuliKl commented on #1385
@NFGodoy - how are you calling the control inside the grid? Can you provide that code snippet?

Sounds like TrailUserControl1 is resolving correctly, is that right? Are you also using the uc: namespace inside the grid? (Is the grid you mentioned the direct child control inside Page?)

[2019-01-18 20:11] YuliKl commented on #1370
@MuziburRahman - Thank you for your suggestion. This isn't a documentation issue and feels like a feature request that belongs in the [Microsoft-ui-xaml](https://github.com/Microsoft/microsoft-ui-xaml) GitHub. Can you re-open your request there using one of our [issue tempaltes](https://github.com/Microsoft/microsoft-ui-xaml/issues/new/choose)?

[2019-01-18 20:11] #1370 closed, assigned to jwmsft

[2019-01-18 21:21] jgold6 opened #1396 "Add information on how to cancel direct manipulation after scrolling begins on a scrolling view"
Based on this MSDN thread: https://social.msdn.microsoft.com/Forums/windowsapps/en-US/6d9abdb1-5d8c-4030-acfd-9a36ae6d3217/uwp-only-the-manipulationstarting-events-fire?forum=wpdevelop , it has been suggested that this document needs to be updated to draw attention to the new APIs for UWP UIElements to cancel direct manipulation of touch events. I cannot edit this document myself as I do not have

[2019-01-20 19:30] colinkiama opened #1397 "Information on overwriting files"
With the writing example shown for streams, there's an issue where if the old data is longer than the new data you are trying to write, characters from the old data will appear at the end of the new data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b36404b8-4385-81d9-2ee8-486f0a55fc37
* Version Independent ID: 7b6ce

[2019-01-20 19:39] colinkiama commented on #1397
Here's a potential solution to the issue:

using (var outputStream = stream.GetOutputStreamAt(0))
                {
                    // We'll add more code here in the next step.
                    using (var dataWriter = new Windows.Storage.Streams.DataWriter(outputStream))
                    {
                        dataWriter.WriteString("DataWriter has methods to write to various types,

[2019-01-21 06:52] mkamilov opened #1398 "XAML design view support by cppwinrt"
We cannot access events page of a Button and create event handler by double click in Blank App (C++/WinRT). Please see below SO question and its answer for more details: https://stackoverflow.com/questions/54226053/how-do-you-add-a-c-winrt-button-click-handler

As per following closed issue XAML design view was not supported https://github.com/Microsoft/cppwinrt/issues/279

Can anyone check if C++

[2019-01-21 15:49] jraldrin opened #1399 "VS DataContext Instructions out of date in section "Setting DataContext in markup""
I'm using VS2017 version 15.9.5 and there is no "New" Button associated with the Data Context Property.  Also the only items in enabled in little square button next to "Data Context" are "Custom Expression" and "System Resource"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51100eeb-4a55-5997-eee8-2ed0047be78f
* Versi

[2019-01-21 17:26] sylveon opened #1400 "Not working in Insider builds"
I somehow can't get this working. An exception gets thrown when I try to create a DesktopWindowXamlSource, and when I read the message provided by the exception, it tells me my Windows is too old, but the math doesn't checks out, my Windows build is over the minimum version listed:
![](https://cdn.discordapp.com/attachments/204100839806205953/536958889384476673/unknown.png)

---
#### Document Deta

[2019-01-22 04:11] saf-itpro opened #1401 "UWP Sample code project does not build in VS2017"
Followed your this [Get UWP Samples tutorial](https://docs.microsoft.com/en-us/windows/uwp/get-started/get-uwp-app-samples). Opened the `CustomEditControl` sample project in `VS2017`. But when I run the project by clicking `F5`, I get the error shown in the image below. I then followed the instructions from the error message to Deploy the project as `Build-->Deploy Solution` and got the `Deploy: 0

[2019-01-22 11:04] viperscape commented on #987
@EquiGym that's using a custom Bluetooth SDK and driver stack, not Windows

[2019-01-22 13:02] aarefievit commented on #1172
Later this year (2019) ...

[2019-01-22 15:30] czhang03 opened #1403 "Interact with mail app using URI."
For example when trying to create an event or send an email.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f98f38c4-4a00-19b4-e813-bee6ffe03a9b
* Version Independent ID: 9a9770aa-8255-eeb8-7351-63b6ec712ada
* Content: [Launch an app with a URI - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/la

[2019-01-22 15:37] Swerfer commented on #1389
My app didn't pass certification because of this. See also https://stackoverflow.com/questions/52769958/microsofts-feedback-hub-now-crashes-my-uwp-app. It's a relative old issue which should get the highest priority, because lot's of people don't test all functions of the app when something small is updated and if they change the target version to 1809 (like I did besides a small bug fix).

[2019-01-22 16:14] about0 opened #1404 "Suggestion to specify that this doc works only within Dev Mode"
I might be wrong here but I has had to spend some time just to figure out that Device Portal exists only  n Dev Mode. Might be useful for other devs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1946cd5-a111-ba09-e226-e5614104e995
* Version Independent ID: 20d262f4-ddc0-afcb-28fe-2a3c564280ce
* Content: [Xbox Device

[2019-01-22 17:22] #1395 closed, assigned to nobody

[2019-01-22 18:47] MazenAlBezreh opened #1406 "await error"
Hi,
I did the mentioned example bu i got this error message:
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS4033	The 'await' operator can only be used within an async method. Consider marking this method with the 'async' modifier and changing its return type to 'Task'.	HelloWorld	F:\MazeN\source\repos\HelloWorld\HelloWorld\MainPage.xaml.cs	34	Active

Please help me to fix it

[2019-01-22 18:54] stefffdev commented on #1401
See https://stackoverflow.com/questions/42016155/visual-studio-the-project-needs-to-be-deployed-before-it-can-be-started/42020537
Maybe that's the problem.

[2019-01-22 18:59] stefffdev commented on #1406
You probably forgot the "async" keyword on your button click event:

private *async* void Button_Click(object sender, RoutedEventArgs e)

[2019-01-22 19:52] MazenAlBezreh commented on #1406
You're right, thanks a lot. it's working now

[2019-01-22 20:29] stefffdev commented on #1406
I think you should close the issue if your problem is solved! 👍

[2019-01-22 20:53] mcleanbyron commented on #1400
Thanks for reporting this! I followed up with the engineering team and it turns out that this is a poorly worded error message. This is actually telling you that your application needs to target 18226 or later, not that the OS you are running on needs to be 18226 or later. The engineering team is opening a bug to improve this message.

To fix this, you need to do one of the following:

- If you ha

[2019-01-22 20:53] #1400 closed, assigned to mcleanbyron, jwmsft

[2019-01-22 21:56] stevewhims commented on #1398
Hi, @mkamilov, thanks for filing this issue. I've added the following info to the "Blank App (C++/WinRT)" subsection of this topic, since that's the project template that uses XAML as its UI.

"Visual Studio's XAML design surface support for C++/WinRT is close to parity with C#. One exception is the **Events** tab of the **Properties** window. With a C# project, you can use that tab to add event h

[2019-01-22 23:28] eliotcowley commented on #1086
Hi, sorry for the delayed response. We are working on a solution across several teams and will update when we have it. Since issue #612 is already tracking this, I will close this issue as a dupe.

[2019-01-22 23:28] #1086 closed, assigned to eliotcowley

[2019-01-22 23:50] eliotcowley commented on #1091
Hi, sorry for the delayed response. We are tracking this issue in #612, so I'm going to close this as a duplicate. I'm working with the feature teams on a solution, and I've forwarded them your work-arounds to see if they have any better ideas. Apologies for this taking so long, but rest assured we're working on it!

[2019-01-22 23:50] #1091 closed, assigned to eliotcowley

[2019-01-23 00:35] YuliKl commented on #1401
I would double-check that your computer is in developer mode (Settings app > Update & Security > For developers). May be worth adding this step to the documentation.

[2019-01-23 00:36] QuinnRadich commented on #1401
I'd recommend that you check both the proposed solutions to this, yes. If neither of them can resolve your issue, then let me know, and I'll investigate this further.

Thank you.

[2019-01-23 00:37] QuinnRadich commented on #1406
Thanks, stefffdev!

Closing this issue, as the problem has been resolved.

[2019-01-23 00:37] #1406 closed, assigned to QuinnRadich

[2019-01-23 00:37] QuinnRadich commented on #1367
Thanks for the heads-up (and sorry for a slight delay in the response). It seems like this handy link is no more, so I'll make haste in removing it.

[2019-01-23 00:38] #1368 closed, assigned to QuinnRadich

[2019-01-23 03:15] sylveon commented on #1400
Unfortunately I've set that in both the package manifest and the application manifest, but the issue still occurs. Do I also need to build using the Insider SDK? Because I wasn't able to download it, the download page would error.

[2019-01-23 04:26] saf-itpro commented on #1401
[This ](https://github.com/Microsoft/Xaml-Controls-Gallery/issues/36)solution from @stmoy resolved the issue. Many thanks to `@stmoy`

[2019-01-23 04:26] #1401 closed, assigned to QuinnRadich

[2019-01-23 09:03] IgorX2 commented on #685
I could successfully build the code, but, as mentioned, I got an exception during runtime. I believe this is more of an OS/runtime bug, than a bug in your presentation. Although, the presentation could be clearer, as you yourself mentioned.

[2019-01-23 13:59] arqlz opened #1407 "Override Keyboard Navigation"
How to override Keyboard Navigation so none action is done when UP, DOWN, LEFT and RIGHT keys are pressed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5ba995b-8bf3-407c-7b87-015d22d813f1
* Version Independent ID: 52c553b6-e94d-2810-4123-8ee215b002bf
* Content: [Tree view - Windows UWP applications](https://docs.mic

[2019-01-23 16:32] jawineh opened #1408 "Event Handler"
After selecting 'button' and pressing F4 properties does not have the event button let alone a drop down. Boxes of Categorized, Alphabetical and Pages also contain nothing. Thus impossible to work on "Event Handlers".

[2019-01-23 16:56] Swerfer commented on #1389
Even with max target version set to 1803 the app failed certification in the store because of a crashing app when the feedback hub should be opened. When debugging in Visual Studio the app does not crash and the feedback hub opens as supposed. Very annoying. I'm now forced to remove the ability to give feedback from my app until there is confirmation that this bug is fixed...

[2019-01-23 17:03] myokeeh commented on #1389
@db71 https://twitter.com/ClintRutkas/status/1086058102640627717?s=20

[2019-01-23 17:23] toredk opened #1409 "Logo problems in classic win32"
I am having problems with the application logo for my classic win32 application as it has a transparent background. This turns blue when displayed automatically in the toast notification. Is there any way to get around this?
Someone else having the same problem: https://stackoverflow.com/questions/34965325/how-to-set-notification-icon-background-of-windows-10-application-as-transparent

I have als

[2019-01-23 17:56] mcleanbyron commented on #1400
Yes, in order to successfully build an app that explicitly targets the 18317 build of the OS, I believe you would need to build the app using the [18317 build of the Insider SDK](https://blogs.windows.com/buildingapps/2019/01/22/windows-10-sdk-preview-build-18317-available-now) (or a later version of the SDK should probably work too).

[2019-01-23 20:31] stevewhims commented on #370
Hi, @SuperJMN, my updates are now published within the topic. Again, thanks for raising this issue and for helping us improve the documentation. I'll go ahead and close this issue now, but please reopen it if you feel I closed it prematurely. ~Steve

[2019-01-23 20:31] #370 closed, assigned to stevewhims

[2019-01-23 20:34] stevewhims commented on #1359
Hi, @fearless40, I'll go ahead and close this issue now since it's been a while, and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2019-01-23 20:34] #1359 closed, assigned to stevewhims

[2019-01-23 20:35] stevewhims commented on #1372
Hi, @mbw-k11, I'll go ahead and close this issue now since it's been a while, and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2019-01-23 20:35] #1372 closed, assigned to stevewhims

[2019-01-23 20:36] stevewhims commented on #1398
Hi, @mkamilov, my update is now live on the topic. So I'll go ahead and close this issue now. Thanks again for raising this issue and for helping us improve the documentation! :) ~Steve

[2019-01-23 20:36] #1398 closed, assigned to stevewhims

[2019-01-23 21:00] ginami commented on #1408
Hi @jawineh -- are you referring to the instructions in a specific article? If so, can you please provide the URL? This will help me route your feedback to the appropriate author. Thank you!

[2019-01-23 21:28] SuperJMN commented on #370
Thanks! the fix comes a bit late for, but it's fixed! :) Ready for the next who may need it.

[2019-01-23 21:32] fearless40 commented on #1359
Thanks for answering and closing it.

On Wed, Jan 23, 2019, 12:34 PM Steven White <notifications@github.com wrote:

[2019-01-23 21:32] stevewhims commented on #370
Thanks, José, you're right, and my apologies that it took so long to get an answer! ~Steve

[2019-01-23 21:34] SuperJMN commented on #370
No problem!

[2019-01-23 22:09] sylveon commented on #1400
Unfortunately it still happens.

I've managed to install it (Edge downloaded it fine but Firefox couldn't). I set it as target SDK for my whole solution, cleaned it and then build+ran it (with the MaxVersionTested in both manifests still set to 18266). I still get the error.

[2019-01-23 22:14] mcleanbyron commented on #1400
Have you tried setting the MaxVersionTested value to 10.0.18317.0 in your package manifest? (I'm assuming your OS version is 18317). If you set MaxVersionTested to a lower value than the version of your OS, perhaps that is causing some problems.

[2019-01-24 08:02] amandeepmonga opened #1411 "Visual Bug"
Visual Bug: There is an overlapping of text on the toggle switch 'Disabled On' on the image https://docs.microsoft.com/en-us/windows/uwp/design/style/images/color/windows-controls.svg placed under 'Controls' section on this page https://docs.microsoft.com/en-us/windows/uwp/design/basics/design-and-ui-intro

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-01-24 08:18] toredk opened #1412 "Correct handling of non-supported OSs"
Any recommendation on how to get handle non-supported operating systems?

The Wix installer code above results in a warning dialog with the text "Warning 1946. Property 'System.AppUserModel.ToastActivatior.CLSID' for shortcut 'My Application.lnk' could not be set.

In code I check against Environment.OSVersion.Version before triggering Toast Notifications, but there might be a more elegant solutio

[2019-01-24 12:22] amandeepmonga opened #1413 "Content Repeat"
The below para is repeated twice on this pagehttps://docs.microsoft.com/en-us/windows/uwp/design/basics/navigation-history-and-backwards-navigation

"Title bar customizations will carry over to both the app tab and the system back bar. If your app specifies background and foreground color properties with ApplicationViewTitleBar, then the colors will be applied to the tab and system back bar."

---

[2019-01-24 16:50] jawineh commented on #1408
Hi Gina,
After the post I checked Tools and realised that the ' xaml designer' had not been enabled. Have corrected it and now the class elements and siblings are available in properties. Will keep in touch in case further difficulties. thanks.

[2019-01-24 16:51] #1408 closed, assigned to nobody

[2019-01-24 16:57] bdbai opened #1414 "`Hub` page has gone missing"
When I followed the link `Hub control/pattern` ( https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/hub ) in [`Windows.UI.Xaml.Controls.Hub`](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.hub) , I was redirected here. The `Hub control/pattern` page is no longer available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-01-24 18:01] devhawk opened #1415 "CancellationPropagatorAsync sample code is wrong"
CancellationPropagatorAsync should capture the nested_coroutine by value (e.g. use = instead of &).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a087153a-b34a-b9fc-0ba6-e96d14764455
* Version Independent ID: 4db9d519-6a9d-a8f9-bd58-f67b32cd8548
* Content: [Concurrency and asynchronous operations with C++/WinRT - Wind

[2019-01-24 18:30] sylveon commented on #1400
I made a simple C++ piece of code, then built it targeting the 18317 SDK and with the same manifest than my main app (included below), and the issue still occurs.

[code]

[code]

[2019-01-24 18:32] mijacobs commented on #1414
Hi @bdbai, we don't recommend using the hub control in most cases, so we've retired the hub overview article. I'll update the API reference page to remove the link. Adding @chigy  for awareness.

[2019-01-24 18:32] #1414 closed, assigned to mijacobs

[2019-01-24 19:15] amartens181 commented on #992
It's easier to copy/paste if it's local 😉
I'm more concerned that they used "value" for the string name 😒

[2019-01-24 20:35] mhopkins-msft commented on #1389
I reached out the the engineering team about this issue. They are aware of the problem but there are no plans to update the SDK. Here is the response I received.

-----------------------
Yes, we are aware of this issue, there is a work around for this which is posted on stack-overflow.
[https://stackoverflow.com/questions/53378611/storeservicesfeedbacklauncher-is-not-working/54299697#54299697](htt

[2019-01-24 20:35] #1389 closed, assigned to nobody

[2019-01-24 21:30] riverar commented on #1389
@Xansky That is not a valid workaround, the team needs to seek possible servicing action for apps that are in production. Recommend re-open.

[2019-01-24 21:57] mhopkins-msft commented on #1389
Hi Rafael,

As I mentioned, I've contacted the product team know about the issue. There were already aware of it. This feedback channel is for providing input about the documentation as opposed to product bug reports. So, reopening this documentation issue won't get the actual problem fixed.

I've also passed on your feedback that you don't see this as a valid solution. However, as the team mentio

[2019-01-24 21:58] riverar commented on #1389
@Xansky That's fair, thanks. I'll follow up via MVP back channels.

[2019-01-24 23:46] NFGodoy commented on #1385
Hi Yulia,

I don't think there is an error with the XAML because it was working fine when I was using Visual Studio 2015 and the project was targeting Windows 8.1
I could not automatically open the older project with VS 2017 and get it converted, so I started a new project and copied the files into it. I have a suspicion that there is something wrong with my installation of VS 2017. I will do an u

[2019-01-25 01:51] FerOsorio commented on #419
this should do the trick.

var x = new HttpRequestMessage(HttpMethod.Post, channelUri.Uri)
            {
                Content = new StringContent(
                    content: "yourstuff",
                    encoding: System.Text.Encoding.UTF8,
                    mediaType: "application/octet-stream");
            };

x.Content.Headers.ContentType.CharSet = "";

[2019-01-25 18:32] stevewhims commented on #1415
Thanks, Harry, I just hit "Complete" on the PR for this fix; I expect it to be live within 24 hours. I'll close this issue optimistically, but we can always re-open it if necessary. ~Steve

[2019-01-25 18:32] #1415 closed, assigned to stevewhims

[2019-01-25 20:34] mijacobs commented on #1413
Thank you, I just fixed the issue. The updated page will be live shortly.

[2019-01-25 20:36] mijacobs commented on #1412
Adding @andrewleader

[2019-01-25 21:33] andrewleader commented on #1412
Checking OS version as you're doing works. After you know it's Windows 10, if you specifically want to check if progress bar is supported (since that was added in a later release of Windows 10), our progress bar code sample shows how you would check that: https://github.com/WindowsNotifications/quickstart-toast-progress-bar/blob/master/cs/QuickstartToastProgressBar/MainPage.xaml.cs#L94

[code]

[2019-01-25 21:41] Scottj1s commented on #1382
Note: Visual Studio 16.0.0 preview 3 will contain a fix for the mixed mode debugging issue mentioned by @stevewhims (the workaround was only partly effective)

[2019-01-26 00:49] marb2000 commented on #1400
@sylveon I have uploaded a basic sample to this repository: https://github.com/marb2000/XamlIslands/tree/master/RS5_Samples/Win32_CppWinRT_Platform_Controls

It demonstrate how to use Xaml Island in plain Win32 app. I hope this helps.

[2019-01-26 03:15] sylveon commented on #1400
Unfortunately, no, it doesn't. I already have fully working XAML island code, it's just that after clean installing my machine to a more up to date insider build (I was lagging a few versions behind), it doesn't works anymore.

[2019-01-26 05:58] bman46 opened #1418 "an object reference is required for the non-static field, method or property error"
When using `await WebView.InvokeScriptAsync("eval", new string[] { functionString });`  the compiler returns the error: `'CS0120	An object reference is required for the non-static field, method, or property 'WebView.InvokeScriptAsync(string, IEnumerable&lt;string&gt;)'`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96

[2019-01-26 21:21] bman46 commented on #1418
Solved by naming element and using the name.

[2019-01-26 21:21] #1418 closed, assigned to jwmsft

[2019-01-27 06:47] MegaMech opened #1419 "Many important variable initializiations are not shown in the code examples"
For example: "selectedCharacteristic", "characteristic.", and "service." Are important but it doesn't show where they come from.
This makes it confusing for people trying to use the API. It's like is it a misspelling? Or did they purposely leave out this important detail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-01-27 14:44] johanlindfors opened #1420 "Is this really working?"
I have tried to follow the steps above with Visual Studio 2017 15.9.6 and even Windows 10 SDK 18317 but can't get the solution to compile.

Here follows the build output:

1&gt;------ Build started: Project: BgLabelControlApp, Configuration: Debug Win32 ------
1&gt;XamlTypeInfo.g.cpp
1&gt;d:\repos\temp\bglabelcontrolapp\bglabelcontrolapp\generated files\xamltypeinfo.g.cpp(146): error C2039: 'BgLab

[2019-01-27 21:36] srocdocs opened #1421 "nothing happens"
Tried the example program but nothing happens.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0d376e5-ada9-78e7-a7c6-028c8acd4e14
* Version Independent ID: 84bb5e64-fd06-7561-eea1-206ababc786f
* Content: [Get started with C++/WinRT - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-

[2019-01-27 23:05] michaelteix opened #1422 "Using this API to display desktop windows in virtual reality?"
I am currently working on a unity VR project and we are building a virtual workspace. I have been trying to use this API to display the desktop in a window I can move around in VR space, with the intention of adding multiple other screens that would display application windows. I am wondering if this is the API I should be using, or if it is even compatible with unity? So far I have tried adding a

[2019-01-28 01:06] sjb-sjb commented on #844
@serenaz, recently I found out that the workaround above doesn't work so well. The SuppressNavigationTransitionInfo and the EntranceThemeTransition may not execute in the correct order, resulting in sometimes works, sometimes doesn't!

One should specify new SuppressNavigationTransitionInfo() in the call to Frame.Navigate, then separately put the EntranceThemeTransition in the content TransitionCo

[2019-01-28 07:51] johanlindfors commented on #1420
So the issue I was having was that I tried building the project before I added an instance of the control to the MainPage.xaml (and the MainPage.h) and then the compiler complained as above. However adding an #include "BgLabelControl.h" to the pch.h solves that as well. I guess this means that if I want to create this custom component in a separate compilation unit I need to add the inclusion of t

[2019-01-28 17:37] IgorX2 commented on #892
Doesn't work on any platform. Using `MidiInPort` and input messages anywhere in the app will cause the app to hang on exit.

[2019-01-28 17:41] IgorX2 opened #1424 "MIDI freezes apps on exit"
MIDI does not work properly and freezes apps on exit. When using a minimal example with MIDI (manually assign an input device, register message handling and process input), and exiting the app, the app freezes and cannot be terminated from command line or Task Manager (access denied, while the process only has 1 thread and 2 handles). Further, the app cannot be redeployed from Visual Studio, as th

[2019-01-28 18:35] ac-lap opened #1425 "App keeps crashing during certification when using Microsoft Advertising SDK for XAML"
In my already published app, I tried adding ADs using “Microsoft Advertising SDK for XAML” (tried adding reference via both NuGet and msi). On my dev machine both debug and release builds work fine, even .appxbundle created as part of packaging works as expected, but the app always crashes at launch for the reviewer when submitted for review (.appxupload file).

In the past I had similar issue wit

[2019-01-28 18:59] IgorX2 opened #1426 "Using MIDI API hangs the app on exit"
When using the `MidiInPort` example demonstrated here to listen for MIDI messages, the app hangs on exit, even when all resources have been disposed properly (as described in the article under _Create MIDI ports to send and receive messages_). This happens even on minimal examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-01-28 19:28] EddieLotter commented on #892
@IgorX2 I am not experiencing an app hang on exit after sending and receiving messages.
What MIDI device do you have connected to your MIDI In port?

[2019-01-28 19:32] EddieLotter commented on #1426
@IgorX2 does this happen to you when you use the sample provided by Microsoft?
http://go.microsoft.com/fwlink/p/?LinkId=620571

[2019-01-28 19:46] ginami commented on #1425
Hi @ac-lap -- so sorry you're experiencing this issue! Unfortunately this issue list is specifically for documentation problems. I'd recommend that you post this in the forums or on Stack Overflow, linked on our support page: https://developer.microsoft.com/en-us/windows/support. Thank you!

[2019-01-28 20:53] #840 closed, assigned to msatranjr

[2019-01-29 00:11] tonylambert opened #1428 "cabId parameter name"
I am trying to download crash dumps from the API using the https://manage.devcenter.microsoft.com/v1.0/my/analytics/cabdownload call for a Windows Desktop application. It requires three peices of information from me:

* An OAuth `Bearer` token in the `Authorization` header.
* The target `applicationId` in the query string.
* The ID for the CAB file to download.

From the [documentation](https://do

[2019-01-29 03:44] stevewhims commented on #1276
Hi, @jevansAN, I know you work with C++/WinRT so I'm offering a code example below for writing/reading binary data to/from a file in case it's of use. You could paste this into a new Blank App (C++/WinRT) project to try it out.

[code]

[2019-01-29 03:51] stevewhims commented on #1421
Hi, @srocdocs, thanks for filing this issue. I just tried the example again and, while it's slow to get started the first time you run it (it is hitting the network), it does run and it outputs a list of blog post titles. I tested the steps in the topic with the latest public versions of Visual Studio, Windows, the Windows SDK, and the C++/WinRT toolset.

Would you mind trying the steps again, per

[2019-01-29 04:34] stevewhims commented on #882
I'll close this issue now, since we resolved it. Thanks! ~Steve

[2019-01-29 04:34] #882 closed, assigned to stevewhims

[2019-01-29 04:36] stevewhims commented on #1420
Hi, @johanlindfors, yes I will go ahead and add a discussion along these lines to the topic. But, yes, you can either #include in the precompiled header, or else in each compilation unit needing it. I'll leave this issue open until I've updated the topic. Thanks! ~Steve

[2019-01-29 06:51] marb2000 commented on #1400
Sorry about that. The Side by Side manifest should fix this error. Please, ping me at miguelrb at Microsoft dot com, so I will happy to assist you.

[2019-01-29 14:06] jsmcneal opened #1430 "Reading Text Via Code Binding"
Would have been nice to have a blurb about how to get the text from the text box into Code Behind because it is not obvious to new UWP developers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0f75576-743f-742f-17a7-4db97dd52f2a
* Version Independent ID: ee00014e-f666-fb6e-d0da-29a38d6d2f00
* Content: [Text box - Win

[2019-01-29 18:38] mhopkins-msft commented on #1389
Good news! The engineering team tells me they are working on a fix.

[2019-01-29 22:01] stevewhims commented on #1392
Hi, @sichbo, I've asked around internally for advice here. I don't see any way of projecting System.IComparable from a WinRT API that a developer is authoring (in this case, as you say, the scenario being that you want a generic contained to be able to sort your custom value type, for example). I'm not sure what further I can offer since this isn't directly an issue with this particular topic, nor

[2019-01-29 22:20] sichbo commented on #1392
Thanks for that Steve. Yeah it's just a gap. I'm hitting up against possibly another gap as I go along :) Instead of opening yet another question maybe you might be able to quickly confirm something, as I'm not sure if this is a missing feature or just something not quite documented yet.

Are we able at all to define a *value* type that contains operators, utility properties and functions for mani

[2019-01-29 22:27] stevewhims commented on #1392
Not operators. But you should be able to replace those with a function, and then you should be able to do what you illustrate there. Btw, we recently published a couple of relevant documents, and the part about operator overloading is here: https://docs.microsoft.com/uwp/winrt-cref/winrt-type-system#interface-members, if you look in that section for the heading "Operator overloading". There's a lo

[2019-01-30 00:10] stevewhims commented on #1420
So, this topic is now live with the updated info that you suggested, @johanlindfors. I'll go ahead and optimistically close this issue now, but please reopen it if necessary. Thanks for filing the issue! ~Steve

[2019-01-30 00:10] #1420 closed, assigned to stevewhims

[2019-01-30 09:39] toredk commented on #1412
Thank you for the code snippet and the link to the quick start examples.

What about my main question about the wix handling? I'll need to support Windows 7+8+10 so at least for Windows 7 I need to avoid the mentioned warning message box. I am not sure if Windows 8/8.1 supports notifications at all.

Btw. what is the difference in using AnalyticsInfo.VersionInfo.DeviceFamilyVersion or Environment.

[2019-01-30 09:43] toredk opened #1431 "Check if notifications is disabled"
Is it possible to check whether notifications is disabled (app or overall), so that I can skip the notification and do something else? I would prefer to be able to check before trying to show the notifications rather than checking retrospectively if the notification was shown or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-01-30 13:35] arcturien commented on #1331
Hi all,

Is it possible to prevent Windows from suspending an Win10 app, like VS debugger?

Cordialy,

Hervé Ndoguéfouba.

[2019-01-30 14:04] sichbo commented on #1392
Thanks, Steve - there's a lot of good info on that new page.

I'm sure there was a reason and it's unfortunate that *"methods may not be named using the special operator names"*. Thanks for confirming the feature gap. Will close this up ;)

[2019-01-30 14:04] #1392 closed, assigned to stevewhims

[2019-01-30 15:26] toredk commented on #1412
I managed to get around the installer warning on Windows 7 by specifying "{9F4C2855-9F79-4B39-A8D0-E1D42DE1D5F3}, 26" as key for the wix ShortCutProperty instead of "System.AppUserModel.ToastActivatorCLSID". This still works on Windows 10 and does not produce a warning on Windows 7.

[2019-01-30 17:24] andrewleader commented on #1412
Thanks toredk, good to know that GUID allows it to not throw warnings on Windows 7!

As for the difference between AnalyticsInfo and Environment version, you'll have to reach out to the API owners of those APIs. Try posting a question on https://docs.microsoft.com/en-us/uwp/api/Windows.System.Profile.AnalyticsVersionInfo

[2019-01-30 18:47] ziyafenn opened #1432 "No Xbox Live REST endpoint for in-game screenshot captures?"
Hello. I want to be able to access user's in-game screenshots captures through RESTful API but i don't see any endpoint for that. There are only endpoints for game clips.

Is documentation missing screenshot capture endpoints or there is no way to access those?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24222aea-2a

[2019-01-30 19:49] ginami commented on #1425
Hi @ac-lap -- please let us know if you have any documentation issues in the future. Thank you!

[2019-01-30 19:49] #1425 closed, assigned to nobody

[2019-01-30 22:00] NFGodoy commented on #1385
Hi Julia,

Sorry for the delay. I was on holidays. Just returned.
As suspected after an update of VS 2017, which took more than 4 hours to complete, I just opened the project and those error messages are gone. I do have quite a lot to do to make the old Windows 8.1 app work properly with Windows 10 because it depends heavily on the Live api to talk to OneDrive which has been deprecated. So the sol

[2019-01-30 22:00] #1385 closed, assigned to jwmsft

[2019-01-30 22:04] YuliKl commented on #1385
Good to hear that you've made some progress. If you run into Xaml issues during your upgrade process, don't hesitate to let us know through the [Microsoft-UI-Xaml GitHub](https://github.com/Microsoft/microsoft-ui-xaml) page.

[2019-01-30 23:08] andrewleader commented on #1431
Hey @toredk, you can check the [ToastNotifier.Setting property](https://docs.microsoft.com/en-us/uwp/api/windows.ui.notifications.toastnotifier.setting#Windows_UI_Notifications_ToastNotifier_Setting)

[code]

[2019-01-30 23:34] jraldrin opened #1433 "x:Bind, Designer, Placeholder values"
The following sentence appears in the Data binding overview section

"But if you're using {x:Bind} then your bindings at least show placeholder values on the design surface (even for items controls), so you don't have quite the same need for sample data."

Please expand on what is meant by the above sentence.  I can't find any other content explaining the sentence in any detail.   Searching on Web

[2019-01-31 19:53] mandalorianbob opened #1434 "Out of date"
Unfortunately this documentation appears to be out of date. There's multiple issues:

In the build pipeline section, the current pipeline is completely different, the VS task doesn’t work that way anymore, and setting “/framework:FrameworkUap10” gives you an error:
 Error: Invalid .Net Framework version:FrameworkUap10. Supported .Net Framework versions are Framework35, Framework40 and Framework45.

[2019-01-31 20:14] benstevens48 commented on #1389
Hi,
Based on the info in one of the posts on StackOverflow, I've worked out how to launch the Feedback Hub on the page for the current app (still can't provide metadata though). Do this as follows.
[code]
where the easiest way I can find to get the `appUserModelId` is as follows
[code]
where `packageRelativeApplicationId` is hard-coded in Package.appxmanifest at `/Package/Applications/Application@

[2019-01-31 21:08] rawlinson opened #1435 "Incorrect UIElement.Translation link."
The UIElement.Translation link incorrectly goes to UIElement.Scale.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e8ca0e5-8827-0b34-c582-47c196dc034e
* Version Independent ID: eab0e86f-49d7-43fb-1dbf-c33d94166b67
* Content: [Motion in practice - animation in UWP apps - Windows UWP applications](https://docs.microsoft

[2019-01-31 21:10] mhopkins-msft commented on #1428
Thank you for reaching out to the Microsoft developer documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the documentation.

You may have success posting your question in the [Windows developer forums](https://social.msdn.microsoft.com/Forums/windowsapps/home?forum=windowsstore%2Cwpsubmit%2Cwppayout%2Cwpdcapp%

[2019-01-31 21:37] tonylambert commented on #1428
That makes sense. I will try one of the other forums you suggested. In the meantime, there is a discrepancy in the documentation that I called out in the original issue posting.

![image](https://user-images.githubusercontent.com/688221/52087035-60af9880-2576-11e9-84b4-00e2879f640a.png)

[2019-01-31 21:52] mhopkins-msft commented on #1428
Could you share the exact request you sent and the response you got back?

Thanks,
 ~ _Mark_

[2019-01-31 22:17] tonylambert commented on #1428
This is the GET request that was made:

https://manage.devcenter.microsoft.com/v1.0/my/analytics/desktop/failuredetails?applicationId=15787378977193230827&failureHash=f2dac845-961e-cbe9-6c3f-fba3693d2b54&top=1

(I only needed one entry so I added the optional &top=1 parameter, but even if I remove that I still see cabIdHash instead of cabId for the entire list).

with these headers (Note that < VA

[2019-01-31 22:55] mcleanbyron commented on #1434
Thanks for submitting you're feedback. We are reserving some time to review and revise this article in February. I will leave this issue open until we have updated the article.

[2019-02-01 01:54] Khairunj opened #1436 "Broken links found on this page"
Under Where to view the C APIs first two links are 404.  Please fix it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0531a119-33bd-50fc-0417-65cd379c3734
* Version Independent ID: 28d50683-19a1-5905-67f5-0c6f7a72e1df
* Content: [Xbox Live C APIs - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp

[2019-02-01 17:56] armouroflight opened #1438 "Pre-selecting the application"
We know the window (in many cases by the window title) that we want to be able to capture beforehand so displaying the picker isn't a good user experience for us.  Is it possible to select the window rather than using the picker?  All the APIs that would allow this seem to have problems with some windows and certainly aren't convenient.  Is there a lower level API that this is based on that might

[2019-02-01 22:49] oldnewthing commented on #1424
I cannot reproduce this problem. See [UWP Samples issue 1056](https://github.com/Microsoft/Windows-universal-samples/issues/1056).

[2019-02-02 07:20] nokola opened #1439 "Padding in the first screenshot to introduce XAML is wrong"
Screenshot incorrectly shows padding as 16 on left and 24 on top, which happens to be how CSS padding works. Unlike CSS, XAML Padding="24,16" means "24 on left" and "16 on top"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a4e4eb9-1481-e2ae-3922-26799d2e6dbd
* Version Independent ID: 4ac739fa-45fc-651e-4c3e-fa7794165

[2019-02-02 07:29] daviddetweiler opened #1440 "Is this properly supported in XAML Designer?"
A simple project done exactly as described in the documentation, when MainPage.xaml is viewed in either the designer or Blend, BgLabelControl is shown as a white box, with error message "Type BgLabelControlApp.BgLabelControl cannot be created in XAML". Project successfully compiles and runs as expected, on the other hand (Replicated in both VS2017 and VS2019).

---
#### Document Details

⚠ *Do not

[2019-02-02 08:27] IgorX2 commented on #1426
@EddieLotter Yes, it does. However, I have found that moving the destructor logic to the Suspend method circumvents the problem. However, if the MIDI device is disconnected during app's execution, the problem occurs regardless of the workaround.

The MIDI device is M-Audio 88es Keyboard and the sound card is M-Audio FastTrack.

[2019-02-02 08:27] IgorX2 commented on #892
@EddieLotter I have found that moving the destructor logic to the Suspend method circumvents the problem. However, if the MIDI device is disconnected during app's execution, the problem occurs regardless of the workaround.

The MIDI device is M-Audio 88es Keyboard and the sound card is M-Audio FastTrack.

[2019-02-02 11:38] AdultChain opened #1441 "testing"
i SHOUDL SLEEP BUT NAAAAH

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6012862f-de3d-cff6-72e1-f2ea8a5db7a4
* Version Independent ID: c1fcafa1-7c75-9e83-de77-3f54f89a24da
* Content: [Enhance your desktop application for Windows 10 - Windows UWP applications](https://docs.microsoft.com/en-ca/windows/uwp/porting/deskto

[2019-02-02 11:57] seanocali opened #1442 "ColorSchemeResources"
"ColorSchemeResources is not supported in a Windows Universal project." Using 1809.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 181b91e8-b61c-f32b-f59c-332db130d207
* Version Independent ID: ec8195d3-5847-e003-c8ef-bc3a6dfe069f
* Content: [Color in UWP apps - Windows UWP applications](https://docs.microsoft.com/en-u

[2019-02-02 13:45] Heidelberger opened #1443 "Bad Link "Fast Property Access Walkthrough""
Under "See Also", the document link "Fast Property Access Walkthrough" doesn't work.  It's currently pointed at:

https://blogs.msdn.microsoft.com/adamdwilson/2017/12/20/fast-file-enumeration-with-partially-initialized-storagefiles/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b97057aa-f404-82d3-8178-8cb3af6835a0
* V

[2019-02-02 18:33] daviddetweiler commented on #1440
Nevermind, problem was resolved by moving the custom control to a separate C++/WinRT component project.

[2019-02-02 18:33] #1440 closed, assigned to stevewhims

[2019-02-02 21:14] emoacht opened #1444 "Examples mixed up"
I think the example code for 'Start your application by using an alias' is mixed up with that for 'Start your application by using a protocol'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2aabbe47-4bb3-89e1-8874-e2157b1d9bfe
* Version Independent ID: 2fcd4f91-6694-e348-2b78-d5d38da81c81
* Content: [Integrate your ap

[2019-02-02 21:34] IgorX2 commented on #1424
@oldnewthing You need to connect an external MIDI device (like a MIDI keyboard). It won't hang with the virtual instrument.

[2019-02-02 21:35] IgorX2 commented on #1424
@oldnewthing You need to connect a physical MIDI device (like a MIDI keyboard) to reproduce this.

[2019-02-03 00:59] ghost opened #1445 "Windows system bug"
I was trying to help Microsoft but it was difficult, I need to install a lot of software and configure it as well. and I found out that id like to send a screen shot here but theres no option yet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 443bc235-c1bd-4f01-f758-14575db6dbb6
* Version Independent ID: 9b2b7af4-870a

[2019-02-03 07:59] Varun9198 opened #1446 "Regarding Windows.Media.Playlist"
No class like Playlist is found. Do we need to add some api? If so, how to do it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ca0819b-1bb1-d0f1-4ca3-3796afee158e
* Version Independent ID: 93929324-b162-6e88-b885-afd3b17215d7
* Content: [Get UWP app samples - Windows UWP applications](https://docs.microsoft.com/en-u

[2019-02-03 09:39] I-B-B opened #1447 "Document cannot be downloaded as PDF."
Here is a link to the attempt to download this as a pdf: https://opdhsblobprod02.blob.core.windows.net/contents/a39839aac94c42a38eee8ee304bde8c6/d98c1dd4008f04b2e9800998ecf8427e?sv=2015-04-05&sr=b&sig=hwbZPkMA1e3K2KIq03A%2FoXArL7Aq4ni7uxXjtF3wmRk%3D&st=2019-02-03T09%3A28%3A05Z&se=2019-02-04T09%3A38%3A05Z&sp=r

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-02-04 14:31] MichaelLHerman opened #1448 "Ambiguous version availability"
Remove "Starting with the next major update to Windows 10..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55e6de74-ed8f-c579-9f87-766a06efe057
* Version Independent ID: 543f6a62-4700-0774-8112-b288ffe7550b
* Content: [Functions in x:Bind - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/data-b

[2019-02-05 01:59] Dowscope opened #1450 "Async assumed"
While going through the step by step of this document. It was assumed (I believe) that you would be using a StorageFile in a async method.  Well when I did it the await command wasn't working for me until I made it an async method.  But it took a while to figure this out since it wasn't written in the steps.  If you double click on a button it doesn't generate the async method, you need to put it

[2019-02-05 16:57] Quico20 opened #1452 "Multiple Providers authentication a single userId?"
I'm trying to find out a way to create custom authentication using multiple authentication providers but with a single userid?? Could you please be so kind to point me in the right direction to achieve this goal?? what could be the best practices to achieve this?? I'm trying to do this with UWP and Azure??

So far i have been able to configure Authentication providers for facebook, microsoft, twit

[2019-02-05 19:07] ginami commented on #1450
Hi @Dowscope -- thank you for your feedback! Which doc are you referring to? When I have the URL I will assign this to the relevant doc author. Thanks!

[2019-02-05 21:36] mhopkins-msft commented on #1445
Hi TakanoriShimada,

Thank you for reaching out to the Microsoft developer documentation team. This mechanism is intended for feedback about the documentation. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the documentation.

I can tell you that the engineering team is aware of this issue and is currently testing a fix.

For

[2019-02-05 21:36] #1445 closed, assigned to mhopkins-msft

[2019-02-05 23:55] QuinnRadich commented on #1446
I don't see Playlist mentioned on this page. Is this an issue with the page itself, or with one of the samples you downloaded?

[2019-02-06 02:50] mijacobs commented on #1439
Thanks--I just checked in an update.

[2019-02-06 02:50] #1439 closed, assigned to mijacobs

[2019-02-06 04:50] nokola commented on #1439
Awesome, thank you!

[2019-02-06 14:32] sp-miguel-ibero opened #1453 "Cannot change payout account"
Hi, when creating an Add-on I get the message "You need to update your tax and payout information before you can charge money." And in "Finantial Details" I see the "Payout Account" option but I cannot change it although I have the correct permissions. What should I do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec

[2019-02-06 17:17] kikisaints commented on #1442
Hi @seanocali - that's because the official API name that we shipped with was Color**Palette**Resources. I recently made a [PR to change that](https://github.com/MicrosoftDocs/windows-uwp/pull/1429). Sorry about the confusion!

Also, please note that ColorPaletteResources is not in WinUI, so if you are using that nuget, you will not be access it there yet.

[2019-02-06 17:33] marioelenajr opened #1454 "ToastGenericAppLogo as SVG"
Can the AppLogo be an SVG?
I tried with a http://..../.svg but it didn't render my logo. The size of my svg is &lt;7KB.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b559cf6d-7bd0-9e1a-8ab0-a389b01a20d8
* Version Independent ID: 7e9df100-79bc-20f5-a193-3194328b28bc
* Content: [Toast content - Windows UWP appl

[2019-02-06 21:31] mcleanbyron commented on #1447
Thanks for reporting this issue. This is a known issue that is affecting the entire UWP docs site and we are investigating.

[2019-02-06 21:57] mcleanbyron commented on #1443
Thanks for submitting this feedback. Unfortunately, the blog article that this link pointed to no longer exists. I have removed this link from the latest version of the article, and this fix should be published to the live site in the next day or two.

[2019-02-06 21:57] #1443 closed, assigned to mcleanbyron

[2019-02-06 21:58] mcleanbyron commented on #1448
Thanks for submitting this feedback. I have removed the "Starting with the next major update to Windows 10" text from the latest version of the article, and this fix should be published to the live site in the next day or two.

[2019-02-06 21:58] #1448 closed, assigned to mcleanbyron

[2019-02-06 22:50] lauradolan commented on #1453
For help with this please open a support case at http://aka.ms/storesupport under "Contact Us". Thanks!

[2019-02-06 23:37] #1453 closed, assigned to lauradolan

[2019-02-07 11:29] WeberPJ opened #1456 "Design question..."
Why would any software development manager ever allow their people to develop applications that are dependant on specific versions of an os when there is no guarantee that users of said software will be running that version? Am I the only one that sees this as problematic?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-02-08 00:40] francisco-chavez opened #1457 "Out of Date"
It's 2019 and VS 2017 has been out there for a while now. Not to mention that some of the updates to VS 2017 have removed some of the project templates, like the ones used by tutorials for building DirectX 12 desktop applications.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52f6e4af-3499-d7ca-90ae-a36c539f7116
* Ver

[2019-02-08 16:37] reutann opened #1458 "Link has been broken for months"
Something has regressed with Partner Center; https://partner.microsoft.com/xboxconfig/devices is no longer a valid link and redirects to the partner center homepage and there is no way to activate the xbox there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc064e49-5f24-ff80-d511-7f1947fc39da
* Version Independent I

[2019-02-08 21:15] ginami commented on #1450
Hi @Dowscope -- I'm going to close this issue. If you have the URL of the doc in question, go ahead and reopen and add the info. Thanks!

[2019-02-08 21:15] #1450 closed, assigned to nobody

[2019-02-09 09:39] thaimacao887 opened #1459 "http://manvip.club"
dailyso1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2099ff76-43d5-98fd-d8bc-66ccdc14c4fe
* Version Independent ID: 1c3f3863-5413-d58b-a0e5-81a6da6bccf2
* Content: [Account types, locations, and fees - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/publish/account-types-locations-and-fees#fee

[2019-02-10 02:37] AngelMunoz opened #1460 "Compatibility Matrix"
&gt;tldr; Is there a compatibility matrix for `.net standard/.net core/winmd` I could not find it in the widndows runtime component docs

Hello everyone, I am currently trying to create a windows runtime component in C# for it to be consumed in a JS UWP app, I want to experiment a little bit  on reasons why should one chose `JS UWP` App over `Electron` based apps; One of the strong points to that

[2019-02-10 21:38] KingFraud opened #1461 "The Account tool is Crashing"
it crashes after 50 request My Gamertag is Gt: Fraud  and Captain we are good at Dbox we love xbox please fix this issue

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35971a80-8b95-9201-2133-bfa4e4cddeca
* Version Independent ID: 2e574f12-313c-b28d-863d-46d3054a27de
* Content: [Xbox Live Account Tool - Windows UWP app

[2019-02-11 11:48] ghost commented on #1407
In the treeView create event PreviewKeyDown="TreeView_PreviewKeyDown"

        private void TreeView_PreviewKeyDown(object sender, KeyRoutedEventArgs e)
        {
            e.Handled = true;
        }

This will do the trick.

[2019-02-11 17:14] timhirrel opened #1462 "Create Package, precompiled header files"
Using vc17  i have created a project that doesn't use precompiled headers. The project compiles and executes successfully, But when i try create a store app package the build process fails with the message

"unexpected end of file while looking for precompiled header. did you forget to add #include stdafx.h to your source?"

no, i didn't forget to add it. i don't use precompliled headers  but the

[2019-02-11 17:36] mcleanbyron commented on #1462
Hi @timhirrel - Unfortunately, this docs repo is not a support channel. Please see [this page](https://developer.microsoft.com/en-us/windows/support) for your support options. You might also try the following resources:
* Our [MSIX and packaging](https://techcommunity.microsoft.com/t5/MSIX/ct-p/MSIX) forums.
* Our [general Windows development forums](https://social.msdn.microsoft.com/Forums/en-US/

[2019-02-11 17:36] #1462 closed, assigned to mcleanbyron

[2019-02-11 17:54] EddieLotter commented on #1197
See [this blog post](https://blogs.windows.com/buildingapps/2017/01/25/calling-windows-10-apis-desktop-application/).

[2019-02-11 19:18] jawilkins opened #1463 "Not Windows Insider, Still get 0x800f0950 CBS_E_INVALID_WINDOWS_UPDATE_COUNT"
2019-02-11 12:51:46, Info                  CBS    Session: 30720570_3599291044 initialized by client DeveloperModeFodInstaller, external staging directory: (null), external registry directory: (null
2019-02-11 12:51:46, Info                  CBS    Session: 30720570_3601481872 initialized by client FodHelper(DeveloperModeFodInstaller), external staging directory: (null), external registry director

[2019-02-11 20:03] bartlannoeye commented on #1166
Link works, issue can be closed?

[2019-02-11 20:13] bartlannoeye commented on #955
Duplicate of #1439, can be closed.

[2019-02-11 21:44] #955 closed, assigned to mijacobs

[2019-02-11 23:25] stevewhims commented on #1460
Hi, @AngelMunoz, this topic is the only one I'm aware of along those lines: [.NET for UWP apps](https://msdn.microsoft.com/library/windows/apps/mt185501.aspx). Whether you're writing a standalone UWP app, or a Windows Runtime Component (WRC), you have the same .NET surface available; assuming that you're writing in C# or Visual Basic. For a WRC, you can consume .NET from within that component (if

[2019-02-11 23:56] pozirk opened #1465 "Microsoft Ads, interstitial requestAd crash"
Hello!
Changing `MicrosoftNSJS.Advertising.InterstitialAdType.video` to `MicrosoftNSJS.Advertising.InterstitialAdType.display` cause app to crash on requestAd.
Video ads are working fine.
Screenshot from VS debug.
![msads_display_crash](https://user-images.githubusercontent.com/1659590/52601846-499e5f80-2e2e-11e9-8143-09657efffdb0.jpg)

Any fix for that?
Thank you!

---
#### Document Details

⚠ *D

[2019-02-12 00:12] jakehockey10 commented on #1197
Thanks for sharing. I've seen this article and it unfortunately did not help

[2019-02-12 06:08] AngelMunoz commented on #1460
The docs are actually very good in creating/consuming the WRC, my doubts are more along on what limitations do I have on that WRC, does any .net code is compatible with it and then with my UWP App?
I'll kind of think along this line; I could reference a `.net standard` (or perhaps `net. core` too?) library in my WRC build my classes API surface and then reference that WRC in my App and it should w

[2019-02-12 06:08] arqlz commented on #1407
No, if you do that none other component will receive the keypress event... I need to handle it on a sub element.

example

[code]

[2019-02-12 13:57] dhssingle opened #1466 "Typo errors occur when the website language is not English"
Many pages have this problem.
e.g.
[design-and-ui-intro](https://docs.microsoft.com/zh-cn/windows/uwp/design/basics/design-and-ui-intro)
![20190212214553](https://user-images.githubusercontent.com/3339298/52640223-f6e9a400-2f10-11e9-9290-1be35e54e6a4.png)

[2019-02-12 14:37] lindexi opened #1467 "I can not connect the SurefaceHub for I can not connect the IP"
The SurefaceHub is in the other office that is not in the same LAN as me. How can I debug it with VisualStudio?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd496c1-48b8-8126-ab55-d24134fecbd4
* Version Independent ID: 0995fa01-b30b-3c58-5f11-49c07612ef55
* Content: [Test Surface Hub apps using Visual Studio - Windo

[2019-02-12 18:22] lauradolan commented on #1459
Please let us know if you have specific feedback for our documentation.

[2019-02-12 18:22] #1459 closed, assigned to lauradolan

[2019-02-12 19:30] jhwheuer opened #1468 "Would be nice to mention"
It would be nice to mention in this docu that these methods need to be called from the UI thread...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a23212d2-fccf-06d2-622c-544c333e6c57
* Version Independent ID: a258d712-d2d4-bdec-a77e-8a08b1031d0a
* Content: [Badge notifications for UWP apps - Windows UWP applications](

[2019-02-12 20:02] mhopkins-msft commented on #1465
Thank you for reaching out to the Microsoft developer documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the documentation.

You may have success posting your question in the [Windows developer forums](https://social.msdn.microsoft.com/Forums/windowsapps/home?forum=windowsstore%2Cwpsubmit%2Cwppayout%2Cwpdcapp%

[2019-02-12 20:02] #1465 closed, assigned to mhopkins-msft

[2019-02-12 20:04] linhnddev opened #1469 "Settings Item is auto invoked when MenuItemsSource changed"
SDK 17763

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 745ab6c5-cfbe-a56f-dccd-ab55123f9223
* Version Independent ID: 54455a9f-a92f-e462-558d-78fb696dba8c
* Content: [Navigation view - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/navigationview)
* Content Source:

[2019-02-12 23:47] #1366 closed, assigned to eliotcowley

[2019-02-12 23:53] stevewhims commented on #1460
As I understand it, by consuming .NET from within your WRC, you're creating a dependency on that version of .NET. So, your WRC will be able to load and execute on any system that has that version of .NET installed (in fact, I believe there are ways of packaging that dependency up, so it travels along with the WRC). As far as the application that consumes the WRC is concerned, it will be consuming

[2019-02-13 03:38] Quico20 opened #1470 "RadioButton Template Issue on Windows Phone"
whenever I try to modify ControlTemplate within the Template property of a radiobutton it thrown a Xaml break error, but this only happens when I try to debug using a Windows Phone OS, a real device I'm using a Lumia 950 XL to debug on a WP enviroment.
But if I debug on a x86 or x64 my app works fine. this issue should be solve, It cant be possible that trying to change the control view throw a cr

[2019-02-13 12:02] VaslD opened #1471 "Simplified Chinese Localization for Japanese Era Change"
It's sad to see articles in Globalization section stay untranslated.

I came across this article regarding the upcoming Japanese Era change on May 1. Since even machine translation isn't available, I thought I'd do a (Simplified Chinese)[https://gist.github.com/VaslD/a31e60de4d1c8c80ab400e82c89bf273] translation. I made sure all translated menus/controls match what will be shown on a computer with

[2019-02-13 14:12] MatthewSteeples opened #1472 "Store Restriction still applicable?"
Does use of these APIs still preclude submitting the app to the Windows Store? It looks like it's been lifted in some circumstances - https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/9950598-exclude-suspending-in-desktop

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f08a1cd-54da-9647-5

[2019-02-13 16:36] kEph13 commented on #1066
I'm not sure if I'm seeing the same "only once" bug as others, but here's my experience:
-I copied the files over to the target machine (running 1809 LTSC) and installed, with the update setting on "check on boot"
-I put a new version on the web server, and it updated properly
-I put another new version on the web server (with no code changes but the version, and with the update setting changed to

[2019-02-13 18:53] eliotcowley commented on #1471
Hi @VaslD, thank you for pointing this out, and for your work translating the document. This is very strange, as we actually got this localized into 10 different languages (including zh-cn) but for some reason, it's not showing up. I'll follow up and get back to you.

[2019-02-13 20:51] Karl-Bridge-Microsoft commented on #1430
hi @jsmcneal : topic has been updated with a new snippet.

[2019-02-13 20:51] #1430 closed, assigned to Karl-Bridge-Microsoft

[2019-02-13 21:12] Karl-Bridge-Microsoft commented on #1353
Thanks @michael-hawker - snippet has been fixed.

[2019-02-13 21:12] #1353 closed, assigned to Karl-Bridge-Microsoft

[2019-02-13 21:48] mhmd-azeez commented on #1066
I have created a nuget package to have more control over the update process: https://github.com/dwrandaz/AutoUpdateComponent

[2019-02-13 22:13] Evanjt1 opened #1474 "IAP add-on gross sales"
Is there any way to pull gross sales in USD like is available on the Partner Center analytics dashboard? I've been all through the docs trying to find an officially supported way to grab sales data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a16c3ca-9b6d-74ba-48ac-79d8257644ba
* Version Independent ID: 595e593b-5e

[2019-02-14 00:54] jevansAN opened #1475 "FIle name?"
In the C++/winrt example of a simple POST of binary data, there is no file name, so it's not clear to me where this sample data is going  - isn't it necessary to specify a destination for the data? How would one add a path to this example, so that the data being POSTed replaces the contents of a specified file at the server? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2019-02-14 18:17] michael-hawker opened #1476 "How to add accelerator keys to menus?"
It'd be nice if the example showed how to do accelerator keys like Ctrl+N for the New menuitem in the example, or how to specify which letter in the Title becomes underlined for 'Alt' key usage for quick access to the menubar items when using keyboard navigation with alt.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-02-14 18:19] michael-hawker commented on #1476
@stmoy are these supported scenarios like what we had in the toolkit? (Having alt accelerators for titles and keyboard shortcuts for specific commands?)

[2019-02-14 18:31] stmoy commented on #1476
This should be well supported using Keyboard Accelerators. https://docs.microsoft.com/en-us/windows/uwp/design/input/keyboard-accelerators

[2019-02-14 18:32] jevansAN commented on #1475
Talking to someone about this I've come to understand that the script receiving the query will do the work of creating the file, etc. - so all I need is a standard way to specify that path in the header for this content. Perhaps there is no way to do that with HttpBufferContent.

[2019-02-14 18:37] eliotcowley commented on #1471
Hi @VaslD, we've published the document's localized versions, [including zh-cn](https://docs.microsoft.com/zh-cn/windows/uwp/design/globalizing/japanese-era-change), so please take a look. Thanks!

[2019-02-14 18:37] #1471 closed, assigned to eliotcowley, Karl-Bridge-Microsoft

[2019-02-14 19:02] lukasf commented on #1476
In the toolkit, it was possible to use a string like "^File" as string to get the "F" underlined in the menu and have it become hotkey automatically, like it was in WinForms or WPF menu.

Does the same functionality work in the MenuBar?

[2019-02-14 19:14] michael-hawker commented on #1476
@lukasf the toolkit ^ shortcut doesn't work, but you can set the `AccessKey` property to specify which key is used to access the menu with Alt.

[code]

@stmoy thanks for the link, it'd be good if we could add that to this article.

[2019-02-14 21:20] lukasf commented on #1476
@michael-hawker Thank you for the clarification.

[2019-02-14 22:44] wdamien opened #1477 "Typo on page"
System.Devices.AeoService.ServiceId should be System.Devices.AepService.ServiceId

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6d20d19-5090-6534-2ffd-3d4b60fbc208
* Version Independent ID: 8918c513-8df0-53df-cee5-81abeb61228a
* Content: [Device information properties - Windows UWP applications](https://docs.microsof

[2019-02-14 23:42] stevewhims commented on #1475
I've updated the code here (it's live now). And I've added more thoughts (related to this question) to the other issue (https://github.com/MicrosoftDocs/winrt-api/issues/907). But, yeah, it probably boils down to how you specify that filename directive, and what path (if any) is meant to go in there. I'll close this, and we'll continue working on the other issue thread.

[2019-02-14 23:43] #1475 closed, assigned to stevewhims

[2019-02-15 18:41] mhopkins-msft commented on #1474
Thank you for reaching out to the Microsoft developer documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the documentation.

You may have success posting your question in the [Windows developer forums](https://social.msdn.microsoft.com/Forums/windowsapps/home?forum=windowsstore%2Cwpsubmit%2Cwppayout%2Cwpdcapp%

[2019-02-15 18:41] #1474 closed, assigned to mhopkins-msft

[2019-02-15 18:58] bartlannoeye commented on #524
Both URIs are in the documentation and working, this issue can be closed.

[2019-02-15 20:02] hickeys commented on #1441
Excellent feedback, but I don't see anything actionable so I'm going to have to close this issue.

[2019-02-15 20:02] #1441 closed, assigned to hickeys

[2019-02-15 20:47] belveder79 opened #1481 "Screen Capture - Graphicscapture giving me WinRT originate errors"
I'm following the discussions on Screen Capture for about 9 months now, but I did not find a solution for my problem yet - @eliotcowley hope you read this ;-)

So the point is I wrote a library that does screen capture with standard c# and additionally uses SharpDX to manipulate the D3D11 textures and ultimately write an MP4 files (leveraging Mediafoundation on C++ with Interop). It works well, mo

[2019-02-15 22:03] #850 closed, assigned to mcleanbyron

[2019-02-16 01:16] amartens181 opened #1482 "No Information on Binding"
If I want to bind formatted text in a listview, how would I do that? Is there a way to make textblock binding interpret bolds? Xamarin has the FormattedText property, but I don't see that here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32e59674-1a32-a0b7-41f7-b1157ff263e9
* Version Independent ID: 64ae3898-2f10-d2

[2019-02-16 01:51] ginami commented on #1481
Hi @belveder79 -- thanks for taking the time to provide feedback! This issue list is specifically for docs feedback. If you're raising a more general issue, I'd recommend posting to our community forums or Stack Overflow, both linked from our support page: https://developer.microsoft.com/en-us/windows/support.
If this is related to a specific doc, please give me the URL and I'll route to the corre

[2019-02-16 12:02] Romans-I-XVI opened #1483 "Needs More Troubleshooting Info"
The documentation just says "the modal is run through a few checks" and that if any of these checks fail you may get a "Sorry, there was an issue adding your email address". That is not enough information to be useful, I am getting this error and it's not a problem with my Xbox Live account as I can log in to it just fine and have tried with multiple accounts always getting the same error.

---
##

[2019-02-16 18:14] gorrilla10101 opened #1484 "Missing gameover link"
Throughout the entire article when new content is needed there is a convenient link to use. The only exception to this is the game over link. You have to use one of the other links, go up a directory to all of the images and then download the game-over.png

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aaf08ef8-fe17-22

[2019-02-16 20:57] ashwinjam opened #1486 "App_id for another app"
How's app_id retrieved for another app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24460ebf-4e79-a810-457f-538462186a0a
* Version Independent ID: 062493b6-0b9b-a8d9-7466-878a381be604
* Content: [App metadata API for advertising networks - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/moneti

[2019-02-16 21:01] bartlannoeye commented on #629
Fixed by 0ba09cc96a137cef54370455a2e3ce2ee5e3a290, can be closed.

[2019-02-18 12:46] jatinmishra commented on #1164
Hi shreyagupta995, were you able to solve the above issue? My requirement was something similar, if you were able to worked something up, please share. It would be great.

Also, folks from Microsoft (eliotcowley), your help regarding this issue will be greatly appreciated.

Thanks.

[2019-02-18 13:28] eschneider999 opened #1487 "THis does not work"
I get the following error:
Error	BC30451	'StoreContext' is not declared. It may be inaccessible due to its protection level.	ProcessManager	D:\Dev\FrozenElephant\ProcessManager\ProcessManager\FormProcessManager.vb	14	Active

And I do have:
Imports Windows.Services.Store

and a reference to nuget: Microsft.Services.Store.SDK

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-02-18 14:45] toredk commented on #1409
I have tried to replace the ico file in the wix code - even with a icon containing the square Microsoft logo there will be added a blue background or edge.

The UWP examples from https://github.com/WindowsNotifications/ does not do the same so maybe this is a bug/limitation of the win32 implementation.

Any suggestions on how to work around this would be greatly appreciated as this looks quite unp

[2019-02-18 14:51] AlKau opened #1488 "NavigationView doesn't respond if NavigationCacheMode is Enabled"
SDK target 17763; min 17134;
PC: Win10 1809

Code Sample:
XAML:
[code]
C#:
[code]
When Page3 calls "Frame.GoBack();", MainPage is loaded and NavigationView doesn't respond.

[code]

I can't reproduce it on PC: Win10 1803 or NavigationCacheMode="Disabled"
full project: https://github.com/AlKau/UWP-Samples/tree/master/NavigationViewBug

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-02-18 16:55] AwsomeCode opened #1489 "Rewards Based ads"
There is no example for Rewards Based ads & Unable to find API's for that as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49737ba9-1774-88fe-091d-e6a1e520290d
* Version Independent ID: 3125052c-9279-2d13-eb51-fda45883fe4f
* Content: [Interstitial ads - Windows UWP applications](https://docs.microsoft.com/en-us/

[2019-02-18 20:21] hansmbakker commented on #671
@ginami @PatrickFarley @jillre @mcleblanc @msatranjr could you please give an update on how things stand? I see you had activity here several times; is there a chance this subject will be documented on Microsoft Docs?

[2019-02-18 21:16] #629 closed, assigned to mtoepke

[2019-02-19 08:51] toredk commented on #1412
Thank you. I'll just use Environment unless I find a reason not to.

[2019-02-19 17:36] LivingInfinite opened #1490 "Dead link"
The "FireGiant Appx extension" link (https://www.firegiant.com/products/wix-expansion-pack/appx) 502s

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 703719e7-1097-544a-1bb1-9007d2ca057c
* Version Independent ID: 36eac807-73ee-f3b8-b982-10865036be53
* Content: [Package desktop applications - Windows UWP applications](ht

[2019-02-19 17:41] andrewleader commented on #1409
Thanks @toredk for reaching out. We're having the dev team investigate whether there's any supported path for classic Win32 apps to have a transparent logo background.

[2019-02-19 18:37] ginami commented on #1481
Hi @belveder79 -- let us know if you have some doc-specific feedback. And if this issue does related to a specific doc that needs some additional information, please re-open and let me know the URL. Thank you!

[2019-02-19 18:37] #1481 closed, assigned to nobody

[2019-02-19 19:50] michael-hawker opened #1491 "Incorrect Example"
To get this to function properly the complete example should be shown as the location of the VSM matters based on the rest of the tree:

[code]

I added a `ScrollViewer` too, as otherwise on narrow display the bottom boxes can be chopped and unreachable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 80b47dbb-38b5-9d75

[2019-02-19 19:52] michael-hawker commented on #1491
Also, looks like you have a bug in the GitHub integration with the docs page, when you submit an issue there with XAML it converts all the </> to be escaped. :(

I had to come back here to edit it and repaste the XAML

[2019-02-19 20:19] #1484 closed, assigned to QuinnRadich

[2019-02-19 23:17] andrewleader commented on #1409
Hey @toredk, I confirmed with the devs that removing the icon backplate isn't supported for classic Win32 apps. You can upgrade to using the [Desktop Bridge](https://docs.microsoft.com/en-us/windows/uwp/porting/desktop-to-uwp-root), which will allow you to have full functionality over the app logo and removing the backplate. Let us know if you need help with that.

The team will also consider addi

[2019-02-20 01:28] FormlessOne opened #1493 "Generated Markdown table errors throughout"
The Markdown tables generated for various sections, including **Request**, **URI parameters**, and **Status code**, aren't rendering correctly if one or more rows exist for most of the topics I checked. The [/ext/screenshot](https://docs.microsoft.com/en-us/windows/uwp/xbox-apps/wdp-media-capture-api) topic is a good example.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-02-20 01:31] MaxwellDPS commented on #1010
Its still broken

[2019-02-20 02:36] mtoepke commented on #1010
The https://partner.microsoft.com/en-us/xboxconfig/devices link is the correct link and should be working.  Make sure you are logged into Partner Center with a valid, registered app developer account.

Here are some more detailed steps (particularly Step 6, to verify you are logged in with the correct account type):

5.	[Register an app developer account in Partner Center](https://developer.micros

[2019-02-20 02:45] mtoepke commented on #1458
Thanks for your report.

The https://partner.microsoft.com/en-us/xboxconfig/devices link is the correct link and should be working. Make sure you are logged into Partner Center with a valid, registered app developer account.

Here are some more detailed steps we've added to the docs (particularly Step 6, to verify you are logged in with the correct account type):

5.	[Register an app developer acc

[2019-02-20 02:45] mtoepke commented on #1363
Thanks for your report.

The https://partner.microsoft.com/en-us/xboxconfig/devices link is the correct link and should be working. Make sure you are logged into Partner Center with a valid, registered app developer account.

Here are some more detailed steps we've added to the docs (particularly Step 6, to verify you are logged in with the correct account type):

5. [Register an app developer acc

[2019-02-20 02:46] mtoepke commented on #1089
Thanks for your report.

The https://partner.microsoft.com/en-us/xboxconfig/devices link is the correct link and should be working. Make sure you are logged into Partner Center with a valid, registered app developer account.

Here are some more detailed steps we've added to the docs (particularly Step 6, to verify you are logged in with the correct account type):

5. [Register an app developer acc

[2019-02-20 14:27] Mehigh17 opened #1494 "Link for "Guidelines for tabs and pivots" is broken"
404 when trying to access the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be10565a-f999-569f-3314-f1691cfa3d6f
* Version Independent ID: 3e862b52-b135-e9af-5c13-424002f038d8
* Content: [Peer-to-peer navigation between two pages - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/design/bas

[2019-02-20 14:46] deandredublin commented on #1089
It's not working, it gives me a loop when I try to go to the next page of
registration.

On Tue, Feb 19, 2019 at 9:46 PM Michael <notifications@github.com> wrote:

[2019-02-21 16:19] toredk commented on #1431
Works perfectly, thank you.

[2019-02-21 16:33] toredk commented on #1409
Unfortunately, the application does share values with our main application through the registry and ProgramData, so it is not a possibility to use the Desktop Bridge. I would think that we are not the only ones out there that has a legacy application (for us it is not even legacy) that wants to take advantage of the toast notifications.

Before implementing the Toasts notifications (and for Window

[2019-02-21 16:55] #1477 closed, assigned to eliotcowley

[2019-02-21 17:00] #1185 closed, assigned to msatranjr

[2019-02-21 17:39] andrewleader commented on #1409
Thanks for letting us know that Desktop Bridge isn't an option for you! We're definitely considering improving the support for legacy classic Win32 apps; we simply don't have any timeline to share (but we realize it's important). We've added you to the list of consumers of this.

And as for it being possible somehow... through the toast notification framework, it's not possible today (new function

[2019-02-21 18:24] GeertvanHorrik opened #1495 "No error codes listed"
After a submission failure, I was pointed to this document where I could find more information about error code 1201. Unfortunately I could not find anything here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b0973c3-07c3-882e-46be-783dc13e575f
* Version Independent ID: 6877aae0-2aab-46f7-dd3a-16dd7d3bf842
* Content

[2019-02-21 19:48] lauradolan commented on #1495
This error can occur for a number of reasons. Please take a look at the **Known Issues** section of [.NET Native Internal Compiler Errors](https://go.microsoft.com/fwlink/p/?LinkID=613098). If that doesn’t help, you can contact dotnetnative@microsoft.com for help troubleshooting.

[2019-02-21 19:48] #1495 closed, assigned to lauradolan

[2019-02-21 21:23] #1490 closed, assigned to hickeys

[2019-02-22 00:20] Micro-Muncher opened #1496 "delayInSeconds ignored"
I've added the screenshot URI for snip - but it seems delayInSeconds is completely ignored.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c40df19b-d384-1d57-eb09-294b95952e65
* Version Independent ID: 112048ff-91e3-bd87-351d-4d1354731943
* Content: [Launch screen snipping - Windows UWP applications](https://docs.micro

[2019-02-22 16:11] plexus-design opened #1497 "Sketchapp symbols library missing"
The sketch toolkit does not include the symbols library. How does one get access to this?

[2019-02-22 17:46] bindusadu commented on #1002
@WilliamsJason So sorry for late reply, got busy with another project. Sending { 0x01, 0xC4, 0x01 } followed by ClearAll worked for gamepad B. I noticed that this behaves differently for different applications on Xbox. Thank you so much for you help!

[2019-02-22 17:52] anhoavu opened #1498 "What about Platform::Array?"
How do I port Platform::Array to C++/WinRT?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93d6decd-f437-6bf3-1f32-60cbcd2d0016
* Version Independent ID: bfbcfa81-2172-1a97-0e67-40d22f5e8b50
* Content: [Move to C++/WinRT from C++/CX - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-

[2019-02-22 18:17] YuliKl commented on #1488
@AlKau - I'm sorry to hear you're encountering this problem. As this is an issue in code and not in documentation, can you please re-open this issue in the [microsoft-ui-xaml GitHub](https://github.com/Microsoft/microsoft-ui-xaml) repo using the [bug template](https://github.com/Microsoft/microsoft-ui-xaml/issues/new/choose)? This will give our engineers an opportunity to dig into and debug the pr

[2019-02-22 19:26] mcleanbyron commented on #1447
This issue should now be fixed. Please reopen if you still see the problem. Thanks!

[2019-02-22 19:26] #1447 closed, assigned to mcleanbyron

[2019-02-22 19:47] ginami commented on #1497
Hi @plexus-design -- thank you for your feedback! This list is specifically for doc issues--were you looking at a sketch toolkit doc? And if so, could you provide the URL? Thanks!

[2019-02-22 20:03] plexus-design commented on #1497
I am referring to the sketch toolkit that can be downloaded from here
https://docs.microsoft.com/en-us/windows/uwp/design/downloads/

I got to the github page from following the link at bottom of the above page

For reference
When the sketch app toolkit is opened - the symbols (referring to a sketch
app symbols library) is not linkedin or included in this download therefore
the toolkit cannot be f

[2019-02-22 20:19] ginami commented on #1497
Thanks--I will get this routed to the page owner!

[2019-02-22 20:21] plexus-design commented on #1497
Thanks Gina

Kind regards
Jenna Law
----------------------------------
+1 646 306 4482
+44 7771 78 21 79
www.plexusdesign.co.uk <http://bit.ly/PlexusDesign>

User Focussed. Experience Driven. Design Led
LinkedIn <http://bit.ly/JennaLaw-LinkedIn> | Behance
<http://bit.ly/JennaLaw-Behance> | Dribbble
<http://bit.ly/JennaLaw-Dribbble> | Twitter <http://bit.ly/JennaLaw-Twitter>
| Instagram <http://bit

[2019-02-22 21:42] mhopkins-msft commented on #1428
Docs have been updated. The engineering team says it is still cabId.

[2019-02-22 21:42] #1428 closed, assigned to hickeys

[2019-02-22 22:27] I-B-B commented on #1447
@mcleanbyron Thank you, I have managed a successful download of the document. (It is fixed).

[2019-02-23 00:01] stevewhims commented on #1498
Hi, @anhoavu, thanks for raising this issue. I've just made an update to the topic. You can see the new section here: https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/move-to-winrt-from-cx#port-platformarray. Please let me know if the topic needs additional info.

Thanks!
~Steve

[2019-02-23 07:31] ghost opened #1499 "Unclear implementation of App-Level back button"
I found difficulty implementing first 3 lines of code.
Where this first 3 lines of code goes.
see this link: https://www.c-sharpcorner.com/UploadFile/909697/everything-about-back-navigation-in-uwp/

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ab5201c-d8c8-1804-a225-4420f66d77ea
* Version Independent ID: 2d217eac-b2c

[2019-02-23 16:13] hutattedonmyarm opened #1500 "Unclear about templates"
This article is linked by the "Create data bindings" tutorial, but completely fails to show how one would add design time data in an UWP app with templates, like the PhotoLab example given in the UI tutorials

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51100eeb-4a55-5997-eee8-2ed0047be78f
* Version Independent ID: d

[2019-02-23 19:32] hutattedonmyarm opened #1501 "The sample code for 'private void ContactsListView_Loaded(object sender, RoutedEventArgs e)' is incorrect"
It calls "TryStartConnectedAnimationAsync" which doesn't work, because _Loaded is not an asynchronous method

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 322c828b-f3a8-9556-1900-37e4f3c3d35b
* Version Independent ID: 24d328ed-89d9-0a9a-f588-f5dbb519c0b8
* Content: [Connected animation - Windows UWP applications](http

[2019-02-25 12:54] stephan735 commented on #1020
Same here!  "No features to install".  System setup is Win10 with Visual Studio 2017. Trying to run the performance profiler with the GPU usage tool.

[2019-02-25 12:55] AlKau commented on #1488
It seems, it's been fixed (https://github.com/Microsoft/microsoft-ui-xaml/issues/18).

[2019-02-25 12:55] #1488 closed, assigned to YuliKl, jwmsft

[2019-02-25 15:52] DexterWoo commented on #1211
after RS3, these steps will fail.
however, if you switch the minwindows version to be 15063, it'll work again.
Not sure if that's a bug or something else.

[2019-02-25 21:21] mrjfalk commented on #685
@stevewhims I'm also experimenting with an app which would require using websockets in a background task, but I also get an runtime exception when using the MessageWebSocket with the ControlChannelTrigger: `"Exception from HRESULT: 0x80072F75"`. It occurs when connecting when I've done `controlChannelTrigger.UsingTransport(_socket);`, if I omit this line the websocket connection works fine (but of

[2019-02-25 21:39] mtoepke commented on #1020
Hi @LohanSolo and @stephan735 ,

Thanks for your question.  It looks like a few people have hit this issue; some Windows installs aren't showing those options (it's not specifically related to Graphics Tools).

Here are some solutions to try:
http://www.surfacetablethelp.com/2018/01/fix-no-features-to-install-optional-features-in-windows-10.html

https://answers.microsoft.com/en-us/windows/forum/w

[2019-02-25 21:39] #1020 closed, assigned to mtoepke

[2019-02-25 23:18] eliotcowley commented on #1253
Hi @kasperbalink, sorry for the late reply. Did you try following the directions in [the documentation](https://docs.microsoft.com/windows/uwp/debug-test-perf/windows-app-certification-kit-tests#appcontainercheck)&mdash;making sure you're using the latest compiler and linker (i.e. Visual Studio is up-to-date) and using the **/appcontainer** flag on the linker?

[2019-02-26 00:42] stevewhims commented on #1306
Hi, @KBarrDev, it looks like there's a typo in the code. I've just made a change to the code, which should be live today, but in the meantime, here's how the code should look. I'll leave this issue open, please let me know if you run into any other issues with it.

[code]

The function DX::ReadDataAsync, as you know, is a generic "read a binary file" function. It's used to read the compiled shader

[2019-02-26 00:57] anhoavu commented on #1498
@stevewhims Thank for the support, Steve. I am trying to see if `Platform::Array` is interoperable with `array_view` i.e. if an C++/WinRT `AppService` sends an `array_view` to an C++/CX client, would the latter be able to reassemble the data.

[2019-02-26 01:46] stevewhims commented on #1498
Yes, that sounds good. Let's say you declare this (using C++/CX):

[code]

Then that's projected into C++/WinRT like this:

[code]

So you can call it from C++/WinRT like this:

[code]

~Steve

[2019-02-26 01:51] stevewhims commented on #685
Thanks for the message, @mrjfalk, I'll try and find time to get to this issue soon. I have higher-pri tasks in my queue right now, but once I've cleared those I'll try to get back to investigating this and working on understanding the problems here, and possibly updating the sample code. ~Steve

[2019-02-26 10:46] jashif commented on #1289
We are facing a issue in sideloading app in our production environment. we have signed the app with enterprise trusted certificate. on each user login we run the script to install the appx. but for some users we are getting a error like below

Add-AppxPackage : Deployment failed with HRESULT: 0x80073CFF, To install this application you
need either a Windows developer license or a sideloading-enabl

[2019-02-26 11:07] jashif opened #1502 "UWP app sideloading issue in enterprise prod env"
We are facing a issue in sideloading app in our production environment. we have signed the app with enterprise trusted certificate. on each user login we run the script to install the appx. but for some users we are getting a error like below

Add-AppxPackage : Deployment failed with HRESULT: 0x80073CFF, To install this application you
need either a Windows developer license or a sideloading-enabl

[2019-02-26 12:40] toredk commented on #1431
Hmm, might not be working as perfect as I first observed. Sometimes I get an exception when retrieving settings from the ToastNotifier:

System.Exception: Element not found. (Exception from HRESULT: 0x80070490)
   at Windows.UI.Notifications.ToastNotifier.get_Setting()

Any idea why this happens?

[2019-02-26 13:39] marsukhongduoi commented on #694
Hi @dandresky, have you found a solution for this issue yet?

[2019-02-26 17:09] andrewleader commented on #1431
How often are you seeing that exception? Out of what percentage of attempts?

That exception indicates a platform failure, we've seen this exception before but it hasn't been high enough of an occurrence to investigate. So we're curious what percentage of your calls to that API are failing.

[2019-02-26 17:26] ginami commented on #1502
Hi @jashif -- I'm sorry you're experiencing this issue! This list is for doc-specific issues; I think your best bet would be to post this to one of the forums or Stack Overflow, both linked from our Support page: https://developer.microsoft.com/en-us/windows/support. Thank you.

[2019-02-26 22:10] mcleanbyron commented on #1289
Hi @jashif - Requests for technical troubleshooting and assistance are out of scope for this repo, which is specifically about feedback on the docs. I recommend that you ask your question on the [MSIX deployment forum](https://techcommunity.microsoft.com/t5/MSIX-Deployment/bd-p/MSIX-Deployment).

[2019-02-26 22:10] #1289 closed, assigned to mcleanbyron

[2019-02-26 22:15] mcleanbyron commented on #1502
You might also ask your question on the [MSIX deployment forum](https://techcommunity.microsoft.com/t5/MSIX-Deployment/bd-p/MSIX-Deployment).

[2019-02-26 22:15] #1502 closed, assigned to nobody

[2019-02-27 10:55] zersiax opened #1503 "Can't find the URI for the Sound Mixer Options"
I am trying to localize the URI for the settings page that lets you set input and output devices for any given app that is producing sound. You can find this page quickly by searching for "sound mixer options" in the start menu or Windows Settings searchbox.
Looking at this URI reference though, I can't find the direct URI for this particular subpage. Is this an omission or does it simply not exis

[2019-02-27 11:13] amirvenus commented on #478
I wonder why this is not mentioned in the official docs:

https://docs.microsoft.com/en-us/windows/uwp/files/file-access-permissions

[2019-02-27 18:59] SonOfJesseAsSnekithan opened #1504 "Accessing files using standard libraries in C++ UWP APp"
From C++ UWP app, some of the system files can be accessed by using standard library functions without declaring broadFileSystemAccess in the manifest file. Also WACK does not catch this as an error, "Supported API" test is passed.
Documentation does not mention about this.
 Is it ok to develop production code with accessing files in Windows folder by using standard library functions in C++ UWP Ap

[2019-02-27 21:11] toredk commented on #1431
I don't have much data as the feature has not been used that much yet. However, when I experienced it, it seemed to happen 100%. I parked the development for some days and then tried again on the same virtual machine and then got the positive result so I thought that minor mishap in my first implementation.

[2019-02-27 21:20] toredk commented on #1409
Please let me know if you need more information when you get to look at improving the support.

I am just a bit puzzled as our old implementation with NotifyIcon.ShowBalloonTip is not added a blue background when shown through Toast Notifications on Windows 10.

What is the purpose of the blue background?

[2019-02-27 22:04] andrewleader commented on #1409
The blue background is the user's selected theme color, which is expressed in the Start tiles, apps list, and other accent location (like the running indicator on taskbar)

![image](https://user-images.githubusercontent.com/13246069/53525973-e4867300-3a97-11e9-96e5-eefd75f5fc2f.png)

The user can pick any color though, like red, green, etc.

![image](https://user-images.githubusercontent.com/13246

[2019-02-27 23:23] eliotcowley commented on #1316
Thanks for catching this, @tjmullen2! The fix should be reflected in the live docs soon.

[2019-02-27 23:23] #1316 closed, assigned to eliotcowley

[2019-02-27 23:42] eliotcowley commented on #1325
Hi @BMarques, I think you're right, but I'm assigning @stevewhims to double-check me.

[2019-02-27 23:58] stevewhims commented on #1325
Yes, what I've found from experimentation is that on Windows 10 the methods of IFrameworkView are called in the order Initialize-SetWindow-Load-OnActivated-Run-Uninitialize. Calling CoreApplication::Run kicks off that lifycycle. So, yes, this topic could do with an edit there, I think.

~Steve

[2019-02-28 00:30] david-pratt commented on #891
This link doesn't work.

[2019-02-28 00:55] david-pratt opened #1505 "Activation app does not show the activation code"
The activation app opens and shows the welcome screen.  Click "Next" and the application exits and you're back to the home screen.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc064e49-5f24-ff80-d511-7f1947fc39da
* Version Independent ID: b8ad47c2-8264-c232-167f-b9ee69d6dce1
* Content: [Xbox One Developer Mode activa

[2019-02-28 05:32] YuliKl commented on #1470
@Quico20 - I'm sorry you're having problems with the RadioButton template. Since yours is a product issue, not a problem in the documentation, would you mind creating a [new bug](https://github.com/Microsoft/microsoft-ui-xaml/issues/new/choose) report in the [microsoft-ui-xaml GitHub](https://github.com/Microsoft/microsoft-ui-xaml)? Please include the code that's causing problems when you open the

[2019-02-28 05:38] YuliKl commented on #1469
@linhnddev - Sounds like you found a bug in NavigationView. Can you open a [new issue](https://github.com/Microsoft/microsoft-ui-xaml/issues/new/choose) on the [microsoft-ui-xaml](https://github.com/Microsoft/microsoft-ui-xaml) GitHub so our engineers can investigate? What you're seeing doesn't seem to be a documentation problem. The best place to report controls bugs is on microsoft-ui-xaml.

[2019-02-28 07:12] PoorPocketsMcNewHold opened #1506 "The Dark Titlebar assets folder is named "Light""
Present in the Windows 05 Shells Compensents in the Photoshop project files.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9fc7b1d-8b97-598a-f059-093d94972931
* Version Independent ID: 943e9c97-f223-4d3c-730c-a7f20cb04560
* Content: [Design toolkits and samples for UWP apps - Windows UWP applications](https://docs.mi

[2019-02-28 18:12] KevinAsgari commented on #1493
Thanks for bringing this to our attention!  I have a pull request out that should fix the table formatting across this area.

[2019-02-28 18:12] #1493 closed, assigned to KevinAsgari, M-Stahl

[2019-02-28 23:14] knicholasa commented on #1503
Thanks for leaving your feedback. That's a good question. I don't know the answer, but I'll reach out to the team that owns this and see. In the mean time, another good resource to consult is the [Windows developer support center](https://developer.microsoft.com/windows/support). You may be able to get a quicker answer by posting in the forums there while I am working to update this page.

[2019-03-01 00:49] knicholasa commented on #524
Confirmed, they are in the docs. Closing.

[2019-03-01 00:49] #524 closed, assigned to knicholasa

[2019-03-01 00:52] knicholasa commented on #588
Hi all, thanks for the feedback, and sorry for the long wait. I'm taking over this issue and looking into it now. I'll update the page and this thread ASAP.

[2019-03-01 02:38] ginami commented on #1504
Hi @armstrong-charles -- which doc do you think should include this information? (This will help me route your comments to the correct author.) Thank you!

[2019-03-01 11:08] ghost commented on #411
I fully support Andrew.

MDL is already very voluminous in terms of the number of specific icons that are used only in Windows, it’s time for the team to think about creating an icon manager with tags, search and convenient copying of icons. To avoid the bulkiness of the manager, they need to be further divided into places where they are used: taskbar, titlebar, toolbar, etc.

[2019-03-01 13:58] vishnu4 opened #1508 "'Manage keys for an Azure AD application' outdated?"
I'm trying to go through the step on building my UWP app directly to the microsoft store with https://marketplace.visualstudio.com/items?itemName=MS-RDX-MRO.windows-store-publish, which let me to this page.  I've gotten far enough to the point where you ask me to build a key for my application.  Supposedly this is in the 'developer settings/users/' page, where i can then click on the application a

[2019-03-02 08:41] hakimmazigh opened #1509 "mazigh.imazighan11hakim@gmail. com"
الحصول على جمع الايميات
واسترجاع بريد الطوارئ افقدته
josh_119@hotmail.com

---
#### تفاصيل المستند

⚠ *تجنب تحرير هذا القسم. مطلوب لـ docs.microsoft.com ➟ ربط مشكلة GitHub.*

* ID: 74cedd45-23b0-84b1-c4b7-318e4d7752c1
* Version Independent ID: cd1ed9f0-fe8c-c10f-1d71-5ea4134a4d2f
* Content: [Debugging, testing, and performance - Windows UWP applications](https://docs.microsoft.com/ar-sa/windows/uw

[2019-03-02 09:58] hadayago opened #1510 "Wrong Property Attributes name in XAML code"
VisualState have x:Name property attributes instead of x:Key in XAML code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69746a38-2c7a-45f6-765f-2c5801a27193
* Version Independent ID: 64ee3bd3-91f2-018a-8ea7-28ae91e109ce
* Content: [Create adaptive layouts tutorial - Windows UWP applications](https://docs.microsoft.com

[2019-03-02 10:27] hadayago opened #1511 "Error of data binding in DataTemplate"
In ImageGridView_MobileItemTemplate, source of Image element could be data binding to ImageSource instead of ImagePreview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69746a38-2c7a-45f6-765f-2c5801a27193
* Version Independent ID: 64ee3bd3-91f2-018a-8ea7-28ae91e109ce
* Content: [Create adaptive layouts tutorial - Win

[2019-03-02 13:13] bkrauth opened #1512 "Sample Code Error"
under "Create and retrieve a simple local setting"
sample code: localSettings.values
should be: localSettings.Values

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9a5cd25-def9-18f4-71f4-ecdfa83d03d6
* Version Independent ID: acfde4a4-e53b-0adb-d1fc-179f9c055553
* Content: [Store and retrieve settings and other app da

[2019-03-03 07:46] cardalex opened #1515 "Additional Dependencies"
Apparently, it is needed to add:
Advapi32.lib;ole32.lib.;Shell32.lib;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0faf0f08-2ef0-62e2-9a80-ca4f96c15b6b
* Version Independent ID: 29ffa166-ba60-7694-7574-7dac254338f9
* Content: [Author COM components with C++/WinRT - Windows UWP applications](https://docs.microsoft.com

[2019-03-03 17:07] jebeld17 opened #1516 "Open contained links within articles on docs.microsoft.com in new tabs"
Please open contained links within articles on docs.microsoft.com in new tabs as a default action.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c403f296-ed93-2625-e414-f009194bf118
* Version Independent ID: aa0212c4-481c-7eaf-233d-c5b3f286d004
* Content: [Package an app using the Desktop App Converter (Desktop Bridge

[2019-03-03 20:26] JonPerkinsOldGit opened #1517 "Create Your First App page - broken link"
This page references the MVA. The link for "A Developer's Guide to Windows 10" leads to a page which reveals a banner saying page no longer available

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5244e6a0-7a51-8eac-d776-193dc4368113
* Version Independent ID: cb6cf9cb-e235-9204-4c05-38e767d664ec
* Content: [Create your

[2019-03-03 21:16] kudobyte opened #1518 "URI for installing a specific language/region"
When clicking "Install/Get" for a  Local Experience Pack from the Windows Store to install a language, it seems like a URI is used to directly bring the user to the language pack to install.

![screen](https://i.stack.imgur.com/56fzv.png)

However I do not see any documentation on this. Is there an undocumented URI pattern for opening up the installation screen for a specific language/region?

Mor

[2019-03-04 07:38] Mancerrss opened #1519 "Just share the link of the Figma tookit, not extract it's version as a .fig file every damn time"
Figma is cloud based, so why not just share y'alls Master Figma file link to the world, so every revision or update it already delivered to us. Make sure to keep it just "view only", for us to be able to edit, and copy on it, we need to duplicate it. Publish also the Styles and Components in Team Library, so we can opt in and turn it on our own files, and use the styles and drag out components dir

[2019-03-04 16:06] toredk commented on #1431
I have looked a bit more into this and it seems to happen only/mostly just after install and then fail two times (during same user action) before it finally works consistently. If I uninstall and reinstall, I do not see the issue, however if I return to Hyper-V checkpoint and try again, I see the same behavior. This is of cause just results from a single (virtual) machine, so not that conclusive.

[2019-03-04 17:30] lauradolan commented on #1508
Please open a support case about this issue here http://aka.ms/storesupport. Thanks!

[2019-03-04 17:30] #1508 closed, assigned to lauradolan

[2019-03-04 17:49] shreyagupta-dev commented on #1164
Hi @jatinmishra, I was not able to solve this issue, unfortunately. Let me know if you've made any progress! Thank you.

[2019-03-04 22:48] stevewhims commented on #1515
Thanks for raising this issue, @cardalex! I've made corrections to the topic; it should be published soon.

~Steve

[2019-03-04 22:49] ginami commented on #1518
Hi @kudobyte -- do we have related doc that touches on this topic? (A URL will help me route your question to the correct author.) Thank you!

[2019-03-04 23:06] kudobyte commented on #1518
@ginami -- This documentation refers to accessing parts of the Settings app:
https://docs.microsoft.com/en-us/windows/uwp/launch-resume/launch-settings-app

However, I was wondering if the Microsoft Store app was using an undocumented URI or any code a developer could use to launch the Settings app like in the picture above (installation of specific language/region). Clicking the Get/Install butto

[2019-03-05 00:19] saf-itpro opened #1520 "Minor typo in WriteTimestamp() method"
A minor typo in `WriteTimestamp()` method. I think `CreateCollisionOption` should be `CreationCollisionOption`.
Ref: https://docs.microsoft.com/en-us/uwp/api/windows.storage.creationcollisionoption

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9a5cd25-def9-18f4-71f4-ecdfa83d03d6
* Version Independent ID: acfde4a4-e53

[2019-03-05 00:29] mijacobs commented on #1520
@saf-itpro Thank you for calling this to our attention! We submit public contributions--would you be willing to submit the typo fix? Just click the "edit" button on the page with the typo.

[2019-03-05 00:33] vishnu4 commented on #1508
so i can only get help with this if i pay $500?  The issue is also with your github page.  you have instructions that are wrong and can't be followed.  You'll need to update the instructions regardless of anything else, won't you?

[2019-03-05 02:22] chanallenk opened #1521 "Closing a new Window created with WindowsXamlHost"
I am trying to create a second Window also with another hosted control in my WPF app. I got the error about it attaching to a window on a different top level, so I created a thread to open this new child window. That solved my issue and allowed me to create a second WindowsXamlHost.

However, when closing this new window, I get the error "Unhandled exception at 0x768E9931 (combase.dll) in MyApp.WP

[2019-03-05 02:35] saf-itpro commented on #1520
@mijacobs I've made the change.

[2019-03-05 02:35] #1520 closed, assigned to mijacobs

[2019-03-05 05:33] jatinmishra commented on #1164
I wasn't able to use the screen capture api but was able to get some result using the html2canvas library and working with some old school canvas and javascript. :)

Thanks.

[2019-03-05 06:48] BarryWangMSDN opened #1522 "URL 404 for "operator to std::wstring_view""
The following part contains a 404 URL:
But, again, being aware of that detail is optional thanks to hstring's conversion operator to std::wstring_view.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e675be32-8d47-29be-435b-c430d81a9225
* Version Independent ID: 780ecdcf-c388-1b4f-6fe6-c02b44ba6e8a
* Content: [String ha

[2019-03-05 17:19] lauradolan commented on #1508
The reason I’m closing this doc feedback issue and suggesting you contact support is because you should normally see the "Add new key" button when viewing an Azure AD application you've added to your account in Partner Center, as described at https://docs.microsoft.com/en-us/windows/uwp/publish/add-users-groups-and-azure-ad-applications#manage-keys-for-an-azure-ad-application.  

Since you’re expe

[2019-03-05 18:15] PaulaScholz opened #1523 "Not a complete sentence"
"Otherwise your background task may be terminated prematurely when the Run method (or OnBackgroundActivated method in the case of in-process background tasks)."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8141e120-645d-a52a-cefc-aa77fac6b3f7
* Version Independent ID: 043c5b34-759d-b58c-7d02-f3cad6ec1f2f
* Content: [

[2019-03-05 19:53] stevewhims commented on #1515
The fix is published now, @cardalex. I'll go ahead and close this issue, but please reopen if necessary. Thanks again for finding the problem and letting me know about it! ~Steve

[2019-03-05 19:53] #1515 closed, assigned to stevewhims

[2019-03-05 20:27] stevewhims commented on #1522
Thanks for finding and reporting this broken link, @BarryWangMSDN! I've just published a fix to the topic. I'll go ahead and close this issue now. Thanks again! :) ~Steve

[2019-03-05 20:27] #1522 closed, assigned to stevewhims

[2019-03-05 22:06] knicholasa commented on #1523
Thanks for finding this. I've update the document. The changes should be visible online in a day or two. The sentence should be "Otherwise your background task may be terminated prematurely when the Run method returns (or the OnBackgroundActivated method in the case of in-process background tasks)."

[2019-03-05 22:09] #1523 closed, assigned to knicholasa

[2019-03-06 00:03] Gavin-Williams opened #1524 "C# examples are missing"
You have C++ examples here, but no C#? How can I use DirectX interoperation from C#?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f49b9ea5-88b8-588b-ad4b-8fc947824047
* Version Independent ID: 3d004427-c466-c760-f8e2-118ab08d0006
* Content: [Composition native interoperation - Windows UWP applications](https://docs.m

[2019-03-06 00:30] michael-hawker opened #1525 "Should add link to Contract Version List"
It'd be nice to add a link in the Related Articles to the list of API contract versions [similar to this one](https://docs.microsoft.com/en-us/uwp/extension-sdks/windows-universal-sdk) so that it's easier to match up what version 'number' is needed and matches to which other features/sdks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-03-06 10:14] julienshepherd opened #1526 "Fluent XAML Theme Editor on the MS Store"
Is there any plan to make the Fluent XAML Theme Editor a Store app? Just like the XAML Controls Gallery? This will make it easy to share the app with designers, instead of creating a package to give them to sideload the app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9fc7b1d-8b97-598a-f059-093d94972931
* Version I

[2019-03-06 10:54] bezysoftware commented on #1378
I'm seeing the exact same error for this code:

[code]

Weirdly it only happens in a class lib, not in the app project

[2019-03-06 11:21] svyatoslavdcode opened #1527 "Missing dark theme in Adobe XD design toolkit"
Missing dark theme in Adobe XD design toolkit (v1901, January 2019). So, please, fix it, because it's hard to design something without one.

[2019-03-07 06:02] bswieser opened #1528 "does not work as expected"
ms-people:search?SearchString=Name

Does not work - it will populate the search box, but does not display the top result. You need to hit space or enter...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1d62e94-aa32-467f-fa2d-14e630543e1f
* Version Independent ID: 2ab8ae17-c66e-3bd8-2a28-a8804a06a66a
* Content: [Launc

[2019-03-07 07:31] Mancerrss commented on #1527
On Figma toolkit too, which is still stuck on v1810, contrary to XD's version v1901, which is the most updated of all, still don't have Dark theme components too, it do have Dark color fill on Figma Styles tho

[2019-03-07 20:29] zbc commented on #862
Hi there,
I tried to make the websocket connection, but it cannot even connect to the endpoint. Is there any solution? Thanks.

[2019-03-07 22:52] knicholasa commented on #1528
Hi,

Thanks for reaching out with your feedback. Feedback here is for documentation issues. If you think this is a bug, please use the product feedback tool at the bottom of the docs page to leave feedback. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=require

[2019-03-07 22:53] #1528 closed, assigned to knicholasa

[2019-03-08 01:38] chigy commented on #1527
@Mancerrss , VD version does not contain any new information than Figma version. They are the same. As far as I am aware, there is no immediate plan to release dark theme design kit. Say, what is your reason for using the design kit? Are you using to see how the controls appear on dark theme or are you actually using these design kit to create design UI? If former, I may have a suggestion for you

[2019-03-08 17:22] homer90 opened #1530 "Load Images from embedded resources for Desktop Applications"
Desktop apps should be able to show toast notifications with embedded resource images.
Right now every image that is used in a toast notifiction has to be stored on disk for usage with file:///

But many applications pack their images within embedded resources:
&lt;ItemGroup&gt;
&lt;EmbeddedResource Include="Images*" /&gt;
&lt;/ItemGroup&gt;

Loading images from embedded resources (e.g. resource:/

[2019-03-09 01:29] SheiksBeer opened #1531 "Error loading .SLN in Visual Studdio 2017"
Hello
Loading Samples (.sln file) produces errors:
e.g. for the BASICINPUTS solution:
D:\PROJECTS\Samples\BasicInput\cs\BasicInput.csproj : error  : The imported project "C:\Program Files (x86)\Windows Kits\10\bin\10.0.17763.0\XamlCompiler\Microsoft.Windows.UI.Xaml.Common.targets" was not found. Confirm that the path in the <Import> declaration is correct, and that the file exists on disk.  D:\VS1

[2019-03-10 23:23] avazquez-tecss commented on #783
Dear...did you find a solution?

[2019-03-11 00:04] radev8 opened #1532 "SVG is recommended for custom icons but no mention of how to embed SVG"
'SVG resources are ideal for icons, because they always look sharp at any size or resolution.' Great, but how do you use a SVG file.  An example using a SVG file and how it is created as a resource and use on the page would be great.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1666072a-88f4-45e9-ede0-414fe8ef61e5
*

[2019-03-11 14:24] MahmoudSaid356 opened #1533 "Feature request"
Do you have any soon plan to support "urn:mpeg:dash:profile:isoff-on-demand:2011" profile?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb6fc0d8-7067-6d9c-fe52-4dc89fb24d48
* Version Independent ID: 493d1fd9-2f9a-38f6-c97d-508c5e5ba20e
* Content: [Dynamic Adaptive Streaming over HTTP (DASH) profile support - Windows

[2019-03-11 22:33] liviodlc opened #1534 "Update XDK docs to point to this"
All of the Achievement-related documents in the XDK are referring to the old Data Platform API. These docs DO NOT mention that the Data Platform API has been replaced with a new system, and they also do not mention that the docs for the new Achievement system is on a different documentation website. Please add a page or something to the XDK docs informing users about this.

---
#### Document Detai

[2019-03-12 13:12] pierresa opened #1535 "Order of capabilities matters and is not explained"
If I put restrictedcapability after devicecapability I have an error
 &lt;Capabilities&gt;
    &lt;Capability Name="internetClient" /&gt;
    &lt;rescap:Capability Name="confirmAppClose" /&gt;
    &lt;uap:Capability Name="picturesLibrary" /&gt;
    &lt;uap:Capability Name="removableStorage" /&gt;
    &lt;uap:Capability Name="videosLibrary" /&gt;
    &lt;uap4:Capability Name="offlineMapsManagement"

[2019-03-12 18:29] mcleanbyron commented on #1535
Thanks for your feedback. You are correct, and all DeviceCapability elements must come after any and all Capability elements (including restricted Capability elements) under Capabilities. I have added a note to the "Device capabilities" section of this article and several other related articles to capture this requirement. These doc updates should be published in the next day or so.

[2019-03-12 18:29] #1535 closed, assigned to mcleanbyron

[2019-03-13 07:10] pkar70 opened #1537 ""The size of the data you may pass is only limited by system resources.""
Limit is for single Value, or/and for total size of Values?
Is there any method to check how big data I can send?
It seems like limit is below 64 KiB; and this is limit for ValueSet. Although valueSet.Add doesnt produce error/exception, nor Request.SendResponseAsync - but on receiving side, AppServiceConnection.SendMessageAsync(oInputs) doesnt return.

---
#### Document Details

⚠ *Do not edit thi

[2019-03-14 07:25] #1367 closed, assigned to QuinnRadich

[2019-03-14 07:26] #1184 closed, assigned to msatranjr

[2019-03-14 09:27] meteorsnows opened #1538 "Clarify of Contents"
Does this Example from https://stefanwick.com/2018/10/01/app-elevation-samples-part-1/
consider in this Package desktop applications &gt; Prepare to package section.

Does the following mean:
Your application always runs with elevated security privileges. Your application needs to work while running as the interactive user. Users who install your application from the Microsoft Store may not be sys

[2019-03-14 13:07] mfe- opened #1539 "Windows version support missing - ms-settings: URI scheme reference"
Some setting pages were introduced with certain versions of Windows. It'd be nice for this "ms-settings: URI scheme reference" table to display the minimum version required to start the uri page successful.

For example: ms-settings:appsfeatures-app - as far as i know this page exists since 16299?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-03-14 14:34] akorneev commented on #1431
Looks like this issue: http://www.rudyhuyn.com/blog/2018/02/10/toastnotifier-and-settings-careful-with-non-uwp-applications/

[2019-03-14 15:37] toredk commented on #1431
Yes, indeed :-)

[2019-03-15 10:49] wldevries opened #1540 "Typo"
&gt; Conveience vs. control
Should be Convenience

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8132995-4d33-d547-f743-37cd3b3f15c4
* Version Independent ID: 19465bc3-648d-6576-ea62-5b23b50531d5
* Content: [Best practices for writing to files - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/fi

[2019-03-15 23:16] knicholasa commented on #1540
Thanks for catching that! I'll update the doc.

[2019-03-15 23:16] #1540 closed, assigned to knicholasa

[2019-03-16 13:22] egyik opened #1541 "C++/WinRT"
It would be really great if all these pages documenting UWP could show C++/WinRT sample code. Unless it's made easy for people to get going C++/WinRT takeup is going to be very slow and it may fail to take off entirely. Good documentation with code samples is essential.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24

[2019-03-17 07:54] BYTEzel opened #1542 "Typo in "Horizontal slide""
These lines throw an error:
// Navigate to the right, ie. from LeftPage to RightPage
myFrame.Navigate(typeof(RightPage), null, new SlideNavigationTransitionInfo() { SlideNavigationTransitionEffect.FromRight } );

// Navigate to the left, ie. from RightPage to LeftPage
myFrame.Navigate(typeof(LeftPage), null, new SlideNavigationTransitionInfo() { SlideNavigationTransitionEffect.FromLeft } );

In my

[2019-03-17 13:03] rAndom69 opened #1543 "Unable to download cab files"
With method mentioned in pre-requisites (service-to-service accessToken) cab files are inaccessible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22f2fb52-7ef8-f814-1b92-ce99f7e3207c
* Version Independent ID: 646c23dc-bf65-f574-4b24-e465ef1a9933
* Content: [Download the CAB file for an error in your desktop applicati

[2019-03-17 14:53] rAndom69 commented on #1428
Ever managed to download CAB ?
Having same issue, with valid service-to-service token created per documentation.

[2019-03-18 02:59] cpuwzd opened #1544 "OneWayToSource"
This document does not mention "OneWayToSource". Has this feature been deprecated or deleted? I use this mode and am having trouble due to the nature of the "ConvertBack" function. I can't figure out how the framework sets the value parameter of this function. From observation, it appears to set this parameter to the default value for the Target type, rather than the actual Target value. This gets

[2019-03-18 16:23] knicholasa commented on #1544
Thanks for reaching out with your feedback. Comments left here are meant for documentation feedback, and unfortunately we cannot provide technical support. I will follow up about that topic you mentioned that is missing from the docs, but in the mean time you may have success posting your question in the [developer support forums](https://developer.microsoft.com/en-us/windows/support), where other

[2019-03-18 17:10] knicholasa commented on #1539
Thanks for the feedback. I've reached out to the dev team associated with this page to see about updating it with that information.

[2019-03-18 17:32] knicholasa commented on #1537
Thanks for reaching out with your feedback. Comments left here are meant for documentation feedback, and unfortunately we cannot provide technical support. I will follow up about updating the docs to answer the questions you posed, but in the mean time you may have success posting your question in the [developer support forums](https://developer.microsoft.com/en-us/windows/support), where other de

[2019-03-18 18:13] hawesg104 opened #1545 "Confused about values"
Howdy - I'm confused about the values being returned for `errorCount` and `deviceCount`. I'm seeing non-integer responses such as 1.5. Is this a calculated value that I need additional context to make sense of?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78fd2953-4afe-5382-b336-129749b00fd3
* Version Independent ID:

[2019-03-19 07:34] hacysean opened #1546 "Access violation occurs after setting mediaPlayer.AudioDevice"
private void _audioDeviceComboBox_SelectionChanged(object sender, SelectionChangedEventArgs e)
{
    DeviceInformation selectedDevice = (DeviceInformation)((ComboBoxItem)_audioDeviceComboBox.SelectedItem).Tag;
    if (selectedDevice != null)
    {
        mediaPlayer.AudioDevice = selectedDevice;
    }
}

Access violation occurs after setting selectedDevice in the above code. No try catch. What is

[2019-03-19 12:09] tonylambert commented on #1428
No. I have been unable to and I have run out of ideas on what to try next.

This fails for me reliably but MS said it isn’t broken. I assume I’m doing
something wrong, but I’ve followed the documentation.

On Sun, Mar 17, 2019 at 10:53 AM rAndom69 <notifications@github.com> wrote:

[2019-03-19 13:56] jonaserikssonnet opened #1547 "Broken link"
"Social C Sample AsyncIntegration.cpp" is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b74a8977-3a86-719c-01a9-0d8ef98d1504
* Version Independent ID: 2147a655-135c-5c30-1be6-97aa6b7aa678
* Content: [Asynchronous C API calling patterns - Windows UWP applications](https://review.docs.microsoft.com/en-us/windows

[2019-03-19 15:23] rAndom69 commented on #1428
As I'm in same boat I do blame MS. Well, I'll see what our premium support has to say about this. I'll write result here for reference. Only thing which is not according to documentation is that I'm not global administrator of AAD when I create application account, however assumption is that this is required only for partner center connection to AAD.

[2019-03-19 15:33] DarinMacRae opened #1548 "Instructions do not follow the Partner Center content site"
Several of the instructions say:

From Partner Center, select the gear icon (near the upper right corner of the dashboard) and then select Developer settings. In the Settings menu, select Tenants.

But there isn't any gear icon showing up on the Partner Center site.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1603df

[2019-03-20 02:28] stevewhims commented on #1541
Hi, @egyik, thanks for filing this issue.

We don't provide example code in every language, but the fact that you're asking in this case means that there's a demand, so I'll take that into account with my planning and my TODO list.

FYI, the [C++/WinRT](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/index) documentation covers all kinds of techniques around using C++/WinRT in general. H

[2019-03-20 11:14] defaultshr opened #1549 "Is Developer partner account required for using Windows.Networking.Vpn UWP interface APIs"
Kindly clarify if developer partner account is required for getting Windows.Networking.Vpn UWP APIs to work on the Visual Studio 2017 community edition.

Currently I have declared VPN restricted capability in the manifest. Compilation is fine. However, I do not see VPN Plugin APIs getting triggered.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-03-20 11:20] defaultshr commented on #1549
Basically, even though I am launching application in debug environment, VPN plugin API don't get triggered. Therefore, I am asking if developer partner account is required to get these APIs working while we develop application.

[2019-03-20 16:57] mcleanbyron commented on #1549
Thanks for reaching out to us with your question. APIs that require restricted capabilities should work while sideloading your app on a local development machine. However, you do need to be granted access by Microsoft to use the capability in the Store version of your app, and you can request this when you submit your app to the Store. See [restricted capabilities](https://docs.microsoft.com/en-us

[2019-03-20 16:57] #1549 closed, assigned to mcleanbyron

[2019-03-20 18:02] Dianoya commented on #783
Unfortunately not. I stopped practicing MIDI in UWP. :-( Maybe another time ... I always remember about these issues. When I again take up this matter and find a solution, I will definitely write about it! I hope this will be fixed ... in a few years ... :-)

[2019-03-20 22:30] kikisaints commented on #1526
It already is! You can [install it here](https://www.microsoft.com/p/fluent-xaml-theme-editor/9n2xd3q8x57c?activetab=pivot%3Aoverviewtab).

[2019-03-20 22:33] #1526 closed, assigned to kikisaints, mijacobs

[2019-03-21 14:56] 1660609 opened #1551 "scroll"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bceec31d-d56d-7cd7-371c-a56d2f9a77af
* Version Independent ID: fc2c3ee4-d1c2-ba0e-d1c8-c970710442e7
* Content: [Scroll viewer controls - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/scroll-control

[2019-03-21 17:26] lauradolan commented on #1548
You must be logged in to your Partner Center account at https://partner.microsoft.com/dashboard to see this icon. If you're not seeing it there, please open a support request at https://aka.ms/storesupport.

[2019-03-21 17:26] #1548 closed, assigned to lauradolan

[2019-03-21 17:35] DarinMacRae commented on #1548
I *was* logged on. I tried multiple browsers. The gear icon never showed up until the owner of the PC account that my company uses added me to the account. The documentation does not explain this requirement at all and it cost me and my team quite a bit of time trying to figure out why no gear icon was showing for us.

[2019-03-21 18:02] lauradolan commented on #1548
Thanks for your feedback. The article does state "Any user with the Manager role in the Partner Center account will have the option to add and remove Azure AD tenants from the account.  We'll look into how we can make the doc clearer.

[2019-03-21 21:40] hickeys commented on #1538
Unfortunately, apps that require elevation will not be accepted regardless of how it is declared.

[2019-03-21 21:40] #1538 closed, assigned to hickeys

[2019-03-21 22:10] mcooley opened #1552 "Self-signed certificate needs additional parameters to be valid for appx signing"
The New-SelfSignedCertificate example is not sufficient to create a key which can be used to sign a package. As mentioned in the [older documentation here](https://docs.microsoft.com/en-us/previous-versions/br230260(v=vs.110)) the certificate needs to have some additional constraints. Basic constraints must be unset or set to "Subject Type=End Entity", and the EKU extension should be set to "Code

[2019-03-21 23:12] mcleanbyron commented on #1552
Thanks for submitting your feedback! I will investigate your suggestion with the engineering team who owns this feature area and I will update this issue when I have a resolution.

[2019-03-22 07:22] lhyzf opened #1554 "With using ItemsRepeater, the grid and textBlock in the first item not adjust it's width or warpping correctly."
With using ItemsRepeater, the grid and textBlock in the first item not adjust it's width or warpping correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5ae7144-fa89-cd61-6ff7-8bb4a765e6f8
* Version Independent ID: 03f41125-77b9-5761-2aba-9b3eef17e121
* Content: [ItemsRepeater - Windows UWP applications](https:/

[2019-03-22 18:39] Gavin-Williams opened #1555 "Advice regarding AlphaMode is wrong."
Docs say "You can't set the DirectX swap chain's alpha mode to DXGI_ALPHA_MODE_PREMULTIPLIED.". This isn't true. AlphaMode for swapchain can be set to Premultiplied without issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b263a91c-cfc3-2457-196f-ab9c74b14a5f
* Version Independent ID: bc2cd244-bd4d-b294-c787-12fb2a

[2019-03-22 18:49] mcleanbyron commented on #1552
I confirmed your findings and updated the article with a more complete example and details about the -TextExtension parameter to add the EKU=code signing and basic constraints=end entity extensions. Thanks for your feedback and helping us improve the docs!

[2019-03-22 18:49] #1552 closed, assigned to mcleanbyron

[2019-03-23 14:11] bensonlee311 opened #1556 "singleMediaGroupSearc"
Why [/media/en-us/singleMediaGroupSearch?q=vector&desiredMediaItemTypes=DGame&fields=all] always return only ImpressionGuid ? It can work fine several days ago

---
#### 文件詳細資料

⚠ *請勿編輯此區段。 這是 docs.microsoft.com ➟ GitHub 問題連結的必要項。*

* ID: 0b4f292e-b324-0379-bb1f-fca0a051928d
* Version Independent ID: 7bfb7dd3-e4e8-e72f-54e0-c8d036071b7a
* Content: [GET (media/{marketplaceId}/singleMediaGroupSearch

[2019-03-23 14:14] #1358 closed, assigned to KevinAsgari

[2019-03-24 15:02] dajbych opened #1557 "Foreground event for notification added/dismissed"
Is the bug with CPU loops when listening to notifications in foreground already fixed? If yes – what is the minimal Windows version where the functionality can be safely used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7bf8a3a-3e67-f3b9-f63c-ca53383d7f19
* Version Independent ID: b64f8103-55c0-d8bd-52b9-b4b9f7b63f

[2019-03-25 17:58] micahl commented on #1554
@Teachoc are you referring to the first snippet of XAML that talks about DataTemplate (e.g. the markup in the docs that I've copy/pasted below)?  Can you provide some more details on the issue and what you expect to happen?

[code]

[2019-03-25 18:15] andrewleader commented on #1557
Hey @dajbych, thanks for reaching out! Looks like we fixed this in Build 17763 / October 2018 Update / Version 1809, which is the current latest non-Insider public version of Windows. I'll update the docs!

[2019-03-25 22:59] profgyuri opened #1558 "Windows namespace missing"
There is literally no windows namespace, update required!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad92e4b2-c0cf-cb46-4eab-eabdea8ab0d1
* Version Independent ID: 1097c7e1-25aa-273b-5748-75d53e4eaae1
* Content: [Capture photos and video with Windows built-in camera UI - Windows UWP applications](https://docs.micro

[2019-03-26 04:17] aljohnston112 opened #1559 "20hz does not work with the Audio frame input node example"
I copied the example and tried 20hz instead of 1000hz and was surprised to hear a higher frequency playing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 589e2eda-b495-126e-553d-65ebee87bd3c
* Version Independent ID: a850ef9a-9d08-64a2-dd6b-584d2059f392
* Content: [Audio graphs - Windows UWP applications](https://docs

[2019-03-26 07:03] lhyzf commented on #1554
Using follow code can see the phenomenon.

XAML
[code]

CS
[code]

[2019-03-26 07:27] micahl commented on #1554
Thanks for the repro and feedback, @Teachoc!  I'm now able to repro the issue you described.  I initially thought your feedback was about the content of the documentation.  For bugs you find in the control like this one please report it on the [GitHub site for the WinUI package](https://github.com/Microsoft/microsoft-ui-xaml/issues) and include this same repro (a screenshot really helps as well).

[2019-03-26 15:51] micahl commented on #1554
@Teachoc I went ahead and opened an issue in the WinUI repo containing the control.  Thanks for reporting it!

[2019-03-26 15:57] #1554 closed, assigned to jwmsft

[2019-03-26 18:07] McBubble opened #1560 "Useless XAML Code Example"
Pretty useless the XAML code example in this page. I have no idea where the  &lt;Button...&gt; is supposed to go, in Page.TopAppBar, CommandBar, Grid, maybe above, below ... too many options I'll have to search for a proper example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3db3df4b-39b3-74ae-6cea-ffe2b3f52df3
* V

[2019-03-26 18:28] jevansAN opened #1561 "Printing?"
The PhotoEditor seems not to include printing capability. It would be really useful to have available some example code demonstrating printing from a C++/winrt app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f730731-e97d-a8e6-a344-a4906980ad64
* Version Independent ID: 5d99f618-f4de-8ed3-46d7-634df5105228
* Conten

[2019-03-27 11:30] syedsaadmahmood opened #1563 "Can't select a value of binding list"
I'm unable to select the value of binding list in combobox. Tried every solution but each time gets error "value out of range".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1138cfac-f732-1a98-2678-bd4a40ea2a78
* Version Independent ID: ad0dd5b4-8aec-7a14-62be-40b9b692d13a
* Content: [Combo box (drop down list) - Wind

[2019-03-27 16:31] pedrolamas commented on #1442
Hi @kikisaints seems that your PR was incomplete as I still see a lot of references to `ColorSchemeResources` in [this article](https://docs.microsoft.com/en-us/windows/uwp/design/style/color).

[2019-03-27 17:45] kikisaints commented on #1442
Wow... no idea how I missed this! Thanks @PedroLamas

I made [another PR](https://github.com/MicrosoftDocs/windows-uwp/pull/1564) with, hopefully, all the necessary changes to the color.md page to update that API's name.

[2019-03-27 18:07] bartlannoeye commented on #1517
There's a banner on MVA mentioning that the resources are boing retired and/or moved.

[2019-03-27 18:21] #1436 closed, assigned to KevinAsgari, aablackm

[2019-03-27 18:21] #1458 closed, assigned to KevinAsgari, aablackm

[2019-03-27 19:03] pedrolamas commented on #1442
I was about to fix and send a PR myself when I looked into the history and saw your previous PR!

[2019-03-27 22:00] bartlannoeye commented on #1531
@SheiksBeer you need the 1809 SDK installed, see https://developer.microsoft.com/en-us/windows/downloads/windows-10-sdk

[2019-03-29 02:01] stevewhims commented on #1561
Thanks, @jevansAN. Rather than bundling that into an existing sample application, how would you feel about adding C++/WinRT versions of the C# in-topic code examples here? https://docs.microsoft.com/windows/uwp/devices-sensors/print-from-your-app?

~Steve

[2019-03-29 05:53] Lena-Ke opened #1566 "Exception on SecondaryAuthenticationFactorRegistration.RequestStartRegisteringDeviceAsync in Windows 10 RS6 19H1"
I met a problem about below method since our UWP app got exception said “the requested operation is not supported” in Windows 10 RS6 19H1  (UWP App works fine in Windows RS5 or below), does this problem cause from RS6 review build only and will be fixed in RS6 release build?

SecondaryAuthenticationFactorRegistration.RequestStartRegisteringDeviceAsync(String, SecondaryAuthenticationFactorDeviceCap

[2019-03-29 05:57] jevansAN commented on #1561
Steve,

	That would be helpful,, certainly, since C++/winrt is apparently encouraged for new projects.
	Though I”ve figured out some of this and may have an issue here that wouldn’t be covered  by that sample: I’m trying to print the content of a CanvasVIrtualControl, which forms the content of a ScrollViewer in this music application. The CanvasVirtualControl doesn’t seem to work as a source in t

[2019-03-29 10:37] I-B-B opened #1567 "Verb missing?"
[It would appear that there is a simple verb missing in the phrase "ability to a Windows.UI.Composition surface." Is this meant to read "ability to _connect to_ a Windows.UI.Composition surface?"]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6e7d28c-129b-b640-7eac-f0c1807a346c
* Version Independent ID: 300d1f3b-a48a

[2019-03-29 12:19] benstevens48 opened #1568 "Poster art aspect ratio incorrect"
The poster art section says 9:16 Poster art (720 x 1080 or 1440 x 2160 pixels). However, this is contradictory since the dimensions given are 2:3, not 9:16. I think the dimensions, rather than the ratio, are correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c806b00b-2775-bffd-54a8-8c564b80eb44
* Version Independe

[2019-03-29 17:16] wldevries opened #1569 "Broken link"
&gt; When you use an ItemsRepeater, you should provide scrolling functionality by wrapping it in a ScrollViewer or Scroller control.
Link to Scroller is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5ae7144-fa89-cd61-6ff7-8bb4a765e6f8
* Version Independent ID: 03f41125-77b9-5761-2aba-9b3eef17e121
* Content: [I

[2019-03-29 21:53] stevewhims commented on #1306
Hi, @KBarrDev, I'll go ahead and close this issue now since it's been a while, and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2019-03-29 21:53] #1306 closed, assigned to stevewhims

[2019-03-29 22:07] stevewhims commented on #1421
Hi, @srocdocs, I'll go ahead and close this issue now since it's been a while, and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2019-03-29 22:07] #1421 closed, assigned to stevewhims

[2019-03-29 22:08] stevewhims commented on #1460
Hi, @AngelMunoz, I'll go ahead and close this issue now since it's been a while, and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2019-03-29 22:08] #1460 closed, assigned to stevewhims

[2019-03-29 22:10] AngelMunoz commented on #1460
@stevewhims Yes sorry for the lack of feedback there

[2019-03-29 22:11] stevewhims commented on #1498
Hi, @anhoavu, I'll go ahead and close this issue now since it's been a while, and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2019-03-29 22:11] #1498 closed, assigned to stevewhims

[2019-03-29 22:26] stevewhims commented on #1325
I've made a change/fix to the topic, and that change is now live. So, I'll go ahead and close this issue now. Thanks! ~Steve

[2019-03-29 22:26] #1325 closed, assigned to stevewhims

[2019-03-29 22:36] stevewhims commented on #1541
@egyik, have you run into any specific blockers with using the C++/WinRT language projection with these APIs? ~Steve

[2019-03-30 04:19] JsonTextfield opened #1570 "Spelling Error"
Used "unsure" instead of "ensure" in the following paragraph:

You can place interactive controls, like buttons, menus, or a search box, in the top part of the app so they appear to be in the title bar. However, there are a few rules you must follow to unsure that your interactive elements receive user input.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-03-31 03:05] Nukepayload2 opened #1572 "Add VB sample to screen-capture.md"
PR: #1571

[2019-03-31 16:19] JsonTextfield commented on #1570
Further down, in Dos and Don'ts, it says, "Do make is obvious when your window is active or inactive.". I think the first "is" should be "it".

[2019-03-31 23:59] EddieLotter commented on #738
The documentation has been re-worded. I am closing the issue.

[2019-03-31 23:59] #738 closed, assigned to jwmsft

[2019-04-01 05:55] jtg-gg opened #1573 "Sample code, running this Screen Capture api from Visual C++ Windows Desktop Application"
I am trying to call this api from Visual C++ Windows Desktop Application
but having issue running it from "UI Thread"
any reference sample code for this ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b8d11e4-f9c6-383a-38d4-6cf7633edb7c
* Version Independent ID: 7015ed77-ae66-cc97-301c-b0c6ebfb2bd3
* Content: [Screen

[2019-04-01 15:17] ginami commented on #1572
Hi @Nukepayload2 -- thanks for your feedback. Which doc did you want to add this sample to?

[2019-04-01 17:40] jevansAN commented on #1561
Steven,

	The more I look, the more it appears that the Print-from-your-uwp-app instructions are almost completely wrong if the content is coming from a CanvasControl or CanvasVirtualControl. I’m trying to figure out how it would work; if I have any success I can let you know. But I think this really needs a separate set of print docs from MS.

	Thanks, Jeff

On Mar 28, 2019, at 7:01 PM, Steven Wh

[2019-04-01 21:07] stevewhims commented on #1561
Hi, @jevansAN, I think the best way to proceed here is to leave feedback on the printing documentation. That way, the writer who owns those docs will see that and they'll be able to triage the ask. Then, once it's been figured out how to achieve the specific task you're doing, and if there's code for that in at least one language, then, at that time, I'll be able to drop in and port that language

[2019-04-01 21:45] jevansAN opened #1575 "Need different instructions for CanvasControl and CanvasVirtualControl?"
It looks like the above instructions don't apply in full if the source is a CanvasControl. Would be great to see a similar set of instructions taking that possibility into account for a UWP app - especially if it were presented for C++/winrt. CanvasControl apparently requires a CanvasPrintDocument, and the CanvasPrintDocument does not carry events like Paginate, etc. described here and in the UWP

[2019-04-01 21:49] jevansAN commented on #1561
OK - I’ve put a comment on the print-from-your-uwp-app docs. Maybe that can start something. Using a CanvasControl instead of a UIControl as the source invalidates a lot of that description.

Thanks, Jeff

On Apr 1, 2019, at 2:07 PM, Steven White <notifications@github.com> wrote:

Hi, @jevansAN <https://github.com/jevansAN>, I think the best way to proceed here is to leave feedback on the printing

[2019-04-01 21:56] stevewhims commented on #1561
Great! I can see that comment, and it's assigned to the topic owner. I'll probably end up working with them on the C++ piece. I'll go ahead and close this now; I do think that making progress on the new issue is the right way to go about this. Thanks! ~Steve

[2019-04-01 21:56] #1561 closed, assigned to stevewhims

[2019-04-02 03:45] wyrdo opened #1576 "implemented how?"
The document may have said, but if it did, I missed it.

The "ms-settings:" URI is handled by the Explorer shell I think?  All of these URIs are, yes?

So, that would mean, that if explorer.exe weren't running, it might not be possible for a user to access ms-settings.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae2

[2019-04-02 12:03] Nukepayload2 commented on #1572
@ginami
I'm contributing a VB sample to https://docs.microsoft.com/en-us/windows/uwp/audio-video-camera/screen-capture

[2019-04-02 18:16] adammarks commented on #1428
Repro'ed this with the following powershell

[code]

[2019-04-02 18:19] adammarks commented on #1428
The output from the powershell above shows clearly that -
1. The failuredetails API returns cabIdHash instead of cabId.  In addition there is another field returned that is not mentioned in the docs,  filename.
2. The cabdownload API doesn't take a cabId parameter and if you use a cabIdHash parameter instead using the cabIdHash from the failuredetails API you will get a 401

[2019-04-02 18:25] adammarks commented on #1543
Related to this issue https://github.com/MicrosoftDocs/windows-uwp/issues/1428

[2019-04-02 18:37] adammarks commented on #1428
I'm noticing that we wrote this issue up against the UWP doc pages for these APIs whereas we are seeing a problem with the desktop versions of these APIs.   The Desktop pages for these apis more accurately describe what we are seeing( with the failuredetails API returning cabIdHash ) and we are using a desktop application but we still are getting a 401 error for the cabdownload api when providing

[2019-04-02 19:32] drewbatgit commented on #1572
I just tested and approved the PR for this sample code addition.

[2019-04-02 19:32] #1572 closed, assigned to drewbatgit

[2019-04-02 21:56] drewbatgit commented on #1573
Hello, there a section called "Programming with thread affinity in mind" in this article:

https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/concurrency

It mentions calling UWP APIs on the UI thread from C++/WinRT. Let me know if this helps with your scenario.

[2019-04-02 22:40] oldnewthing commented on #1573
For Win32, create the `GraphicsCapturePicker`, and then use [the `IInitializeWithWindow::Initialize` method](https://docs.microsoft.com/en-us/windows/desktop/api/shobjidl_core/nf-shobjidl_core-iinitializewithwindow-initialize) to associate it with your window. Once that's done, you can call `PickSingleItemAsync`.

[2019-04-03 01:21] saubermfg opened #1577 "Choose default app by protocol Setting Page"
It seems like the "Choose default app by protocol" setting page, which is accessible with a link in the "ms-settings:defaultapps" page, should be something that could be linked directly to. Furthermore, since this list can be very long, it would also be nice to be able to link directly to a certain protocol.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-04-03 17:51] knicholasa commented on #1576
Thanks for reaching out with your feedback. Comments left here are meant for documentation feedback, and unfortunately we cannot provide technical support. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/que

[2019-04-03 17:57] knicholasa commented on #1577
It looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use the [Windows developer feedback site](https://wpdev.uservoice.com/). We’d be happy to have this on record, where others can view it and upvote it.

[2019-04-03 17:57] #1577 closed, assigned to knicholasa

[2019-04-03 17:58] oldnewthing commented on #1573
A fix for this (and other classes affected by IInitializeWithWindow) is coming to the docs. Thanks for calling it out.

[2019-04-04 04:07] jtg-gg commented on #1573
Thank you @drewbatgit The "Programming with thread affinity" article is not helpful, for my case
@oldnewthing pointer is very useful, though I need convert my app into ComPtr style
sad think is, this api doesn't work on home edition :(

I need an api that works on both home / pro / enterprise capturing UWP apps

[2019-04-04 06:09] oldnewthing commented on #1573
You can use any COM library you like, you don't have to use ComPtr. And you don't have to convert the entire app, just the part that plugs in the HWND. You don't even have to use any library at all; you could just work with raw pointers if you prefer.

(I didn't think this API changed behavior on Home SKU, but I'm not the expert for that part.)

[2019-04-04 17:28] madenwala opened #1578 "No toast notifications from Alternate Channel through a background agent?"
I'm a bit confused --- alternate channels say no toast or tile notifications, but according to the this page below, you can have it trigger a background task.  Couldn't you then just have the background task then show the toast/tile notifications?

https://docs.microsoft.com/en-us/windows/uwp/design/shell/tiles-and-notifications/alternate-channel-vapid-webpush

---
#### Document Details

⚠ *Do not

[2019-04-04 18:37] andrewleader commented on #1578
Correct, you can trigger a background task and then locally show toast notifications from that background task. Essentially, with normal push channels, you can send push toasts, push tiles, and push raws (which your push raws can then generate local toasts/tiles if you wish). With alternative channels, you can only send push raws (which can then generate local toasts/tiles), but you can't send pus

[2019-04-04 19:03] madenwala commented on #1578
Ok, great!  I think for the line you quoted above, perhaps consider saying "Your app's cloud service cannot send toast, tile..." instead of saying "Apps cannot send...".  I think I was confused there because your app can actually show those notifications.  Also was thrown off by this page's Channel Type Comparison chart above which said no to these notifications. Perhaps a small addition saying no

[2019-04-04 19:30] madenwala opened #1579 "Code for creating alternate channel"
The code to create an alternate channel needs to be updated...seems like this is the latest way to get a channel, not through the Current property.

PushNotificationChannelManager.GetForUser().CreateRawPushNotificationChannelWithAlternateKeyForApplicationAsync()

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6ea4ae7-4

[2019-04-04 19:31] madenwala opened #1580 "Code for alternate channels is incorrect"
The code to create an alternate channel needs to be updated...seems like this is the latest way to get a channel, not through the Current property.

PushNotificationChannelManager.GetForUser().CreateRawPushNotificationChannelWithAlternateKeyForApplicationAsync()

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c77fc01-a

[2019-04-04 20:03] andrewleader commented on #1578
That makes sense! I'll make those edits. Thanks Mohammed!

[2019-04-05 01:01] andrewleader commented on #1580
Thx, fix for this and the other clarifications is in pull request!

[2019-04-05 01:01] andrewleader commented on #1579
Thx, fix for this and the other clarifications is in pull request!

[2019-04-05 04:28] Gavin-Williams opened #1581 "Create or edit a SoftwareBitmap programmatically doesn't show anything."
I can't get this code to show anything. There is no way to invalidate the contents for the Xaml image control like there is for WriteableBitmap. And also, it has an insane amount of garbage collection, making it unusable for any realtime / graphical application.

Can we please see a sample for this demonstrating zero garbage collection and 1920x1080@60fps

---
#### Document Details

⚠ *Do not edit

[2019-04-05 09:43] reinerr16 opened #1582 "Link Brocken"
Link to ECCN Questions and Answers is brocken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6f58b9e-f8e7-5ee6-7504-67cdb4a028ba
* Version Independent ID: d922c4b8-f372-f59e-2aa7-0f8ceee6f6eb
* Content: [Export restrictions on cryptography - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/secur

[2019-04-05 12:50] madenwala opened #1583 "Sample for appServerKey to buffer?"
Could you please add sample code for converting your appServerKey from string to IBuffer? Would be immensely helpful. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6ea4ae7-43fb-17eb-8b05-bd037ac568a1
* Version Independent ID: cce897e5-f9d1-2751-5bb8-bede2e8c7383
* Content: [Alternate push channels using We

[2019-04-05 14:32] rAndom69 commented on #1428
Via ticket opened onto backend team issue with cabDownloadable=False and inaccessible cabs was considered a bug. (although it was a perilous road...)
Holding breath for a fix

[2019-04-05 14:52] adammarks commented on #1428
@rAndom69  Thanks for the update,  We also have had a premium support ticket open on this but you are making more headway with confirmation that this is actually considered a bug.

[2019-04-05 20:44] mijacobs commented on #1583
Handling in an internal thread.

[2019-04-05 20:44] #1583 closed, assigned to mijacobs

[2019-04-05 20:47] #1579 closed, assigned to andrewleader, mijacobs

[2019-04-05 20:47] #1580 closed, assigned to andrewleader, mijacobs

[2019-04-05 22:24] drewbatgit commented on #1581
Hello and thanks for your feedback. There are two separate issues here. One is the sample code in the **Create or edit a SoftwareBitmap programmatically** section of the article. This section only creates the software bitmap and doesn't display it. I just tested the code in an empty project, using the code from the **Use SoftwareBitmap with a XAML Image control** section to display the image. The

[2019-04-06 01:05] andrewleader commented on #1578
Fixed with commit e24cb950e13026563de289deb973f5f88187297a

[2019-04-06 01:05] #1578 closed, assigned to andrewleader, mijacobs

[2019-04-06 23:02] micahl commented on #1569
@jwmsft we can close this.  The last set of changes to this page removed the 'or Scroller control'.  Fwiw, I believe the link to Scroller was broken because it's under the Primitives namespace instead of just Controls.  Here's the working link for the prerelease type:
https://docs.microsoft.com/en-us/uwp/api/microsoft.ui.xaml.controls.primitives.scroller

[2019-04-07 04:07] footstep002 opened #1584 "An XAML example is missing in the Temporal Denoising section."
There's a blank in example in the temporal denoising section. Of course you can guess what that code might be from the context, but it would be nice if this can be corrected.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9c13d13-aa66-a991-c111-f67dcfe4f4d0
* Version Independent ID: 2905ffc6-edd7-de69-a9b3-b95fa4f0036

[2019-04-07 05:28] Gavin-Williams commented on #1581
Ok, so this probably belongs on a forum, as it's obviously a usage issue (at least the rendering part). I can now see the rendered bitmap using this code but it's not updating. So does the source have to be set after any rendering? Because in other styles, the source need only be set once and then invalidated each frame.

Also I'm getting this after resizing the window (even when there is no resiz

[2019-04-07 05:41] Gavin-Williams commented on #1581
[SoftwareRenderers.zip](https://github.com/MicrosoftDocs/windows-uwp/files/3051237/SoftwareRenderers.zip)

[2019-04-08 00:56] kaki104 opened #1585 "Problems with offline uwp app development"
Hello

I have been developing UWP apps from S Card in Korea since January this year.
S Card is a company that restricts the use of external internet from internal systems by Korean law.
There are various problems in UWP application development in this environment.

1. Problems downloading Nuget packages
By default, UWP app development is not possible without the nuget packages. So, when I started

[2019-04-08 07:14] syedsaadmahmood commented on #1563
I found that I was using List array instead of ObservableCollection array. This was causing the issue.

[2019-04-08 07:14] #1563 closed, assigned to jwmsft

[2019-04-08 09:54] moyanming opened #1586 "Is there doc about "IoTStartupTask"?"
Hi,
There can't be used the "IoTStartupTask" in-process mode, is there doc about the "IoTStartupTask"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbc4e874-3c89-c2df-c402-fd5005c08956
* Version Independent ID: 8af7f39d-d40c-d11c-9ea3-cecdc711037d
* Content: [Create and register an in-process background task - Window

[2019-04-08 13:01] anemomylos commented on #1557
Is it possible to use the notification listener from a desktop app (not bridged) or it is only for UWP apps? Thanks.

[2019-04-08 19:01] knicholasa commented on #1586
Hi, thanks for the feedback. Unfortunately we do not have a page on that specific API, and from what I know it is not available to UWP apps. You can find information on using **IoTStartup** on the [Windows 10 IoT Core Command Line Utils page](https://docs.microsoft.com/en-us/windows/iot-core/manage-your-device/CommandLineUtils). You could also post a question on our [forums](https://social.msdn.mi

[2019-04-08 19:01] #1586 closed, assigned to knicholasa

[2019-04-08 19:55] jevansAN commented on #1561
Steven,

	I pretty much have the print and print preview worked out for C++/Winrt but there is a gap in the documentation for CanvasPrintDocument and those pages have no invitation to comment. Perhaps I can pass one through you?
	The problem is that the crucial end of a sentence is missing on the following page

https://microsoft.github.io/Win2D/html/T_Microsoft_Graphics_Canvas_Printing_CanvasPrin

[2019-04-08 20:15] stevewhims commented on #1561
Hi, Jeff, since that topic is a Win2D topic, here's the place to file an issue with Win2D: https://github.com/Microsoft/Win2D/issues. I would use that same resource (the green New Issue button at the top) for issues with the content, too. ~Steve

[2019-04-08 20:44] jevansAN commented on #1561
Thanks. When I finally finish this I’ll have material for a how-to book. But no time to write one.

Jeff

On Apr 8, 2019, at 1:15 PM, Steven White <notifications@github.com> wrote:

Hi, Jeff, since that topic is a Win2D topic, here's the place to file an issue with Win2D: https://github.com/Microsoft/Win2D/issues <https://github.com/Microsoft/Win2D/issues>. I would use that same resource (the gree

[2019-04-09 06:25] MathiasMagnus opened #1588 "Broken link for NuGer build process docs?"
The link to the documentation of the NuGet build process seems to be broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a8b1601-1a72-aa1c-9ba2-15c2e54e99b7
* Version Independent ID: ba32307e-0e03-4372-ab62-6fc2e57155b2
* Content: [What's new in C++/WinRT - Windows UWP applications](https://docs.microsoft.com/en-us

[2019-04-09 06:48] stevewhims commented on #1588
Thanks for letting me know, @MathiasMagnus! Yes, that link isn't working any longer. I've put out feelers to see about getting it corrected. Thanks again! ~Steve

[2019-04-09 17:00] drewbatgit commented on #1584
Thank you for catching this. The XAML code snippet has been restored.

[2019-04-09 17:00] #1584 closed, assigned to drewbatgit

[2019-04-09 23:19] stevewhims commented on #1588
Ok, so the link has been fixed and published. Sorry about that, @MathiasMagnus, and thanks for letting me know about the problem. I'll go ahead and close this now. ~Steve

[2019-04-09 23:19] #1588 closed, assigned to stevewhims

[2019-04-10 02:47] eklipse2k8 opened #1590 "ARM64 is no longer supported with Desktop Bridge in VS2019"
MSB3779	The processor architecture of the project being built "ARM64" is not supported by the referenced SDK "Microsoft.VCLibs.Desktop, Version=14.0". Please consider changing the targeted processor architecture of your project (in Visual Studio this can be done through the Configuration Manager) to one of the architectures supported by the SDK: "x86, x64".

C:\Program Files (x86)\Microsoft Visual

[2019-04-10 11:24] Gavin-Williams commented on #1581
I'm going to close this. I have an alternate solution which is sufficient for my needs. I was looking for something faster, but the presentation / copy to front buffer code is actually quite fast (<1ms) and it's the byte[] rendering code that is costly. Anyway I think I can get the code to work. I'll repost if I have a more specific question. Thanks.

[2019-04-10 11:24] #1581 closed, assigned to drewbatgit

[2019-04-10 13:39] #475 closed, assigned to jwmsft

[2019-04-10 21:31] michael-hawker opened #1591 "Resource not provided in example"
In the nested Items Repeater example (Display grouped items) there's a resource references `{StaticResource MyGroupLayout}` but it is not provided.  This makes the example less useful, there's also no picture accompanying it like the other example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5ae7144-fa89-cd61-6ff7-

[2019-04-10 22:30] #1576 closed, assigned to knicholasa

[2019-04-11 03:44] sergey-koryshev opened #1593 "Custom audio doesn't work in Toast Notification for Desktop Application"
Hi,

I use custom audio in `Toast Notification` in `Desktop Application`. But I found some problems with play this audio. I have two versions of Windows:

- 1607
- 1809

In version `1607` custom audio plays perfectly. But in version `1809` custom audio file doesn't play, there is just standard sound instead my audio.

I added audio by follow code:

[code]

Am I missing something? Could someone ple

[2019-04-11 16:40] brianreinhold opened #1594 "Filter limitations"
There is nothing that I can find in the API documentation or in the more general description that states what the filter limits are. I tried filtering received advertisements by UUID. I could only add one UUID. If I added a second, nothing passed through. I am not sure if that is a bug in my implementation (don't link so) but an undocumented behavior of the filter.

---
#### Document Details

⚠ *D

[2019-04-11 17:07] michael-hawker opened #1595 "Provide link to Toolkit Alternative"
In the migration notes, it could link to the Toolkit helper (while not the same, it can be a stop-gap): https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/LayoutTransformControl

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e595edce-cb07-0645-f1d6-1b51d0e6bcc6
* Version Independent ID: b1726951-106b-1e

[2019-04-11 20:24] andrewleader commented on #1593
Thanks for reporting this! Looking into the issue with the dev team.

[2019-04-11 20:27] andrewleader commented on #1593
@Ace-Lightning your app is a classic Win32 app, correct? It is NOT using the Desktop Bridge?

[2019-04-11 20:58] sergey-koryshev commented on #1593
@andrewleader, yes, it’s classic .NET application, not Desktop Bridge

[2019-04-11 21:29] Sufiyang opened #1596 "ทำให้ม่"
[ป้อนคำติชมที่นี่]

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: 4a5f48a1-c62a-9f8f-ab29-70d013346d2a
* Version Independent ID: 6ad201c6-ae84-5c10-0129-2cfa6f420cb6
* Content: [Screen sizes and break points for responsive design - Windows UWP applications](https://docs.microsoft.com/th-th/windows/uwp/design/layout/screen-siz