[2018-07-21 21:37] toncho11 opened #819 "Update frequency"
How much time does it take for a single (addon) sale to be reflected in "Current proceeds and payments"?
I see I have an addon sale but one day later I still do not see it reflected in the "Current proceeds and payments"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52b80a63-ba2e-ea74-83d3-c63fa1d4904f
* Version Inde

[2018-07-22 00:02] Sleeplikelion opened #820 "no issues"
[Enter feedback here]
i have a problem

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7cfa056-082a-cdc4-d7c8-340f7617cc3c
* Version Independent ID: c560198c-e777-4bdb-55cc-110b11f20df5
* Content: [Introduction to Xbox One tools - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/xbox-apps/introduction-to

[2018-07-22 00:45] Sleeplikelion opened #821 "no issues"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fc1c132-3cfa-1a08-0726-214110c8d23d
* Version Independent ID: 7ddf3871-c4a1-ae0a-9c03-25ccf4934cf2
* Content: [Create a user interface tutorial - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/design/basics/xaml-basics-ui#)
* Content Source: [windows-apps-

[2018-07-22 00:45] #821 closed, assigned to nobody

[2018-07-22 00:47] #820 closed, assigned to nobody

[2018-07-22 01:14] Sleeplikelion opened #822 "no issues"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2099ff76-43d5-98fd-d8bc-66ccdc14c4fe
* Version Independent ID: 1c3f3863-5413-d58b-a0e5-81a6da6bccf2
* Content: [Account types, locations, and fees - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/publish/account-types-locations-and-fe

[2018-07-22 08:05] dongle-the-gadget commented on #801
Anyone?

[2018-07-22 08:57] mrmsbarnes opened #824 "Three years now and I'm still put off"
testing and signing and the whole caboodle is still as confusing and onerous as hell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: daac3c60-f91f-4065-d0c5-9ce5c836cb71
* Version Independent ID: 9d897adb-51b9-fbd5-727f-c896d41039dc
* Content: [Test your Windows app for Windows 10 S - UWP app developer](https://docs.mi

[2018-07-22 09:00] Sleeplikelion opened #825 "no issues"
[Enter feedback here]zzz

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fc1c132-3cfa-1a08-0726-214110c8d23d
* Version Independent ID: 7ddf3871-c4a1-ae0a-9c03-25ccf4934cf2
* Content: [Create a user interface tutorial - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/design/basics/xaml-basics-ui)
* Conte

[2018-07-23 13:47] Jaykaydre opened #827 "Grammar"
There are some grammatical error on this page. Example, the flat/lateral definition and the combining structures definition... Many more on this page too...

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a1426ac-9a20-b0a3-0ebd-8ce4b2a50882
* Version Independent ID: 771f2efb-f781-ed49-5ff0-5c95f2bc4868
* Content: [Navi

[2018-07-23 15:45] ginami commented on #817
Hi @pertho396gmail -- let us know if you have any feedback on out docs. Thanks!

[2018-07-23 15:45] #817 closed, assigned to nobody

[2018-07-23 15:46] ginami commented on #822
Hi @Sleeplikelion -- glad to hear you have no issues with this doc! :)

[2018-07-23 15:46] #822 closed, assigned to nobody

[2018-07-23 15:47] ginami commented on #825
Hi @Sleeplikelion -- let us know if you have feedback on our docs. Thanks.

[2018-07-23 15:47] #825 closed, assigned to nobody

[2018-07-23 16:27] mijacobs commented on #411
I heard back from the toolkits team--they've watched your video and are investigating ways to improve the font experience in Sketch.

[2018-07-23 18:33] mrmsbarnes opened #828 "They all become an invisible tab stop"
The phrase "Make a set of related controls a single tab stop" is a bit jarring.  Surely the word "use" or "tab order" or "accessible by" should be in there somewhere.  Make a control group accessible by a single tab stop.  Still not quite right, but I really don't want my controls transforming into something they are not.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-07-23 20:32] aablackm commented on #787
Hello Gavin!
Could you please try using the following include and using statements:
#include "RoBuffer.h"
using namespace Windows::Storage::Streams;

RoBuffer seems resolve an undefined IBufferByteAccess while Windows::Storage::Streams contains the desired definition of IUnknown.

[2018-07-23 22:44] mijacobs commented on #752
@superkid200: Add  "&#x" + the Unicode point + ";" and that will give you a hex value you can use for the FontIcon's glyph. For example, here's how you use Unicode point E700:
`<FontIcon FontFamily="Segoe MDL2 Assets" Glyph="&#xE700;" />`

[2018-07-24 21:00] mrsabhar opened #830 "CPU inference with C++ using WinML apps"
Is there plan to support CPU interface with C++ sample using WinML? I am able to create device with DX12 using CreateEvaluationContext api but currently it binds only to DX12 ? Is there preview doc shows C++ CPU interface (similar to PreferredDeviceKind Property in C#)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab

[2018-07-24 23:32] serenaz commented on #830
Yep, you can create a [LearningModelDevice](https://docs.microsoft.com/uwp/api/windows.ai.machinelearning.learningmodeldevice) with a [LearningDeviceKind](https://docs.microsoft.com/uwp/api/windows.ai.machinelearning.learningmodeldevicekind) of type CPU

[2018-07-25 02:52] JunielKatarn opened #832 "Outdated API?"
The type IAsyncAction in 'Write a coroutine' seems wrong.
According to this link (), it doesn't have a `.get()` method.

How do I get the describe behavior from such action object?
Also, what is `winrt::init_paramenter(https://docs.microsoft.com/en-us/uwp/api/windows.foundation.iasyncaction)` for?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-07-25 07:03] dongle-the-gadget commented on #801
So the app service need to be in the package project, not the UWP project. I got it now.

[2018-07-25 07:04] #801 closed, assigned to normesta

[2018-07-25 07:07] dongle-the-gadget opened #833 "Typo of content"
There is a typo of this content. App Service and Background Tasks need to add the extension in the packaging project, not the UWP project which reference to the Windows Runtime.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ba89d6c-71c3-4583-8d7f-8db231a96b07
* Version Independent ID: ce5b525b-597c-0859-ed9c-aa310449

[2018-07-25 16:58] ntsig commented on #694
I am having the same problem has anybody come up with a solution?

[2018-07-25 17:29] Karl-Bridge-Microsoft commented on #663
Thanks for the feedback! I confirmed most of your findings and I've updated the topic to reflect this.

[2018-07-25 17:29] #663 closed, assigned to Karl-Bridge-Microsoft

[2018-07-25 18:21] PeterSmithRedmond opened #834 "So....where does a storyboard go?"
The documentation would have been much more useful if, the first time you introduce the "storyboard", you provide the recommendation for where they go! As it is, you've got a snippet of XAML that, when pasted into a normal XAML file, will not work at all!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 399a8cb7-9752-283

[2018-07-25 20:13] Dooskington opened #835 "Typo: RoutedEventArgs => RouteEventArgs"
In the first code snippet of Step 4, RoutedEventArgs is misspelled as RouteEventArgs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f2e0944-3981-142e-2654-01ab8adc78dd
* Version Independent ID: bc455444-d972-742d-b7b1-0845b60191df
* Content: [Learn how to create a ](https://docs.microsoft.com/en-us/windows/uwp/get-st

[2018-07-25 20:23] stevewhims commented on #832
Yes, this is an important point. I have just updated both topics that you mention in order to add clarification. I expect these changes to be live within 24 hours, but until then here is the info that I added:

The **get** function exists on the C++/WinRT projection type **winrt::Windows::Foundation::IAsyncAction**, so you can call the function from within any C++/WinRT project. You will not find

[2018-07-25 20:44] jwmsft commented on #834
@PeterSmithRedmond, thanks for the feedback. The 'Defining a storyboard as a resource' section of the article explains more about where to put the storyboard. However, I agree that this should be included with the first code snippet , too. I've submitted an update to provide this context in the first snippet.

[2018-07-25 20:44] #834 closed, assigned to jwmsft

[2018-07-25 20:48] YuliKl commented on #433
The current tabbing behavior is a deliberate choice intended to be consistent with other aspects of the platform. Our expected mental model for users is that Tab key moves them between larger chunks of UI while arrow keys are for more local navigation (usually within a control). So default ListView and NavigationView behavior is deliberate: we want users to tab to the list and arrow within the lis

[2018-07-25 22:42] ddbb2017 opened #836 "Desktop App Converter .net failures when installing/converting a Win32 app in a VM, v. 17134"
Please check SO link for details:
[https://stackoverflow.com/questions/51437203/desktopappconverter-woes-windows-10-v-17134](https://stackoverflow.com/questions/51437203/desktopappconverter-woes-windows-10-v-17134)

[2018-07-25 23:03] PeterSmithRedmond commented on #834
While you’re at it – as it turns out, you can’t actually animate everything. For example, you can’t animate the FontSize property of a TextBox ☹

Peter

From: Jim Walker <notifications@github.com>
Sent: Wednesday, July 25, 2018 1:44 PM
To: MicrosoftDocs/windows-uwp <windows-uwp@noreply.github.com>
Cc: Peter Smith <pesmith@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft

[2018-07-25 23:27] ginami commented on #836
Hi @ddbb2017 -- it looks like you've got a Microsoft employee helping you via your SO post. Are you posting the issue here because we need to update one of our docs? If so, could you please give me the URL of the related doc?
Thank you!

[2018-07-26 01:39] sjointer commented on #809
I looked closer at the exposed properties for the "args" parameter in the Keyboard Accelerator version of the method, and, after a couple of minutes of manipulating the accelerator and trying a few different things, I finally made the keyboard accelerator work and call the correct Keyboard Accelerator method, and not the accelerator method associated with the page itself...but the answer is USELES

[2018-07-26 02:02] CaliforniaChao opened #837 "How to dispose _session and _framepool in C++"
Here is my StopCapture function:

void testScreenCapture::MainPage::StopCapture()
{
	if (_session)
		_session-&gt;Close();
	if (_framePool)
		_framePool-&gt;Close();
	_item = nullptr;
	_session = nullptr;
	_framePool = nullptr;
}

I got two errors when compile:
Error	C2039	'Close': is not a member of 'Windows::Graphics::Capture::GraphicsCaptureSession'
Error	C2039	'Close': is not a member of 'Wind

[2018-07-26 02:57] CaliforniaChao commented on #837
`void testScreenCapture::MainPage::StopCapture()
{

	if (_session)
		delete _session;
	if (_framePool)
		delete _framePool;
	_item = nullptr;
	_session = nullptr;
	_framePool = nullptr;
}`

[2018-07-26 02:57] #837 closed, assigned to nobody

[2018-07-26 13:29] sjointer opened #838 "Using DirectX in a UWP app"
In the note above, it's stated that "...you can create a UWP app with C# and XAML that uses DirectX, if you wrap the DirectX calls in a separate Windows Runtime metadata file..." Do I create the DirectX calls as a C++ runtime component, or a C# runtime component?  Could you please expand on this note?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-07-26 17:32] #791 closed, assigned to eliotcowley

[2018-07-26 19:47] mtoepke commented on #838
Thanks for your question sjointer.

Create a C++ Windows runtime component, and make your C++ DirectX calls from there.  Then that component can expose runtime calls to your main C# program.

There's also some XAML/DirectX interop guidance here: https://docs.microsoft.com/en-us/windows/uwp/gaming/directx-and-xaml-interop.

[2018-07-27 01:58] sjointer commented on #838
Thanks for the answer.  Be aware that the link you provided directs back to the same page that I posted my question on.

[2018-07-27 02:42] Silic0nS0ldier commented on #811
I think `PanePosition` may in itself be a mistake too. Unless there was an API change (seems likely for documentation of pre-release content).

Anyway, should be `PaneDisplayMode` which accepts an enum value from `NavigationViewDisplayMode`.
Values are `Auto`, `Left`, `Top`, `LeftCompact`, `LeftMinimal` btw. I suggest replacing "Left" with "Side" if possible since the `FlowDirection` property affe

[2018-07-27 11:47] MihaiUdrea opened #839 "Are there any samples implementing background tasks using C++/WinRT?"
I've found samples about registering background task using C++/WinRT code but how about implementing the actual task in C++/WinRT.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e9daac3-b416-9a90-39ff-55ada1d9d461
* Version Independent ID: fecefe30-8a56-5da4-1123-7e822d96ae8a
* Content: [Create and registe

[2018-07-27 13:05] Quico20 opened #840 "There is an error on your source code!"
at [https://docs.microsoft.com/en-us/windows/uwp/app-to-app/share-data#delay-share-with-delegates] Delay Share With Delegates
in your source code there is an error at adjusting width at 50%.
this is the original code and it adjust scaledwith by getting 50% of height.
// Re-encode the image at 50% width and height.
        BitmapEncoder imageEncoder = await BitmapEncoder.CreateForTranscodingAsync(i

[2018-07-27 15:18] ginami commented on #836
Hi @ddbb2017 -- I'm going to close out this issue. If you have updates for our docs, let us know. Thank you!

[2018-07-27 15:18] #836 closed, assigned to nobody

[2018-07-27 15:22] dongle-the-gadget commented on #833
I think typo is included in all of the samples (except the XAML UI). The extensions of the contents which have typos need to be in the packaging one, UWP only gives the app the reference to the out-of-process or in-process extension code.

[2018-07-27 16:57] ddbb2017 commented on #836
@ginami no, I'm posting it here so that Microsoft fixes their g-*-dd-*-m UWP converter. I wasted 7 days to convert my app for the Windows store. Don't you think that is the reason why the only thing Windows store has is a crickets sound.

Anyway, that Microsoft employee did nothing. The resolution to this issue is indeed in that SO thread. It was way more simple -- to disable  "Real-time protectio

[2018-07-27 19:27] JnHs commented on #819
I'm sorry for the delay in responding. For most transactions, earnings are posted within a day or two. If you don't see the earnings reflected after 7 days, you should open a request at http://aka.ms/storesupport so that we can investigate.

[2018-07-27 19:27] #819 closed, assigned to JnHs

[2018-07-27 22:24] GrantMeStrength commented on #814
Hi -

This is totally "by design" behavior, and has been for several years now. There is no security risk.

https://blogs.msdn.microsoft.com/windowsappdev/2012/12/04/designing-a-simple-and-secure-app-package-appx/

-John

[2018-07-27 22:24] #814 closed, assigned to GrantMeStrength

[2018-07-27 23:56] dwcullop opened #841 "Extra Text in "Asset package" paragraph"
The paragraph that describes "Asset packages" has a nearly duplicate sentence that can be removed:

&gt; For example, this might include a collection of pictures in one asset package, and videos in another asset package, both of which are used
&gt; by the app. For example, this might include a collection of pictures in one asset package, and videos in another asset package.

---
#### Document Deta

[2018-07-28 08:27] sjointer commented on #814
I understand that it's by design.

Steps to violate security...and this is just off the top of my head; I haven't actually done this.

- Create a standard user account with no password OR no screen locking
- Install VS 2017
- Write a UWP App that either
    1. contains a WebView that links to a malicious website, OR
    2. contains actual malicious code.
- Compile the app, allowing it to install o

[2018-07-28 15:32] dongle-the-gadget commented on #833
Oh! The same typo is in all content. Please edit the content as soon as possible.

[2018-07-28 19:08] juancols opened #842 "'await' operator issue"
After following the tutorial and hit run, I've got this error message:

" Error CS4033	The 'await' operator can only be used within an async method. Consider marking this method with the 'async' modifier and changing its return type to 'Task'. "

Why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f2e0944-3981-142e-26

[2018-07-28 21:41] Sleeplikelion opened #843 "zz"
z

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc0a5dcc-6984-5f19-7fa7-345e4b5247d3
* Version Independent ID: dfafa9b9-6d06-dcab-b90b-718f4ac04c7f
* Content: [UWP on Xbox One - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/xbox-apps/index)
* Content Source: [windows-apps-src/xbox-apps/index.md](http

[2018-07-29 04:14] sjb-sjb opened #844 "Combining EntranceNavigationTransitionInfo with EntranceThemeTransition"
I searched in vain for information on how to customize the EntranceNavigationTransitionInfo. Then I tried this and it worked.

                <Frame.ContentTransitions>
                    <TransitionCollection>
                        <EntranceThemeTransition
                            FromHorizontalOffset="16"
                            FromVerticalOffset="0"

                        <Entranc

[2018-07-29 14:59] CraigAtMidmark opened #845 "Publisher Display Name Question"
Can you change your Publisher Display Name after creating a developer account type?  I don't see this documented anywhere in this post.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726a5c98-ba0b-38a0-d86e-2d5df4745d1a
* Version Independent ID: 643673cc-0b57-86f6-e00d-13aad2ef8d20
* Content: [Opening a developer accou

[2018-07-30 06:06] jlinstrum opened #846 "Need To Include Info on CoreWindow.CharacterReceived"
This is an excellent article, but there needs to be somewhere where all of this information is integrated with hints on how to use the CoreWindow events (such as CoreWindow.CharacterReceived), and when to use CoreWindow instead of attaching to a UIElement keyevent.  CoreWindow.CharacterReceived is pretty much the only way in UWP to receive keyboard inputs as Unicode characters (super important for

[2018-07-30 11:32] BillCowell opened #847 "Request for Rating causes an error in Windows Store app"
I am adding a request for rating in my app using

bool result = await Windows.System.Launcher.LaunchUriAsync(new Uri("ms-windows-store://review/?ProductId=XXXXXXXXXX"))

The rating dialog opens in Windows Store App but when the user cancels the rating dialog an error message, code  0x80073CFB, is shown in the Windows Store app. Is there a way to avoid this?

---
#### Document Details

⚠ *Do not ed

[2018-07-30 12:31] hannahpewter opened #848 "Change the trial period on subscription add ons"
Is there any way I can do this without having to re add a new add on?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4df3fc61-cd09-1c65-a2aa-7c6849488688
* Version Independent ID: 63719300-f46f-a232-a5f9-3dfee9206d3a
* Content: [Enter add-on properties - UWP app developer](https://docs.microsoft.com/en-gb/windows/uwp/p

[2018-07-30 15:54] GrantMeStrength commented on #814
But what you are saying is that if I write malicious code on my own computer through my own choice and run it, then I've malicious code running on my machine. :-)

OK, yes, I get what you are saying and I'm not trying to be flippant, but remember: in order to develop code on a Windows computer you have to switch on Developer Mode, and with that power comes with great responsibility.

Here's my rec

[2018-07-30 15:56] ginami commented on #843
hi @Sleeplikelion -- let us know if you have feedback on our docs.

[2018-07-30 15:56] #843 closed, assigned to nobody

[2018-07-30 16:47] schlzber opened #849 "Compiler errors using winrt::make<>"
When I use the apropriate call to winrt::make&lt;&gt; in the constructor of my class I get compiler errors (translated from German):

musiclibrary.cpp(10): error C2672: "winrt::make": no matching overloaded function found
musiclibrary.cpp(10): error C2974: "winrt::make": invalid template argument for "D", Type expected.
1&gt;c:\program files (x86)\windows kits\10\include\10.0.17713.0\cppwinrt\winr

[2018-07-30 16:53] GrantMeStrength commented on #842
The code is correct. Once you add an **await** call to a method, you must change the method to be **async** so that it doesn't block waiting for the **await** call.

If you _don't_ have an **await** call in the method, you don't need to make it an **async** method.

Hope this helps.

[2018-07-30 16:53] #842 closed, assigned to GrantMeStrength

[2018-07-30 18:43] stevewhims commented on #686
@rextanka, I'll go ahead and close this issue now since it's been a while and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2018-07-30 18:43] #686 closed, assigned to nobody

[2018-07-30 18:51] Dooskington opened #850 "Minor typo in path"
There's an extra slash after "bin" in the path provided for the tool executable, in the first section of this page:
C:\Program Files (x86)\Windows Kits\10\bin\\x86\WinAppDeployCmd.exe

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 257943f4-937b-97a6-748b-0aac7e8da7d9
* Version Independent ID: f8ca677b-0f3f-0fe1-b921-38

[2018-07-30 19:04] juancols commented on #842
Thank you Grant, I appreciate your help!

[2018-07-30 20:05] stevewhims commented on #849
Hi, @schlzber, thanks for opening this issue: it looks like I need to improve this topic. winrt::make<D> is expecting D to be a type; and the compiler error you're seeing can happen when you supply an identifier or a function as D, instead of a type. Are you using the released version of the SDK (which is 17134), or are you using a later Insider version of the SDK (version 17661 or later)? If you'

[2018-07-30 21:51] mcleanbyron commented on #847
I'm sorry you're running into this issue. Just to be clear, are you seeing this error when passing an actual product ID for an app in the Store? I'm not seeing this error with a real product ID.

[2018-07-30 21:55] QuinnRadich commented on #729
You're correct - the code has since been changed to default to a single column, and adjust to a multi-column layout when the conditions are appropriate.

[2018-07-30 21:55] #729 closed, assigned to QuinnRadich

[2018-07-31 06:38] BillCowell commented on #847
Yes, I am passing an actual product ID for an app in the Store. However, trying again this morning after rebooting my PC the issue has gone away and the routine works as expected. Apologies for the false lead.

[2018-07-31 06:42] BillCowell commented on #847
Yes, I am passing an actual product ID (9WZDNCRDND5T) for an app in the Store. However, trying again this morning after rebooting my development PC the issue has gone away and the routine works as expected. Apologies for the false lead. And thank you McLean for the quick response.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From:

[2018-07-31 08:03] schlzber commented on #849
Hello Steve,

thanks for you explanation. I was  using the 17713  Preview SDK. I switched back to the 17134 SDK and included the header and now it works. Thanks. :-)

Daniel

[2018-07-31 08:03] #849 closed, assigned to stevewhims

[2018-07-31 09:30] Shenn299 opened #852 "Registration and de-registration protocol"
Hi,
on the registration and de-registration protocol schema, in the provisioning step, the companion app sends the DeviceKey to the companionAuth Service, but the deviceKey doesn't  appear next to the AuthKey. The deviceKey is stored on the device, isn't it ? So, why the service needs to get the deviceKey ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-07-31 09:42] dongle-the-gadget commented on #752
But ECA5 cannot work.

[2018-07-31 09:45] #847 closed, assigned to mcleanbyron

[2018-07-31 13:55] Sleeplikelion opened #853 "activities"
nop

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03829a62-ce3b-910e-2738-917069fba449
* Version Independent ID: a18b2869-ea37-956f-bdcc-800ac52ae350
* Content: [Getting started - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/gaming/getting-started#useful-links)
* Content Source: [windows-apps-src/ga

[2018-07-31 15:46] ginami commented on #853
Hi @Sleeplikelion -- let us know if you have any docs feedback.

[2018-07-31 15:46] #853 closed, assigned to nobody

[2018-07-31 16:13] blogcraft opened #854 "Any Toast notifications for VB winforms?"
In my company we have a very large 10 year old product built in VB.NET, is there a way to get the win10 apis like toast notifications?

[2018-07-31 16:15] stevewhims commented on #849
Great, thanks, Daniel!

[2018-07-31 16:36] rextanka commented on #686
Thanks Steve, I think that's fine! All the best. - Nick

[2018-07-31 18:06] mijacobs commented on #752
But `&#xECA5;` does work:
[code]

[2018-07-31 19:20] hansmbakker opened #856 "Would like to see a toolkit for Affinity Designer"
As a user of Affinity Designer I'd like to have a version of the UI kit for Affinity Designer. It is a nice design program and I believe it is the only serious design program available through the Microsoft Store.

There is a user-created version available at https://github.com/chrisg32/AffinityDesignerUWPAssets but unfortunately that is outdated - it would be great if you could maintain an up-to-

[2018-07-31 19:37] mijacobs commented on #856
Thanks for the feedback, @wind-rider! I've passed your request on to our Design Toolkits team.

[2018-07-31 19:43] mijacobs commented on #854
Hi @blogcraft ,
Is your application using WinForms or WPF? Adding @normesta  and @andrewleader, our cross-compatibility and notifications experts.

[2018-07-31 19:48] mijacobs commented on #779
@OneWorld123  Thanks for the feedback! I looked through the related links you shared, and it sounds like the issue is with the Visio Application. I'll pass your feedback on to that team.

[2018-07-31 19:49] hansmbakker commented on #856
Thank you!

[2018-07-31 19:51] mijacobs commented on #779
@OneWorld123 I found the UserVoice page for Visio--UserVoice is how most of our product teams get feedback. Can you file this issue there?
https://visio.uservoice.com/

[2018-07-31 19:56] andrewleader commented on #854
Hey @blogcraft, yes you can use notifications on Windows 10 from Win32 apps! Here's the docs: https://docs.microsoft.com/en-us/windows/uwp/design/shell/tiles-and-notifications/toast-desktop-apps

[2018-07-31 20:01] normesta commented on #854
Hello - provided that your application conforms to these guidelines ([Prepare a Package](https://docs.microsoft.com/en-us/windows/uwp/porting/desktop-to-uwp-prepare)), you can use Win10 APIs such as notifications.
In fact, this topic goes into specifics about what sort of file references you'll need along with a notification code example  [Enhance for Windows 10](https://docs.microsoft.com/en-us/w

[2018-07-31 20:04] andrewleader commented on #854
@normesta you don't need to package your application with Desktop Bridge to use toast notifications.

@blogcraft simply look at the docs I linked. If you want to use additional Windows 10 features, like Live Tiles, location APIs, etc, then you should look into using Desktop Bridge!

[2018-07-31 20:08] normesta commented on #854
Hmm. My understanding was that applications required identity to use notifications.  Is that not the case for this specific API? Many APIs do require identity. I was under the impression that this was one of them. It's very hard to get a definitive list of which do and which don't and I actually have not attempted to access notifications in a straight desktop application with no identity.

[2018-07-31 20:11] andrewleader commented on #854
I'm the PM owner of toast notifications in Windows, long ago (since Windows 8.1) we created ways for desktop apps (non-WinRT/non-UWP) to send notifications, before the Desktop Bridge days. Our APIs require identity, but we provided a different way to provide that identity. That's how Outlook Win32 has been able to send notifications since the first days of Windows 10.

[2018-07-31 20:17] normesta commented on #854
Thanks Andrew. Is your alternative approach to obtaining identity well documented somewhere so that we can point @blogcraft to it?

The conventional approach that we've been advocating for is to use the Bridge. If there is a better, more convenient approach to getting that identity without having to package an app, and we have that officially documented, I think this would be immensely helpful for

[2018-07-31 20:58] ghost opened #857 "Only work with included model ??"
when I run [this sample](https://github.com/Microsoft/Windows-Machine-Learning/tree/master/Samples/UWP/MNIST) no err everything look normal but when I change model.onnx with [model from this link ](https://github.com/onnx/models/tree/master/mnist) then boom ![image](https://user-images.githubusercontent.com/7003205/43486699-c4308f82-9529-11e8-8239-a2b6d4c55126.png) so I tried to compare this two m

[2018-07-31 21:37] amp64 opened #858 "How To Debug PushNotificationTrigger in Visual Studio"
This can be done using VS's "Debug Installed App Package" option. Select your app, then select "Do not launch but debug my code when it starts". This done, fire a Push notification from your service and you can then debug your code. (Other difficult-to-debug triggers may also work with this but I have only tried Push).

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2018-07-31 22:16] andrewleader commented on #854
I already linked to it in my first answer: https://docs.microsoft.com/en-us/windows/uwp/design/shell/tiles-and-notifications/toast-desktop-apps

It only works for notifications. It has a full code sample linked for both C# and C++ desktop apps. For anything outside of notifications, Desktop Bridge is the only way to use APIs that require identity.

[2018-07-31 23:08] mcleanbyron commented on #678
Hi there -

[2018-07-31 23:14] mcleanbyron commented on #678
Hi there - If you still have access to the code you were trying, can you let me know what string you were passing to the publisherUserId parameter that resulted in getting back an empty string for the Windows Store ID key? I have finally confirmed with the engineering team that developers can't pass null or an empty string to this parameter, but apparently any string should work so they're very in

[2018-08-01 02:15] AngelMunoz opened #859 "Fluent Design and JS UWP Apps"
Hello, are we ever going to have a JavaScript version of any of this?
Since WinJS is not being maintained anymore (contrary to what the readme says there are PR that have been siting for months and even the official website now redirects to GitHub)
It would be nice that JavaScript Apps For the UWP Platform had this too

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2018-08-01 14:18] cpparkin opened #860 ""Query for products" & "Get Subscription for a user" return empty json lists?"
Successfully placed purchase using &lt;StroreProduct&gt;.RequestPurchaseAsync();
Can locate active subscription as a "durable add-on" in results of &lt;StoreContext&gt;.GetAppLicenseAsync();
However, when using the REST API, both "Query for products" & "Get Subscription for a user" return an empty json list;
{
    "items": []
}
Any ideas?

---
#### Document Details

⚠ *Do not edit this section. It

[2018-08-01 14:58] bezysoftware opened #861 "Wrong URL in example for extending subscription"
It should be https://purchase.mp.microsoft.com/v8.0/b2b/recurrences/{recurrenceId}/change

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e6f5f94-6f63-e18a-673c-b8c4fac73dea
* Version Independent ID: c094c841-0477-362a-1070-cedba080f57e
* Content: [Change the billing state of a subscription for a user - UWP app develop

[2018-08-01 17:14] serenaz commented on #857
The sample uses Windows.AI.MachineLearning.Preview APIs, which use ONNX v1.0 models. The ONNX model zoo has been updated to v1.2.2. We're updating all the samples to use the new Windows.AI.MachineLearning APIs, which use ONNX v1.2. The samples should be updated by tomorrow!

[2018-08-01 17:14] #857 closed, assigned to serenaz

[2018-08-01 17:22] #830 closed, assigned to serenaz

[2018-08-02 05:30] thomas-yost commented on #679
This is an incomplete example and doesn't work as expected.  It doesn't replace the default image, it adds a new one.  In addition, the example should include code-behind to handle the three image states, open, closed, and no children.

[2018-08-02 06:43] pkebets opened #862 "How to establish the connection to /ext/remoteinput websocket"
1) What is the correct endpoint for /ext/remoteinput websocket
ws://xbox_ip:11443/ext/remoteinput websocket
or
wss://xbox_ip:11443/ext/remoteinput websocket

2) Should the xbox device portal be configured with valid cert or default untrusted is fine?

3) What OS edition or OS version the /ext/remoteinput websocket is supported from

4) Does /ext/remoteinput websocket interaction work for retail bo

[2018-08-02 13:44] ArchieCoder opened #863 "Flaw in the Paginate event handler in the Print feature"
Hello,

In the event handler of Paginate, my app needs to do some awaitable calls in order to generate the content to print. The issue when the await call is called is the event handler GetPreviewPage is called **before** the Paginate page to be completed.

I can repro this in the Print sample here inserting a await Task.Delay(400) in AddOnePrintPreviewPage.

Would love to know if it is a bug or i

[2018-08-02 15:08] ginami commented on #862
Hi @pkebets -- what page in our docs are you referring to? (This will help me route your question to the correct author.) Thanks!

[2018-08-02 15:25] bindusadu commented on #862
Hi @ginami ,

We are trying to connect to a xbox retail kit using https://github.com/Microsoft/WindowsDevicePortalWrapper/blob/06b65c173bb79890a3134d0e183e211408a50069/WindowsDevicePortalWrapper/WindowsDevicePortalWrapper.Shared/DevicePortal.cs#L199

We tried to use default untrusted cert and a valid enterprise SSL cert, both times get the error "The underlying connection was closed: Could not est

[2018-08-02 15:42] pkebets commented on #862
Hi @ginami
Here are the references to the docs:

The author should be @WilliamsJason

1) https://docs.microsoft.com/en-us/windows/uwp/xbox-apps/uwp-remoteinput-api

2) https://github.com/MicrosoftDocs/windows-uwp/blob/51ca48aae747febe01efe4b1d377c606e3ca4e0c/windows-apps-src/xbox-apps/uwp-remoteinput-api.md

Thanks

[2018-08-02 17:21] WilliamsJason commented on #862
I'll answer these questions as best I can--

1. We only allow https and wss access to Device Portal on Xbox. So the second endpoint is the correct one.

2. Either cert type is fine, but I'm seeing a recent regression when trying to clear the certs which appears to require a factory reset to get the certificates back into a good state. I'm still investigating, but for now I would just use the defau

[2018-08-02 17:25] guillaumecouture opened #864 "Link to Dev Center Dashboard redirects to partner dashboard"
Good afternoon,

We are trying to assist a customer in completing the above procedure, but we always get redirected to the https://partner.microsoft.com/en-us/dashboard/directory when clicking the link http://developer.microsoft.com/dashboard ... As you can imagine, the detailed procedure does not seem to apply.  Can you please advise of the location of the new procedure to Associate an Azure Acti

[2018-08-02 17:49] pkebets commented on #862
@WilliamsJason , thanks a lot for detailed answers, we will follow it

[2018-08-02 17:51] mcleanbyron commented on #861
Thanks for reporting this. I have fixed the request example in the article.

[2018-08-02 17:51] #861 closed, assigned to mcleanbyron

[2018-08-02 18:03] mcleanbyron commented on #860
Hello - Please use one of the developer support options at [https://developer.microsoft.com/en-us/windows/support](https://developer.microsoft.com/en-us/windows/support) for assistance (this repo is for the docs, and isn't an official support channel). That said, here are a few things you might want to check:
- Make sure you [created two different Azure access tokens with the necessary audience UR

[2018-08-02 18:03] #860 closed, assigned to mcleanbyron

[2018-08-02 18:53] omar201816 opened #865 "Cant show pdf in pdf.js in uwp"
Hi.
I've been using pdf.js and a weibiew render to show a pdf or word file in UWP; in Release and Debug mode if it works, but when I generate the .appxbundle and install the application, I get a damaged Access error when trying to move the file from the local storage to the assets folder of the project.

The code to save the pdf:

// create file in public folder
StorageFolder storageFolder = Appli

[2018-08-02 20:45] JnHs commented on #864
We have recently changed some URLs but I believe they should be redirecting to the right location - I will investigate this with our team. In the meantime, I'm guessing you are seeing the Directory page because you are not already logged in to the Partner Dashboard. Please be sure to log in with a valid Dev Center account and then try again. I'll leave this issue open so you can let me know if tha

[2018-08-02 20:55] guillaumecouture commented on #864
Thank you for the quick response.  I might have forgot to indicate this information, but even signed in using a Dev Account, the settings option is not available.

Thanks !

[2018-08-02 21:15] JnHs commented on #864
That seems strange if you are signed in. Do you see the gear icon in the upper right corner of the dashboard? There should be a "Developer settings" or "Account settings" link here. After you select that you should see "Tenants" in the left menu of the page that appears (as long as you have the Manager permission for the account you're working in). If you aren't able to see this I would suggest op

[2018-08-02 22:40] normesta commented on #854
Great. Thank you all! Ok closing issue as it seems we have a path forward for @blogcraft . @blogcraft, if your just planning to use notifications, then you can do that by using the guidance that Andrew provided. If you plan to use most other WinRT APIs, it's best to create an app package for your desktop application, and then use the guidance here (https://docs.microsoft.com/en-us/windows/uwp/port

[2018-08-02 22:40] #854 closed, assigned to normesta, mijacobs

[2018-08-02 23:47] rbeesley opened #866 "Pane > Left Nav > References don't match the items in the picture"
Menu Button is listed as Nav Items, Nav Items are listed as something else, etc. Seems like Menu Button was attributed as 6 in the list when it should have been 1, and all references which follow are off by one. 0/1 index problem? :-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 745ab6c5-cfbe-a56f-dccd-ab55123f9223
*

[2018-08-02 23:49] rbeesley opened #867 "Pane > Top Nav > References don't match the items in the picture"
Like #866, these also are mislabeled. 4 and 5 match up, but the others are off.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 745ab6c5-cfbe-a56f-dccd-ab55123f9223
* Version Independent ID: 54455a9f-a92f-e462-558d-78fb696dba8c
* Content: [Navigation view - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp

[2018-08-03 08:34] fredstoolbox opened #868 "Failed store certification"
The nuget packages provided in this article fail to pass the app certification process. ALL dlls in these package failed the store security tests with AppContainer checks. If you need OpenCV, download from the source and build your own with the correct flag.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dada0a82-fb87-

[2018-08-03 12:55] OneWorld123 commented on #779
Done. I hope for the best. https://visio.uservoice.com/forums/229400-visio-on-desktop/suggestions/35021365-private-use-unicode-characters-like-segoe-mdl2-ass

[2018-08-03 12:55] #779 closed, assigned to mijacobs

[2018-08-03 14:01] gabrieloria opened #869 "Start Screen Management capability and secondary tiles"
Hi,

With the Start Screen Management capability I was able to pin the app itself silently like the doc says, but when I tried to pin a secondary tile the confirmation dialog was still displayed, is that the expected behavior?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30a70676-883b-801e-2f07-881923cb0b96
* Version

[2018-08-03 17:17] mikematteson commented on #865
@omar201816 : Thanks for reaching out to the Windows Developer Documentation team. Unfortunately, we don’t have the resources here to offer individual technical advice to the broad array of customers who use the documentation.

You mentioned that you already posted your question to a forum but received no answers. If you'll provide a link to that post (so we can see which forum it's in), I'll see

[2018-08-03 20:40] epatr commented on #737
The .PDF included with the XD download lists uwpappdesignfeedback@microsoft.com as the email address to use for feedback like this.

[2018-08-04 09:21] MonneOnrust commented on #678
Hi, getting back the empty string was a fault of my own. I passed in the word 'Bearer' and then the token instead (like in filling an HTTP header) of just the token. I'm sorry for the confusion.

[2018-08-04 15:32] JohnMasen opened #870 "How to consume the converted model from CoreML with image input/output?"
I found this topic mentions that the data buffer should be manipulated before you can use it. however the generated wrap class uses VideoFrame with does not support BGR format( an exception will be thrown if you try to evaluate the model).  any examples for how to consume this kind of model would be great.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2018-08-05 15:21] dongle-the-gadget opened #871 "Ad customization"
Can I customize my ads by my own way?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b08c6292-c94c-2d95-e800-b14d404879f9
* Version Independent ID: 83029484-dc65-6c17-80f3-e75a6bbc6732
* Content: [Display ads in your app with the Microsoft Advertising SDK - UWP app developer](https://docs.microsoft.com/en-us/windows/uw

[2018-08-06 15:37] cjw1115 opened #872 "I often meet an error called "REGDB_E_CLASSNOTREG Class not registered""
this is my model IDL

    namespace BlankApp1
    {
        runtimeclass  Model : Windows.UI.Xaml.DependencyObject, Windows.UI.Xaml.Data.INotifyPropertyChanged
        {
            Model();
            String Title;
        }
    }

[2018-08-06 15:41] cjw1115 opened #873 "I often meet an error called "REGDB_E_CLASSNOTREG Class not registered""
this is my model IDL

    namespace BlankApp1
    {
        runtimeclass  Model : Windows.UI.Xaml.DependencyObject, Windows.UI.Xaml.Data.INotifyPropertyChanged
        {
            Model();
            String Title;
        }
    }

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4db0aab-b906-9dec-381c-ceccc1e90c45
* V

[2018-08-06 15:41] #872 closed, assigned to nobody

[2018-08-06 16:13] serenaz commented on #870
Which API version are you using? [Windows.AI.MachineLearning.ImageFeatureValue](https://docs.microsoft.com/uwp/api/windows.ai.machinelearning.imagefeaturevalue
) should support BGR format.

[2018-08-06 16:15] mcleanbyron commented on #871
Thanks for reaching out. Can you provide more details and/or examples that explain the scenario you're trying to achieve? If you're asking from the perspective of an app developer, when you use the Microsoft Advertising SDK your app is served banner, interstitial, video, or native ads from one of our [supported ad networks](https://docs.microsoft.com/en-us/windows/uwp/publish/in-app-ads#supported-

[2018-08-06 16:16] mcleanbyron commented on #678
Thanks for the additional info, and I'm glad you were able to resolve the problem on your end.

[2018-08-06 16:16] #678 closed, assigned to mcleanbyron

[2018-08-06 17:31] kchaitanyabandi opened #874 "How to downscale the pixel values in UWP App (C#) ?"
Hi,

I built a UWP App based on the Squeeze Net example provided in the repository (C#) that uses a Deep Learning model (ONNX) for image classification. I have built the deep learning model in PyTorch where the pixel values of the image have been scaled down from the range [0, 255] to [0, 1] and then normalized with channel wise (RGB) standard deviation and mean. So, this model expects the pixel v

[2018-08-06 19:42] stevewhims commented on #873
Hi, @cjw1115, that error can happen if you instantiate a locally-implemented runtime class via the projected type's default constructor. For example, if you declare a field like this:

[code]

Instead, do this:

[code]

And then assign a value to that field later like this:

[code]

The topic in question shows this same pattern. And the [Troubleshooting](https://docs.microsoft.com/en-us/windows/uw

[2018-08-07 14:05] cjw1115 commented on #873
It works well after I correct my code as you described. Thanks a lot~

[2018-08-07 15:10] dongle-the-gadget commented on #871
Such as, I wanted to create an Azure advertisement of my own, can I have the option to do that?

[2018-08-07 15:18] dongle-the-gadget opened #875 "Package page error"
I am using Microsoft Partner dashboard and I always see an unknown error.
Error details:
Status: Unknown Error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0098ee34-7905-a879-190b-10f783f638a6
* Version Independent ID: beb7fc7d-233c-5a15-a9a6-ffe86639527c
* Content: [Upload app packages - UWP app developer](https://d

[2018-08-07 15:23] JnHs commented on #875
It's hard to know what's happening without more info. Which page or area shows this error?

[2018-08-07 15:28] #833 closed, assigned to normesta

[2018-08-07 16:17] mikematteson commented on #874
Hi @kchaitanyabandi ,
Thanks for reaching out to the Windows developer documentation team. Unfortunately, we don’t have the resources to offer individual technical advice to the broad array of customers who use the documentation. You may have success posting your question in [a Microsoft forum or on Stack Overflow](https://developer.microsoft.com/en-us/windows/support) (select the **Forums & commu

[2018-08-07 16:17] #874 closed, assigned to mikematteson

[2018-08-07 16:30] stevewhims commented on #873
Great! Thanks, @cjw1115. ~Steve

[2018-08-07 16:30] #873 closed, assigned to stevewhims

[2018-08-07 16:53] mcleanbyron commented on #871
As an application developer, no, there is no option for creating your own advertisements. When you use the Microsoft Advertising SDK your app is served ads from one of our [supported ad networks](https://docs.microsoft.com/en-us/windows/uwp/publish/in-app-ads#supported-paid-ad-networks).

If you work for or otherwise represent an ad network and want to investigate your options for partnering with

[2018-08-07 16:53] #871 closed, assigned to mcleanbyron

[2018-08-07 17:05] serenaz commented on #874
@kchaitanyabandi Which SDK are you using? I'd recommend the [latest insider SDK](https://www.microsoft.com/en-us/software-download/windowsinsiderpreviewSDK), so you can use the [Windows.AI.MachineLearning](https://docs.microsoft.com/uwp/api/windows.ai.machinelearning) APIs, which have fixed some bugs from the Windows.AI.MachineLearning.Preview APIs. I'd also recommend posting to StackOverflow with

[2018-08-07 21:09] serenaz commented on #867
Fixed - Thanks for the catch!

[2018-08-07 21:09] #867 closed, assigned to serenaz

[2018-08-07 21:10] serenaz commented on #866
Fixed - thanks for the catch!

[2018-08-07 21:10] #866 closed, assigned to serenaz

[2018-08-07 21:11] serenaz commented on #827
Fixed - thanks for the catch!

[2018-08-07 21:11] #827 closed, assigned to serenaz

[2018-08-07 21:12] serenaz commented on #811
Removed the faulty link - thanks for the catch! `PanePosition` is not a mistake; take a look at the code example!

[2018-08-07 21:12] #811 closed, assigned to serenaz

[2018-08-07 21:14] serenaz commented on #800
The code should work without any additional packages. We've updated the code example - give it another go?

[2018-08-07 21:14] #800 closed, assigned to serenaz

[2018-08-07 21:15] serenaz commented on #813
Looks like you received an answer on StackOverflow - nice! - so I'm closing the issue.

[2018-08-07 21:15] #813 closed, assigned to serenaz

[2018-08-07 21:16] serenaz commented on #844
Thanks for the note! Adding it to the `EntranceNavigationTransitionInfo` API.

[2018-08-07 21:16] #844 closed, assigned to serenaz

[2018-08-07 22:04] pmahend1 commented on #813
@serenaz Can you please update documentation mentioning NavigationMenuitem dimension being defaulted to 40 and how can one customize it?

[2018-08-08 14:28] Jace-Samsung opened #878 "Typos in code samples (possibly symptomatic of systematic issue?)"
Hi, just thought you might want to update the code samples as a few characters are missing.  There are five instances on this page where a IReadOnlyList is declared incorrectly.
For example, the line:
IReadOnlyList&lt;StorageFilefileList = await picturesFolder.GetFilesAsync();
should be:
IReadOnlyList&lt;StorageFile&gt; fileList = await picturesFolder.GetFilesAsync();

You might want to check that

[2018-08-08 15:01] dongle-the-gadget opened #879 "Test not working"
I inserted the test application ID and ad unit ID but nothing displayed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1fd9d37-275b-9fd4-1455-345221f197b9
* Version Independent ID: 721e5075-0a0d-e3a2-7c10-d9ac9496a782
* Content: [AdControl in XAML and .NET - UWP app developer](https://docs.microsoft.com/en-us/windows

[2018-08-08 15:40] dmitrymal opened #880 "IsEnabled="True""
I cannot find the IsEnabled property on the AdControl class. This property is not listed here https://docs.microsoft.com/en-us/uwp/api/microsoft.advertising.winrt.ui.adcontrol either.
Am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94ea0e63-613e-2f74-6343-6d8b766efcad
* Version Independent ID: 13

[2018-08-08 17:53] mcleanbyron commented on #880
Good catch, thanks for reporting this. No IsEnabled property currently exists for AdControl. I have removed those references to it from the article you mentioned, and those doc changes should go live tomorrow.

[2018-08-08 17:53] #880 closed, assigned to mcleanbyron

[2018-08-08 18:00] mcleanbyron commented on #879
I'm sorry you're running into difficulties. I just tested the steps and code in this article again and was able to see a test ad when I ran the app. Can you confirm that you're following all the instructions from the article?

[2018-08-08 20:15] kchaitanyabandi commented on #874
Thanks for your response @serenaz  @mikematteson . I shall do that.

[2018-08-08 22:25] #402 closed, assigned to PatrickFarley

[2018-08-09 02:19] JohnMasen commented on #870
I checked the api you provided, it seems only available on insider preview [Windows 10 Insider Preview (introduced v10.0.17709.0) ]. I'm using the public version under "Windows.AI.MachineLearning.Preview" namespace.

[2018-08-09 16:10] cjw1115 opened #882 "about type convertion"
how can I convert a Windows::UI::Xaml::DependencyObject to Windows::UI::Xaml::Controls::TextBlock in cppwinrt.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a44d893-2ad9-830f-a4d8-908e725432e1
* Version Independent ID: 81a91de0-9c13-7d3a-c680-b45370be492e
* Content: [XAML custom (templated) controls with C++/WinRT -

[2018-08-09 18:07] JnHs commented on #864
I'm going to close this issue out now. If you have more doc feedback please let us know.

[2018-08-09 18:07] #864 closed, assigned to JnHs

[2018-08-09 18:07] JnHs commented on #875
I'm going to close this issue out now - if you still need help with the error you can open a support request at http://aka.ms/storesupport, or if you have additional documentation feedback please let us know!

[2018-08-09 18:07] #875 closed, assigned to JnHs

[2018-08-09 18:09] JnHs commented on #848
Unfortunately after your add-on is published, you can't change your Free trial selection.

[2018-08-09 18:09] #848 closed, assigned to JnHs

[2018-08-09 18:10] JnHs commented on #845
Sorry to take so long to respond. You can change this name if you need to. The process is described at https://docs.microsoft.com/windows/uwp/publish/managing-your-profile#contact-info.

[2018-08-09 18:10] #845 closed, assigned to JnHs

[2018-08-09 18:37] drewbatgit commented on #868
Thanks for the info. I updated the section that recommended installing the Nuget packages to the following:
"To get started developing quickly, you can include the OpenCV library in a UWP app project by using NuGet packages, but these packages may not pass the app certification process when you submit your app to the Store, so it is recommended that you download the OpenCV library source code and

[2018-08-09 18:37] #868 closed, assigned to drewbatgit

[2018-08-09 19:09] stevewhims commented on #882
Hi, @cjw1115, you can do that like this.

[code]

If you're in any doubt that the DependencyObject you have is a TextBlock, then [use try_as](https://docs.microsoft.com/uwp/cpp-ref-for-winrt/windows-foundation-iunknown#iunknowntryas-function) instead of [the as function](https://docs.microsoft.com/uwp/cpp-ref-for-winrt/windows-foundation-iunknown#iunknownas-function). as will throw if the "cast" f

[2018-08-09 20:16] Sashwat opened #883 "No Account settings option in gear icon"
I am not able to associate AAD with my dev center account. The link sends me to partner.microsoft.com. I am logged in through the email id by which I created dev center account. But there's no account settings option in gear icon

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 262768e8-ad91-7af3-1541-4f2d2f9de5ba
* Vers

[2018-08-09 20:22] JnHs commented on #883
It may be listed as "Developer settings". If so try selecting that, then look for "Tenants". If you don't see it, you may also need to go to your login (name/photo in top right corner), select it, and then select your account name. If this doesn't resolve the issue I would suggest contacting support via http://aka.ms/storesupport.

[2018-08-09 20:22] #883 closed, assigned to nobody

[2018-08-09 20:25] Sashwat commented on #883
Nope, none of those options are there. It doesn't seem like UI is working as per instructions laid out in this doc

[2018-08-09 20:27] JnHs commented on #883
Thanks for letting us know. I'll try to confirm the behavior and make any needed updates. In the meantime I'd recommend opening a support request so that you can access the functionality.

[2018-08-10 01:11] Sashwat commented on #883
Resolution if anyone runs into this in future -

I had apparently created Dev Center account only for "Azure" via this link - https://partner.microsoft.com/en-us/dashboard/registration?accountProgram=Azure

Following that link doesn't get "Windows" program associated with your account. You should actually be following this link - https://partner.microsoft.com/en-us/dashboard/registration

There wa

[2018-08-10 02:48] cjw1115 commented on #882
So quick response. Thank you very much

As your description, It succeed.

BTW, I try to use reinterept_cast<Windows.UI.Xaml.Controls.TextBlock&>(dependencyObject) in my project, it converted successfully too.

[2018-08-10 05:26] JuanMejiaVelez opened #884 "Some code fragments refers to NavView tag, where shoould be NavigationView"
The name of the control in XAML is NavigationView but some code fragments are referring to it as NavView as a short name for it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 745ab6c5-cfbe-a56f-dccd-ab55123f9223
* Version Independent ID: 54455a9f-a92f-e462-558d-78fb696dba8c
* Content: [Navigation view - UWP app develo

[2018-08-10 06:19] hupo376787 opened #885 "Developers and VS may get confused with namespace Microsoft.UI.Xaml.Controls and Windows.UI.Xaml.Controls"
Developers may get confused with namespace Microsoft.UI.Xaml.Controls and Windows.UI.Xaml.Controls

In your [samplecode](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/navigationview#code-example) at first you say need to add a reference to the toolkit: `xmlns:controls="using:Microsoft.UI.Xaml.Controls"`.

But in the following xaml code,
[code]
Why use NavigationView, no

[2018-08-10 06:45] stevewhims commented on #882
The reinterpret_cast is interesting, and good to know. Of course, it's a technique that depends on the binary layout of a particular object; and assumptions about that are likely to be thwarted at some point. I now realize that my example is flawed. It was my intention to highlight what's happening in Foo(), but even so I really should have called it like this.

[code]

As you know, to be super-ro

[2018-08-10 12:50] hupo376787 opened #887 "Navigation View bug in narrow mode while extend acrylic into the title bar"
[Enter feedback here]
Hi, I found a bug in narrow mode, while extend to title bar, the scrollviewer may overlay the title bar.
And  [github url](https://github.com/hupo376787/NewNavigationView)

![111](https://user-images.githubusercontent.com/14960168/43958667-c9268ad4-9cde-11e8-8b46-f18acfda1b9b.gif)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-08-10 15:26] JeremyTBradshaw opened #889 "Missing icons after F624 (e.g. FF09, FF12, FF17, FF35)"
I've noticed when poking around in Chrome's Developer Tools here on the docs site, there are a few uses of several icons that are in the FF's while the icons list ends at F6(24) (both here, and when I check the font in Windows/Word etc.).  Would this be the difference between:

**Segoe UI and Fabric MDL2 icon font**
..and..
**Segoe UI and Fabric MDL2 icon font _(Microsoft Employees)_**

[(from her

[2018-08-10 15:54] dongle-the-gadget opened #890 "App Service Not available"
App Service is not available in the client app. Here is my code:
&lt;uap3:Extension Category="windows.appExtension"&gt;
          &lt;uap3:AppExtension Name="MathExt"
                             Id="Divide"
                             DisplayName="x/y"
                             Description="Divide"
                             PublicFolder="Public"&gt;
            &lt;uap3:Properties&gt;

[2018-08-10 17:51] normesta commented on #816
Hello - the recommended path forward is to use the Windows Application Packaging project. Before the Windows Application Packaging project was introduced, folks had to use a UWP blank app project (in most cases a JavaScript-based version of the UWP Blank app). However, that process was pretty complicated. To help folks who were working with solutions that contained that JavaScript-based UWP projec

[2018-08-10 17:58] normesta commented on #806
Hello - Looping in a member of our engineering team to see if he can offer insight on this.

[2018-08-10 18:07] normesta commented on #808
Thanks ChuckVanzant - Looks like we took a pull request that resolved this issue. Thanks for reporting!

[2018-08-10 18:07] #808 closed, assigned to normesta

[2018-08-10 18:17] normesta commented on #784
Hi Damien - Thank you for posting. Just so I'm clear. You created a UWP project by using Xamarin.Forms and in that project, you added a background task. Did you use the Windows Application Packaging Project template because you also have a win32 application that you want to package along with that UWP application? Including a win32 desktop application would be the only reason to use the guidance i

[2018-08-10 19:04] stevewhims commented on #793
@Gavin-Williams, I'll go ahead and close this issue now since it's been a while and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2018-08-10 19:04] #793 closed, assigned to stevewhims

[2018-08-10 19:05] stevewhims commented on #797
@Gavin-Williams, I'll go ahead and close this issue now since it's been a while and it feels as resolved as we can make it here. Please reopen if I made a mistake in closing. ~Steve

[2018-08-10 19:05] #797 closed, assigned to stevewhims

[2018-08-10 19:08] stevewhims commented on #832
@JunielKatarn, I'll go ahead and close this issue now since it's been a while and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2018-08-10 19:08] #832 closed, assigned to stevewhims

[2018-08-10 19:08] germanvillarreal opened #891 "Cannot see Activation Code"
I am not greeted by an activation code when I open the Dev Mode Activation app. Instead I see a Welcome screen with useless info and a link to linkid=760412, I click "Next" and the title on the screen is "Before you Begin" and the same linkid. The linkid takes me to "Getting started with UWP app development on Xbox One"
Step 1 from the
"Activate Developer Mode on your Xbox One. Download the app, g

[2018-08-10 20:23] DamienDoumer commented on #784
Hi,
It didn't have a Win32 project in it, but for some reason, the normal way of making packages did not complete on my project, so I decided to use this approach but didn't work too. I finally found help with the issue, and the problem wasn't finally related to this article. Sorry I had to close this earlier.

[2018-08-10 20:23] #784 closed, assigned to normesta

[2018-08-10 21:13] EddieLotter opened #892 "MIDI API Problems"
It's worth pointing out that there are currently two crippling problems with MIDI in UWP.
Both problems are discussed in the thread [WinRT MIDI stack name handling flaw. WinRT MIDI stack is presently unusable.](https://social.msdn.microsoft.com/Forums/windowsapps/en-US/e956555c-0640-4531-9beb-cba48a847020/winrt-midi-stack-name-handling-flaw-winrt-midi-stack-is-presently-unusable)

---
#### Documen

[2018-08-10 23:03] ghost opened #893 "//"
//

[2018-08-10 23:06] ghost opened #894 "Contact"
Do you have a personal contact email I can reach you at to report exploits and abuse?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35971a80-8b95-9201-2133-bfa4e4cddeca
* Version Independent ID: 2e574f12-313c-b28d-863d-46d3054a27de
* Content: [Xbox Live Account Tool - UWP app developer](https://docs.microsoft.com/en-u

[2018-08-10 23:27] ginami commented on #894
Hi @maxpackets -- no, this is a forum for feedback on our docs. If you are a developer needing support, see out support page: https://developer.microsoft.com/en-us/windows/support. Thank you!

[2018-08-10 23:27] #894 closed, assigned to nobody

[2018-08-10 23:28] ginami commented on #893
HI @maxpackets -- no, this is a forum for feedback on our docs. If you are a developer needing support, see out support page: https://developer.microsoft.com/en-us/windows/support. Thank you!

[2018-08-10 23:28] #893 closed, assigned to nobody

[2018-08-11 16:27] maxpackets commented on #893
The link you gave me doesn't help. I'm wanting to report api abuse, that's all.

[2018-08-11 23:04] c16u opened #895 "Link labels not displaying correctly"
The link code is showing instead of the labels under the "Menus" and "Context menus" subheaders.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd894ab6-9b28-956f-fd00-3d60de336045
* Version Independent ID: 5f80b19f-f8a7-4d66-bd46-2ba165f68c0f
* Content: [Menus and context menus - UWP app developer](https://docs.micros

[2018-08-13 10:34] sjointer opened #896 "when_all() method"
In the code for GameRenderer::CreateGameDeviceResourcesAsync above, you use a method "when_all()" to await the completion of an entire vector of tasks.  Please is this a method that is part of the project, and, if so, could you point to it's source code?  I couldn't find it anywhere in the C++ documentation for asynchronous programming.

---
#### Document Details

⚠ *Do not edit this section. It i

[2018-08-13 14:19] hansmbakker commented on #856
@mijacobs (I changed my GitHub handle) if there is any news to this request, will that be posted somewhere where we can follow it?

[2018-08-13 15:58] christoph-fer opened #897 "The sample has many errors. Doesn't work."
I'm running the code on RS4 build with Windows UI Library with all the necessary namespaces. However, the provided code doesn't work. It's been broken for weeks! Please fix.

Here are the errors:

![image](https://user-images.githubusercontent.com/39899690/44043014-6ccbca3e-9f3f-11e8-873d-d97875775c33.png)

![image](https://user-images.githubusercontent.com/39899690/44042775-ca0fd718-9f3e-11e8-9cc

[2018-08-13 15:59] #897 closed, assigned to nobody

[2018-08-13 16:00] christoph-fer opened #898 "The sample has many errors. Doesn't work."
I'm running the code on RS4 build with Windows UI Library with all the necessary namespaces. However, the provided code doesn't work. It's been broken for weeks! Please fix.

Here are the errors:

![image](https://user-images.githubusercontent.com/39899690/44043014-6ccbca3e-9f3f-11e8-873d-d97875775c33.png)

![image](https://user-images.githubusercontent.com/39899690/44042775-ca0fd718-9f3e-11e8-9cc

[2018-08-13 16:02] christoph-fer opened #899 "The sample code has many errors. Doesn't work."
I'm running the code on RS4 build with Windows UI Library with all the necessary namespaces. However, the provided code doesn't work. It's been broken for weeks! Please fix.

Here are the errors:

![image](https://user-images.githubusercontent.com/39899690/44043014-6ccbca3e-9f3f-11e8-873d-d97875775c33.png)

![image](https://user-images.githubusercontent.com/39899690/44042775-ca0fd718-9f3e-11e8-9cc

[2018-08-13 17:09] ginami commented on #898
Hi @christoph-fer -- can you give me the URL of the related doc? This will help me route your comment to the correct author. Thanks!

[2018-08-13 17:12] ginami commented on #899
Hi @christoph-fer -- looks like this a duplicate issue (same as #898 ?). OK to close? Thank you!

[2018-08-13 17:25] benjaminfox opened #900 "Retrieve availabilityId?"
To grant free in-app products from our service, we need the IAPs' availabilityIds (as according to [these docs](https://docs.microsoft.com/en-us/windows/uwp/monetize/grant-free-products)).

Is it possible to retrieve the availabilityId from the Store Services REST API?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfe

[2018-08-13 18:21] miketsmith opened #901 "Ambiguity in wording"
"Company accounts are a little more expensive, mostly because we take some additional steps to ensure that you are authorized to represent your company and set up the account. Per the Store Policies, a company account is required to publish apps with certain functionality, such as apps that access financial account information or that require authentication to access primary functionality (without

[2018-08-13 19:30] #661 closed, assigned to mcleblanc

[2018-08-13 22:06] the-jedi-code commented on #715
+1

[2018-08-13 22:47] normesta commented on #824
Thank you for the feedback. I'm sorry it's frustrating. Is there something in this specific topic that your finding misleading? Thx!

[2018-08-13 22:49] mijacobs commented on #856
@hansmbakker I heard back from the design team--there aren't any plans to develop a UI toolkit for Affinity Designer at this time. If they do end up creating a toolkit, they'll post it here. They are creating a Figma toolkit (I don't have an ETA yet, but it should be soon).

[2018-08-13 22:49] #856 closed, assigned to nobody

[2018-08-13 23:46] vadobre opened #902 "Links on page are missing"
Touch - https://docs.microsoft.com/en-us/windows/uwp/design/input/keyboard-interactions#touch-keyboard
Focus visuals - https://docs.microsoft.com/en-us/windows/uwp/design/input/keyboard-interactions#focus-visual
UI Navigations - https://docs.microsoft.com/en-us/windows/uwp/design/input/keyboard-interactions#navigation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-08-14 04:34] benjaminfox opened #903 "Getting a 200 when getting a user's subscriptions, but a 401 when granting free products"
My token generation seems to be working fine - I can successfully query for a user's subscriptions, but the same token set gets a 401 when trying to grant a free product. A bit more detail here: https://stackoverflow.com/questions/51830079/why-is-my-azure-ad-application-not-authorized-to-grant-free-products

Is there anything more to say in this documentation about permissions, etc. that are requi

[2018-08-14 14:36] ghost opened #904 "Can't reset colors"
I used the "simple color customization" code example and it worked perfectly. However, I can't reset the colors by setting the properties to null. The title bar is still green. Can someone help me?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffd79400-8154-9a7c-a36e-33077cfa4be9
* Version Independent ID: fafc7523-a98

[2018-08-14 15:17] sjb-sjb opened #905 "Height of Key Tip"
How can I reduce the height of the Key Tips? Some of the pictures in this documentation show square Key Tips, but when I use them they are vertical rectangles -- too tall for my application.

A second request : can you link to a more detailed technical document describing, for example, how to programatically enter or cancel an access key scope (control which scope will be invoked when Alt key is p

[2018-08-14 15:19] ScottIsAFool commented on #619
@GrantMeStrength Hi John, the link is still broken, so if a fix was pushed, it's been broken again. Although I can't see any closed or open pull requests, should I open one?

[2018-08-14 16:14] ginami commented on #403
Hi @superkid200 --closing this issue. Let us know if you have any more questions. Thank you!

[2018-08-14 16:14] #403 closed, assigned to nobody

[2018-08-14 16:16] ginami commented on #443
Closing this issue--let us know if you have further questions. Thank you!

[2018-08-14 16:16] #443 closed, assigned to nobody

[2018-08-14 16:17] ginami commented on #446
Closing this issue for now...thank you!

[2018-08-14 16:17] #446 closed, assigned to nobody

[2018-08-14 16:19] ginami commented on #618
Closing this issue for now--let us know if you have further information or questions. Thanks!

[2018-08-14 16:19] #618 closed, assigned to nobody

[2018-08-14 16:21] #680 closed, assigned to nobody

[2018-08-14 16:22] #681 closed, assigned to nobody

[2018-08-14 16:25] ginami commented on #899
Hello @christoph-fer -- closing this for now--let us know if this is a separate issue from #898 . (And if so, what doc are you referring to?) Thank you!

[2018-08-14 16:25] #899 closed, assigned to nobody

[2018-08-14 21:02] JnHs commented on #901
Thanks for pointing that out, makes sense! I've rephrased the sentence to remove that interpretation.

[2018-08-14 21:02] #901 closed, assigned to JnHs

[2018-08-14 21:16] bwaldbaum opened #906 "Link to Lionbridge is broken"
https://intlapps.lionbridge.com/windows does not navigate to a valid page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fe32af9-271f-3e4a-91bc-bffd3f09f886
* Version Independent ID: 3b9e8778-e7bc-3268-1466-881890455a16
* Content: [Use the Multilingual App Toolkit - UWP app developer](https://docs.microsoft.com/en-us

[2018-08-15 01:32] SharPad opened #907 "version info seems wrong"
Testing for API exists (ApiInformation.IsTypePresent) returns false for RS1 and RS2. Supported only on 16299 and above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 291dc819-9b43-818a-f839-f69d0a0b432e
* Version Independent ID: d6cfeb3b-dd87-e0df-95a2-8b1d282f24a3
* Content: [Request ratings and reviews for your app

[2018-08-15 09:32] stamaimer opened #908 "Are there some examples to show how to invoke this API?"
Are there some examples to show how to invoke this API? Just show how to use claims to authorize the request.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99688f9e-c82e-b3e8-f233-ceb215ac8ce8
* Version Independent ID: 8c4deeaa-3f59-c9e8-b53b-7d8843cc34ea
* Content: [POST (/users/batch/profile/settings) - UWP app deve

[2018-08-15 13:52] benstevens48 opened #909 "Please clarify lightweight styling in the context of Custom Templated Controls, UserControls and controls dynamically added to the page"
I've tried in the forums but been unable to get a clear answer to this question. Does the lightweight styling section above also apply in the same way to Custom Templated Controls and UserControls if the template or user control contains the ThemeResource markup extension. Also, if I add a control to the visual tree, are any ThemeResources within that control or its template guaranteed to be updat

[2018-08-15 20:59] kwebble opened #910 "Page does not explain why OS changes are required to run Visual Studio"
I got here from the link that was shown when starting a new project in Visual Studio. This page fails to explain to me why I have to change the operating system settings to run the development tools. That is something I do not expect from GUI design tools and compilers.

The page includes _Developer Mode replaces the Windows 8.1 requirements for a developer license_. Does the same apply to the dev

[2018-08-15 21:29] mjfusa opened #911 "Accessible filter while searching the Microsoft Store"
Can you tell me how I filter on accessible apps? I don't see an option in the Store app to search on this filter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eb3c6c0-64d6-db05-68ea-e461dd4d3e38
* Version Independent ID: d435bcaa-b300-2155-3962-9c404e442569
* Content: [Accessibility in the Store - UWP app developer]

[2018-08-15 22:03] mhopkins-msft commented on #911
Unfortunately, I don't find such a filter in the Store app. I have submitted this feedback to the Store team.

[2018-08-15 22:03] #911 closed, assigned to mcleblanc

[2018-08-15 22:24] stevewhims commented on #906
Hi, @bwaldbaum, I have merged a fix into master; I expect that to be live within the next 24 hours. Thanks for raising this issue, I have now fixed the link and it should work again. ~Steve

[2018-08-15 22:30] mijacobs commented on #895
Thanks for catching this! I just checked in a fix, it should be live soon!

[2018-08-15 22:30] #895 closed, assigned to mijacobs

[2018-08-15 23:56] killaboy26 opened #912 "Links"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4b30576-1161-8546-df9f-61de76e39fd1
* Version Independent ID: 7275be4d-3028-fbd3-ba0a-4f09491705e7
* Content: [Data access - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/data-access/index)
* Content Source: [windows-apps-src/data-a

[2018-08-16 00:04] ginami commented on #912
Hi @killaboy26 -- did you have feedback about the links on this page?

[2018-08-16 00:06] #912 closed, assigned to nobody

[2018-08-16 14:12] dongle-the-gadget commented on #816
No, but I see in many samples in GitHub, most samples used that kind of project, before Windows Application Packaging Project was introduced.

[2018-08-16 19:25] QuinnRadich commented on #910
The same does not apply to the developer license of Windows 10. I'll be removing the text that you quoted - now that it's been a couple years since the initial Windows 10 release, I think that information can be de-emphasized. The final section of this article covers the same information for developers for whom it is relevant.

The reason why Developer Mode is necessary is because - when developin

[2018-08-16 20:25] JoshuaPartlow commented on #748
Hi, thank you very much for your interest in this sample and feedback. Our team is working to expand the presence of c++ /WinRT code examples within the documentation, as well as the samples we provide. Hopefully they'll meet your needs, but please do provide additional feedback if they don't or if there are scenarios not covered in the [C++ /WinRT docs](https://docs.microsoft.com/windows/uwp/cpp-

[2018-08-16 20:25] #748 closed, assigned to JoshuaPartlow

[2018-08-16 21:42] normesta commented on #816
Hi superkid200 - Yes, using a UWP project to package a win32 app use to be the approach that our docs advocated. After the Windows Application Packaging project was introduced, we kept the guidance for using a UWP project side-by-side with the guidance for using the new Windows Application Packaging project. Via GitHub history, you can see that guidance in this version of the topic - https://githu

[2018-08-17 03:11] sjb-sjb opened #913 "Force Display of Key Tip"
How can I force display of the Key TIp? For example in Office applications, if you hold down the ALT key then after a moment the key tips are shown. How can I achieve a similar effect in UWP?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd5947b2-fd1c-dc30-8cf5-9a357d8adf07
* Version Independent ID: a414afeb-51cb-3b63

[2018-08-17 17:13] daullmer opened #914 "NavigationViewItem in PaneFooter"
Is there a NavigationViewItem inside the PaneFooter in the screenshot? The documentation of PaneFooter is explicitly states that you cannot place NavigationViewItems in NavigationView.PaneFooter. Will this change in future version because this is a Preview version of the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2018-08-17 20:14] kwebble commented on #910
Well, isn't that normal with nearly all software? I only got 1 application from the store. Everything else, browsers, dev tools, database etc., was downloaded from the internet, installed and runs fine without the special mode.

If I knew up front about the required deep integration between Visual Studio and Windows, I would not have installed it.

I thought about a VM but it requires an additiona

[2018-08-17 20:44] QuinnRadich commented on #910
I assume your machine is currently set to "Sideload Apps." You've installed other apps from trusted external sources, yes, but those apps still all have trusted certificates.

When you're debugging and testing your own code on your machine, you're running uncertified code, hence the need for Developer Mode. It doesn't change anything about your machine other than lifting all restrictions about the

[2018-08-18 10:02] kwebble commented on #910
OK, thanks for the explanation and link.

[2018-08-18 10:02] #910 closed, assigned to QuinnRadich

[2018-08-18 23:03] Carrie3563 commented on #446
my SharePoint replies someone else SharePoint instead of mine

[2018-08-19 10:41] mikejd commented on #649
Hi there,

We experience the same issue, always getting `{ "items": [] }` when requesting subscriptions for a user. @poumason, could please confirm that you resolved this problem and successfully get list of subscriptions?

I believe that we followed the [docs](https://docs.microsoft.com/en-us/windows/uwp/monetize/view-and-grant-products-from-a-service) closely and here is what we did:

1. Created

[2018-08-19 13:40] samwhaleIV commented on #878
This seems to be an isolated situation (possibly a failed IDE refactoring?) The C++ on the same page contains directives and vectors with properly matched guillemets (I had to look for this word up for the < and > symbols)

[2018-08-19 17:01] toncho11 opened #915 "Does not work"
It does not work no matter what I do.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd23d59d-59c2-f53c-6f29-cd8a18387d2a
* Version Independent ID: 89d12ebd-03ec-8275-1220-5997cebce7a1
* Content: [Log custom events for Dev Center - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/monetize/log-custom-even

[2018-08-20 02:28] zairil opened #916 "device"
So sweet

---
#### Butiran Dokumen

⚠ *Jangan edit bahagian ini. Ia diperlukan untuk docs.microsoft.com ➟ Pemautan isu GitHub.*

* ID: f35d7dc2-a5e9-9f86-7e8a-88e6afe40c99
* Version Independent ID: b57b8c51-e2f6-e5e1-1d93-14f26691bc39
* Content: [Enable your device for development - UWP app developer](https://docs.microsoft.com/ms-my/windows/uwp/get-started/enable-your-device-for-development?OCID=

[2018-08-20 02:30] ChrisGuzak opened #917 "Describe C++ WinRT as the replacment for C++ CX"
This might be out of scope for a page like this but it should describe C++ WinRT as the preferred WinRT projection for C++ customers, replacing C++ CX. Maintainers should consider migrating old code when given a chance.

https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/intro-to-using-cpp-with-winrt

[2018-08-20 08:33] ghost commented on #748
Thanks Joshua. An IValueConverter sample would be great. I was working through Petzold PW6 samples translating these from C++/CX and got stuck on WhatSizeWithBindingConverter. I expect that the solution involves unbox_value or unbox_value_or ignoring  the IValueConverter to/from parameters that are required by .NET. I might need to wait for the XAML compiler to be completed.

From: Joshua Partlow

[2018-08-20 15:35] ginami commented on #916
Hi @zairil -- thanks for your feedback!

[2018-08-20 15:35] #916 closed, assigned to nobody

[2018-08-20 15:36] ginami commented on #917
HI @ChrisGuzak -- which page are you referring to? The URL will help me route your feedback to the correct author.

[2018-08-20 18:22] PatrickB3 opened #918 "As of May 2018 info is incorrect"
You have to open the package.appxmanifest as XML. There is no view code option.

Add &lt;uap:SupportedUsers&gt;multiple&lt;/uap:SupportedUsers&gt;
to Properties. Step 3 is incorrect and not even valid xml.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f975d02c-9e79-a954-b6e8-4f58f077e275
* Version Independent ID: 3cce

[2018-08-20 18:57] mcleanbyron commented on #915
I'm sorry you're encountering a problem. Can you clarify what you mean by "does not work"? Are you saying that you can successfully run the code to log custom event strings, but those custom event strings never show up in the Usage report for your app? If so, can you confirm that your project is associated with an app that is published to Dev Center?

[2018-08-20 19:04] toncho11 commented on #915
Everything was done correctly. It is just that I am using desktop bridge and a lot other hacking to use the APIs from UWA in my otherwise standard application. It was crashing the application, but other APIs such as IAP from UWA were working correctly. Crash report was not generated. Anyway I found another way to log online data. This is really need in order understand which sales strategy to use.

[2018-08-20 19:04] #915 closed, assigned to mcleanbyron

[2018-08-20 19:22] mcleanbyron commented on #903
I'm sorry you encountered this problem. This problem was apparently caused by a service-side bug that was fixed last week, so I am closing this GitHub issue.

[2018-08-20 19:22] #903 closed, assigned to mcleanbyron

[2018-08-20 19:56] mcleanbyron commented on #907
Thanks for reporting this. I have confirmed that the [SendRequestAsync](https://docs.microsoft.com/en-us/uwp/api/windows.services.store.storerequesthelper.sendrequestasync) method was added to the UWP platform in Windows 10 version 10.0.14393.0 (this is also referred to as version 1607 or Anniversary Edition).

To be clear, are you saying that in your testing IsTypePresent returns false for this m

[2018-08-20 19:56] mcleanbyron commented on #900
Thanks for submitting your question. I have following up with the engineering team that owns this API, and will update this issue when I know more.

[2018-08-20 20:25] ChrisGuzak commented on #917
@ginami I've added the link.

[2018-08-20 20:27] ginami commented on #917
Thanks @ChrisGuzak !

[2018-08-20 22:47] aablackm commented on #918
Thanks for keeping a watchful eye! This article should be updated by noon tomorrow PST.

[2018-08-21 02:52] SharPad commented on #907
The results are not very conclusive but even though IsMethodPresent returns true on 14393 and 15063 builds, calling the method seems to throw an exception. It is likely flavor dependent. RS1 and RS2 Pro and Home seem to fail. But Enterprise works. RS3 Home failed first time but then on trying again it was able to show the store login.  Will try to write a sample program to test this feature indepe

[2018-08-21 07:37] martinprikryl opened #920 "Payer of payouts"
I miss an information on the entity that is payer of payouts for taxation/accounting purposes. Is it US-based Microsoft Corporation (1 Microsoft Way, Redmond, WA 98052)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36abe7f6-20c0-e1ba-d585-9630bcfdcc9f
* Version Independent ID: fd28df55-a61e-4742-37a1-b6691fd5fdf6
* C

[2018-08-21 10:16] ghost opened #921 "Please educate others sincerely."
If you do not think to teach others, do not do it. What to do? Very Happy Do not pity someone he came to know some. The papers you made Link to Post - Back to Top IP: Logged It seems to educate, but it really makes people

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 745ab6c5-cfbe-a56f-dccd-ab55123f9223
* Version Inde

[2018-08-21 16:11] ginami commented on #921
Thank you @AomkungNaja for your feedback. If you have specific information you'd like us to include in this doc, please let us know.

[2018-08-21 16:11] #921 closed, assigned to nobody

[2018-08-21 18:35] mcleanbyron commented on #900
Still investigating, but at this time it appears that there is no way to retrieve this value from one of the public REST APIs. This value is available via the [StoreSku.Availabilities](https://docs.microsoft.com/en-us/uwp/api/windows.services.store.storesku.availabilities) property in the Windows SDK, but that is somewhat problematic from a service-oriented workflow so I'm still trying to get more

[2018-08-21 18:35] stevewhims commented on #917
How does this sound (see the markdown below)? I'll close the issue when this is live (PS, the parent topic of the topic in question already says that C++/WinRT is the replacement for C++/CX; but it doesn't hurt to emphasize it another place, too).

C++/WinRT is Microsoft's recommended replacement for the [C++/CX](/cpp/cppcx/visual-c-language-reference-c-cx?branch=live) language projection, and the

[2018-08-21 19:05] ChrisGuzak commented on #917
looks great.

[2018-08-21 19:29] benjaminfox commented on #900
Thanks a lot for looking into this. We're currently getting the product, availability, and SKU IDs from [StoreAvailability.StoreId](https://docs.microsoft.com/en-us/uwp/api/windows.services.store.storeavailability.storeid), and passing them up to our service so it can do its work.

Even if these values were just visible in the developer dashboard, that would be helpful (although API access would b

[2018-08-21 19:33] mcleanbyron commented on #900
Thanks for the additional info. I have confirmed that at this time there are no publicly exposed REST APIs for retrieving these IDs, although this is on the engineering team's roadmap for the future.

[2018-08-21 19:33] #900 closed, assigned to mcleanbyron

[2018-08-21 19:34] benjaminfox commented on #903
That's great news, confirmed that it looks like it's working on my end. Thanks very much for looking into it.

[2018-08-21 20:16] aablackm commented on #918
It's been fixed! This issue will be closed tomorrow if there are no further comments.

[2018-08-21 22:12] birbilis commented on #715
at https://docs.microsoft.com/el-gr/windows/uwp/packaging/troubleshoot-appinstaller-issues it writes:

Files not accessible

When installing from an HTTP endpoint, it is important to verify that all files are accessible with the correct MIME type. The easiest method to verify these files is by following the links provided in the HTML page generated by Visual Studio. You must check these files:

[2018-08-21 22:27] mjfusa opened #922 "Hidden Add-Ons and Store Visibility"
The docs state that if the add-on is indicated hidden, it still is available within the parent app, but the add-on will not be displayed in the apps product listing. The problem is that add-ons are not displayed in product listings. If they are, can you provide an example? Here's an example of an app with in-app-purchases - the add-ons are not listed in the product listing: https://www.microsoft.c

[2018-08-22 03:02] sunilab opened #923 "Typo in sentence"
In the section 'Accent color palette' on accent color chart where it shows the light and dark colors of blue, the row with A on it has an incorrect sentence "Text can be appear in light".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 181b91e8-b61c-f32b-f59c-332db130d207
* Version Independent ID: ec8195d3-5847-e003-c8e

[2018-08-22 13:48] nielsnhlt opened #924 "Privacy Policy URL"
When I create an add-on submission, I am required to indicate whether a privacy policy URL is necessary, and as far as I can see, this can only be done in the 'Properties' section when updating the add-on through the dashboard. Would it be possible to set this property through the API?

Kind regards,
Niels

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2018-08-22 16:35] mcleanbyron commented on #924
Currently, the privacy policy property can only be set via the dashboard. Please see the description for the _privacyPolicy_ field [here](https://docs.microsoft.com/en-us/windows/uwp/monetize/manage-app-submissions#base-listing-object).

[2018-08-22 16:35] #924 closed, assigned to mcleanbyron

[2018-08-22 17:27] jpsdevs opened #925 "C++ Example?"
I'm struggling to figure out how to use this in C++, specifically the async task to spawn and wait on the Picker.

Does anyone have a working example or even just a snippet of c++ sample code they could share?

[2018-08-22 17:28] #925 closed, assigned to nobody

[2018-08-22 19:04] botengHY opened #926 "Does this mean anyone with Tenant Id, Client Id and Key can submitt app to the AAD account in the windows store?"
From this article it seems that the Tenant Id, Client Id and Key are the only things needed to update an App in store, so anyone with the info can submit, without account authentication. Is this secure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bf973bd-e0d9-19b0-ad24-e09a83d3a2a9
* Version Independent ID: 25d0bdd

[2018-08-22 21:40] maxonk commented on #731
bump

[2018-08-23 01:47] Gavin-Williams commented on #797
Yeah no worries, if you're aware of it already, then that's OK. Thanks.

[2018-08-23 06:39] DragonGeo2 opened #927 "Additional information"
I felt like there was some information missing from this article, so I typed that up in case anyone wanted to add it in there:

IDirect3DDevice9::SetScissorRect is replaced by ID3D11DeviceContext::RSSetScissorRects ( https://docs.microsoft.com/en-us/windows/desktop/api/d3d11/nf-d3d11-id3d11devicecontext-rssetscissorrects )
IDirect3DDevice9::SetViewoprt is replaced by ID3D11DeviceContext::RSSetView

[2018-08-23 07:04] nielsnhlt commented on #924
Will this be supported in the future? The problem we're having is that we can create, update, and then commit a submission for a new add-on through the API perfectly fine, but the submission's status will stay on 'CommitStarted' until we set the add-on's privacy policy through the dashboard (not the app's privacy policy mind you).
This effectively means that we can't use the API to create a new ad

[2018-08-23 11:50] v01pe opened #928 "Link dead"
https://docs.microsoft.com/en-us/windows/uwp/gaming/gamepad-and-vibration#run-the-gamepad-vibration-sample
-&gt; link to github in this paragraph is dead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3b66ce5-9518-ec67-4ec6-8fc7cb8293ce
* Version Independent ID: af209d4a-d3b5-d2f0-fdcb-e2ea6797b9f5
* Content: [Gamepad

[2018-08-23 16:48] eliotcowley commented on #928
Hi @v01pe, thanks for pointing this out! I've fixed the link&mdash;the fix should go live tomorrow.

[2018-08-23 16:48] #928 closed, assigned to eliotcowley

[2018-08-23 18:15] mcleanbyron commented on #924
Yes, this does mean that you must set the add-on's privacy policy in the dashboard before you can complete your first submission via the API. The engineering team that owns this API is well aware of this issue and plans to address it in an upcoming update to the submission API.

[2018-08-23 19:50] stevewhims commented on #917
Cool, so we're live now with this change. I'll close the issue. Thanks, all! :) ~Steve

[2018-08-23 19:50] #917 closed, assigned to stevewhims

[2018-08-23 20:27] #918 closed, assigned to aablackm

[2018-08-23 22:03] ghost opened #930 "VB Documentation?"
Hi there :),
I have a game on the Xbox Live market place that I would like to incorporate Leaderboards and Stats, but I don't see any C# or VB documentation on how to go about this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79bc388d-6b0d-d201-19a9-4055cb14ef88
* Version Independent ID: aa039e5c-9126-265c-773e-9db6

[2018-08-24 17:05] aablackm commented on #930
Hello aaronlevicarrick,
Is your game built with Unity or a UWP title?
If it's built with Unity, you may want to read [Player Stats and Leaderboards in Unity](https://docs.microsoft.com/en-us/windows/uwp/xbox-live/get-started-with-creators/add-stats-and-leaderboards-in-unity)
You will find prefab instructions and script sample code in the same section by reading [The Leaderboard Example Scene](http

[2018-08-24 17:30] ghost commented on #930
Aaron thanks for getting back so quick,

It is a uwp game written in vb.

________________________________
From: Aaron-Micheal Blackman <notifications@github.com>
Sent: Friday, August 24, 2018 10:05:53 AM
To: MicrosoftDocs/windows-uwp
Cc: aaronlevicarrick; Author
Subject: Re: [MicrosoftDocs/windows-uwp] VB Documentation? (#930)

Hello aaronlevicarrick,
Is your game built with Unity or a UWP title?

[2018-08-24 17:59] aablackm commented on #930
Hello Again,
In your query you asked for C# or VB code examples.
Would C# code be sufficient for your needs? I ask because while I can't make any promises on turn around time, the turn around time for adding C# code snippets will likely be shorter.

[2018-08-24 18:06] ghost commented on #930
C# would be great i can program in both

Sent from my Windows Phone
________________________________
From: Aaron-Micheal Blackman<mailto:notifications@github.com>
Sent: ‎8/‎24/‎2018 10:59 AM
To: MicrosoftDocs/windows-uwp<mailto:windows-uwp@noreply.github.com>
Cc: aaronlevicarrick<mailto:aaronlevicarrick@outlook.com>; Author<mailto:author@noreply.github.com>
Subject: Re: [MicrosoftDocs/windows-uwp]

[2018-08-24 22:49] aablackm commented on #930
Hello again aaronlevicarrick!

I added the C# equivalent snippets to the code already contained in the article. You should be able to see the changes around 12pm tomorrow. I hope that helps.

[2018-08-24 23:44] gilmanjo opened #932 "w"
"We'll be publishing docs in the future showing how to use this option."

Where those docs at tho

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c815de33-3b2b-cf99-74fc-6b14caf0844f
* Version Independent ID: a463bd05-455f-011e-5282-7d4532e3298b
* Content: [Toast notifications from desktop apps - UWP app developer](http

[2018-08-24 23:47] ghost commented on #930
Thanks a bunch!! You rock, this is a big help

Sent from my Windows Phone
________________________________
From: Aaron-Micheal Blackman<mailto:notifications@github.com>
Sent: ‎8/‎24/‎2018 3:49 PM
To: MicrosoftDocs/windows-uwp<mailto:windows-uwp@noreply.github.com>
Cc: aaronlevicarrick<mailto:aaronlevicarrick@outlook.com>; Author<mailto:author@noreply.github.com>
Subject: Re: [MicrosoftDocs/windows

[2018-08-25 20:11] c16u commented on #898
@ginami Using a web search, I found the matching code on this article: https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/navigationview.

[2018-08-26 03:32] VOM7HC opened #933 "Payout in Vietnam"
Hi, I come from Vietnam. I don't know how to add payout in Microsoft Dev Center. About branch local bank so I don't see any form or textbox to register it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec06af90-a369-e18e-dffd-30443c415f33
* Version Independent ID: dae3fe06-e22a-7c3f-c0eb-03220929f0ef
* Content: [Set u

[2018-08-26 03:39] VOM7HC commented on #933
Hi, I found solution so I close this question. The solution is add 3 code behind the swift code

[2018-08-26 03:39] #933 closed, assigned to nobody

[2018-08-26 23:00] lovettchris opened #934 "How is the "rescap" namespace defined?"
You show &lt;rescap:Capability Name="extendedBackgroundTaskTime"/&gt;  but you didn't show how the rescap namespace is defined with an xmlns:rescap="???" namespace definition, so the documentation is not complete.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f08a1cd-54da-9647-5f88-12ff5dcd9bab
* Version Independent

[2018-08-27 09:21] Omarkth commented on #361
Hey @andrewleader, any update regarding the ClickOnce example??

@evolve700 can you tell us more about how did you get it to work?

[2018-08-27 12:09] yordans opened #935 "Packaging using C# packaging project"
Hello,

I am trying to package a wpf application in a UWP package using the C# packaging project. The problem is that my application has dlls dependencies that are provided with post build events in its output. So when I add a reference to my application in the packaging project, its output only contains the dlls that are generated from the build of the desktop app - all other dlls (from post buil

[2018-08-27 14:34] Elitsafan opened #936 "Path of PicturesLibrary or additional file types (jpeg)"
Thank you for the "PhotoLab" sample.
I'm new to programming and perhaps I missed something.
I spent 2-3 hours to find out why I don't see any pictures.
Finally, with G-d's help I've added a "jpeg" FileTypeFilter.
Maybe you should add a note before "Part 0" about confirmation of supported file types,
in the pictures library, or copy "Samples" to that library or etc...

I think the problem is in fil

[2018-08-27 15:08] nhwilly opened #937 "Suggest more clarity in title"
Is this documenting the process of refactoring an out-of-process background code base to an in-process code base?  Or is handling a out-of-process background task and forwarding it to an in-process background task?

I know that might seem silly, but in the case of Azure Notifications Hub and action buttons and templates, I have no choice but to send raw notifications and they need to be handled by

[2018-08-27 15:20] nhwilly commented on #937
Ok, I found an original blog post that seems to suggest this is a refactoring exercise.  You can find it [here](https://blogs.windows.com/buildingapps/2016/06/07/background-activity-with-the-single-process-model/).

[2018-08-27 16:45] andrewleader commented on #361
Thanks for the interest in ClickOnce, Omarkth. I've let the new PM owner of these docs know about the interest in ClickOnce, we'll look at where this fits in our documentation prioritization. If anyone else needs help with ClickOnce too, let us know so that we know it's important!

[2018-08-27 16:49] Bluesman74 opened #938 "Following links should stay in the computing language of the previous page"
its seems bad that we end up on a C# page despite this originating page being the Winrt C++ page - https://github.com/MicrosoftDocs/winrt-api/issues/580

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4db0aab-b906-9dec-381c-ceccc1e90c45
* Version Independent ID: 493a4c50-ffa1-5e32-c757-92306c952887
* Content: [XAML con

[2018-08-27 18:11] JeffBrand commented on #463
Hitting the same issue.... would be nice to get an update.

[2018-08-27 18:58] ghost opened #940 "C# Documentation"
Aaron, thanks for adding c# to the update stats 2017, is there any way you can add it to this page as well, you've been a great help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70a8c5cc-e51f-2549-7706-8ab3f8cbb978
* Version Independent ID: 1fd47faa-3bcd-e339-ec87-9f81c95a327b
* Content: [Leaderboards - UWP app devel

[2018-08-27 21:15] aablackm commented on #930
I'm glad I could help =)

[2018-08-27 21:15] #930 closed, assigned to KevinAsgari, aablackm

[2018-08-27 21:45] Jace-Samsung opened #941 "3D Objects Capability Name needs correct capitalization."
The 3D Objects Capability Name field must match a constant string to compile correctly.  The sample code uses the value "objects3d", but the final 'd' should be capitalized to match the constant "objects3D".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30a70676-883b-801e-2f07-881923cb0b96
* Version Independent ID: f9

[2018-08-27 21:53] sguergachi commented on #737
I'm also looking for the Windows 10 title bar in the Adobe XD toolkit

[2018-08-28 02:05] stevewhims commented on #938
Hi, @Bluesman74, thanks for filing the issue. The source topic is a conceptual topic about the C++/WinRT language projection, but the destination topic is a WinRT API reference topic. And reference topics are all language-agnostic (there isn't a notion of a C# API reference topic). If you scroll to the top of any WinRT API reference topic you'll see (in the top-right corner) Feedback, Share, Theme

[2018-08-28 15:09] JKleinsasser opened #943 "Library not supported for UWP"
There are no errors in the code, and it built just fine.
But when I run it I get the exception "Could not load file or assembly 'System.Threading.Thread, Version=4.0.0.0"
From everything I've read this library isn't compatible with UWP so what do I do?

[2018-08-28 15:10] Stachu270 opened #944 "Cannot run app on Windows 10 Mobile"
Hi,

I have Lumia 635 with Windows 10 Mobile ver 1607 compilation: 10.0.14393.2431 installed. I want to test my application on this device. I have developer mode on (of course) and I used Visual Studio 2017 to write code and create a app package. Let me mention that I managed to install this programm on my computer and it works well.
Package folder consists of i.a. ps1, cer, appxsym, appxbundle fi

[2018-08-28 15:59] #943 closed, assigned to nobody

[2018-08-28 16:11] JKleinsasser opened #945 "Library not compatible with UWP?"
There is no error in any of the code, and it builds fine.
But when I run it on the emulator the data doesn't show up and I get the exception message
"Could not load file or assembly 'System.Threading.Thread, Version=4.0.0.0"
From everything I've read this library can't be accessed in UWP so is this tutorial even valid?

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2018-08-28 17:52] aablackm commented on #940
You know, aaronlevicarrick, since you asked so nicely, I think it can be done. Again no promises on turn around time.

[2018-08-28 18:55] ghost commented on #940
Thank you so much 😃

Sent from my Windows Phone
________________________________
From: Aaron-Micheal Blackman<mailto:notifications@github.com>
Sent: ‎8/‎28/‎2018 10:52 AM
To: MicrosoftDocs/windows-uwp<mailto:windows-uwp@noreply.github.com>
Cc: aaronlevicarrick<mailto:aaronlevicarrick@outlook.com>; Author<mailto:author@noreply.github.com>
Subject: Re: [MicrosoftDocs/windows-uwp] C# Documentation (#

[2018-08-28 21:13] mijacobs commented on #737
@sguergachi : By Windows 10 title bar, do you mean the app title bar?

[2018-08-28 23:48] sguergachi commented on #737
Yes

- Sammy Guergachi
________________________________
From: Mike Jacobs <notifications@github.com>
Sent: Tuesday, August 28, 2018 5:13:47 PM
To: MicrosoftDocs/windows-uwp
Cc: Sammy Guergachi; Mention
Subject: Re: [MicrosoftDocs/windows-uwp] Missing stuff in Adobe XD UI kit (progress ring and title bar) (#737)

@sguergachi<https://github.com/sguergachi> : By Windows 10 title bar, do you mean the

[2018-08-29 08:44] #608 closed, assigned to msatranjr

[2018-08-29 10:49] IrakliLomidze opened #946 "Please Fix the Documentation"
XAML code need to be included

  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"

otherwise it does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d92df11-eaec-44ea-d130-e84304af9b8f
* Version Independent ID: d8ada2a7-dcea-96cc-210b-5b446ee88cad
* Content: [File access permissions - U

[2018-08-29 17:47] #945 closed, assigned to normesta

[2018-08-29 21:56] tca9 opened #947 "Windows version number out-of-date"
In the text, "We highly recommend that new developers and developers writing code for a general audience always use the latest build of Windows (16299). ", the version 16299 *is not* the latest version.  The table at the top refers to the currently latest version as 17134.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-08-29 21:57] QuinnRadich commented on #947
Good catch, I'll fix that right up. Thanks.

[2018-08-30 00:27] mtoepke commented on #731
Hi @trojanfoe ,

Thanks for your question.

UWP on Xbox One apps (non-games) do not support DirectX 12.

UWP on Xbox One apps or games, when using DirectX11, use Feature Level 10.0 without DirectCompute.

UWP on Xbox One games, submitted through the Xbox Live Creators program (or ID@Xbox), support DirectX 12 with Feature Level 12.0 and DirectCompute.

See these articles for more information:
https

[2018-08-30 00:27] #731 closed, assigned to mtoepke

[2018-08-30 02:33] ghost commented on #940
Ps, for all the help you've given me I think I should give you credit in my game. 😎

[2018-08-30 02:42] OmPisit commented on #814
I feel like your opinion. The answer is really good. The app itself is also afraid to install in itself. I will not let anyone else install it.

[2018-08-30 06:07] jianboy opened #948 "submissions uploads packages error"
this is a DesktopAppConverter app。

and the error is

[code]

[2018-08-30 08:24] CaliforniaChao opened #949 "Can I get a list of windows that can captured?"
I want get a list of all of the windows that can be captured, so that I can put them into a ComboBox or something like that. Is there a function can do this?
Maybe looks like "DeviceInformation::FindAllAsync(DeviceClass::VideoCapture)"
thanks

[2018-08-30 08:25] CaliforniaChao commented on #949
About Screen Capture.
link: https://docs.microsoft.com/en-us/windows/uwp/audio-video-camera/screen-capture

[2018-08-30 11:09] Nils-Berghs commented on #737
The virtual keyboards are also missing from the xd file.

[2018-08-30 15:31] ginami commented on #935
Hi @yordans -- does this issue relate to a specific page in our docs? This feedback channel is for doc-specific issues, and a URL would help me get your question to the correct author.

[2018-08-30 15:32] ginami commented on #948
Hi @jianboy -- does this issue relate to a page in our docs? This feedback channel is for feedback on specific docs; a URL will help me get your question to the correct author.

[2018-08-30 19:01] #947 closed, assigned to nobody

[2018-08-31 14:51] tmr4 opened #950 "Custom TreeViewItem template not working correctly for type GridView"
I created a tree view similar to your "Pictures and Music Library tree view" example except I replaced the text block in the data template with a grid view with two text blocks.  This caused two problems with nested nodes: (1) when a node is expanded the first column of grid view items in the child nodes aren't rendered until you mouse over them, and (2) the child nodes are rendered out of order a

[2018-08-31 15:22] IQpierce opened #951 ""Xbox Live" sandbox moved to "Device Manager"?"
On some of my windows machines this Device Portal has an "Xbox Live" section, where I can change the XBL sandbox for my machine.

On one of my recently-updated machines, I couldn't find this option. However the "Device Manager" section seems to now have an option to change the "Sandbox", without reference to Xbox Live. (I suppose that's because the Windows Store also uses this sandbox system?)

A

[2018-08-31 15:51] tmr4 commented on #944
I had a similar problem with my Lumina 650.  For me a required service wasn't starting.  Sorry, I can't remember which one, but I think I found it by searching for an error message I got when trying to connect to my phone.  Once that service was started the app deployed to the phone without problem.

[2018-08-31 16:12] tmr4 commented on #944
Check if the IPOverUsbSvc service is running.  I can't find the info I used to fix my problem, but it seems that service not running has caused some app deployment issues.

[2018-08-31 23:35] Skuldwyrm opened #952 "Broken link"
Link to https://docs.microsoft.com/windows/uwp/shell/tiles-and-notifications/app-assets#target-based-assets
in the first paragraph of the "(Optional) Add Target-based unplated assets" section is broken (error 404)
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4811b3c1-b936-1539-d0a9-3b432d56d422

[2018-09-01 13:04] jianboy commented on #948
@ginami hi， I use DesktopAppConverter  to convert my xx.exe. but I submit it to https://developer.microsoft.com . then I have problem. **So where I should get help ?**

[2018-09-01 13:05] jianboy commented on #948
I choose the feedback button , it redicet to this project . so I commit my problem. not about uwp-docs

[2018-09-01 13:17] jianboy commented on #948
https://docs.microsoft.com/en-us/windows/uwp/publish/upload-app-packages#feedback

the is the doc url, I follow it to do. but still have error . so what should I do ? can you help me ? or can you tell me how to find helper's way?

[2018-09-01 15:58] Stachu270 commented on #944
It turned out it was a version issue. My UWP project was set for minimum version compilation than I have on my device. Changing the minimum version solved the problem and now the application is deploying to the phone.

Thanks @tmr4 for your suggestions.

[2018-09-01 15:58] #944 closed, assigned to laurenhughes

[2018-09-02 13:50] dingsheng999 opened #953 "documentation conflict?"
https://docs.microsoft.com/en-us/windows/uwp/monetize/enable-consumable-in-app-product-purchases
"that after a successful purchase, a customer cannot purchase the same product again until the app has notified the Store that the previous purchase was successfully fulfilled."
https://docs.microsoft.com/en-us/windows/uwp/monetize/enable-consumable-add-on-purchases
"Store-managed consumable...The user

[2018-09-03 03:12] dongle-the-gadget opened #954 "Ad status"
In Dev Center, can I see how my ad unit is going? Whether it has an ad, whether is not, whether when it is trying to create an ad?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b08c6292-c94c-2d95-e800-b14d404879f9
* Version Independent ID: 83029484-dc65-6c17-80f3-e75a6bbc6732
* Content: [Display ads in your app with t

[2018-09-03 08:04] Gnitry opened #955 "Wrong Padding value in example"
On the page [The Fluent Design System for Windows app creators](https://docs.microsoft.com/en-us/windows/uwp/design/fluent-design-system/index) we see in the example code `Padding="24,16"`, but on the image below it is `Padding="16,24"`

![image](https://user-images.githubusercontent.com/3641011/44974608-dc2a0100-af68-11e8-8d10-c6e23706347a.png)

[2018-09-03 10:27] thoraj commented on #361
I do not have any concrete technical questions right now. I'm researching how we can show notifications in apps delivered through the ClickOnce mechanism and through VDI/XenApp.

I'm not sure if I'm reading this thread correctly; is it possible to display notifications in apps delivered through ClickOnce?

[2018-09-03 20:49] ghost opened #956 "Ads Not Showing"
I have a Game on Xbox Live and where my ad should be … it's blank. I can post my code upon request. ??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d30c2cc-bf35-ffa8-fde8-c38d18da72cf
* Version Independent ID: 6e877806-26cc-7078-bbeb-351bad62ad7f
* Content: [In-app ads - UWP app developer](https://docs.microsoft.com

[2018-09-03 22:31] kswoll commented on #615
Yes, this seems broken to me.  I tried using the example for hierarchical nodes and the data template selector, and using the example code, I end up with a `TreeViewItem` that contains a `TreeViewItem` that results in many problems.  (this is as @beatnikthedan mentioned that it expects the template to be the _content_ and not an instance of `TreeViewItem`)

[2018-09-04 16:14] andrewleader commented on #361
It definitely should be possible. All that's needed is a Start menu shortcut with some additional properties specified, I imagine ClickOnce has a way to specify those (but I personally haven't researched it).

[2018-09-04 16:40] mcleanbyron commented on #954
The [advertising performance report](https://docs.microsoft.com/en-us/windows/uwp/publish/advertising-performance-report) provides metrics for your ad units, including the number of impressions and the fill rate (these appear to be closest to the info you're asking about). This report contains all of the metrics that are currently available for your ad units. I hope this helps!

[2018-09-04 16:40] #954 closed, assigned to nobody

[2018-09-04 16:49] mcleanbyron commented on #953
These two sections are actually referring to different scenarios.

- The first reference you quoted is an article about using the older Windows.ApplicationModel.Store namespace to implement consumable in-app purchases. This namespace only supports the concept of developer-managed consumables.

- The second reference is from an article about using the newer Windows.Services.Store namespace to imple

[2018-09-04 16:49] #953 closed, assigned to nobody

[2018-09-04 17:05] ginami commented on #948
Hi @jianboy -- it sounds like you need to contact developer support: https://developer.microsoft.com/en-us/windows/support.

[2018-09-04 17:18] JnHs commented on #956
Hi there - sorry to hear about this problem. Please open a support request at http://aka.ms/storesupport so that we can look into this further!

[2018-09-04 17:18] #956 closed, assigned to JnHs

[2018-09-04 17:22] dingsheng999 commented on #953
Thanks a lot McLean for the answer. It really helps.

[2018-09-05 09:16] voodooace12 commented on #891
Please check

https://developer.microsoft.com/en-us/games/xbox/docs/xdk/provisioning-dev-kit

[2018-09-05 17:36] nmanis opened #957 "Need to update eventCount to be of type number versus integer"
eventCount as shown in sample is not an integer type.  We need to update the documentation to show eventCount to be a number versus integer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 932a110a-fb7f-f65d-8e1c-e1815d14725c
* Version Independent ID: 8f97e378-00cd-1d68-c6f1-69418bd1ffef
* Content: [Get error reporting

[2018-09-05 18:04] marisolontaneda opened #958 "Testing for accessibility with Microsoft tools"
Hi,

I'm part of the Keros team, and we're evangelizing the usage of our product for product teams to do accessibility testing. Could you please update your documentation to using Keros primarily? See aka.ms/keros

Thanks,
-Marisol

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5dc0055-87d1-6dc5-9628-0c0f383642aa
* Ve

[2018-09-05 18:23] mhopkins-msft commented on #958
Hi Marisol,

Our documentation is for third-party developers. Is Keros available for third parties yet?

 ~ Mark

[2018-09-05 18:28] aablackm commented on #940
Just an update aaronlevicarrick, We have not forgotten about you!

[2018-09-05 18:37] mcleanbyron commented on #957
Thanks for reporting this issue. I have changed the data type from integer to number in the source file for this article, and this change should be published to our live site in the next 24 hours.

[2018-09-05 18:37] #957 closed, assigned to nobody

[2018-09-05 20:35] mhopkins-msft commented on #958
Hi Marisol,

Since, https://aka.ms/keros points to an internal site, I'm assuming you're referring to internal teams. This documentation is not for that audience. Let us know when Keros is available for third party developers.

[2018-09-05 20:35] #958 closed, assigned to nobody

[2018-09-05 21:19] colinkiama opened #959 "Add an example of how to build your own control from scratch (Templated Control)"
Similar to this tutorial: https://blogs.msdn.microsoft.com/windowsappdev/2012/10/15/building-a-custom-control-using-xaml-and-c/

While there are plenty of controls out there, it's still possible that the right one doesn't exist yet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 880b6ff2-bbe1-5e87-e6a8-ab06b51aaef4
* V

[2018-09-05 21:21] ghost commented on #940
Hey thanks

[2018-09-06 14:18] pkar70 opened #960 "Is this current version of schema?"
What about ToastGenericAttributionText or ToastHeader?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93411d0b-1957-e37c-a598-311e67ec2c83
* Version Independent ID: 363b36fc-5db8-803d-29b2-6bc59c88032a
* Content: [Toast content XML schema - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/design/shell/ti

[2018-09-06 17:48] #948 closed, assigned to nobody

[2018-09-06 17:50] ginami commented on #935
Hi @yordans -- let us know if you have feedback specifically on our docs. If you need developer support, go to https://developer.microsoft.com/en-us/windows/support. Thank you!

[2018-09-06 17:50] #935 closed, assigned to nobody

[2018-09-06 19:14] ei2kpi opened #961 "Wrong Nuget Package"
It looks like notifications Nuget package has been renamed to Microsoft.Toolkit.Uwp.Notifications from Windows.UI.Notifications.

Link is here: https://www.nuget.org/packages/Microsoft.Toolkit.Uwp.Notifications/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a268967-4b29-b53c-10a5-fd42ea97d8c8
* Version Independent ID

[2018-09-06 19:15] ei2kpi commented on #961
NVM... I mis-read it! That is the namespace... my bad! Sorry!

[2018-09-06 19:35] ginami commented on #961
No worries, @ei2kpi! :)

[2018-09-06 19:35] #961 closed, assigned to nobody

[2018-09-06 20:29] mijacobs commented on #960
@andrewleader

[2018-09-06 21:43] ghost opened #962 "C++ XAML for DirectX and Bridge"
Please provide C++ code samples to make this work for DirectX with XAML project template with bridge?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ba89d6c-71c3-4583-8d7f-8db231a96b07
* Version Independent ID: ce5b525b-597c-0859-ed9c-aa3104498b8b
* Content: [Extend your desktop application with Windows UIs and compon

[2018-09-07 16:36] andrewleader commented on #960
Hey @pkar70, no, the XML schema page is outdated. The [schema page for the object model](https://docs.microsoft.com/en-us/windows/uwp/design/shell/tiles-and-notifications/toast-schema) is the most up-to-date.

I'll let our new PM owner of this area know about the outdated content! Thanks!

[2018-09-07 17:24] JnHs commented on #922
I'm sorry to take so long to respond. Add-ons are actually not be displayed in the parent product's Store listing. This option simply makes the add-on available to the user from within the app. We are working to update the text used in the submission process and I will update this topic to reflect the new options once that has been done.

[2018-09-07 17:24] #922 closed, assigned to JnHs

[2018-09-07 17:30] ptorr-msft opened #963 "Should mention the FutureAccessList"
This page should mention the [`FutureAccessList`](https://docs.microsoft.com/en-us/uwp/api/Windows.Storage.AccessCache.StorageApplicationPermissions) as a feature that lets apps maintain access to a file or folder the user picked with a Picker (or via a Launch activation, etc.).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-09-07 17:32] ptorr-msft opened #964 "Should mention File Activation"
This page should mention [`ActivationKind.File` activation mode](https://docs.microsoft.com/en-us/uwp/api/Windows.ApplicationModel.Activation.ActivationKind) which lets apps get access to files the user double-clicked on, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d92df11-eaec-44ea-d130-e84304af9b8f
* Version

[2018-09-07 17:34] ptorr-msft opened #965 "Mention that broadFilesystemAccess is not necessary to gain ongoing access to files / folders the user already picked"
We have seen developers requesting the `broadFilesystemAccess` capability so that they can re-open a file the user previously picked with a `FileOpenPicker` or `FolderPicker`. This is not a good use of the capability, since the application can simply store the `StorageFile` or `StorageFolder` in their [`FutureAccessList`](https://docs.microsoft.com/en-us/uwp/api/Windows.Storage.AccessCache.Storage

[2018-09-08 15:22] linhnddev opened #968 "Not clickable for Xbox"
I've integrated a native ads to test on Xbox One.
The RegisterAdContainer method works with Desktop (Show some icon at the top of ad container and clickable) but not the Xbox.
On Xbox (Pointer disabled), The ad requested successfully. After calling RegisterAdContainer, there no icon and visuals like on Desktop and the container is not clickable even when I add buttons to RegisterAdContainer(contai

[2018-09-08 15:29] linhnddev commented on #968
After some testing and debugging, I guess the RegisterAdContainer create some Tap event (not Click event) to the container and clickable controls. Therefore on Xbox (Pointer disabled) it will not fire event when click on those clickable controls (Tap event only be fired by pointer).

[2018-09-08 16:05] BillCowell opened #969 "NavigationView MenuButton Foreground"
I can change the foreground color of the NavigationView Items with a Page.Resources section in the page XAML, but the hamburger button stays the same color. I have tried targetting 'Button' and 'PaneToggleButton' but this doesn't work. How can I  change the foreground of the hamburger button (called 'Menu Button' in the article on Navigation View)?

[2018-09-09 14:59] robloo opened #970 "Keyboard Accelerators with copy/paste is very Difficult"
As an example say there is a ListBox. The ListBox is full of ListBoxItems which each contain a TextBox. The objective is to support copy/paste of ListBoxItems themselves. However, because each TextBox within the list also has copy/paste, the Keyboard Accelerator is invoked whenever you copy/paste text in the TextBox itself. This breaks the ability to copy/paste ListBoxItems and ScopeOwner is unabl

[2018-09-09 16:32] tmr4 commented on #950
Also clearing the tree view root node (as in treeView.RootNodes.Clear()) doesn't work as one would expect, at least in the case of using a data template with GridView vs a simple TextBlock as noted above.  Visually the tree view will be cleared, but new nodes will have the contents of the previous tree view, but in reverse order.  When first adding a node to the cleared tree view it seems to recre

[2018-09-09 19:48] ghost commented on #396
Hi. Is there any result or update?
@PatrickFarley ^

[2018-09-09 20:47] #891 closed, assigned to mtoepke

[2018-09-10 07:34] pkuntal opened #971 "TPM clear doesnt affect Windows Hello"
Hi,

I am using Windows 10 RS5 17713 build and setup windows hello(finger print and PIN) using my microsoft account, My device contains discrete TPM.
I did Clear-TPM to clear everything from TPM, but still i can use my registered fingerprint to login.
Does it mean Clear-TPM doesnt clear Windows Hello container from TPM or TPM is not at all used for windows hello even if device is TPM capable?

Reg

[2018-09-10 09:43] LonelyTiger opened #972 "Clarification in retrieving password from background task"
Hi,
 I was able to store the credentials in the password vault and I was able to retrieve it within the
app. But when I was trying to get the password from vault using background task it throws exception "cannot get credentials from vault". Password vault is unique to app, I was just wondering why I was unable to retrieve it through background task.

---
#### Document Details

⚠ *Do not edit this

[2018-09-10 13:08] Gavin-Williams commented on #838
Great idea, why doesn't Microsoft write DirectX as proper Window Runtime code so that we don't need to write the wrappers? That would surely be a lot easier for everybody and the end result would probably be optimal. And wouldn't that be the correct design philosophy for where MS are going with UWP?

Until Microsoft actually provide such interoperation between DirectX and C# I recommend using Shar

[2018-09-10 16:13] ginami commented on #969
HI @BillCowell -- which page in our docs were you referring to? This will help me route your question to the correct author. Thanks!

[2018-09-10 16:13] ginami commented on #970
Hi @robloo -- which page in in our docs are you referring to? (This will help me route your comments to the correct author.) Thanks!

[2018-09-10 16:16] ginami commented on #971
Hi @pkuntal -- this is a channel for feedback on our docs... it sounds like you need support help? If so, please review our developer support options here: https://developer.microsoft.com/en-us/windows/support. If your question is specific to one of our doc pages, please let me know the URL so I can route your question to the correct author. Thank you!

[2018-09-10 16:29] BillCowell commented on #969
Hi Gina,

The page I was referring to was  ‘Navigation View (Preview Version)’ at

https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/navigationview

My app is loosely based on the example in this page. I have customised the NavigationView  by adding the following code to MainPage.xaml which contains the NavigationView

<Page.Resources>
        <Style TargetType="controls:Na

[2018-09-10 16:48] jeanmarc3 commented on #449
It all works great on desktop, but not quite for mobile... Testing with emulator "Mobile Emulator 10.0.15063.0 WVGA 4 inch 512MB", my app crashes with error:

"Exception	{Windows.UI.Xaml.Markup.XamlParseException: The text associated with this error code could not be found.
Cannot find a Resource with the Name/Key ButtonRevealBackground [Line: 18 Position: 37]}	System.Exception {Windows.UI.Xaml.Ma

[2018-09-10 16:56] ginami commented on #969
Thanks @BillCowell !

[2018-09-10 17:33] eliotcowley commented on #949
Hi @CaliforniaChao, currently the screen capture APIs don't have this functionality&mdash;you'll need to use the picker if you want to capture a window. If you just want to get the names of all the open windows, you can do something like [this StackOverflow post](https://stackoverflow.com/questions/7268302/get-the-titles-of-all-open-windows) describes, calling [Process.GetProcesses](https://docs.m

[2018-09-10 17:33] #949 closed, assigned to eliotcowley

[2018-09-10 18:38] TakeItAwayMarty opened #973 "Does this work on windows IoT Core?"
I want to run this on a windows Iot Arm device.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bde94f9c-4a90-ad85-e39a-acbba59f0ab3
* Version Independent ID: 4c13806d-2e74-cea7-64b6-ce04a37c57a2
* Content: [Display routes and directions on a map - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/maps-and

[2018-09-10 21:14] mijacobs commented on #449
Thanks for reaching out! Please check out our article on Conditional XAML: https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/conditional-XAML

[2018-09-10 21:29] jeanmarc3 commented on #449
Thanks for the quick response Mike.  I am sure this would work, but I have opted to drop Mobile support for the time being.  Reason being there is apparently no mobile emulator for Windows 10 build 16299 or later.  I hope Microsoft will either come back to mobile, or make x86 or x64 work on the new devices (like Andromeda?)

[2018-09-11 00:13] under3415 opened #974 "Capabilities"
Add details about what capabilities need to be declared.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b2b0e69-76ea-2572-83e6-6d1edce31965
* Version Independent ID: ed77ce6e-e89f-219d-741a-c2214f136cfa
* Content: [Postpone app suspension with extended execution - UWP app developer](https://docs.microsoft.com/en-gb/wi

[2018-09-11 00:28] under3415 opened #975 "Add capability names for the manifest"
You forgot to include capability names for the package.appmanifest! You have scenario and usage but not the actual name that needs to be added to the file. Perhaps you expect the GUI to handle this, but Visual Studio 2017 GUI only has a small subset of capabilities, for everything else user needs to edit the manifest in a text editor...

---
#### Document Details

⚠ *Do not edit this section. It i

[2018-09-11 08:48] pkuntal commented on #971
Hi Gina,

I am facing issue in ' windows hello and TPM' ..document which I referred
is
https://docs.microsoft.com/en-us/windows/security/information-protection/tpm/how-windows-uses-the-tpm#windows-hello-for-business

Could you please route to relevant group?

Regards,
Pooja

On Mon, Sep 10, 2018, 9:47 PM Gina P. <notifications@github.com> wrote:

[2018-09-11 10:36] Gaz83 opened #976 "Com server registered, toast not showing in action center"
So in my WPF application I have this

private void Application_Startup(object sender, StartupEventArgs e)
        {
            // Global exception handling
            Application.Current.DispatcherUnhandledException +=
                new DispatcherUnhandledExceptionEventHandler(AppDispatcherUnhandledException);
            // Register AUMID and COM server (for Desktop Bridge apps, this no-ops)

[2018-09-11 15:18] ginami commented on #971
Hi @pkuntal -- looks like that doc is in a different repo...I don't have a way to route your question to an author outside my group. Sorry about that! I recommend opening a new issue by adding your question  at the bottom of that TPM page. That should go directly to the author of that page, who can hopefully answer you.

[2018-09-11 15:26] ginami commented on #976
Hi @Gaz83 --which doc are you referring to? (This will help me route your question to the correct author.) Thank you!

[2018-09-11 15:26] #971 closed, assigned to nobody

[2018-09-11 17:47] ghost opened #977 "I started out, "How hard could that be?""
Fortunately I didn't have to do on my own.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64b1f9e3-1f19-d3f3-368f-396a1c4f918e
* Version Independent ID: a68fdcb7-a20f-87cb-711a-47254e0b233a
* Content: [Speech recognition - UWP app developer](https://docs.microsoft.com/en-ca/windows/uwp/design/input/speech-recognition?h

[2018-09-11 18:12] Gaz83 commented on #976
@ginami
https://docs.microsoft.com/en-us/windows/uwp/design/shell/tiles-and-notifications/send-local-toast-desktop

[2018-09-11 18:24] ginami commented on #976
Thanks @Gaz83 !

[2018-09-12 00:08] Karl-Bridge-Microsoft commented on #977
Thanks @jensocan. Closing issue as there is no action item or question.

[2018-09-12 00:08] #977 closed, assigned to Karl-Bridge-Microsoft

[2018-09-12 02:13] mtoepke commented on #838
Thanks for the links and recommendation @Gavin-Williams.

[2018-09-12 02:13] #838 closed, assigned to mtoepke

[2018-09-12 03:33] #973 closed, assigned to normesta

[2018-09-12 03:34] TakeItAwayMarty commented on #973
I tested myself and I could access the map api on a raspberry pi running windows IoT.

[2018-09-12 06:37] ghost opened #978 "MS Fluent"
Fluent design

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fccec470-cfbb-9a8b-91a5-ee51393f1e5e
* Version Independent ID: dbebddc4-57a1-1888-4da6-a798316f4a2a
* Content: [Design basics - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/design/basics/)
* Content Source: [windows-apps-src/design/basics/i

[2018-09-12 13:33] vijayanandmit opened #979 "Path is wrong"
The best way to tell if you are in hardware DRM or software DRM is to look at C:\Users\<username>\AppData\Local\Packages\<application name>\**LocalState**\PlayReady\*

It should be LocalCache instead of LocalState

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e5c691d-5b32-8d9e-a797-470ce52d73a5
* Version Independent

[2018-09-12 15:48] ginami commented on #978
Hi @rarogpro  -- let us know if you have specific feedback on any of our docs. Thanks!

[2018-09-12 15:48] #978 closed, assigned to nobody

[2018-09-12 18:17] v-jessmi opened #980 "Incorrect Documentation?"
I came to this page to find out how to find my IP address while on a HoloLens device and connect to it. I know I can do it through the local USB connection and going to 127.0.0.1:10080 and looking up the system info. However, from the device there is no "Advanced Options" in the Network -&gt; Wifi menu. I actually had to go to the "Hardware properties" menu to find it. I believe I have the latest

[2018-09-13 02:13] robloo commented on #970
Hi @ginami, sorry about that, link is below

https://docs.microsoft.com/en-us/windows/uwp/design/input/keyboard-accelerators

[2018-09-13 09:26] kknsy opened #981 "Prevent HoloLens from going to sleep"
Prevent HoloLens from going to sleep

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae1ab644-ee7d-3dec-cd0f-cbb1e4d8b6ac
* Version Independent ID: 97eecc36-8e2e-d4c7-1ecb-948e0846bda5
* Content: [Device Portal core API reference - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/device-po

[2018-09-13 14:07] ErwanJes opened #982 "Is this list up-to-date ?"
The system recognizes Swahili – Tanzania (sw-tz) although it does not appear on this list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfe8af46-b88e-cba9-ae17-ec6898257f34
* Version Independent ID: 67c81930-1b91-b442-1657-085d93517590
* Content: [Supported languages - UWP app developer](https://docs.microsoft.com/en

[2018-09-13 15:26] ginami commented on #970
No worries, @robloo !

[2018-09-13 15:28] ginami commented on #981
Hi @kknsy -- please let us know if you have some specific feedback on our Windows developer docs. Thank you!

[2018-09-13 17:31] equalent opened #983 "IL2CPP from Microsoft"
.NET Native is a very good tool but it would be even better if you could wrap .NET in pure C++ and make MSBuild convert .NET assemblies to C++ or ASM so developers can build them standalone.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de0709f4-087a-4192-01d1-61cc8665b6ba
* Version Independent ID: 1492eb8c-d2c9-55e6-

[2018-09-13 17:54] ShogunHirei commented on #946
I really like to thank you for this tip! Wouldn't find this myself...

[2018-09-14 01:30] stevewhims commented on #938
@Bluesman74, I'll go ahead and close this issue now since it's been a while, and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2018-09-14 01:30] #938 closed, assigned to stevewhims

[2018-09-14 01:35] stevewhims commented on #906
Hi, @bwaldbaum, the link is fixed now, so I'll go ahead and close this issue. Thanks! ~Steve

[2018-09-14 01:35] #906 closed, assigned to stevewhims

[2018-09-14 04:50] ChrisSchaller opened #984 "How to publish ACPITABL.dat to BSP or Raspberry Pi device directly"
Using this information I feel confident that I can define the additional GPIO that I have wired up to my processor (based on RaspberryPi) now that I have a ACPITABL.dat, how can I deploy this to a Raspberry Pi or how can I include this in the BSP to deploy to the device? I have gone through the labs on building and deploying a custom BSP but so far I cannot find documentation that links ACPI to th

[2018-09-14 11:54] rickasheye opened #985 "Tinkering with the xbox"
im a young developer and I would like to tinker with the xbox by debugging my games on xbox but I don't want to pay the fee neither I want to release anything with a price would be able to get an exception or???

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726a5c98-ba0b-38a0-d86e-2d5df4745d1a
* Version Independent ID

[2018-09-14 11:56] rickasheye commented on #985
I am willing to release on the store but I don't have too if you don't want me too

[2018-09-14 18:20] jordanrh1 commented on #984
Hi Chris, there are two routes:
 - Use the *test only* [acpitabl.dat feature](https://docs.microsoft.com/en-us/windows/uwp/devices-sensors/enable-usermode-access#compile-and-load-asl-with-acpitabldat) to override the existing rhproxy declaration
 - Edit the [default ACPI tables](https://github.com/ms-iot/RPi-UEFI/blob/ms-iot/Pi3BoardPkg/AcpiTables/Rhpx.asl) and [rebuild UEFI](https://github.com/ms

[2018-09-14 18:26] JnHs commented on #985
You can start developing an Xbox game on a PC first, but when you're ready to use the retail Xbox console as a development console for running test builds etc., you'll need to have a developer account and the one-time registration fee will be required (for an individual developer account this is currently $19 USD). More info on getting started with game development can be found here: https://docs.

[2018-09-14 18:26] #985 closed, assigned to nobody

[2018-09-14 20:06] vijayanandmit commented on #979
Thanks,
it is updated now
The best way to tell if you are in hardware DRM or software DRM is to look at C:\Users\<username>\AppData\Local\Packages\<application name>\LocalCache\PlayReady\*

[2018-09-14 20:06] #979 closed, assigned to drewbatgit

[2018-09-14 21:31] batchee7 opened #986 "Incorrect Link"
Clicking "Use opencv with mediaframereader" takes you to this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 273d90df-0507-f46a-45c8-05adb560610f
* Version Independent ID: 39d93000-faab-677d-f94a-47d0f80d5fd0
* Content: [Process audio frames with MediaFrameReader - UWP app developer](https://docs.microsoft.com/en

[2018-09-15 08:14] akhzarna opened #987 "I am searching for C/C++ guidelines"
Can anybody send me the code for c/c++ ??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f89409a-b108-603f-9279-c59f5ae5d188
* Version Independent ID: 5bd07919-59ac-4fca-b997-a472ae24bfb1
* Content: [Bluetooth GATT Client - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/devices-sensors/gatt-client)
*

[2018-09-15 11:26] HaoLife opened #988 "d:DataContext 不生效"
&lt;Page
    x:Class="App2.MainPage"
    xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
    xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
    xmlns:local="using:App2"
    xmlns:d="http://schemas.microsoft.com/expression/blend/2008"
    xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006"
    xmlns:vm="using:App2"
    d:DataContext="{d:DesignInstance Ty

[2018-09-15 16:36] OmPisit opened #989 "I did not use the ItemInvoked app to work properly."
public sealed partial class MainPage : Page
    {
        public MainPage()
        {
            InitializeComponent();
        }

        private void AppFrame_Navigated(object sender, NavigationEventArgs e)
        {
            navSample.IsBackEnabled = appFrame.CanGoBack;
            if (appFrame.SourcePageType != typeof(SettingsPage))
            {
                if (appFrame.SourcePageType

[2018-09-15 16:39] OmPisit commented on #989
MenuItems [1] is <NavigationViewItemSeparator />.

[2018-09-16 02:23] rbeesley opened #990 "Missing links to NavigationView"
In https://docs.microsoft.com/en-us/windows/uwp/design/basics/navigation-history-and-backwards-navigation#guidelines-for-custom-back-navigation-behavior, there are two relative links to [NavigationView](../controls-and-patterns/navigationview.md) which do not actually link to the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2018-09-17 10:21] Mancerrss opened #991 "Fluent design toolkit for Figma?"
I thought the Fluent design team on Microsoft already using Figma as their primary design tool? I've already heard to some of this too and sees some references of it including this from Figma's recent blog post on their Medium account

From https://blog.figma.com/figma-faster-d1947f9c26ca

So where actually the toolkit for Figma? is it internal for now as you guys really stressing Figma before you

[2018-09-17 10:34] Mancerrss opened #992 "Are you seriously recommending Wingdings for more icons?!?"
&gt; You don't have to use the Segoe MDL2 Assets font--you can use any font the user has installed on their system, such as Wingdings or Webdings.

Cmon. You guys just previously said

&gt; Don't use an icon if its meaning isn't clear, or if making it clear requires a complex shape.

Conflicting logic in the documentation

---
#### Document details

⚠ *Do not edit this section. It is required for

[2018-09-17 15:18] ns6482 opened #993 "Can a JS usage be provided for using SQLite in docs?"

[2018-09-17 15:51] #981 closed, assigned to nobody

[2018-09-17 15:54] ginami commented on #993
Hi @ns6482 -- which page in our docs are you referring to? (This will help me route your request to the correct author.) Thank you!

[2018-09-17 16:17] ns6482 commented on #993
@ginami ...https://docs.microsoft.com/en-us/windows/uwp/data-access/sqlite-databases

[2018-09-17 16:23] ginami commented on #993
Thanks!

[2018-09-17 16:48] mijacobs commented on #991
Hi @Mancerrss,
I'm checking with the design team about the availability of the Figma toolkit; I'll get back to you after I hear back.

[2018-09-17 16:50] mijacobs commented on #976
@andrewleader Is this something you can answer?

[2018-09-17 16:56] andrewleader commented on #976
@Gaz83 did you follow [Step 5](https://docs.microsoft.com/en-us/windows/uwp/design/shell/tiles-and-notifications/send-local-toast-desktop#step-51-wix-installer), where you add a **Start menu shortcut that has the AUMID and CLSID** property?

We only have WiX instructions, but you'd have to do something similar for ClickOnceInstall. The shortcut has to be in Start for notifications to appear as des

[2018-09-17 17:13] Mancerrss opened #994 "Where's the icon grid guidelines for creating our own icons?"
Back then when Windows 10 was just released, the Metro transitioned to MDL2 we got a PDF file right in this documentation site for the basics of our lackluster design guidelines, it shows the new 1px thin style Iconography of MDL2, and it even shows it's grid, what shapes to her overlayed as our shape guides and on what grid size we should construct it.
Where is it now? Please if you know what I'm

[2018-09-17 17:23] Mancerrss commented on #991
Thanks. Please release it from now on and just push updates and maintain it from now on

Also I saw some images on your documentation, I know this is damn well is Figma https://docs.microsoft.com/en-gb/windows/uwp/design/style/images/icons/icon-scale.gif

[2018-09-17 18:36] JnHs commented on #982
Thanks for reporting this! I'm working to confirm the list of languages now and will close this issue after we've made any needed updates.

[2018-09-17 18:55] Gaz83 commented on #976
From what I read, you can't set the AUMID for a ClickOnce, it does this for you. I managed to find this [https://jcutrer.com/howto/windows/find-aumid](url) and used that in step 5.2. The toast appears so I guess I got this right. I don't know how to set the CLSID on the shortcut with a ClickOnce.

[2018-09-17 19:09] mijacobs commented on #994
Are you talking about the doc that had illustrations like this?

![angles](https://user-images.githubusercontent.com/16708640/45644439-942fd180-ba72-11e8-870c-bef12d92d4b6.PNG)

[2018-09-17 20:00] JimmyRespawn opened #995 "Sometimes uwp does not keep the focus visual inside the VisibleBounds"
We can not adjust the focus item's position in the scrollviewer. Sometimes the focused button or item will receive cutting edge. And there is no way to adjust the position of it. The officiail store app, groove music etc always keep the highlight item in the middle of the screen. Or at least there is 36-48 pixels at the bottom so users can see what's they will get after scrolling down.
By default

[2018-09-17 23:01] mijacobs commented on #991
I heard back from the Design team--the Figma toolkit will be available to the public soon. We'll post instructions on how to get it to our Design Toolkits page.

[2018-09-17 23:01] #991 closed, assigned to mijacobs

[2018-09-18 09:19] Mancerrss commented on #994
Yes that's what I'm talking abouy. Please update your documentation with those too and the proper margins or bounding box or size for each icons. And all the things I asked above too please if you can.

It'll make designing more easier to understand for us, I able to Master making Material design Iconography first than to understand how to make MDL2/Fluent Iconography bc of the lacking, contradict

[2018-09-18 09:53] Mancerrss commented on #994
Hi again. I found the document. I happend to still have a copy of it. It's last updated in March 2016. I've scanned our design guidelines and there's still so many missing and contradicting guidelines vs that. If this documents and it's rules is still relevant to Fluent desihn, please merge it back to our new online guidelines documentation again

[2018-09-18 17:06] jwmsft commented on #990
@rbeesley, thanks for letting us know about this. The links are fixed now.

[2018-09-18 17:06] #990 closed, assigned to QuinnRadich, jwmsft, mijacobs

[2018-09-18 18:52] jmkyo opened #996 "Split UWP package acquisition behavior for Windows on ARM"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f93b0e8f-9dcb-cfda-a823-85570d64874d
* Version Independent ID: 34116b20-1d27-f340-13b2-660161c304a6
* Content: [Windows 10 on ARM - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/porting/apps-on-arm)
* Content Source: [windows-apps-src/porting/apps-on-arm.m

[2018-09-18 18:56] #996 closed, assigned to nobody

[2018-09-18 23:08] aaron-bond commented on #908
I would like to second this. @stamaimer did you have any luck authenticating and using the API? I've signed up for the dev account and now can't figure out how to use it...

[2018-09-18 23:40] dutley opened #997 "Example does not compile."
Multiple Compile errors resulted from compiling the above code most from base.h
Examples follow
c:\program files (x86)\windows kits\10\include\10.0.17134.0\cppwinrt\winrt\base.h(2185): error C3861: 'from_abi': identifier not found
1&gt;c:\program files (x86)\windows kits\10\include\10.0.17134.0\cppwinrt\winrt\base.h(2185): note: This diagnostic occurred in the compiler generated function 'conditio

[2018-09-18 23:42] stevewhims commented on #997
Hi, @dutley, please see [this frequently-asked question](https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/faq#why-wont-my-new-project-compile-im-using-visual-studio-2017-version-1580-or-higher-and-sdk-version-17134). I'll close this issue, but please reopen it (or create a new one) if you're still blocked. ~Steve

[2018-09-18 23:42] #997 closed, assigned to nobody

[2018-09-19 00:55] stevewhims commented on #974
Hi, @under3415, this topic encompasses (and provides links to) several different feature areas and scenarios, some of which require capabilities and some of which don't. It's not clear to me that drawing together the union of all of those capabilities and mentioning them on this topic would be the right thing. If you follow the links to API ref (or other conceptual) topics, then you'll find info o

[2018-09-19 06:24] stevewhims commented on #839
Hi, @MihaiUdrea, I'm sorry for the delay in getting back to you. You raise an important question. Providing illustrative code is an ongoing workstream, and it's driven by priorities (those priorities are in turn driven by customer input such as this issue, and the fact that you're asking about this). What I'll do here is to make a record of this ask, and put it onto my backlog. Since I don't have

[2018-09-19 06:24] #839 closed, assigned to stevewhims

[2018-09-19 13:46] WiTester opened #998 "Various issues"
- Exporting Excel spreadsheet as .CSV (Comma delimited) with Unicode (UTF-8) doesn't seem to work and most languages aren't recognised after import.
- Exporting listings and then importing the exact file with no modifications to a pre-order submission doesn't seem to work - spits out an error.
- Uploading a trailer to a pre-order (bundle) submission doesn't seem to work. The video uploads but then

[2018-09-19 17:39] JnHs commented on #998
Thanks for reaching out. Regarding the trailer issue, one possible reason that you wouldn't be able to select a trailer to play at the top is if you have not also included the 16:9 image described here: https://docs.microsoft.com/en-us/windows/uwp/publish/app-screenshots-and-images#windows-10-and-xbox-image-169-super-hero-art
For the other issues (and/or if this doesn't resolve the trailer issue)

[2018-09-19 17:39] #998 closed, assigned to JnHs

[2018-09-19 18:54] stevewhims commented on #937
Hi, @nhwilly, thanks for raising this issue. I've changed the title, and added some clarification in the first paragraph. I've also corrected the link that you mention (to OnBackgroundActivated), and I've confirmed that all the links now function, and go to the expected place. I'll go ahead and close the issue, optimistic that it's been addressed, but please re-open it if you'd like more discussio

[2018-09-19 18:54] #937 closed, assigned to stevewhims

[2018-09-19 19:24] stevewhims commented on #758
Hi, @ceituna, thanks for raising this issue. In fact, the sample's OnBackgroundActivated passes the `args` object's task instance to BackgroundActivity.Start, which passes the same task instance to BackgroundActivity.Run, which accesses .Task.Name on that task instance object. So the full chain is in fact accessing BackgroundActivatedEventArgs.TaskInstance.Task.Name in order to "identify which tas

[2018-09-19 21:13] stevewhims commented on #701
Hi, @AngelMunoz, apologies for the delay in responding. This feels like a support issue rather than a documentation issue. I'll pass along your repro case to the product team, and I'll reopen this issue if there turns out to be anything that I can do to improve the docs here.

Some other options: the [Windows developer feedback site](https://wpdev.uservoice.com) is the right place to file a produc

[2018-09-19 21:13] #701 closed, assigned to stevewhims

[2018-09-19 21:16] AngelMunoz commented on #701
Thanks @stevewhims Should it be noted in the documentation that there doesn't seem to be support for javascript apps yet?

in any case, I will try the other options provided

[2018-09-19 21:18] stevewhims commented on #701
If that turns out to be the case, then I'll definitely fix the docs (and/or the failure to support JavaScript will be fixed). I'm sending a link to this issue to the product owners, and I'll await their instructions. Thanks, @AngelMunoz! ~Steve

[2018-09-19 21:25] stevewhims commented on #529
Hi, @pnp0a03, thanks for raising this issue. I've added a bit more info to the topic, changed the comment, and added a link to the API ref topic for that property. I've also passed along your ask for more information to the product team and I'll await their guidance around whether or what to add to the documentation further. I'll go ahead and update the topic if/when I get that info. Meanwhile I'l

[2018-09-19 21:25] #529 closed, assigned to stevewhims

[2018-09-19 21:35] stevewhims commented on #540
Thanks, @xiaoyuzhzh and @michael-hawker! I've just merged in a change to this topic to add the missing version numbers. The version table is appropriate for API reference topics, which deal with a single API. But that's not always going to work for a conceptual topic, which always covers many APIs. However, I agree that there was version info missing, so that'll be rectified when the updated topic

[2018-09-19 21:35] #540 closed, assigned to TylerMSFT

[2018-09-20 18:27] mijacobs commented on #994
We've made a lot of updates to our guidelines since that article was release, but you make a good point about the type of guidance it contained. I'll work with our design team to add more of that type of info to this article. Thank you again for the feedback!

[2018-09-20 20:24] chrism9876 opened #1001 "paid apps"
I have added payment info and a tax profile but i cant change from free to paid. im in the UK

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec06af90-a369-e18e-dffd-30443c415f33
* Version Independent ID: dae3fe06-e22a-7c3f-c0eb-03220929f0ef
* Content: [Set up your payout account and tax forms - UWP app developer](https

[2018-09-20 20:32] JnHs commented on #1001
Please open a support request at http://aka.ms/storesupport so that someone can investigate further.

[2018-09-20 20:32] #1001 closed, assigned to nobody

[2018-09-20 20:57] bindusadu opened #1002 "GamePad A, B, X, Y button presses are not going through"
byte[] array = new byte[] { 0x01, 0xC4, 0x01, 0x00 }; - sending this byte array does not activate gamepad B
Using similar byte array message for moveDown (VK_GAMEPAD_DPAD_DOWN | 0xCC) works as expected.

Reference - https://docs.microsoft.com/en-us/windows/uwp/xbox-apps/uwp-remoteinput-api

[2018-09-20 23:01] tmr4 commented on #950
Some possible work arounds for the above problems (ones I've implemented, other solutions may be possible):
1. first grid view item of child node isn't displayed until moussed over.  **Solution**:  remove data binding and manually set the contents of the grid view items.
2. child nodes rendered out of order after expanding a second time.  **Solution**:  when collapsing a node collapse the inner mo

[2018-09-20 23:01] mcleanbyron commented on #442
Sorry for the response delay. To test the package updates API, the recommended approach is to submit your updated package to the Dev Center dashboard as a [package flight](https://docs.microsoft.com/en-us/windows/uwp/publish/package-flights) that is only available to you (or your testers) while you test the update process. If you're continuing to encounter problems with publishing to the Store, pl

[2018-09-20 23:01] #442 closed, assigned to mcleanbyron

[2018-09-20 23:56] Bhawna17 opened #1004 "WACK test fails"
Using this API(Microsoft.Data.Sqlite) in the UWP is failing the Windows App Cert Kit test.

Supported API test

FAILED
Supported APIs
Error Found: The supported APIs test detected the following errors:
API sqlite3_win32_set_directory in winsqlite3.dll is not supported for this application type.
Impact if not fixed: Using an API that is not part of the Windows SDK for Microsoft Store apps violates

[2018-09-21 00:17] NancyFolsom opened #1005 "Windows 10, Visual Studio Enterprise 2017, 15.8.5 extra steps"
Just to save people a little time...
The samples link goes to "Windows-tutorials-inputs-and-devices/GettingStarted-Ink/", but you want .https://github.com/Microsoft/Windows-tutorials-inputs-and-devices
I had to install and then update the Microsoft.NETCore.UniversalWindowsPlatform nuget package.
Then I had to enable developer mode in Windows settings. (When I tried running the solution, the settin

[2018-09-21 05:54] KLszTsu opened #1007 "A gif in "Responsive design techniques" has a very tiny issue"
The gif in [Responsive design techniques#Resize](https://docs.microsoft.com/en-us/windows/uwp/design/layout/responsive-design#resize) is as follows:
![rspd-resize2.gif](https://docs.microsoft.com/en-us/windows/uwp/design/layout/images/rsp-design/rspd-resize2.gif)

### What has happened
Pay attention to the 20th and the 21th line in the first half of the gif; It is too early that the two lines stop

[2018-09-21 09:33] shithappens2016 opened #1008 "NavigationView.PaneFooter hittest bug"
[code]
**Look at this shit:**
![bug](https://user-images.githubusercontent.com/13523412/45873161-590c0600-bdc4-11e8-89c5-7e5f9e4bca0c.gif)

[2018-09-21 12:20] endyb66 commented on #554
Any news on this issue?

[2018-09-21 16:48] rido-min commented on #554
Hi @endyb66  thanks for the suggestion, we are evaluating different options and would be helpful if you describe your scenario. Which kind of credentials (Basic, NTLM, OAuth) ?

If you want to provide further details, please contact me: rmpablos at microsoft dot com.

[2018-09-21 17:06] endyb66 commented on #554
Hi @rido-min, for my app package service, i'm using Basig and Digest Auth, so it would be really helpful, if there would be an option to provide username / password credentials for that.

[2018-09-21 23:07] tmr4 commented on #950
An update to #2. child nodes rendered out of order after expanding a second time.  You can collapse the children nodes programmatically, but need to do it on a non-UI thread and give the UI time to completely process the child collapse before collapsing the next child in the hierarchy.  I found that providing a one second delay between collapsing nodes was sufficient.  Half a second delay wasn't e

[2018-09-22 01:35] stevewhims commented on #701
Hi, @AngelMunoz, it seems that the answer was actually given in the thread above, although it's very easy to miss, and it didn't make its way into the documentation.

Multi-instancing is supported for JavaScript applications, with the exception of multi-instancing **redirection** (which is NOT supported for JavaScript applications). Therefore, for JavaScript applications, the AppInstance API is no

[2018-09-22 01:40] AngelMunoz commented on #701
ah I see, thank you! I also made a support question here
https://developercommunity.visualstudio.com/content/problem/339674/multi-instance-javascript-uwp-app.html

However would it be too much to ask for a javascript sample? I find it a bit confusing
Thank you for your support @stevewhims !

[2018-09-22 01:45] stevewhims commented on #529
Hi, @pnp0a03, it seems that, right now, the shell never sets a non-null value for RecommendedInstance. I'm about to fix the [AppInstance.RecommendedInstance](https://docs.microsoft.com/uwp/api/windows.applicationmodel.appinstance.recommendedinstance) topic to make that clear. That fix should be live by Monday morning.

[2018-09-22 02:15] stevewhims commented on #701
AFAIK, we don't plan to add a JavaScript sample at this time. But I'll pass your ask along to the product team. ~Steve

[2018-09-22 02:38] AngelMunoz commented on #701
I understand, thank you

[2018-09-22 03:02] soojinhung opened #1009 "init_apartment() in the example code for "General-purpose collection, empty" section"
what is the role of that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 449f8eee-26f7-82fd-fa40-690b2c01d835
* Version Independent ID: 3431bcaa-7566-ca31-3d49-79a4773f845e
* Content: [Collections with C++/WinRT - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/collections)
* Content

[2018-09-22 06:57] stevewhims commented on #1009
Thanks for the question, @soojcho. The call to the **winrt::init_apartment** function initializes COM; by default, in a multi-threaded apartment. But you can pass an argument to init_apartment if you need a single-threaded apartment.

I've added that info to the topic, and that fix should be live on Monday morning.

Thanks again!
~Steve

[2018-09-23 00:57] ghost commented on #940
any eta in sight for this??

[2018-09-24 03:11] stevewhims commented on #630
Hi, @duke7553, thanks for raising this issue, I know you filed it a long time ago, and I'm sorry for the really delayed response here.

I've just tried out the code under the "Open With launch" section in the topic.

What I did was: I created a new file (containing text) in my app's Assets folder on disk, and named it foo.unique. In Visual Studio, I added that new file to my app (in the Assets fol

[2018-09-24 03:22] stevewhims commented on #406
Hi, @optikos, thanks for raising this issue, I know you filed it a long time ago, and I'm sorry for the really delayed response here.

I initially wrote Bookstore1 and 2 for some content around porting from Silverlight and from Windows 8.x apps to Windows 10 apps. The Windows-universal-samples are meant to show off rather focused feature areas based on related APIs. Bookstore1 and 2 do have a dece

[2018-09-24 03:22] #406 closed, assigned to stevewhims

[2018-09-24 03:33] stevewhims commented on #370
Hi, @SuperJMN, I'm sorry for the delay in getting back to you, I know that you filed this issue a long time ago.

I've passed your request for more info along to the subject-matter experts. If/when they get back to me with that info, I'll relay it to you and I'll also update this topic with it.

Thanks for your patience.
~Steve

[2018-09-24 10:55] BillCowell commented on #969
No response after 14 days. I would still appreciate an answer. Thank you.

[2018-09-24 11:40] OmPisit commented on #661
It is just an illusion. Thanks!

[2018-09-24 13:55] ericlemes opened #1010 "Broken link: http://developer.microsoft.com/xboxactivate."
Tried to follow the procedure, but the link landed on invalid homepage. Couldn't find further instructions about how to create a devkit and associate my gamer account to the devkit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc064e49-5f24-ff80-d511-7f1947fc39da
* Version Independent ID: b8ad47c2-8264-c232-167f-b9ee

[2018-09-24 14:45] ericlemes opened #1011 "Documentation outdated"
I can't find a "gear" settings on Xbox portal. Also a link to XBox developer portal instead of a static text "Dev Portal" would be very useful. I didn't manage to associate my account to a dev sandbox.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cfddd1d-f430-c53c-fcdf-26fdd969035f
* Version Independent ID: 6af5f347

[2018-09-24 15:59] ginami commented on #1008
Hi @shithappens2016 -- thanks for your comment. Is this feedback on a specific doc, or are you looking for support help?

[2018-09-24 20:11] stevewhims commented on #858
Hi, @amp64, thank you for filing this issue, and sorry for the delay in getting back to you. I've kicked off an internal workstream around this content suggestion. Once that workstream is confirmed, if/when I get the go-ahead, I'll update this topic.

For now, I'll go ahead and close this GitHub issue, since the work is being tracked internally now.

Thanks again!
~Steve

[2018-09-24 20:11] #858 closed, assigned to stevewhims

[2018-09-24 23:31] mtoepke commented on #1010
Thanks @ericlemes ,  I'm seeing the same thing.  The product team is investigating.

[2018-09-25 01:52] mtoepke commented on #1010
@ericlemes , there have been some recent changes to Partner dashboard routing.  Try these links:
https://partner.microsoft.com/xboxactivate
or https://partner.microsoft.com/en-us/xboxdevices?activate=1

Also, to manage your devices once registered: https://partner.microsoft.com/XboxDevices

Thanks,
Mike

[2018-09-25 11:36] swapmusale opened #1012 "Not able to find "CheckedOutByYou12" Icon"
I am not able to find "CheckedOutByYou12" Icon in mdl2 file

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 633955d7-89b3-04a5-ad62-4fa860785150
* Version Independent ID: ce94b443-0257-8414-0c12-0490c0bad8b6
* Content: [Segoe MDL2 icon guidelines - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/design/s

[2018-09-25 18:57] jwmsft commented on #969
Hi @BillCowell, thanks for your patience.
To change all the navigation items and the menu button, you can override the Foreground brushes as shown here.

If you want to change only the menu button, you can override the PaneToggleButtonStyle as shown in the commented code.

[code]

[2018-09-25 19:37] aablackm commented on #940
Hi aaronlevicarrick!
Terribly sorry for the wait, but I am targeting this work to be done by the end of the week.
Thank you for your patience.

[2018-09-25 19:39] ghost commented on #940
Thanks Aaron,  :)

Sent from my Verizon Wireless 4G LTE smartphone

-------- Original message --------
From: Aaron-Micheal Blackman <notifications@github.com>
Date: 09/25/2018 12:37 PM (GMT-08:00)
To: MicrosoftDocs/windows-uwp <windows-uwp@noreply.github.com>
Cc: aaronlevicarrick <aaronlevicarrick@outlook.com>, Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/windows-uwp] C# Document

[2018-09-25 21:29] mtoepke commented on #1010
All links should be functioning correctly now.  You can also open a new InPrivate window if you encounter this.  If you run into any further issues, let us know.

[2018-09-25 21:29] #1010 closed, assigned to mtoepke

[2018-09-26 08:44] BillCowell commented on #969
That works. Many thanks.

[2018-09-26 08:44] #969 closed, assigned to QuinnRadich, jwmsft, mijacobs

[2018-09-26 10:04] JasperE84 opened #1014 "Socket Mobile Durascan D700 listing correct?"
Is the Socket Mobile Durascan D700 correctly listed here? When the scanner is paired via bluetooth in SPP mode, windows will not recognize it as a barcode scanner. It's listed in "Other devices" in the settings menu "Bluetooth & other devices".
![image](https://user-images.githubusercontent.com/12022716/46075294-5b86ab00-c18a-11e8-9c44-8b00bb5abc4c.png)

The SocketScan 10 desktop application can b

[2018-09-26 13:42] TerryWarwick commented on #1014
@JasperE84,

Yes, the Socket Mobile D700 device in SPP SSI mode is supported in Windows 10 by the Windows.Devices.PointofService.BarcodeScanner APIs even though the Icon in Settings does not appear to reflect this.  The incorrect Icon is the result of a specific hardware setting that does not impact the use of the scanner in Windows.

If you require further support on this issue, Please ask your q

[2018-09-26 16:47] JasperE84 commented on #1014
Thanks,
 I created the topic here:
https://stackoverflow.com/questions/52522366/how-to-use-uwp-pointofservice-api-for-socketscan-d700-in-spp-mode

[2018-09-26 16:47] #1014 closed, assigned to nobody

[2018-09-26 18:51] #1008 closed

[2018-09-26 22:25] #824 closed, assigned to normesta

[2018-09-27 00:26] ChrisGuzak opened #1015 "UWP programming in C++ should focus on C++ WinRT, not CX"
This section about C++ should be using C++ WinRT instead of (or in addition to) C++ CX.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6d9dce9-1e73-1732-9b14-188a492ca396
* Version Independent ID: 03126c67-93bd-2e42-691c-94c7bf85f50d
* Content: [Asynchronous programming in C++ - UWP app developer](https://docs.microso

[2018-09-27 01:06] ChrisGuzak opened #1016 "BundleMapping.txt is used to generate AppxBundleManifest.xml, this page should say so"
the VS tooling describe on this page does this for you, but readers will want to find the documentation on the generated file to understand the relationships created by them. this page should mention the name and link to the schema.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e47d552a-824c-e79e-f673-fd2e3091bd5f
* V

[2018-09-27 01:09] ChrisGuzak opened #1017 "This page should expand on what 'tightly coupled' means for related sets"
I understand that a link from the main package to the optional (using the name of the .appxbundle file + version), and the optional to the main (using the version independent name) defines the related set.

I also understand that tightly coupled means this:

versioning of the packages in a related set is synchronized in a way that won't allow the latest version of any package to be used until *all

[2018-09-27 02:51] ChrisGuzak opened #1018 "explain what OptionalProjects and ExternalPackages sections in Bundle.Mapping.txt specify"
The example Bundle.Mapping.txt file has 2 sections but nothing on this page explains how these are different. please update the page to cover this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e47d552a-824c-e79e-f673-fd2e3091bd5f
* Version Independent ID: 592317cf-65bc-b698-3332-1cd26d2255d9
* Content: [Optional pack

[2018-09-27 10:34] KLszTsu commented on #1007
It seems that the issue is too tiny; I shall close it then.

Thanks.

[2018-09-27 10:34] #1007 closed, assigned to mijacobs

[2018-09-27 12:03] aronyu79 opened #1019 "AppExecutionAlias over SSH"
I've been trying to run a console app with an AppExecutionAlias in PowerShell via SSH. It does not seem to recognize the aliases. E.g this would be perfect to create a unit-test app to run over Jenkins.

I ssh into my jenkins agent and start powershell. Installing the app works perfectly fine but when running it with the alias it fails with CommandNotFoundException. Anyone else have this experienc

[2018-09-27 12:30] LohanSolo opened #1020 "Does not work"
When I tried the above steps it says "No features to install.". No work around.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0553184-52d1-08d9-1ffd-ab80c14c559a
* Version Independent ID: a0f8735c-eea7-9c5b-0d07-52b0ed7676d1
* Content: [Graphics diagnostics tools - UWP app developer](https://docs.microsoft.com/en-us/

[2018-09-27 16:49] mijacobs commented on #1007
@KuangLei  Thank you for your attention to detail--I'll share this with the design team.

[2018-09-27 16:53] minah-kim commented on #1007
@mijacobs I see it! I will relay the feedback to the motion designer and put this on our todo list. will let you know when it gets updated!

[2018-09-27 17:12] adamhewitt627 opened #1021 "productTypes is required, and is not a string."
The *Request Body* table defines `productTypes` as not being required. However, when left off, the request returns:

[code]

Also, when passing it as a `string` (what the table defines) gives an error. The example code (using a string array) appears to be correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b95f043

[2018-09-27 18:43] ginami commented on #1019
Hi @aronyu79 -- thanks for your comment. It looks like you're hoping for some dev community help? This channel is really for feedback specific to our docs...have you tried the Windows UserVoice? https://wpdev.uservoice.com/. If you do have doc feedback, please let us know.

[2018-09-27 19:59] Solrax opened #1022 "Incomplete example"
This example will not build as is. There will be numerous undefined types. This is very confusing to people trying to learn this for the first time.

I was able to get this to build by including the following include files in pch.h:
#include &lt;d2d1_1.h&gt;
#include &lt;d3d11.h&gt;
#include &lt;dxgi1_2.h&gt;
#include "winrt/Windows.Graphics.Display.h"

However I don't know if this is "correct" Wi

[2018-09-27 20:17] Solrax commented on #802
Looks correct to me.

https://www.google.com/search?q=agnostic&oq=agnostic  (similar usage on dictionary.com)

adjective
adjective: agnostic
1.
relating to agnostics or agnosticism.
synonyms:	skeptic, doubter, doubting Thomas, cynic; More
antonyms:	believer, theist
(in a nonreligious context) having a doubtful or noncommittal attitude toward something.
"until now I've been fairly agnostic about el

[2018-09-27 21:32] stevewhims commented on #1022
Thanks, @Solrax, you're right! I'll go ahead and publish this fix as soon as I can (early next week is when the next publishing event will be). Thanks for filing this issue, and for including the solution.

~Steve

[2018-09-28 10:12] chainhead opened #1023 "Windows version support"
Is Windows 10 Pro recent compared with 'Windows 10 Fall Creators Update'?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2254d309-a79d-b6ed-fb4c-73ef689b76ec
* Version Independent ID: 96fa695b-4f0e-4d09-4b26-f7a501a78c9c
* Content: [Installing UWP apps from a web page - UWP app developer](https://docs.microsoft.com/en-

[2018-09-28 15:14] ginami commented on #1023
Hi @chainhead -- does this page answer your question? https://docs.microsoft.com/en-us/windows/uwp/updates-and-versions/choose-a-uwp-version

[2018-09-28 15:15] #1019 closed, assigned to nobody

[2018-09-28 16:06] Solrax commented on #1022
Thank you for the quick response!

[2018-09-28 17:36] michael-hawker opened #1024 "Add the minimum Windows version number for capability usage in table"
Some capabilities only were introduced with certain versions of Windows.  It'd be nice for this table to display the minimum version required to use a capability.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30a70676-883b-801e-2f07-881923cb0b96
* Version Independent ID: f968708e-33cd-ba83-fe9a-71672c961044
* Content:

[2018-09-29 00:18] optikos commented on #406
(sigh)  Microsoft's commitment to C++/WinRT is not appreciably more (yet) than Microsoft's former commitment to C++/CX.  C# is never the poor orphan step child.  C++ developers don't ask for every educational material in C# to be ported to C++/WinRT (or back in the day, to C++/CX or even further back, to C++/CLI), but the educational material for C++/* should minimally cover all the bases.  Kenny

[2018-09-29 00:47] stevewhims commented on #406
@optikos, regarding the "examples cherry-picked by Kenny Kerr's team", are you referring to the code examples that appear on GitHub, and Kenny's blog? I'm hoping to understand *where* the gaps are, and *what* they are.

If there's anything I can add to the official C++/WinRT docs, whether [conceptual](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/index) or [API reference](https://docs.

[2018-09-29 05:18] JsonTextfield opened #1025 "Grammatical error"
In the section "MenuBar vs. CommandBar", "then" should be replaced with "than".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd894ab6-9b28-956f-fd00-3d60de336045
* Version Independent ID: 5f80b19f-f8a7-4d66-bd46-2ba165f68c0f
* Content: [Menus and context menus - UWP app developer](https://docs.microsoft.com/en-us/win

[2018-09-29 22:10] optikos commented on #406
(sigh) Yes, I am aware of try_as.  I don't know what it is that I don't know (or else I might perhaps have the insight to provide the solution to my own gap of knowledge):  a chicken & egg problem.  There is something in the vicinity of try_as that I don't get.  The cherry-picked examples from Kenny Kerr's team seem to pick only the low-hanging fruit.  They don't seem to take something substantial

[2018-09-29 22:51] stevewhims commented on #406
I hear you, @optikos, and I'll see what I can do regarding providing C++/WinRT code examples for this topic. It's definitely on my list, and your feedback helps me to prioritize it.

~Steve

[2018-09-30 01:49] Shimhyewon opened #1026 "Hellow! my name is Shimhyewon"
I am a master's degree at the Korea National University of Arts. This is a must-use program for graduation work. I would appreciate it if you could send me a test version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9fc7b1d-8b97-598a-f059-093d94972931
* Version Independent ID: 943e9c97-f223-4d3c-730c-a7f20cb04560
*

[2018-09-30 22:30] ceituna commented on #758
Hi @stevewhims , thank you for your reply.
I understood the flow of the chain and that the task instance gets passed through to the Run method, but I was expecting something in OnBackgroundActivated like a switch statement to identify the task and then choose what to do next. But I guess just passing the task instance to the Run method and writing the task name to the debug console is enough of an

[2018-09-30 22:30] #758 closed, assigned to stevewhims

[2018-09-30 22:39] stevewhims commented on #758
Great! Thanks, @ceituna! :) ~Steve

[2018-10-01 18:47] aablackm commented on #940
Hey @aaronlevicarrick
Calling an Audible
[Hopefully This Helps](https://imgur.com/gallery/HWagIgJ)

[2018-10-02 04:11] alexmalk commented on #994
+1, thanks for looking into this Mike!

[2018-10-02 06:38] mmillmor opened #1032 "No links?"
Why are there no links to the pages to do these actions? They are impossible to find, and a link in here would save hours.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec06af90-a369-e18e-dffd-30443c415f33
* Version Independent ID: dae3fe06-e22a-7c3f-c0eb-03220929f0ef
* Content: [Set up your payout account and tax for

[2018-10-02 07:21] QaisAlLafi commented on #806
Is there any updates on this , we are getting the same issue.

[2018-10-02 11:44] belveder79 opened #1033 "access to D3D11Surface keeping resources on GPU"
Concerning the Screen Capture code, https://docs.microsoft.com/en-us/windows/uwp/audio-video-camera/screen-capture, I was wondering about a way to keep the captured resources on the GPU with the help of SharpDX, rather than bringing them to the CPU through CanvasBitmap.CreateFromDirect3D11Surface(...).

Basically the following code snippet should work out to copy the current Texture2D to a shared

[2018-10-02 15:07] loulouMS opened #1035 "Authentication key for using Maps on WP8.1"
This article says :
'To use map services in apps for Windows Phone 8.1 and earlier, you need to request a map service application ID and a token to include in your app's code in the Dev Center dashboard.'
I suppose that is still possible even if WP8.1 is not supported because it's not mentioned that's not possible. So, how to do?
Do I need to create a developer account (and pay) even if the app is

[2018-10-02 16:40] rido-min commented on #806
From the logs  provided, looks like you have a more recen versions of the VCLibs framework package. This could happen if you are running an insider version that includes the newer version inbox.

You can try to remove that package with `Remove-AppxPackage` (the -verbose option shows  the dependent applications)

Can you verify the install with a retal version (non insiders) of the OS?

[2018-10-02 16:51] MohammadHaroonAbuomar commented on #806
This is reproducible to me on a retail windows in developer mode.

[2018-10-02 20:13] Noemata commented on #687
This issue is in a hopelessly neglected state.  All the devs that should be working on this within Microsoft are either purposely disregarding this issue (have directly contacted all of them) given the dozens of related postings since 2015, or Microsoft management has decided Music composition/creation under UWP is irrelevant.

Either way, it's clear this problem will never be resolved.  I for one

[2018-10-02 20:26] mijacobs commented on #1026
@Shimhyewon Which program are you talking about? The design applications, such as Adobe XD? Please check the companies' websites for download information for those apps.

[2018-10-02 20:26] #1026 closed, assigned to mijacobs

[2018-10-02 22:02] Code-ScottLe opened #1037 "Need mentions about setting available tiles size in the Package.appxmanifest"
I caught myself questioning why I don't get large tiles option in the Start Menu even though I do send large tile payload through the app quite often , as I forgot to set the Large tile assets in the Package.appxmanifest first (and I don't think this get mentioned anywhere). Would be a valuable addition to the doc under Tile sizes section.

---
#### Document Details

⚠ *Do not edit this section. I

[2018-10-02 22:17] lukeblevins commented on #630
Hey, Steve!
Sorry for the late response.
With my original question I was actually implying that the Windows Shell is not remembering the user's default app preference. My application is a file explorer situation which displays a DataGrid of StorageItems clicking on a **file** typed item will prompt the user which app to use in this instance, but opting to associate an app with a file type is not r

[2018-10-02 22:18] lukeblevins commented on #630
Also, I have tested this situation with many files. For instance, PNG, JPG, MP4, TXT all demonstrate this issue. Below is a relevant snippet of code. Maybe I am overriding the set user preferences with the LauncherOption to DisplayApplicationPicker. I feel that the docs should highlight this option better to provide developers with a better understanding.

[code]

[2018-10-03 00:27] bindusadu commented on #1002
Any updates on this? Thank you!

[2018-10-03 01:14] antlhuede commented on #419
has anyone figured this out?

[2018-10-03 07:56] JD-V opened #1038 "Failed to install app app package due to unknown error !!!"
![issue](https://user-images.githubusercontent.com/6457154/46397388-c0ed1580-c70f-11e8-8f3f-79d9e9715374.jpg)

unable to install app package due to **unknown error**,

[2018-10-03 17:24] ginami commented on #1038
Hi @JD-V -- this channel is for specific feedback on our docs.  Are you looking for support help or community help? Our dev support options, including community forums,  are here: https://developer.microsoft.com/en-us/windows/support. If you have feedback on one of our docs pages, please let us know. Thank you!

[2018-10-03 17:24] #1038 closed, assigned to nobody

[2018-10-03 18:23] crission opened #1040 "developer"
The document doesn't point out that the Appx installer can't put files in the local app data folder. This is supposed to be done by the app itself when it first runs. See https://social.msdn.microsoft.com/Forums/windowsapps/en-US/284bfaec-392a-4775-864f-225543ca9b86/uwp-desktop-bridge-local-app-data?forum=wpdevelop.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2018-10-03 19:07] Dianoya commented on #687
I think this is most likely. :-(

[2018-10-03 20:05] darnoldtux opened #1041 "Display Mode - not working"
I am working on trying to get a basic understanding of this style of development for a work project and I am trying to start the program with the navigation set to compact. When adding PaneDisplayMode that does not exist and DisplayMode has no setter. Any help on this. I have searched and I have not found a fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2018-10-04 00:40] stevewhims commented on #630
Hi, Luke,

I did my experiment again (using the code in the "Open With launch" section of this topic), this time using the TXT file extension (which is one of the extensions you mention having trouble with). Same experiment I describe above, and again the Windows Shell does remember the app I pick when I check "always use this app". For example, this time I picked WordPad, checked "always use this

[2018-10-04 06:36] mjmeans opened #1042 "App startup time"
I've read docs [here](https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/best-practices-for-your-app-s-startup-performance). And have also watched the \build form 2015 on using the performance profiler. Neither give me sufficient guidance on how to diagnose startup performance for issues that the profiler can't find.

I'm having a major startup performance problem. Using VS 2017 Performa

[2018-10-04 10:15] Tennyleaz opened #1043 "Document link broken"
[Enter feedback here]
The hyper link in microsoft docs is broken:
The link at the end of page `GamepadVibrationUWP sample (github)` should be [https://github.com/Microsoft/Xbox-ATG-Samples/tree/master/UWPSamples/System/InputInterfacingUWP](url)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0555da93-c74a-9898-f704-9be6

[2018-10-04 11:51] mithom commented on #1043
Where does this come from and how am i connected to this? Can you explain. I think i am missing something

[2018-10-04 18:28] jwmsft commented on #1041
Hi @darnoldtux, PaneDisplayMode is a new property in the latest version of NavigationView. It's only available if your [minimum app version](https://docs.microsoft.com/windows/uwp/debug-test-perf/version-adaptive-apps) targets [SDK 17763](https://developer.microsoft.com/en-us/windows/downloads/windows-10-sdk) or later, or if you use the [WinUI](https://docs.microsoft.com/en-us/uwp/toolkits/winui/)

[2018-10-05 01:59] touseefbsb opened #1045 "Please add example code of how to add native ads to GridView or ListView."
Native Ads on any platform are best used in GridView or ListView like controls, so if we could have sample code to do that, it would be great, and it can get pretty complicated because Ad data can be shown in a GridViewItem with help of DataTemplateSelector, but we do not know how to do "RegisterAppContainer" in that scenario.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-10-05 02:32] optikos commented on #406
Thank you.  Even *listening* to me this far is further than I have gotten on other similar GitHub issues on this topic.

[2018-10-05 18:55] shmuelie opened #1046 "Usage from a desktop application"
Can a desktop (WPF, Win32, etc) application integrate with My People or only UWP apps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40f1ed66-689e-e446-7551-9795b6f6689b
* Version Independent ID: 5bed3097-b066-4b6e-d358-5b53106b26c5
* Content: [Adding My People support to an application - UWP app developer](https://do

[2018-10-05 20:20] omansak opened #1047 "RenderToFileAsync is reducing quality"
I have a quiet video (.mp4) and a audio(.acc or .mp3). I am using .RenderToFileAsync(file, MediaTrimmingPreference.Precise) but it is reducing quality and file size. I need just add audio to video

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0533cd22-c376-587a-230e-4ffba029ba07
* Version Independent ID: a9af06f8-3a14

[2018-10-05 21:52] stevewhims commented on #420
Hi, @sailesh-ramayanam, thanks for filing this issue. It looks like the blank pages problem has been resolved. I also acknowledge your feature request, that has been noted. I'll close this issue now.

Thanks!
~Steve

[2018-10-05 21:52] #420 closed, assigned to stevewhims

[2018-10-05 22:23] msatranjr commented on #975
All the names are mentioned clearly in bold under the usage column. Can you further clarify and perhaps give examples of what you expect?

[2018-10-05 22:25] msatranjr commented on #1024
Thanks for this feedback, Michael! I will circulate this feedback around and look into the best approach for how we can harvest and provide this information.

[2018-10-05 22:32] msatranjr commented on #965
Thanks for the feedback. The topic should be updated now.

[2018-10-05 22:32] #965 closed, assigned to msatranjr

[2018-10-05 22:39] msatranjr commented on #941
Thanks for the feedback. These changes should be in the doc.

[2018-10-05 22:39] #941 closed, assigned to msatranjr

[2018-10-05 22:44] msatranjr commented on #544
Thanks for the feedback. This should be fixed now.

[2018-10-05 22:44] #544 closed, assigned to msatranjr

[2018-10-06 15:04] christian-becker-ta commented on #573
How to handle this on developer side?
Currently I don't know which Version of Windows 10 the user has installed. So if they download my app, they can start them, and because they have installed the N Version of Windows 10, the app crashes directly.

Is there a possibility to check on App_Start event to show a Message to the User with a link to the Media Package?

Greetings
Christian

[2018-10-06 17:55] christian-becker-ta opened #1052 "Only show dialog to users which havn't rated the app already"
Is there a way to check if the user has already rated or not, before he gets the rating and review dialog displayed?

Because I don't want to annoy my users who have already rated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 291dc819-9b43-818a-f839-f69d0a0b432e
* Version Independent ID: d6cfeb3b-dd87-e0df-95a2-8b1d2

[2018-10-06 18:18] GeorgRottensteiner opened #1053 "Five points for error 2001 when uploading"
I really wish there was more info on how to tackle the five issues for error 2001. I'm writing a C++/RT app, I can debug it on a Windows Phone fine, but getting the app package uploaded successfully is eluding me.

ILDASM fails to open my executable (says no CLR header found), I don't know how to properly check for mixed mode assemblies (my .exe doesn't open with ILDASM, so I'd say it's purely nat

[2018-10-07 06:22] OmPisit opened #1054 "Worse than animals"
กุเชื่อเลยพวกมืงนี่เลวยันเงา เลวได้ใจกุจริงๆ หมาข้างบ้านกุยังมีน้ำใจดีกว่าพวกมืงเสียอีก

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: ac89746a-7629-6a95-6c5c-9498a9d7989f
* Version Independent ID: 044558cb-9f69-42df-362c-6c35317c3411
* Content: [App icons and logos - UWP app developer](https://docs.microsoft.com/th-th/window

[2018-10-07 06:42] OmPisit opened #1055 "bad"
สัตว์ พวกชิงหมาเกิดทั้งนั้น เยดแม่เอ้ย แอพพ่อมืงหรอมี ปุ่มเดียว สร้างให้พ่อมืงใช้หรอ

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: 7f2e0944-3981-142e-2654-01ab8adc78dd
* Version Independent ID: bc455444-d972-742d-b7b1-0845b60191df
* Content: [Learn how to create a ](https://docs.microsoft.com/th-th/windows/uwp/get-started/cr

[2018-10-07 06:43] OmPisit opened #1056 "hell"
ชุมชนพวกมืงนี่เลวแบบนี้หมดทุกคนหรือปล่าวนี่

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: 80b47dbb-38b5-9d75-8df2-2300cdc25bb7
* Version Independent ID: b204d881-3ca4-a7bb-87c3-0e91df704637
* Content: [Learning track - Construct and configure a form - UWP app developer](https://docs.microsoft.com/th-th/windows/uwp/get-starte

[2018-10-07 06:44] OmPisit opened #1057 "Come with good responsibilities."
ที่พวกมืงทำกันอยู่นี่ มันดีจริงๆแล้วหรือ

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: 5fc1c132-3cfa-1a08-0726-214110c8d23d
* Version Independent ID: 7ddf3871-c4a1-ae0a-9c03-25ccf4934cf2
* Content: [Create a user interface tutorial - UWP app developer](https://docs.microsoft.com/th-th/windows/uwp/design/basics/xaml-basics-ui

[2018-10-07 06:48] OmPisit opened #1058 "Social degeneration"
What do you think? This document is for teaching others. Do you really want to live? This is my first post.

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: 69746a38-2c7a-45f6-765f-2c5801a27193
* Version Independent ID: 64ee3bd3-91f2-018a-8ea7-28ae91e109ce
* Content: [Create adaptive layouts tutorial - UWP app developer](https:

[2018-10-07 06:52] OmPisit opened #1059 "I will teach others. Give information to others. I do not know what to do."
This is a bad document. Make people lose time thinking that they are good to teach others. Do you have this intelligence? To teach others. If you have time, take time to teach your children. Do not be so bad like this.

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: 619403ef-84d5-eaa9-78e5-cb522553c46e
* Version Independent ID

[2018-10-07 06:54] OmPisit opened #1060 "Break up"
Breakpoints eat shrimp I came home here to stay, eat, cook all day.

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: 7ef13333-20dd-0d5d-0680-196e1e74ad2f
* Version Independent ID: 995f19c1-7c3d-cee6-d1dc-5ce36054e2c0
* Content: [Screen sizes and break points for responsive design - UWP app developer](https://docs.microsoft.com/

[2018-10-07 06:55] OmPisit opened #1061 "Techniques or animated films."
Fucked Teach people to write programs.

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: 7371c6d4-c3b8-f6ed-dc2c-11e62504adde
* Version Independent ID: 9f674922-6d8b-4293-756f-0036ad9cbcff
* Content: [Responsive design techniques - UWP app developer](https://docs.microsoft.com/th-th/windows/uwp/design/layout/responsive-design)
*

[2018-10-07 06:56] OmPisit opened #1062 "People are still there."
Design responds to the foot or the ball.

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: b8cecd85-5983-c683-d8ea-6c010b7b2b58
* Version Independent ID: 8a77e197-6c7c-3fcb-7ecf-e52f4a270d2d
* Content: [Responsive layouts with XAML - UWP app developer](https://docs.microsoft.com/th-th/windows/uwp/design/layout/layouts-with-xaml)

[2018-10-07 07:00] OmPisit opened #1063 "The good of the people"
If they do not teach here, I'm not angry at you. I will know that it does not have people who are kind to teach. If this is taught, then pretend like this. I know it's too fucked up.

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: fccec470-cfbb-9a8b-91a5-ee51393f1e5e
* Version Independent ID: dbebddc4-57a1-1888-4da6-a798316f4a

[2018-10-07 07:25] ghost opened #1064 "more examples?"
delete me

[2018-10-07 13:20] dongle-the-gadget opened #1065 "Account payment error"
I want to open a developer account when I see this error:
"Error code 6152.
Your payment provider declined this transaction. Please use a different payment method."
And for that the payment subtracts 21,000 VND (0.90 USD) on my account. Can you tell me more about this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726

[2018-10-07 17:32] taaoo75 opened #1066 "Application updates only once"
The promise was that once installed, the app will always keep itself current and keep on updating whenever there is a newer version detected at the source location. This does not happen but once. When installed, the app updates itself to the next version that is available at the source location and stops doing any updates after that. This issue has been long standing since the release in April but

[2018-10-08 15:57] ginami commented on #1054
Thanks for your feedback, @OmPisit . Please let us know if you have any specific comments on our docs.

[2018-10-08 15:57] #1054 closed, assigned to nobody

[2018-10-08 15:58] ginami commented on #1055
Hi @OmPisit -- please let us know if you specific feedback on our docs.

[2018-10-08 15:58] #1055 closed, assigned to nobody

[2018-10-08 15:59] #1057 closed, assigned to nobody

[2018-10-08 15:59] #1056 closed, assigned to nobody

[2018-10-08 16:00] #1058 closed, assigned to nobody

[2018-10-08 16:00] #1059 closed, assigned to nobody

[2018-10-08 16:00] #1060 closed, assigned to nobody

[2018-10-08 16:01] #1061 closed, assigned to nobody

[2018-10-08 16:01] #1062 closed, assigned to nobody

[2018-10-08 16:01] #1063 closed, assigned to nobody

[2018-10-08 16:15] JnHs commented on #1053
Please open a support request at http://aka.ms/storesupport for help with these errors. Thanks!