[2019-08-02 16:39] jwmsft commented on #1838
I believe this is a limitation of this feature, as parts of it rely on the XAML framework. The first purple note in the article states:
_Simple color customization is available to UWP apps using XAML, DirectX, and HTML. Full customization is available only to UWP apps using XAML._

If you set the Title property, the system always appends _- DisplayName_. This name comes from the DisplayName field

[2019-08-02 19:41] DarkWanderer opened #1839 "Strange description of "userPrincipalName" capability"
The userPrincipalName restricted capability *allows apps to modify and access the thumbnail cache from photos.* - this doesn't seem right

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdfe599a-af5b-acbc-1405-d1030d9f6661
* Version Independent ID: 85857337-8448-af63-b543-f01ef482ea09
* Content: [App capability declarat

[2019-08-02 21:45] scorkla opened #1840 "XAudio2Create returns bad code when called in a Hololens app."
Our call to XAudio2Create in xaudio2.h:1321 is returning a bad HRESULT of 0x88960001. We are running remotely on the HoloLens.

This is happening in version 1903 (build 10.0.18362.0). It works fine in the previous build 10.0.17763.0.

[2019-08-03 00:55] Gavin-Williams commented on #1838
Yes that is exactly what I'm after. Thanks for your help.

[2019-08-03 00:55] #1838 closed, assigned to jwmsft, mijacobs

[2019-08-03 00:57] amartens181 opened #1841 ".Net Core 3"
Is this possible in .net core 3 WPF apps? It doesn't seem to be.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14e9484a-4921-2ee3-c93e-787a7b104f61
* Version Independent ID: 9e3db713-1558-7297-ef6d-53e5d87d4757
* Content: [Send a local toast notification from desktop C# apps - Windows UWP applications](https://docs.mi

[2019-08-03 03:18] tulnov opened #1842 "Missed symbols"
Symbols EDE0, F0EF, F354, F87B(Spelling), F87C(SpellingKorean), F87D(SpellingSerbian), F87E(SpellingChinese),  F89A(FolderSelect), F8A5, F8A6, F8AA, F8AB, F8AC, F8AD, F8AE, F8AF, F8B0, F8B1, F8B2, F8B3 are missed on page with description, but presents in font Segoe MDL2 Assets version 1.78.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2019-08-05 10:03] ChristopherBenson opened #1843 "@ is not ampersand (content link doc)"
The second paragraph opens with:

But @ and ampersand are different things (the "ampersand" symbol is &).
The @ symbol is informally and widely (but not universally) known as the at sign. As there is no formal name for it in English, I would just omit the name of the symbol entirely and just use the symbol itself:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-08-05 17:48] andrewleader commented on #1841
Hey @amartens181, it is possible with .NET Core 3.0, we're working on updating the helper library for .NET Core 3.0 along with publishing the helper library as part of the Windows Community Toolkit.

Here's the latest branch we've been working on: https://github.com/windows-toolkit/WindowsCommunityToolkit/tree/nmetulev/desktopnotifications/Microsoft.Toolkit.Uwp.Notifications/DesktopNotificationMan

[2019-08-05 18:57] CeciAc commented on #1835
Hello, @MatBenAtos
Thank you for your feedback.
 
Our engineer team reviewed your suggestions and accepted them. We implemented your feedback and published to the updated articles on the Docs site to the following pages https://docs.microsoft.com/de-de/windows/uwp/packaging/auto-build-package-uwp-apps#feedback

We truly appreciate your contribution to our articles and we encourage you to continue

[2019-08-05 18:57] #1835 closed, assigned to DavidPrio

[2019-08-05 19:56] #904 closed, assigned to jwmsft

[2019-08-05 20:06] #781 closed, assigned to jwmsft

[2019-08-05 21:01] #1349 closed, assigned to jevansaks

[2019-08-05 21:07] hickeys commented on #1842
Thanks for logging this issue. Those symbols may exist in 1.78, but Windows 10 uses 1.75. Until that changes, this page should continue to document 1.75, not 1.78.

[2019-08-05 21:07] #1842 closed, assigned to mijacobs, v-nihar

[2019-08-05 21:08] hickeys commented on #1843
Thanks for logging this issue. I've fixed it in our repo, the changes should be published shortly.

[2019-08-05 21:08] #1843 closed, assigned to jwmsft

[2019-08-05 21:11] jwmsft commented on #1191
Doc has been updated.

[2019-08-05 21:11] #1191 closed, assigned to jwmsft

[2019-08-05 21:15] jwmsft commented on #1190
Doc has been updated.

[2019-08-05 21:15] #1190 closed, assigned to jwmsft

[2019-08-05 21:18] hickeys commented on #1841
closing this issue as there is no documentation change required

[2019-08-05 21:19] hickeys commented on #1840
Thanks for reaching out with your feedback. Issues opened on the docs GitHub are meant for documentation feedback, and unfortunately we cannot provide technical support. For community assistance with development questions I recommend that you ask on our forums or StackOverflow. For other support options, check out the developer support page. If you get assistance through these other resources and

[2019-08-05 21:19] #1840 closed, assigned to nobody

[2019-08-05 21:33] hickeys commented on #1841
Mistakenly closed this issue, reopening since Andrew is already working on it.

[2019-08-05 21:35] hickeys commented on #1782
Thanks for reaching out with your feedback. Issues opened on the docs GitHub are meant for documentation feedback, and unfortunately we cannot provide technical support. For community assistance with development questions I recommend that you ask on our forums or StackOverflow. For other support options, check out the developer support page. If you get assistance through these other resources and

[2019-08-05 21:35] #1782 closed, assigned to hickeys

[2019-08-05 21:36] hickeys commented on #1780
It looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use the [Windows developer feedback site](https://wpdev.uservoice.com/). We’d be happy to have this on record, where others can view it and upvote it.

[2019-08-05 21:36] #1780 closed, assigned to hickeys

[2019-08-06 02:46] stevewhims commented on #1829
Hi, @daviddetweiler, I'm not able to reproduce the issue. I'm using the latest public SDK, latest public OS, latest Visual Studio 2019 and C++/WinRT NuGet and VSIX. I can follow the instructions at the start of [Concurrency and asynchronous operations](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/concurrency) to create a new project and set it up and paste in the code there, then I ca

[2019-08-06 04:22] shyamvs1001 opened #1845 "Update of offline licensed and distributed apps"
Could you please clarify how the extensions distributed offline along with license are updated? If it is updated in the store does it update in the user's browser also? Could you please explain this scenario? It would help us provide this option to our customers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ad7be45-

[2019-08-06 05:22] daviddetweiler commented on #1829
Problem disappeared after a clean reinstall. My mistake.

On Mon, Aug 5, 2019 at 7:46 PM Steven White <notifications@github.com>
wrote:

[2019-08-06 17:42] ArchieCoder opened #1847 "A UWP example would be appreciated for this section"
The section Landmarks and Headings contains good info, but it would be easier to understand with a concrete example with XAML code. The example would includes LandmarkType, LocalizedLandmarkType and HeadingLevel. Thank you

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d135d1fb-1bcc-2f55-fad9-05bdcf193256
* Version Ind

[2019-08-06 18:28] markseminatore opened #1848 "Payout Summary screen not updating"
It has been well over a month since the Payout Summary screen has shown valid (or updated) information in Partner Center. When will this be fixed?

[2019-08-06 20:33] stevewhims commented on #1829
Thanks, David, I'll go ahead and close this, then.

Thanks!
~Steve

[2019-08-06 20:33] #1829 closed, assigned to stevewhims

[2019-08-06 21:06] hickeys commented on #1819
Hello namlgiang.

The dev team would like some additional information from you. Could you contact me at hickeys@microsoft.com?

[2019-08-06 21:57] #1815 closed, assigned to kikisaints, jwmsft

[2019-08-06 22:27] hickeys commented on #1773
It looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use the [Windows developer feedback site](https://wpdev.uservoice.com/). We’d be happy to have this on record, where others can view it and upvote it.

[2019-08-06 22:27] #1773 closed, assigned to hickeys

[2019-08-06 22:28] jwmsft commented on #1807
Doc has been updated.

[2019-08-06 22:28] #1807 closed, assigned to kikisaints

[2019-08-06 22:30] hickeys commented on #1772
Publishing your app will put it in the store with the visibility criteria you selected when you created your submission. If you selected a restricted visibility, only accounts you've listed will be able to see the submission.

[2019-08-06 22:30] #1772 closed, assigned to hickeys

[2019-08-06 22:46] hickeys commented on #1726
Thanks for reaching out with your feedback. Issues opened on the docs GitHub are meant for documentation feedback, and unfortunately we cannot provide technical support. For community assistance with development questions I recommend that you ask on our forums or StackOverflow. For other support options, check out the developer support page. If you get assistance through these other resources and

[2019-08-06 22:46] #1726 closed, assigned to hickeys

[2019-08-06 22:50] hickeys commented on #1709
I'm not sure I understand what you're asking. Can you elaborate a little more about version history and what you'd like to do?

Thanks,
Shawn

[2019-08-07 10:43] Fieel commented on #1766
Yes. It's useless here though.

@mitulsuthar is right, most of the microsoft docs nowadays lack examples and just show you a single line of code or a method without context at all. This whole article doesn't even tell you HOW or WHERE to register a background task, and the title of this article is "Register a background task". Should be changed into "Shows you how to create a generalized method th

[2019-08-07 11:55] RehanSaeed commented on #1842
What version of Windows contains 1.78 and where can we get it? I'm looking for EC4D and F077.

[2019-08-07 12:21] tulnov commented on #1842
1903 build 18950

ср, 7 авг. 2019 г. в 14:55, Muhammad Rehan Saeed <notifications@github.com>:

[2019-08-07 16:40] mcleanbyron commented on #1839
Thanks for catching this. The description for this capability has been fixed.

[2019-08-07 16:40] #1839 closed, assigned to mcleanbyron

[2019-08-07 17:04] hickeys commented on #1705
I believe this is already documented in the first tip in the section: Make this product available but not discoverable in the Store

It reads: "If you don’t want the listing to be viewable to the public, even with a direct link, choose Private audience in the Audience section, as described above."

If that is not what you are asking, then it's possible I've misunderstood your question. Could you e

[2019-08-07 17:05] hickeys commented on #1770
Just made this change, it should be published shortly.

[2019-08-07 17:05] #1770 closed, assigned to hickeys

[2019-08-07 17:16] mcleanbyron commented on #1836
Thanks for your feedback. The engineering team has confirmed that you are correct - the password is only for the private key, and a password for the certificate file itself is not supported at this time. I have revised the related guidance in the article to clarify this.

[2019-08-07 17:16] #1836 closed, assigned to mcleanbyron

[2019-08-08 21:18] Karl-Bridge-Microsoft commented on #1822
Hi @CeciAc, can you clarify this issue? I'm not sure what the fix is for "should be indented in a different way". According to the docs contributor guide, the issue might be with the heading, which is apparently not supported within the columns extension. I've revised the topic for that issue, so please reactivate if that doesn't fix your loc issue.

[2019-08-08 21:18] #1822 closed, assigned to Karl-Bridge-Microsoft

[2019-08-09 10:58] hyoshioka0128 commented on #1667
Fixed. "https://github.com/MicrosoftDocs/windows-uwp.ja-jp/pull/43"
Close #1667

[2019-08-09 10:58] #1667 closed, assigned to hickeys

[2019-08-09 21:44] Qws commented on #1731
Any information about this? WinJS gone or something?

I have a webapp and I want to build UWP version.

[2019-08-10 00:10] chigy commented on #1167
@david-osborne , the color palette you saw before was just a generic palette that is not tied to any platform offering that our design team may or may not have been using it. To avoid confusion, it was removed.

[2019-08-12 20:04] chigy opened #1855 "This statement is confusing"
This uses so many negatives that I do not understand if I should or should not use reveal. I am assuming menus do use reveal.
"If your custom control is a single interactive element and doesn't have similar controls sharing it's space (such as menu items in a menu), it's likely that your custom control doesn't need Reveal."

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2019-08-12 20:07] mijacobs commented on #1855
There's an example right after those bullets:
For example, a button by itself shouldn't use reveal, but a set of buttons in a command bar should use Reveal.

[2019-08-12 20:13] RossMMason opened #1856 "Cleaning Up"
How do you stop monitoring for changes? Could you please explicitly mention clean up steps even if non are required?

I am experiencing an error with regard to a removable USB drive which I think could be resolved if I could somehow clean-up and then restart the monitoring at key points such as when the machine goes to sleep. The error code I am receiving is 80080222. Could an explanation and miti

[2019-08-12 20:19] chigy commented on #1855
We have other discussion around reveal document being confusing. And as I read it, I was confused...
https://github.com/microsoft/microsoft-ui-xaml/issues/995

@kikisaints

[2019-08-12 22:39] knicholasa commented on #1856
Hi, thanks for the feedback and you've already done the right think in going to SO for assistance. Another resource to check out would be our support [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required). If you get assistance through these other resources and believe that information would help improve the docs, please come back and update

[2019-08-12 22:47] RossMMason commented on #1856
Thanks Nick,

I haven't had much luck with the support forums in the past!

I’ll definitely feedback with any further information if I find out any more. If you have contact with the team could you try and track down the meaning of that error code and find a way to incorporate it in the docs. Understanding what it is trying to tell me would be a good first step and I can’t find any further informa

[2019-08-13 03:04] EatonZ commented on #1781
Hi, may be slightly off topic, but what exactly is the benefit of setting _maxversiontested_ in a manifest?
The [documentation](https://docs.microsoft.com/en-us/windows/win32/sbscs/application-manifests) doesn't really state why it may be beneficial. If I were to set it in say, a WinForms app, what would happen exactly? I already use _supportedOS_.

[2019-08-13 03:13] sylveon commented on #1781
It's used for Xaml Islands, unless you use that it will have no impact on
your winforms app.

On Mon, Aug 12, 2019, 23:04 Eaton <notifications@github.com> wrote:

[2019-08-13 04:46] mercuito commented on #612
So, if anyone else reaches this in hopes of figuring out a way to save the resulting Direct3D11CaptureFrame frames to an encoded video format (like mp4). Here is what you can do:

- Define a media stream source with uncompressed as the video encoding (since we're using a D3Surface which is justa bitmap in the end)

[code]

- Hook the stream to a decoder. The output stream is a file for this snippe

[2019-08-13 11:47] kinex opened #1860 "Exported transaction history report missing a column and has invalid data"
Old report contained a column "Country / Region", but it is missing from the new report. This column is mandatory for reporting sales to tax office (for example sales in EU area must be separated from other sales).

In addition the column "taxRemitted" contains invalid data. There is just some text (e.g. "AGENT_MS_REMIT") and not the actual amount of tax as expected (and as documented).

Both of t

[2019-08-13 12:44] JohnGalt1717 commented on #612
@mercuito Thank you for this!  Here's hoping someone at MS can make this into a full sample and put it into the useless documentation.

[2019-08-13 21:40] jsuddsjr opened #1861 "Code samples should include rescap namespace."
Since rescap namespace is not in .appxmanifest file by default, you should mention that you will need to add it as a namespace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ee37beb-26fc-4eca-d48e-08b4c1563b2f
* Version Independent ID: 2cf94c45-f764-78fc-f72b-ea35a09ba066
* Content: [Run in the background indefinitel

[2019-08-14 06:22] jignesh-fandco opened #1862 "API Rules are a pain, that makes it practically useless."
What the point of using such api that has a funny rule "If you use the dashboard to change a submission that you originally created by using the API, you will no longer be able to change or commit that submission by using the API."

I don't understand if I want to programmatically do some changes in the pending submissions, Why I am restricted to do.  there are multiple stake holders who will do c

[2019-08-15 06:23] AdamSzofran opened #1863 "RemoteCameraPairingHelper sample throws exception when new camera is plugged in"
The `RemoteCameraPairingHelper` class in the sample code on [this page](https://docs.microsoft.com/en-us/windows/uwp/audio-video-camera/connect-to-remote-cameras#remote-camera-pairing-helper-class) throws an unhandled exception when a new camera device is plugged in after the initial enumeration is complete.

The exception is thrown in the call to `MediaFrameSourceGroup.FromIdAsync()`. The excepti

[2019-08-15 06:59] vturov opened #1864 "New types of Visuals are not described here"
I guess we need some info on new types of visuals: LayerVisual, RedirectVisual, ShapeVisual.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e11c9da9-8225-47d8-f992-d4fc9bce807e
* Version Independent ID: 615e410c-1635-cd98-c078-1a1424956c93
* Content: [Composition visual - Windows UWP applications](https://docs.microsof

[2019-08-15 13:31] crramirez opened #1865 "Add reference to the Include prerelease in "Call UWP APIs in desktop apps""
[Enter feedback here]

Here:

In the NuGet Package Manager window, select the Browse tab and search for Microsoft.Windows.SDK.Contracts.

Please add: Be sure that **Include prerelease** check is enabled.

I had many problems because I didn't realize it and I finished installing them manually

Regards
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-08-15 16:30] mcleanbyron commented on #1865
Thanks for submitting this great feedback. I'll clarify this in the article as soon as I can and update this issue when that is done.

[2019-08-15 16:50] RossMMason commented on #1856
Some more info on my particular problem although it is probably not that important to the documentation request.

We originally wrapped some exception handling round the error to catch it and this was useful in diagnosing the error but once the error occurred we got no changes until the machine was rebooted.

We have since updated some drivers on the machine and we still intermittently catch and l

[2019-08-15 20:18] DesignPolice opened #1866 "UI Design"
I have some specific questions I would like to follow-up with - looking for more specifics rather than the suggestions here and the Inclusive Toolkits. My specific questions are for a new WebApp.

Thanks, Marc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 568bc213-2c78-5fbc-e839-bb1340474680
* Version Independent ID:

[2019-08-15 20:38] knicholasa commented on #1856
Hi @RossMMason, I reached out to the team and they are curious to learn more about your scenario. Adam left a comment on the [stack overflow thread](https://stackoverflow.com/questions/57466690/0x80080222-error-when-monitoring-folder-with-storagelibrarychangetracker), please follow up with him there and he can help you out. I'll update the docs as necessary depending on what they learn from that t

[2019-08-16 00:13] #1167 closed, assigned to jwmsft, chigy

[2019-08-16 13:26] marqdouj opened #1867 "Exception Showing Toast: Element not found. (Exception from HRESULT: 0x80070490)"
I am using Win10 1903 (18362.295).
I created both a .NET Core 3.0 and .NET 4.7.2 WPF project (VS2019 Preview); installed both nuget pkgs, copied the code example and tried to run  it.
This line of code causes the error: ToastNotificationManager.CreateToastNotifier().Show(toast);
So I downloaded the nuget samples and tried to run the HelloWorldConsoleSample app - same issue.
Any ideas what is causi

[2019-08-16 15:35] AdamSzofran opened #1868 "Typo on Process Media Frames with MediaFrameReader page"
There is a typo on this page:
https://docs.microsoft.com/en-us/windows/uwp/audio-video-camera/process-media-frames-with-mediaframereader#initialize-the-mediacapture-object-to-use-the-selected-frame-source-group

Instead of **MediaCaptureSettings** it should be **MediaCaptureInitializationSettings**. That word is a hyperlink so the link will need to be fixed too.

---
#### Document Details

⚠ *Do n

[2019-08-16 17:55] #1765 closed, assigned to nobody

[2019-08-18 23:46] roghib opened #1869 "Error"
Not found

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60025def-004a-97b9-be6e-a2678e0b4461
* Version Independent ID: 51e386c5-e9cf-f900-ba27-1479709f8186
* Content: [Segoe MDL2 icon guidelines - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/design/style/segoe-ui-symbol-font#feedback)
* Conte

[2019-08-19 15:22] michael-hawker opened #1870 "Individual Control Style Pages with Resources and Visual States for UWP/WinUI"
There used to be equivalent style pages for each control like [this one for WPF](https://docs.microsoft.com/en-us/dotnet/framework/wpf/controls/progressbar-styles-and-templates) listing out the style info from generic.xaml for the control.  It makes it super easy to understand a control's style and construction as a reference when writing subcontrols using that template.  Searching generic.xaml is

[2019-08-19 16:30] mijacobs commented on #1869
@roghib Can you please elaborate? Was the article giving you a 404 error? I'm able to reach it.

[2019-08-19 16:30] #1869 closed, assigned to mijacobs

[2019-08-19 16:34] drewbatgit commented on #1868
This typo has been fixed. Thank you for reporting this issue.

[2019-08-19 16:34] #1868 closed, assigned to drewbatgit

[2019-08-19 17:21] jevansaks commented on #1828
UWP apps don't show the icon in their title bar, we should update the docs to clarify that. Thanks!

[2019-08-19 17:25] jevansaks commented on #1870
We can link out to the github pages where these styles are defined if that would help, or maybe even cross-include the relevant portions into the doc pages. @chigy something to think about for how we could automate this process?

[2019-08-19 17:30] chigy commented on #1870
@michael-hawker , thank you for your request. We are aware that this is something we currently don't have any sustainable solution for.

That said, it would be helpful if you could help me understand what exactly you are looking for. Are you simply looking for us to extract a copy of style in XAML markup like you linked for WPF or do you want to see the visual and notation on the UI?

I am asking

[2019-08-19 22:05] jwmsft commented on #878
This issue appears to be fixed.

[2019-08-19 22:05] #878 closed, assigned to knicholasa

[2019-08-19 22:09] jwmsft commented on #835
This issue has been fixed.

[2019-08-19 22:09] #835 closed, assigned to GrantMeStrength

[2019-08-19 22:13] #1023 closed, assigned to nobody

[2019-08-19 22:22] #1166 closed, assigned to drewbatgit

[2019-08-20 02:05] Karl-Bridge-Microsoft commented on #1866
Hi @DesignPolice, please submit your doc feedback and suggestions for improvements here. If you're looking for general product support you'll find quicker support by consulting our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=requ

[2019-08-20 02:05] #1866 closed, assigned to Karl-Bridge-Microsoft

[2019-08-20 05:56] jtg-gg opened #1871 "Mouse Cursor always captured"
Is there any setting / parameter NOT to capture the mouse cursor ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b8d11e4-f9c6-383a-38d4-6cf7633edb7c
* Version Independent ID: 7015ed77-ae66-cc97-301c-b0c6ebfb2bd3
* Content: [Screen capture - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/audio-

[2019-08-20 07:32] pdecostervgls opened #1872 "Where can you find the default styles to edit a copy from?"
Since the XAML designer has been reworked in Visual Studio and Blend, it is not possible to "edit a copy" of a controls style through the UI anymore. How/where can this information been found?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71085aa7-f688-0f7f-af84-431742ca7a2a
* Version Independent ID: 181f13bd-fb4e-3e4

[2019-08-20 12:02] BoomRaccoon opened #1873 "FileTypeFilter unclear"
Looking at the documentation the Properties look optional, which is true for Location and ViewMode, but trying to omit the FileTypeFilter leads to an error.
So either state that it is a property you are required to set or fix the implementation.
A tip on how to show All Files/no filter would be really helpful. Figured it out myself after quite some search
FilePicker.FileTypeFilter.Add("*");

---
#

[2019-08-20 17:16] drewbatgit commented on #1871
Unfortunately, there is a not a setting to disable capture of the mouse cursor.

[2019-08-20 17:16] #1871 closed, assigned to drewbatgit

[2019-08-21 00:08] sam9116 opened #1874 "Duplicate link to PointerWheelChanged"
slightly confusing to read

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddbac8a8-2d6a-7d77-9fef-5b37fa68a70f
* Version Independent ID: b260cd4c-ef7a-3e56-31ec-1a9705525c08
* Content: [Mouse interactions - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/design/input/mouse-interactions#feedback)

[2019-08-21 12:30] crramirez commented on #1865
Fixed!
![image](https://user-images.githubusercontent.com/8397379/63431874-2decc500-c420-11e9-824b-85e8fcdde477.png)

Thanks a lot

[2019-08-21 12:30] #1865 closed, assigned to mcleanbyron

[2019-08-21 17:17] jevansaks commented on #1872
Edit a copy should work in VS, if it doesn't that is a regression. Please file a bug in VS using the "send feedback" button in the upper right of the VS window.

![image](https://user-images.githubusercontent.com/20667023/63453171-e6087680-c3fc-11e9-8fc6-b6f2859cbe95.png)

[2019-08-21 17:17] #1872 closed, assigned to jwmsft

[2019-08-21 17:41] chigy commented on #1827
Trying to locate area experts.

[2019-08-21 17:42] chigy commented on #1828
Trying to locate area experts for outside of UWP.

[2019-08-21 19:15] michael-hawker commented on #1870
Hi @chigy, the main thing is that searching through the massive generic.xaml is a pain, as there's generally the control name used as a lot of prefixes for other resources in that file as well, so outside of remembering where the file is to dig up, it takes a bit to search through.  It was much faster to just bing `uwp listview style` and pull up the result as a reference online.

The main thing I

[2019-08-21 19:30] adrientetar opened #1876 "Custom cursors docs are missing"
What's missing:
- Guidance on how to create custom cursors (there is a blog post that explains how to use C++ dll resource file to do it [here](https://blogs.msdn.microsoft.com/devfish/2012/08/01/customcursors-in-windows-8-csharp-metro-applications/))
- Recommendations for what size bitmaps should be provided in a custom cursor

cc @michael-hawker
cc microsoft/microsoft-ui-xaml#506

---
#### Docum

[2019-08-21 20:09] letmaik opened #1877 "Windows.ApplicationModel.AppService.AppServiceConnection incorrectly listed as supported only in packaged apps"
https://docs.microsoft.com/en-us/uwp/api/windows.applicationmodel.appservice.appserviceconnection has the DualApiPartitionAttribute, so according to the "APIs supported in both packaged apps and desktop applications" section it shouldn't be listed in the first list, right? I haven't tested this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-08-21 21:09] michael-hawker commented on #1876
+1 That blog post was the only reference I found earlier when I was looking at this as well.

[2019-08-21 22:47] robloo opened #1878 "Collection-Type Dependency Properties"
What is the 'correct' way to support collection dependency properties in UWP? In WPF this was a defined case:

https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/collection-type-dependency-properties

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07a6b32d-01cb-f866-8e4e-3b444b7d2996
* Version Independent ID

[2019-08-22 00:27] adrientetar commented on #1876
Some feedback about the article itself:
- The "grasping hand cursors" that are mentioned don't exist in UWP (aka [CoreCursorType](https://docs.microsoft.com/en-us/uwp/api/windows.ui.core.corecursortype) enum). [They're also absent [from win32](https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-setsystemcursor), not sure where this is coming from.]
- Unfinished sentence:

- > Spe

[2019-08-22 03:32] robloo commented on #1878
Fiddling around it seems the 'correct' way in UWP is to do something like this:

[code]

That avoids sharing the same List reference with all instances. However, it is only safe through the property accessor (which you can make get only). Through binding, it would be possible to set a new list entirely it seems which is why WPF had read-only dependency properties. If you are dealing with an Observ

[2019-08-22 07:50] matthewpaulthomas commented on #1828
I had assumed one of the assets was used in the title bar because I was looking at a WSL “distro” — which is an .appx in the Store, and therefore follows the UWP asset behaviour in other respects, but also _does_ have an icon in its (console window) title bar. I’ve since discovered that [this icon is from a separate .ico file](https://github.com/Microsoft/WSL-DistroLauncher#getting-started).

Sinc

[2019-08-22 17:10] mijacobs commented on #1828
I've submitted an update to the article, it should be live shortly.

[2019-08-22 20:34] mcleanbyron commented on #1825
Thanks for reporting these. This page has been revised and all of the sample links updated to point to the latest/current samples. If you see any further issues, please feel free to reopen this issue.

[2019-08-22 20:34] #1825 closed, assigned to mcleanbyron

[2019-08-22 20:36] mcleanbyron commented on #1811
The engineering team has published updates to the XAML Island-related NuGet packages used by this tutorial, and we have also revised the instructions on this page. I have tested everything out and confirmed that everything works. If you still encounter issues with this tutorial, please feel free to reopen this issue or open a new one.

[2019-08-22 20:36] #1811 closed, assigned to mcleanbyron

[2019-08-22 20:39] mattwojo commented on #1812
Took me a while to get to it (sorry--got focused on a new project), but finally got a note about this is in: https://github.com/MicrosoftDocs/windows-uwp-pr/pull/342

Thanks again for your feedback Tony! Closing this out.

[2019-08-22 20:39] #1812 closed, assigned to mattwojo

[2019-08-22 20:43] mcleanbyron commented on #1763
Last month we updated significant updates to this article, including new guidance about handling passwords for private keys in the certificate. Hopefully the updated guidance provides the info you're looking for. If not, please feel free to reopen this issue with more details.

[2019-08-22 20:43] #1763 closed, assigned to mcleanbyron

[2019-08-22 22:23] mcleanbyron commented on #1434
Last month this article was rewritten with assistance from the engineering team to capture the latest guidelines and Azure DevOps processes. If you still see issues in the article, please feel free to reopen this issue.

[2019-08-22 22:23] #1434 closed, assigned to mcleanbyron

[2019-08-22 22:26] mcleanbyron commented on #1694
The "Your app uses a VCLibs framework package" section in this article has been updated with more complete guidance and pointers to where to find the packages on the development computer. If you still see issues with the article, please feel free to reopen this issue with the details.

[2019-08-22 22:26] #1694 closed, assigned to mcleanbyron

[2019-08-22 22:27] mcleanbyron commented on #1877
Thanks for the feedback. The AppServiceConnection class has been removed from that list in the article.

[2019-08-22 22:27] #1877 closed, assigned to mcleanbyron

[2019-08-22 22:39] #1828 closed, assigned to mijacobs, chigy

[2019-08-23 04:24] player2135 opened #1879 "Launch ms-people:savecontacttask throw an Exception"
I used Launcher.LaunchUriForResultsAsync to Launch ms-people:savecontacttask, but it threw an exception.
![QQ截图20190823121956](https://user-images.githubusercontent.com/3275237/63566635-88ad2a80-c5a0-11e9-8a67-7036aead75dd.png)
What value can I set to Property TargetApplicationPackageFamilyName?

[2019-08-23 18:18] jevansaks commented on #1878
Almost all of our collection properties are get-only for this type of reason. We are looking into opening this up in the future. Generally we have the "default value" be null and then the getter returns a collection.

[2019-08-23 19:18] #1785 closed, assigned to nobody

[2019-08-24 00:41] Leisvan opened #1880 "Windows 10 version availability"
It would be great if each symbol has the minimum Windows 10 version in which it is available. Sometimes developers don't know if a certain symbol is available in the min Windows version supported by their app.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60025def-004a-97b9-be6e-a2678e0b4461
* Version Independe

[2019-08-24 05:57] sirredbeard commented on #1836
Windows requires .pfx to have a password when exporting, both the GUI and Export-PfxCertificate cmdlet. VS 2019 doesn't build a temporary key we can use. What is the easiest way to generate and bundle a key to use here?

[2019-08-24 13:06] MarcAnt01 opened #1881 "There is no explanation of how to make a custom time picker like the one used in the timer selector of Windows Alarms&Clock"
There is no other choice rather than writing one from scratch, being a beginner I'd rather have at least some examples on how to make one
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d61d8e1-c0c9-e605-8ddd-714ffa400204
* Version Independent ID: 6d753cc1-93a9-adf4-00bf-1b967df8b7c8
* Content: [T

[2019-08-24 17:11] robloo commented on #1878
Yes, I understand collection properties should be get-only and that follows C# and .net conventions. Therefore, for back-end classes I would normally just write an IList field in the class and expose it as a get-only property. Something like what is below.

[code]

However, I understand to fully support the binding system/convention (at least in WPF) the field should instead be a dependency proper

[2019-08-26 08:43] MB-Atos commented on #1836
I don't know whether it's the easiest way, but I simply build my pfx container by use of openssl.

[2019-08-26 17:06] bschoepke commented on #1827
https://docs.microsoft.com/en-us/windows/msix/desktop/desktop-to-uwp-manual-conversion#optional-add-target-based-unplated-assets

You're right, you just add the _altform-unplated suffix to your file names.

There are a lot more details on this page, and note that you can also specify a different unplated asset for the new light theme:
https://docs.microsoft.com/en-us/windows/uwp/app-resources/tail

[2019-08-26 18:47] jevansaks commented on #1878
Ah, thank you for clarifying. @MikeHillberg, thoughts?

[2019-08-26 23:23] joaodforce opened #1882 "Add Option to disable Xinput control on UWP Apps"
There are many applications that allow users to control their computer using their Xbox Controller, Like Gopher or Joy2Key, binging controller buttons to keyboard and mouse gestures.

Later Windows 10 builds added support for controlling UWP Apps using Xinput, and this conflicts with such functionality, there should be an option on windows to disable such controls, that or maybe proper System cont

[2019-08-27 12:31] matthewpaulthomas commented on #1827
Thanks @bschoepke. To summarise:
- [MSIX “Package a desktop app manually”](https://docs.microsoft.com/en-us/windows/msix/desktop/desktop-to-uwp-manual-conversion#optional-add-target-based-unplated-assets)
  - Suggests “For each 44x44 image, create a copy in the same folder and append `.targetsize-44_altform-unplated` to the file name” … Which seems … questionable? (Since the point of them being se

[2019-08-27 14:51] JoshWobbles commented on #1882
I cannot stress this enough, It's a nice OPTION to have for some users, but in other cases it completely breaks system usability.

[2019-08-27 15:30] rpavlik opened #1885 "Mysterious error when trying to create a WinRT project"
Tried to follow the instructions, but got an error when creating the project about trying to invoke a universal template something... (sorry, forgot to take a screen shot).

On a hunch, I looked in the VS installer, and it turns out I didn't have the UWP workload installed, just desktop C++. This caveat might be mentioned in the docs and/or the extension itself.  Worked fine once I installed that.

[2019-08-28 01:21] stevewhims commented on #1885
Good idea, I updated this section: https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/intro-to-using-cpp-with-winrt#visual-studio-support-for-cwinrt-xaml-the-vsix-extension-and-the-nuget-package, and then I linked to that from the topic in question.

Those changes are live now.

~Steve

[2019-08-28 01:21] #1885 closed, assigned to stevewhims

[2019-08-28 04:56] myokeeh opened #1887 "Lots of failures using the Submission API C# sample code submitting apps"
I've been using the C# sample code provided on this page to submit apps to the Store. Lately, however, it's been failing a lot with the following. To be clear I've been using this code for months, and have only seen the failures in the last few weeks.

If you wish to remove a package, mark it as PendingDelete. The following packages are missing in your update: 2000000000030494274","source":"Ingest

[2019-08-28 06:44] Chaosology-Asartheen commented on #1700
it is possible to change windows credentials logon screen

[2019-08-28 08:28] hyoshioka0128 commented on #1700
@asartheen-chaosa Thank you.
Duplicate(Fixed): "https://github.com/MicrosoftDocs/windows-uwp.ja-jp/pull/43"

[2019-08-28 11:39] rashid241247 opened #1888 "Examples given DO NOT PASS store certification"
The use of OpenCV.Win.Core and OpenCV.Win.ImgProc should carry a big warning; as these libraries DO NOT PASS the windows store certification tests.
Microsoft should ensure that the examples outlined in thir documents actually work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e7bdbdb-5662-4757-438b-efeabfa94d12
* Ve

[2019-08-29 08:50] rAndom69 commented on #1428
So, after some marathon of mailing with Microsoft, this works now and crash dumps are downloadable (verified for desktop applications)

[2019-08-29 12:43] masterneko opened #1889 "storagefolder.GetFileAsync() resulting is resulting in a not found error"
here is some of my code:
            Windows.Storage.StorageFolder storageFolder = Windows.Storage.ApplicationData.Current.LocalFolder;
            Windows.Storage.StorageFile jsfile = await storageFolder.GetFileAsync("main.js");

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f09fb804-bc3e-ad66-d52d-c33f1cdda0ed
* Vers

[2019-08-29 17:19] knicholasa commented on #1889
Thanks for reaching out with your feedback. The best way to get developer support is to consult our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/questions). Otherwise, please

[2019-08-29 17:19] #1889 closed, assigned to knicholasa

[2019-08-30 15:23] #648 closed, assigned to nobody

[2019-08-31 23:29] rmill777 opened #1890 "Resource Installation"
Took me 2 days to figure out you have to follow "Getting started with the Windows UI Library" to install Microsoft.UI.Xaml using NuGet... There should definitely at least be a warning at the top of the page. Although, I am not sure why treeview is not included in the default XAML controls.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-09-02 11:24] Gavin-Williams opened #1891 "C# WRC docs need updating"
This page opens up with "Starting with the .NET Framework 4.5" and continues to talk about framework. What does framework have to do with WinRT? This article is surely written incorrectly? UWP does not use .net Framework, it uses .net core assemblies. And why no mention of .net standard which I think is best for a library/component? Is this documentation just not right or outdated?

If this page i

[2019-09-02 13:11] toredk commented on #1727
I am beginning to suspect that this occurs because the installer starts the application elevated, leaving it in a context that the notification callback cannot access.

I see the same issue when using NamedPipe where the server does not receive messages when run elevated.

It would explain why restarting the application fixes the issues. Unfortunately I have no control over this as my MSI is calle

[2019-09-02 16:38] ghost opened #1892 "Error in FaceTracker"
While trying to use the FaceTracker class with this code, I created a function which returns a VideoFrame. However, I get a design-time error stating that VideoFrame does not contain a definition for 'GetAwaiter'.

What am I missing here?

        VideoFrame currentFrame = await GetLatestFrame();

        private VideoFrame GetLatestFrame()
        {
            // Get information about the previe

[2019-09-02 17:42] ghost commented on #1892
I think I see my issue: I used a VideoFrame when I think I should have just used a Frame?

[2019-09-03 04:19] myokeeh commented on #1887
@hickeys, at this point, I'm convinced something on the server side has changed. It doesn't appear to acknowledge "PendingDelete"

[2019-09-03 10:03] HppZ commented on #1710
following those steps failed, OverallState of StorePackageUpdateResult is completed, but my app didn't get updated.

[2019-09-03 10:55] HppZ commented on #1710
@adamhewitt627 @mcleanbyron

[2019-09-03 11:29] touseefbsb opened #1893 "no VideoDeviceId property found on DeviceInformation class"
This page is misleading there is no **VideoDeviceId** property to be found on **DeviceInformation** class so we dont know how do we determine our camera barcode scanner device from the collection, and even if we somehow determine that, how do we convert the DeviceInformation object into a **BarcodeScanner** object? because remaining docs use barcode scanner methods.

---
#### Document Details

⚠ *

[2019-09-03 13:20] David-Tennant opened #1894 "Tables columns not shown on table"
The text implies that the table below will have the following columns, `Payout and Paypal` but doesn't.
![Screen Shot 2019-09-03 at 15 15 42](https://user-images.githubusercontent.com/40059359/64176566-fe957980-ce5d-11e9-80f2-f89f73b76666.png)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc9d4d96-2865-5f2d-8737-66fe4

[2019-09-03 13:35] kk-code-lab opened #1895 "Unprintable character in Package.appxmanifest sample"
`&lt;rescap:Capability Name="extendedExecutionUnconstrained"/&gt;`  line has extra unprintable character at the end. If you copy and paste whole line into the appxmanifest file you will get cryptic compilation error until this character is removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ee37beb-26fc-4eca-d48e-

[2019-09-03 16:43] #1856 closed, assigned to knicholasa

[2019-09-03 18:34] knicholasa commented on #1895
Thanks for your feedback. Could you provide the error you were seeing? I can remove the white space from the end of the lines in that example, but seeing the actual error would help me pinpoint the issue.

[2019-09-03 19:03] kk-code-lab commented on #1895
If you copy-paste this line then this error appears:

![Annotation 2019-09-03 205339](https://user-images.githubusercontent.com/9204950/64200704-58f9fe80-ce8d-11e9-9a37-4c0c400d0f3e.png)

I re-tested it and i think there are more of these characters before first < sign:

![Annotation 2019-09-03 205801](https://user-images.githubusercontent.com/9204950/64200849-9e1e3080-ce8d-11e9-9908-dbd33bd980f4.

[2019-09-03 19:33] knicholasa commented on #1895
Okay, thanks for providing that information. I'll follow up with my team and update the docs as necessary.

[2019-09-03 22:35] beatnikthedan opened #1896 "Can't Bind to swipeitem control"
There is something wrong with the swipeitem control. You can't bind anything to any of its properties.
please see:
https://stackoverflow.com/questions/57779233/uwp-swipeitem-wont-see-any-bindings
https://stackoverflow.com/questions/53560468/swipeitem-xaml-binding-ignored

I really need this to work if anyone can look into this.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2019-09-03 23:14] Karl-Bridge-Microsoft commented on #1893
Hi @touseefbsb. Thanks for the feedback. I've added a few more code snippets and a link to the official Barcode sample to the topic.

[2019-09-03 23:14] #1893 closed, assigned to Karl-Bridge-Microsoft

[2019-09-04 16:53] guybark opened #1897 "Links go to .NET instead of UWP"
Some of the links on this page, (eg the ones relating to AccessKeys,) go to .NET documentation rather than UWP documentation. Shouldn't all the links go to UWP documentation given that this content relates to UWP design?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d23a4e47-e29c-2851-b349-06745ec240a3
* Version Indep

[2019-09-04 17:34] drewbatgit commented on #1892
Hello, issues in this repo are specifically intended for reporting documentation issues, not technical support. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/questions). Otherwise, please see [the develope

[2019-09-04 17:34] #1892 closed, assigned to drewbatgit

[2019-09-04 18:05] trenthoppe opened #1898 "Unable to initialize winrt::hstring using nullptr"
When attempting to initialize a null winrt::hstring using the documented syntax:
[code]
I receive - Error C228 'winrt::hstring::hstring(std::nullptr_t)': attempting to reference a deleted function.

If I initialize it using an empty string: L"", which is identical to null, it works fine. Is this the correct way to initialize a null winrt::hstring? Or is this unintended behavior?

---
#### Document

[2019-09-05 04:31] stevewhims commented on #1898
Yes, that looks like it was meant to be `hstring{}` instead of the syntactically invalid `hstring{ nullptr}`. I just published a fix to the topic (in the two places it was wrong).

To create a local, "null", hstring, I'd write

[code]

To pass a "null" hstring into a function that takes an hstring, I'd write

[code]

I'll go ahead and close the issue. Thanks for finding this!

Steve

[2019-09-05 04:32] #1898 closed, assigned to stevewhims

[2019-09-05 18:04] ghost opened #1902 "Treeview with Data Binding wrong displayed"
I just did a completely new installation of windows (Windows 1803). Now the tree view with data binding is displayed wrong. Also the sample in the XAML Controls Gallery displays the examples with data binding and ItemTemplateSelector are wrong.

![2019-09-05](https://user-images.githubusercontent.com/4369528/64367435-419b4c80-d018-11e9-90ff-5847f2a5650e.png)

[2019-09-05 20:02] carmellolb commented on #1661
Any news on this issue? I’m still opening apps like Feedback Hub and Your Phone almost daily, every time hoping that I’ll see BG acrylic on the sidebar. Yet it never comes. Is there any sort of progress going on with this issue? @YuliKl @chigy

[2019-09-05 22:02] YuliKl commented on #1661
Thank you for the ping. I added a comment to https://github.com/microsoft/microsoft-ui-xaml/issues/947 about a proposed color change.

[2019-09-06 00:08] Karl-Bridge-Microsoft commented on #1897
@guybark - thanks Guy. I've revised topics.

[2019-09-06 00:08] #1897 closed, assigned to Karl-Bridge-Microsoft

[2019-09-06 00:25] Karl-Bridge-Microsoft commented on #1351
@verelpode - Thanks for the suggestion! This looks like product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use the [Windows developer feedback site](https://wpdev.uservoice.com/). We’d be happy to have this on record, where others can view it and upvote it.

[2019-09-06 00:25] #1351 closed, assigned to Karl-Bridge-Microsoft

[2019-09-06 01:35] stevewhims commented on #1891
Thanks, @Gavin-Williams, the topic was indeed out of date. I've fixed it, and made a set of other changes/improvements. I'll go ahead and close the issue now that the fixes are published. ~Steve

[2019-09-06 01:35] #1891 closed, assigned to stevewhims

[2019-09-06 07:23] linhnddev opened #1903 "coreTitleBar.Height = 0"
You cannot do "AppTitleBar.Height = coreTitleBar.Height;" in MainPage constructor. It always returns 0 because the title bar is hidden
You have to set it in LayoutMetricsChanged to get the right values if TitleBar Height and Left/RightInset

Please fix it to not make developers confused and cost time to debug!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2019-09-06 15:48] infoviewmo opened #1904 "Edit Tax Profile Page (This Page is not working)"
Hello, Payout and Tax Setup indicates Partner Action is required (Edit) Tax Profile. When clicking on the link to do so receive "This Page is not working". Appreciate assistance. URL received is as follows"https://payeeportal.trafficmanager.net/bEU19SPXZDdm81nSKW6tjOOgT=.=T9viYRGLLXVFkIT=.=TSU1M=/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2019-09-07 05:01] hanrai opened #1909 "UWP Platform link is not clear enough."
When I clicked UWP Platform link. I was expecting a description for UWP Platform, not for UWP App. They are two different thing.

I think windows/apps/desktop/choose-your-platform should be a good target to link. That is what I really want to know when I clicked the "UWP Platform" link.

I used Qt to develop programs for a long time. I have little knowledge about new windows platforms(Windows 7 or

[2019-09-07 05:46] hanrai commented on #1909
I open a new issue, not a pull request, because I think this is a big decetion. It will affect all UWP releated documents. According to the Microsoft Docs contributor guide, I should open an issue to talk with team first.

And I choose "choose-your-platform", not wiki style UWP description nor UWP App, because this document will lead developer to a right way to develop a UWP app. Developers will u

[2019-09-07 09:52] ProJend opened #1910 "When title bar customization that how to settings title text ?"
like to Microsoft Store UWP.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c220453a-d6f1-4e9f-4f2d-9dd366f91d31
* Version Independent ID: 16284cd7-f1b5-f43f-c7ec-7ffa1f4ef3f2
* Content: [Title bar customization - Windows UWP applications](https://docs.microsoft.com/en-gb/windows/uwp/design/shell/title-bar)
* Content S

[2019-09-07 10:00] hupo376787 commented on #1078
It seems uwp `MediaPlayerElement` not fully support webm file. I recently found a bug, when playing webm files, the player doesn't fire `BufferingStarted` and `BufferingEnded` event.

[2019-09-07 19:36] lostmsu opened #1911 "Promo code for subscription"
Can I create a promo code for a subscription?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5dd51f81-44ab-9838-a22c-d044107ee279
* Version Independent ID: 44d59c98-b60e-c5ac-0718-ac19f829d566
* Content: [Generate promotional codes - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/publish/generat

[2019-09-07 21:39] andrewbettany opened #1912 "typo"
Here are some examples of how to deploy from the command-line using the sytax for WinAppDeployCmd.exe.

This should read:

Here are some examples of how to deploy from the command-line using the syntax for WinAppDeployCmd.exe.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 551b46e5-5098-ae96-de48-dee2aeca2b8b
* Version

[2019-09-08 01:14] dpaulino opened #1913 "The VSIX template is not compatible with VS2019"
Will this page be updated with a link to a VSIX template that runs on VS2019?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c161a2e-d9f4-466f-5a63-5e25648a1779
* Version Independent ID: 6032f644-b69d-622f-73df-bacebdfc4509
* Content: [Create a multi-instance Universal Windows App - Windows UWP applications](https://d

[2019-09-08 02:22] dpaulino commented on #1824
@LanceMcCarthy thank you for this. Saved me from pulling my hair out!

[2019-09-09 11:32] timwright314159 opened #1914 "Could not download pdf of just this section"
I clicked Download PDF and it downloaded all 8K pages! I just wanted a PDF of this UWP section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1fcd2e7e-612d-29de-6b94-3bed0b772b16
* Version Independent ID: cf067679-95df-f7d2-17ec-d15cc18c0b4b
* Content: [What's a Universal Windows Platform (UWP) app? - Windows UWP appli

[2019-09-09 17:48] mcleanbyron commented on #1912
Thanks for reporting this typo! It has been fixed.

[2019-09-09 17:48] #1912 closed, assigned to mcleanbyron

[2019-09-09 19:09] itskdog opened #1915 "Can't find template"
I have JavaScript (Node.JS) and UWP installed in VS2019 as requested by this article, but it still isn't showing in the templates list.

How do I enable this to show up? As it appears impossible to make an app that hooks into Google's APIs with C# or VB, I need JS support to create my app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-09-10 02:46] mdtauk commented on #1661
Rather than remove Acrylic altogether, why not implement a less Transparent opacity version by default?

[2019-09-10 05:42] myokeeh opened #1916 "The operation attempted to access data outside the valid range (Exception from HRESULT: 0x8000000B)"
I'm getting a `The operation attempted to access data outside the valid range (Exception from HRESULT: 0x8000000B)` error on this line. What causes this?

`IReadOnlyList<StorePackageUpdate> storePackageUpdates = await context.GetAppAndOptionalStorePackageUpdatesAsync();`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d

[2019-09-10 10:22] hupo376787 opened #1917 "Add CompactOverlayButton icon, also known as picture in picture, plz"
Add CompactOverlayButton icon, also known as picture in picture, plz.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60025def-004a-97b9-be6e-a2678e0b4461
* Version Independent ID: 51e386c5-e9cf-f900-ba27-1479709f8186
* Content: [Segoe MDL2 icon guidelines - Windows UWP applications](https://docs.microsoft.com/en-us/win

[2019-09-10 22:48] dospolov opened #1918 "App Promotion Product is being shut down"
Note: App Promotion Product is being shut down. The campaigns will stop running after 15th June and the data will be available till 30th September.

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: c5246f44-3161-7cbb-0da4-ca75e02348dd
* Version Independent ID: 1385fdc0-2772-6ba4-f6ab-a48

[2019-09-11 06:42] nashuatek opened #1919 "There is no URI: for Region"
Under the "Time & Language" category, there are 4 options:  Date & Time, Region, Language, Speech.

There is no URI for "Region", only for Date & time, Language and Speech.

The region allows date and time formatting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 987ec16c-9456-93a4-177a-dbd563be7eb7
* Version Independ

[2019-09-11 07:48] hupo376787 opened #1920 "Add SkipForward10 icon plz"
SkipForward30 exists, but no SkipForward10.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60025def-004a-97b9-be6e-a2678e0b4461
* Version Independent ID: 51e386c5-e9cf-f900-ba27-1479709f8186
* Content: [Segoe MDL2 icon guidelines - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/design/style/sego

[2019-09-11 08:10] fembiba opened #1921 "What is EF in example and where take it?"
What is EF in example and where take it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16fffc35-1544-c8dc-2f78-47944c6a0ac5
* Version Independent ID: 9e5fbdc9-cbee-5a34-6820-e5e075a65e99
* Content: [Pointer-based animations - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/composition/pointer-in

[2019-09-12 13:15] glent1 opened #1922 "Appinstaller fails on update with "The parameter is incorrect""
I have an application that I am sideloading, using hand crafted appinstaller and msix files and delivering over http.

The application installs fine, but if I republish and start it, it correctly identifies the update, downloads it and then fails with the message "The parameter is incorrect".  I have found the log created by appinstaller.exe and attached it below.

Is there any way I can troublesh

[2019-09-12 17:14] jevansaks commented on #1920
Is this a missing codepoint in the font or one that exists but is undocumented?

[2019-09-12 17:16] jevansaks commented on #1910
I'm sorry, I don't understand the question. Can you please provide more details?

[2019-09-12 17:16] #1910 closed, assigned to jwmsft

[2019-09-12 17:18] jevansaks commented on #1903
The full sample has the correct code, the "simplified" sample seems to have been over-simplified.

[2019-09-12 17:22] jevansaks commented on #1896
This sounds really familiar, let me ask around on the team to see if anyone knows what the problem is.

Also have you tried using x:Bind instead of Binding? The team is trying to migrate folks to x:Bind and if there are reasons why you can't migrate then they would like to know!

[2019-09-12 17:23] jevansaks commented on #1890
TreeView is in the platform SDK as of 1803 but we are doing all new development in WinUI and won't be investing in the platform versions going forward so the sooner you can migrate to WinUI the happier you should be. Please let us know if you run into any other problems using the library.

[2019-09-12 17:23] #1890 closed, assigned to jwmsft

[2019-09-12 18:22] jevansaks commented on #1896
This seems answered, please reactivate this issue if not.

[c\# \- UWP Swipeitem won't see any bindings \- Stack Overflow](https://stackoverflow.com/questions/57779233/uwp-swipeitem-wont-see-any-bindings)

[2019-09-12 18:22] #1896 closed, assigned to jwmsft, danzil

[2019-09-12 18:31] jwmsft commented on #1903
@linhnddev, thanks for pointing this out. The code sample has been corrected.

[2019-09-12 18:31] #1903 closed, assigned to YuliKl, jwmsft

[2019-09-12 19:29] chigy commented on #1920
Checking with icon contact.

[2019-09-12 20:05] embender commented on #1921
EF stands for EffectFactory which sets up the acrylic brush in this sample I believe. More can be found here:
https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Composition.CompositionEffectFactory

[2019-09-12 21:57] #1921 closed, assigned to jwmsft, stmoy

[2019-09-13 00:48] QuinnRadich commented on #1914
This is standard behavior for the "Download PDF" feature on docs.microsoft.com. Apologies for the inconvenience, but it's not something we can fix.

[2019-09-13 00:48] #1914 closed, assigned to QuinnRadich

[2019-09-13 00:58] QuinnRadich commented on #1915
Thanks for the heads-up.

This page was mistakenly updated to refer to Visual Studio 2019 along with many similar docs pages. However, as you discovered, Visual Studio 2019 does not support Javascript UWP app development. You need to use Visual Studio 2017 instead.

I'm making updates to the page, which should be visible before long.

[2019-09-13 00:58] #1915 closed, assigned to QuinnRadich

[2019-09-13 01:06] QuinnRadich commented on #1909
We're already aware of many of these concerns you raise, and have been assessing how to provide the best entry experience for new and existing developers into all of our Windows app development.

That being said, we expect that users in our UWP documentation are interested in developing UWP apps. The Choose Your Platform page, while useful, also has a great deal of information on other app types w

[2019-09-13 01:06] #1909 closed, assigned to QuinnRadich

[2019-09-13 01:11] QuinnRadich commented on #1731
Thank you for your patience.

I don't have specific information about why this capability was removed on Visual Studio 2019, but I am adding in information clarifying this when appropriate in this area of our docs. I believe you can still use Visual Studio 2017 to create UWP Javascript apps.

[2019-09-13 01:11] #1731 closed, assigned to QuinnRadich

[2019-09-13 01:16] QuinnRadich commented on #1491
Closing this stale issue - the final sample was updated to align to the abbreviated format a while ago. Thank you.

[2019-09-13 01:16] #1491 closed, assigned to QuinnRadich

[2019-09-13 02:30] hupo376787 commented on #1920
`SkipForward10` icon is a missing one.

[2019-09-13 02:32] hupo376787 commented on #1917
But this icon exist in system app "Movies and TVs", but that icon can't fully express the meaning of "picture in picture".

[2019-09-13 02:36] michael-hawker commented on #425
Sorry missed this comment before.

@jevansaks I was saying that there should be a `Related Topics` section like most other docs have that also has a copy of this link as it's an important related doc for understanding.

[2019-09-13 07:52] ProJend commented on #1910
![image](https://user-images.githubusercontent.com/55018532/64845217-2776f500-d63c-11e9-9cd2-136e46148ccf.png)
Hey! I made a new UWP, but I don't know how to plus the title header. Check the picture. how to do to make the effect look like Microsoft Store.

[2019-09-13 07:59] ProJend commented on #1910
![image](https://user-images.githubusercontent.com/55018532/64846307-f0eea980-d63e-11e9-87cf-1c731c220832.png)
![image](https://user-images.githubusercontent.com/55018532/64846474-4f1b8c80-d63f-11e9-994e-25c4b6377007.png)

Hey! I made a new UWP, but I don't know how to plus the title header "True". Check the picture. How to do to make the effect look like Microsoft Store?

[2019-09-13 08:02] ProJend commented on #1910
Hey! I made a new UWP, but I don't know how to plus the title header "True". Check the picture. How to do to make the effect look like Microsoft Store?

![image](https://user-images.githubusercontent.com/55018532/64846665-c51ff380-d63f-11e9-95ea-654b389dba14.png)
![image](https://user-images.githubusercontent.com/55018532/64846660-bf2a1280-d63f-11e9-9ae0-a4ea74837bdf.png)

[2019-09-13 15:54] jevansaks commented on #1910
Did you try cloning the repo for the sample referenced by the article and looking to see what it's doing that you're not? Looks like you aren't setting the titlebar element to a XAML element.

[2019-09-13 21:59] SvenEV opened #1925 "Aspect ratios incorrectly documented"
I think the aspect ratios for the different thumbnail modes are incorrectly described on this page (at least in the case of picture files).

According to section "Recommended thumbnail modes and their features":
PicturesView: Uniform / SingleItem: Uniform

According to the examples:
PicturesView: Original / SingleItem: Original

Actual behavior:
PicturesView: Uniform / SingleItem: Original

The ac

[2019-09-14 02:16] ProJend commented on #1910
Yes! I am looking for this. How to make the titlebar?

[2019-09-14 20:44] myokeeh commented on #1916
@mcleanbyron Is this API broken?

[2019-09-15 07:58] ProJend commented on #1910
Yes! I am looking for this. How to make the titlebar?

[2019-09-16 04:19] arulfrances opened #1926 "There is a small typo in this page (Destkop instead of Desktop) in the links page"
[Enter feedback here]

![image](https://user-images.githubusercontent.com/7755566/64934254-24138180-d867-11e9-877d-73ba827a139f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 491f5924-85ab-65ae-ab10-3bb691d38eba
* Version Independent ID: 19bba932-fb1f-1db1-d457-73719340b504
* Content: [Toast notifications from des

[2019-09-16 16:04] mcleanbyron commented on #1916
Thanks for reporting this issue. I have reached out to the engineering team that owns this API and will let you know what I find out.

[2019-09-16 17:30] jevansaks commented on #1910
Look at the docs?

https://docs.microsoft.com/en-gb/windows/uwp/design/shell/title-bar#full-customization-example

[2019-09-16 19:13] chigy opened #1927 "Add guidance for how to express time on Media control"
GitHub issue https://github.com/microsoft/microsoft-ui-xaml/issues/1264 points out the fact Media control deviate from style guide. Upon discussion, this deviation is indeed good, but our guidance doesn't point out. According to the style guide owner, if the lower level guidance doesn't specify, the higher guidance's rule is to be followed. So this is a missing content on our guidance.

---
#### D

[2019-09-16 19:15] chigy commented on #1927
I meant to say for this page to specify the detail https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/media-playback

[2019-09-16 19:24] chigy commented on #1870
@mijacobs , is this something we could potentially use tagging of the Controls Gallery file?

[2019-09-16 19:59] mijacobs commented on #1870
Are you talking about using the snippet system to tag areas of generic.xaml and then having pages for them in the docs?

[2019-09-16 20:01] chigy commented on #1870
@mijacobs , yes that's what I meant.

[2019-09-16 20:07] #1927 closed, assigned to jwmsft

[2019-09-16 21:16] mijacobs commented on #1870
Yes, that would work. It would be a bit of work to create them initially, but then they'd update automatically whenever they style sheet was updated. It might complicate updating generic.xaml, though, because you'd need to preserve the snippet tags so you couldn't just overwrite the file.

[2019-09-16 23:58] chigy commented on #1870
OK, let me figure out the priority of doing this.

[2019-09-17 19:31] mcleanbyron commented on #1916
The engineering team has indicated that there have no changes to the code base for this API in a long time and there are no known issues with it.

[2019-09-17 19:34] mcleanbyron commented on #1916
@myokeeh, can you confirm whether your project is associated with an app in the Store and this app has a published submission?

[2019-09-17 19:37] myokeeh commented on #1916
Yes. The app has been published. It's a LOB app. Win 10 17763 or higher. I actually had this working on the app before but commented it out until now. That may have been a year ago. Now it's not working... Giving me that error. All of it is a copy and paste from the documentation.

________________________________
From: McLean Schofield <notifications@github.com>
Sent: Tuesday, September 17, 2019

[2019-09-17 20:05] mcleanbyron commented on #1916
Thanks, this is helpful. I'll pass this along to the engineering team. In the meantime, they indicated that it would be helpful if you submitted a bug for this using Feedback Hub and attach any logs you may already have (or use the "Recreate my problem" feature in Feedback Hub to record logs while your app is running).

[2019-09-18 07:48] OnSive opened #1929 "Wrong redirect link at DuckDuckGo"
**TL;DR**
I was searching for the `ComboBoxItem` style and template but the link which is shown at DuckDuckGo does not redirect properly.

---

Search results:
https://duckduckgo.com/?q=combobox+item+style

The second item seems correct  with the right description

But the link https://msdn.microsoft.com/en-us/library/windows/apps/mt299115.aspx does redirect to the general XAML styles page which d

[2019-09-18 17:04] mcleanbyron commented on #1916
The engineering team unfortunately isn't able to reproduce the error. They tested the code example in a basic repro project where the app identity points to one of their test apps with package submissions in the Store, and it worked fine for them. Because this repoo is for the docs and is not intended to be a support channel for developer assistance, I'm closing this issue for now.

The best way t

[2019-09-18 17:04] #1916 closed, assigned to mcleanbyron

[2019-09-18 17:14] jevansaks commented on #1926
I sent out a PR to fix this.

[2019-09-18 19:18] SimoneBWS commented on #1583
I'm interested to add support for push notification into LOB UWP (distributed outside Store). I read for [Alternate channels](https://docs.microsoft.com/en-us/windows/uwp/design/shell/tiles-and-notifications/channel-types#alternate-channels) with [CreateRawPushNotificationChannelWithAlternateKeyForApplicationAsync](https://docs.microsoft.com/en-US/windows/uwp/design/shell/tiles-and-notifications/a

[2019-09-18 20:26] petrspelos opened #1931 "yes"
Lol you put XAML comments into your C# code. git gud scrub

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e69449df-a1ec-70dd-e563-0ad508733c47
* Version Independent ID: dc0e0acb-d92a-a039-5c16-f54a4b71d954
* Content: [Navigation view - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/design/contro

[2019-09-18 20:27] #1931 closed, assigned to jwmsft

[2019-09-18 20:27] petrspelos commented on #1931
I was joking, didn't expect it to open an issue on GitHub. 😊

[2019-09-18 20:30] #1926 closed, assigned to mijacobs, jevansaks

[2019-09-18 21:03] jwmsft commented on #1931
It's a valid issue, thanks for pointing it out. The comments are fixed.

[2019-09-18 21:58] GrantMeStrength commented on #441
I'm closing this issue. Feel free to reopen if you do not think it is resolved. Thanks!

[2019-09-18 21:58] #441 closed, assigned to GrantMeStrength

[2019-09-18 22:01] GrantMeStrength commented on #509
Jim - please decide if a comment or addition is required in the documentation.

[2019-09-19 06:58] hupo376787 commented on #1917
It seems that MS has add picture-in-picture mode into Calculator, that icon looks good. So will you add to segoe font?

[2019-09-19 08:29] HppZ commented on #1910
set ApplicationView.GetForCurrentView().Title does not work when titlebar is customized.

[2019-09-19 12:11] oduis opened #1932 "Please state that custom capability must be declared before all others"
Since there are no working samples it took me a long time to find out that the custom capability must be declared BEFORE the DeviceCapabilities. Otherwise there is an XML structure error message during compilation.
This important info is missing on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdfe599a-af5b

[2019-09-19 22:13] mcleanbyron commented on #1932
Thanks for submitting this feedback. I added notes to each of the capability sections on this page to clarify any required ordering of the elements based on the schema requirements, and these changes are now live. If you you have any further feedback on this article, please feel free to reopen this issue.

[2019-09-19 22:13] #1932 closed, assigned to mcleanbyron

[2019-09-20 04:39] oduis commented on #1932
That was quick! Thanks for handling this so fast.

[2019-09-20 07:58] OnSive commented on #1929
PING @knicholasa

[2019-09-20 10:29] Huskynarr opened #1934 "Wrong Link to xbox Config"
https://partner.microsoft.com/en-us/xboxconfig/  to -&gt; https://partner.microsoft.com/en-us/xboxconfig/devices
The current page show a 404 Page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96d76743-8d22-a3b6-dbe5-c1c24fb3e4bd
* Version Independent ID: d5bb767d-80e9-f757-6085-9042e973be96
* Content: [Xbox One Devel

[2019-09-20 23:49] knicholasa commented on #1299
Thanks for reaching out with your feedback. This sounds like a support request to me. You'll find quicker support by consulting our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.co

[2019-09-20 23:49] #1299 closed, assigned to knicholasa

[2019-09-20 23:52] knicholasa commented on #1004
Thanks for reaching out with your feedback. This looks like a support request to me. You'll find quicker support by consulting our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com

[2019-09-20 23:52] #1004 closed, assigned to knicholasa

[2019-09-20 23:57] knicholasa commented on #378
Thanks for reaching out with your feedback. This looks like a support issue to me, but it would help improve the docs if you come back and let me know what fixed it once you get help. You can find support by consulting our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?cate

[2019-09-20 23:57] #378 closed, assigned to knicholasa

[2019-09-20 23:59] knicholasa commented on #798
Thanks for reaching out with your feedback. You'll find quicker support by consulting our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/questions). Otherwise, please see [the d

[2019-09-20 23:59] #798 closed, assigned to knicholasa

[2019-09-22 08:10] jamesmcroft commented on #1831
I think the function in VS 2019 to select a certificate is by design but obviously is a major change from VS 2017 which gave you the freedom to provide the certificate as you'd like.

There definitely seems to be some more information missing in the doc you referenced about the change in VS 2019.

The link it provides in the additional article does shed some light on how creating the signing cert

[2019-09-22 08:16] jamesmcroft commented on #1830
Is this query asking how to display the toolbar?

When reading the docs it reads well in how to active the lifecycle events through the toolbar with a screenshot of Visual Studio showing the options available.

[2019-09-22 08:37] jamesmcroft commented on #1776
The documentation does provide information on [developing with UWP and Unity](https://docs.microsoft.com/en-us/windows/uwp/gaming/e2e#unity).

I think the point of the page referenced in general is to provide an overview of the many different ways that any developer can utilize UWP with game development.

[2019-09-22 14:45] msavazzi opened #1937 "Instructions not updated for Windows 1903 and Visual Studio 2019"
SQLite do not work correctly on 1903 and Visual Studio 2019

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c591596-d202-244c-6fbf-31c288fe9b57
* Version Independent ID: 1473907c-0cba-8917-2fd8-d3ca1fb73cae
* Content: [Use a SQLite database in a UWP app - Windows UWP applications](https://docs.microsoft.com/en-us/windo

[2019-09-23 07:39] viktorszekeress commented on #1830
There is a screenshot of the toolbar. But this toolbar is hidden by default in Visual Studio. This toolbar has quite un-intuitive name - Debug location.

There is no mention of toolbar name "Debug location".

[2019-09-23 11:47] jamesmcroft commented on #1830
Ah, I see. I thought this was what you were meaning and completely agree that it needs more info adding 👍

[2019-09-23 15:44] vietlubu opened #1939 "Does UWP still support making the app for Windows 10 Mobile?"
Hi, I know Windows 10 Mobile will end at the end of this year. Just questions about this. Is there anything else besides no more update?
After that, can I access to Store to download apps?
Can I still make Windows 10 Mobile with UWP?
Thank you!

---
#### Chi tiết tài liệu

⚠ *Không chỉnh sửa phần này. Điều này là bắt buộc cho docs.microsoft.com ➟ Vấn đề khi liên kết GitHub.*

* ID: 1fcd2e7e-612d-2

[2019-09-23 20:35] hickeys commented on #1911
As stated in the article, "You can generate promotional codes for any app or add-on (with the exception of subscription add-ons) "

[2019-09-23 20:35] #1911 closed, assigned to hickeys

[2019-09-23 20:37] hickeys commented on #1904
Thanks for reaching out with your feedback. Issues opened on the docs GitHub are meant for documentation feedback, and unfortunately we cannot provide technical support. For community assistance with development questions I recommend that you ask on [our support forum](https://developer.microsoft.com/en-us/windows/support). If you get assistance through these other resources and believe a document

[2019-09-23 20:37] #1904 closed, assigned to hickeys

[2019-09-23 20:46] hickeys commented on #1894
great catch, thank you. The information was moved to another page a few months ago, and I apparently missed this page. I've updated this page to no longer reference these columns. The information you're looking for can be found on this page.

https://docs.microsoft.com/en-gb/windows/uwp/publish/payment-thresholds-methods-and-timeframes

[2019-09-23 20:46] #1894 closed, assigned to hickeys

[2019-09-23 22:30] davidljung opened #1940 "Unclear if grey +Z axis lines are pointing into or out of the page"
The diagrams above (on this page) show a grey +Z axis arrow - but since the screen is 2D is isn't clear if the arrow is meant to indicate the axis is pointing out of the device screen or 'into' it.  Please annotate the image or note it in the text.  Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b263c037-c41

[2019-09-23 23:42] QuinnRadich commented on #1735
I've fixed this link. Change should be going live shortly.

[2019-09-23 23:42] #1735 closed, assigned to QuinnRadich

[2019-09-23 23:43] QuinnRadich commented on #1638
I've made the changes to ensure that this command is no longer localized, and hopefully the change will go live shortly. Thank you for pointing this out.

[2019-09-23 23:43] #1638 closed, assigned to QuinnRadich

[2019-09-23 23:44] QuinnRadich commented on #1637
I've made the changes to ensure that this command is no longer localized, and hopefully the change will go live shortly. Thank you for pointing this out.

[2019-09-23 23:44] #1637 closed, assigned to QuinnRadich

[2019-09-24 07:42] akledirs commented on #1937
Use SQLite.Core v2.2.6, bundle_e_sqlite v1.1.14 for VS2019 on Windows 1903

[2019-09-24 11:18] jamesmcroft commented on #1831
Interestingly, it looks like this has been fixed in the Visual Studio 2019 16.3 release according to the release notes.

References:
- https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes#top-issues-fixed-in-visual-studio-2019-version-1630
- https://developercommunity.visualstudio.com/content/problem/612872/create-test-certificate-option-missing-from-uwp-sd.html

[2019-09-24 11:42] jamesmcroft commented on #1831
Just checked and confirmed that this is fixed now.

![Certs](https://user-images.githubusercontent.com/13505183/65508658-9835d100-dec8-11e9-9de2-9f2e602e16ab.PNG)

The docs for this will probably need to be updated to reflect this.

[2019-09-24 13:12] jb92 commented on #1831
I just tested and I'm confirmed you, it’s working for me too.
I’m glad to re-use VS2019 ^^ from now.

[2019-09-24 13:12] #1831 closed, assigned to nobody

[2019-09-24 18:21] knicholasa commented on #1830
Thanks @jamesmcroft for the contribution! Closing the issue.

[2019-09-24 18:21] #1830 closed, assigned to knicholasa

[2019-09-24 19:13] hickeys commented on #1862
It looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use the [Windows developer feedback site](https://wpdev.uservoice.com/). We’d be happy to have this on record, where others can view it and upvote it.

[2019-09-24 19:13] #1862 closed, assigned to hickeys

[2019-09-24 19:19] hickeys commented on #1860
Country information is provided in the PartnerCountryId column for the earning partner, and the CustomerCountry column for each the customer.

Are you still seeing the invalid data in the TaxRemitted column? If so, what program(s) are you using? (i.e. are you selling an app in the Microsoft Store, a VM image on Azure, a texture pack on Minecraft, etc.?)

[2019-09-24 19:29] hickeys commented on #1819
Closing this as it has been inactive for quite some time.

[2019-09-24 19:29] #1819 closed, assigned to hickeys

[2019-09-24 19:40] hickeys commented on #1745
This seems a little out of scope for modifying the doc itself, and I don't have an exhaustive list for you. I can give you an example though. A user may have access to a product because they work for a company that provides LOB software to all users. That particular user never ordered the software, and if that user ever leaves the company, they will lose access to the software.

[2019-09-24 19:40] #1745 closed, assigned to hickeys

[2019-09-24 19:43] hickeys commented on #1709
Closing this issue as there has been no activity for quite some time.

[2019-09-24 19:43] #1709 closed, assigned to hickeys

[2019-09-24 19:44] hickeys commented on #1705
Closing this issue as it seems as if the question has been answered.

[2019-09-24 19:44] #1705 closed, assigned to hickeys

[2019-09-24 19:48] hickeys commented on #1180
There are links to non-Visual Studio methods of building MSIX packages in the article just above the heading "Build an MSIX from source code using Visual Studio." Command line instructions are included.

Happy building!

[2019-09-24 19:48] #1180 closed, assigned to hickeys

[2019-09-24 19:48] hickeys commented on #1206
Closing this issue as there has been no activity for quite some time.

[2019-09-24 19:48] #1206 closed, assigned to hickeys

[2019-09-24 19:56] Karl-Bridge-Microsoft commented on #1940
@davidljung - thanks for the feedback. I've updated the topic with more detail. The +Z-axis is pointing out from the device.

[2019-09-24 19:56] #1940 closed, assigned to Karl-Bridge-Microsoft

[2019-09-24 20:02] hickeys commented on #1516
It looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use the [Windows developer feedback site](https://wpdev.uservoice.com/). We’d be happy to have this on record, where others can view it and upvote it.

[2019-09-24 20:02] #1516 closed, assigned to hickeys

[2019-09-24 20:06] hickeys commented on #1489
The only difference between paywall ads and rewards-based ads are the way they are initiated. Paywall based ads are kicked off by your app based on a timer, the user starting or completing an action, or some other paywall at a point that makes sense for your app. Rewards-based ads are kicked off by the user in exchange for something, such as extra gems or access to a special feature.

[2019-09-24 20:06] hickeys commented on #1487
Thanks for reaching out with your feedback. Issues opened on the docs GitHub are meant for documentation feedback, and unfortunately we cannot provide technical support. For community assistance with development questions I recommend that you ask on our forums or StackOverflow. For other support options, check out the developer support page. If you get assistance through these other resources and

[2019-09-24 20:06] #1487 closed, assigned to hickeys

[2019-09-24 20:12] hickeys commented on #1388
The list of landmarks in this example is static, so the use of a simple List<MapElement> is correct. Your observation that for dynamic updates, an ObservableCollection<T> is appropriate. This is also demonstrated in the example for the LandmarkLayer collection, which is an ObservableCollection<MapLayer> object.

[2019-09-24 20:12] #1388 closed, assigned to hickeys

[2019-09-24 20:20] lbrownell-gpsw opened #1941 "Error in "Obtain an Azure AD access token" and what are the various request json files?"
First,
  `tokenEndpoint = "https://login.microsoftonline.com/{0}/oauth2/token"`
should be
  `tokenEndpoint = "https://login.microsoftonline.com/{0}/oauth2/token".format(tennantId)`

Also, each of these examples includes something like

`appSubmissionRequestJson = "";  # Your submission request JSON`

What is needed in that?  It's used but not set.  Unless null JSON is expected.

---
#### Document

[2019-09-24 21:00] kinex commented on #1860
Are we talking about the same report? Here is the current list of available columns (copied from a report downloaded today):
`earningId,participantId,participantIdType,participantName,partnerCountryCode,programName,transactionId,transactionCurrency,transactionDate,transactionExchangeRate,transactionAmount,transactionAmountUSD,lever,earningRate,quantity,earningType,earningAmount,earningAmountUSD,ea

[2019-09-24 21:53] msavazzi commented on #1937
Every time I open the solution I'm asked to update the SQLite.Core to V3.0.0 and SQLitePCLRaw.bundle_e_sqlite3 v.2.0.1 but if I update then on the db.open I get an error on the file not accessible.
Why? is it correct?
why the new version does not work?

here the error:
Microsoft.Data.Sqlite.SqliteException
  HResult=0x80004005
  Message=SQLite Error 14: 'unable to open database file'.
  Source=Mic

[2019-09-25 00:35] mjfusa opened #1942 "Unclear and Out of date instructions"
In working with ISVs providing OEMs with thier apps, we ran into the following issues:
1. Can the text be updated to explain what an ISV needs to do in order to obtain the pre-install privileges on their Partner Center account?
2. The text needs to be updated to match the latest version of Partner Center.
3. These instructions are hard to find for partners asked by OEM to provide an app for instal

[2019-09-25 08:16] hatasum commented on #1887
I also have been using the C# sample code to submissions app.
At "Create a new submission" step, the server return the following:
{"code":"InvalidParameterValue","data":[],"details":[],"message":"The size of Listings must be 1 or more","source":"Ingestion Api","target":"listings"}

[2019-09-26 08:16] mzhinf opened #1944 "Targeted offers Error"
I have encountered some problems in the Partner Center. In Partner Center, expand Engage in the left navigation menu, then select Targeted offers. Sometimes a prompt will appear: "There was an error processing your request. Please try again.", sometimes nothing will show up. I want to know if I am missing something, or what preconditions to create "Targeted offers". (My two accounts have the same

[2019-09-26 16:50] Karl-Bridge-Microsoft commented on #1874
@sam9116  - thanks for pointing this out. Dup has been deleted.

[2019-09-26 16:50] #1874 closed, assigned to Karl-Bridge-Microsoft

[2019-09-26 17:08] Karl-Bridge-Microsoft commented on #1278
@SilverSilence - can you provide more info? A sample of your code might help too.

[2019-09-26 21:52] ajaywhiz opened #1952 "The tag 'ResourceDictionary.ThemeDictionaries' does not exist in XML namespace"
I'm getting a compilation error MC3074: The tag 'ResourceDictionary.ThemeDictionaries' does not exist in XML namespace 'http://schemas.microsoft.com/winfx/2006/xaml/presentation'. I'm WPF app is targeting framework 4.6.1. Any ideas what could be wrong?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43a544cb-3e

[2019-09-26 21:56] Karl-Bridge-Microsoft commented on #1952
Thanks for reaching out, You'll find quicker support by consulting our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/questions). Otherwise, please see [the developer support pa

[2019-09-26 21:56] #1952 closed, assigned to Karl-Bridge-Microsoft

[2019-09-27 10:01] hatasum commented on #1887
Does anyone have the same issue? Thanks.

[2019-09-27 21:09] msavazzi opened #1957 "Critical issue not mentioned in Page"
There is a critical issue in the page that is not mentioned and I was not able to solve: what if the data in the SQLite is critical and should not be bound to the sandbox but must survive the App?

From all the test I did I was NOT able to create the SQLite database file in the "Documents Folder" of the user.
Reading from MS documentation UWP application should NOT address directly the files/folde

[2019-09-27 21:16] msavazzi commented on #1957
Also note that several articles mention that LocalDB is for single use only and not production and that for real app SQLExpress should be used... but this raises the issue on how to distribute SQLExpress within an UWP app or automatically install it as prerequisite in the distribution via marketplace.
So again is not a feasible solution. The best is to have SQLite with the DB file in a user folder

[2019-09-28 06:18] dpaulino opened #1959 "Storing DateTime in local app settings causes exception"
According to this [section](https://docs.microsoft.com/en-us/windows/uwp/design/app-settings/store-and-retrieve-app-data#settings), I should be able to store `DateTime` in the local app settings. However, when I try to run the following code, I get an exception.
[code]

Am I doing something wrong? Is there an issue with the document? Or is there a bug in the platform?

---
#### Document Details

⚠

[2019-09-28 06:19] dpaulino commented on #1959
Here is a screen shot of a blank UWP app with that line of code added in the MainPage.xaml.cs constructor

![image](https://user-images.githubusercontent.com/7649589/65812543-4669a100-e17d-11e9-9b7c-65a4b9451b9a.png)

[2019-09-28 06:26] dpaulino commented on #1959
Here is a repository that you can clone and you can reproduce the error:
https://github.com/dpaulino/datetime-local-appsettings-uwp/tree/master/LocalAppSettings

[2019-09-28 13:48] tim-weis opened #1961 "Forward reference to non-existent topic"
The final paragraph in the [Setting Properties](https://docs.microsoft.com/en-us/windows/uwp/xaml-platform/xaml-syntax-guide#setting-properties) section reads:

I wasn't able to find the heading or subheading *"Setting a Property by Using a Collection Syntax"*. Please check, which section needs to be referenced, and ideally include hyperlink.

---
#### Document Details

⚠ *Do not edit this section

[2019-09-28 15:48] tim-weis opened #1962 "Referenced documentation no longer uses XAML content syntax"
The [XAML content properties](https://docs.microsoft.com/en-us/windows/uwp/xaml-platform/xaml-syntax-guide#xaml-content-properties) section contains the following:

The referenced documentation, however, doesn't use XAML content property syntax. It apparently has been updated to use attribute syntax.

This topic should be updated to match the referenced documentation. In case content property synt

[2019-09-28 16:13] tim-weis opened #1963 "XAML type documentation doesn't contain ContentProperty name"
The [XAML content properties](https://docs.microsoft.com/en-us/windows/uwp/xaml-platform/xaml-syntax-guide#xaml-content-properties) section notes:

That information, however, isn't available. The class documentation lists the attributes, but doesn't state the name for the ContentProperty.

The class documentation should contain the name of the ContentProperty for all types that have the ContentPro

[2019-09-28 18:33] AnFunctionArray opened #1964 "What is FixTextureContentType supposed to do?"
Title basically.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66a42e61-d1f5-e3e8-8d62-69c6fb0c7461
* Version Independent ID: 646c03da-f399-02f8-6075-85bd96519703
* Content: [Generate a 3MF package - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/devices-sensors/generate-3mf#feedback)
* Content

[2019-09-30 02:43] musicstashall commented on #1661
Tell me, is there a way to apply acrylic blur to an existing window? Just as the old DwmEnableBlurBehindWindow function worked. Or, for example, apply (or extend) acrylic to the entire windows settings window?

[2019-09-30 14:38] mdtauk commented on #1661
You can use an Acrylic Brush resource as a Background colour.

[2019-09-30 14:43] musicstashall commented on #1661
Show an example please and screen of this window

[2019-09-30 16:00] mdtauk commented on #1661
When you are developing your own apps, you can use the brush resource for the page background
``ThemeResource`` **SystemControlAcrylicWindowBrush**

![image](https://user-images.githubusercontent.com/7389110/65895714-ccffc780-e3a3-11e9-98a8-fbcc7321e3f9.png)

[2019-09-30 17:03] Karl-Bridge-Microsoft commented on #1964
@bsld - thanks for pointing this oversight out. I've added another snippet to the doc for the referenced function.

[2019-09-30 17:03] #1964 closed, assigned to Karl-Bridge-Microsoft

[2019-09-30 18:42] someniatko opened #1969 "Resizing an UWP app after it being idle for long time crashes dwm.exe"
I am on Windows 1903 + latest cumulative patches as of now. I open Settings app. Leave it alone for say 30 minutes. During these 30 minutes I interact with other apps, doesn't matter UWP or not. Then I come back to Settings and resize it by dragging its corner. As a result, whole DWM crashes rendering my screen black for a moment. Then it automatically restores.

This happens with ALL uwp apps, in

[2019-09-30 20:02] benstevens48 opened #1970 "PropVariantToWinRTPropertyValue and boolean values problem"
I don't really know where to post this issue, since UserVoice seems to have been closed, but anyway...

Some of the WIC APIs, such as `IWICMetadataQueryReader->GetMetadataByName(L"/logscrdesc/GlobalColorTableFlag", &propVar)` return a `PROPVARIANT` with `vt` equal ot `VT_BOOL` and a `boolVal` of `1` instead of `-1` (which is the correct value according to the docs) to represent `True`. This means

[2019-09-30 22:49] dpaulino commented on #1959
Figured out what went wrong. I created this PR to help improve the docs https://github.com/MicrosoftDocs/windows-uwp/pull/1971

[2019-10-01 00:31] uponatime2019 opened #1972 "Does need to call db.Close() in using statement"
sqlite-databases.md
[code]
Does db.Close() is necessary?

[2019-10-01 06:40] hatasum commented on #1887
Is the server blocked now?

[2019-10-01 08:04] musicstashall commented on #1661
This is not what I asked. I want to apply the blur to the already created UWP windows. For example, apply blur to the Settings Window

[2019-10-01 17:35] wendigo75 opened #1974 "cgminer win IoT"
is possible to build cgminer for Windows iot ?

[2019-10-02 13:00] JKennedy24 opened #1977 "Cannot discover whether a Keyboard is attached to a Surface device in a UWP app"
I have a UWP app running on a surface pro device and I am trying to tell if a keyboard is attached to the device (this is the surface pro keyboard so attaches to the bottom, not usb) so that my application can go down different code paths.

Here is the list of things I have tried and their results:

**1. How to detect if the surface keyboard is attached?**

[code]

**2. How to detect if the surfac

[2019-10-02 16:33] bastecklein opened #1978 "Print HTML content"
UWP needs a way to be able to print HTML content, without the gimmicky WebViewBrush method.  There are many, many scenarios, especially in enterprise tools, where you would want to quickly create a form using HTML elements and print it out.  It is universal, quick, and simple.  This is trivial on the Android, iOS, and on the Web, but near impossible with UWP.  This would make it extremely fast and

[2019-10-02 23:45] ambrybenoit opened #1979 "How do you stop the session from c++/cx code?"
I am trying the Screen Capture api and everything seems to work up to the point where I want to stop the recording.
I am using Direct3D11CaptureFramePool.CreateCaptureSession(GraphicsCaptureItem).

There's no api to stop and clearing the session of capture item object crashes.

How do you stop the recording in a c++/cx application?

[2019-10-03 02:38] hatasum opened #1980 "Is the server blocked now?"
@hickeys,
Is the server blocked now?
And please notice this issue:
https://github.com/MicrosoftDocs/windows-uwp/issues?utf8=%E2%9C%93&q=%229bfcea4f-a9cb-ab64-df07-90512002d80b%22&in=body

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2ac48f9-fd0e-0f1e-fc75-f28cf0b83f57
* Version Independent ID: 9bfcea4f-a9cb-ab64-df07

[2019-10-03 03:05] dharmendrasingh88 opened #1981 "Transparent & Chrome-less Window in uwp"
Hello Respected,

Transparent and chromeless window not yet supported in windows build i have tried with 10.0.17763. (If it is supported kindly let guide me to do that).
In WPF we simply achieve this by setting Window Style--> None, Background- Transparent, Allow transparent as true.
Kindly let me know to achieve in UWP.

[2019-10-03 10:14] johnshardman opened #1982 "Cleanup of event handlers"
The code on this page does a lot of adding event handlers (+=), but does not show where cleanup should be done to remove event handlers (-=)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37e904e1-c37c-668a-12a2-1c723cb0ac09
* Version Independent ID: e704bc94-c2dc-7c99-0345-4d704194da9d
* Content: [Print from your app

[2019-10-03 19:27] JorgenSandberg opened #1983 "Good, more is wanted"
Very good instruction on Hello World app.
I wish there were many more examples like that using various Window controls and events.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4cf8f2c-dd46-4884-1e5c-a5014009db88
* Version Independent ID: 198bea04-c4bf-efff-c810-e6e5ef7c4bbd
* Content: [Create a Hello World app in C+

[2019-10-03 19:31] QuinnRadich commented on #1983
I'm glad to hear you found this article useful.

If you're interested in checking out more tutorial-like content for Windows 10 apps,[ check out our modules on Microsoft Learn](https://docs.microsoft.com/learn/browse/?products=windows&resource_type=module)

Thank you!

[2019-10-03 19:31] #1983 closed, assigned to QuinnRadich

[2019-10-04 01:54] Losses opened #1984 "Seperate design language related content to an independent website/page."
It's very confusing while a designer want to get some information about the core concept and resource of Fluent Design System, if they visit https://www.microsoft.com/design/fluent/#/ and want to find something, they'll get nothing but a bunch of  document for developers. make a independent page specific for designers will make designers more quickly find the resources they want.

[2019-10-04 02:30] mdtauk commented on #1984
Redlines, metrics, and the visual spec for the controls, layouts, patterns etc would do well on the Fluent site, and focus the docs on the implementation of controls and patterns.

[2019-10-04 02:37] Losses commented on #1984
@mdtauk I agree with your idea.

[2019-10-04 15:18] sirredbeard opened #1985 "Documentation on tax information on Partner Dashboard is incorrect"
Under "Types of tax forms" it says to go to "Account settings" and "Tax profile" in Partner Center.

The "Account settings" page is now under "Developer Settings" and there is no "Tax profile" page, it is now "Payout and tax profiles".

Also there is are no tax forms. It is unclear where the tax forms went.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-10-04 18:01] myokeeh commented on #1887
I've since resolved the "Please keep all file entries for existing packages." It's due to having more than one package in the submission and the other ones not being marked "PendingDelete" by the sample code.

The server errors seem to still be a problem once in a while. I've since added retry code to account for server errors that may stall submissions.

[2019-10-04 18:01] #1887 closed, assigned to hickeys

[2019-10-04 18:57] krenner commented on #1573
Hello -  A quick FYI that WindowGraphicsCapture supports Home editions in builds 1809 or greater.  We should update the docs to note this addition.

[2019-10-04 19:28] oldnewthing commented on #1573
Isn't that already implied by "Starting in Windows 10, version 1803"?

[2019-10-04 21:26] delly47 opened #1986 "didnt work right away..."
took me forever to figure out that you also need to check off Internet (Client & Server), Internet (Client) and Private Networks (Client & Server)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92140a3c-b33d-6aa7-a904-d03c8122fbdf
* Version Independent ID: 90a33ee7-ec4a-2bcc-b776-530a1c3014fd
* Content: [Use a SQL Serv

[2019-10-05 02:31] ghost commented on #1986
Thanks for the heads up 😊 jensocan.

Sent from my Windows 10 device

From: delly47<mailto:notifications@github.com>
Sent: Friday, October 4, 2019 2:26 PM
To: MicrosoftDocs/windows-uwp<mailto:windows-uwp@noreply.github.com>
Cc: Subscribed<mailto:subscribed@noreply.github.com>
Subject: [MicrosoftDocs/windows-uwp] didnt work right away... (#1986)

took me forever to figure out that you also need to c

[2019-10-05 08:17] jamesmcroft commented on #1982
I think that there is just a code block missing from the documentation as the current docs covers what needs to be registered with an indication to register in the OnNavigatedTo method, but then explains that they should be unregistered in the OnNavigatedFrom method without showing what to unregister.

[2019-10-05 20:21] musicstashall commented on #1661
Someone, people, which of you can make this window completely transparent ?? How is this even possible or impossible? What is required for this?

![](https://user-images.githubusercontent.com/1398851/58505202-b2ff6f80-818c-11e9-8475-ab33847cdd1e.png)

[2019-10-05 20:39] mdtauk commented on #1661
You can't.

It is for the app developer to decide how their apps look.  Modifying an existing app would be a security risk, and would break the app.

[2019-10-05 21:53] skolbin-ssi commented on #1836
To export a certificate to a .pxf container file without a password, pass an empty secure string object to the cmdlet:

Export-PfxCertificate -FilePath C:\temp\mycert_nopw.pfx -Password (new-object System.Security.SecureString)

[2019-10-06 12:08] musicstashall commented on #1661
We could use the DwmEnableBlurBehindWindow function before, it was safe and did not cause breakdowns. I would like to get an alternative to this feature today. The question was precisely this - is it possible ?? Is it possible to implement this without interfering with applications?

[2019-10-06 17:47] jcteng opened #1990 "StreamWebSocket not accepted with VpnChannel.AssociateTransport"
As the document descibed ,VpnChannel.AssociateTransport(Object, Object) Method accept three types transport:
1. Windows.Networking.StreamSocket.  (Tested and goes well)
2. Windows.Networking.DatagramSocket.  (Tested and goes well)
3. Windows.Networking.StreamWebSocket ( Expection raised: Value does not fall within the expected range.)

Is there any mgaic ticks with StreamWebSocket?

[code]

check

[2019-10-06 20:51] jtorjo opened #1991 ".net core 3 + uwp + compile with .net native => internal crash"
I'm porting my app to UWP.
When I compile in release mode with .net native, i get an interanal compiler crash.
If I unselect .net native, it compiles ok.

Here's the diagnostic log of the compile:
http://phot-awe.com/test/internalerror.zip

[2019-10-07 02:11] hatasum commented on #1980
StatusCode: 403

[2019-10-07 18:20] msavazzi commented on #1937
Note the issue is opening files not in localapp folders but in Documents or any other folder on the PC

[2019-10-07 21:51] JosephMart opened #1992 "Access Denied for country/region codes used by Microsoft"
In the note on the page (inserted below), the link takes you to a `Access Denied` page one I login with my Microsoft account. Is this doc page not public?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: daefed41-a007-30fb-d7b2-79836132acb2
* Version Independent ID: 5033b6cf-55e3-9368-711f-bd2f3f229fab
* Content: [Global

[2019-10-08 02:55] jcg3675 commented on #1937
SQLite.Core to V3.0.0 not work? I have the same issue

[2019-10-08 03:13] carlbherbert opened #1993 "Cannot add targetted offers"
No button to add anything is shown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77ae80e6-33d9-38de-37a9-03338bd0612f
* Version Independent ID: 486a13a9-2bf7-79e2-44fa-54ac98d89766
* Content: [Use targeted offers to maximize engagement and conversions - Windows UWP applications](https://docs.microsoft.com/en-us/windo

[2019-10-08 19:51] v-nihar commented on #1920
Thank you for your feedback. Icons are added to Segoe MDL2 based on internal business needs. Currently our product teams do not have an need for this.”

[2019-10-08 20:00] #1920 closed, assigned to mijacobs, chigy, v-nihar

[2019-10-08 21:46] msavazzi commented on #1937
I was not able to have it working. is SUPER BAD! I cannot develop a UWP app in this conditions

[2019-10-09 02:33] gwynjudd opened #1995 "Can't get notifications working with clickonce app"
This issue seems to be similar to the following two, which seem to be closed but there doesn't seem to be a definite resolution:

https://github.com/MicrosoftDocs/windows-uwp/issues/976
https://github.com/MicrosoftDocs/windows-uwp/issues/361

Having followed through the document faithfully, I was able to get notifications working successfully in my classic desktop app, if launched in the normal fa

[2019-10-09 08:12] vietlubu commented on #1939
@QuinnRadich Sorry, but have any answer for this question?

[2019-10-09 09:41] AtosNicoS commented on #1895
This issue drove me crazy! Please fix it!

[2019-10-09 22:59] adrientetar opened #1997 "Mention how to make ListViewItem stretch horizontally"
By default ListViewItem is left-aligned, which means that Grid columns won't stretch... I think that this non-obvious snippet of code should get a mention:

[code]

(taken from the WPF docs)

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 9e528879-9c1d-ec7f-70df-f69ee3def630
* Version Independent ID:

[2019-10-10 19:45] bartlannoeye commented on #1982
@Karl-Bridge-Microsoft this issue has been solved and can be closed.

[2019-10-10 20:51] Karl-Bridge-Microsoft commented on #1982
Thanks!

[2019-10-10 20:51] #1982 closed, assigned to Karl-Bridge-Microsoft

[2019-10-10 21:23] bartlannoeye commented on #1696
@dend this might be a general docs issue rather than UWP docs specific? Seems like cached output?

[2019-10-10 21:23] #1444 closed, assigned to hickeys

[2019-10-11 10:36] madcowie opened #2001 "Cant change game from APP to GAME.... was working fine. (XBOX ONE)"
I really don't understand why it doesn't default to GAME. But at some point yesterday it stopped working! Now get the following Error Code 800A1391

Does anyone know how to make it default to GAME?

Ive tried on both Xbox X and Xbox S and it does the same thing.

[2019-10-11 15:11] #1961 closed, assigned to jwmsft

[2019-10-11 23:38] madcowie commented on #2001
I can now confirm that the new system xbox one update broke this.

[2019-10-12 02:27] krunch3r76 opened #2004 "grammar sore sight"
"You don't need to directly initialize COM, work with COM pointers."
consider using one of these conjunctions after the comma: "or", "nor"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ae018a1-a3ab-037a-2df7-354677971ff9
* Version Independent ID: 95ff0a4f-48c7-4962-93b3-538ab5ec458f
* Content: [Get started with C++/W

[2019-10-12 20:55] stevewhims commented on #2004
Thanks for spotting that, @krunch3r76! I've published the fix. ~Steve

[2019-10-12 20:55] #2004 closed, assigned to stevewhims

[2019-10-13 11:55] Strypper opened #2005 "Property of "Animation Object" got bug when restart the Animation"
`            backvisual = ElementCompositionPreview.GetElementVisual(FanIcon);

            backvisual.Size = new Vector2(100, 100);
            backvisual.CenterPoint = new Vector3(backvisual.Size / 2, 0);

            rotate = compositor.CreateScalarKeyFrameAnimation();
            rotate.InsertKeyFrame(1f, 360, compositor.CreateLinearEasingFunction());
            rotate.Duration = TimeSpan.Fro

[2019-10-13 12:13] jamesmcroft commented on #1992
Also gave this a try and cannot access it. Looks like it's a link to an internal Microsoft SharePoint site.

[2019-10-13 17:33] marcelwgn opened #2006 "Segoe MDL2 License"
I have searched for information about licensing of the Segoe MDL2 font, but I was unable to find any information about that. Is there a possibilty to add this information to [this page](https://docs.microsoft.com/en-us/windows/uwp/design/style/segoe-ui-symbol-font)? 😅

[2019-10-13 17:59] sudarsanyes opened #2007 "Menu Button Clickability when the window size is Small"
While the document talks about various Navigation View Customization by extending the view to the TitleBar, it is not clear how to set the Back Button and the Menu Button as clickable when the window size is Small.

If the documented snippets are followed, the Menu Button and the Back Button, when IsTitleBarAutoPaddingEnabled="False", does not receive any hit-tests, as they are processed as a part

[2019-10-13 18:21] Karl-Bridge-Microsoft commented on #1992
@JosephMart - thanks for the head's up. I've revised the link. Hopefully, it's more helpful.

[2019-10-13 18:21] #1992 closed, assigned to Karl-Bridge-Microsoft

[2019-10-14 01:14] krunch3r76 opened #2008 "hello!"
From the Note at the start of this webpage there is a link to which the reader is referred in the following line: "For more background, setup, and support info, see Getting started with the Windows UI Library." This should probably be emphasized as pre-requisite reading to building/running this hello 🌎 example. Specifically, the includes from that page's section: "Additional steps for a C++/WinRT

[2019-10-14 11:49] marcus-lundgren opened #2009 "Enable the Windows 10 Hyper-V Default Switch to work with Cisco AnyConnect"
Copied the previous feedback report from here:
https://wpdev.uservoice.com/forums/110705-universal-windows-platform-closed/suggestions/32332030-enable-the-windows-10-hyper-v-default-switch-to-wo

It would be great if the default switch in Hyper-V could make use of VPN that the host is using. In my case it is Cisco AnyConnect. The VPN is used to reach internal infrastructure at my work.

[2019-10-14 17:31] jevansaks commented on #2007
The doc does say this:

Did you do that?

[2019-10-14 17:31] #2007 closed, assigned to jwmsft

[2019-10-14 18:33] hkhmsft commented on #1991
Thanks for reaching out with your feedback. In the meantime you'll find quicker support by consulting our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/questions). Otherwise, p

[2019-10-14 18:33] #1991 closed, assigned to nobody

[2019-10-14 18:34] hkhmsft commented on #1981
Thanks for reaching out with your feedback. In the meantime you'll find quicker support by consulting our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/questions). Otherwise, p

[2019-10-14 18:34] #1981 closed, assigned to nobody

[2019-10-14 18:36] hkhmsft commented on #2009
It looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use the [Windows developer feedback site](https://wpdev.uservoice.com/). We’d be happy to have this on record, where others can view it and upvote it.

[2019-10-14 18:36] #2009 closed, assigned to nobody

[2019-10-14 18:37] hkhmsft commented on #2005
Thanks for reaching out with your feedback. I'll work on updating the documentation with this info, but in the meantime you'll find quicker support by consulting our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [Stack

[2019-10-14 18:37] #2005 closed, assigned to nobody

[2019-10-14 18:38] hkhmsft commented on #2001
Thanks for reaching out with your feedback. I'll work on updating the documentation with this info, but in the meantime you'll find quicker support by consulting our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [Stack

[2019-10-14 18:38] #2001 closed, assigned to nobody

[2019-10-14 22:01] stevewhims commented on #2008
Hi, @krunch3r76, thanks for this feedback. This topic (A simple C++/WinRT Windows UI Library example) contains everything you need to create and run the code example. The other topic (Getting started with the Windows UI Library) doesn't contain any prerequisite info, nor any relevant info that's not already in this topic. The info in that topic's "Additional steps for a C++/WinRT project" is prese

[2019-10-14 22:01] #2008 closed, assigned to stevewhims

[2019-10-15 17:21] jevansaks commented on #1963
@mijacobs this seems like a general improvement to the docs that we would need. The Metadata has this information, we would just want the docs pages to include it. Does WPF already do this and we could just extend that logic to the UWP pages?

[2019-10-15 17:21] anawishnoff commented on #1997
Hi again @adrientetar. Sorry about the delay on this, and thanks for opening up an issue here. I'll work on getting these changes into the docs this week. :)

[2019-10-15 17:22] jevansaks commented on #1962
I don't think so? The sample right below that text shows:

[code]

[2019-10-15 17:28] tim-weis commented on #1962
This issue was referring to the [Text](https://docs.microsoft.com/uwp/api/windows.ui.xaml.controls.textblock.text) property documentation. The quote in the issue report implies, that that documentation were using XAML content property syntax, but doesn't.

[2019-10-15 19:26] jevansaks commented on #1962
I see. The example below the text is correct and shows the usage but the linked page doesn't.

[2019-10-15 21:00] mijacobs commented on #1963
The information is in the WPF docs, but it's manually added. For an example, see "Content model" in the remarks section of the button page: https://docs.microsoft.com/en-us/dotnet/api/system.windows.controls.button?view=netframework-4.8

We have a work item open against the engineering team to add this info.

[2019-10-15 22:27] nschonni opened #2011 "Why suggest using a Windows Insider build if the audience is "beginners ""
I like WSL, but suggesting a beta OS build and an unreleased WSL2 build for beginners doesn't seem to match the audience of the article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 811fa359-feec-10dd-544c-881982b25138
* Version Independent ID: aeb2c4e1-28d2-65c8-06e7-b63a3233c5e2
* Content: [Get started using NodeJS

[2019-10-15 22:45] mattwojo commented on #2011
In my opinion, we need to start beginners off on the right foot... from the beginning. If we have them install Node.js directly on Windows, the initial set up is simplified, but the tools, workflow, ability to implement the commands found out in the wild via courses and tutorials... it's all _slightly_ different for a direct Windows install... thus the frustration we've heard from folks using Node

[2019-10-15 23:07] jwmsft commented on #1962
This is a known bug in the rendering of the XAML syntax block. If you click the Edit button on the Text property  page to view the [source file on GitHub](https://github.com/MicrosoftDocs/winrt-api/blob/docs/windows.ui.xaml.controls/textblock_text.md/#L0), you'll see that both forms of syntax are there. However, only the first one is rendered on the published page. We have not updated the XAML Syn

[2019-10-16 11:51] JKennedy24 commented on #1977
Any response from microsoft? So far its radio silence from microsoft from all channels (SO, Microsoft feedback, github)

This is a fundamental requirement to designing uwp apps with good UX

[2019-10-16 12:20] JerryNixon commented on #1389
Yet another source of frustration for UWP developers.
The documentation still recommends this approach.

[2019-10-16 12:23] JerryNixon opened #2012 "This is out of date and suggests an unsupported action."
This is a source of frustration to UWP developers. This page reads "Do this" and then after much searching elsewhere we discover "This is no longer supported".  Why is this page allowed to remain?!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2bdc2e7-dd4e-723d-ed1e-bd9cdcb503ee
* Version Independent ID: 6510f160-a66

[2019-10-16 12:25] JerryNixon opened #2013 "StoreServicesCustomEventLogger is not available in this SDK anymore"
This page should be deleted. The SDK is no longer supported and cannot be used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c708c5b9-f27a-1a5c-04ba-0b8b987774f4
* Version Independent ID: 12981ef0-a788-f50a-7d38-e6414d314602
* Content: [Log custom events for Partner Center - Windows UWP applications](https://docs.mic

[2019-10-16 12:25] JerryNixon opened #2014 "SDK is deprecated. Docs are misleading."
See title.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ede7d8cc-3e4e-8901-62c6-795eabd9cc82
* Version Independent ID: 15342293-48a0-9aa2-7b00-2f3ccb55f44e
* Content: [Engage customers with the Microsoft Store Services SDK - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/monetize/microsoft-sto

[2019-10-16 13:41] JerryNixon opened #2015 "This page refers to Microsoft Store Services SDK which is deprecated."
This is misleading.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89cc1b93-b31f-09c7-681f-02a43a5fc682
* Version Independent ID: 76d7a4eb-90f8-3501-3513-9637577dc999
* Content: [Feedback report - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/publish/feedback-report)
* Content Source: [windows-

[2019-10-16 14:44] JerryNixon opened #2017 "Listing a known issue here without any kind of date doesn't give the developer hope"
Attachments that you add to an email by using the EmailAttachment class will appear only in the Mail app. If users have any other mail program configured as their default mail program, the compose window will appear without the attachment. This is a known issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffe51be1-8

[2019-10-16 17:33] brabebhin opened #2018 "This does not work with media playback list"
See https://social.msdn.microsoft.com/Forums/windowsapps/en-US/6a8b41ee-71ad-4e83-8e76-f25ba8de327a/uwp-any-special-considerations-when-using-ibasicvideoeffect-with-mediaplaybacklist?forum=wpdevelop

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4621527-e2b3-58fc-5291-3be1b7598be4
* Version Independent ID: f0d715d2-af

[2019-10-16 18:15] benstevens48 commented on #1389
They did actually fix this eventually. I think if you use the latest version of the Microsoft.Services.Store.Engagement package it probably works. I'm still using the method I described above though because I don't need to provide metadata and I can avoid this additional NuGet package.

[2019-10-17 07:42] jtorjo opened #2019 "allow access via System.IO API"
The "great" StorageFile / StorageFolder are sooo bad and soo slow, it's an immense pain to use them.

Case in point : I have 797 files in a folder. With System.IO -> enumerating + getting length of each -> less than 1ms.
With StorageFolder enumeration -> **over 9 seconds**.

### It is > 9000 times slower

Why can't we have System.IO function properly? They are waaaay faster, and everybody knows ho

[2019-10-17 15:06] jkrajcir opened #2021 "ExtendedExecutionForegroundResult instead of ExtendedExecutionResult"
In the second code sample under "Run while minimized", ExtendedExecutionResult should be ExtendedExecutionForegroundResult since we are requesting an extension from an ExtendedExecutionForegroundSession object.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ee37beb-26fc-4eca-d48e-08b4c1563b2f
* Version Independent ID:

[2019-10-17 15:52] bluejoe36596anzabn opened #2022 "william henry lee dawson jr"
abn privte account owner houseing  global 999999999999 buget a year your the new biil gates

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 833143df-a76a-b714-956b-dab2be749ffa
* Version Independent ID: 39ca0eed-5f1d-1870-59cf-0460d40e8f7a
* Content: [Create apps with the Universal Windows Platform - Windows UWP applica

[2019-10-17 18:07] #2022 closed, assigned to QuinnRadich

[2019-10-17 20:34] hkhmsft commented on #2019
It looks like you have product feedback rather than documentation feedback. If you are looking for functionality that isn’t currently provided by the product, please use the [Windows developer feedback site](https://wpdev.uservoice.com/). We’d be happy to have this on record, where others can view it and upvote it.

[2019-10-17 20:34] #2019 closed, assigned to nobody

[2019-10-17 21:03] #975 closed, assigned to msatranjr

[2019-10-17 21:12] #1090 closed, assigned to nobody

[2019-10-17 21:13] #1152 closed, assigned to mcleanbyron

[2019-10-17 21:18] mcleanbyron commented on #869
Our apologies for not responding to this issue sooner, and thanks for reaching out to us. It looks like you have a technical question about how the startScreenManagement capability works instead of direct feedback on the docs.

For assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&p

[2019-10-17 21:18] #869 closed, assigned to mcleanbyron

[2019-10-17 21:23] stevewhims commented on #1163
Hi, @shreyagupta995, thanks for filing this issue. C++/CX is actually now superseded by C++/WinRT. The topic [Author events in C++/WinRT](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/author-events) details how to create a Windows Runtime component using C++/WinRT. So I'd definitely recommend moving in that direction if you can.

~Steve

[2019-10-17 21:57] jwmsft commented on #1791
Bing translation: You should be prompted at the beginning that you need to enable the feature in the package manifest-function for proper use.

[2019-10-17 22:00] stevewhims commented on #987
Hi, @akhzarna, and thanks for filing this issue. Until we have a C++ code example in this topic, one suggestion would be for you to study the [C++/WinRT](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/index) documentation, which contains lots of code examples showing many different techniques for calling Windows Runtime APIs from C++. It's likely that you'll learn enough there to conver

[2019-10-17 22:00] #987 closed, assigned to Karl-Bridge-Microsoft, stevewhims

[2019-10-17 22:03] #1855 closed, assigned to kikisaints

[2019-10-17 22:04] stevewhims commented on #1776
Hi, @makerofgames. Sorry for the delay in responding, and thanks for filing this issue. I don't see anything actionable in the thread, in terms of changes that need to be made to this topic's content.

So I'll go ahead and close the issue for now.

Thanks!
Steve

[2019-10-17 22:04] #1776 closed, assigned to stevewhims

[2019-10-17 22:18] jwmsft commented on #1972
https://docs.microsoft.com/windows/uwp/data-access/sqlite-databases

[2019-10-17 22:20] #1997 closed, assigned to jwmsft, anawishnoff

[2019-10-17 22:42] stevewhims commented on #1734
Hi, @Gavin-Williams. Sorry for the delay in responding, and thanks for filing this issue.

You're right, this topic was out of date, so I just published an update to it, including a link to some code that I hope will cover the question "How would we go about using C++/WinRT with DX?".

As for content around wrapping DX up in WinRT components, I'll make a record of that ask, and put it onto my back

[2019-10-17 22:42] #1734 closed, assigned to stevewhims

[2019-10-17 22:46] jwmsft commented on #619
Both instances of the link are fixed now.

[2019-10-17 22:46] #619 closed, assigned to GrantMeStrength, jwmsft

[2019-10-17 23:01] jwmsft commented on #1494
Thanks for letting us know about this. The link is fixed now.

[2019-10-17 23:01] #1494 closed, assigned to YuliKl, jwmsft

[2019-10-17 23:18] stevewhims commented on #1635
Hi, @BMarques. I'm really sorry for the long delay in responding, and thanks for filing this issue.

You're right, there is no previous snippet. I've fixed this issue by adding a link to a code example that does show how to implemement **IFrameworkViewSource** (in C++/WinRT, since that's the language projection that we recommend).

Thanks again!
-Steve

[2019-10-17 23:18] #1635 closed, assigned to stevewhims

[2019-10-17 23:37] stevewhims commented on #1634
Hi, @englishb. I'm really sorry for the long delay in responding, and thanks for filing this issue.

You make a good point, and I'm not certain whether the remedy here is to change the loop condition so that we can break out of it if/when a removal is detected, or whether the tight loop is meant to remain but be executed on a different thread from the thread that detects removal. It seems that if

[2019-10-17 23:37] #1634 closed, assigned to stevewhims

[2019-10-17 23:43] stevewhims commented on #1605
Hi, @brianreinhold. I'm really sorry for the long delay in responding, and thanks for filing this issue.

This sounds like a product support question about Visual Studio.

If you have feedback about documentation content, then you can click **Send feedback about** \> **This page** on the relevant topic. For product feedback in the context of a particular topic, you can instead click **Send feedbac

[2019-10-17 23:43] #1605 closed, assigned to stevewhims

[2019-10-17 23:52] JerryNixon commented on #1389
I think a little testing will change your comment.

[2019-10-18 00:54] justcoding121 opened #2023 "Allow audio from background task without requiring foreground activation"
Originally [posted here](https://github.com/microsoft/Windows-universal-samples/issues/1067) in UWP samples repository, and later in [wpdev.uservoice](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/37012720-allow-audio-from-background-task-without-requiring) (which had many up-votes but now it disappeared after the transition to here).

I am working on a alarm clo

[2019-10-18 00:54] stevewhims commented on #1555
Hi, @Gavin-Williams. I'm really sorry for the long delay in responding, and thanks for filing this issue.

I've contacted the feature team for confirmation as to whether, and when, DXGI_ALPHA_MODE_PREMULTIPLIED is supported for UWP XAML apps. It looks, from my superficial testing, like it is. But once I have confirmation I'll update the docs, so I'll leave the issue open until then.

Thanks again!

[2019-10-18 01:02] stevewhims commented on #1504
Hi, @armstrong-charles. It's been a while since the request for more info.

Without more specific info, this question feels not so much like feedback specifically about the documentation, but rather like a question about the product.

To leave feedback about documentation content, you can go to a topic and click **Send feedback about** \> **This page**. If instead you click **Send feedback about**

[2019-10-18 01:02] #1504 closed, assigned to stevewhims

[2019-10-18 03:05] stevewhims commented on #1457
Hi, @francisco-chavez. Thanks for filing this issue, and sorry for the very long delay in responding to it.

You're right, this topic was out of date. I've updated it now. Please keep the feedback coming. :)

I'll go ahead and close this issue now.

Thanks again!
Steve

[2019-10-18 03:05] #1457 closed, assigned to stevewhims

[2019-10-18 03:17] stevewhims commented on #1247
Hi, @ajventi. Thanks for filing this issue, and sorry for the very long delay in responding to it.

If you're still interested in the PR that you mention, then please see https://docs.microsoft.com/contribute/ for instructions. The markdown file for this topic is here: https://github.com/MicrosoftDocs/windows-uwp-pr/blob/master/windows-apps-src/winrt-components/walkthrough-creating-a-simple-window

[2019-10-18 03:25] stevewhims commented on #1211
Hi, @re-jim (and others). Thanks for filing this issue, and I'm sorry for the extremely long delay in responding to it.

I've created a task for myself to thoroughly revisit and revise this topic, and I've put that on my backlog.

We already have a duplicate GitHub issue about this same topic, with the same action plan here: https://github.com/MicrosoftDocs/windows-uwp/issues/1247. So let's consol

[2019-10-18 03:25] #1211 closed, assigned to stevewhims

[2019-10-18 03:31] stevewhims commented on #1203
Hi, @JackDetrick, I'll go ahead and close this issue now, since it seems like we're resolved, and I don't see any clear action around improving the documentation.

If I'm wrong, and you can let me know how to what I can do to improve the docs, then please feel free to reopen.

Thanks!
~Steve

[2019-10-18 03:31] #1203 closed, assigned to stevewhims

[2019-10-18 03:35] stevewhims commented on #723
Hi, @moyanming (and others). Thanks for filing this issue, and I'm very sorry for the extremely long delay in responding to it.

To learn how to create a Windows Runtime component using C++/WinRT, see [Author events in C++/WinRT](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/author-events).

I'll go ahead and close this issue, but please reopen if it you feel I'mve close it in error.

[2019-10-18 03:35] #723 closed, assigned to stevewhims

[2019-10-18 06:27] LJ9999 opened #2024 "None of this makes any sense without a competent example."
"The specified x:Name becomes the name of a field that is created in the underlying code when XAML is processed, and that field holds a reference to the object. "

Wonderful. So how the hell do I actually use it? Why would I use it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e7082b2-4aa7-52ec-b00f-3c206eb5f6df
* V

[2019-10-18 08:05] AbhiAbzs opened #2025 "Issue With Transaction Model Image"
There is an issue in rendering the transaction model Image when the dark mode is selected as sites theme.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8132995-4d33-d547-f743-37cd3b3f15c4
* Version Independent ID: 19465bc3-648d-6576-ea62-5b23b50531d5
* Content: [Best practices for writing to files - Windows UWP appli

[2019-10-18 08:06] francisco-chavez commented on #1457
It looks like some of the child documents to this might also need an update. https://github.com/MicrosoftDocs/windows-uwp/blob/docs/windows-apps-src/gaming/user-interface.md .

[2019-10-18 16:36] ChrisGuzak opened #2026 "convert_from_abi helper has unnecessary cast"
windows-uwp/windows-apps-src/cpp-and-winrt-apis/[interop-winrt-abi.md](https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/interop-winrt-abi#convert_from_abi-function)

this helper can be written without the cast like this, please update the 2 occurrences on the page above.
[code]

[2019-10-18 16:46] #2012 closed, assigned to hickeys

[2019-10-18 16:52] JerryNixon commented on #2012
I can confirm this approach actually does work in :

1. `Visual Studio` 2017 v15.9.6 and `Visual Studio` 2019 v16.2.5
2. `Microsoft.NETCore.UniversalWindowsPlatform` v6.2.9
3. `Microsoft.Services.Store.Engagement` v10.1901.28001
4. `Microsoft Engagement Framework` Universal Extension v10.0

Sample syntax:

[code]

Sample project attached.
[App12.zip](https://github.com/MicrosoftDocs/windows-uwp/fi

[2019-10-18 16:55] JerryNixon commented on #2014
Seems to be working. Please see: https://github.com/MicrosoftDocs/windows-uwp/issues/2012#issuecomment-543833348

[2019-10-18 16:55] #2014 closed, assigned to hickeys

[2019-10-18 16:56] stevewhims commented on #2026
Ok, this fix is published.

[2019-10-18 16:56] JerryNixon commented on #2015
Seem to work. Please see: https://github.com/MicrosoftDocs/windows-uwp/issues/2012#issuecomment-543833348

[2019-10-18 16:56] #2015 closed, assigned to hickeys

[2019-10-18 16:56] #2013 closed, assigned to hickeys

[2019-10-18 16:57] JerryNixon commented on #2013
Please see related: https://github.com/MicrosoftDocs/windows-uwp/issues/2012#issuecomment-543833348

[2019-10-18 17:04] benstevens48 commented on #1389
It appears to work for me, running on Windows 10 1903 and targeting version 1903. Did you follow the method on this page https://docs.microsoft.com/en-gb/windows/uwp/monetize/microsoft-store-services-sdk with the NuGet package option? I haven't tested the MSI installer option - it's possible that's still broken.

[2019-10-18 17:41] stevewhims commented on #2026
I'll go ahead and close. Thanks, Chris!

-Steve

[2019-10-18 17:41] #2026 closed, assigned to nobody

[2019-10-18 19:01] drewbatgit commented on #2018
@mcosmin222 Hi, issues in this git repo are limited to documentation-related issues. We aren't able to provide tech support here. But I can see that you are waiting for a response on your thread on the forums. I've sent mail to the relevant product group, including a link to your forum post, to try to raise the visibility of your issue.

[2019-10-18 19:01] #2018 closed, assigned to drewbatgit

[2019-10-18 19:06] drewbatgit commented on #1820
The picker serves a dual purpose, to allow the user to pick the capture target and also to ensure the user has provided consent for the capture operation. Therefore, there is not currently a mechanism for capturing without this picker.

[2019-10-18 19:06] #1820 closed, assigned to drewbatgit

[2019-10-18 19:19] drewbatgit commented on #1239
Hi, thanks for reaching out with this question. The CanvasBitmap class is part of the Win2D API which is documented in a separate GitHub repo. There are various API listed there for manipulating and converting images in this format: https://microsoft.github.io/Win2D/html/T_Microsoft_Graphics_Canvas_CanvasBitmap.htm

Issues in this repo are intended solely for issues related to the documentation an

[2019-10-18 19:19] #1239 closed, assigned to drewbatgit

[2019-10-18 19:20] MattRibeiro commented on #1628
I had this issue. I used edge in an in-private window and dropped the verify url link in it, logged in, and it got me past that.

[2019-10-18 19:22] drewbatgit commented on #1033
Hi, thanks for reaching out with this question. This feels not so much like feedback specifically about the documentation, but rather like a question about the product. You got here by clicking Send feedback about > This page. If instead you click Send feedback about > This product, then you'll be taken to the [Windows developer feedback site](https://wpdev.uservoice.com/) (more info about that be

[2019-10-18 19:22] #1033 closed, assigned to drewbatgit

[2019-10-18 19:43] drewbatgit commented on #1164
Hello, you can tell if an API is unsupported for JavaScript or PWAs if it has the WebHostHidden attribute on its reference page. The GraphicsCaptureSession, and other APIs in that namespace all appear to have this attribute, meaning they are unsupported.

https://docs.microsoft.com/en-us/uwp/api/windows.graphics.capture.graphicscapturesession

[2019-10-18 19:43] #1164 closed, assigned to drewbatgit

[2019-10-18 22:09] riverar commented on #1389
Make sure you're using Microsoft.Services.Store.Engagement 10.1901.28001 or higher. Anything below is broken.

[2019-10-19 17:29] adrientetar opened #2027 "Add information about showing Recent files in the JumpList"
Basically add information referencing https://docs.microsoft.com/en-us/uwp/api/windows.ui.startscreen.jumplist, and describing how to get recent files to show up in the JumpList.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea426a20-ab2c-38a1-2394-f0c45b7f07a6
* Version Independent ID: da36c626-4a6f-bd65-ca6e-fa2e97a

[2019-10-19 23:31] 07c0ff3a590b commented on #609
Run PowerShell Command:
`Add-AppxPackage -path "C:\Path\To\Your\UWP\Package"`

[2019-10-20 18:45] ljfischer commented on #812
Ive seen this same thing.

[2019-10-21 11:44] mhmd-azeez opened #2029 "How do you specify the bundle version?"
Is there any msbuild argument I can send so that I can specify the version of the bundle? I am trying to use an Azure DevOps extension to manage the version of my builds.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfd4f93a-ff30-ca5f-c45f-5e52aa553cfb
* Version Independent ID: 1e3ca639-193e-a43c-1585-5a407cad1433
*

[2019-10-21 12:51] mhmd-azeez commented on #2029
A workaround is to replace the version in the appxmanifest using powershell:

[code]

[2019-10-21 19:19] jwmsft commented on #1959
@dpaulino, thanks for the PR. DateTime is tricky because it shows up differently depending on the language you're programming in, so I also added a note that DateTimeOffset is for C# and .NET languages.

[2019-10-21 19:19] #1959 closed, assigned to jwmsft

[2019-10-21 21:27] #612 closed, assigned to drewbatgit

[2019-10-21 23:58] hkhmsft commented on #2025
Thanks for reaching out with your feedback. I'll work on updating the documentation with this info, but in the meantime you'll find quicker support by consulting our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [Stack

[2019-10-21 23:58] #2025 closed, assigned to lastnameholiu

[2019-10-22 04:01] zawawimanja opened #2030 "C# code behind all ERROR"
I dont understand why you cannot give us sample project to test it out??

The XAML part is ok. But when it is the C# code behind it will contain a lot of error. Your tutorial is not user friendly for newbie to learn. Make it  simple for beginner and please put  sample project that can test it.

[2019-10-22 06:53] zawawimanja opened #2031 "C# code behind all ERROR"
I dont understand why you cannot give us sample project to test it out??

The XAML part is ok. But when it is the C# code behind it will contain a lot of error. Your tutorial is not user friendly for newbie to learn. Make it simple for beginner and please put sample project that can test it.

[2019-10-22 06:53] #2031 closed, assigned to nobody

[2019-10-22 17:28] jevansaks commented on #2024
@fabiant3 who can help improve the docs here? Or suggest a link to docs about the codegen stuff?

[2019-10-22 17:31] jevansaks commented on #1636
Seems like a reasonable suggestion but I don't know what the full code sample is this came from. We should probably update that first and make sure it works. :)

[2019-10-22 21:57] asklar opened #2032 "Fall creators update"
This page talks about fall creators update - it refers to RS3 (16299).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 389ddc46-dc2d-bebb-a07b-431aee1da594
* Version Independent ID: 38771c69-2606-d9bc-76ea-27feedac3ce3
* Content: [Natural motion animations - Windows UWP applications](https://docs.microsoft.com/en-us/win

[2019-10-22 22:26] sbeaudoin opened #2033 "Blue text command"
I hoped to find how to create the kind of blue text command used on the Windows parameters page.  My command text is long and I thought this is the style we must use.  I have seen the HyperlinkButton, but the visual is not quite right as it is underlined when not hovered.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-10-23 01:31] chcurlet-msft opened #2034 "Redundant table rows"
The 3rd and 4th rows of the "Detailed listing of desktop behavior" table are redundant ("Battery Saver enabled" and "On battery + battery saver enabled + screen off").

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00495cf6-5df2-c85a-be4b-5af5ffb95acb
* Version Independent ID: 9234cef0-7a0d-7d2d-ef53-ed1df59ece26
* Con

[2019-10-23 01:45] veawor opened #2035 "Variable length of UTF-8"
I suppose it's 1-6 bytes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a28119a-77f2-160c-a4f1-f90ef9153423
* Version Independent ID: 28b24e82-f0ef-cceb-2136-f8dbfabfcadc
* Content: [Use the Windows UTF-8 code page - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/design/globalizing/use-utf8-co

[2019-10-23 01:49] stevewhims commented on #1555
UPDATE: The limitation was removed in the Windows 8.x timeframe so, since the current docs reflect Windows 10, I've removed that obsolete limitation from the topic. Expect to see that show up on the live site within a day.

Thanks again!
Steve

[2019-10-23 16:21] Karl-Bridge-Microsoft commented on #2035
@veawor - Can you clarify? Not sure what the issue is here. Thanks.

[2019-10-23 19:36] SamPavezaMS opened #2036 "Asynchronous is misspelled multiple times on this page."
Search "Asych"  to find them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db952f42-9d6e-d30b-0aed-e7de64a89987
* Version Independent ID: bea24c9a-3e1e-405d-d7cc-5a080e62ece2
* Content: [Concurrency and asynchronous operations with C++/WinRT - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/cpp

[2019-10-23 20:00] drewbatgit commented on #1888
The two articles that talk about OpenCV have been updated with notes that these packages do not pass Store compliance and are therefore only intended for experimentation. Thank you for bringing this issue to our attention.

[2019-10-23 20:00] #1888 closed, assigned to drewbatgit

[2019-10-23 22:11] hkhmsft commented on #2033
Hello,

Thanks for reaching out. Have you tried the following:

In the meantime you'll find quicker support by consulting our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/ques

[2019-10-23 22:11] #2033 closed, assigned to jwmsft

[2019-10-23 22:34] stevewhims commented on #2036
Thanks, the fix is now live (thanks to the contributor of that PR).

[2019-10-23 23:10] #2036 closed, assigned to stevewhims

[2019-10-23 23:43] #1895 closed, assigned to lastnameholiu

[2019-10-24 17:51] jwmsft commented on #1510
This appears to be fixed.

[2019-10-24 17:51] #1510 closed, assigned to jwmsft

[2019-10-24 18:02] BillHoag opened #2039 "No appxmanifest"
Neither C++/WinRT nor C++/UX project templates generate a .appxmanifest file. Bug with the template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e739c976-323f-bdf7-14a4-9b2d4872c62c
* Version Independent ID: c580c6b6-dc0d-296e-ffbd-0d866b34779f
* Content: [Create a Universal Windows Platform console app - Windows UW

[2019-10-25 10:49] mrsupaplex opened #2040 "I keep getting the error code 500 when accessing: https://xboxone:11443/#Home"
I keep getting the error code 500 when accessing: https://xboxone:11443/#Home

[2019-10-25 14:33] MarkSmall-AV opened #2042 "Getting error trying to fill out the benficiary part."
the address cant be validated by Vertex - MIN_AGGREGATE_CONFIDENCE_EXCEEDED

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98f4a20b-33aa-a616-6206-461d83fde6b8
* Version Independent ID: c28b8f31-922e-02b3-93c9-effa13395e1d
* Content: [Set up your payout account and tax forms - Windows UWP applications](https://docs.mic

[2019-10-25 18:25] Karl-Bridge-Microsoft commented on #1882
Thanks for the suggestion! This is a product suggestion and not a doc bug, so please consider posting the issue at https://github.com/microsoft/microsoft-ui-xaml/issues/new/choose for the product team to track publically.

[2019-10-25 18:25] #1882 closed, assigned to Karl-Bridge-Microsoft

[2019-10-25 19:52] JoshWobbles commented on #1882
@Karl-Bridge-Microsoft  Except this needs to be an option FOR THE USER, not the developer!!! Not every person who uses a Microsoft PC is using it to play games.

[2019-10-25 19:52] mattwojo commented on #1974
Hi @wendigo75 -- the short answer: 'No, not supported'

The longer answer: it would be helpful to have more context about how you're interested in using cgminer with Windows IoT. I don't have a deep knowledge of Windows IoT and a more appropriate place to pose this question is in the Windows IoT issues: https://github.com/MicrosoftDocs/windows-iotcore-docs/issues

If you decide to repost your ques

[2019-10-25 19:52] #1974 closed, assigned to mattwojo

[2019-10-25 19:56] joaodforce commented on #1882
I think you did not understand what @Karl-Bridge-Microsoft meant.

He just said that this issue should be posted on https://github.com/microsoft/microsoft-ui-xaml

Because this is not a problem related to the documentation not listing this feature, its a matter of this feature not existing at all. So it should be placed on the microsoft-ui-xaml repository where this feature could actually be devel

[2019-10-25 19:59] JoshWobbles commented on #1882
I got that, but that isnt any better of a place than here because that is for the developer libraries, this really needs to be an end user opt in "feature", and not something that should the responsibility of every UWP developer to make sure they add the correct meta to their app to disable controller input.

[2019-10-25 20:11] Karl-Bridge-Microsoft commented on #1882
@JoshWobbles - user settings provide a way for Windows feature teams to expose options for their features to users. If you want a user setting for a Windows feature, you have to address it with the feature developers. This is why I provided a link to a more appropriate product feedback forum.

[2019-10-25 20:15] Karl-Bridge-Microsoft commented on #1977
Thanks for the feedback! However, from this issue and the SO thread, this appears to be a product issue and not a doc bug (at this time), so please consider posting the issue at https://github.com/microsoft/microsoft-ui-xaml/issues/new/choose for the product team to track publicly.

[2019-10-25 20:15] #1977 closed, assigned to Karl-Bridge-Microsoft

[2019-10-25 22:31] nikolaGrancharov opened #2043 "Icon codes are not up to date"
I have just downloaded the "Fabric External MDL2 Assets"  font from this site, and many of the codes that are provided here do not match the codes that are actually in the font. I am checking them with "Charecter Mapp"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60025def-004a-97b9-be6e-a2678e0b4461
* Version Indepen

[2019-10-25 23:27] hkhmsft commented on #2040
Hi there and thanks for reaching the documentation team. Would you be able to point to the document where you found this link?

[2019-10-28 09:23] linhll opened #2044 "Not response any data"
Dear development team,
I tried to use this API but it didn't response any analytic data.
This is my request:
GET /v1.0/my/analytics/failurehits?applicationId=9P9DNW6KMT9B&amp; startDate=10/20/2019&amp; endDate=10/28/2019 HTTP/1.1
Host: manage.devcenter.microsoft.com
:
Authorization: Bearer &lt;token&gt;
User-Agent: PostmanRuntime/7.19.0
Accept: */*
Cache-Control: no-cache
Host: manage.devcenter.mi

[2019-10-28 09:59] Changed-Daily opened #2045 "Onecoreuap errors"
Hi, I am developing a UWP application for Bluetooth. I am using the Microsoft.Toolkit.Uwp datagrid and other controls from that toolkit. During debug I get loads of the following error:

onecoreuap\windows\wgi\winrt\display\displaycommon.cpp(411)\Windows.Graphics.dll!00007FFF68BE04B0: (caller: 00007FFF68BE027B) ReturnHr(54) tid(2230) 80070490 Element not found.

It is not preventing the program fr

[2019-10-28 15:36] TheJimmyJ57 commented on #969
Tried this again and the only colors that seem to be overwritten are for the footer ViewItem. Any ideas why?

[2019-10-28 17:25] jevansaks commented on #803
You would reference the panel like any other code-behind type. `<local:BoxPanel> ... </>`

[2019-10-28 17:27] jevansaks commented on #1525
This is a reasonable ask. That's the first time I've seen that contracts page ... that one could use some help.

[2019-10-28 17:30] jevansaks commented on #1629
Yes, this is a pain point but not something we're planning to address in the near term. Perhaps you could start a discussion on our product GitHub and see if others have suggestions for you? In general when we see things like this it's because the app isn't properly virtualizing lists.

https://github.com/microsoft/microsoft-ui-xaml/issues

[2019-10-28 17:30] #1629 closed, assigned to jwmsft

[2019-10-28 18:15] asierpn commented on #1629
I will try to start a discussion in that place, I've been looking for a long time to a solution to UWP UI freeze issues. We are using virtualization, but we want to display a page with multiple tabs and a datagrid inside each one, a common LOB scenario that is almost impossible to implement without performance issues in UWP.

[2019-10-28 20:54] hkhmsft commented on #2044
Thanks for reaching out with your feedback. In the meantime, you'll find quicker support by consulting our developer support resources. For community assistance with development questions I recommend that you ask on our [forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](https://stackoverflow.com/questions). Otherwise,

[2019-10-28 20:54] #2044 closed, assigned to hickeys

[2019-10-28 21:24] jupagose opened #2048 "USB Printers support"
What about Stationary USB Receipt Printers, there is no update about it ?
There is no plans to support it ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5be30771-0778-ee6d-5b5f-ec931705af27
* Version Independent ID: 224b4d4c-bd10-5e81-2412-fd12d36369c4
* Content: [Point of Service Hardware Support - Windows UWP appli

[2019-10-29 00:14] nahrens opened #2049 "Workaround if you're getting "unable to open database file""
In UWP you're limited to a handful of folders for file IO (outside StorageFile anyway).  This works:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c591596-d202-244c-6fbf-31c288fe9b57
* Version Independent ID: 1473907c-0cba-8917-2fd8-d3ca1fb73cae
* Content: [Use a SQLite database in a UWP app - Windows UWP app

[2019-10-29 03:24] stevewhims commented on #1969
Hi, @someniatko, thanks for filing this issue. This feels not so much like feedback specifically about the documentation, but rather like a question/feedback/support about the product itself.

You can leave feedback about the documenation by visiting a topic and clicking **Send feedback about** \> **This page**. If instead you click **Send feedback about** \> **This product**, then you'll be taken

[2019-10-29 03:27] stevewhims commented on #1970
Hi, @benstevens48, I'll give you a link to the replacement for UserVoice. See the info in this reply about the Feedback Hub app.

This feels not so much like feedback specifically about the documentation, but rather like a question/feedback/support about the product itself. As you know, you can leave feedback about the documentation by visiting a topic and clicking **Send feedback about** \> **Thi

[2019-10-29 03:29] stevewhims commented on #1979
Hi, @ambrybenoit, thanks for filing this issue. Be aware that C++/CX is no longer current, and has been superseded by [C++/WinRT](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/index).

This feels not so much like feedback specifically about the documentation, but rather like a question/feedback/support about the product itself. You can leave feedback about the documentation by visiting

[2019-10-29 03:31] stevewhims commented on #1990
Hi, @jcteng, thanks for filing this issue.

This feels not so much like feedback specifically about the documentation, but rather like a question/feedback/support about the product itself. You can leave feedback about the documentation by visiting a topic and clicking **Send feedback about** \> **This page**. If instead you click **Send feedback about** \> **This product**, then you'll be taken to

[2019-10-29 19:16] benstevens48 commented on #1970
Ok, thanks. It wasn't really a support request or product question. I was trying to be helpful and report a bug. It would actually be useful if this bug was mentioned somewhere in the WIC documentation, e.g. on this page - https://docs.microsoft.com/en-us/windows/win32/wic/-wic-native-image-format-metadata-queries - but there is no way to give feedback on that page.

[2019-10-29 21:16] stmoy commented on #2032
@asklar - What is the specific bug? Are we referring to the wrong update? How should we fix this?

[2019-10-29 22:41] Karl-Bridge-Microsoft commented on #2048
Thanks for the feedback! However, this appears to be a product issue and not a doc bug (at this time), so please consider posting the issue at https://github.com/microsoft/microsoft-ui-xaml/issues/new/choose for the product team to track publicly.

[2019-10-29 22:41] #2048 closed, assigned to Karl-Bridge-Microsoft

[2019-10-30 03:38] asklar commented on #2032
No bug - I added the note because I didn't expect [internal] people to know what fall creators update meant, RS3/build number is easier to relate to.

[2019-10-30 05:17] madmrmax opened #2051 "Using ContentDialog in code without parented will make it not be keyboard accessible"
All the examples with ContentDialog do not support keyboard dismissal and is not accessible. You need to have the ContentDialog parented to ensure it changes keyboard focus correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3361e67d-b904-0d10-42d7-abf317fbf0ab
* Version Independent ID: 993d923a-b11a-2f4e-6751-a0

[2019-10-30 09:13] VOM7HC opened #2052 "Should be update third party tool for adapting an existing app"
Some third party support making UWP app should be added to list like:

Codename One (Java). Link: https://www.codenameone.com/manual/appendix-uwp.html
RemObject Silver (Swift). Link: https://elementscompiler.com/elements/silver/
Flutter - Future release. Link: https://github.com/flutter/flutter/issues/14967

And also official release from MS React Native. Link: https://blogs.windows.com/windowsdev

[2019-10-30 15:31] lorant-csonka-ICE commented on #205
@normesta Will this issue be ever solved? Is there any other ways to add attachments like this?

[2019-10-30 16:52] mijacobs commented on #205
Norm added this note: Attachments that you add to an email by using the EmailAttachment class will appear only in the Mail app. If users have any other mail program configured as their default mail program, the compose window will appear without the attachment. This is a known issue.

The documentation has been updated, but there's an issue with an underlying platform feature, which we consider a

[2019-10-30 17:18] jevansaks commented on #2051
This sounds like a product bug if true. Do you have a repro app that demonstrates this?

[2019-10-30 17:25] madmrmax commented on #2051
I found that it only repros when I call it from code within a PointerPressed event. I was just trying to do some "alert" styled check to figure out if my code was working, and saw that ContentDialog is the more recent way to do an alert. If I do the same code within the Tapped event it is fine.

        private async void dwtToolBox_PointerPressed(object sender, PointerRoutedEventArgs e)
        {

[2019-10-30 21:19] #1990 closed, assigned to stevewhims

[2019-10-31 15:48] someniatko commented on #1969
Thank you.

[2019-10-31 15:48] #1969 closed, assigned to stevewhims

[2019-10-31 17:15] MayMaria opened #2054 "Update submission by changing discoverability option giving certification error"
Hello,

I have submitted an application choosing the second discoverability option - Make this product available but not discoverable in the Microsoft Store, and selected 'Direct link'.

The app got submitted and we were able to access the app using direct link, without any issues.

Now i need to make the app discoverable in the store. So i updated the submission and selected the first discoverabi

[2019-10-31 17:28] jevansaks commented on #2051
Our interaction guidelines specify to act on pointer *up*, but even better would be to use the Click event (which covers all  input types) and that should work for mouse, touch, keyboard, etc.

[2019-10-31 17:28] #2051 closed, assigned to jwmsft, jevansaks

[2019-10-31 17:57] anawishnoff commented on #803
Adding onto above, `UseSquareCells` is a boolean value that allows you to set the value of the dependency property, or get the value of the dependency property - so using it in a conditional should be fine. That property name should be accessible from the XAML as well. `DependencyProperty.Register` simply initializes and adds a DependencyProperty onto a certain object type. More info [here](https:

[2019-10-31 18:01] madmrmax commented on #2051
Thanks. Image didn't have the Click event so I couldn't do that. In addition have you read the complexity in the docs of actually ensuring that your pointer released matches your pointer pressed? It seemed like overkill just to verify my calculations were accurate. I guess I could try to see if the MessageDialog UI works vs. the ContentDialog in the pressed event (again just for debugging).

[2019-10-31 18:15] jevansaks commented on #2051
Right, this is why we recommend using Button. :)

You could use Button (to get border/background) or ButtonBase (no visuals) and put an Image as the content.

[2019-10-31 18:29] madmrmax commented on #2051
Thanks. It doesn't look like ButtonBase can be used in XAML and Button has too many pre-defined visuals.  Too bad there isn't like a Click behavior (almost like a CSS style) I could apply to Image to be able to use it.

I appreciate all your comments though!

[2019-10-31 19:29] #2054 closed, assigned to nobody

[2019-10-31 21:40] stmoy commented on #2032
Cool, thanks for clarifying. Closing this since it's not a bug bug 🐛

[2019-10-31 21:40] #2032 closed, assigned to jwmsft, stmoy

[2019-10-31 22:02] jwmsft commented on #2051
If you need a button without all the visuals, you can use the built-in TextBlockButtonStyle ThemeResource.
[code]
Although it's designed for text, it works with other button content.

[2019-10-31 23:07] #1163 closed, assigned to stevewhims

[2019-10-31 23:31] hkhmsft commented on #1681
Hi GeertvanHorrik,

The GUIDs on the list are showing as "precursor" + "0000-0000-1000-8000-00805F9B34FB", which matches with the documentation guidance on the GUID naming convention. In this example, it would be "1816" + "0000-0000-1000-8000-00805F9B34FB".

Where exactly are you seeing the "00001816-0000-1000-8000-00805f9b34fb" format?

[2019-10-31 23:32] hkhmsft commented on #1702
This feels not so much like feedback specifically about the documentation, but rather like a support request. Here are all of the developer support resources, for completeness.

 - The [Feedback Hub app](https://support.microsoft.com/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app) is the right place to lobby for a change, a feature, or to make a suggestion.
 - For communi

[2019-10-31 23:32] #1702 closed, assigned to drewbatgit

[2019-10-31 23:33] hkhmsft commented on #1879
This feels not so much like feedback specifically about the documentation, but rather like a support request. Here are all of the developer support resources, for completeness.

 - The [Feedback Hub app](https://support.microsoft.com/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app) is the right place to lobby for a change, a feature, or to make a suggestion.
 - For communi

[2019-10-31 23:33] #1879 closed, assigned to lastnameholiu

[2019-10-31 23:33] hkhmsft commented on #1922
This feels not so much like feedback specifically about the documentation, but rather like a support request. Here are all of the developer support resources, for completeness.

 - The [Feedback Hub app](https://support.microsoft.com/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app) is the right place to lobby for a change, a feature, or to make a suggestion.
 - For communi

[2019-10-31 23:33] #1922 closed, assigned to mcleanbyron

[2019-10-31 23:34] hkhmsft commented on #1944
This feels not so much like feedback specifically about the documentation, but rather like a support request. Here are all of the developer support resources, for completeness.

 - The [Feedback Hub app](https://support.microsoft.com/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app) is the right place to lobby for a change, a feature, or to make a suggestion.
 - For communi

[2019-10-31 23:34] #1944 closed, assigned to hickeys

[2019-10-31 23:36] #1970 closed, assigned to stevewhims

[2019-10-31 23:36] #1979 closed, assigned to stevewhims

[2019-10-31 23:37] hkhmsft commented on #1980
This feels not so much like feedback specifically about the documentation, but rather like a support request. Here are all of the developer support resources, for completeness.

 - The [Feedback Hub app](https://support.microsoft.com/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app) is the right place to lobby for a change, a feature, or to make a suggestion.
 - For communi

[2019-10-31 23:37] #1980 closed, assigned to hickeys

[2019-10-31 23:38] hkhmsft commented on #2029
This feels not so much like feedback specifically about the documentation, but rather like a support request. Here are all of the developer support resources, for completeness.

 - The [Feedback Hub app](https://support.microsoft.com/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app) is the right place to lobby for a change, a feature, or to make a suggestion.
 - For communi

[2019-10-31 23:38] #2029 closed, assigned to mcleanbyron

[2019-10-31 23:39] #1378 closed, assigned to jwmsft, jevansaks

[2019-10-31 23:40] hkhmsft commented on #1978
Thanks so much for the suggestion, but this feels not so much like feedback specifically about the documentation, but rather like a product feedback. Here are all of the developer support resources, for completeness.

 - The [Feedback Hub app](https://support.microsoft.com/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app) is the right place to lobby for a change, a feature,

[2019-10-31 23:40] #1978 closed, assigned to lastnameholiu

[2019-10-31 23:41] hkhmsft commented on #2023
Hi justcoding121, we really appreciate that you've consistently brought this feedback to many communication channels. Unfortunately, we only handle documentation specific feedback and I'd like your suggestions to go to the right place. Follow the below links to submit it via the Feedback Hub App.

 - The [Feedback Hub app](https://support.microsoft.com/help/4021566/windows-10-send-feedback-to-micr

[2019-10-31 23:41] #2023 closed, assigned to lastnameholiu

[2019-10-31 23:43] hkhmsft commented on #2039
Thanks for reaching out and letting us know about this. This feels not so much like feedback specifically about the documentation, but rather like a support request regarding the product. Here are all of the developer support resources, for completeness.

 - The [Feedback Hub app](https://support.microsoft.com/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app) is the right p

[2019-10-31 23:43] #2039 closed, assigned to lastnameholiu

[2019-10-31 23:44] hkhmsft commented on #2042
Thanks for taking the time to let us know about this. However, this feels not so much like feedback specifically about the documentation but rather like a support request. Here are all of the developer support resources, for completeness.

 - The [Feedback Hub app](https://support.microsoft.com/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app) is the right place to lobby fo

[2019-10-31 23:44] #2042 closed, assigned to hickeys

[2019-10-31 23:44] hkhmsft commented on #2045
Thanks for taking the time to let us know about this. However, this feels not so much like feedback specifically about the documentation but rather like a support request. Here are all of the developer support resources, for completeness.

 - The [Feedback Hub app](https://support.microsoft.com/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app) is the right place to lobby fo

[2019-10-31 23:44] #2045 closed, assigned to lastnameholiu

[2019-11-01 08:26] GeertvanHorrik commented on #1681
![image](https://user-images.githubusercontent.com/1246444/68012213-b641de80-fc89-11e9-8b99-968a39a5544f.png)

[2019-11-01 13:35] PonchoPowers opened #2057 "Missing API's"
How do we add the following...

Windows.ApplicationModel
Windows.Management
Windows.Storage

See
https://github.com/cairoshell/cairoshell/issues/283
https://developercommunity.visualstudio.com/content/problem/446490/visual-studio-cant-see-winmetadatadirectory-in-cwi.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8

[2019-11-01 14:50] mcleanbyron commented on #2057
Assuming that you're trying to use APIs in these namespaces in a non-UWP desktop app, you can use one of the options provided in [this section](https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/desktop-to-uwp-enhance#set-up-your-project). The NuGet package option is the easiest.

In the forum thread you linked to, it sounds like the problem is that developers were directly referencin

[2019-11-01 14:50] #2057 closed, assigned to mcleanbyron

[2019-11-01 15:50] PonchoPowers commented on #2057
Microsoft.Windows.SDK.Contracts doesn't contain the namespaces I need access to. I did try this, and even mentioned so in the github issue I linked to this issue.

There are no docs on how to get access to the following namespaces:

 - Windows.ApplicationModel.Package
 - Windows.Management.Deployment.PackageManager

Yet your colleagues are directing us to the instructions you have linked to. It wa

[2019-11-01 16:25] PonchoPowers commented on #2057
In the following page there is a different list of namespaces:
https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/desktop-to-uwp-supported-api

And in this list, the namespaces mentioned are supported.

So either I'm doing something wrong, or the docs are wrong.

[2019-11-01 18:41] robloo commented on #1878
@jevansaks, @MikeHillberg. This also came up in making SelectedItems bindable in a future DataGrid implementation [#1500](https://github.com/microsoft/microsoft-ui-xaml/issues/1500#issuecomment-548524894). Is there any talk of fixing this platform-wide so SelectedItems is fully bindable?

[2019-11-01 23:11] mcleanbyron commented on #2057
Can you clarify what type of project you are trying to use these namespaces in and what errors you are seeing when you try to write code in those namespaces?

I just tried installing the Microsoft.Windows.SDK.Contracts NuGet package (version 10.0.18362.2005) to a basic WPF project on Windows 10 version 1903, and I was able to successfully build code that uses the Windows.ApplicationModel.Package a

[2019-11-01 23:40] jevansaks commented on #1878
It's certainly a nice-to-have, but I don't know of a formal proposal to do so.

[2019-11-02 01:21] PonchoPowers commented on #2057
I've tried it on two different computers now.

As you said, create a simple WPF app, install the NuGet package, same version mentioned, same Windows build. I end up with an error when trying to do the following:

Windows.Management.Deployment.PackageManager pman = new Windows.Management.Deployment.PackageManager();

Error	CS0234	The type or namespace name 'Management' does not exist in the namespa

[2019-11-02 15:22] JanabiSoft opened #2059 "certificates problem"
the link above: https://docs.microsoft.com/en-us/windows/msix/package/create-certificate-package-signing
show how to make a password protected certificate which is not supported by azure pipelines, how can we make password-less certificates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfd4f93a-ff30-ca5f-c45f-5e52aa5

[2019-11-02 16:46] lukeblevins opened #2060 "UWP APIs in the "Win32 API Reference" Section"
I noticed some Windows Runtime APIs are grouped under the "Win32 API Reference" section. Also, changes that appear to be for Win32 are found under "WinRT API reference."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bdb5007-8cda-76f2-6ba3-b198d7c2c9f4
* Version Independent ID: cb299507-7c92-53ee-4b45-a0ef14384f96
* C

[2019-11-02 18:02] hansmbakker opened #2061 "A link to authentication in UWP is missing"
There are several technologies that one can leverage in UWP to handle user accounts / login, like WebAccountProvider and WebAuthenticationBroker.

It would be helpful if there would be
- a link to that documentation on this page
- documentation and a sample for writing a WebAccountProvider (https://github.com/MicrosoftDocs/windows-uwp/issues/671)

---
#### Documentdetails

⚠ *Dit gedeelte niet bew

[2019-11-03 12:57] Retne opened #2062 "How do I..."
Hi there.
It would be great to continue this with a link for the Adobe XD resources available for a non-UWP app (i.e. desktop). Thanks

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7489a614-ddc3-d1ff-5ffd-b6d4228d9079
* Version Independent ID: 99b83fb8-3491-95eb-b4e1-ba326f82d784
* Content: [Design toolkits and sample

[2019-11-04 12:13] #1555 closed, assigned to stevewhims

[2019-11-04 19:03] mcleanbyron commented on #2057
If you go to the Installed tab of NuGet Package Manager, can you confirm that the Microsoft.Windows.SDK.Contracts package is installed successfully? If you can share your project on GitHub, I'd be happy to take a look and try building it myself.

I just tried the steps in a WPF project again (both full .NET Framework and .NET Core) and was able to compile your exact code.

[2019-11-04 19:17] hickeys commented on #2034
This is true, but from the article: "OEMs are free to configure the behavior differently, but most are close to this chart." I think it makes sense to leave each state on a separate line to emphasize that, though the defaults are the same, they are technically different states and could potentially behave differently.

I'm open to good reasons why those rows should be collapsed into a single row.

[2019-11-05 01:37] LucaLindholm commented on #1673
You can find some color algorithms in the _Fluent XAML Theme Editor_ in the Windows Store, made by Microsoft itself to help to customize app theme colors at once...

`https://www.microsoft.com/store/productId/9N2XD3Q8X57C`

...and in particular into it's source code:

`https://github.com/Microsoft/fluent-xaml-theme-editor`

Best regards

[2019-11-05 01:56] jiangxincode opened #2066 "Seek for help for problems about bluetooth ble!"
When i use the interface about bluetooth ble, there are some problems:
https://docs.microsoft.com/en-us/uwp/api/windows.devices.bluetooth.advertisement

1. When I invoke publisher.start, i must wait many seconds before windows really sends the bluetooth broadcast
2. Everytime i invoke publisher.start, the mac address will be changed.
I konw this repo is only for docs of winrt-api, but i can not fi

[2019-11-05 17:42] mcleanbyron commented on #2049
Thanks for your input. We have revised the code examples in this article to account for this behavior.

[2019-11-05 17:42] #2049 closed, assigned to lastnameholiu

[2019-11-05 17:56] PonchoPowers commented on #2057
It is installed successfully.

I downloaded a project from some Microsoft samples and it built ok, I compared it with my project and I can see the difference.

The problem is that when using NuGet, it adds the following into the project file...

[code]
And for the project that I downloaded, the project file looks like so:

[code]

I'm not sure why this is, but at least I know now where to start tr

[2019-11-05 23:33] Karl-Bridge-Microsoft commented on #2066
Thanks for the feedback! However, this appears to be a product issue and not a doc bug (at this time), so please consider posting the issue at https://github.com/microsoft/microsoft-ui-xaml/issues/new/choose for the product team to track publicly.

[2019-11-05 23:33] #2066 closed, assigned to Karl-Bridge-Microsoft

[2019-11-06 01:18] jiangxincode commented on #2066
Maybe this problem is not belonged to a UI team? it is an UWP interface about bluetooth

[2019-11-06 01:44] michael-hawker opened #2069 "Example sources use inconsistent and confusing naming"
There are two separate things that are discussed for configuration video playback `MediaPlayerElement` and its `MediaPlayer` property.  The sample code inconsistently names things as short hand of `mpe` or `mediaPlayer` when referring to the actual `mediaPlayerElement` instance, this is confusing as some things need to use `mediaPlayerElement.MediaPlayer` instead.

The samples should be cleaned up

[2019-11-06 16:26] LanceMcCarthy opened #2070 "Step #3 Doesn't Work - Instructions Update Required"
After RS4 (SDK 16299), the breakpoint in the RuntimeComponent will not be hit. This is a known regression.

There is a workaround available, I will step through these in details in a follow up reply below.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a1bd8a3-fcbd-16cf-e549-e23e628a07b5
* Version Independent ID: 7436

[2019-11-06 16:39] LanceMcCarthy commented on #2070
## Workaround

1. In the UpdateTask class, add a conditional compilation block for DEBUG.
2. Programmatically invoke the Debugger using Debugger.Launch()

[code]

At runtime, a Just-In-Time Debugger dialog window will open, allowing you to select a Visual Studio instance to debug with:

![image](https://user-images.githubusercontent.com/3520532/68317659-8596e600-0089-11ea-8ea1-5cc2edcf9a13.png)

A

[2019-11-06 17:22] Karl-Bridge-Microsoft commented on #2066
Sorry @jiangxincode, you're right. Probably not the best resource.

Here's a selection of developer support resources that might be able to help with your issue.

The [Feedback Hub app](https://support.microsoft.com/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app) is the right place to lobby for a change, a feature, or to make a suggestion.
For community assistance with de

[2019-11-07 04:31] uecasm commented on #2035
Presumably, in the second paragraph where it says "1-6 byte variable-width encoding", they thought it should say "1-6 bytes variable-width encoding" instead.  However I believe that the former is technically more correct, although as usual I don't think there's any formal rule on the subject so either is probably acceptable.

[2019-11-07 07:03] Cassienka commented on #2042
I'm having the exact same issues and NOTHING is working. I cannot seem to reach ANYONE about this particular issue. It's incredibly frustrating!

[2019-11-07 10:25] wronso commented on #2035
I suppose you are trying to say the biggest code point of Unicode only takes 4 bytes. "1-6 byte variable-width" is technically correct to me because the UTF-8 specification says so. Perhaps, we may rephrase the whole paragraph.

[2019-11-07 10:44] MarkSmall-AV commented on #2042
I got mine fixed.  I had to use the full zip code not just the first 5 numbers

[2019-11-07 13:12] Cassienka commented on #2042
I tried that and it's still not working. I even checked my bank paperwork
and matched everything exactly. It's still reading an error

On Thu, Nov 7, 2019, 4:44 AM MarkSmall-AV <notifications@github.com> wrote:

[2019-11-07 15:07] gilebert commented on #1824
Thanks for this info.  Useful to know.

[2019-11-07 16:10] marcelwgn opened #2072 "Full list of brushes"
This page seems to be the only list of brushes provided by the system (as far as I know), however this list is far from being complete. If one looks at the list of brushes provided by Visual Studio's code completion, there are a lot of brushes missing.

 For example there are multiple lighter/darker variations of the accent color, however those are only mentioned [here](https://docs.microsoft.com/

[2019-11-07 17:10] Karl-Bridge-Microsoft commented on #2035
Thanks for the feedback! I've updated the topic with additional detail that I hope clears things up. Please re-open the issue, if not.

[2019-11-07 17:10] #2035 closed, assigned to Karl-Bridge-Microsoft

[2019-11-07 21:40] hickeys commented on #1993
Thanks @carlbherbert for creating this issue. I'm happy to take a look, but I need some more information. Can you explain what steps you've taken so far and include a screenshot of the place where the button should be but is not?

Thanks,
Shawn

[2019-11-07 21:42] hickeys commented on #2006
I'm not sure exactly what you would like to do with Segoe MDL2, but perhaps [this page](https://docs.microsoft.com/en-us/typography/fonts/font-faq) would give you the information you need.

https://docs.microsoft.com/en-us/typography/fonts/font-faq

[2019-11-07 22:30] jevansAN opened #2073 "Update for VS 2019?"
Solution Explorer in VS2019 appears not to include a References in the Project (for UWP) so it's not clear how to add a reference as described above.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a031039-0b18-5af9-061a-e17e5916150f
* Version Independent ID: aee13544-1ef8-08b2-d732-f71b237cc8a8
* Content: [MIDI - Wind

[2019-11-07 22:56] carlbherbert commented on #1993
![image](https://user-images.githubusercontent.com/53716161/68434778-8ce2fe80-0205-11ea-9e7b-b1362a8e87bf.png)
see attached.

[2019-11-07 22:57] carlbherbert commented on #1993
can someone show me a screenshot of how to create a targeted offer?

[2019-11-08 13:17] mrsupaplex commented on #2040
its just the xbox server being unstable.
keep getting errors when trying to upload a package with chrome.

[2019-11-08 16:40] marcelwgn commented on #2006
I am thinking about applications that use the icons as resources to use e.g. as an icon creator or an app to combinate and overly multiple Segoe MDL2 Assets icons (as outlined [here](https://docs.microsoft.com/en-us/windows/uwp/design/style/segoe-ui-symbol-font#layering-and-mirroring)). Is it allowed to export those, and if so in which format?

[2019-11-08 18:56] QuinnRadich commented on #2030
As this issue was raised without and accompanying page, it's difficult for me to help. Is there a certain docs page you had in mind when writing this?

[2019-11-08 18:58] #1802 closed, assigned to QuinnRadich

[2019-11-08 18:58] QuinnRadich commented on #1802
Clarifying remarks have been added to this topic.

[2019-11-08 19:01] QuinnRadich commented on #1696
Agreed with the previous comment. This is a cached output issue that we don't have direct control over. I've raised this issue to the docs engineering team, but for the time being I'm going to close this issue as it's sadly out of our hands.

Thank you.

[2019-11-08 19:01] #1696 closed, assigned to QuinnRadich

[2019-11-08 19:27] jevansaks commented on #2069
@Austin-lamb who owns these doc pages?

[2019-11-09 13:36] Kumara-Krishnan opened #2075 "Half of the snippets are shown in javascript and the rest in C#"
Please add option to choose the language for the snippets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0be69d7e-349a-eddc-6cfa-115c2714bc3e
* Version Independent ID: 71ba81db-c429-133a-50b3-060fab53c2e6
* Content: [Background transfers - Windows UWP applications](https://docs.microsoft.com/en-us/windows/uwp/networki

[2019-11-09 17:14] davidbaberowski commented on #2059
you can use a password protected certificate under VS2019 with azure, but you have to install it to the certificate store of the VM. you can do this with a powershell script

for a detailed sample have a look here: https://damienaicheh.github.io/uwp/azure/devops/appcenter/2019/09/18/install-pfx-certificate-of-your-uwp-application-on-your-azure-devops-en.html

[2019-11-10 07:17] JanabiSoft commented on #2059
@dizzelowski thanks, I will try it and let you know.

[2019-11-11 20:26] drewbatgit commented on #2073
Hello, thanks for your feedback. I just tried to reproduce your issue. I installed VS 2019 (Professional Edition) and created a new C# UWP project. I do see a References node in Solution Explorer, and I was able to add the Microsoft General MIDI DLS for Universal Windows Apps extension to my app. It sounds like perhaps you have an installation issue either with Visual Studio or with the Windows SD

[2019-11-11 20:26] #2073 closed, assigned to drewbatgit

[2019-11-12 00:41] stevewhims commented on #2075
Hi, @Kumara-Krishnan, thanks for filing this issue. I'll need to put this work item onto my backlog and get to it in due course. I realize that, ideally, we'd provide every snippet in both languages, but if you could have all the snippets in JavaScript OR all of the snippets in C#, do you have a preference for which one?

Thanks!
~Steve

[2019-11-12 06:52] tqk2811 opened #2076 "build idl?"
When i add empty(default) idl file, build success (no file generated)
When i add sample code to idl file, build **project** or **rclick idl > complie** same error midl 2011.
But in *.h of this sample (and some sample project)  they include *.g.h from folder /Generated Files/

Then how i can get generated file/build idl?
Thank

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-11-12 10:00] Holo-Krzysztof opened #2077 "Show how to bind to an IObservableMap with C++/WinRT"
I'm having trouble binding to an `IObservableMap` instead of an `IObservableVector`, which works fine.

Binding to a single element of the map with indexer syntax in XAML works fine as well, but when I try to bind to the entire collection, I get `HRESULT: 0x80070057 (E_INVALIDARG)` when the `ItemsSource` property is set on load.

The documentation is contradictory here; the `ItemsSource` [property

[2019-11-12 18:00] kikisaints commented on #2072
Hey there! In generic.xaml we support three different kinds of theming through these types of resources:

- SystemColors
- SystemBrushes
- ControlThemeBrushes

So to make sure I understand what you're asking here - When you say the "full list", do you mean:

All the systembrushes as well as systemcolor accent variations **or** are the entire list of all color-related resources we have in generic.x

[2019-11-12 18:15] kikisaints commented on #1881
@MarcAnt01 As you've stated in the title, this control is custom and therefore there is no standard way to document it.

I would suggest that you file an issue here: https://github.com/microsoft/windows-universal-samples

Where they might be able to make a sample that you can use in your app.

[2019-11-12 21:17] marcelwgn commented on #2072
I think both SystemColors and SystemBrushes would be helpful, since that are resources that developers could need.

By ControlThemeBrushes we mean resources such as `ButtonForeground` right?😅
In that case, I don't think that it is that common for a developer to rely on the colors used by components. Especially since there would be quite ALOT of those brushes, so it might be a bit overwhelming. But

[2019-11-12 23:34] kikisaints commented on #2072
Cool! Okay I just wanted to make sure I understood what you were thinking. In that case, I feel it's more do-able... you're right there are a ton of ControlThemeBrushes (like 1k+) but system brushes and colors would only be about 150-200? So more manageable.

[2019-11-12 23:37] marcelwgn commented on #2072
Is there a way I could help with that, except trying to find them in the auto completion from Visual Studio? 😊

[2019-11-12 23:46] kikisaints commented on #2072
It's not hard, just scanning the generic.xaml file at the top for the big list of all the systembrushes.

That being said, all of the systembrushes' colors map to the system colors. So in actuality there are only about 24-26 "real" colors used in the system. Would it still be useful to have those documented?

For instance, would you get value out of these being documented? (and sorry for the dump)

[2019-11-13 00:04] marcelwgn commented on #2072
I see. Yes I think it would be good to have them mentioned/documented. Especially the fact that there is an AcrylicBrush in the system resources.

The question I have right now is, why there are so many different brushes if they all fall back to just 25ish colors? Is this for easier styling purposes?

On a different note: Would it make sense to provide guidance on which brush to use (especially wh

[2019-11-13 01:58] fwrq41251 opened #2078 "certificate url not available"
https://go.microsoft.com/fwlink/p/?linkid=246509&cid=CertificateId
this url is not available since 2019/11/11

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58237b3e-0baa-92c4-caa7-023be22ccf40
* Version Independent ID: ef2f5a25-f75d-f62d-b52f-c18c72e8540b
* Content: [Use receipts to verify product purchases - Windows

[2019-11-13 07:04] tqk2811 commented on #2076
[code]

Build success (got "generated files")

But seem like BackgroundTask no need *.idl
https://github.com/microsoft/Windows-universal-samples/tree/master/Samples/BackgroundTask

[2019-11-13 07:04] #2076 closed, assigned to lastnameholiu

[2019-11-13 08:25] mdtauk commented on #2072
You have the system colours provided by Windows which includes accent colour, shades of that colour, as well as the same kind of colours that win forms is given.

Then in the WinUI Call, there are a list of brushes which are named contextually and are used to map the system provided colours to the brushes.

Then the layer below that is the light styling Xaml brushes.  These are contextually scoped

[2019-11-13 15:42] Kumara-Krishnan commented on #2075
I would like to see all the snippets in C#.

[2019-11-14 03:22] ShuhjiKaya opened #2079 "他人がここを見た履歴が出た"
このページを見ていた時、このフィードバック書き込みのあるあたりに誰誰が閲覧したの履歴が出てその誰誰のリンクをクリックするとGitHubのページに飛びました
多分GitHubのアカウントのある人間がここを見たデータをとっているのはいいのですが、それが外部の人間にも見れる状態になっていると思います

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 8731a612-b63e-55c4-b7d7-58c9e4b92448
* Version Independent ID: 1fc9f5e5-2b51-0b59-2419-ae428d98d737
* Content: [アプリのストア登録情報の作成 - Windows UWP applications](ht

[2019-11-14 04:03] jtg-gg commented on #1573
any official sample code to handle D3D device removed / lost during window capture ?
TryGetNextFrame is currently throwing an exception, I am wondering how to properly handle this
currently I can't catch the exception, hence it is just crashing, no way to recover from the exception

here is the log:

D3D11: Removing Device.
Exception thrown at 0x76C33572 (KernelBase.dll) in .exe: WinRT originate e

[2019-11-14 08:52] Code-ScottLe opened #2080 "Out of date info on referencing the .winmd"
Under Create a Core App section, there is a mention about this path: `\BankAccountWRC\Debug\BankAccountWRC\BankAccountWRC.winmd` , however, the latest version of VS 2019 is not giving any winmd files under such path (there is no BankAccountWRC folder under the debug folder).

![image](https://user-images.githubusercontent.com/10987612/68841142-ec636300-0678-11ea-8af7-8e91e00e00de.png)

There are 2

[2019-11-14 13:39] sharpninja commented on #1673
[https://github.com/Microsoft/fluent-xaml-theme-editor[(https://github.com/Microsoft/fluent-xaml-theme-editor)

[2019-11-14 13:45] MattRibeiro commented on #1738
I do not see where this is documented? It is an important design limitation - as would any other case where the screen capture API fails (i.e. is designed to fail) to capture the screen.

[2019-11-14 17:03] marcpems opened #2081 "ImageUri doc is incomplete"
ImageUri does not define the bounds or colour space for the image.
No other documentation provides this information either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b41740ef-87bc-0eb4-214a-2f847b9ad948
* Version Independent ID: 8b90529d-f872-a6a3-1089-c317dee5c005
* Content: [Toast content XML schema - Windows UW

[2019-11-15 00:39] hkhmsft commented on #2079
Hello @ShuhjiKaya , Thanks for submitting your feedback. You might be seeing the list of authors, which does point to the GitHub page for the article. Let us know if you are referring to something else and if we can address this.

こんにちは@ShuhjiKaya、フィードバックをお送りいただきありがとうございます。記事のGitHubページを指している著者のリストが表示されている場合があります。あなたが他の何かを参照している場合、そしてこれに対処できるかどうかをお知らせください。

[2019-11-15 04:11] harvinders opened #2083 "Give examples for the design techniques"
It would be great if the design animation are also supported by examples (XAML/code).
Say for reposition example, reference to [TwoPaneView](https://docs.microsoft.com/en-us/uwp/api/microsoft.ui.xaml.controls.twopaneview?view=winui-2.2) should be provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa06ba4d-5e4f-fe

[2019-11-15 07:44] singhwong opened #2084 "Remove folder issue from video library"
`bool result = await myPictures.RequestRemoveFolderAsync(folder);`
The following exceptions occasionally occur when deleting a folder from a video library using the
code above.
[System.Exception:The remote procedure call failed.(Exception from HRESULT: 0x800706BE)
at Windows.Storage.StorageLibrary.RequestRemoveFolderAsync(StorageFolder folder)].

Because this exception does not occur every time, I

[2019-11-15 09:39] Dmferret-code opened #2085 "I feel its not quite complete."
As a complete newcomer I followed this excellent guide and was able to fully understand it; but for me it fell short of completion. My whole object of doing this was to end up with an app that I could transfer to any windows device and run it. At the point where this guide ends I have a .exe file but it will not run on another PC it will only run within VS. I have finally discovered that what I ne

[2019-11-15 19:28] jevansaks commented on #2083
@chigy do you know who owns this?

[2019-11-17 12:08] SaschaIoT opened #2087 "UWP Set ContainerEncodingProperties.Subtype to "MPEG2TS" causes exception (MPEG-DASH Video Live Stream)"
[ContainerEncodingProperties.Subtype](https://docs.microsoft.com/en-us/uwp/api/windows.media.mediaproperties.containerencodingproperties.subtype#Windows_Media_MediaProperties_ContainerEncodingProperties_Subtype) supports "MPEG2TS" video container.

Windows 10 and UWP Apps supports H.264 encoding with "MPEG2TS" video container. [Supported codecs - UWP](https://docs.microsoft.com/en-US/windows/uwp/a

[2019-11-17 13:09] SaschaIoT commented on #2087
Closed because is duplicate (I added separate issue directly in docs):
[Docs](https://docs.microsoft.com/en-us/uwp/api/windows.media.mediaproperties.containerencodingproperties.subtype#Windows_Media_MediaProperties_ContainerEncodingProperties_Subtype)
[GitHub Issue](https://github.com/MicrosoftDocs/winrt-api/issues/1323)

[2019-11-17 13:09] #2087 closed, assigned to nobody

[2019-11-17 13:50] mfe- opened #2088 "How integrate uwp app into context menu of windows explorer for jpg?"
Short:
This is a feature request for UWP apps.

- Please make it possible when the app is not the default for the associated file type to allow context menu entries in windows explorer as well.

Please upvote here too: https://aka.ms/AA6rmrk and https://docs.microsoft.com/answers/questions/10732/how-resize-a-batch-of-pictures-just-by-marking-the.html

Long:
I repost this because UWP uservoice is c

[2019-11-17 21:25] ShinraCorpMixer commented on #1939
I took a quick look around the Windows 10 SDK (the latest one anyway) and there's nothing mentioning about Windows 10 Mobile. Just says to develop for Windows 10 with Win32 or UWP. But that shouldn't really stop it from developing for mobile (ARM) I know that the Windows 10 Mobile store will cease to function someday as the OS is at the EoL however so people would need to side-load apps if they wa

[2019-11-18 09:47] pducolin opened #2090 "Could not find a recipe file for the reference d UWP application on desktop bridge package"
We recently added a desktop bridge app to our UWP solution, having an UWP package as target containing the original UWP app and the Win32 app as applications. Since then, we could not build our app from command line, so on the CI. The error we get is `Could not find a recipe file for the referenced UWP application at ''. Please build the project`. I tried [this workaround](https://stackoverflow.co

[2019-11-18 16:57] CpBobette opened #2091 "Using Grids with Images"
Images do not seem to render when inside a grid. The images will show up in the editor but not at runtime.
Using an image in a RelativePanel or on its own will work.
I am using the latest VS19 SDK.

   '''
 &lt;Grid x:Name="Grid" HorizontalAlignment="Center" Height="1060" VerticalAlignment="Center" Width="1900"&gt;
        &lt;Image x:Name="Viewer" HorizontalAlignment="Left" Height="712" Margin="1

[2019-11-19 02:01] DSBloom opened #2093 "Error when trying to Debug."
I am following these instructions to try and package up my .NET Framework (not core) WPF application. I am getting the following error when I attempt to debug:

`MSB3779	The processor architecture of the project being built "Any CPU" is not supported by the referenced SDK "Microsoft.VCLibs, Version=14.0". Please consider changing the targeted processor architecture of your project (in Visual Studi