[2018-05-18 19:48] eliotcowley commented on #586
Hi @Airborne76, which version of Windows 10 are you using for development? Unfortunately, the screen capture APIs currently only work on Windows 10 Pro/Enterprise. However, in a future update, they should also work on Windows 10 Home.

[2018-05-18 21:20] pixartist opened #588 "URI missing for April Update"
This reference is missing the URI for App-Specific Audio Settings from the April Update

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6a2ae18-080e-3470-d1c7-ab2990d4da85
* Version Independent ID: 3d0d02af-c1d7-e2e7-ba01-15e0904dc9a6
* Content: [Launch the Windows Settings app - UWP app developer](https://docs.microso

[2018-05-19 04:07] ychsue commented on #586
This is a very nice functionality so that I added it to my App once 1803 is released.
 However, I am facing a problem that my App will crash when the user navigates to the usercontrol with the namespace  Windows.Graphics.Capture when their version is lower than 1803.
Now, it is not the problem of GraphicsCaptureSession.IsSupported() but lack of the namespace for the older version of Windows 10 and

[2018-05-19 07:34] Airborne76 commented on #586
Hi @eliotcowley Got it. My vseion is Windows10 Home. Thanks for your information.

[2018-05-19 07:55] JEB174 opened #589 "hjkhgf"
asdfgh

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 278d1d4a-391f-3008-e6f6-910be06cd370
* Version Independent ID: 82b6edb4-a6e6-c2f4-d19f-2b274734175b
* Content: [Create a developer account - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/get-started/sign-up)
* Content Source: [windows-apps-src/get-

[2018-05-19 10:17] ychsue commented on #586
I'm not sure whether the method shown below is work.

I have moved all the part related to the namespace Windows.Graphics.Capture into a provider class and then use

IsSupported = ApiInformation.IsTypePresent("Windows.Graphics.Capture.GraphicsCaptureItem");

to check whether I should create that provider object for this screen capture picker.

Although it works on my PC, I am not sure if it worked

[2018-05-19 13:41] robloo opened #590 "TreeView.SelectedNodes causes System.AccessViolationException"
Accessing a TreeView's SelectedNodes or SelectedNodes.Count property can catastrophically fail bringing down the app and even the debugger. The TreeView has no root nodes and SelectionMode=Single when the crash happens.

System.AccessViolationException
  HResult=0x80004003
  Message=Attempted to read or write protected memory. This is often an indication that other memory is corrupt.
  Source=<Can

[2018-05-20 11:59] eowarren625 opened #592 "Sql Connection fails."
Carefully followed step by step but when executed fails when trying to make the sql server connection with the esql = null.
Note: the document could be improved by adding which file belongs to which code snippet and/or provide a working solution for download.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7f63491-26ec

[2018-05-20 12:24] AdamDavidHill commented on #535
"Learn about navigation" link also broken.

[2018-05-20 16:15] maxal1917 opened #594 "April's windows update broke working code"
Using MVVM pattern, I created menu items using MenuItemSource property. In my "ItemInvoked" event handler I have this code:
            if (args.IsSettingsInvoked)
            {
                var vm = DataContext as AppShellViewModel;
                if (vm != null)
                    vm.SettingsClicked();
            }
            else
            {
                var s = Convert.ToString(arg

[2018-05-20 16:24] maxal1917 commented on #594
I fixed it be going directly to ViewModel instead of sender.MenuItems. But want to bring your attention that this code is broken. And Ideally, I would want to just see same support for Commands that exists everywhere else (like Buttons). Menu Items should have property Command that would be used without me handling ItemInvoked event.

[2018-05-21 04:40] lukeblevins opened #595 "Specify SDK Version"
Please state which SDK version/Windows Build these changes are available in, if applicable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95e5b22d-e803-5c0a-3e82-d08f59919ac5
* Version Independent ID: 85cb8283-4d80-b519-a03b-f3efab4f6d75
* Content: [Host UWP controls in WPF and Windows Forms applications - UWP app dev

[2018-05-21 13:41] NicolasG3 opened #597 "Zoom In view Must define GroupStyle"
It should be stated that Zoom In/Out relation rely on GroupStyle definition in Zoom In view.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1ec0c3a-902b-1d66-67ce-d9ae831dc6c6
* Version Independent ID: 20926a92-1e40-689e-bee3-a6b341afebf5
* Content: [Semantic zoom - UWP app developer](https://docs.microsoft.com/en-us/

[2018-05-21 14:57] ginami commented on #589
Hi @JEB174--let us know if you have any page-specific feedback. Thanks!

[2018-05-21 14:57] #589 closed, assigned to nobody

[2018-05-21 15:19] touseefbsb commented on #479
@ginami , @drewbatgit  any update on this? is this issue being investigated? or can we expect it to be implemented?

[2018-05-21 17:49] eliotcowley commented on #586
Hi @ychsue, because the Windows.Graphics.Capture APIs require Windows 10, version 1803, they will not work on a device that has a Windows 10 build that is lower than that. The method you described should work, however. Check out [this article](https://docs.microsoft.com/windows/uwp/debug-test-perf/version-adaptive-apps) for more info on writing code that adapts to the device's Windows 10 version.

[2018-05-21 17:49] #586 closed, assigned to eliotcowley

[2018-05-21 18:11] drewbatgit commented on #479
The feature teams use customer feedback when they plan updates to the platform, but we don't discuss plans for future releases publicly. I will forward your request on to the team.

[2018-05-21 18:11] #479 closed, assigned to drewbatgit

[2018-05-21 18:34] ngducnghia opened #599 "Misleading information about getting CurrentItemIndex"
Above stated: "You may want to periodically check for the currently playing item in order to update your UI. Be sure to check the CurrentBreak property for null first. If the property is null, no media break is currently playing."
However I find that I can register to MediaPlayer.BreakManager.CurrentBreak.PlaybackList.CurrentItemChanged event to get notified. Can anyone confirm if we should "perio

[2018-05-21 22:33] jwmsft commented on #477
Fixed. Thanks for reporting the error.

[2018-05-21 22:33] #477 closed, assigned to jwmsft

[2018-05-21 22:35] #450 closed, assigned to jwmsft

[2018-05-22 00:31] #558 closed, assigned to laurenhughes

[2018-05-22 00:32] kevin-jing commented on #558
resolved.

[2018-05-22 11:33] pedrolamas commented on #576
Seems that [Windows Phone Silverlight to UWP API mappings](https://docs.microsoft.com/en-us/windows/uwp/porting/wpsl-to-uwp-namespace-and-class-mappings) also suffers from this issue, but [the original](https://github.com/MicrosoftDocs/windows-uwp/blob/docs/windows-apps-src/porting/wpsl-to-uwp-namespace-and-class-mappings.md) is working fine here in GitHub.

[2018-05-22 18:13] AdityaSaurabhbxr opened #601 "Verification Status is rejected how to resolve this"
In my developer account i am trying a lot but not finding any place for easy option to resolve this If you can help me with this please Help ASAP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726a5c98-ba0b-38a0-d86e-2d5df4745d1a
* Version Independent ID: 643673cc-0b57-86f6-e00d-13aad2ef8d20
* Content: [Opening a devel

[2018-05-22 18:40] JnHs commented on #601
You'll need to contact support to resolve this. Please open a request at https://developer.microsoft.com/windows/support.

[2018-05-22 18:40] #601 closed, assigned to nobody

[2018-05-23 03:07] neonguru opened #603 "Sign up link broken"
http://go.microsoft.com/fwlink/p/?LinkId=615100

That link does not work and is given in many places to sign up for a developer account.
You're not getting sign ups this way...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 278d1d4a-391f-3008-e6f6-910be06cd370
* Version Independent ID: 82b6edb4-a6e6-c2f4-d19f-2b2747341

[2018-05-23 10:25] JohnnyWestlake opened #604 "Would be helpful to gets some notes on the lifecycle of MediaPlayerSurface"
We can call GetSurface on a MediaPlayer to get a composition surface, but there's no notes on it's lifecycle or how to handle it. Does it dispose itself? Should we dispose it? Is it attached to the player as a whole? Or only valid when the player actually has visual output (i.e, disposes itself when Player.Source is null?)

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-05-23 12:50] gaotian1710 opened #605 "Can I use Windows::Storage::Streams::Buffer from classic desktop apps?"
I wrote codes equivalent to the c++/cx sample shown above and compiled successfully. But I could not link.
How can I link it? My codes are shown below. I appreciate the c++/WinRT feature allowing classic desktop to call the UWP APIs.

// main.cpp : Defines the entry point for the console application.
//

#include "pch.h"

using namespace winrt;

byte* GetBufferData(winrt::Windows::Storage::Streams

[2018-05-23 19:00] QuinnRadich commented on #603
Thank you for the heads-up.

The redirect to the proper sign-up endpoint seems to be unreliable now. I'm investigating the cause, but for the time being I'd advise you to try the link a couple times until it works.

Edit: The redirect issue has been solved, and the sign up link should now work normally.

[2018-05-23 19:26] #603 closed, assigned to QuinnRadich

[2018-05-23 19:30] normesta commented on #595
Thanks! The XAML Island host control hasn't released yet. The only thing available now is the WebView control which you can by downloading the Microsoft.Toolkit.Uwp.UI.Controls Nuget package. See this page of the Windows Community Toolkit - https://docs.microsoft.com/en-us/windows/uwpcommunitytoolkit/nuget-packages. When we have something available in the SDK, we will most certainly put the requir

[2018-05-23 19:30] #595 closed, assigned to normesta

[2018-05-24 06:57] pandabossli opened #608 "用户购买完成，服务商需要提供相应的服务。我们的服务端是php+nginx提供服务的。请问能提供一份完整的验证案例或者参数校验方法"
用户购买完成，服务商需要提供相应的服务。我们的服务端是php+nginx提供服务的。请问能提供一份完整的验证案例或者参数校验方法

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3e9fb24-0359-5824-4b80-48f3a043399a
* Version Independent ID: 0ba57848-651a-c8d1-8171-57d802492258
* Content: [Simplify payments with the Payment Request API - UWP app developer](https://docs.microsoft.com/e

[2018-05-24 10:00] DavidMhluzi opened #609 "UWP .appinstaller - “Error in parsing the app package.”"
I get the "Error in parsing the app package" any idea what I could be doing wrong? below is my appinstaller

<?xml version="1.0" encoding="utf-8"?>
<AppInstaller
    xmlns="http://schemas.microsoft.com/appx/appinstaller/2017"
    Version="1.0.0.0"
    Uri="http://mywebservice.azurewebsites.net/APP_UWP.appinstaller" >

    <MainBundle
        Name="MainApp"
        Publisher="CN=EGSolutions"

[2018-05-24 11:10] rafaP opened #610 "Unity UWP connection to SQL Server Hololens"
How do i use System.Data.SQLClient in Hololens, from a project in Unity?

It work fine in unity editor but it's not working in Hololens.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 470286a7-904e-2767-503b-4e6b987a103d
* Version Independent ID: 47a87779-9715-c08f-39d2-fe0566398d78
* Content: [Missing .NET APIs in Uni

[2018-05-24 11:32] SilverSilence opened #611 "IsAccessKeyScope usage"
It wasn't entirely clear to me that the element with IsAccessKeyScope set to true actually needs an access key. I thought that as long as the focus is within the container, all access keys within that container have precedence and work. Speaking of which, is there a way to achieve this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-05-24 12:09] Airborne76 opened #612 "How to convert captured bitmaps to video stream or file?"
I followed the sample codes, in `ProcessFrame(Direct3D11CaptureFrame frame)` function, got `CanvasBitmap`, drew it on screen, everything worked fine. Then I tried to use `MediaClip` convert them to a mp4 video, but the video seems only got the first and the last frame.
<br>
[Captured video](https://github.com/Airborne76/privacyterm/blob/master/RenderedComposition.mp4?raw=true)
<br>
Did other frame

[2018-05-24 18:16] reflectronic opened #613 "Rewrite article to use C++/WinRT"
I think that would leave a better impression on interested C++ developers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 592392b3-226e-4277-4ed3-7f8789ab93de
* Version Independent ID: dc387625-6acb-52bb-ea7e-020af9913d80
* Content: [Create a Hello World app in C++ (Windows 10) - UWP app developer](https://docs.microsof

[2018-05-24 18:46] beatnikthedan opened #614 "Using DataTemplateSelector"
I tried modifying the Item datatemplate like it outlines in the [code example](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/tree-view) which works fine but I need to use a datatemplateselector to change the datatemplate per node since each node is a different object...

It doesn't seem to work because the real datacontext needs to be "Content" not "TreeviewNode".

Can

[2018-05-24 19:07] beatnikthedan opened #615 "Using DataTemplateSelector"
I tried modifying the Item datatemplate like it outlines in the code example which works fine but I need to use a datatemplateselector to change the datatemplate per node since each node is a different object...
It doesn't seem to work because the real datacontext needs to be "Content" not "TreeviewNode".
It also passes  null to the Object param of the datatemplateselector.
Can you show an example

[2018-05-24 19:08] beatnikthedan commented on #615
filled this out from here and from MS documentation site so this is redundant, sorry

[2018-05-24 19:09] beatnikthedan commented on #614
Left same comment on Microsoft documentation so this is now redundant. Sorry

[2018-05-24 19:09] #614 closed, assigned to nobody

[2018-05-24 21:11] kevinb67 opened #616 "Implement Navigation Between Pages"
You may want to change this instruction to include exactly where to put the tags within Page1.xaml and Page2.xaml and the code within the Page1xaml.cs and Page2.xaml.cs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be10565a-f999-569f-3314-f1691cfa3d6f
* Version Independent ID: 3e862b52-b135-e9af-5c13-424002f038d8
* C

[2018-05-25 16:23] naruto0089 commented on #609
I'm facing the same issue "Error in Parsing the app package."

[2018-05-25 20:39] roxken opened #617 "animated gif is problematic"
It's huge, it's not necessary, it has accessibility issues. A guideline page should be a showcase for best practices. Can we lose the gif?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98e70766-0aac-ef17-92fc-12af68e1e860
* Version Independent ID: bd7b93dc-9817-dc31-c2b6-1a554ffea7e3
* Content: [Writing style - UWP ap

[2018-05-26 01:58] raksha-git opened #618 "Uninstall API not working as it should"
The rest call for uninstalling an app does not work. Also, it would be great if the API doc is updated with code examples.

DELETE |  /api/app/packagemanager/package

[2018-05-26 15:47] Vijay-Nirmal opened #619 "Drag and drop link is broken"
The link should be https://docs.microsoft.com/en-us/windows/uwp/design/input/drag-and-drop instead of https://msdn.microsoft.com/windows/uwp/app-to-app/drag-and-drop

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56871f82-c1f1-f0c7-2a6c-e52b1e555169
* Version Independent ID: 33382558-8133-ffcd-6ed5-e5da44b417de
* Conte

[2018-05-27 08:58] mfe- commented on #574
Are you looking for something like: `targetStorageFolder = await StorageFolder.GetFolderFromPathAsync(Path.GetDirectoryName("c:\"));` ? FileSavePicker and FileOpenPicker doesn't provide an api for a custom SuggestedStartLocation. Upvote this feature @ https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/32192203-folderpicker-and-filepicker-with-startup-path

[2018-05-27 10:06] Musenginst opened #620 "... available?"
I know you guys are working on it but a working sample with XAML etc. would really be welcome at this point. Great stuff BTW, can't wait!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b0d8b84-01be-3ee5-d4e3-ac01e505ab2a
* Version Independent ID: b8e7ca9f-e8e7-99dc-f4c7-08d5c32e763c
* Content: [Photo Editor C++/WinRT

[2018-05-27 16:06] yilmazdurmaz commented on #613
C++/WinRT has just been born with W10 1803. Do not expect a fast transformation to it. And as you can deduct, it applies to newer versions and not all developers would be interested to be stuck like that.

But instead of rewriting, they might include another page for it.

[2018-05-27 19:24] naruto0089 commented on #609
@DavidMhluzi Have you made any progress with this error?

[2018-05-27 19:59] touseefbsb commented on #574
no actually I was looking for enumerating all local disk folders in the app.

[2018-05-27 23:23] Baitula opened #621 "Mr"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2099ff76-43d5-98fd-d8bc-66ccdc14c4fe
* Version Independent ID: 1c3f3863-5413-d58b-a0e5-81a6da6bccf2
* Content: [Account types, locations, and fees - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/publish/account-types-locations-and-fe

[2018-05-27 23:23] Baitula commented on #621
Good day

[2018-05-27 23:24] Baitula commented on #621
Nice going

[2018-05-28 05:07] ZehCastro opened #622 "Disable gamepad."
How should one setup the registry in order to temporarily disable a gamepad or map its inputs to NOPs?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53564e04-9a78-e495-6607-686634111ab8
* Version Independent ID: 6d4443f3-005f-d506-0e68-7f1f9e7fed23
* Content: [Registry data for game controllers - UWP app deve

[2018-05-28 10:17] DavidMhluzi commented on #609
@naruto0089 NO...any progress on your side?

[2018-05-28 10:46] kubakista opened #623 "OS Version"
From which OS version is this API available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42619a31-7175-4a29-98a6-7f6703b8c608
* Version Independent ID: 5a517293-5bd4-5b9f-7fd3-8938d402d5fb
* Content: [Device Portal remote input API reference - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/xbox-apps

[2018-05-28 11:05] kubakista opened #624 "Upload a file via API and reading it from an app"
Hello,

I am facing some issue which seems to be present in OS versions: 10.0.17133.2020 and 10.0.17134.3036.

I upload a file via Xbox Device Portal (I use my browser to upload it) to the Temp folder of my app. Then I try to load and read my file from the application.

await ApplicationData.Current.TemporaryFolder.GetFileAsync("myfile")

It throws an error, "File does not exists". But the file is

[2018-05-29 10:27] kubakista commented on #623
Obviously available from 10.0.17134.3036.

I can establish WebSocket connection, however, I am not sure how to properly send a key.
I suppose I should send these bytes:

- 0x01 - KeyboardKeyCodes
- 0xCC - VK_GAMEPAD_DPAD_DOWN
- 0x01 - down press

but nothing happens.

[2018-05-29 12:53] kljzndx commented on #612
I want to know how to code video

[2018-05-29 14:23] naruto0089 commented on #609
@DabidMhluzi  Yes, I got this working.  I guess you missed to set MIME types. Check this link: https://docs.microsoft.com/en-us/windows/uwp/packaging/create-appinstallerfile-vs.
May I know what version and build of Windows 10 you are in ?

[2018-05-29 14:33] kubakista commented on #623
Problem solved. I was using `SocketMessageType.Utf8` instead of `SocketMessageType.Binary`.

[2018-05-29 14:33] #623 closed, assigned to nobody

[2018-05-29 16:09] ginami commented on #621
Hi @Baitula--thanks for your enthusiasm! If you have any feedback on our docs, please let us know. :)

[2018-05-29 16:09] #621 closed, assigned to nobody

[2018-05-29 16:17] ginami commented on #618
Hi @raksha-git--thank you for your feedback. Can you tell me which docs pages you're referring to, so I can route your comments to the correct person? Thank you!

[2018-05-29 19:40] GrantMeStrength commented on #619
Thanks! Corrected link should go live soon.

[2018-05-30 04:29] brong-nvidia opened #628 "mlgen with option CPPCX generates a C++/CX header file. The generated EvaluateAsync function seems to have bug and cause runtime crash."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d3e62d2-0202-94ea-1725-7d00e5cf4360
* Version Independent ID: 5f11f7a5-d404-f904-07a8-81a44a95e5cc
* Content: [Windows ML overview - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/machine-learning/overview#feedback)
* Content Source:

[2018-05-30 07:00] swatvel commented on #502
Hi,
Application crashes while using the filepicker in windows immersive devices .

   var picker = new Windows.Storage.Pickers.FileOpenPicker();
        picker.ViewMode = Windows.Storage.Pickers.PickerViewMode.Thumbnail;
        picker.SuggestedStartLocation = Windows.Storage.Pickers.PickerLocationId.PicturesLibrary;
        picker.FileTypeFilter.Add(".jpg");
        picker.FileTypeFilter.Add(".jp

[2018-05-30 16:05] serenaz commented on #628
Hi @brong-nvidia! Are you able to provide more detail about the bug, such as the error message you're getting?

[2018-05-30 16:20] FLY1NGSQU1RR3L opened #629 "Broken Link: Overview of UWP Apps on Xbox One"
This Page:  https://docs.microsoft.com/en-us/windows/uwp/xbox-apps/index
Has as broken link in the "See Also" section for "Overview of UWP apps on Xbox One"
http://go.microsoft.com/fwlink/p/?LinkId=780786

Takes you to a placeholder page with this error:  Sorry, we couldn't find that page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-05-30 17:34] #502 closed, assigned to laurenhughes

[2018-05-30 18:47] lukeblevins opened #630 "How to Handle "Always Use This App" Checkbox on Open With Dialog"
I am able to show my users an Open With Dialog, but if they select the "Always use this app to open [.EXT] files" checkbox, Windows will not remember their preferences. I have searched the documentation for help with no luck. How would I handle these preferences in my code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-05-30 20:03] QuinnRadich commented on #576
I've fixed the tables in question, in both this page (already live), and the mentioned Silverlight page (live tomorrow). Thanks for the heads-up!

[2018-05-30 20:03] #576 closed, assigned to GrantMeStrength

[2018-05-30 20:05] QuinnRadich commented on #364
Closing this issue, as the problem has been fixed.

[2018-05-30 20:05] #364 closed, assigned to GrantMeStrength

[2018-05-30 20:10] QuinnRadich commented on #617
Currently, every page in the Style section has an image of similar size at the top of the page, and I'm not inclined to break from that consistent format.

That being said, I agree that the gif can be a little distracting, and the other pages all have static images. I'm reaching out to our Design team to discuss whether or not we want to convert this to a still image. Thank you.

[2018-05-30 21:29] GrantMeStrength commented on #617
Interesting.

From: Quinn Radich <notifications@github.com>
Reply-To: MicrosoftDocs/windows-uwp <reply@reply.github.com>
Date: Wednesday, May 30, 2018 at 1:10 PM
To: MicrosoftDocs/windows-uwp <windows-uwp@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [MicrosoftDocs/windows-uwp] animated gif is problematic (#617)

Currently, every page in the Style section has an i

[2018-05-30 23:14] Licantrop0 opened #631 "set the initial SelectedItem does NOT load the initial item in the content view"
the code:
    foreach (NavigationViewItemBase item in NavView.MenuItems)
    {
        if (item is NavigationViewItem && item.Tag.ToString() == "home")
        {
            NavView.SelectedItem = item;
            break;
        }
    }
except from having an unnecessary for loop, because you can just do: NavView.SelectedItem = NavView.MenuItems[0];
does not work, because changing the selected ite

[2018-05-31 02:27] brong-nvidia commented on #628
When MNIST_Demo "Recognize" button is pressed, the program exit without message.
The generated code is like this
`        ::Windows::Foundation::IAsyncOperation<CNTKGraphModelOutput^>^ EvaluateAsync(CNTKGraphModelInput^ input)`
`        {`
`            if (this->learningModel == nullptr) throw ref new Platform::InvalidArgumentException();`
`            ::Windows::AI::MachineLearning::Preview::Lear

[2018-05-31 21:01] PeterSmithRedmond opened #633 "Consider updating to include app services"
Windows 10 also includes the very awesome new app service concept. This allows a developer to make a "fleet" of apps that communicate with one another. That's the actual thing I was looking for when I read this page; I wanted to learn how to let my two apps communicate with each other.

This page mostly talks about user-driven app communication. And it would be better if there was a "shout out" to

[2018-06-01 01:16] #507 closed, assigned to jwmsft

[2018-06-01 20:53] stevewhims commented on #620
@Musenginst, sincere apologies for the delay. We're still dotting the "i"s and crossing the "t"s administratively-speaking in order to be ready to release the source code. Meanwhile, there is example code that shows how to use XAML in the following two topics (it's not what you'd call a full sample app, but the code examples do show XAML in action). https://docs.microsoft.com/en-us/windows/uwp/cpp

[2018-06-01 21:27] Musenginst commented on #620
@stevewhims, thanks a lot for the reply, and I do get it -- delays happen. Thanks also for the references that I've seen and am in the very process of checking out. These are extremely valuable but, like you indicate yourself, probably don't offer the full potential yet of what I genuinely believe we've yet to see not only in terms of XAML  but also in combination with animation, async coroutines,

[2018-06-01 21:32] stevewhims commented on #620
Thanks so much for your enthusiasm, kind words, and patience, @Musenginst! :) We're super-excited about C++/WinRT, too! Again, thanks!

[2018-06-02 04:51] gmshrikant opened #634 "regarding additional system requirement page"
regarding your tips
"Your additional system requirements will appear bulleted in your Store listing, so don't add your own bullets." where is "additional system requirements" page ? are you joking. my app process is pending for the same. and i didnot found this option on my dashboard.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2018-06-02 23:59] scout208 opened #635 "Windows Template Studio Master/Detail sample link leads to 404"
If you try to select the Windows Template Master/Detail sample link near the bottom of the page in the **Get the Sample Code** section it will lead to a 404 Page Not Found page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15c08f52-bf03-5e8b-d5f7-f9bdbb7ccc18
* Version Independent ID: b6159596-8168-1f9a-b8a8-343ab419

[2018-06-03 13:52] kubakista opened #636 "GamepadHome button"
Is there a plan to support also GamepadHome button?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42619a31-7175-4a29-98a6-7f6703b8c608
* Version Independent ID: 5a517293-5bd4-5b9f-7fd3-8938d402d5fb
* Content: [Device Portal remote input API reference - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/xb

[2018-06-03 17:49] asamsonov commented on #623
Hi @kubakista, which port the websocket server is hosting?

[2018-06-04 04:19] rigdern opened #637 "C++/WinRT: Concurrency & asynch ops doc includes a link to itself under "Related topics""
Relevant doc: [Concurrency and asynchronous operations with C++/WinRT](https://github.com/MicrosoftDocs/windows-uwp/blob/6607be1aa0e6a4895ccbe0d28a3fefabddcadae2/windows-apps-src/cpp-and-winrt-apis/concurrency.md)

This doc page includes a link to itself under "Related topics":

![image](https://user-images.githubusercontent.com/199935/40898043-a669a0b2-6773-11e8-8022-9aaac68bdd65.png)

Adam Comel

[2018-06-04 05:32] kubakista commented on #623
Hi, the same as Xbox Device Portal, 11443.
https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/device-portal

[2018-06-04 07:07] brong-nvidia opened #638 "Windows ML COM APIs samples"
[Enter feedback here]
I expect some samples using Windows ML COM APIs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e948ad57-a6ec-1dde-197d-27911d9868e1
* Version Independent ID: c701d6c6-eee2-125a-749f-094475970356
* Content: [Windows ML samples - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/machi

[2018-06-04 14:47] pierrealainchabot opened #639 "x-xbl-contract-version does not accept float values"
According to this documentation, le x-xbl-contract-version should be 3.2. However, this header does not support float values. The note value should be updated to "3". The corresponding error description is {"source":"InventoryFD","code":1005,"description":"The value in the 'X-Xbl-Contract-Version' header is not an integer. ","data":["3.2"],"traceInformation":null}.

---
#### Document Details

⚠ *D

[2018-06-04 14:57] pierrealainchabot opened #640 "EDS Common Headers in remarks section"
Hi!

It should be nice to add a note highlighting the required headers from "EDS Common Headers" in the remarks section of this page or to provide a complete working request example that includes headers, http verb, etc. The newcomer will try a couple times with missing headers before going into the "Further information" section. Or may be "Further informations" should be renamed "Other requiremen

[2018-06-04 15:00] SilverSilence opened #641 "Question"
Is it possible to localize these, like access keys without using XAML? So only in code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8e18e09-9873-66b8-65d1-36031d51198d
* Version Independent ID: d8089561-12ca-fcf0-2dc8-3d678cc1f6f2
* Content: [Keyboard accelerators - UWP app developer](https://docs.microsoft.com/en-

[2018-06-04 15:00] davefxy opened #642 "The resource example is missing Invoked on ExecuteDelete"
I believe the resource example is missing Invoked on the ExecuteDelete swipe.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18985421-bd32-232a-a541-9857f2f6e328
* Version Independent ID: d4e8b58e-76d5-37c6-c121-c4d92bfcc101
* Content: [Swipe - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/design/cont

[2018-06-04 15:47] WilliamsJason commented on #636
Can you give sending the Windows key a try? I believe it will behave the same way:

VK_LWIN  --> 0x5B

[2018-06-04 16:28] Karl-Bridge-Microsoft commented on #641
Hi @SilverSilence, see https://github.com/MicrosoftDocs/windows-uwp/blob/docs/windows-apps-src/design/input/keyboard-accelerators.md#specify-a-keyboard-accelerator.

You can localize accelerators using app resources: https://docs.microsoft.com/en-us/windows/uwp/design/globalizing/prepare-your-app-for-localization.

[2018-06-04 16:28] #641 closed, assigned to Karl-Bridge-Microsoft

[2018-06-04 19:33] stevewhims commented on #637
Thanks, Adam, good catch! I've removed that incorrect link and added 3 good ones to this topic and one other. Thanks again for the heads up! :) ~Steve. These changes should be live within 24 hours, so please close this issue once you're ready.

[2018-06-05 02:37] AngelMunoz opened #643 "ES2015 Modules"
Hello, is "&lt;script type="module" src="main.js"&gt;&lt;/script&gt;" implemented in UWP?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdb02728-5f0a-bdc2-ee2d-1053ba6953ac
* Version Independent ID: 1d5b3dcf-db23-eb03-fdba-97ff2384e993
* Content: [Create a ](https://docs.microsoft.com/en-us/windows/uwp/get-started/cre

[2018-06-05 06:58] UncleChubby opened #644 "Static Object Error"
An object reference is required for the non-static field, method, or property "MediaElement.SetSource(RancomeAccessStream, string)

[2018-06-05 07:14] SilverSilence opened #645 "Typo"
In the localization part, there's a typo in the closing XAML bracket.
Button.KeyAccelerators instead of Button.KeyboardAccelerators

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8e18e09-9873-66b8-65d1-36031d51198d
* Version Independent ID: d8089561-12ca-fcf0-2dc8-3d678cc1f6f2
* Content: [Keyboard accelerators - UWP a

[2018-06-05 13:41] ahainen commented on #571
THIS. This page is a disaster to navigate and use and it's missing so much

[2018-06-05 13:44] ahainen commented on #411
What other info/details can I provide for this? I can do a screen recording of the paint points if needed.

[2018-06-05 15:49] ginami commented on #644
Hi @UncleChubby -- can you give me the URL for the relevant docs page for your feedback? Thank you!

[2018-06-05 16:13] mijacobs commented on #411
Hi Ahainen,
There are certainly a lot of icons and I agree they can be difficult to browse. Could you provide some examples of the tags you're thinking of? Regarding getting the icons into Sketch--you can now download the Segoe MDL2 font from our design downloads page: https://docs.microsoft.com/en-us/windows/uwp/design/downloads/

[2018-06-05 16:15] mijacobs commented on #571
Checking on the updates.

[2018-06-05 16:28] laurenhughes commented on #609
@DavidMhluzi, were you able to get this working? You may need to install a newer version of Windows 10.

[2018-06-05 16:57] laurenhughes commented on #530
Thank you for the suggestion, @lindexi. I'll get the sample updated!

[2018-06-05 16:57] #530 closed, assigned to laurenhughes

[2018-06-05 17:32] normesta commented on #578
Thank you! I've updated the path with an environment variable. Please let us know if that path doesn't work for you. Thx!

[2018-06-05 17:32] #578 closed, assigned to normesta

[2018-06-05 17:32] normesta commented on #592
Thank you for the note. I've rebuilt my local environment and I've also received this error. I'm currently investigating and will post back as soon as I have answers. Thank you!

[2018-06-05 18:27] TerryWarwick commented on #441
@abhinavski90, the issue that you have encountered is unique to the Panasonic FZ-F1 mobile handheld device and its barcode scanner driver.  Please work with Panasonic on a resolution.

The support that has been built into Windows 10 Spring 2018 release for Camera Barcode Scanner supports Windows desktop platform.  Please refer to https://aka.ms/camerabarcode for additional information.

[2018-06-05 18:33] dimizuno opened #646 "Could you please be more specific about what WinRT and UWP stand for?"
I am very much confused. Are you officially replacing the term "Windows Runtime (WinRT)" with "Universal Windows Platform (UWP)"? There are some parts in the documentation where those terms are used interchangeably. Other article use them as distinct subjects. It looks like you are replacing the term WinRT in your documentation (e.g. the linked article). However, Microsoft developers are still ref

[2018-06-05 19:02] GrantMeStrength commented on #613
Thank you. Yes, we have plans to give C++/WinRT the visibility it deserves!

[2018-06-05 19:02] #613 closed, assigned to GrantMeStrength

[2018-06-05 19:15] GrantMeStrength commented on #587
Hi - I'm sorry this happened. I just went through the tutorial with a fresh install of Visual Studio, and did not find any issues. I would recommend that you make sure you are using the latest version of Windows 10, and use the Visual Studio Installer application to Update Visual Studio to the latest version. If it's already up to date, click on More / Repair.

[2018-06-05 19:15] #587 closed, assigned to GrantMeStrength

[2018-06-05 19:16] GrantMeStrength commented on #643
Hi - thanks for your query.

Yes, this is supported. We’ve supported ES6 modules since EdgeHTML 16 / Fall Creators Update / Build 16299 / RS3

https://developer.microsoft.com/microsoft-edge/platform/status/moduleses6/?q=module

[2018-06-05 19:16] #643 closed, assigned to GrantMeStrength

[2018-06-05 19:18] AngelMunoz commented on #643
Thanks I must be doing something wrong then, because when I used module syntax for some reason the modules weren't loaded in the VS2017 debugger, But I will look further thank you!

[2018-06-05 19:20] GrantMeStrength commented on #643
If you are blocked and can share a code sample, drop me a line: jken@microsoft.com

[2018-06-05 20:31] Karl-Bridge-Microsoft commented on #645
Thanks for finding this! Fixed.

[2018-06-05 20:31] #645 closed, assigned to Karl-Bridge-Microsoft

[2018-06-05 21:03] Karl-Bridge-Microsoft commented on #426
Thanks for letting us know about these. The links have been fixed and should be live soon.

[2018-06-05 21:03] #426 closed, assigned to Karl-Bridge-Microsoft

[2018-06-05 21:25] Karl-Bridge-Microsoft commented on #400
Hi @jlinstrum, thanks for the feedback! As Windows evolves over time (esp. with semi-annual updates), the number of version qualifications per topic would quickly become cumbersome. You should assume the topic addresses the most recent version of Windows (as you point out, the API topic addresses this version issue). WRT your second point, the code snippet you point out is an example of a custom c

[2018-06-05 21:25] #400 closed, assigned to Karl-Bridge-Microsoft

[2018-06-05 21:36] ahainen commented on #411
Here's a more in depth example of the problem: https://youtu.be/RzohF-Wbdy8

[2018-06-06 00:09] serenaz commented on #638
The COM APIs are being deprecated in the next release, but we're working on Windows ML samples for C++/WinRT APIs.

[2018-06-06 00:09] #638 closed, assigned to serenaz

[2018-06-06 00:40] serenaz commented on #616
The tutorial instructions specify where to place the tags within the XAML pages. As for the CS code, you can place the methods anywhere inside the class!

[2018-06-06 00:40] #616 closed, assigned to serenaz

[2018-06-06 09:50] harikvpy opened #647 "SDK Dependencies"
Section 2.3 mentions that Windows Hello apps should match the SDK version with that of the OS where it's deployed. It would've been nice if this was elaborated with its actual implications. For instance, does this imply that in production multiple versions of the app have to be distributed in the installer and and appropriate version chosen depending on the target OS version where it's being insta

[2018-06-06 11:46] eowarren625 commented on #592
I have gotten a connection to work, built a new UWP, added system.data.sqlserver to the usings on page1, then only system.data.sqlserver connection. It worked. I have not gotten anything else to connect.

Thanks for the feedback, at least I know it’s not just me.

Edward O. Warren
mailto:eowarren@live.com

Home: 402.235.2627
Cell: 402.350.0873

From: Norm Estabrook <notifications@github.com>
Sent:

[2018-06-06 16:22] serenaz commented on #628
mlgen for CPPCX will be deprecated, but we'll be adding support for C++/WinRT, which should not have this issue.

[2018-06-06 16:22] #628 closed, assigned to serenaz

[2018-06-06 16:35] interconverse opened #648 "error: com.microsoft.edge.extension is a reserved extension type"
After submitting the Extension Submission Form to receive permission to use the extension type nothing happens?  Here is the link provided by your documentation:  https://aka.ms/extension-request.  How long does it take to get permission to use the extension type (appx) so you can complete submission for the app store?  It's been a week.  Publisher account: CN=4A140261-4FA8-45CA-9769-A97C9B5C8CFD

[2018-06-06 17:09] poumason opened #649 "I can't get subscriptions for a user"
I reference the [Get subscriptions for a user](https://docs.microsoft.com/en-us/windows/uwp/monetize/get-subscriptions-for-a-user ) to confirm user has subscription.

But I always got the `{ "items": [] }`

I also try use [Query for products](https://docs.microsoft.com/en-us/windows/uwp/monetize/query-for-products) to query user own products.

I also got the same response.

I don't why.

[2018-06-06 17:21] normesta commented on #592
Thank you for the info. So after a lot of troubleshooting, I found the reason I was unable to connect successfully from UWP. In my case, TCP/IP was not enabled in the Computer Management console for SQL, and the SQL Server Browser service had to be started. To share with others, I've gone ahead and added this information to the bottom of the topic here - https://docs.microsoft.com/en-us/windows/uw

[2018-06-06 17:35] JnHs commented on #648
I will look into this but first, I want to confirm - this is regarding publishing you confirm that you're requesting permission to publish a Microsoft Edge extension - is that correct?

[2018-06-06 17:45] eowarren625 commented on #592
I had already checked all of the sql server settings and the changes that worked for you do not solve my issues.  But thanks for the work anyway.  If I find out what the problems are I will let you know.

Eowarren.

From: Norm Estabrook <notifications@github.com>
Sent: Wednesday, June 06, 2018 12:22 PM
To: MicrosoftDocs/windows-uwp <windows-uwp@noreply.github.com>
Cc: eowarren625 <eowarren@live.co

[2018-06-06 17:48] normesta commented on #592
Thank you! Yes please do share if you find a workaround that helped you get past your issue. If it's something that is likely to affect other folks, I'll add it to the doc.

Thanks again!

[2018-06-06 17:48] #592 closed, assigned to normesta

[2018-06-06 18:22] interconverse commented on #648
Yes, exactly.Sent via Brendan's cellphoneOn Jun 6, 2018 10:35 AM, JH <notifications@github.com> wrote:I will look into this but first, I want to confirm - this is regarding publishing you confirm that you're requesting permission to publish a Microsoft Edge extension - is that correct?

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute

[2018-06-06 18:47] JnHs commented on #634
There's not a separate page for "additional system requirements". If you enter any info in the "Additional system requirements" section in the "Store listing" step of your submission, that info will appear as part of the product's listing in the Microsoft Store for customers to see. If this doesn't fully answer your question, please let me know and I'll try to assist further.

[2018-06-06 18:47] #634 closed, assigned to JnHs

[2018-06-06 19:50] laurenhughes commented on #574
@touseefbsb, I'm not aware of a similar API for broadFileSystemAccess, but I'll pass on your feedback to the product team. Thanks!

[2018-06-06 19:50] #574 closed, assigned to laurenhughes

[2018-06-06 20:16] mcleanbyron commented on #649
I'm sorry you're running into troubles using this API. I'm going to close this issue because it appears you have already reached out to an internal MVP alias for help, and that is a more appropriate resource for help (Issues in this repo are intended primarily for feedback/problems with the docs rather than product support).

That said, some things to troubleshoot/consider:
- Is it possible that t

[2018-06-06 20:16] #649 closed, assigned to nobody

[2018-06-06 20:57] krh3o opened #651 "Target version mapping to available .NET Core/Framework/Standard"
Where is the mapping of target version to .NET Core/Framework/Standard? For example, which Windows build will support this API:
https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socket.close
The page says these are supported: .NET Core 2.1, 2.0; .NET Framework 4.7.2, 4.7.1, 4.7, 4.6.2, 4.6.1, 4.6, 4.5.2, 4.5.1, 4.5; .NET Standard 2.0; Xamarin.Android 7.1; Xamarin.iOS 10.8; Xamarin.Mac

[2018-06-06 20:57] aablackm commented on #639
Hello Pierre,
we were not able to reproduce this error and so will not be able to update this in the doc.
We ran a Fiddler trace which shows 3.2 as a valid value for x-xbl-contract-version.

Can you elaborate on how you received your error?

[2018-06-06 21:02] aablackm commented on #640
Hello Pierre,
Thanks for your feedback.
We're discussing a possible solution to clarify these requirements.

[2018-06-06 21:07] eigenvector32 opened #652 ""Overriding the default adaptive behavior" section has a "note" with no content"
It just says "Note"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 745ab6c5-cfbe-a56f-dccd-ab55123f9223
* Version Independent ID: 54455a9f-a92f-e462-558d-78fb696dba8c
* Content: [Navigation view - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/navigationview#overriding-the-

[2018-06-06 21:37] mijacobs commented on #535
Fixed the second broken link.

[2018-06-06 21:37] #535 closed, assigned to mijacobs

[2018-06-07 00:46] Felix-Dev opened #653 "Fix missing images"
Currently, supposedly (linked) images are not shown. We see the markup syntax instead:

"![desktop to UWP bridge image](images/desktop-to-uwp/adaptive-ui.png)" (below "Reach all Windows devices")
"![Xamarin apps](images/desktop-to-uwp/xamarin-apps.png)" (below "Reach iOS and Android devices")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-06-07 01:37] poumason commented on #649
I sure the MS Store ID has a subscription.
Because I use StoreContext.GetAppLicenseAsync method and got the purchased StoreProduct.
I also find the purchased order on the https://account.microsoft.com/billing/orders .

So I don't what happend.

By the way, If I use https://onestore.microsoft.com to generate AAD access token, I invoke collections API or purchase APIs don't response HTTP error codes

[2018-06-07 09:40] jiinus opened #654 "File opencv_core310.dll has failed the AppContainerCheck check."
I tried to follow this tutorial and it seems to work fine when debugging, but when I try to create a package for Windows Store, Windows App Cert Kit fails saying that "File opencv_core310.dll has failed the AppContainerCheck check." WACK suggests to add linker options, which I added to the OpenCVBridge -project, but that didn't seem to make any difference. Any advice?

---
#### Document Details

⚠

[2018-06-07 14:39] johanlindfors opened #656 "Bad name of element in project file?"
Documentation claims that a C++/WinRT project requires this:
&lt;CppWinRTProject&gt;true&lt;/CppWinRTProject&gt;
But when examining the actual project files, there are no such element in the file. There is however the following:
&lt;CppWinRTEnabled&gt;true&lt;/CppWinRTEnabled&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-06-07 16:29] mcleanbyron commented on #649
If you're getting an unauthorization error/message when trying to generate an access token with the https://onestore.microsoft.com/b2b/keys/create/collections or https://onestore.microsoft.com/b2b/keys/create/purchase audience URIs, that's a likely source of your problem, since you need to successfully create that token in order to generate the valid Microsoft Store ID key for the current app cust

[2018-06-07 17:04] aablackm commented on #518
Thank you for your feedback aschultz!
The table has been fixed.

[2018-06-07 17:05] #518 closed, assigned to KevinAsgari, aablackm

[2018-06-07 18:16] scout208 opened #657 "Why Use AUTOINCREMENT Keyword?"
In the command to create the table, you write

    String tableCommand = "CREATE TABLE IF NOT " +
                "EXISTS MyTable (Primary_Key INTEGER PRIMARY KEY AUTOINCREMENT, " +
                "Text_Entry NVARCHAR(2048) NULL)";

I don't understand why you use the AUTOINCREMENT keyword here. According to the [SQLite documentation](https://www.sqlite.org/autoinc.html),

Based on that, I don't s

[2018-06-07 19:27] stevewhims commented on #656
@johanlindfors, yes that's a mistake on my part! Thanks for pointing out the error--I've fixed it and merged with master, so I expect the fix to show up on the live site within the next 24 hours.

[2018-06-07 21:03] QuinnRadich commented on #651
To clarify, are you looking for the sort of information that's on this page?
https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/versions-and-dependencies

Or are you looking for specific information on which specific .NET APIs are available on which UWP versions? In that case, this page has information on .NET for UWP:

https://msdn.microsoft.com/en-us/library/windows/apps/xaml/mt18

[2018-06-07 22:03] krh3o commented on #651
The first link is exactly what I was looking for. Thank you! The other links will be very helpful too.

A lot of searching didn't lead me to those pages, so having a link to them on the "Choose a UWP version" page might be useful to others. Thanks!

[2018-06-07 22:24] jwmsft commented on #642
Hi @davefxy , I believe the code you're looking for is in the XAML & C# code blocks right after the "Handle an invoked swipe command" header.

[2018-06-07 23:31] serenaz commented on #433
Could you please clarify what you mean by style template? NavigationView does not behave like Gridview.

[2018-06-07 23:40] serenaz commented on #561
Thanks for the catch! We'll update the doc to reflect the workaround.

[2018-06-07 23:41] serenaz commented on #594
Thanks for the valuable feedback - passing along to the product team!

[2018-06-07 23:44] #561 closed, assigned to serenaz

[2018-06-07 23:45] serenaz commented on #635
Thanks for the catch - it's fixed!

[2018-06-07 23:45] #635 closed, assigned to serenaz

[2018-06-07 23:46] #594 closed, assigned to serenaz

[2018-06-08 00:42] jwmsft commented on #557
Hi @moneylow , thanks for the feedback. For product feedback, please use the 'Product feedback' button in the documentation to make sure your ideas get the right people. This idea has been opened on the Developer Feedback site. Here's a link to the open issue if you'd like to vote for it. Thanks.
https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/32946712-disable-sets

[2018-06-08 00:42] #557 closed, assigned to jwmsft

[2018-06-08 00:48] jwmsft commented on #455
Hi @mysorian , if you change the code from redButtonStyle to myButtonStyle, you'll also need to change the Style Key in the resources section. If you change the key to this, `x:Key="myButtonStyle"`, it should work.

[2018-06-08 00:48] #455 closed, assigned to jwmsft

[2018-06-08 09:17] poumason commented on #649
Thank your response.
"unauthorization" issue already be solved.
Because I don't notice things:

- in http request: AAD access token must be built from https://onestore.microsoft.com
- built MS Store ID must be depended API type: collection or purchases

I follow the rule to solve it.

And now, I already got the purchases and collections of the user.
But I sure got `{ "items": [] }` result is diffe

[2018-06-08 16:21] aablackm commented on #484
Hello ashultz,
Still trying to get confirmation on your first question, but to answer your second question, calling set_stat will create a stat even if it is not configured on Dev Center. Dev Center stats are created ahead of time to create Leaderboards like those scene in the GameHub for a title.

[2018-06-08 16:26] aablackm commented on #485
Each Format option will display some information pertaining to the acceptable values or formatting under the drop down when selected.
Integer, Short Timespan, Long Timespan, and Percentages stats all take integer values,
Decimal stats take float values,
and String stats take string values.

[2018-06-08 18:11] laurenhughes commented on #654
@jiinus, I'd recommend contacting Windows developer support (https://developer.microsoft.com/windows/support) for assistance.

[2018-06-08 18:11] #654 closed, assigned to laurenhughes

[2018-06-08 18:21] stevewhims commented on #646
@derdimi, thanks for raising this, and you make a very good point! I've written an extra section about this question here: https://docs.microsoft.com/en-us/windows/uwp/get-started/universal-application-platform-guide#how-the-universal-windows-platform-relates-to-windows-runtime-apis. Please let me know whether that helps and/or whether I can add anything further. If it answers the query, then plea

[2018-06-08 18:37] serenaz commented on #631
It's actually by design. The MenuItems could contain other NavigationViewItemBase items, such as separators, so we use the loop for clarity. If your MenuItems change dynamically, it might not be best practice to hard-code numbers.

The code example handles UI clicks, which trigger ItemInvoked. Not every scenario requires handling SelectionChanged events, but feel free to add your own code!

[2018-06-08 18:37] #631 closed, assigned to serenaz

[2018-06-08 18:38] serenaz commented on #652
Thanks for the catch - should be fixed!

[2018-06-08 18:38] #652 closed, assigned to serenaz

[2018-06-08 19:19] Licantrop0 commented on #631
Hi @serenaz I agree that hard coding the initial item could be a potential issue, but the real problem here is that the code example does not display any NavViewItem on startup, as it looks like it should because it sets the selected item in NavView_Loaded

[2018-06-08 20:10] serenaz commented on #631
Hmm what SDK do you have? The code example shows a selected item when I run it.

[2018-06-08 20:40] normesta commented on #653
Thank you for raising this! I've fixed it and it will appear in the build very soon.

[2018-06-08 22:24] normesta commented on #657
Thank  you for the input. I've looked into this a bit. This post confirms your finding (http://www.sqlitetutorial.net/sqlite-autoincrement/) stating that the only valid use of this attribute is to "o prevent SQLite to reuse value that has not been used or from the previously deleted row.". I tried removing it from the query and all works just as fine. I've removed the attribute from the example an

[2018-06-08 22:38] Karl-Bridge-Microsoft commented on #611
Hi @SilverSilence, did you try the snippet code in the https://docs.microsoft.com/en-us/windows/uwp/design/input/access-keys#set-access-key-scope section?

Using this sample, the secondary access keys are fully accessible just by tabbing to the primary <AppBarButton Icon="Refresh" Label="Refresh" IsAccessKeyScope="True"> element and activating it. The Refresh button does not require an access key

[2018-06-08 22:38] #611 closed, assigned to Karl-Bridge-Microsoft

[2018-06-09 01:40] Fuzzel11 opened #659 "Disambiguate guideline for App Icons & target-based assets and the use of Logo44x44"
At the section _Tile assets in list views_ there are guidelines for icons that are used in e.g. the "**All Apps List**", which are in the _Asset size table_ differently referred to as "**App List Icon**" only by reading the _Asset types_ its possible to connect the two terms to be referring to the same icon type.

There also seems to be some disambiguation about what the target-based assets are ba

[2018-06-09 04:22] BYTEzel opened #660 "Example does not work"
The first example of the chapter "https://docs.microsoft.com/en-us/windows/uwp/get-started/fileio-learning-track#write-text-to-a-file" does not work at least with more current UWP builds.
Inserting it into a fresh project, I got a unknown COM error after
// Open a stream for the selected file
StorageFile file = await open.PickSingleFileAsync();

Turns out a file filter had to be set, e.g.:
FileOpe

[2018-06-09 06:57] dr-pain opened #661 "math libs"
What does UWP mean for those developers, who produce libs which don`t use WinAPI at all (or use small amount of it)? Where are lot examples in math libs area: netlib, mkl, ipp and etc.
How they may sure that their libs (static and dynamic) "UWP compatible" and customers (who use libs in win applications) will not be affected?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-06-09 08:35] coolguy301 commented on #358
[code]

should be

[code]

[2018-06-09 12:41] ahojnnes opened #662 "Renaming/Deleting folders"
The same actions that are available for files, should also work on (potentially empty) folders.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae1ab644-ee7d-3dec-cd0f-cbb1e4d8b6ac
* Version Independent ID: 97eecc36-8e2e-d4c7-1ecb-948e0846bda5
* Content: [Device Portal core API reference - UWP app developer](https://doc

[2018-06-09 15:43] tesar-tech opened #663 "Append keyboard accelerator to Button object"
`For AppBarButton and AppBarToggleButton objects, the keyboard accelerator is appended to the label.` -&gt; That is not true (due to my observation).
- Keyboard accelerator is append to label in tooltip, not to Label.
- It also works for Button class and MenuFlyoutItem class

It works for button class, but how can I append keyboard accelerator to existing tooltip in Button since there is no Label

[2018-06-09 17:35] TylerMSFT commented on #660
Hi,
I'm not sure which part of this topic you are referring to. There is no code example, in this topic, that matches what you provide:  StorageFile file = await open.PickSingleFileAsync();  Are you referring to another topic?

[2018-06-09 23:37] dimizuno commented on #646
Thank you very much. I totally overlooked that last section. It actually confirms my latest assumption about what the difference is. Sorry for the typos, and keep up the good work. :+1:

[2018-06-09 23:38] #646 closed, assigned to stevewhims

[2018-06-10 05:59] BYTEzel commented on #660
Dear Tyler,

Thank you for your response. Sorry, something went wrong on my side, we can delete this for now.

[2018-06-10 08:38] jlinstrum opened #665 "KeyboardAcceleratorPlacementMode property should be attached to Button"
When I tried this on my own code, I was able to attach KeyboardAcceleratorPlacementMode property to the "Button" object, not the KeyboardAccelerator object as shown in the code snippet. I don't think the code snippet as shown would actually work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8e18e09-9873-66b8-65d1-36

[2018-06-10 12:39] andrew7webb opened #666 "Content is incomplete for "How to install Visual Studio so C++/WinRT works""
"Visual Studio support for C++/WinRT, and the VSIX" does not mention that you need the "C++ Universal Windows Platform tools" installed.  If you missed that, VS preview complains, creates files, but does not load the solution, so then the user runs into error messages when they try again.

Also, when I ran first time, VS brought up a Settings Dialog with "Sideload Apps" preselected.  It seems you

[2018-06-10 19:21] WiproSynnexDS opened #667 "Context question"
Under - Which setting should I choose: sideload apps or Developer Mode?
Shouldn't it say "Windows Store Appsis the default setting" rather than "UWP apps is the default setting." ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f35d7dc2-a5e9-9f86-7e8a-88e6afe40c99
* Version Independent ID: b57b8c51-e2f6-e5e1-1d93-14f26

[2018-06-10 20:29] tca9 opened #668 "Unexplained change from StaticResource to ThemeResource"
In step 4.6 the following element is provided.
&lt;TextBlock Text="What's your name?" Style="{StaticResource BaseTextStyle}"/&gt;

But in the next step the "StaticResource" becomes "ThemeResource" without explanation.

&lt;TextBlock Style="{ThemeResource BaseTextBlockStyle}" FontSize="18" Text="What's your name?"/&gt;

Thanks for the great documentation and great site!
+tom

---
#### Document Deta

[2018-06-10 23:24] Felix-Dev opened #669 "Replace msdn link with docs link"
The hyperlink for the control [toggle switch] throughout this document (same goes for property hyperlinks such as "IsOn", "OnContent",...) points to the old msdn site. I.e., for [toggel switch], the links points to "https://msdn.microsoft.com/library/windows/apps/windows.ui.xaml.controls.toggleswitch.aspx". This should be replaced with the correct UWP docs link: "https://docs.microsoft.com/en-us/u

[2018-06-11 07:02] fredstoolbox opened #670 "doesnt work for Lumia950xl"
For some reasons, this does not work on a Lumia 950, but works fine on a Lumia 640.
On Lumia 950, the PhotoCaptured event returns exactly the same Softwarebitmap for all frames (event though the controlvalues indicated exposure times are different each frame) .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72ffe237-7d

[2018-06-11 14:08] TylerMSFT commented on #660
No problem. Best wishes for your project

[2018-06-11 14:08] #660 closed, assigned to nobody

[2018-06-11 16:38] serenaz commented on #669
Hi! The links should automatically redirect to the corresponding docs.microsoft.com pages, but I've gone ahead and updated the links. Should be live soon!

[2018-06-11 16:38] #669 closed, assigned to serenaz

[2018-06-11 17:38] normesta commented on #657
Ok - content is updated. Thank you!

[2018-06-11 17:38] #657 closed, assigned to normesta

[2018-06-11 17:39] normesta commented on #653
Ok - images now appear. Thank you!

[2018-06-11 17:39] #653 closed, assigned to normesta

[2018-06-11 17:56] QuinnRadich commented on #667
Thanks for pointing this out - updates are needed to both the image and the text. They should now both read "Microsoft Store Apps." I'll close this issue when I can confirm the change is live.

[2018-06-11 18:01] GrantMeStrength commented on #668
Thanks for finding this.

Both should use both should be “"{ThemeResource BaseTextBlockStyle}"”. This is probably a result of the original code being written for Windows 8, and ThemeResource being introduced in Windows 8.1 – the update was probably just missed.

If you want the full story, follow this link and find the “When and how to use {ThemeResource} rather than {StaticResource}” section.

ht

[2018-06-11 18:37] tca9 commented on #668
John,

Thanks much for the personal reply and for the link to the very interesting “When and how to use” info.  I’m glad my feedback was useful.

Regarding *that* document, I think there is another typo.  There is an example that compares “Default” versus “HighContrast” resources, but the contents of those two dictionaries are swapped, since the Default version provides high-contrast values.

Have

[2018-06-11 19:19] GrantMeStrength commented on #668
Ah, a doc-cascade bug :-) I'll take a look at this one too, thanks for letting us know!

[2018-06-11 19:23] hansmbakker opened #671 "No official documentation on how to create own WebAccountProvider"
Cross-reference to https://github.com/Microsoft/Windows-universal-samples/issues/911 since it is related to this Microsoft docs page.

There seems to be no sample how to create and register a custom WebAccountProvider.
There is a presentation from Microsoft Build 2015 that shows the concepts, but

- the code in the appendix is not complete
- the "tokenbroker" sample referenced from the presentatio

[2018-06-11 21:04] stevewhims commented on #620
Hi, @Musenginst, the sample is now available for download. I've updated the topic with the info and the link to the repo, which is: https://github.com/Microsoft/Windows-appsample-photo-editor. Do you mind if I go ahead and close this issue? Many thanks! Steve

[2018-06-11 21:31] Musenginst commented on #620
Thanks, @stevewhims, for the note. I'm thrilled that you guys have uploaded the sample, and please go ahead closing the issue. I'll be downloading the sample tomorrow (or within very few days' time) and if I have any issues or particular praises, I'll post back anyway. 😉

I don't think C++/WinRT has already got the reception/appraisal yet that it deserves, but I have a pet project of mine in mind

[2018-06-11 21:33] stevewhims commented on #620
Excellent! I hope your C++/WinRT genealogy project goes well! Thanks again for getting in touch.

[2018-06-11 21:33] #620 closed, assigned to JoshuaPartlow

[2018-06-11 22:11] GrantMeStrength commented on #668
I checked with Jim, our XAML writer. He tells me that the content is correct in this instance. The default settings is black and white, not high contrast, because text _is_ black and white. And for the high contrast values, it picks up the system values. If you check the resources.xaml file, you can see the values associated with each setting and confirm this for yourself. Let me know if this isn'

[2018-06-11 22:11] PatrickFarley commented on #366
Thanks for the feedback, StephenHodgson,
I've added a link in the See also section of the doc in question.

[2018-06-11 22:11] #366 closed, assigned to PatrickFarley

[2018-06-11 22:14] tca9 commented on #668
Thanks, John.  That is a clear explanation. Perhaps the example is a bit confusing because the black and white resources feel like high contrast.  😉 thx again.

+tom

Tom Allen
tom.allen@cricketsoft.com | 408-821-6455 Mobile
Cupertino, CA | Sent from Mail for Windows 10

________________________________
From: John Kennedy <notifications@github.com>
Sent: Monday, June 11, 2018 3:11:32 PM
To: Micros

[2018-06-11 22:19] PatrickFarley commented on #367
Thanks for the feedback, StephenHodgson,
This topic is actually a duplicate of https://docs.microsoft.com/windows/mixed-reality/device-portal-api-reference, so we no longer show it in our TOC structure. I will contact the owners of that page, however, and see if they can link back to our core device portal APIs.

[2018-06-11 22:20] GrantMeStrength commented on #668
Yes, I thought the same initially. Now we know! Thanks.

[2018-06-11 22:20] #668 closed, assigned to GrantMeStrength

[2018-06-11 22:35] #368 closed, assigned to PatrickFarley

[2018-06-11 23:23] stevewhims commented on #646
Thanks, @derdimi! The section wasn't there before, I added it specially. :) But I forgot to update the "last-updated" date on the topic, so it probably gave the misleading impression that the section was there before, sorry about that! :) ~Steve

[2018-06-11 23:29] stevewhims commented on #666
@andrew7webb, thanks for the heads up on this missing info! I've just pushed a fix into master, and that should be live within the next 24 hours. Sorry for the omission; thanks for the shout out! :) ~Steve

[2018-06-12 13:08] hamz250 commented on #609
Same isssue For me "Error in Parsing the app package.", I added the MiMe types to my apche server config but with no success.
 any progress ?

[2018-06-12 15:22] arkadye opened #673 "Finding reference manuals is hard"
It would be really useful if a link to the reference for this library was put somewhere on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7582404b-14df-79e3-643c-202afea30bb5
* Version Independent ID: c1e7a230-aaf8-916d-6d43-a15e380ed438
* Content: [Game Chat 2 overview - UWP app developer](https://docs.micr

[2018-06-12 18:21] matthew-dean opened #674 "Um..."
This documentation doesn't answer the fundamental question asked in the title: "Where to get the Xbox Development Kit (XDK)"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb73f8f9-ff29-d97b-9c25-cc00d362d052
* Version Independent ID: a07657b6-d371-6323-0e39-6829578dcc87
* Content: [Where to get the XDK - UWP app devel

[2018-06-12 20:08] WilliamsJason commented on #624
This looks like a regression with Xbox on those builds. We'll get a fix into internal builds but it might be a while before any previews with the fix.

Device Portal is showing the generic folder--what you get when you call TemporaryFolder.GetFileAsync from a Multi-user app instead of a single-user app--when it should be showing the user folder for whichever user you have signed in (which is the s

[2018-06-12 20:27] vandenboreq opened #675 "HttpClient to http://localhost:5000/ failed"
Hi,

My problem is quite simple, I would like to interact with an ASP.NET service locally from my UWP application. Only I can not contact him. Do you have any information that there is network isolation?

Thank you all !

[2018-06-12 22:18] ginami commented on #675
Hi @vandenboreq--it sounds like this may be a support issue. Or is this information that you expect to appear in a specific page of our documentation? Thank you!

[2018-06-12 22:19] ginami commented on #644
Hi @UncleChubby. If you come up with a URL for this feedback, please let me know...I'm closing this issue for now. Thank you!

[2018-06-12 22:19] #644 closed, assigned to nobody

[2018-06-12 22:36] stevewhims commented on #656
This is fixed now, @johanlindfors. I'll go ahead and close. Thanks again for the heads up on this issue. ~Steve

[2018-06-12 22:36] #656 closed, assigned to nobody

[2018-06-12 22:37] stevewhims commented on #666
The fix is now live. Please close the issue when you're ready. And thanks again for the heads up. ~Steve

[2018-06-12 22:59] andrew7webb commented on #666
I did not see this behavior:

“If you haven't already installed it, you'll be prompted within Visual Studio to install the C++ Universal Windows Platform tools whenever you create or open a C++/WinRT, or other C++ UWP, project.”

Instead I saw an error, and then figured out I had to use the installer to fetch the C++ Universal Windows Platform tools.

So don’t let the user think they don’t need to

[2018-06-12 23:17] stevewhims commented on #666
I see, I've fixed that. Should be live within 24 hours! :)

[2018-06-12 23:48] stevewhims commented on #661
A library that limits itself to calling APIs that are available on all UWP devices should be UWP-compatible. For more info, see Win32 and COM APIs for UWP apps (https://docs.microsoft.com/en-us/uwp/win32-and-com/win32-and-com-for-uwp-apps). SQLite (https://sqlite.org) is an example of a library that was ported (apparently it took only a matter of days to do so) to work with UWP apps (more info abo

[2018-06-13 05:22] extremeheat opened #676 "Broad filesystem access"
I have a command line C++ program which currently uses Win32-based file system APIs to access the file system (not just from local dir), but I couldn't get that working since apparently broadFileSystemAccess only works on Windows.Storage APIs. But I can't seem to figure out how to actually read files from arbitrary locations with Windows.Storage APIs -- the examples only seem to apply to specifc f

[2018-06-13 08:36] dr-pain commented on #661
Thank you for answer stevewhims!
My assumptions that it is question of which API is used in library was right.

Is any UWP API checker exist? Or can you point to any other official way to confirm that library is UWP complaint?

Andrey

[2018-06-13 08:40] vandenboreq commented on #675
Hi @ginami -- I'm sorry, I will put this issue into Stackoverflow !
The information is still interesting in your documentation that said. Sorry again.

[2018-06-13 14:57] JackDetrick opened #677 "Initial compile fails"
Severity	Code	Description	Project	File	Line	Suppression State
Error	MIDL2011	[msg]unresolved type declaration [context]: Windows.UI.Xaml.Data.INotifyPropertyChange [ RuntimeClass 'Bookstore.BookSku'  ]	Bookstore	E:\C++_WinRT\Bookstore\Bookstore\BookSku.idl

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4db0aab-b906-9d

[2018-06-13 15:31] ginami commented on #675
Hi @vandenboreq , no worries! Thank you!

[2018-06-13 15:31] #675 closed, assigned to nobody

[2018-06-13 17:43] laurenhughes commented on #458
@adrianstephens, Thanks for your question! UWP apps are not currently allowed to use file mapping APIs.

[2018-06-13 17:43] #458 closed, assigned to laurenhughes

[2018-06-13 17:47] MonneOnrust opened #678 "Can't get a Microsoft Store ID key"
In step 4, while calling the StoreContext.GetCustomerCollectionsIdAsync method, the second parameter publisherUserId is not optional. And whatever I fill in, I either get an exception or an empty string as a result.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1bdee9e-2095-4423-62c5-0beb5520dfd3
* Version Independen

[2018-06-13 17:55] dyyMsft commented on #433
Here’s an example of a style template for a TargetType=Button

https://msdn.microsoft.com/en-us/library/windows/apps/mt299109.aspx

At the current time, we don’t need the style template, but I am hoping the TabNavigation=”Local” issue can be fixed. This properties controls the tab behavior for controls like the GridView and the NavigationView also has this property.

[2018-06-13 18:43] mcleanbyron commented on #678
I'm sorry you're running into some problems. A couple of questions for you:
- What exception are you receiving?
- Are you passing in an empty string to the publisherUserId parameter? I'm assuming that by "optional", the article intends to say that you don't have to submit a real value here if you're planning to use this for your scenario, and I can clarify this in the article.
- For the serviceTic

[2018-06-13 18:59] bryaan commented on #458
@laurenhughes Is there any word on whether this kind of IPC is to be allowed at some point?  I have no doubt companies are choosing to not use UWP precisely for these restrictions.  If all we are doing is a desktop app is there a way to bypass?

[2018-06-13 20:01] jpcoates opened #679 "TreeView Icons"
You say that icons can be added however I cannot find any examples on how to do this. How can this be done? I simply want to have an expanded and collapsed folder at the branch level and my own icon at the child level (level that no longer can be expanded).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5ba995b-8bf3-4

[2018-06-13 20:23] laurenhughes commented on #458
@bryaan, UWP support for Memory Mapped Files in some capacity is being considered by the product team. I'll pass your feedback along to the team as well! I don't believe there is a way to bypass the restriction even if your UWP app is only targeting desktop since it's a platform limitation.

[2018-06-13 20:44] MonneOnrust commented on #678
Thanks for answering. Here are my answers:

- If I put in null as argument, I get an ArgumentNullException. If I put in an empty string, I get an exception that the value is not valid.

- Whatever value I put in, I never get a valid key back. Always an exception or an empty string.

- I can confirm this.

[2018-06-13 21:30] #637 closed, assigned to stevewhims

[2018-06-13 21:41] mcleanbyron commented on #678
What exception do you get if you pass in any real string value to the publisherUserId parameter?

I'm reaching out to the engineering team that owns this API to see if they have any details that can help.

[2018-06-13 21:55] stevewhims commented on #677
Thanks for the message, @JackDetrick: the error you're seeing is consistent with you not having the C++/WinRT VSIX installed (in the light blue Note at the top of this topic, there's a link to info about how to get the VSIX). There are three ways of getting Windows namespace types (such as the one in the error message that you quote) to resolve: the recommended one is to install the VSIX and let t

[2018-06-13 22:02] stevewhims commented on #661
Hi, Andrey, I'm afraid I'm not aware of any checker tool of that nature. However, one option is to ask the tools folks, perhaps at the Visual Studio Developer Community (https://developercommunity.visualstudio.com), or even Visual Studio's User Voice (https://visualstudio.uservoice.com) feedback website. Or, there's also Microsoft Support (https://support.microsoft.com/contactus/). Just some possi

[2018-06-13 23:55] JackDetrick commented on #677
I reinstalled VSIX and got the same results. Using my copy of Photoeditor, I set "Consume Windows Runtime Extension"
to YES and received the same error (see screen shot)
________________________________
From: Steven White <notifications@github.com>
Sent: Wednesday, June 13, 2018 2:55 PM
To: MicrosoftDocs/windows-uwp
Cc: JackDetrick; Mention
Subject: Re: [MicrosoftDocs/windows-uwp] Initial compile

[2018-06-14 00:42] stevewhims commented on #677
Hi, so are you able to clone and build/run the PhotoEditor sample with your Visual Studio configuration? If so, then I agree that your VSIX is functioning correctly. If the answer is yes, then you certainly don't need to turn on support for C++/CX for the PhotoEditor sample. When you set project property C/C++ > General > Consume Windows Runtime Extension to Yes, then you're asking Visual Studio t

[2018-06-14 01:20] tiagoshibata commented on #643
It doesn't work for me either. The script isn't loaded if `type="module"` is given.

[2018-06-14 01:23] jgilm opened #680 "Error in Step 4: Set up your MediaCapture initialization settings"
The ClaimedBarcodeScanner class does not have a VideoDeviceId property neither does an instance of that class. Also _captureInitSettings.VideoDeviceId is set twice in that code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c00c9dfa-5158-6336-70a9-d2ec101a4710
* Version Independent ID: b04ea381-64cd-27ff-1634-bc0a71b4

[2018-06-14 01:24] AngelMunoz commented on #643
@tiagoshibata be sure to include extensions like `<script type="module" src="./src/file.js"></script>` and also if you have any imports inside `file.js`, be sure these can resolve to a file also, because if those imports fail, your script will also fail, as a debugging tip try to comment imports until you find the guilty one 😝

[2018-06-14 02:25] jgilm opened #681 "StartSoftwareTiggerAsync() needs to be called"
It is not called out here or under Getting Started, however, I was not getting any DataReceived events until ClaimedBarcodeScanner.StartSoftwareTriggerAsync() was called. So now I do .EnableAsync() followed by .StartSoftwareTiggerAsync() and now I am getting DataReceived events. This should be called out somewhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-06-14 06:17] dr-pain commented on #661
stevewhims, anyway - thank you for your answers.

[2018-06-14 06:57] kubakista commented on #636
It works the same way.

It is just identified as "LeftWindows" virtual key on KeyDown/Up events.
Real "GamepadHome" cannot catch at all.

[2018-06-14 07:30] MonneOnrust commented on #678
I just get an empty string back in that case.

________________________________
From: McLean Schofield <notifications@github.com>
Sent: Wednesday, June 13, 2018 11:41:59 PM
To: MicrosoftDocs/windows-uwp
Cc: MonneOnrust; Author
Subject: Re: [MicrosoftDocs/windows-uwp] Can't get a Microsoft Store ID key (#678)

What exception do you get if you pass in any real string value to the publisherUserId par

[2018-06-14 09:46] Bodie37 opened #682 "Microsoft Store Error Code = 0x80D02017"
Just wanted someone to identify this error code
Microsoft Store -Not Updating Installing
Currently at 23 APPS waiting and getting bigger by the day
Only really noticed it when bought the game online AgeOfEmpires Definitive from Microsoft.
It refuses to install and like all the others refuses to go forward.
I have a good internet connection with no other IT issues
I have a ton of storage free too
F

[2018-06-14 12:50] JackDetrick commented on #677
I use the “Consume Windows Runtime Extensions” set to YES, so that my app will recognize a referenced winmd file. If the flag is set to NO the compiler gives me
“namespace does not exist” even though my app has set a reference to the winmd file.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Steven White <notifications@github.

[2018-06-14 14:14] alporuban opened #683 "Hard to wrestle with"
This facet of UWP needs an overhaul! Please streamline printing in UWP Apps. It's hard to get the content aligned properly while wrestling with Grid Rows and LinkedContainers. Printing via 'Microsoft Print to PDF' creates a perfect version of the document which also prints perfectly. Why not fix this? I currently have to ask the User to Print to PDF because in the App I was unable to get the outpu

[2018-06-14 14:48] TerryWarwick commented on #681
Thank you for the feedback.  Will add step 8 to the Getting Started topic to indicate that you must call StartSoftwareTriggerAsync() to begin scanning.  You should see this update shortly.

[2018-06-14 14:49] TerryWarwick commented on #680
Thank you for the feedback.  Updating Step 4 sample to refer to the correct property of BarcodeScanner.VideoDeviceID and remove the duplication.  You should see this update shortly.

[2018-06-14 16:14] mcleanbyron commented on #682
Hello - I'm sorry you're encountering an issue installing apps/updates from the Store. The article you're commenting on is specifically about error codes that developers might encounter while they implement in-app purchases in their apps, and therefore it is out of scope for the issue you're encountering. For info about support options for Store issues like the one you're encountering, please visi

[2018-06-14 16:14] #682 closed, assigned to mcleanbyron

[2018-06-14 16:47] JaDaar opened #684 "Good Explanation"
Usually MS doc is too academic, or has non-real world examples but this was very clear and easy to understand.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83129a11-6821-456a-9fa0-59308e05b73c
* Version Independent ID: 0c95fe98-6605-3026-3224-f76c23557efb
* Content: [Layout panels for Universal Windows Platform (UWP)

[2018-06-14 18:31] IgorX2 opened #685 "ControlChannelTrigger with WebSockets not working"
The ControlChannelTrigger with WebSockets example is not working and throwing an exception when a connection is established. The example in its presented form is not usable and has to be modified to even compile.

Details are available in the related [StackOverflow question](https://stackoverflow.com/questions/50860072/using-web-sockets-in-uwp-background-tasks).

---
#### Document Details

⚠ *Do n

[2018-06-14 19:15] stevewhims commented on #677
Hi, @JackDetrick. Personally, I think it's best to think of “Consume Windows Runtime Extensions” as meaning "This project uses C++/CX in some way". I would recommend not setting that option in a pure C++/WinRT project (pure in the sense that it uses C++/WinRT but it doesn't also use C++/CX). The project that the tutorial walks you through creating, and the C++/WinRT PhotoEditor sample app, are bot

[2018-06-14 19:17] rextanka opened #686 "typo in example"
maybe related to #677

The .idl example for MainPage seems to have a typo. In the doc it declares a class in the following namespace

namespace BookstoreCPPWinRT

A series of compile errors will be generated in VS if the class is declared in this namespace.

Severity	Code	Description	Project	File	Line	Suppression State
Error	MIDL2025	[msg]syntax error [context]: expecting &lt; near "MainViewModel"

[2018-06-14 19:31] rextanka commented on #686
It's the MainPage.idl example at this location in the doc:

https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/binding-property#add-a-property-of-type-bookstoreviewmodel-to-mainpage

[2018-06-14 19:58] mcleanbyron commented on #678
To resolve your issue, I recommend that you use one of the developer support options at https://developer.microsoft.com/en-us/windows/support (this repo is for the docs, and isn't an official support channel). The information I have so far indicates that the docs are correct and I know that other developers have used this successfully in the past. However, I'm still following up with the engineeri

[2018-06-14 20:01] stevewhims commented on #686
Thanks, Nick! I've fixed that typo (and also just generally updated the tutorial to match the current VS template). I appreciate you spotting this and letting me know, apologies for the typo! I'll respond to the other thread, too, in case this is the root cause. Thanks again! ~Steve

[2018-06-14 20:04] stevewhims commented on #677
@JackDetrick, in #686, Nick points out a typo I made in my code listing for MainPage.idl. It's possible that my typo is tripping you up (although, you did say that it's BookSku.idl that's causing problems, and not MainPage). In any case, I've corrected and updated the topic and I just merged it into master. I expect that change to be live within 24 hours. As I say, I don't know whether it's german

[2018-06-14 20:25] tiagoshibata commented on #643
My imports seem to always fail silently. I have an empty HTML page:

[code]

And two files, `main.ts`:

[code]

and `imported.ts`, which is an empty file. The include path seems correct (IntelliSense suggests this path and it's successfully transpiled into JS). Nothing happens if I run this project (no exception or message, and breakpoints in main.ts aren't hit). If I comment the `import './import

[2018-06-14 20:38] ginami commented on #684
Hi @JaDaar -- thank you so much for your feedback!

[2018-06-14 20:38] #684 closed, assigned to nobody

[2018-06-14 21:16] Noemata opened #687 "Warning: MIDI API is still unusable."
Since the initial release of the new MIDI API back in 2014 during the early days of Windows 8.x, this API has had a serious device enumeration flaw, and a crippling inability to transmit SysEx messages.  Microsoft has repeatedly promised to fix this.  It's 2018, 4 years out from when these flaws were first identified, and 3 years out from when these flaws became common knowledge and we still wait

[2018-06-14 21:57] drewbatgit commented on #573
Thank you for identifying this issue and bringing it to our attention! The following note has been added to the article:

"Windows 10 N and Windows 10 KN editions do not include the media features required to use MediaPlayer for playback. These features can be installed manually. For more information, see Media feature pack for Windows 10 N and Windows 10 KN editions."

[2018-06-14 21:57] #573 closed, assigned to drewbatgit

[2018-06-14 22:56] Bodie37 commented on #682
Hello Sir

Thank you
I realise that but just thought it was worth asking as just banging my head
around on this one.

Take care

M

On Thu, 14 Jun 2018 at 17:14, McLean Schofield <notifications@github.com>
wrote:

[2018-06-14 23:55] bryaan commented on #458
Actually I think I found a way though BrokeredProxy but have not tried it yet.  The platform limitation is one of security but not capability.  It's understandable on mobile but not on Desktop.  Many people want to build Desktop only, side-loaded is fine, apps using UWP, but those limits turn them away.  Hope it's just a matter of time before the team gets green-light to allow full IPC, or at leas

[2018-06-15 01:17] stevewhims commented on #685
Thanks for the heads up, Igor, and my apologies for the issues with the topic. I'll take a look at what's going on here with a view to fixing it. I'll report back when I have progress. ~Steve

[2018-06-15 02:25] AngelMunoz commented on #643
@tiagoshibata the imports inside js files also need to include the extension and have to include the URL from the root page
`import '/js/imported.js'`, with typescript I haven't really tried but I guess it is a similar case

Also if there are imports inside the imported files that are not resolving, it will also fail silently as far as I have tested

[2018-06-15 03:29] tiagoshibata commented on #643
I tried some variations (including `import 'js/imported.js'`) and they fail when transpiling to JS (it checks the import paths when transpiling and shows these as invalid). I'll try `import '/js/imported.js'` when I'm back in the office. I might give up and use plain JS if typescript is not working.

[2018-06-15 08:59] SilverSilence opened #688 "Accelerator with Backspace & Enter"
In my application the accelerator that uses VirtualKey.Back doesn't work. Is this intended, or is that Key reserved for other default behaviour? If so, can this be mentioned in the documentation? Also, if I have an accelerator that uses the Enter-Key but the focus is on a button (in the same UI), only the Button Click event is triggered. Can this behaviour be changed somehow, or do I have to overr

[2018-06-15 14:02] AngelMunoz commented on #643
@tiagoshibata here are some samples I was working on, these are basically just boilerplates/templates [Angularjs](https://github.com/AngelMunoz/Angularjs-ES2015-UWP) and [WinJS](https://github.com/AngelMunoz/WinJS-ES2015-UWP)
perhaps these shed some light, also these are just javascript, no typescript sorry ☹️

[2018-06-15 14:21] asamsonov commented on #623
I have updated the xbox up to 10.0.17134.3036
I turned it into dev mode
I am trying to open websocket connection using wss://console_ip:11443/ext/remoteinput
@kubakista, am I using the correct endpoint?
What library/tool do you use to setup connection and make calls?

[2018-06-15 21:54] NPadrutt opened #689 "Wrong variable"
There seems to be a wrong variable for the store upload:

$(Build.ArtifactStagingDirectory)\
AppxPackages\MyUWPApp__$(AppxVersion)_x86_x64_ARM_bundle.appxupload

I get an error with that, that there is no package found.  According to the GitHub page it should be:  $(SYSTEM.ARTIFACTSDIRECTORY)\**\*.appxbundle

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-06-16 13:37] dongle-the-gadget opened #690 "Using Add-on name"
I want to use the add-on name so it won't mistake to any other add-ons. I think the older Windows.ApplicationModel.Store will help me that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a81e5326-08dd-4558-549e-9854ab651307
* Version Independent ID: f90cf347-0df0-28f1-1752-567815608666
* Content: [Enable in-app purchas

[2018-06-17 15:25] jcapellman opened #691 "Missing Semi-Colon"
Under the Querying the media libraries section, in the example it is missing a trailing semi-colon on:
queryOption.FolderDepth = FolderDepth.Deep

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17de106b-3ff1-091d-568e-fe80e07469c6
* Version Independent ID: be301fb5-d302-e06d-4bdd-5e857e02c3f2
* Content: [Files and folde

[2018-06-18 08:28] nguyenthanhliemfc opened #692 "How to pick Videos, Pictures and Musics on another folder not KnownFolder?"
Thank for your document. I have follow this doc to access KnownFoler.
How to pick Videos, Pictures and Musics on another folder not KnownFolder? (Driver D:\ E:\)
Thank you!

---
#### Chi tiết tài liệu

⚠ *Không chỉnh sửa phần này. Điều này là bắt buộc cho docs.microsoft.com ➟ Vấn đề khi liên kết GitHub.*

* ID: 17de106b-3ff1-091d-568e-fe80e07469c6
* Version Independent ID: be301fb5-d302-e06d-4bdd-

[2018-06-18 14:03] mcleanbyron commented on #690
Thanks for your feedback. Please have a read through [this discussion in our docs](https://docs.microsoft.com/en-us/windows/uwp/monetize/in-app-purchases-and-trials#how-to-use-product-ids-for-add-ons-in-your-code) if you haven't done so already - I think this directly addresses your concern. Assuming that by "add-on name" you're referring to the [product ID](https://docs.microsoft.com/en-us/window

[2018-06-18 14:03] #690 closed, assigned to nobody

[2018-06-18 14:16] protogrid opened #693 "This submission failed with error code(s) 5001 . More info about the error(s) can be found here."
After clicking on "here" i got forwarded to: https://docs.microsoft.com/en-us/windows/uwp/publish/resolve-submission-errors.

I can't find any information concerning error 5001 there...

[2018-06-18 16:58] dandresky opened #694 "How to access scan response data"
I have set the watcher scanning mode to active and have confirmed on my peripheral device (sensor based on Nordic SDK) that a SCAN REQUEST was received and that a SCAN RESPONSE was transmitted. However, I am unable to access the SCAN RESPONSE in my UWP application. I tried adding a test to my OnAdvertisementReceived event handler:

BluetoothLEAdvertisementType advertisementType = eventArgs.Adverti

[2018-06-18 17:30] JnHs commented on #693
This error occurs when one or more of the packages that you added in the submission is corrupt. You'll need to remove the newly added package(s), rebuild the app in Visual Studio, and upload the newly-created package(s). We'll update the error message to make this clearer, thanks for mentioning it!

[2018-06-18 17:30] #693 closed, assigned to JnHs

[2018-06-18 17:36] serenaz commented on #433
Ok! Can you explain what kind of TabNavigation behavior you'd like to see in the NavigationView? TabNavigation seems to work fine in NavigationView for me.

[2018-06-18 17:51] laurenhughes commented on #691
Thanks for the catch! I'll get this updated.

[2018-06-18 17:51] #691 closed, assigned to laurenhughes

[2018-06-18 18:25] laurenhughes commented on #692
@nguyenthanhliemfc, UWP apps have some restrictions on how files can be accessed. If you're trying to access a file that's not in the [KnownFolders](https://docs.microsoft.com/uwp/api/Windows.Storage.KnownFolders) list, I'd recommend using the File Picker to open it. See the [Open files and folders with a picker](https://docs.microsoft.com/windows/uwp/files/quickstart-using-file-and-folder-pickers

[2018-06-18 22:36] pantelisGeo90 opened #695 "Is there a WinJS implementation of swipe?"
I was wondering if there is a WinJS implementation of this fantastic functionality.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18985421-bd32-232a-a541-9857f2f6e328
* Version Independent ID: d4e8b58e-76d5-37c6-c121-c4d92bfcc101
* Content: [Swipe - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/desig

[2018-06-18 23:42] normesta commented on #490
Closing this issue as the link that Bricelam provides above captures the blocking issue. It's sounding like a solution is in the works that will unblock store submission hopefully by RS5.

[2018-06-18 23:42] #490 closed, assigned to normesta

[2018-06-19 22:14] eliotcowley commented on #610
Hi @rafaP, apologies for the late reply on this. I'll investigate and try to get in touch with the feature team, and get back to you.

[2018-06-20 08:46] cimaja opened #696 "Affirmation button position"
Have we done user research on the position of the primary/affirmation button. Windows is the only platform to recommend this while MacOS guidelines, iOS guidelines, Material guidelines and other large design system (IBM, Atlassian, Shopify...) are all recommending the opposite, and put the primary action on the right on Desktop and on Mobile.

---
#### Document Details

⚠ *Do not edit this section

[2018-06-20 17:03] ghost opened #697 "Get Error when adding BookstoreViewModel Property to MainPage.idl"
This is the error i got when try to add the view model to mainpage.idl and rebuild

Error	MIDL2025	[msg]syntax error [context]: expecting &lt; near "MainViewModel"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4db0aab-b906-9dec-381c-ceccc1e90c45
* Version Independent ID: 493a4c50-ffa1-5e32-c757-92306c952887
* Content

[2018-06-20 21:15] aablackm commented on #605
Hello gaotian. You can use Buffer from Windows.Storage.Streams. Although, Connected Storage methods will expect an IBuffer base class object.

Here is a code snippet which uses Windows.Storage.Streams.DataWriter to create the stream and get the Ibuffer for Connected Storage calls.
[code]

I'm not sure if this solves your question, but you should try asking coding questions like this one on a devel

[2018-06-20 22:01] dyyMsft commented on #433
Sure thing Serenaz,

When you set TabNavigation="Local" to the NavigationView control, the behavior while using the app via keyboard is you should be be able to tab cycle through the menu items without having to use the keyboard arrow keys. I haven't verified it in a while, but last time I tried, it didn't work.

[2018-06-20 22:16] stevewhims commented on #697
Hi, @JK-IT, you'll need to add the "import "BookstoreViewModel.idl";" to MainPage.idl in order to resolve that error. That import IS in the code listing, but it's not obvious, so I'll make it clearer in the topic. Thanks for the heads up! :) -Steve

[2018-06-21 01:55] AngelMunoz opened #701 "Javascript Version"
Will there be a javascript version of this?
I tried to look for this API with the Visual Studio 2017 intellisense but I was unable to get it
with the Empty AppTemplate

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9554b9f2-2f49-1833-1143-0103c18c37c8
* Version Independent ID: ef28f9ce-bd72-0435-6238-95d574eabee1
* Con

[2018-06-21 03:26] Blame4 commented on #375
Ok, I know get current frame is easy in C#, but C++/Winrt is not so. I'm stuck.

[2018-06-21 07:37] liushigit opened #702 "`(string)args.InvokedItem)` may not work"
`args.InvokedItem` should be a `NavigationViewItemBase` or `NavigationViewItemBase` . Is the cast to `string` feasible? Following is the snippet from the doc.

     var item = sender.MenuItems.OfType&lt;NavigationViewItem&gt;().First(x =&gt; (string)x.Content == (string)args.InvokedItem);
     NavView_Navigate(item as NavigationViewItem);

---
#### Document Details

⚠ *Do not edit this section. It

[2018-06-21 11:10] VivekSingh573 commented on #612
i also got the first and the last frame. in composition .
Any buddy have any idea ?
Airborne76 are you resolved ?

[2018-06-21 11:10] frednora opened #703 "x86 on arm ?"
Thanks you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f9178a8-79f8-e100-a216-a1b28c6879a4
* Version Independent ID: c8c5483f-c303-5b15-544e-a104c4d51303
* Content: [How x86 and ARM32 emulation work on ARM - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/porting/apps-on-arm-x86-emulation)
* Conten

[2018-06-21 16:06] ghost commented on #697
Thanks @stevewhims, it works for me. And i would like to add a tip that we should declare all classes in the same namespace. The error happenes when i try to fix by declaring a different  namespace.

[2018-06-21 17:13] serenaz commented on #375
@stevewhims Perhaps you can help translate this code for C++/WinRT?

[2018-06-21 17:36] ginami commented on #703
Thank YOU, @frednora -- let us know if you have a specific question or comment about this page.

[2018-06-21 17:36] #703 closed, assigned to nobody

[2018-06-21 17:58] kevinb67 opened #704 "C# code in Recording.cs Getting Error"
I copied the C# code in Recording.cs from the document article as well as the markup language in the MainPage.xaml page. I tried to build and debug the solution and got the following message:

Inconsistent accessibility: property type 'Recording' is less accessible than property 'RecordingViewModel.DefaultRecording'

The problem appears to be in this code:

public class RecordingViewModel
    {

[2018-06-21 18:35] aablackm commented on #639
Closing this issue for now as cannot reproduce.

[2018-06-21 18:35] #639 closed, assigned to KevinAsgari, aablackm

[2018-06-21 18:36] aablackm commented on #488
Document has been updated with more comparison information. Closing this Issue.

[2018-06-21 18:36] #488 closed, assigned to KevinAsgari, aablackm

[2018-06-21 18:37] aablackm commented on #485
Article has been updated to include some formatting information. Closing Issue.

[2018-06-21 18:37] #485 closed, assigned to KevinAsgari, aablackm

[2018-06-21 18:47] serenaz commented on #433
Gotcha - thanks for clarifying! We've filed the bug and hope to fix it in the next Windows 10 release.

[2018-06-21 18:47] #433 closed, assigned to serenaz

[2018-06-21 20:01] Licantrop0 commented on #702
Yes, it is feasible as long as the content is actually a string.
Anyway, here a fix that will use the Equals operator to avoid unnecessary casts:
https://github.com/MicrosoftDocs/windows-uwp/pull/705/files

[2018-06-21 20:22] #702 closed, assigned to serenaz

[2018-06-21 21:18] stevewhims commented on #375
To address these questions, as @serenaz says, you can define the On_BackRequested function either in your Page class or in your App class. For the C++/WinRT question, within about 24 hours from now I expect this topic to refresh to show C++/WinRT code examples (which show the use of On_BackRequested in both places). Until then, here's how you get the Frame in the App class in C++/WinRT (in your On

[2018-06-21 21:22] stevewhims commented on #697
Good point, @JK-IT, I've pushed new changes to the topic along the lines you recommend.

[2018-06-21 22:50] eliotcowley commented on #610
Hi @rafaP, have you tried compiling with IL2CPP as the scripting backend? This should make all .NET APIs functional in UWP. As noted in the doc, you can change it in **File > Build Settings**, select **Universal Windows Platform**, and then **Player Settings**. Under **Other Settings > Configuration**, open the **Scripting Backend** drop-down, and select **IL2CPP**.

[2018-06-21 23:02] eliotcowley commented on #612
Hi @Airborne76, apologies for the delay here. I'll get in touch with the feature team and see if they can diagnose the issue. I would probably need to see more code to know for sure, but if I had to guess, it could be a problem with the frame pool not being big enough. In the sample we set it to contain only 2 frames, so if you copied from that, it might explain why your video only has 2 frames.

[2018-06-22 08:06] rafaP commented on #610
Hello, I already tested it with IL2CCP, but the result is the same.

Cumprimentos, Rafael Pereira

De: Eliot Cowley
Enviado: quinta-feira, 21 de junho, 23:50
Assunto: Re: [MicrosoftDocs/windows-uwp] Unity UWP connection to SQL Server Hololens (#610)
Para: MicrosoftDocs/windows-uwp
Cc: rafaP, Mention

Hi @rafaP<https://github.com/rafaP>, have you tried compiling with IL2CPP as the scripting backend

[2018-06-22 12:17] sathiyasankar commented on #463
Hi @Serenaz, Do you have any update on this issue?

[2018-06-22 15:40] gandarez opened #707 "Wrong spelling"
Should be: "Tutorial: Create an user interface"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fc1c132-3cfa-1a08-0726-214110c8d23d
* Version Independent ID: 7ddf3871-c4a1-ae0a-9c03-25ccf4934cf2
* Content: [Create a user interface tutorial - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/design/basics/

[2018-06-22 16:13] kwiqniss opened #708 "your escape character is showing"
&lt;folder&gt; should be &lt;folder&gt; in the section for fixing pe header files

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c403f296-ed93-2625-e414-f009194bf118
* Version Independent ID: aa0212c4-481c-7eaf-233d-c5b3f286d004
* Content: [Package an app using the Desktop App Converter (Desktop Bridge) - UWP app devel

[2018-06-22 18:28] lisaweixu opened #709 "Set up the audio feed"
About "Set up the audio feed", turn on the microphone in the manifest is not enough. Users has to allow the app to access the microphone from
setting-&gt;privacy-&gt; Choose which apps can access your microphone.

If the user has not done that, WASAPI audio client gives weird response of format not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2018-06-22 19:00] crutkas opened #710 "code doesn't compile nor run on composition/lighting."
When using the FancyOrangeSpotLight, it doesn't work on https://docs.microsoft.com/en-us/windows/uwp/composition/lighting.  If i try the doc from https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.media.xamllight it works.

Near identical code but xamllight doc seems to be functional and the lighting doc doesn't

[2018-06-22 20:05] jwmsft commented on #707
@gandarez, thanks for the feedback. In this case, because the 'u' in 'user' makes the sound of the letter 'y', it's actually correct to use 'a' instead of 'an'. Here are some links for more information: https://owl.english.purdue.edu/owl/resource/591/01/
https://www.grammar.com/a-vs-an-when-to-use/

[2018-06-22 20:05] #707 closed, assigned to jwmsft

[2018-06-22 22:28] rchoudhary opened #711 "Typo"
`&lt;!—Dictionary2.xaml --&gt;`

should be

`&lt;!-- Dictionary2.xaml --&gt;`

so that syntax highlighting treats it as a comment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6822f33-819b-ae6f-95cd-04861fa46dca
* Version Independent ID: 12e5988d-2aa1-0284-4f75-3b0cfb17177c
* Content: [ResourceDictionary and XAML re

[2018-06-25 05:34] greyghostbrewery opened #712 "Sample for paired GATT Server"
Can you please provide a sample for a GATT server that requires pairing in order to read/write to its characteristics - or a sample that implements some level of security?  At present it appears there is no security available for GATT servers, as any BLE client can read/write to the published characteristics.

My knowledge of BLE is fairly limited, but it doesn't seem right that you can only creat

[2018-06-25 07:22] gsingh11 commented on #205
@normesta Is that issue resolved now? Also can you send the Link for the mentioned issue / Documentation.

[2018-06-25 17:06] eliotcowley commented on #610
Unity doesn't actually have support for System.Data.SqlClient by default--I had to manually add the DLL to my project. I did this by searching in the directory where I installed Unity for **System.Data.SqlClient.dll**, then creating a folder in my project called **Plugins** and copying the DLL over. Once I had done that, everything compiled correctly, both in the editor and when I built for UWP. I

[2018-06-25 17:06] #610 closed, assigned to eliotcowley

[2018-06-25 17:37] eliotcowley commented on #622
Hi @ZehCastro, sorry for the late reply. I'll get in touch with the feature team and see if they can help with this.

[2018-06-25 17:39] TylerMSFT commented on #701
Hi Angel,
Multi-instancing works with Javascript/WWA apps. You'll need the manifest attribute:

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"

[2018-06-25 17:44] TylerMSFT commented on #701
The commenting system consumed the attribute I tried to paste. See the topic regarding desktop4:SupportsMultipleInstances="true"

[2018-06-25 20:01] AngelMunoz commented on #701
Thanks @TylerMSFT , I did try what you said. I'm going to try again and publish a sample repo in case I can't make it work

[2018-06-25 20:54] eliotcowley commented on #612
After speaking with the feature teams, it looks like the right APIs for this would be [MediaStreamSource](https://docs.microsoft.com/uwp/api/Windows.Media.Core.MediaStreamSource) and [MediaStreamSample](https://docs.microsoft.com/uwp/api/windows.media.core.mediastreamsample). The method you'll need, **MediaStreamSample.CreateFromDirect3D11Surface**, is currently being flighted, so you'll need to b

[2018-06-25 21:27] eliotcowley commented on #622
On the [Registry data for game controllers](https://docs.microsoft.com/windows/uwp/gaming/registry-data-for-game-controllers) doc, the first key listed, **Disabled**, will disable the game controller if set to 1. However, this is a very dangerous thing to do, because it disables the game controller for _all_ apps, so you have to remember to remove it. Additionally, this only affects apps that are

[2018-06-25 21:37] normesta commented on #708
Thank you for finding this! I've updated the doc and the change should appear live tomorrow.

[2018-06-25 21:45] ZehCastro commented on #622
Thanks, that does help.
It would be really helpful to include more examples of setups like this:
`https://docs.microsoft.com/en-us/windows/uwp/gaming/registry-data-for-game-controllers#example-registry-file`

[2018-06-25 22:13] eliotcowley commented on #622
Unfortunately, they don't have any other examples to give me. Are you trying to add input support to your game controller? I can put you in touch with someone to help if so.

[2018-06-26 02:26] Nandajit opened #715 "On Apache server."
give the configuration for apache server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3eebf940-9282-41a2-f236-55984ff76aeb
* Version Independent ID: a1b3c572-c6ba-eff7-637d-cbcb20801c57
* Content: [Create an App Installer file with Visual Studio - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/packa

[2018-06-26 03:21] Airborne76 commented on #612
@eliotcowley thanks, that helps me a lot.

[2018-06-26 03:31] dongle-the-gadget opened #716 "Device Family"
Is RemoteSystemSessionController works with Windows 10 IoT Core?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98d6519e-4d2e-2fee-0a0b-546d2db8d183
* Version Independent ID: f46543c5-a76f-1a86-12c0-c39d24104dfc
* Content: [Connect devices through remote sessions - UWP app developer](https://docs.microsoft.com/en-us/wi

[2018-06-26 03:48] VivekSingh573 commented on #612
Thanks for the help

On Tue 26 Jun, 2018, 8:51 AM Airborne, <notifications@github.com> wrote:

[2018-06-26 07:58] rafaP commented on #610
I have done that and it works on Unity editor, but don't work on hololens. I will use services to do this, because it's not working.

Cumprimentos, Rafael Pereira

De: Eliot Cowley
Enviado: segunda-feira, 25 de junho, 18:06
Assunto: Re: [MicrosoftDocs/windows-uwp] Unity UWP connection to SQL Server Hololens (#610)
Para: MicrosoftDocs/windows-uwp
Cc: rafaP, Mention

Unity doesn't actually have supp

[2018-06-26 08:34] Snipsnoop opened #717 "No mention of api/networking/ipv4config"
Bit silly there is no mention of ipv4config.

Can be found at api/networking/ipv4config
Which is real handy for changing IP and switch between DHCP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae1ab644-ee7d-3dec-cd0f-cbb1e4d8b6ac
* Version Independent ID: 97eecc36-8e2e-d4c7-1ecb-948e0846bda5
* Content: [Device Porta

[2018-06-26 16:49] drewbatgit commented on #599
Thank you for your feedback. I confirmed with the feature team that polling the CurrentBreak property is unnecessary. This text has been removed from the article.

[2018-06-26 16:49] #599 closed, assigned to drewbatgit

[2018-06-26 17:09] AngelMunoz commented on #701
@TylerMSFT
I've done the XML part
but most likely what I don't fully get is how to do this part
[code]
When I try to check on the Javascript version I don't find any information related to Appinstance

on a recent try I even got this warning in the console
![not attaching](https://i.imgur.com/joOQobf.png)
this is a new clean app with the javascript empty template
you can check my repro case here (

[2018-06-26 19:05] #622 closed, assigned to eliotcowley

[2018-06-26 22:39] normesta commented on #708
Ok Fixed now. Closing issue. Thanks again!

[2018-06-26 22:39] #708 closed, assigned to normesta

[2018-06-27 06:00] Powerhelmsman opened #718 "some docs lost"
The issue was created by @CaliforniaChao from https://github.com/MicrosoftDocs/feedback/issues/470
At the end of the page, "Encode a metadata stream“ part does not exist. This looks like a un complete document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ff303e3-1cf5-0dee-be29-837bb7c3679b
* Version Independent ID:

[2018-06-27 08:28] julienshepherd opened #719 "Format and details for caution"
"Caution  An existing limitation of the Windows Runtime XAML implementation is that you cannot animate your custom attached property."

Isn't it more useful if you put this in a dialog with red background, similar to how info dialogs have a blue one?
"You cannot animate your custom attached property". Does this mean you cannot set it through a style? I tested on my side and this was the case. If t

[2018-06-27 09:36] oliverluethi opened #720 "Minimized application on GraphicsCapturePicker selection does not work as expected"
Hi there

I'm working with the new GraphicsCapturePicker in our UWP application. We're trying to capture a screenshot from a selected application.

Code was taken form this sample: [Sample](https://docs.microsoft.com/en-us/windows/uwp/audio-video-camera/screen-capture)

If the application stays minimized during the selection and capturing process, no canvasBitmap is created.
Is it possible to acti

[2018-06-27 12:12] NPadrutt commented on #689
I have to correct myself, there was another reason that the package was not found. In the end I used this path declaration:

$(Build.ArtifactStagingDirectory)\AppxPackages\*.appxupload

Also, in my case the identification via the name didn't work, so I had to use the ID.

[2018-06-27 12:27] ibadullah opened #721 "Dead Link"
https://docs.microsoft.com/en-us/api/windows.ui.xaml.media.animation.navigationtransitioninfo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70caee7e-f3f7-a156-a0a2-bc39f304cbdc
* Version Independent ID: 00714360-83d8-554f-e4c2-c66926e270fb
* Content: [Page transitions in UWP apps - UWP app developer](https://docs.micr

[2018-06-27 12:33] nguyenthanhliemfc opened #722 "I still not get payment after few month?"
Sorry because I don't know where to contact support about payment.
My Payout summary Microsoft Advertise over 100$, Why I still not get my payment. I don't turn on "Payout hold status"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52b80a63-ba2e-ea74-83d3-c63fa1d4904f
* Version Independent ID: 5e8b56c6-a964-1d5d-c040-5

[2018-06-27 12:44] moyanming opened #723 "Is there should be use the C++/WinRT instead of the C++/CX for the samples?"
Hi all,
I want to create the DLL by use the C++/WinRT, but there is only the C++/CX within the topics. Is there should be update the docs by use the C++/WinRT for the topics or where to find the samples about how to create DLL use by the C++/WinRT?

Best regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b317978e-

[2018-06-27 16:49] JnHs commented on #722
Please open a support request at https://developer.microsoft.com/windows/support so that we can look into this for you. (This link is also available in the dashboard, under the question mark icon near the top right corner). From that page, select "Contact us", then choose "Dashboard issue" and Payout".

[2018-06-27 16:49] #722 closed, assigned to JnHs

[2018-06-27 17:20] jwmsft commented on #711
Thanks. This is fixed.

[2018-06-27 17:20] #711 closed, assigned to jwmsft

[2018-06-27 19:50] jwmsft commented on #695
@pantelisGeo90, no, there is not a WinJS implementation of the swipe controls. Sorry.

[2018-06-27 19:50] #695 closed, assigned to jwmsft

[2018-06-27 19:51] #642 closed, assigned to jwmsft

[2018-06-27 21:47] eliotcowley commented on #720
Thanks for the feedback, @oliverluethi. I also noticed that the bitmap is not created when the picked app is minimized, you have to actually have it open. I'll check with the feature team and see what they say.

[2018-06-28 01:17] harvinders opened #724 "Extending into titlebar makes the app non-draggable"
I am using WTS 2.2 after following instruction was able to extend the view into titlebar. However, I am no longer able to drag the window.
Target - 17134
MinTarget - 16299
OS - 16299

ShellPage.xaml
[code]
ShellPage.xaml.cs

[code]
App.xaml.cs

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 745ab6c5-cfbe-a56f-dcc

[2018-06-28 01:33] aablackm commented on #674
Thanks for the heads up!
The page has been updated with information to lead you to the XDK and how to get it.

[2018-06-28 01:33] #674 closed, assigned to KevinAsgari

[2018-06-28 03:54] VivekSingh573 commented on #612
Hey Dear Eliot ,

Thanks u for help and focus on this problem but Still Problem not closed ,

First and last frame captured only ...

can you please assist me .

On Tue, Jun 26, 2018 at 8:57 PM, Eliot Cowley <notifications@github.com>
wrote:

--
*Thanks & Regards *
*Vivek Singh*
*Cell; 9810523056*

[2018-06-28 04:38] VivekSingh573 commented on #612
Hi Airborne76 , Problem Still not closed ,only  First and Last Frame are getting in Video ...

[2018-06-28 10:21] Chalghouma commented on #612
Hello

It didn't change even by modifying the amount of frames in the framepool ?

Could you please share the rest of your code ?

[2018-06-28 11:22] buricanu opened #726 "Does non responsive designed application developed for desktop only can be uploaded in Microsoft Store ?"
In this section, we are presented the responsive techniques, but I cannot find anywhere I it's possible to upload a non responsive application developed for desktop only to Microsoft store

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7371c6d4-c3b8-f6ed-dc2c-11e62504adde
* Version Independent ID: 9f674922-6d8b-4293-75

[2018-06-28 12:11] JustinMinnaar opened #727 "The Back Button code examples don't compile"
It is unclear what your writer intended, as the back button code example does not compile.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ab5201c-d8c8-1804-a225-4420f66d77ea
* Version Independent ID: 2d217eac-b2cd-553a-970f-32bb043fc353
* Content: [Navigation history and backwards navigation (Windows apps) - UWP app d

[2018-06-28 13:08] EmmanuelDURIN opened #728 "Efficient article"
To be fixed : The await call to RestoreAsync can't be done in an async way in the constructor

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d156d985-2791-6521-331c-8d5ac9283f0e
* Version Independent ID: 794ddc4b-6660-8008-29fd-d4b696541b87
* Content: [Display a splash screen for more time - UWP app developer](https://

[2018-06-28 14:18] csorbakristof opened #729 "Mistake in tutorial: opposite AdaptiveTrigger behaviour"
I believe the &lt;AdaptiveTrigger MinWindowWidth="640" /&gt; above sets the layout into a single column exactly in the wrong case: when the window would be wide enough for the original layout.

---
#### A dokumentum adatai

⚠ *Ezt a szakaszt ne szerkessze. A szakasz a docs.microsoft.com ➟ GitHub-problémák hivatkozásaihoz szükséges.*

* ID: 80b47dbb-38b5-9d75-8df2-2300cdc25bb7
* Version Independent

[2018-06-28 18:07] Airborne76 commented on #612
Hi @VivekSingh573
I know the problem. Maybe you need  Windows Insider SDK or wait for the next update😑I have no idea now.

[2018-06-28 21:31] serenaz commented on #727
Thanks for raising the issue! `On_BackRequested()`  can handle system-level `BackRequested` events or page-level back button `Click` events, depending on how and where you want to handle backwards navigation. We'll update the code example to clarify.

[2018-06-29 03:48] VivekSingh573 commented on #612
Hi @ Airborne ,

Thanks for information , and you are doing great job.
If i got any solution then will post .

On Thu, Jun 28, 2018 at 11:37 PM, Airborne <notifications@github.com> wrote:

--
*Thanks & Regards *
*Vivek Singh*
*Cell; 9810523056*

[2018-06-29 08:33] toncho11 opened #730 "What does it mean "active license" for an add-on?"
Does it mean that the user has already bought the add-on? "active" = "already purchased" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c6876f5-833c-935e-2fad-bc1cdb9df995
* Version Independent ID: e13e512a-27f3-f55f-e2bc-2e4e5f101009
* Content: [Get license info for your app and add-ons - UWP app developer](https:/

[2018-06-29 09:11] trojanfoe opened #731 "Clarify which platforms/DirectX versions support DirectCompute."
I think you need to clarify what platforms and versions of DirectX support DirectCompute.  I believe DirectCompute is not supported on Xbox One UWP apps using DirectX 11, however I am unsure if DirectX 12 on Xbox One supports it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a64fd63b-677f-e342-f076-9f8fbd192bc3
* Vers

[2018-06-29 12:23] moyanming opened #732 "The docs of the "Author events in C++/WinRT" should be update."
For example:
According to the [Create a Windows Runtime Component (BankAccountWRC)](https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/author-events#create-a-windows-runtime-component-bankaccountwrc) , there are no Class.h and Class.cpp after rename the Class.idl to the BankAccountWRC.idl, but there are BankAccountWRC.h and BankAccountWRC.cpp appear.

Is there samples about how to ref

[2018-06-29 12:47] moyanming opened #733 "Is there docs about .idl file?"
Hi all,
It seems that the .idl file can't use the standard C++ data types when I [define the interfaces in the .idl file](https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/author-events#create-a-windows-runtime-component-bankaccountwrc). There is an Error when I use the "int" data type (the "Int32" is OK):

MIDL5148	[msg]Classic WinRT IDL constructs cannot be used in Modern WinRT IDL

[2018-06-29 18:34] mcleanbyron commented on #730
I confirmed with the engineering team that currently the StoreAppLicense.IsActive property simply means that the app is running with a valid/well-formed license issued from the Store. It doesn't really indicate anything beyond that. For example, even if the current user has an expired trial license, the IsActive property will still return true.

[2018-06-29 18:34] #730 closed, assigned to mcleanbyron

[2018-06-29 18:42] jwmsft commented on #719
@julienshepherd, thanks for the feedback. The 'caution' notes in this section were left over from the automated conversion of the old docs to markdown. I've updated them to use the 'warning ' block with the red background.

The note means you can't use a custom attached property in a Storyboard, like you would use in a VisualStateManager.

You can, however, set it in a Style. The example for [Comp

[2018-06-29 18:42] #719 closed, assigned to jwmsft

[2018-06-29 18:52] jwmsft commented on #710
@crutkas, thanks for pointing this out. The example on the composition/lighting page has been updated and should be working now.

[2018-06-29 18:52] #710 closed, assigned to jwmsft

[2018-06-29 19:09] jwmsft commented on #704
@kevinb67, this error happens if you don't make the Recording class public. By default, when you add a new class file in Visual Studio, it doesn't make the class public, so the code it generates looks like this:

[code]

You have to add 'public' to it, as shown in the code in the article:

[code]

That should resolve the error.

[2018-06-29 19:09] #704 closed, assigned to mcleblanc

[2018-06-29 19:25] stevewhims commented on #733
Hi, @moyanming, thanks for the question. If you're putting MIDL 3.0 into an IDL file, then you must use MIDL 3.0 types, which you'll recognize if you've looked at Common Type System (e.g. .NET) types. So, yes, you'll use Int32 rather than int, for example. MIDL 3.0 is documented here: https://docs.microsoft.com/uwp/midl-3/intro. You may see/hear/read MIDL 3.0 being referred to as "Modern IDL", but

[2018-06-29 21:01] LanceMcCarthy opened #734 "UnloadObject is not defined"
The UnloadObject method in the UnloadElements_Click event handler is missing from the demo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fd72927-8611-863d-99c5-66fe746ff653
* Version Independent ID: 6cf9f432-d156-443f-7f73-8fc8cfdab94c
* Content: [xLoad attribute - UWP app developer](https://docs.microsoft.com/en-us

[2018-06-29 21:05] LanceMcCarthy commented on #734
My bad, this is a Visual Studio Intellisense bug and it compiles/works fine.

[2018-06-29 21:05] #734 closed, assigned to nobody

[2018-06-29 21:05] CathyMoya opened #735 "Need more direction on how to FIND the Users page"
[Enter feedback here]
Hi, step 1 says
From the Users page, select Add users.
But you haven't told me anywhere on that page how to FIND the Users page. Please add more detail. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bf973bd-e0d9-19b0-ad24-e09a83d3a2a9
* Version Independent ID: 25d0bdd2-0487-6742-b4bd-abc

[2018-06-29 21:32] #651 closed, assigned to QuinnRadich

[2018-06-29 22:45] stevewhims commented on #732
Thank you, @moyanming, I have corrected the errors in the topic and the fix should appear on the live site next week. Thanks for letting me know about the errors! I will also take an action point to add some content somewhere showing how to consume a C++/WinRT Windows Runtime Component from a C# project. Until then, here's how to do it. You reference the winmd from the C# project in exactly the sa

[2018-06-29 22:45] stevewhims commented on #732
[code]

[2018-06-29 22:45] stevewhims commented on #732
Sorry, the xaml was stripped out by the editor but there it is above. :)

[2018-06-29 23:12] ginami commented on #731
Hi @trojanfoe--thank you for your feedback. I'm working on finding the right author to respond. :)

[2018-06-30 02:34] Leisvan opened #736 "Great article"
This is good documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffd79400-8154-9a7c-a36e-33077cfa4be9
* Version Independent ID: fafc7523-a98a-fbff-9cc1-ca74a335c3ff
* Content: [Title bar customization - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/design/shell/title-bar)
* Content Source: [

[2018-06-30 09:29] moyanming commented on #732
Hi @stevewhims,
Yes, I can consume the C++/WinRT component API from the C# UWP APP by add the reference now, which is the same way as the C++/WinRT Core App project does.

But I found that I need repeat copy of the stubs every time and rebuild after I add new public APIs into the idl file. Or, it is a better way that just copy the defination lines from the stubs, because copy and replace will lose

[2018-06-30 09:42] moyanming commented on #733
Hi @stevewhims,
Thank you for your answers.

Best regards.

[2018-07-01 09:15] harvinders opened #737 "Missing stuff in Adobe XD UI kit (progress ring and title bar)"
- In earlier versions we could see the App Titlebar with minimise, restore and close buttons, it is absent.
- Also missing is the ProgressRing control.
- There is no taskbar either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9fc7b1d-8b97-598a-f059-093d94972931
* Version Independent ID: 943e9c97-f223-4d3c-730c-a7f2

[2018-07-01 18:01] EddieLotter opened #738 "Misleading documentation about node selection."
The phrase

should be

because check boxes are not shown when single selection is enabled.
Currently the SelectedNodes property is not updated in single-select mode either, which it should be.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5ba995b-8bf3-407c-7b87-015d22d813f1
* Version Independent ID: 52c553b6-e94d-281

[2018-07-02 14:53] DanNCengineer opened #739 "missing URI from 1803 update"
Missing the URI for the Search options, which include safesearch, cloudsearch, and history settings.  Would be great to include this for image customization.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6a2ae18-080e-3470-d1c7-ab2990d4da85
* Version Independent ID: 3d0d02af-c1d7-e2e7-ba01-15e0904dc9a6
* Content: [Lau

[2018-07-02 16:06] ginami commented on #736
Thank you so much, @Leisvan!

[2018-07-02 16:06] #736 closed, assigned to nobody

[2018-07-02 16:53] mukand opened #740 "ODC Account refresh token and live account cookie"
Hi,
   I want to load the webapp into the PWA app for the ODC account. How can we get the refresh token or live account cookie through WAM API.  As currently, WAM returns the access token.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c167684-f810-f987-5383-30fd7856a0c6
* Version Independent ID: d482e60b-b261-0db4-1c

[2018-07-02 17:27] eliotcowley commented on #720
Hi @oliverluethi, unfortunately it looks like there's no workaround for this at the moment. However, this might change in the future, and I'll be sure to update the documentation if it does.

[2018-07-02 17:34] eliotcowley commented on #612
Hi folks, yeah, @Airborne76 is right, the "correct" way to do it is to use the [MediaStreamSample.CreateFromDirect3D11Surface](https://docs.microsoft.com/uwp/api/windows.media.core.mediastreamsample) method, which is currently being flighted in an Insider SDK. So you can either [install an Insider OS build](https://insider.windows.com/) and [SDK](https://www.microsoft.com/software-download/windows

[2018-07-02 17:49] VivekSingh573 commented on #612
I am waiting for your next update but I had done to save .MP4 screen
recording , just to save a sequence of images quickly.
after that made composition.clips of sequence of images, it's hardly save
your video approx 2to3 minutes processing.

I am waiting for your real process update.

On Mon 2 Jul, 2018, 11:04 PM Eliot Cowley, <notifications@github.com> wrote:

[2018-07-02 19:16] stevewhims commented on #732
@moyanming, you're right that some work with the stubs is necessary. Copying and replacing a generated stub file into your project is only the right thing to do the first time the stubs are generated. After that, as you say, you'll have implementation code in your project's copy of the stub file, so you won't want to copy and replace at the file level. What's necessary here is, as you say, to copy

[2018-07-02 20:38] mijacobs commented on #737
Thanks for the feedback--I've passed it on to the folks who create the toolkits. I'll let you know when an update is ready.

[2018-07-02 21:19] silverace99 opened #741 "No image text appears in Part 2"
Under "Part 2: Add a GridView control using the XAML editor", the only code that is not already part of the downloadable project is: ImageGridView.ItemsSource = Images;

And even after adding that, I do not see any image text as shown in the screenshot. Is this tutorial up to date?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2018-07-02 22:25] aablackm commented on #484
the "for stats of type SUM" piece was removed as it is an artifact from Stats 2013 and is not true or relevant to the subject matter of this article. Thank you for your feedback.

[2018-07-02 22:25] #484 closed, assigned to KevinAsgari, aablackm

[2018-07-03 03:02] dongle-the-gadget opened #742 "VisualStateManager code snippet is not correct"
I think VisualStateManager code snippet is wrong. Here the code I actually use:
        &lt;VisualStateManager.VisualStateGroups&gt;
            &lt;VisualStateGroup&gt;
                &lt;VisualState&gt;
                    &lt;VisualState.StateTriggers&gt;
                        &lt;AdaptiveTrigger MinWindowWidth="0" /&gt;
                    &lt;/VisualState.StateTriggers&gt;

[2018-07-03 10:57] Chalghouma opened #743 "PickSingleItemAsync() throws an Exception from HRESULT: 0x8000FFFF (E_UNEXPECTED)"
[code]

As mentioned in the title, the exception is thrown when calling PickSingleItemAsync() from a Unity-UWP Application.

I'm even able to capture & save some images in a UWP Project made from VisualStudio, but not from a Unity3D to UWP project.

Permissions are set up. But I'm not sure if it's a problem with Unity or if I'm supposed to  handle few things in the main App class

[code]

#### Doc

[2018-07-03 13:13] toncho11 commented on #468
Yes. Good idea.

[2018-07-03 17:10] jashif commented on #609
any idea how to make it work, every time it gives the error in parsing package

i have run the sample app provided in the docs.microsoft.com also
https://github.com/AppInstaller/MySampleWebApp
that also giving same error

[2018-07-03 18:32] PatrickFarley commented on #402
Hi again,

As you can see, I've added a link in the docs where you can check your system's compatibility for hardware-assisted virtualization, and I've clarified the CPU/BIOS relationship.

As for your specific questions:
- The emulator should work on both Intel VT-x and AMD.
- Yes, EVP is expected to work as well.

[2018-07-03 18:35] #367 closed, assigned to PatrickFarley

[2018-07-03 18:37] PatrickFarley commented on #451
Hi anbare,
Thank you for your feedback, I've updated the docs to better cover the brand-new-app scenario.

[2018-07-03 18:37] #451 closed, assigned to PatrickFarley

[2018-07-03 18:39] PatrickFarley commented on #534
Hi VictorDenisenko,
Thank you for reporting that, I've corrected it in the docs.

[2018-07-03 18:39] #534 closed, assigned to PatrickFarley

[2018-07-03 20:14] PatrickFarley commented on #683
Hi alporuban,
Thanks for your feedback. I'm going to reach out to some PMs who may have more insight into the issues you're experiencing.

[2018-07-03 20:46] PatrickFarley commented on #717
Hi Snipsnoop,
Thanks for your feedback. I will reach out to a feature PM and see if there is any case against documenting ipv4config here.

[2018-07-03 21:01] samirgunic commented on #402
If the emulator is based on Hyper-V then it should work with both Intel and AMD processors.

Sadly the Hardware-Assisted Virtualization Detection Tool is not compatible with Windows 10. It has not been updated for almost 10 years now.

![detector tool](https://user-images.githubusercontent.com/3742529/42243057-59aaa762-7f10-11e8-85a6-5757ef9092cb.png)

For AMD processors, there is an old detection

[2018-07-03 23:12] jashif commented on #609
i think the issue was with network isolation becz of localhost, when i hosted in azure it worked fine .

[2018-07-03 23:56] QuinnRadich commented on #742
The code snippet functions - there's no need to set a Visual State for the app's default state - but you're right in that it does the reverse of expected behavior. I'll clean it up so it behaves in the expected manner.

[2018-07-04 00:23] #676 closed, assigned to laurenhughes

[2018-07-04 00:28] extremeheat commented on #676
`Storage::StorageFolder::GetFolderFromPathAsync(abs_remote_dir).get();` seems to be what I was looking for.

It only works on absolute paths, so `GetCurrentDirectoryW()` can be used to convert a relative path to an absolute one.

[2018-07-04 01:16] awabast opened #744 "The xbox one developer mode activation app"
The Xbox one developer mode activation app looks good but I haven't used it yet I'm looking forward to using it and seeing what I can come up with,  I'm not rich so I will see if I can afford to pay the fee for it. I really hope that I can afford it,,it looks so awesome I want to make lots of programs and stuff also to be able to help others and fix my Xbox one while I'm doing it first thing I wan

[2018-07-04 02:34] awabast commented on #744
I want to be a developer but I have no idea what I'm doing

[2018-07-04 07:44] dongle-the-gadget opened #745 "2 app services"
Can I use 2 app services to communicate with 2 apps. Such as in app 1 it sends 'Hello from 1!' and that shows in App 2's UI and when App 2 send 'Hello from 2!', it does the same with App 1's UI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 728fa4a8-ade5-b31a-c07f-de82f2402a5b
* Version Independent ID: af5243e9-37a7-e

[2018-07-04 12:58] Chalghouma commented on #743
The solution is to create an AppCallBackItem, and invoke it through the UIThread

[code]
One thing I noticed, the app shouldn't be in fullscreen when the call is made, you need to resize the window a little bit, otherwise the picker won't be displayed

[2018-07-04 13:03] dongle-the-gadget opened #747 "app service error"
I copied the code here and it works well, but when I try to make my own, the background task didn't run and send message return Failure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 728fa4a8-ade5-b31a-c07f-de82f2402a5b
* Version Independent ID: af5243e9-37a7-ed2f-a535-ce3ba3779b79
* Content: [Create and consume an ap

[2018-07-05 13:46] ghost opened #748 "This is an excellent sample. Please translate Petzold 6/e samples also."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b0d8b84-01be-3ee5-d4e3-ac01e505ab2a
* Version Independent ID: b8e7ca9f-e8e7-99dc-f4c7-08d5c32e763c
* Content: [Photo Editor C++/WinRT sample application - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/photo-editor

[2018-07-05 15:59] ginami commented on #744
Thanks for your feedback, @awabast.

[2018-07-05 15:59] #744 closed, assigned to nobody

[2018-07-05 17:16] peterremote1980 opened #749 "i am unable to follow"
can't follow these step, where is it?

Go to your Account settings and click Tenants.
Select Associate Azure AD with your Dev Center account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 262768e8-ad91-7af3-1541-4f2d2f9de5ba
* Version Independent ID: cc035cc8-ce25-57c4-2d2d-389451442d98
* Content: [Associate Azure Act

[2018-07-05 17:33] serenaz commented on #721
Fixed - thanks for noticing!

[2018-07-05 17:33] #721 closed, assigned to serenaz

[2018-07-05 17:34] peterremote1980 opened #750 "why can't use company office365 account to register a microsoft dev account?"
i saw this error:

You are signed in as peter@quantr.hk. You can’t use your organizational credentials to access the Office Seller Dashboard. To continue, please sign out of Dev Center and then sign in again using the Microsoft account associated with this Dev Center account.

[2018-07-05 18:02] #727 closed, assigned to serenaz

[2018-07-05 18:45] seanocali opened #751 "How to animate?"
Can this effect be achieved using Composition API?  Setting the Visaul.RotationAxis to X or Y creates something similar except it lacks the 3D skew effect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 12c416f3-66c4-1eec-2c02-579eb90ac111
* Version Independent ID: 9a12bc7d-05d2-52e7-3978-462651a399e9
* Content: [3-D p

[2018-07-05 20:11] ginami commented on #750
Hello @peterremote1980. I'm sorry you're having trouble signing in, but we can't provide help through document issues. Please go to our Windows developer support page for assistance: https://developer.microsoft.com/windows/support
Thank you!

[2018-07-05 20:11] #750 closed, assigned to nobody

[2018-07-05 20:51] serenaz commented on #724
In Shell.xaml.cs, try removing:
[code]
Does that make your app draggable?

[2018-07-05 22:22] eliotcowley commented on #743
Hi @Chalghouma, glad to hear that you got it working! I'm afraid I couldn't follow your code, but I did manage to get the screen capture picker to pop in a Unity sample using the following code:

[code]

You're right, it needs to be called on the UI thread. I will add this to the documentation.

[2018-07-05 22:22] #743 closed, assigned to eliotcowley

[2018-07-06 01:24] greyghostbrewery commented on #712
Is anyone monitoring the comments on this article?

[2018-07-06 05:45] harvinders commented on #724
Yes, this seems to work. Why though?

[2018-07-06 09:23] samirgunic commented on #402
[Coreinfo](https://docs.microsoft.com/en-us/sysinternals/downloads/coreinfo) may be used as a replacement for HAVDT, and it is Windows 10 compatible. Coreinfo is part of Sysinternals utilities suite. It can display information related to virtualization by a simple command.

`Coreinfo.exe -v`

The output will look something like this. This shows an Intel processor example.

    HYPERVISOR      -

[2018-07-06 09:35] dongle-the-gadget opened #752 "Missing something..."
Missing Glyph, so how can we use FontIcon or TextBlock?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 633955d7-89b3-04a5-ad62-4fa860785150
* Version Independent ID: ce94b443-0257-8414-0c12-0490c0bad8b6
* Content: [Segoe MDL2 icon guidelines - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/design/style

[2018-07-06 17:16] serenaz commented on #724
When you customize title bars with SetTitleBar(), you have to define a draggable region. Please see [title bar customization](https://docs.microsoft.com/windows/uwp/design/shell/title-bar) for more info :)

[2018-07-06 17:16] #724 closed, assigned to serenaz

[2018-07-06 20:26] mijacobs commented on #752
Hi @superkid200 , can you elaborate? What glyph is missing? Or do you mean that the font is missing on your system?

[2018-07-06 20:47] mijacobs commented on #726
Thanks for the question, @buricanu! Response design is a recommendation, not a requirement. You can upload an application designed only for the desktop to the Microsoft Store. However, just because an app is only for the desktop doesn't meant it shouldn't be responsive--there are a variety of monitor sizes and resolutions. Also, the user can make the app window smaller and larger.

[2018-07-06 20:47] #726 closed, assigned to mijacobs

[2018-07-06 22:44] ethansmith91 opened #753 "Unclear API version"
Please help clarify which API version include this new component

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab995399-9262-ebc0-ec18-2cdc251b3353
* Version Independent ID: 25ff5431-d7f1-deb2-969a-87534990c09c
* Content: [Windows ML - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/machine-learning/)

[2018-07-06 23:02] raksha-git opened #754 "File Explorer APIS"
I am trying to get files in a specific folder on the device and the document doesnt how to generate the entire REST API call. For example, in the below REST API call what is "path=%5C&_=1530915183866". How does a developer generate that string ?

http://<ip address>/api/filesystem/apps/files?knownfolderid=LocalAppData&packagefullname=0e6a37bd-6d5b-47b8-837c-c95c7c6e13e9_1.0.0.0_x64__ax326asn60w6a&

[2018-07-06 23:06] raksha-git opened #755 "Unclear about encoding to access file system"
I am trying to get files in a specific folder on the device and the document doesn't how to generate the entire REST API call. For example, in the below REST API call what is "path=%5C&_=1530915183866". How does a developer generate that string ?

http://<ip address>/api/filesystem/apps/files?knownfolderid=LocalAppData&packagefullname=0e6a37bd-6d5b-47b8-837c-c95c7c6e13e9_1.0.0.0_x64__ax326asn60w6a

[2018-07-06 23:29] #742 closed, assigned to QuinnRadich

[2018-07-07 00:22] resonatevision opened #756 "C++ app example"
Do you have any plans to provide sample C++ apps using WinML? I am having issues loading my ONNX models from file in a C++ app. I am not exactly clear on how to use the StorageFile class in LoadModelFromStorageFileAsync call. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab995399-9262-ebc0-ec18-2cdc251b3353

[2018-07-07 17:24] thomasdao opened #757 "Why is this API so complicated?"
The complexity is just unbelievable. Why do we need to create so many types of tokens, juggling between so many different systems, each token with different kinds of expiry dates, to use in too many APIs? The amount of work to get this reliably done is just HUGE! Look at how Apple did this: they have just one API to verify the receipt with a secret password, and that's all.

---
#### Document Deta

[2018-07-07 23:07] ceituna opened #758 "No example of BackgroundActivatedEventArgs.TaskInstance.Task.Name in the the Background Activation Sample."
The document says "If your app has multiple background tasks, the Background Activation Sample shows how you can use BackgroundActivatedEventArgs.TaskInstance.Task.Name to identify which task is being initiated.", but I can't find an example in any of the C# files in the Background Activation Sample. I would expect something in OnBackgroundActivated in SampleConfiguration.cs.

Also, the documentat

[2018-07-08 08:02] bryaan commented on #478
Would like to add using

[code]

as showed in multiple msft docs and articles, simply does not work in VS2017.

The namespace rescap is not recognized.

[2018-07-08 12:01] kevin-jing commented on #478
Thanks, this issue is resolved. I'm use it normally. 👍

[2018-07-08 12:02] #478 closed, assigned to nobody

[2018-07-08 14:47] InnesB opened #759 "Typo"
In the first paragraph under the ‘Consistency’ heading, ‘intuitive’ appears as ‘intuative’.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a1426ac-9a20-b0a3-0ebd-8ce4b2a50882
* Version Independent ID: 771f2efb-f781-ed49-5ff0-5c95f2bc4868
* Content: [Navigation basics for UWP apps - UWP app developer](https://docs.micr

[2018-07-08 18:50] CristianKica commented on #612
How about capturing only a portion of the screen. Say a UI element only. Not the entire window with picker?

[2018-07-09 02:29] Airborne76 commented on #612
@CristianKica no idea for capturing directly, you can capture a full screen, show the image, then crop it.

[2018-07-09 11:59] moyanming commented on #732
Hi @stevewhims , thank you for your recommendation. It is useful to me.

[2018-07-09 11:59] #732 closed, assigned to stevewhims

[2018-07-09 12:38] Maldus512 opened #760 "Multi-instance app not working"
I am confused about the documentation. I have an already-functioning UWP App, and I want to allow the possibility to open multiple indipendent instances.
Is adding the "SupportsMultipleInstances" attribute to the app manifest enough for it to work? I did it, but the behaviour is the same as before: trying to open another instance results in the old one getting focus.

[2018-07-09 16:10] aablackm commented on #605
Closing for inactivity.

[2018-07-09 16:10] #605 closed, assigned to aablackm

[2018-07-09 16:22] #720 closed, assigned to eliotcowley

[2018-07-09 16:46] OsDelToro opened #761 "Replace package"
Is there a way to replace a package? When I submit the version let say 1.2.3, but I found a bug and to fix in the same build and replace, there is no way to upload or replace the 1.2.3 build (2) because the store say the version 1.2.3 was already uploaded even after removing it. Is there a way to replace a package without increasing the version number? or is there a way to use build numbers like 1

[2018-07-09 16:51] mcleanbyron commented on #757
Thanks for your feedback. I have forwarded it to the engineering team that owns this API.

[2018-07-09 16:51] #757 closed, assigned to mcleanbyron

[2018-07-09 17:18] nielscup opened #762 "Unable to upload trailer mp4"
"We couldn’t import trailer.mp4. Please make sure it’s a valid trailer file and try again."  It is a 28Mb sized .mp4 file, Why can't I upload this file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23db8a25-70fd-c3c0-0a33-f4e126a5f886
* Version Independent ID: c5678c5b-4e6d-64d0-0b37-dc4c70661e41
* Content: [App scre

[2018-07-09 19:02] Dianoya opened #763 "Improve the code"
SnippetEnumerateMidiInputDevices and SnippetEnumerateMidiOutputDevices

MIDI devices can be many. In the DeviceInformationCollection loop, the operation is repeated, which can be taken out of the loop.
I think the code will be more efficient.

This code:
[code]

Change to:
[code]

This code:
[code]

Change to:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2018-07-09 19:02] Dianoya opened #764 "Correcting errors in the code"
SnippetWatcherDestructor

In the destructor shown, the cancellation of registering the event handler for the EnumerationCompleted event was not added.

This code:
[code]

Change to:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90265caf-b1af-f015-674a-a015e3a35d65
* Version Independent ID: bf193eb6-cd09-7538-12

[2018-07-09 19:23] Dianoya opened #765 "The paragraph is repeated twice"
The paragraph is repeated twice:

In all languages, it's the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90265caf-b1af-f015-674a-a015e3a35d65
* Version Independent ID: bf193eb6-cd09-7538-12ef-da3cd0188e8d
* Content: [MIDI - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/audio-video-camera/midi

[2018-07-09 19:42] PatrickFarley commented on #716
Hi superkid200,
No, Windows 10 IoT Core does not currently support Remote Sessions or other Project Rome features.

[2018-07-09 19:42] #716 closed, assigned to PatrickFarley

[2018-07-09 20:13] PatrickFarley commented on #683
Hi alporuban,
We are going to need some more detailed information about the bugs you're experiencing. Could you give us steps that will reproduce this unexpected layout behavior?

[2018-07-09 20:43] Dianoya opened #766 "No specific description"
The manual do not show the creation of midiInPort and midiOutPort, although it is in SnippetDeclareMidiPorts code:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90265caf-b1af-f015-674a-a015e3a35d65
* Version Independent ID: bf193eb6-cd09-7538-12ef-da3cd0188e8d
* Content: [MIDI - UWP app developer](https://docs

[2018-07-09 22:53] laurenhughes commented on #760
@Maldus512 You'll also need to add a Program.cs file with a Main() function to handle activation redirection. Check out [Multi-instance activation redirection](https://docs.microsoft.com/windows/uwp/launch-resume/multi-instance-uwp#multi-instance-activation-redirection) for implementation details and a code sample.

[2018-07-09 23:51] ginami commented on #754
HI @raksha-git -- thank you for your feedback. Can you please tell me which doc you were looking at? That will help me find the right person to address your question. Thanks!

[2018-07-09 23:52] ginami commented on #755
HI @raksha-git  -- thank you for your feedback. Can you please tell me which doc you were looking at? That will help me find the right person to address your question. Thanks!

[2018-07-10 02:00] AlonikiX opened #767 "how to get bluetooth le device name without connection by using BluetoothLEAdvertisementWatcher"
Hi, I am learning bluetooth le programming on UWP and don't know how to get the device name without connection. I use `BluetoothLEAdvertisementWatcher`, but the `LocalName` of the received advertisement data is always null. I want to list all bluetooth le devices with specific service uuids, and display their names, how should I achieve this? Thanks.

[2018-07-10 05:52] santukv opened #768 "Can we get a sample app without Wix or Desktop Bridge?"
I need to see if we can accomplish without adding new components to my project.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53415734-dd31-7cf0-a82e-02566ed82396
* Version Independent ID: e5f82c08-6c9f-c628-9a45-5df000239ae4
* Content: [Send a local toast notification from desktop C# apps - UWP app developer](https:/

[2018-07-10 06:01] TheGuardianWolf commented on #756
This may be of help, I'm using this code for breadboard component detection. You can replace the relevant bits with your classes.

[code]

[2018-07-10 07:58] Maldus512 commented on #760
This is interesting to say the least.
As I said, I have added the "SupportsMultipleInstances" attribute to the manifest, and I asked the question precisely because it wasn't working on my PC. Afer installing the app on a second device though (with side loading, not through the store) I realized that I could actually open multiple instances on the other computer. So it appears the app manifest is i

[2018-07-10 10:33] JasonWei512 commented on #762
Same here! "Please make sure it’s a valid trailer file and try again."

[2018-07-10 11:02] nielscup opened #769 "Store app listing "People also like" section should be removed"
I recently updated the Windows Store listing of one of my apps when I saw the "People also like" section right above my own apps screen shots, very distracting and disturbing. I am trying to sell a business app and the first thing I see in my store listing are pictures of Britney Spears, Nicki Minaj etc. before my own screenshots. This is absolutely ridiculous. I was also running an app campaign f

[2018-07-10 14:32] JnHs commented on #762
If your trailer files meet all of the requirements stated on this page then I'm not sure why they're not being accepted. Please open a support request at https://developer.microsoft.com/en-us/windows/support so we can troubleshoot further. If you find that there is something that we haven't stated clearly enough here, please let us know.

[2018-07-10 14:32] #762 closed, assigned to JnHs

[2018-07-10 14:41] JnHs commented on #761
You do need to increment the package number when uploading a new package. (You can upload multiple packages with the same version number, but they must have different architectures. The full identity for each package must be unique.) Incrementing the version number is what lets the Store know that there is a new version that should be delivered to customers on your previous version, so in your sce

[2018-07-10 14:41] #761 closed, assigned to JnHs

[2018-07-10 15:17] dmitricob opened #770 "Where is it?"
Where i can get this template?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbd23f54-34c4-2113-04a2-fdfeeff71880
* Version Independent ID: af53df3c-743d-e076-430c-1bf96c0947a9
* Content: [DirectX game project templates - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/gaming/user-interface)
* Content

[2018-07-10 15:44] eliotcowley commented on #612
Hi @CristianKica, yes, our current guidance is to crop the image, as the screen capture APIs currently only capture a whole window.

[2018-07-10 16:22] ginami commented on #770
Hi @dmitricob -- per the doc, the templates are part of Visual Studio 2015.

[2018-07-10 16:24] dmitricob commented on #770
oh Im alredy finde it thx, but is thare some way to use Direct2D (DirectX) throw UWP C#?

[2018-07-10 16:48] laurenhughes commented on #760
The Program.cs file is to provide a Main() function to handle activating instances of the app before any of the other app code runs.

Try updating your PC to build 17134. Multi-instancing support was added in Windows 10, version 1803.

[2018-07-10 17:35] mijacobs commented on #768
Hi @santukv,
The article you refer to is specifically for Desktop bridge and win32 scenarios. If your app is a UWP app, you can use the simpler instructions here: https://docs.microsoft.com/en-us/windows/uwp/design/shell/tiles-and-notifications/send-local-toast

[2018-07-10 17:58] raksha-git commented on #755
Hello @ginami Here is the documentation I am viewing.
https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/device-portal-api-core

This is a great place to start but finer details of REST API usage and examples are not covered. I am figuring out the REST API call through Chrome Developer Tools on my Google Chrome Browser (F12). So, request the documentation be more comprehensive for develo

[2018-07-10 17:59] raksha-git commented on #754
Hello @ginami Here is the documentation I am viewing.
https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/device-portal-api-core

This is a great place to start but finer details of REST API usage and examples are not covered. I am figuring out the REST API call through Chrome Developer Tools on my Google Chrome Browser (F12). So, request the documentation be more comprehensive for develo

[2018-07-10 18:39] mtoepke commented on #770
Hi @dmitricob ,

You might want to check out Win2d: https://github.com/Microsoft/Win2D

It provides C# UWP access to Direct2D.

[2018-07-10 20:53] michael-hawker opened #772 "Bug in Example Code"
If the Client app, if the InventoryService fails to connect, it's still initialized, so hitting the button again will cause an exception:

if (status != AppServiceConnectionStatus.Success)
        {
            textBox.Text= "Failed to connect";
            return;
        }

The service should be nulled on error:

if (status != AppServiceConnectionStatus.Success)
                {

[2018-07-10 20:55] michael-hawker commented on #747
My OpenAsync on the inventoryService on the client is returning failure (AppUnavailable).  Which is odd, as I used this elsewhere and it worked.  So a section on common problems and resolutions could be helpful.

[2018-07-10 21:50] JnHs commented on #749
You must have the Manager role in a Dev Center account in order to associate an Azure AD tenant. If you do, you should be able to see the Tenants page and follow those steps. (Account settings can be found under the gear icon near the upper right corner.)

[2018-07-10 21:50] #749 closed, assigned to JnHs

[2018-07-10 22:01] nielscup commented on #762
Why are you closing this issue? Nothing is fixed. Why are you using github if you are redirecting me to some other support page?

[2018-07-10 22:16] JnHs commented on #762
I closed the issue because there does not appear to be a documentation feedback issue in your comment (or the additional comment from another person). This use of GitHub is specifically for our help content and giving feedback on that content. You selected "Content feedback" before leaving your comment, but it looks like you actually need individualized support so that we can figure out what the i

[2018-07-10 22:45] serenaz commented on #759
Fixed - thanks for the catch!

[2018-07-10 22:45] #759 closed, assigned to serenaz

[2018-07-10 22:51] serenaz commented on #753
These docs reference the [WinML **preview** API](https://docs.microsoft.com/uwp/api/windows.ai.machinelearning.preview) (Windows 10, version 1803 (introduced v10.0.17134)). To use the **latest** [WinML API](https://docs.microsoft.com/uwp/api/windows.ai.machinelearning), we recommend downloading the latest [Windows 10 Insider Preview](https://www.microsoft.com/en-us/software-download/windowsinsider

[2018-07-11 00:41] resonatevision commented on #756
@TheGuardianWolf  - Thank you for sharing this.
Any luck trying it in a non-UWP app?

[2018-07-11 00:49] TheGuardianWolf commented on #756
@resonatevision I did some development yesterday on the app in question, the C++ ML does not work due to some issue with the output binding, yet with the equivalent code in C#, it does.

I had to make a WinRT component in C# and link to that from my managed C++.

I think anything that can make use of WinRT components can work.

[2018-07-11 11:58] nielscup commented on #762
So I tried to upload the same trailer to my app in the Apple app store and I got a detailed message stating what was wrong. I updated my trailer according to the message I got from Apple's app store and then I could upload my trailer in the Windows Store as well.

Obviously, the stated requirements in the Windows Store, the requirements in your docs and the error message are incomplete. So, instea

[2018-07-11 12:03] XboxNinge opened #774 "how to get sandbox at runtime?"
It would be great if this article also explained how to detect which sandbox the title is running in at runtime. This is useful for things like automatically changing matchmaking groups based on dev/cert/retail sandbox, or changing which server to connect to for an online title etc.

Platform:: String^ Microsoft::Xbox::Services::XboxLiveAppConfiguration::Sandbox

---
#### Document Details

⚠ *Do n

[2018-07-11 12:07] JasonWei512 commented on #762
@nielscup What message did you get from Apple? How did you solve the problem? Thanks!

[2018-07-11 13:33] Magic73 commented on #478
So, how it can be solved?

I tryed bryaan solution but it doesn't works on VS2017.

[2018-07-11 14:46] kevin-jing commented on #478
@Magic73 I just wrote a sample project: [https://github.com/kevin-jing/broadFileSystemAccess](url)

[2018-07-11 15:07] Maldus512 commented on #760
Updating to 17134 fixed the multi-instancing problem, but now I can't run visual studio in Debug mode anymore. A problem for another day, I guess.

Bottom line: yes, the  "SupportsMultipleInstances"  attribute alone is sufficient, provided that your goal is simply to open multiple windows. And to work windows needs to be >= 17134.

Thanks for the support.

[2018-07-11 15:28] laurenhughes commented on #760
Glad to hear the multi-instancing issue is somewhat resolved. I'll pass your feedback along to the engineering team so they're aware of this scenario. Thanks again!

[2018-07-11 15:28] #760 closed, assigned to nobody

[2018-07-11 16:22] JnHs commented on #762
@nielscup I'm glad to hear that you were able to resolve the problem and upload the trailer. I have been in contact with our internal team to confirm the requirements listed here, but have not heard that there is any missing info. I will also pass along your comments to suggest that where possible we provide more specifics in the error message, if a trailer can't be uploaded for any reason. If any

[2018-07-11 17:59] Kath118 opened #775 "Add an ItemSource property to TreeView"
Could you please add an item source property to tree view? It's so difficult to binding the source to tree view  from the view model.

[2018-07-11 18:35] JnHs commented on #735
Thanks - you're right, the specifics on how to find were only included in a separate topic. I've updated this topic to clarify that the Users page is under Account settings (and specified how to get to Account settings in case that is also not clear).

[2018-07-11 18:35] #735 closed, assigned to JnHs

[2018-07-11 18:39] CathyMoya commented on #735
Thank you! :-)

[2018-07-11 19:53] #763 closed, assigned to drewbatgit

[2018-07-11 19:55] #764 closed, assigned to drewbatgit

[2018-07-11 19:57] #765 closed, assigned to drewbatgit

[2018-07-11 19:59] #766 closed, assigned to drewbatgit

[2018-07-11 20:31] mijacobs commented on #137
The fix is live.

[2018-07-11 20:31] #137 closed, assigned to mijacobs

[2018-07-11 20:31] mijacobs commented on #383
I'll add it to the doc.

[2018-07-11 20:32] mijacobs commented on #419
@andrewleader Do you have any suggestions?

[2018-07-11 20:54] andrewleader commented on #419
Not sure, I'll ask the WNS and Notification Hub teams and report back with the findings!

[2018-07-12 12:54] nielscup commented on #762
OK, sounds good. The Apple store gave me a dimension error. I made my first trailer with the Microsoft Photos app and exported it via "best for sharing online". This obiously did not give me the correct format. So I remade my trailer with iMovie and exported it to the requested size by Apple. This size also works for the Windows Store.

Maybe you could add these dimensions in the Windows Store, do

[2018-07-12 13:11] ginami commented on #775
Hi @Kath118 -- which page are you referring to? This will help me route your request to the correct author. Thank you!

[2018-07-12 13:31] ginami commented on #767
Hi @AlonikiX -- can you tell me which docs page you're referring to? This will help me route your question to the right author. Thank you!

[2018-07-12 13:48] AlonikiX commented on #767
There is the link: https://docs.microsoft.com/en-us/windows/uwp/devices-sensors/ble-beacon
I appreciate your help : )

[2018-07-12 16:07] ginami commented on #731
Hi @mtoepke -- can you answer this question? Thank you!

[2018-07-12 17:32] KevinAsgari commented on #774
This is an excellent point.  I will investigate adding a section on programmatically determining the sandbox during runtime.

[2018-07-12 18:26] JnHs commented on #762
Thanks for the additional information. You're right that it would be helpful if the error messages were more specific about what the issue is. We will work on updating those messages. I've also passed along your feedback about support. Thanks for taking the time to provide your detailed feedback!

[2018-07-12 18:37] stevewhims commented on #410
@m4verick, I'll go ahead and close this issue now since it's been a while and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2018-07-12 18:37] #410 closed, assigned to stevewhims

[2018-07-12 18:40] stevewhims commented on #551
@BioTurboNick, I'll go ahead and close this issue now since it's been a while and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2018-07-12 18:40] #551 closed, assigned to stevewhims

[2018-07-12 18:42] stevewhims commented on #666
@andrew7webb, I'll go ahead and close this issue now since it's been a while and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2018-07-12 18:42] #666 closed, assigned to stevewhims

[2018-07-12 18:43] stevewhims commented on #677
@JackDetrick, I'll go ahead and close this issue now since it's been a while and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2018-07-12 18:43] #677 closed, assigned to stevewhims

[2018-07-12 18:43] stevewhims commented on #697
@JK-IT, I'll go ahead and close this issue now since it's been a while and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2018-07-12 18:43] #697 closed, assigned to stevewhims

[2018-07-12 18:46] stevewhims commented on #733
@moyanming, I'll go ahead and close this issue now since it's been a while and it feels resolved. Please reopen if I made a mistake in closing. ~Steve

[2018-07-12 18:46] #733 closed, assigned to stevewhims

[2018-07-12 20:50] JnHs commented on #769
Thanks for sharing these comments. I've passed them along to the Store team, and was able to confirm that if the customer hasn't acquired the app, the "People also like" section is shown after the screenshots in the web listing, not before them. You can confirm this by looking at an app in the Store that you don't own. If the customer owns the app already then the "People also like" is shown highe

[2018-07-12 20:50] #769 closed, assigned to nobody

[2018-07-12 21:30] Dianoya opened #776 "Problem with enumeration in MIDI API"
Many devices are not recognized in the enumeration. This is very bad!
The MME API saw them all. So the problem is not the drivers, but the API. In addition, this is a problem everyone knows about.
As far as I understand, ALL devices KORG and many devices YAMAHA are not determined.

I have 3 MIDI devices. The device "M-Audio MIDISPORT 4x4" was detected normally. "KORG nanoControl" and "KORG M50" ar

[2018-07-12 22:28] Dianoya opened #777 "Problem with device names in MIDI API"
I have the device "M-Audio MIDISPORT 4x4". It has 4 input ports and 4 output ports.

That's how they are called for input ports:

Why is it added at the end (1)? If I switch to another USB port, the front of the name is appended with a digit.

And this is how they are called for output ports:

What is there to understand at all? Is that a "FriendlyName"? :-)

Everyone knows about this problem, is

[2018-07-13 15:52] JBradon opened #778 "I'd like to use MIDI with C++ in a UWP app but.."
I'd love to see a C++ example here. I'd welcome some explanation of how this relates to the Windows MultiMedia library which I currently use via rtmidi.
By the way, I'm generally having problems with moving code to UWP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90265caf-b1af-f015-674a-a015e3a35d65
* Version Indepe

[2018-07-13 16:55] OneWorld123 opened #779 "Microsoft Visio Integration missing"
Can't use them in Microsoft Visio ;( Apparently Visio 2016 doesn't support private use unicode characters.

 I filed a question at https://superuser.com/questions/1336168/use-segoe-mdl2-assets-and-other-unicode-fonts-with-private-use-characters-in-vis .

Related: https://answers.microsoft.com/en-us/msoffice/forum/msoffice_visio-mso_win10-mso_2013_release/problems-rendering-segoe-mdl2-assets-in-vis

[2018-07-13 22:26] Kath118 commented on #775
Hi @ginami  This page https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/tree-view

[2018-07-13 22:28] Kath118 opened #781 "Failed to find the property "Windows.UI.Xaml.Controls.TreeView.RootNodes"."
When I create a tree view in the xaml appears the following error:
Failed to find the property "Windows.UI.Xaml.Controls.TreeView.RootNodes".
If I build the project the error disappears but the tree view is not showed.

NETCore: 6.0.1
SDK version: 17134 (1803)
Visual Studio 2017 v15.7.5

[2018-07-13 22:59] Kath118 commented on #679
@jpcoates You can add it by creating a model for the template

[code]

[2018-07-14 11:48] Shannarra opened #782 "Images"
The images captured and saved could not be opened.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24369830-1467-4392-7f21-3721c8953bcb
* Version Independent ID: 2e982ac4-1dcf-554d-a3c5-2e6b367a5b6e
* Content: [Basic photo, video, and audio capture with MediaCapture - UWP app developer](https://docs.microsoft.com/en-us/

[2018-07-14 20:56] Dianoya opened #783 "Problem with DeviceWatcher and port closing."
Using DeviceWatcher means that when remove a device to which the port was opened, you can safely close it and continue working with the application. In this case, the user has the option to turn on the device again or select another without restarting the application. I understand correctly?

I will describe the problem. There is a device and a port is open for it. I accidentally pulled this devic

[2018-07-15 03:18] DamienDoumer opened #784 "It does not work and I get exception messages with no hint on how to resolve them"
I am working on a UWP project which I built with Xamarin.Forms and which has a background service project too.
I follow exactly the steps listed here and when I hit F5, I get ghost exceptions...

Exception thrown: 'System.Exception' in System.Private.CoreLib.dll
Exception thrown at 0x74FF3EF2 (KernelBase.dll) in Expenditures.exe: WinRT originate error - 0x80040154 : 'System.Exception: Class not re

[2018-07-15 09:32] Dianoya opened #785 "The Bluetooth device closes the port with an error."
There is a device Bluetooth (HiFing Wireless MIDI Adaptor). The application opens its input port. Then the application closes this port. It's not possible to open another port. And after closing the application, an error occurs:

Interestingly, there is no such problem with the output port.

Is it problem with my the device or am I doing something wrong?

---
#### Document Details

⚠ *Do not edit

[2018-07-15 11:40] Dianoya opened #786 "The Bluetooth device on the input port processes only the events of NoteOn and NoteOff."
There is a device Bluetooth (HiFing Wireless MIDI Adaptor). The application opens its input port. In the event handler of the MessageReceived event, only the events of NoteOn and NoteOff are accepted. The output port receives any messages.

Is this a problem with my device or problem in the API or should it be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2018-07-15 12:36] Dianoya commented on #687
There are so many bugs and glitches that anyone who writes music applications are disappointed. I already regret that I climbed entirely UWP. :-( It's no wonder that there are almost no musical applications - only toys.

[2018-07-15 12:41] Dianoya commented on #687
I hope that a lot of activity in writing problems will cause Microsoft to stir. :-)

[2018-07-15 13:24] Gavin-Williams opened #787 "IUnknown is ambiguous"
I'm using C++/WinRT and IUnknown is ambiguous. Fully specifying Windows::Foundation::IUnknown fixes that problem, only to give an invalide type conversion for the reinterpret cast.

Also IBufferByteAccess doesnt exist as far as I can tell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79bcdf01-14ad-5f98-1ff8-eb01a3d9d

[2018-07-15 14:27] Dianoya opened #788 "Imaginary messages on devices with multiple ports"
This problem appears in the MessageReceived event handler.

Messages appear that were not sent to the device's input port! For example, we get the message B0 66 40, and the following messages appear in the handler:

[code]

And they all have the same time.

And if the device additionally sends active sensing...

I suspect that the problem is due to the presence of several ports on the device or be

[2018-07-15 16:51] sjointer opened #789 "C++ Code Samples, please"
I'm using this document to learn UWP.  I expect to use this in combination with DirectX 11.  Prior to this page, all C# code samples had similar samples for C++/CLI.  Could you add them where they are missing, please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8cecd85-5983-c683-d8ea-6c010b7b2b58
* Version Independ

[2018-07-16 09:05] v01pe opened #790 "How to view featured stats while developing"
It seems everything is set up correctly in our sandbox, I see achievements popping up and I can set stats, but the game hub for the game stays empty and there's no way I can see the unlocked achievements and set stats on the system. What is the intended procedure to test this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-07-16 11:12] oliverluethi opened #791 "ScreenCapture Framepool.Dispose() causes application crash"
I'm using the new ScreenCapture feature based on the Microsoft sample. On a clean installed VM (newest Windows 10 version) the application crashes while calling `_framepool.Dispose()` in the `StopCaptureInternal()` method of the `ScreenCaptureHelper` class. The Win32 exception is raised in the GraphicsCapture.dll.

On my development machine everything seems to work fine. I've added the sample code

[2018-07-16 11:21] v01pe opened #792 "Resolution"
I'd love to see the resolution limit mentioned here. Took ma a few days of trial and error and a post to the forums to find out, that using 4k resolution is not possible for UWP games right now. I didn't see this mentioned anywhere in the documentation. I also don't understand why this limit there in the first place.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2018-07-16 13:41] Gavin-Williams opened #793 "Build step to generate stubs from idl fails."
After editing the idl I try to build but get …
C1083 Cannot open include file: Class.h: // doesn't exist
C1083	Cannot open include file: 'Class.g.h': No such file or directory (compiling source file Generated Files\module.g.cpp)
PRI252	0xdef00071 - File D:\OneDrive\Projects\TestSoln\Debug\BankAccountWRC\BankaAccountWRC.pri not found.

Edit: So it does generate the cpp and h files but they are hidd

[2018-07-16 15:33] drewbatgit commented on #782
Can you provide some more details about the issue you are experiencing? The code in this article has worked for other developers, so more information is needed in order to diagnose your issue.

[2018-07-16 16:29] drewbatgit commented on #778
I will record your request for a C++ example for MIDI. Can you provide some more details on your general problems moving to UWP?

[2018-07-16 17:13] #753 closed, assigned to serenaz

[2018-07-16 17:18] serenaz commented on #756
We're working on a C++ sample for the next release of WinML APIs, as support for C++ is changing slightly.

In the meantime, I'd recommend checking out the latest WinML APIs, which support WinRT/C++
https://docs.microsoft.com/uwp/api/windows.ai.machinelearning

[2018-07-16 18:08] Sleeplikelion opened #794 "admin"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7cfa056-082a-cdc4-d7c8-340f7617cc3c
* Version Independent ID: c560198c-e777-4bdb-55cc-110b11f20df5
* Content: [Introduction to Xbox One tools - UWP app developer](https://docs.microsoft.com/en-gb/windows/uwp/xbox-apps/introduction-to-xbox-tools)
* Co

[2018-07-16 23:00] MsftGreg opened #795 "Embedded Youtube video does not play"
"Has been removed by author"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcf7899f-689a-80c4-2c94-9575f8fc5055
* Version Independent ID: b8873e37-f4cb-de98-46f2-f2eaf01e275d
* Content: [Introduction to C++/WinRT - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/intro-to-using-cpp-wi

[2018-07-16 23:13] dbqt commented on #473
I would also like to know how to tell if the user dismissed the accounts settings pane.

[2018-07-17 00:18] ginami commented on #794
Hi @Sleeplikelion -- let us know if you have any feedback specific to this doc. Thanks!

[2018-07-17 00:18] #794 closed, assigned to nobody

[2018-07-17 00:20] ginami commented on #791
Hi @oliverluethi -- can you tell me what page this refers to? The URL will help me locate the right author to respond. Thank you!

[2018-07-17 05:29] Sleeplikelion opened #796 "xbox one x registration"
z

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ba4f566-0e94-4460-6258-403561494a24
* Version Independent ID: a6664a24-7ef4-a53b-adc7-3d74e86b8735
* Content: [Developer program overview - UWP app developer](https://docs.microsoft.com/en-gb/windows/uwp/xbox-live/developer-program-overview#microsoft-partners)
* Content

[2018-07-17 06:11] Gavin-Williams opened #797 "Intellisense doesn't work for some WinRT types."
Uri testUri{ L"http://www.contoso.com" };
		WINRT_ASSERT(testUri.ToString() == L"http://www.contoso.com/");

When i type the above code ToString() isn't suggested, in fact nothing is after testUri.

Intellisense: 'No members available'

Edit: I notice that some methods are visible in other types. For example, the Visual type in UI.Composition shows via intellisense.

---
#### Document Details

⚠ *

[2018-07-17 07:22] oliverluethi commented on #791
@ginami This is the [sample](https://docs.microsoft.com/en-us/windows/uwp/audio-video-camera/screen-capture) I mentioned.

[2018-07-17 08:20] Gavin-Williams commented on #789
I agree, all pages should have both C++ and C# examples. It's especially frustrating at the moment, because Microsoft recommend using C++/WinRT over C++/CX but with C++/WinRT being somewhat different and also it seems that there may be coverage issues or differences in C++/WinRT which make it impossible to convert CX code to RT code.

[2018-07-17 12:50] sjointer commented on #789
The possibility of issues with C++/WinRT are hinted at in the docs for DirectX and XAML interop [here](https://docs.microsoft.com/en-us/windows/uwp/gaming/directx-and-xaml-interop).

I guess what threw me a bit was that the early pages in this trail had C# and C++, which gave me some, I guess hope, that I would be able to learn both, and then decide how I wanted to use DirectX later.  Is there a l

[2018-07-17 15:38] ginami commented on #796
Hi @Sleeplikelion -- let us know if you have any feedback on this doc! Thank you!

[2018-07-17 15:38] #796 closed, assigned to nobody

[2018-07-17 15:46] ginami commented on #770
Hi @dmitricob -- I'm going to close this issue. Let us know if you have further feedback. Thank you!

[2018-07-17 15:46] #770 closed, assigned to nobody

[2018-07-17 17:59] aablackm commented on #790
Hello v01pe,

If you are an Xbox Live Creators Program Developer, unfrotunately there is no way for you to see your GameHub and it's current state while you are developing.

However for other developers you can see your Gamehub and featured stats by publishing your title to your sandbox. You can publish your title on the Windows Dev Center by pressing the black "Test" Button on the Xbox Services P

[2018-07-17 18:32] aablackm commented on #787
Hi Gavin-Williams,

I'm currently looking into this question.

In the meantime I recommend that coding question like this one be asked on one of our developer forums.
If you have managed partner access you can ask on the [Xbox Developer Forum](https://forums.xboxlive.com/).
You can ask other developers working on windows platforms on the [windows platform developer forum](https://social.msdn.micro

[2018-07-17 18:56] v01pe commented on #790
Thanks for your answer!

We're registered in the ID@Xbox program, in which case I guess I should be able to see the stats and achievements showing up in the Gamehub?

We already published the changes from the Xbox Services Page in Dev Center, which made the achievements + the corresponding images viewable on the Xbox dev kit. Still they don't show up on Gamehub.

Thanks for the hint to view the st

[2018-07-17 20:12] aablackm commented on #790
Glad I could help!
Yes, you should be able to see updates to the GameHub as long as you publish your title to a sandbox and then test your title with a device pointing to that same sandbox.

Also as a quck reminder, if you're using Stats 2017 remember to give your stats 5 minutes to flush after setting them.

[2018-07-18 03:05] Gavin-Williams commented on #787
Here's my includes and usings for reference ..

    #include "pch.h"
    #include <winrt/Windows.Graphics.Imaging.h>
    #include <MemoryBuffer.h>

    //using namespace winrt;
    using namespace winrt::Windows;
    using namespace winrt::Windows::ApplicationModel::Core;
    using namespace winrt::Windows::Foundation;
    using namespace Windows::Foundation;
    using namespace winrt::Windows::Fo

[2018-07-18 09:16] dongle-the-gadget commented on #405
This documentation is supposed to be used only in the Windows 8.1. Can Microsoft Docs move this documentation to Previous Version and update this documentation so it will work with Windows 10?

[2018-07-18 09:32] dongle-the-gadget opened #798 "Code not work!"
I hardly can see this works!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d156d985-2791-6521-331c-8d5ac9283f0e
* Version Independent ID: 794ddc4b-6660-8008-29fd-d4b696541b87
* Content: [Display a splash screen for more time - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/launch-resume/create-a-custo

[2018-07-18 10:50] mslade-c4 opened #799 "Is this still available on 10.0.17134.4056"
From https://docs.microsoft.com/en-us/windows/uwp/xbox-apps/uwp-remoteinput-api

Is this api endpoint 'ext/remoteinput' still available on 10.0.17134.4056?

My attempt to make a connection to the websocket just hangs.

[2018-07-18 15:16] cheles commented on #741
App is looking for pictures under "Pictures" folder (C:\Users\username\Pictures).
If you don't have any picture there, then the no image will be displayed and the app would look like it's blank.

The code responsible for this is: Windows.Storage.StorageFolder picturesFolder = Windows.Storage.KnownFolders.PicturesLibrary;
More here: https://docs.microsoft.com/en-us/uwp/api/windows.storage.storagepr

[2018-07-18 16:10] ginami commented on #798
Hi @superkid200 -- can you be more specific about your problems with the code? Thank you!

[2018-07-18 21:24] bsumlin opened #800 "Provided code doesn't work"
The code provided here doesn't work on my machine. Despite installing System.ValueTuples from nuget, it still won't recognize the data type.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 745ab6c5-cfbe-a56f-dccd-ab55123f9223
* Version Independent ID: 54455a9f-a92f-e462-558d-78fb696dba8c
* Content: [Navigation view - UW

[2018-07-18 21:56] stevewhims commented on #797
Hi, @Gavin-Williams, thank you for mentioning this issue. It actually is something that we're aware of and working on. Data such as this helps us prioritize efforts. So, in that spirit you could, if you like, bring this up on the [Visual Studio User Voice](https://visualstudio.uservoice.com) feedback website, or in the [Developer Community](https://developercommunity.visualstudio.com). Since this

[2018-07-18 22:17] stevewhims commented on #795
Hi, @MsftGreg, thanks for bringing this to my attention! I've just merged a fix; I expect that to be live within 24 hours. I've also begun making enquiries internally as to why the URI changed. ~Steve. P.S. I'll go ahead and close this now but please reopen and/or ping me if you have any follow-up.

[2018-07-18 22:17] #795 closed, assigned to stevewhims

[2018-07-19 00:44] stevewhims commented on #793
Hi, @Gavin-Williams, thanks for describing these issues, and I'm sorry for the trouble. Yes, after editing the idl, you will get build errors, as the topic says. The topic doesn't explicitly say exactly what the errors will be, though, which is not great. So, I've just edited the topic to add that detail, because I can see how it's nice to know that the errors you're seeing are the expected ones,

[2018-07-19 05:28] michael-hawker commented on #540
@TylerMSFT the only mention of the version is the intro 'Prior to 1803,' and doesn't have the build number.

Could be useful to clarify that as was the initial confusion that opened this bug.

Would it make sense on these more tutorial articles to also have a version dialog like we do on the API calls?

Device family | Windows 10, version 1803 (introduced v10.0.17134.0)
-- | --
API contract | Wind

[2018-07-19 08:48] dongle-the-gadget opened #801 "App Service Not Working"
I try to connect the App Service in the UWP app as a reference in the package project and there's no work. When I try to connect to the App Service of the UWP project it works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ba89d6c-71c3-4583-8d7f-8db231a96b07
* Version Independent ID: ce5b525b-597c-0859-ed9c-aa3104498

[2018-07-19 10:27] dongle-the-gadget commented on #801
I see that the sample code add a new declaration of Application in Applications tag in Package.appxmainfest but when I run the sample code, not the Store app, it says: Package identity cannot found (ApplicationData.Current.LocalCacheFolder)

[2018-07-19 13:20] Ian-Beard opened #802 "words like agnostic have no place in a technical document"
Please stop using words that you misinterpret one meaning for another that have no contextual meaning to the given subject under discussion. Crystal Clear English at all times.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27c7fb99-4e21-0e7b-86dd-482b2e7ef52e
* Version Independent ID: a3d9d1d1-7a8d-07b7-a0e4-7b2e0c107

[2018-07-19 14:36] sjointer opened #803 "XAML Use of Custom Panels"
Would you please provide an example of this panel in use?  How do I provide the name of the custom panel in XAML?  Do I use the x:Name=, or x:Class= property?  Or some other method?  Don't most XAML classes have the keyword "partial" as part of the class declaration in order for the XAML to manipulate expose properties?  Does XAML get access to the base class, or does it even need it?

---
#### Do

[2018-07-19 14:39] sjointer commented on #803
Additionally, adding the refinement into the code didn't compile.  I changed it to use the "UseSquareCells" property in the conditional, but that may not have been what was intended.  Further, how does DependecyProperty.Register() accomplish it's task.  I wasn't allowed to use the name it provided in my code, so I assume that property name is to be part of the XAML code...I think.

[2018-07-19 16:11] eliotcowley commented on #791
Hi @oliverluethi, according to the feature team, screen capture should work fine in VMs, so that's weird that you're having this issue. However, there are several bug fixes coming in the next Windows update, so I would try getting on an Insider build or waiting until the next SDK. I would also contact [Windows developer support](https://developer.microsoft.com/windows/support); there are lots of k

[2018-07-19 17:22] aablackm commented on #787
Hello Gavin, I will pass this context along.

[2018-07-19 20:53] Karl-Bridge-Microsoft commented on #665
Thanks for catching this! I've fixed the snippet.

[2018-07-19 20:53] #665 closed, assigned to Karl-Bridge-Microsoft

[2018-07-20 02:33] Ike-Dubaku opened #806 "Can't install the retail version of Microsoft.VCLibs.x64.14.00.Desktop.appx"
I'm using Windows RS4 and VS 2017 15.7.4. After I use the "Windows Application Packaging Project" to convert my desktop app, the install failed with following message. With some investigations, I found there's no problem for debug version. In specific, the retail version "Microsoft.VCLibs.x64.Debug.14.00.Desktop.appx" (14.0.25426.0) failed to install, but the debug version "Microsoft.VCLibs.x64.De

[2018-07-20 03:02] ChuckVanzant opened #808 "RE: Handle work item completion"
Your examples in your documentation for "Handle work item completion" are reversed, C# example contains C++ code and vise versa.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30045711-217c-3cf5-8b25-462426685c1e
* Version Independent ID: a190b399-6866-bded-2015-ce337f22ea38
* Content: [Submit a work item to the thread

[2018-07-20 04:07] sjointer opened #809 "Cannot get Keyboard Accerlators to function"
I'm attempting to put keyboard accelerators on most of my commands, simply because I like to use them when I know about them.  The problem is, while my menus are working correctly (They are set to throw a "NotImplementedException" at the moment) using access keys and mouse clicks, the accelerators do nothing.

What I've tried:
- make certain there is an assignment to the args parameter, setting th

[2018-07-20 04:09] dongle-the-gadget commented on #752
The table board is missing a important column that shows Glyphs, if this column is missing, it can’t be used for FontIcon.

[2018-07-20 04:10] sjointer commented on #809
I forgot to mention: this issue occurs regardless of whether I use one, or two modifier keys.  Most of my accelerators use the Control modifier key.  A few of them use Control and Shift as the modifier key.  Moot point, I suppose, because none of my accelerators are working.

[2018-07-20 04:13] dongle-the-gadget commented on #798
I want to customize the Splash Screen with XAML and delay it for 3 seconds. But the app navigated to the first page in the first place!

[2018-07-20 04:15] dongle-the-gadget commented on #716
How about phones?

[2018-07-20 04:22] sjointer commented on #809
Additionally, I explicitly set "IsEnabled" to "True" on the KeyboardAcelerator tag, but that didn't work either.

[2018-07-20 04:23] dongle-the-gadget commented on #747
I mean AppServiceConnection.SendResponseAsync(ValueSet) return Failture.

[2018-07-20 05:58] dongle-the-gadget opened #810 "Hide UWP app"
How can I hide the extended UWP app so it won't be established as an app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ba89d6c-71c3-4583-8d7f-8db231a96b07
* Version Independent ID: ce5b525b-597c-0859-ed9c-aa3104498b8b
* Content: [Extend your desktop application with Windows UIs and components - UWP app developer](ht

[2018-07-20 16:05] ghost opened #811 ""PanePosition" property link is incorrect"
In the first line of the "Pane" section the link navigates to "PaneFooter" property.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 745ab6c5-cfbe-a56f-dccd-ab55123f9223
* Version Independent ID: 54455a9f-a92f-e462-558d-78fb696dba8c
* Content: [Navigation view - UWP app developer](https://docs.microsoft.com/en-us/window

[2018-07-20 18:31] ahainen commented on #411
Anything on this? "No news" is totally fine, just curious.

[2018-07-20 21:56] mijacobs commented on #411
Hi @ahainen, my apologies for the delayed response! I shared your feedback with the typography team and they agree that the experience could be improved. Short, term, I started working with them to get the list updated. I just emailed them to check on the status.

[2018-07-20 23:29] PTmv opened #812 "BluetoothLEAdvertisementWatcher Received notifications stop"
My UWP application runs in RPI 3 as a BLE GATT client. When started, the BluetoothLEAdvertisementWatcher correctly detects advertisements from the peripheral BLE devices to handle in its Received event handler. But persistently after about one hour the advertisements stop to be detected despite that I manually start the peripheral devices advertising.   I tried to solve this problem by looking at

[2018-07-21 00:32] pmahend1 opened #813 "Customize NavigationView panel to include image"
Can we add large image within menuitems or above menu items.

Question [reference](https://stackoverflow.com/questions/51446728/customize-navigationview-panel-to-include-image-uwp)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 745ab6c5-cfbe-a56f-dccd-ab55123f9223
* Version Independent ID: 54455a9f-a92f-e462-558d-78fb6

[2018-07-21 02:26] sjointer opened #814 "Compiling Tutorial in Debug mode INSTALLS THE PROGRAM!"
I compiled this program sometime over the past couple of days in Debug mode, and then started making small changes to get used to some concepts, both from the Layout panels trail and a couple of other trails I'm reading out of order.

Today, when I opened by Start menu in Windows 10, and scrolled through, I found that the program was considered installed.  It ran independently of Visual Studio 201

[2018-07-21 11:17] freedom8888 opened #815 "StoreLogo image doesn't displayed on Part3."
When i use "The final template" of part3,
StoreLogo.png doesn't displayed.
Xaml of Image control is like below.
&lt;Image x:Name="ItemImage"
           Source="Assets/StoreLogo.png"
           Stretch="Uniform" /&gt;

But when modified Source attribute like below,
StoreLogo displayed.
Source="/Assets/StoreLogo.png"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-07-21 12:36] sjointer commented on #809
I've also tried using unique method names, which shouldn't matter, but this doesn't help either.

[2018-07-21 15:35] dongle-the-gadget opened #816 "Package using a normal UWP project"
How can I package my app using Blank App (Universal Windows)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9f4864c-3cf6-a957-dd26-c16cb4a3015e
* Version Independent ID: c9543586-cf91-3c13-50e0-1837cf4138a4
* Content: [Package an app by using Visual Studio (Desktop Bridge) - UWP app developer](https://docs.microsoft.

[2018-07-21 15:37] #810 closed, assigned to normesta

[2018-07-21 15:38] dongle-the-gadget commented on #801
The desktop application in the new Application tag is not running too.

[2018-07-21 17:35] pertho396gmail opened #817 "Mr"
perthochowdhury45@outlook.com
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f5573dd-ecf2-b49d-b853-dfd1a5b3c1f4
* Version Independent ID: 123ad670-6099-ad69-6012-92482586903e
* Content: [Handle file activation - UWP app developer](https://docs.microsoft.com/en-us/windows/uwp/launch-resume/handle

[2018-07-21 17:37] pertho396gmail commented on #817
Mr #817

[2018-07-21 18:44] sjointer commented on #809
I've also tried adding the **ProcessKeyboardAccelerators** event using a method that simply throws **NotImplementedException**, but that method didn't get called when I tried to use the accelerator either/

[2018-07-21 18:54] sjointer commented on #809
I've also tried adding the **ProcessKeyboardAccelerators** event to the **Page** element.  That DID call the method and throw the **NotImplementedException**, but the documentation on this page doesn't imply that I need to do that.  I'll go with this for now, but I'd like the correct solution, rather than this workaround.  It seems to me that this workaround isn't correct either, since I will need

[2018-07-21 20:04] sjointer opened #818 "OnProcessKeyboardAccelerators example method error"
The method given in the example causes infinite recursion, ending with a StackOverflowException.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8e18e09-9873-66b8-65d1-36031d51198d
* Version Independent ID: d8089561-12ca-fcf0-2dc8-3d678cc1f6f2
* Content: [Keyboard accelerators - UWP app developer](https://docs.microsof