[2020-04-16 01:18] chadfranklin47 opened #2366 "AudioGraph freezes and breaks when seeking Flac and Ogg files"
I am developing a music application and have a slider set to seek through the audio file with mediaSourceAudioInputNode.Seek(). When seeking through Mp3 files, I have not encountered the problem yet, but when seeking through some Flac or Ogg files, the seek may work properly a few to several times, then the seek method will freeze for a few seconds and the AudioGraph will stop playback and not be

[2020-04-16 12:28] DkmS1953 commented on #2124
In attachment - all our correspondence about this.
As a result, I spat and did so, as I personally uncomfortable.

Wbr, Dyakov K.M.

ср, 15 апр. 2020 г. в 00:30, ArchieCoder <notifications@github.com>:

[2020-04-16 13:59] ArchieCoder commented on #2124
@dkluemke The attachment didn't went thru. You can contact me at sebastien.lachance AT hotmail.com

[2020-04-16 14:57] flotsam7jetsam opened #2367 "New customers can (we add) be deleted while existing customers cannot"
I noticed that when I add a customer, I can delete that customer. However, it seems that existing customers cannot be deleted from the database. For example, I've found that the customer Xavier Smith cannot be deleted using the code as it stands today. Nevertheless, great tutorial.

When debugging I noticed that GUID for Xavier within SQLite is:
{ d44c441c - ecda - 4eae - 8869 - b2b7147c7246}

and

[2020-04-16 16:42] mcleanbyron commented on #2360
Good catch, and thank you for the feedback. I updated the row for the documentsLibrary capability to clarify that it controls programmatic access to the Documents library (which is a virtual composite of multiple folder locations) rather than the user's Documents folder.

[2020-04-16 16:42] #2360 closed, assigned to mcleanbyron

[2020-04-16 19:05] drewbatgit commented on #2366
Hello, GitHub issues in this repository are for feedback specifically about the documentation. It seems like your issue is a developer support request. Here are all of the developer support resources:

- The [Feedback Hub app](https://support.microsoft.com/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app) is the right place to lobby for a change, a feature, or to make a sug

[2020-04-16 19:05] #2366 closed, assigned to drewbatgit

[2020-04-17 01:55] #1917 closed, assigned to hickeys

[2020-04-17 02:13] #2166 closed, assigned to hickeys

[2020-04-17 03:08] lukeblevins commented on #2316
@lastnameholiu Is @QuinnRadich planning to work on this, or someone else who is active be assigned?

[2020-04-17 07:52] AzAgarampur commented on #2341
Hey mcleanbyron,

I am installing version 2.3.200213001 of the WinUI Library. Also, I did add all the header files to my precompiled header file as the article you linked describes. My application is unpackaged;it is not using MSIX packaging.

[2020-04-17 16:33] mcleanbyron commented on #2341
Since your application is unpackaged, please try using the latest prerelease version of the WinUI NuGet package (in the Nuget Package Manager window, you'll need to select the "Include prerelease" checkbox to see the prerelease versions of this package). According to the latest info I have from the product team, right now it's by design that unpackaged applications that use XAML Islands must use a

[2020-04-17 19:25] AzAgarampur commented on #2341
Alright, it works perfectly when I use the prerelease package.

[2020-04-18 19:58] AzAgarampur commented on #2347
Actually I found a solution.
You can follow the guide to adding a custom uwp control, and in your custom control, use the compositor to create the drop shadow.

[2020-04-18 19:58] #2347 closed, assigned to jwmsft

[2020-04-19 06:47] ctxhou opened #2369 "Cannot fill in the correct tax id in the Taiwan market"
Hi Microsoft support

I am a developer in your Microsoft store. I report the issue here since I cannot find any link/mail/contact to report this issue.

I am trying to file my Taiwanese tax status in your dashboard. The problem is, the max length of the Tax id field is only `8 digit`. However, the format of Taiwanese tax id is `10 digit`. Please reference the `Identity card number` section of [Nat

[2020-04-20 09:13] LuyTech opened #2371 "Confused by the parameters"
POST https://login.microsoftonline.com/&lt;tenant_id&gt;/oauth2/token HTTP/1.1
Host: login.microsoftonline.com
Content-Type: application/x-www-form-urlencoded; charset=utf-8

grant_type=client_credentials
&client_id=&lt;your_client_id&gt;
&client_secret=&lt;your_client_secret&gt;
&resource=https://onestore.microsoft.com

What do the parameters exactly mean????? put them as query params ?? or as bo

[2020-04-20 09:57] Depechie commented on #1870
hey @chigy any news on this?

[2020-04-20 12:28] uttampcu commented on #2362
Please include supporting details like how to set WNS to use the proxy - WNS seems to not follow the netsh winhttp proxy settings.

[2020-04-20 13:58] OzBob opened #2372 "'App' does not contain a definition for 'Run'"
Step2 of https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/host-standard-control-with-xaml-islands#instantiate-the-xamlapplication-object-in-the-entry-point-of-your-wpf-app results in: CS1061	'App' does not contain a definition for 'Run' and no accessible extension method 'Run' accepting a first argument of type 'App' could be found (are you missing a using directive or an assembly r

[2020-04-20 15:12] mcleanbyron commented on #2372
I'm sorry you're running into this problem. I just ran through the instructions up through this step again and confirmed that it's working for me. Here are a couple of things you can check:

* If your project is not named MyWpfApp, did you remember to change the `MyWpfApp` references in the code example to the name of your project?
* When you copied in the Program class code in step 2, did you cop

[2020-04-20 15:13] radujipa opened #2373 "Windows.Foundation.EventHandler<Object> is inaccessible due to its protection level"
Please update docs about Raising events in Windows Runtime components (https://docs.microsoft.com/en-us/windows/uwp/winrt-components/raising-events-in-windows-runtime-components) to reflect this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a32e7021-a1d2-5375-f01b-fbd6547e85ba
* Version Independent ID: 6c3c12a7-1998-

[2020-04-20 15:31] chigy commented on #1870
@Depechie , currently unfortunately, there is not a priority on this item. That said, I am curious if we were to provide info like this, I'd be curious to find out how you would use this.

[2020-04-20 15:35] Depechie commented on #1870
Not sure where that questions comes from, but the answer is already in the list : https://github.com/MicrosoftDocs/windows-uwp/issues/1870#issuecomment-523609902

When we create apps and see that a control behaves in a certain way, often we want to retemplate the style to edit the VisualStates. Without an easy reference to look and to copy this is hard work.

[2020-04-20 15:37] MikeHillberg commented on #2373
Specifically the update should explain that this cannot be used from c#, where it gets projected to System.EventHandler<T>, so that should be used instead. (It _is_ accessible in the c++/winrt projection)

[2020-04-20 15:50] chigy commented on #1870
@Depechie , thanks. I wasn't sure if you had additional cases you were after.

[2020-04-20 16:16] mcleanbyron commented on #2372
Since this does not appear to be a bug with the article at this point, I'm going to close this issue for now. If neither of the previous suggestions work for you and you continue to encounter the same error after retrying the instructions, feel free to reopen this issue with more details.

[2020-04-20 16:16] #2372 closed, assigned to mcleanbyron

[2020-04-20 19:42] hansmbakker opened #2374 "I could use more guidance on recommended spacing"
I could use more guidance on recommended spacing for at least the following points:
- I see there is a gutter size recommendation ( = horizontal spacing). Is there any vertical spacing recommendation?
  - how much space should I put before / after headings, other content?
  - are there recommendations for spacing to put between the levels of the typography hierarchy?
  - at page level?
  - at sect

[2020-04-20 20:08] stevewhims commented on #2373
Hi, @radujipa, and thanks for filing the issue. I've published a fix, and that's now live. The topic still has a couple broken links to event handler types (I fixed the couple that I spotted), but those will be fixed in a different work item. So I'll go ahead and close this issue now.

Thanks to @MikeHillberg for the info!

Thanks again!
Steve

[2020-04-20 20:08] #2373 closed, assigned to stevewhims

[2020-04-20 20:36] stevewhims commented on #2358
Hi, @rectified95, thanks for the heads up. I've published a fix, so that's now live. I'll go ahead and close the issue.

Thanks again!
-Steve

[2020-04-20 20:51] #2358 closed, assigned to stevewhims

[2020-04-21 01:20] OzBob commented on #2372
copy and paste error - docs are wonderful!
i pasted myUWPApp instead of myWPFapp into the Program.cs
thanks for your patience

[2020-04-21 01:41] druske opened #2375 "IoT Core"
The page makes no mention of IoT Core, but there are embedded applications for IoT Core where something like extended execution would be useful --- non-store apps that do not have concerns about power resources. It would be helpful to document which capabilities do and do not work with IoT Core.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-04-21 03:34] OzBob opened #2376 "Build and run your app = "can't find MyUWPapp""
Step 6 of https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/host-custom-control-with-xaml-islands#add-a-control-from-the-winui-library-to-the-custom-control

says to "Build and run your app". Which I presume is set the WPF app as Startup and then build and run.

The output was initially:

"System.IO.FileNotFoundException: Could not load file or assembly 'MyUWPApp, Version=1.0.0.0, Cu

[2020-04-21 04:22] mcleanbyron commented on #2372
Great - I'm glad you figured it out!

[2020-04-21 07:17] radujipa commented on #2373
Spotted the note in Option 2 section. Thank you for the clarification!

[2020-04-21 09:06] hansmbakker commented on #2374
Also, on https://docs.microsoft.com/en-us/windows/uwp/design/controls-and-patterns/forms#spacing there is written in the text what size elements should have and what margin they should have.

I would find it much easier to digest all information if there could be (more) visual schemes with recommend sizes & margins in these docs. It is very difficult to keep an overview of spacing recommendations

[2020-04-21 14:09] wbsimms opened #2377 "E713 Settings should be Setting"
E713 Settings should be Setting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60025def-004a-97b9-be6e-a2678e0b4461
* Version Independent ID: 51e386c5-e9cf-f900-ba27-1479709f8186
* Content: [Segoe MDL2 icon guidelines - UWP applications](https://docs.microsoft.com/en-us/windows/uwp/design/style/segoe-ui-symbol-font#fe

[2020-04-21 23:52] jpcoates opened #2379 "Simple app using the example provided seems to lock up (Picker freezes without allowing any choices.)."
Simple app using the example provided seems to lock up (Picker freezes without allowing any choices.). Currently testing with Microsoft Visual Studio Community 2019, Version 16.5.4.

[2020-04-22 11:15] hansmbakker commented on #2374
Please also see this older Reddit thread where people ask for the same:
https://www.reddit.com/r/WPDev/comments/6x0m97/uwp_design_guidelines_with_control_dimensions/

It would be great if you could somehow address this need.

[2020-04-22 11:37] Poopooracoocoo opened #2380 "Is the guidance up to date?"
Microsoft has recently been using icons without a backplate.

My opinions below:
Android 8 and above force apps to use adaptive icons. Android 7 and below have "shapeless" icons
iOS and iPadOS have "shaped" icons
What's the deal with Windows 10? 7 has shapeless. 8-10 have shaped. How about now?
Adaptive icons wouldn't be particularly bad, as long as the user can customise the OEM's default and if

[2020-04-22 11:52] mdtauk commented on #2374
Spacing between controls, similar to internal guidance for the Settings app.  Your Phone is an application with inadequate vertical spacing between elements.

![image](https://user-images.githubusercontent.com/7389110/79978465-e24f5700-8497-11ea-89a4-4be6f3832669.png)

![image](https://user-images.githubusercontent.com/7389110/79978593-1296f580-8498-11ea-9a43-d9c2bba24c00.png)

[2020-04-22 12:15] mdtauk commented on #2380
Icon and Tile asset documentation should be refreshed and updated

[2020-04-22 15:46] fman028 opened #2381 "What about WinRT runtime components?"
Would be good to a have a section on those.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 889d5484-0d90-b525-fa3c-69d8f6c9bb0b
* Version Independent ID: f49ccb81-5569-afcf-779a-aab24b1c4c3a
* Content: [Windows Runtime components - UWP applications](https://docs.microsoft.com/en-us/windows/uwp/winrt-components/#feedbac

[2020-04-22 18:39] hkhmsft commented on #2369
Hi @ctxhou , thanks for submitting your feedback. Here are all of the developer support resources, for completeness.

[Microsoft Q&A](https://docs.microsoft.com/answers/topics/uwp.html?sort=active&filter=all) offers relevant and timely answers to your technical problems from a community of experts and Microsoft engineers.
- For community assistance with development questions, there are our [forums

[2020-04-22 18:39] #2369 closed, assigned to hickeys

[2020-04-22 21:26] stevewhims commented on #2381
Hi, @fman028, and thanks for filing this issue. I've now updated this topic (see the **Note** at the top) with a link to content that guides the reader through using C++/WinRT to create a Windows Runtime Component. The target topic in question is focused on authoring events, but it so happens that the walkthrough involves creating and consuming a C++/WinRT WRC. So I felt like that covered the scen

[2020-04-22 22:14] fman028 commented on #2381
Oh wow that was fast!  I ended up figuring out WinRT WRCs this morning :)  It looks like that events walkthrough seems to cover the main points I got stuck on (adding a reference to BankAccountWRC.winmd and the .h file include "#include <winrt/BankAccountWRC.h>").  Thanks for following up!

[2020-04-23 18:23] xCONFLiCTiONx opened #2382 "Missed a step"
Between step 8 and 9 there should be the following command. You can't even run step 9 without it.
$ nvm use 12.16.2
Or whichever version you have installed.
Thanks for the tutorial though!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e2657da-0749-4fec-ab1d-2f04828e57a6
* Version Independent ID: f4541fe1-5c0b-3d6c-b1

[2020-04-24 06:56] PrinceCharles23 commented on #2205
so what's the story here? 3 months since this got reported and no update?
i am having the same issue

[2020-04-25 00:08] mattwojo commented on #2382
Thanks for the contribution @xCONFLiCTiONx! Resolved: https://github.com/MicrosoftDocs/windows-uwp-pr/pull/691
:)

[2020-04-25 00:08] #2382 closed, assigned to mattwojo

[2020-04-25 13:28] xCONFLiCTiONx commented on #2382
Sorry to bring this back up but just a minor issue with it. Again, sorry, I'm not trying to be one of those doosh bags that troll. I'm just trying to help.

**You have:**
_9. After installing the Node.js version numbers you need, select the version that you would like to use by entering: nvm use <version> (replacing <version> with the number, ie: nvm install 12.9.0)._

**It should be:**
_After ins

[2020-04-25 22:25] KusiTec opened #2383 "Change hierarchy structure in the RootNode property after first publication"
Please have a look at stackoverflow:
https://stackoverflow.com/questions/61428921/reload-treeview-with-new-root-nodes-and-new-item-source

Thanks much for answering

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: b245536a-3179-ff1e-dfd5-76898d07381b
* Version Independent ID: 145609fa-8e7

[2020-04-26 06:35] schemburkar opened #2384 "Scheduling a sale for 'Owners of'"
Can you clarify in the docs if when I Scheduling a sale for 'Owners of' for my app, does it apply to trial users of app or paid users of app. I would like to target paid and trail users of the app separetly, but 'Owners of' does not seem to provide information if it targets trail users or paid users or both.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-04-26 09:43] hez2010 commented on #2205
Ping! Any updates on it?
This problem exists since Windows 10.0.16299.0 and now has passed 3 years.

[2020-04-26 11:50] AM2petterk opened #2386 "DEV: Cannot connect to XDK with Dev Companion UWP app and does not show in list."
Tried disabling Fiddler, did not work.

[2020-04-26 12:57] vlad-ed-git opened #2387 "How does one contact support? My developer account is stuck at verification process."
I really have to say this, I have never encountered a more frustrating app deployment process in the 7 years of my professional developer workings! Like wtf! You ask for developer info (work account), I submit the info, then I get a "failed to verify message, update your info" , which just takes me back to the same form that asked the initial info. What kind of service is this ?!

---
#### Documen

[2020-04-26 19:18] ijo-elaja opened #2388 "City input field not working"
I am trying to sign up for a developer account. I live in the US and chose my city, Lancaster. However, I filled out all inputs, and it says: "City is required (1-30 characters)". I am not sure what is causing this issue, and I've tried reloading the page several times, but the problem still persists. Thanks!

[2020-04-27 02:33] AzAgarampur commented on #2341
Hey mcleanbyron,

Sorry to bother you once again, but I noticed a small problem while using the prerelease WinUI package. Most fluent design styles, like `ButtonRevealStyle` are unrecognized by the XAML editor. In addition, most fluent brushes aren't functional anymore. For example, reveal highlight and Acrylic always use the fallback color. (For Acrylic, I have tried both the platform `AcrylicBru

[2020-04-27 05:06] mcleanbyron commented on #2341
I'm sorry you're running into this. Unfortunately, this thread has grown beyond the scope of issues with the docs. For product feedback like this against WinUI, please submit your feedback to the [WinUI product repo](https://github.com/microsoft/microsoft-ui-xaml). That repo is managed by members of the WinUI product team, and they should be able to triage and respond to your feedback.

[2020-04-27 05:18] AzAgarampur commented on #2341
Alright, sorry about that. I'll go ahead and submit my problem to the WinUI repo.

Thanks.

[2020-04-27 06:30] ssyrell opened #2389 "Transactional model diagram is not readable in dark theme."
The diagram in the "The transactional model" section is extremely difficult to read when the page is rendered using the dark theme.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8132995-4d33-d547-f743-37cd3b3f15c4
* Version Independent ID: 19465bc3-648d-6576-ea62-5b23b50531d5
* Content: [Best practices for writing to

[2020-04-27 14:52] KusiTec commented on #2383
This issue is solved. Dynamic building of the tree through binding data source by the item source property in the tree view control, without node operations.

[2020-04-27 18:19] kevinguo305 opened #2390 "Visual Examples"
I think it'd be helpful to include some visual examples of how the layouts should look for each screen size. It'd be a lot easier to consume than a bulleted list of text for some people.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a5f48a1-c62a-9f8f-ab29-70d013346d2a
* Version Independent ID: 6ad201c6-ae84-5c10-0129

[2020-04-27 18:43] elielson-anjos opened #2392 "Trouble compiling "broadFileSystemAccess""
If you're having trouble compiling, put '&lt;rescap:Capability Name="broadFileSystemAccess" /&gt;' on top of all the other capabilities.

Someone forgot to tell that the order matters.

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: 9b665f33-4a40-510a-86d3-019ba9c79c44
* Version Independent ID: df96e262-81

[2020-04-27 18:49] youtoofan opened #2393 "Socketmobile S700 bluetoothscanner returns null when claiming"
Hi,

This may be related to #1014, but I'm not sure.
I have successfully paired my Socketmobile s700 to my windows PC, it is shown as a scanner device.
2 serial ports have been created.

![image](https://user-images.githubusercontent.com/1804461/80408849-20011500-88c8-11ea-9bde-b7ae5fe3df1a.png)

But when I run the Barcode Scanner sample, I get this error:
![image](https://user-images.githubuserco

[2020-04-27 20:46] mattwojo commented on #2118
Closing as I believe this issue has been resolved. Please let me know if this is not the case.

[2020-04-27 20:46] #2118 closed, assigned to mattwojo

[2020-04-27 21:39] mattwojo commented on #2382
Thanks -- good catch. Cleaned those up: https://github.com/MicrosoftDocs/windows-uwp-pr/pull/694

[2020-04-27 21:54] hkhmsft commented on #2393
Hi, we appreciate you submitting through our feedback channel. However, this feels not so much like feedback specifically about the documentation, but rather like a support request. Here are all of the developer support resources, for completeness.

[Microsoft Q&A](https://docs.microsoft.com/answers/topics/uwp.html?sort=active&filter=all) offers relevant and timely answers to your technical proble

[2020-04-27 21:54] #2393 closed, assigned to lastnameholiu

[2020-04-27 21:55] hkhmsft commented on #2388
Hi, we appreciate you submitting through our feedback channel. However, this feels not so much like feedback specifically about the documentation, but rather like a support request. Here are all of the developer support resources, for completeness.

[Microsoft Q&A](https://docs.microsoft.com/answers/topics/uwp.html?sort=active&filter=all) offers relevant and timely answers to your technical proble

[2020-04-27 21:55] #2388 closed, assigned to lastnameholiu

[2020-04-27 21:56] hkhmsft commented on #2387
Sorry to hear this. Here are all of the developer support resources, for completeness.

[Microsoft Q&A](https://docs.microsoft.com/answers/topics/uwp.html?sort=active&filter=all) offers relevant and timely answers to your technical problems from a community of experts and Microsoft engineers.
- For community assistance with development questions, there are our [forums](https://social.msdn.microsof

[2020-04-27 21:57] hkhmsft commented on #2386
Hi, we appreciate you submitting through our feedback channel. However, this feels not so much like feedback specifically about the documentation, but rather like a support request. Here are all of the developer support resources, for completeness.

[Microsoft Q&A](https://docs.microsoft.com/answers/topics/uwp.html?sort=active&filter=all) offers relevant and timely answers to your technical proble

[2020-04-27 21:57] #2386 closed, assigned to lastnameholiu

[2020-04-27 22:00] hkhmsft commented on #2383
Glad your issue got resolved! If there are any suggestions you'd like to make to our documentation, feel free to contribute to our public docs.

[2020-04-27 22:00] #2383 closed, assigned to jwmsft

[2020-04-27 23:30] payyavula opened #2394 "Add HoloLens-2 hardware acceleration support for H265."
Could you please provide details for HoloLens-1 and HoloLens-2, its support for H264, H265 on HL1 and HL2. also clarify which has hardware acceleration support for encoding and decoding.

[2020-04-28 02:28] vlad-ed-git commented on #2387
This is the exact problem. You did not even read the issue. I am asking
about developer account verification process! You gave me a bunch of links
for support "resources"! The very first line on my report says "contact
support"! I don't need a bunch of documents to read through, I have already
done that! And you have the audacity to close the issue! Not even waiting
for my response. If you hate yo

[2020-04-28 06:12] hkhmsft commented on #2387
Hi @vlad-ed-git . In this case, could you restate the ask that you have requested in your initial submission? It seemed to me that you had encountered an issue submitting your information, which would fall under a support related question, not a documentation fix.

Your initial ask was contacting support, and the resources I provided are meant to help you redirect your question to an appropriate s

[2020-04-28 10:32] mickeymoon opened #2395 "Is there a query limit on GetSubscriptionsForUser API on a per minute, hour or day basis?"

[2020-04-28 12:09] vlad-ed-git commented on #2387
Let me elaborate then.
I am opening a Microsoft developer account using a company email. In order
to publish an office add-on to the Microsoft Store.
This process requires a verification step which goes like this.
I got a form to fill some info, which I did, with accurate information.
Then I submitted that info.
Waited a few days and got back a message that says the verification could
not be compl

[2020-04-28 12:13] vlad-ed-git commented on #2387
Your response better be a link to customer support for microsoft developers
or related support people, OR please, don't waste both our time, and just
dont respond。

On Tuesday, April 28, 2020, Alexis Ho-Liu <notifications@github.com> wrote:

requested in your initial submission? It seemed to me that you had
encountered an issue submitting your information, which would fall under a
support related

[2020-04-28 13:44] brabebhin opened #2396 "useless"
This has to be one of those useless pages in microsoft docs.
I got error 1201 and was redirected here, and this didn't do anything to narrow down the issue.

Delete this page and stop linking it from official stores.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e281513-bb4e-c6d4-4429-bd92e3a3994a
* Version Independe

[2020-04-28 14:29] MilesChing opened #2397 "Unable to add a reference to project `MyAppUwp`"
I simply created an UWP project to the solution and attempted to reference it from the WPF project and the dialog appeared. I don't know if I have a problem with my operation or the Visual Studio version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc7ec471-9257-39ba-173b-eb7973f4c360
* Version Independent ID: 3e07d

[2020-04-28 15:46] suxoikorm opened #2398 "Can't change tax profile"
I need to edit my tax profile. Im click on the edit button and have error.
![image](https://user-images.githubusercontent.com/17691118/80508208-6d40bd80-8980-11ea-88f6-a773d00b77ad.png)
![image](https://user-images.githubusercontent.com/17691118/80508236-7762bc00-8980-11ea-857d-f85d12aaadab.png)
How can i edit my tax profile?

[2020-04-28 16:41] tewarid opened #2399 "Returning C style arrays"
I found this page lacking in information about how to return arrays in general, and C style arrays in particular. Unit tests in cppwinrt use com_array. I couldn't find a mention of com_array in this or adjacent pages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d6f6d3b-a97d-3660-fde8-cebf73ef7968
* Version Independ

[2020-04-28 19:45] wdk0294 commented on #2160
I need help, when I want to buy a subscription in Microsoft Partner Center it throws the following error: Error code 6168.
Please try a different payment method. Note: Prepaid cards are not accepted.

[2020-04-28 19:54] hkhmsft commented on #2398
Hi @SuxoiKorm , could you reach out to either [Windows developer support](https://developer.microsoft.com/windows/support) or [Microsoft Support](https://support.microsoft.com/contactus)? Unfortunately we only handle documentation fixes so I'm thinking these channels might help get an answer for you faster.

If you receive assistance via any of the support resources, and you believe that informati

[2020-04-28 20:01] hkhmsft commented on #2387
The links I provided are support links. I'll resurface them for your convenience. [Microsoft Support](https://support.microsoft.com/contactus) and [Windows developer support](https://developer.microsoft.com/windows/support).

[2020-04-28 21:06] stevewhims commented on #2399
Hi, @tewarid, do you mind taking a look at Raymond Chen's blog post here (https://devblogs.microsoft.com/oldnewthing/20200205-00/?p=103398). Does that contain the info you're looking for? If so, I can see about working that into the topic.

-Steve

[2020-04-28 22:44] tewarid commented on #2399
Hi @stevewhims, thanks for the quick response, and for indicating that excellent blog post by Raymond Chen. It does cover what I am looking for.

[2020-04-28 23:18] davidmatson opened #2400 "Backwards example regarding by val vs by ref?"
The documentation currently says:

&gt; You can accept a copyable parameter by value, instead of by reference. For example, change ```SomeClass``` to ```SomeClass const&```.

But I think it means the other way around:
You can accept a copyable parameter by value, instead of by reference. For example, change ```SomeClass const&``` to ```SomeClass```.

---
#### Document Details

⚠ *Do not edit this

[2020-04-28 23:33] stevewhims commented on #2399
Great, thanks for the confirmation! :) I've added a link to the blog post, so I'll go ahead and close.

-Steve

[2020-04-28 23:49] davidmatson opened #2401 "C++/WinRT projections on API docs are not working as this page says they should"
This page says:

&gt; Below is the syntax block taken from the documentation topic for [RoutedEventHandler](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.routedeventhandler?view=winrt-18362) (choose C++/WinRT from the Language drop-down in the upper-right corner of the webpage).

[code]

But when I click that link, it instead shows just:
[code]

Is the language projection for C++/WinRT

[2020-04-28 23:56] davidmatson opened #2402 "Broken API doc links"
In the [Delegate types for asynchronous actions and operations](https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/handle-events#delegate-types-for-asynchronous-actions-and-operations) section, the following links are broken:
* [AsyncOperationProgressHandler](https://docs.microsoft.com/en-us/uwp/api/windows.foundation.asyncoperationprogresshandler)
* [AsyncOperationWithProgressComplet

[2020-04-29 00:00] davidmatson commented on #2401
Here's another one that appears to be broken:
https://docs.microsoft.com/en-us/uwp/api/windows.foundation.iasyncoperationwithprogress-2?view=winrt-18362

It shows only:
[code]

[2020-04-29 00:05] davidmatson opened #2403 "Floating point types should not be used to store currency values"
Floating point types can't store all values in the range x.nn. Using a float to store a bank account balance is an example of what not to do. See, for example:
http://wiki.c2.com/?FloatingPointCurrency

It's just an example here, but example code is often how programmers learn how to write production code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-04-29 00:29] davidmatson opened #2404 "Typo -> "is not" should be "is""
In [Awaiting a kernel handle
](https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/concurrency-2#awaiting-a-kernel-handle):
[code]

I think it should say just "\*is\*" rather than "\*is\* not".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd174fcd-dc5c-7536-9a12-0e7b5926e739
* Version Independent ID: b668

[2020-04-29 00:30] stevewhims commented on #2400
Hi, @davidmatson, and thanks for letting me know. I've fixed that now, so I'll go ahead and close.

Thanks!
Steve

[2020-04-29 00:30] #2400 closed, assigned to stevewhims

[2020-04-29 00:30] #2399 closed, assigned to stevewhims

[2020-04-29 00:41] MilesChing commented on #2397
I see. I mistakenly created a.net Framework project instead of a.net Core project. The problem was solved when I recreated the project

[2020-04-29 00:41] #2397 closed, assigned to mcleanbyron

[2020-04-29 01:22] davidmatson opened #2405 "Nit: historic should be historical"
I'd suggest changing:
&gt; because of the historic design of the framework
to:
"because of the historical design of the framework"

https://www.merriam-webster.com/words-at-play/everything-youve-ever-wanted-to-know-about-historic-and-historical

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c3f98fd-a779-924f-02d1-1876

[2020-04-29 01:32] stevewhims commented on #2403
Hi, @davidmatson, and thanks for filing this issue. I've sent you an email, so let's work on this idea internally (perhaps you could submit a PR using the instructions I sent).

I'll go ahead and close this GitHub issue, since we don't need it to track.

Thanks again!
Steve

[2020-04-29 01:32] #2403 closed, assigned to stevewhims

[2020-04-29 02:00] stevewhims commented on #2405
Hi, @davidmatson, and thanks for filing this issue. I'll go ahead and take care of this, and I've emailed you internally, so I'll go ahead and close this issue for now since we don't need it for tracking.

Thanks!
Steve

[2020-04-29 02:00] #2405 closed, assigned to stevewhims

[2020-04-29 02:00] stevewhims commented on #2404
Hi, @davidmatson, and thanks for filing this issue. I'll go ahead and take care of this, and I've emailed you internally, so I'll go ahead and close this issue for now since we don't need it for tracking.

Thanks!
Steve

[2020-04-29 02:00] #2404 closed, assigned to stevewhims

[2020-04-29 02:10] stevewhims commented on #2402
Hi, @davidmatson, and thanks for filing this issue. I have a fix in the pipeline, and I'll track that until it's published. I'll close this for now.

-Steve

[2020-04-29 02:10] #2402 closed, assigned to stevewhims

[2020-04-29 02:13] stevewhims commented on #2401
Hi, @davidmatson, and thanks for filing this issue. Yes this looks like a regression in our build system that I hadn't spotted before. I'll follow up with the content engineers about it.

I'll track that work internally, so I'll go ahead and close this.

Thanks again!
-Steve

[2020-04-29 02:13] #2401 closed, assigned to stevewhims

[2020-04-29 03:48] ZodmanPerth opened #2406 "Debug/Test information is missing"
Information on how to debug/test the protocol launch needs to be added to this page.

Something like this answer on StackOverflow: https://stackoverflow.com/questions/23110487/how-to-debug-windows-store-app-onactivated-event

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efc62851-f8af-dde5-2e95-03d59a25ad81
* Version I

[2020-04-29 06:52] FelixWeichselgartner opened #2407 "Not able to connect with Microsoft HoloLens program to HoloLens2"
Hi,
I'm trying to add my hololens 2 device to the app. After I entered the IP and credentials I get the following error:
[code]

However I can log on over the webinterface with the same credentials + ip I entered in the app.

Any help is appreciated. If necessary I can provide further information. Have a nice day.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-04-29 07:39] Martin-Stein opened #2408 "Adperformance not updated since 02-21-2020!"
Hi,
my adperformance is not updated since 02-21-2020!
Please fix it, so that I can see my actual data.

Thanks,

Martin

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 7361de4b-d8ca-fcac-b7e2-5b4d014e3daf
* Version Independent ID: 06dd75a0-a983-7059-01e6-f7e27f2e7ef5
* Content: [Analysie

[2020-04-29 13:01] tommed opened #2409 "Long longer works with WIX"
I've tried creating a WIX installer for producing the Shortcut necessary,
https://gist.githubusercontent.com/tommed/07aada312a1bf27cfcf67e16331be149/raw/e640eb74c01b1e280b33ef4bfb7df8e4091323e1/Product.wxs

However I get the error during installation:
Warning 1946, Property "{9F4C2855-9F79-4B39-A8D0-E1D42DE1D5F3}, 26" for shortcut "MyApp.lnk" could not be set.

I've also tried with "System.AppUser

[2020-04-29 13:02] tommed commented on #2251
Why was this closed?

[2020-04-29 15:14] suxoikorm commented on #2398
The error went away when I did it through Edge, and not through Chrome. Thanks

[2020-04-29 15:14] #2398 closed, assigned to lastnameholiu

[2020-04-29 16:15] Karl-Bridge-Microsoft commented on #2407
Hi @FelixWeichselgartner - This is not a developer doc issue, please try [HoloLens help](https://support.microsoft.com/en-us/hub/4338666/hololens-help). You might also find assistance from one of the following:

- For developer issues, or suspected product bugs, there's [Microsoft Support](https://support.microsoft.com/contactus); a support engineer will look at the repro and see whether the issue

[2020-04-29 16:15] #2407 closed, assigned to Karl-Bridge-Microsoft

[2020-04-29 16:21] Karl-Bridge-Microsoft commented on #1197
Hi @jakehockey10, these docs are specifically for UWP apps on Windows 10. If you need info on Bluetooth support in WPF, you can check those corresponding platform docs. Check this blog post about using UWP APIs in WPF applications: [Calling Windows 10 APIs From a Desktop Application](https://blogs.windows.com/windowsdeveloper/2017/01/25/calling-windows-10-apis-desktop-application/)

[2020-04-29 16:21] #1197 closed, assigned to Karl-Bridge-Microsoft

[2020-04-29 16:25] Karl-Bridge-Microsoft commented on #712
Question answered. No samples planned at this time.

[2020-04-29 16:25] #712 closed, assigned to Karl-Bridge-Microsoft

[2020-04-29 16:35] Karl-Bridge-Microsoft commented on #1463
Hi @jawilkins - This is not a developer doc issue, please try one of the following support channels:

- For developer issues, or suspected product bugs, there's [Microsoft Support](https://support.microsoft.com/contactus); a support engineer will look at the repro and see whether the issue is a Microsoft product bug, or something else. If it's a bug with a Microsoft product then the ticket will be

[2020-04-29 16:35] #1463 closed, assigned to Karl-Bridge-Microsoft

[2020-04-29 16:38] Karl-Bridge-Microsoft commented on #1253
Hi @kasperbalink - Closing due to lack of response, please try to find assistance from one of the following:

- For developer issues, or suspected product bugs, there's [Microsoft Support](https://support.microsoft.com/contactus); a support engineer will look at the repro and see whether the issue is a Microsoft product bug, or something else. If it's a bug with a Microsoft product then the ticket

[2020-04-29 16:38] #1253 closed, assigned to Karl-Bridge-Microsoft

[2020-04-29 16:40] Karl-Bridge-Microsoft commented on #812
Hi @ljfischer - This is not a developer doc issue, please try to find assistance from one of the following:

- For developer issues, or suspected product bugs, there's [Microsoft Support](https://support.microsoft.com/contactus); a support engineer will look at the repro and see whether the issue is a Microsoft product bug, or something else. If it's a bug with a Microsoft product then the ticket

[2020-04-29 16:40] #812 closed, assigned to Karl-Bridge-Microsoft

[2020-04-29 16:43] Karl-Bridge-Microsoft commented on #984
Question answered.

[2020-04-29 16:43] #984 closed, assigned to Karl-Bridge-Microsoft

[2020-04-29 16:45] Karl-Bridge-Microsoft commented on #1278
Closing due to lack of response.

[2020-04-29 16:45] #1278 closed, assigned to Karl-Bridge-Microsoft

[2020-04-29 17:22] keithnicholson opened #2410 "Links To How to Consume Toolkits"
I love the list of toolkits.  I've glanced at a couple, but I'm unsure how best to export items from toolkits to easily be used in a UWP app.  I've been searching Bing and just not finding the resources as I would expect.  Could you provide some assistance in this article?

[2020-04-29 18:28] keithnicholson commented on #991
Once I get the toolkit, how do I integrate it into my UWP app?  How do I export correctly to be consumed by my XAML?  I would love a reference or article on this!

Peace,
Keith

[2020-04-29 18:29] AM2petterk commented on #2386
Sorry, posted in a hurry! My bad...

[2020-04-29 19:49] alvarezskinner opened #2411 "Upgrade installation script in instructions for setting up"
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.3/install.sh

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6995595-66c4-f26a-b307-89a068b4b5ba
* Version Independent ID: 69400ed1-5d98-4d6e-47a3-5c409564e77d
* Content: [Set up NodeJS on WSL 2](https://docs.microsoft.com/en-us/windows/nodejs/setup-on-wsl2#fe

[2020-04-29 23:29] asklar opened #2412 "How to create layout for C# app from MSBuild"
VS creates the layout folder by default but I can't figure out how to get MSBuild to do the same from the command line

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8ee9c97-d766-6c25-eb40-0c7a2a41f908
* Version Independent ID: d17a0a28-ce1c-dd24-6b2d-05083a6e2809
* Content: [Deploy an app through loose file registrat

[2020-04-29 23:31] asklar opened #2413 "Registering layout with built appxmanifest.xml crashes app"
C# UWP hello world type of app. If I do `Add-AppxPackage -register` and  give it the path to the built appxmaniest.xml (not the one in the Appx layout folder), then the app installs but crashes on launch because it tries to use the full .net framework instead of .net core. Need more clear instructions on which AppXmanifest.xml file needs to be passed in.

---
#### Document Details

⚠ *Do not edit

[2020-04-30 00:38] michael-hawker opened #2414 "Should add a link to the WindowsCommunityToolkit control"
We have a MasterDetailsView control in the toolkit that can be used for this scenario: https://docs.microsoft.com/en-us/windows/communitytoolkit/controls/masterdetailsview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fd4b0df-4564-2c87-4ed5-ea40bde54918
* Version Independent ID: f8caabee-0fa1-e02b-11b0-79d0cfd8b973
*

[2020-04-30 06:54] MadamLaunch commented on #2392
I've tried that, and I'm still being told that it's an invalid child entity. Builds go through, but I don't have the access.

The element 'Capabilities' in namespace 'http://schemas.microsoft.com/appx/manifest/foundation/windows10' has invalid child element 'Capability' in namespace 'http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities'.

The warning message then

[2020-04-30 08:47] marb2000 commented on #1381
No, there is no plan for allowing creating Custom ContentLinkProvider. We are planning to deprecated this feature indeed.

[2020-04-30 10:01] cekageka opened #2415 "API Issues unresolved"
Hi, it looks like this API is orphaned. API responses (with valid key) are always 'unauthorised' and a bunch of issues in the API dashboard are unanswered for months. Any hint? Thanks, Christian

(See here: https://admetadata.portal.azure-api.net/issues)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e291bd6-f015-c848

[2020-04-30 11:32] radujipa commented on #2331
@jevansAN I ran into the same issue today but was able to resolve it by following https://docs.microsoft.com/en-us/windows/uwp/publish/create-app-store-listings#add-and-edit-store-listing-info

To clarify:

1. Go to your application overview page
2. Go to Submissions
3. Click `Update` on your latest submission. This will prepare a new submission for the app
4. From the submission overview page, un

[2020-04-30 12:17] elielson-anjos commented on #2392
@MadamLaunch Here the warning never went away, but I was able to build, and then read/write files system wide without bumping into "non authorized".

Since it is a special feature that you need approval to use, maybe thats the intended behaviour.

[2020-04-30 14:14] al-n commented on #1381
No surprise after a year of nothingness...

[2020-04-30 14:14] #1381 closed, assigned to marb2000, jwmsft

[2020-04-30 17:48] andrewleader commented on #1841
Hey everyone, we've updated the code to work with .NET Core 3: https://github.com/WindowsNotifications/desktop-toasts/blob/master/CS/DesktopToastsApp/DesktopNotificationManagerCompat.cs

We're also in the process of adding this code to the Community Toolkit, but until then you'll have to copy/paste this file locally as the documentation says.

Closing since link in documentation has also been upda

[2020-04-30 17:48] #1841 closed, assigned to andrewleader

[2020-04-30 18:02] NickeManarin commented on #2380
They should add guidelines or tutorials for people trying to design icons using the fluent design language.

[2020-04-30 20:35] jwmsft commented on #2414
@michael-hawker, thanks for the suggestion. I've added the link, and the update should be live later today.

[2020-04-30 20:40] #2327 closed, assigned to jwmsft

[2020-04-30 20:42] #2287 closed, assigned to jwmsft

[2020-04-30 21:18] #2341 closed, assigned to mcleanbyron

[2020-05-01 01:24] vartularora commented on #445
I did the installed the following 3 to make it work. (I installed it on Windows 10, 64 bit)
pip install google
pip install google.cloud.bigquery
pip install google-cloud-translate

[2020-05-01 15:17] AgmundrTerr commented on #1986
it is still not working for me. In a console app everything functions just fine.

[2020-05-01 15:19] #2414 closed, assigned to jwmsft

[2020-05-01 17:33] hkhmsft commented on #2408
Hi @Martin-Stein  and thanks for submitting your issue through our channel. It seems you have a support related question. Unfortunately, that's outside of the scope of things we can offer a solution for. Here's the link to [Windows developer support](https://developer.microsoft.com/windows/support) and [Microsoft Support](https://support.microsoft.com/contactus).

If you receive assistance there,

[2020-05-01 20:09] wmacdonald-gpsw opened #2418 "Error in MyUWPApp build."
I am getting a compile error when following these instructions, just after finishing the changes to MyUWPApp where the code for App.xaml is added.

1&gt;MyUserControl.xaml : XamlCompiler error WMC1002: x:Class type 'MyUWPApp.MyUserControl' is not found in 'MyUWPApp'

Visual Studio version is 16.5.4.
My Microsoft.Windows.CppWinRT package is v2.0.200316.3
My Microsoft.Toolkit.Win32.UI.XamlApplicatio

[2020-05-01 20:41] mcleanbyron commented on #2418
Thanks for submitting your feedback, and I'm sorry you're encountering this. If the MyUserControl.xaml you added to the project (per the instructions in this walkthrough) don't include any code-behind files, then you're almost certainly hitting a bug introduced in Visual Studio 16.5 that breaks the Blank User Control and Blank Page items for C++/WinRT projects. For more details about the bug, see

[2020-05-01 20:41] #2418 closed, assigned to mcleanbyron

[2020-05-01 21:18] wmacdonald-gpsw commented on #2418
Thank you, I had reached the same conclusion myself just now. I had to manually create the code-behind and recreate the file dependencies in the project. I am able to build it now. I am glad to see the bug is already fixed in 16.6.

[2020-05-01 21:20] mcleanbyron commented on #2418
I'm glad you were able to work through it by creating the code-behind on your own.

[2020-05-02 07:28] HALOCORE commented on #2339
Are the Custom Events obsoleted ? I still cannot see Custom Events on the Usage Report page. I think several months ago it's visible.

[2020-05-02 12:30] profnandaa opened #2419 "[c++/winrt][get started] add a note about #pragma"
I was getting errors when building until I added `#pragma comment(lib, "windowsapp")` on `pch,h`; that I found on the [moderncpp.com site](https://moderncpp.com/2017/11/01/cppwinrt-in-the-windows-sdk/)

Could we have note about this in the getting started? Can be a huge stumbling block for someone just starting on this.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-05-03 07:03] rogerms opened #2420 "Very helpful documentation but it is missing more info on customization"
How we can change selected item highlight color for example.

I didn't use the Nuget package and I got this error:
The member "IsTitleBarAutoPaddingEnabled" is not recognized or is not accessible.
It looks like that property doesn't exist anymore. I think you guys should add some notes about that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-05-03 21:40] rogerms opened #2421 "Learned a lot"
Very useful article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d04b1b4-83bd-b54f-8009-969ac052976b
* Version Independent ID: 921b50c1-a8aa-27d6-b1a6-fe6f2fdee07c
* Content: [Color in UWP apps - UWP applications](https://docs.microsoft.com/en-us/windows/uwp/design/style/color)
* Content Source: [windows-apps-src/de

[2020-05-03 23:30] stevewhims commented on #2419
Hi, @profnandaa, and thanks for filing this issue. You don't have to explicitly link to WindowsApp.lib if you set up C++/WInRT in the recommended way. For more info and links, see the section in the FAQ about [WindowsApp.lib](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/faq#why-is-the-linker-giving-me-a-lnk2019-unresolved-external-symbol-error), and why you (nearly always) don't need

[2020-05-03 23:30] #2419 closed, assigned to stevewhims

[2020-05-04 00:03] yoshiask opened #2422 ""uap3" namespace not specified"
In order to use this, you have to add `xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"`, which the docs don't mention (and requires either some prior knowledge or a bit of digging). Failing to include this namespace understandably prevents the app from building.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-05-04 13:04] profnandaa commented on #2419
Got it, thanks!

[2020-05-04 15:49] elda27 opened #2423 "Maybe the sample code is not working"
I found following code and try it like this.

[code]

This sample code pass the DispatcherQueue to `winrt::resume_foreground`.
But the `winrt::resume_foreground` is not accept DispatcherQueue (I'm understanding to accept only CoreDispatcher and DispatcherQueue is not derrived CoreDispatcher.)

And also the following code block occured compile error.
I seem `DispatcherQueue` is not awaitable object

[2020-05-05 01:37] stevewhims commented on #2423
Hi, @elda27, and thanks for filing this issue. The pattern shown in the topic is correct. You're right that you can pass a CoreDispatcher to winrt::resume_foreground (that implementation is in `winrt/Windows.UI.Core.h`). But you can also pass a DispatcherQueue to winrt::resume_foreground (that implementation is in `winrt/Windows.System.h`).

For the `winrt::fire_and_forget RunAsync(DispatcherQueue

[2020-05-05 08:18] elda27 commented on #2423
Thank you for reply.
I tried your answer but the problem isn't solved.

The `resume_foreground` accept by conversion operator to `CoreDispatcher` from `DispatcherQueue`.
So I need `using namespace winrt::Windows::System;`. (I seem the conversion operator is defined in `winrt/Windows.System.h`)

Is it right?

I tried the following code.
Where is wrong?

[code]

[2020-05-05 09:55] Trolldemorted commented on #2090
Any updates on this? What exactly should we do to mitigate this?

[2020-05-05 12:41] shoptool commented on #2387
I had encountered an issue subm[i](https://shopfortool.com/gmail-sign-up-free-gmail-login-account-gmail-sign-in-on-www-gmail-com/)tting the information. It does work for me on the first stage

[2020-05-05 17:30] mcleanbyron commented on #2090
I'm sorry you're running into this problem. Unfortunately this repo is intended for feedback on the UWP docs, not for providing technical assistance or product feedback.

Here are a few resources that may help:

* It looks like [this issue](https://github.com/microsoft/msbuild/issues/4930) in the MSBuild repo was opened to track the same problem with the product team, and it looks like someone eve

[2020-05-05 17:30] #2090 closed, assigned to mcleanbyron

[2020-05-05 19:49] uallmight opened #2424 "Inaccurate or out of date documentation"
The example for how to use the file picker shows the ability to use `await` however source code itself does not able such action. For UWP build 1809 (10.0 build 17763)

The only path forward appears to be to use the picker like so.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f98368cc-a7d2-6770-7c8f-3cb2f5006

[2020-05-06 05:18] stevewhims commented on #2423
Hi, @elda27, I wasn't sure what kind of project you created but I notice you're explicitly linking [WindowsApp.lib](https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/faq#why-is-the-linker-giving-me-a-lnk2019-unresolved-external-symbol-error). See that link for details about why you shouldn't need to do that.

If you set things up as per this info: [Visual Studio support for C++/WinRT

[2020-05-06 12:57] elda27 commented on #2423
I solve problems after I recreate new project and configure such as reference page.
The old project can't solve problems by same procedure so maybe have any wrong configuration.
Thank you very much.

[2020-05-06 14:40] brynhr opened #2425 "Definition of user"
Hi,

Please could you explain how you are identifying unique users. I have set up 2 test accounts in different groups, and signing in with different accounts in-app, in the store and in the OS seem to yield the default values only. Thanks.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06258b5b-b13f-74be-210d-69b75a520

[2020-05-07 08:59] dorinionescu opened #2426 "Can not see my earnings from selling UPW"
I entered the developer site and redirected to the partner site and office store
There is no information about a cumulative amount from sales
The whole site is a mess about last 30 days stuff
It looks like Developper.Microsoft moved to Windows & XBox
I found it {Aquisition}{Custom}{1.jan.2010}{Gross Sales}
Now that you mixed everything together into Partner Site you should ask somebody to put the

[2020-05-07 09:02] dorinionescu commented on #2426
full menu link
{Windows & XBox}{Products}{choose one product}{Analytics}{Aquisitions}{Custom}{1.jan.2010}{Gross Sales}

[2020-05-08 00:56] stevewhims commented on #2205
Hi, @hez2010 (and others). Again, sorry for the delay. We've been discussing this internally since my previous comment and I now have info to share. An update to the topic is now live, with the following info in the **ControlChannelTrigger with WebSockets** section.

The feature described in this section (**ControlChannelTrigger with WebSockets**) is supported in version 10.0.15063.0 of the SDK, a

[2020-05-08 02:25] hez2010 commented on #2205
@stevewhims

Which version of pre-release sdk? 10.0.19041.0 or 10.0.19624.0?

[2020-05-08 02:40] stevewhims commented on #2205
Hi, @hez2010, in this case, please download the most recent version.

[2020-05-08 15:49] rmoergeli opened #2427 "app.Run(); 'App' does not contain a definition for 'Run'"
I followed the instructions [https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/host-custom-control-with-xaml-islands](https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/host-custom-control-with-xaml-islands) 3 times.

Program.cs, I always get an "'App' does not contain a definition for 'Run'" error in line "app.Run();".

Severity	Code	Description	Project	File	Line	Suppre

[2020-05-10 08:22] rmoergeli commented on #2427
I've overlooked this peace of text 3 times..

Replace the generated Program class with the following code and then save the file. Replace MyUWPApp with the namespace of your UWP app project, and replace My**WPF**App with the namespace of your WPF app project.

[2020-05-10 08:22] #2427 closed, assigned to nobody

[2020-05-10 17:26] hez2010 commented on #2205
Hi, I've verified that this issue has been fixed in Windows 10 SDK 10.0.19624.0.

[2020-05-10 21:52] stevewhims commented on #2205
Excellent, thank you, @hez2010!

[2020-05-11 21:24] ghd796 opened #2430 "Awesome and simple example"
Thank You

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f43a6232-d7f2-2600-20bb-2f26da456628
* Version Independent ID: 9fde14b7-b11b-97bc-f6f9-3dd9219b3f9a
* Content: [Launch the default app for a file - UWP applications](https://docs.microsoft.com/en-us/windows/uwp/launch-resume/launch-the-default-app-for-a-file#feed

[2020-05-11 23:39] mjfusa opened #2431 "Transaction History Fields in query results need documentation."
The following fields are in the output of the transaction history query results. However, they are not documented. Can you please include the definition for these fields in the documentation?

transactionCountryCode
licensingProgramName
taxCountry
taxState
taxCity
taxZipCode
programCode
earningAmountInLastPaymentCurrency
lastPaymentCurrency
assetId
orderId
lineItemId
resellerCountry
customerEmail

[2020-05-11 23:54] mjfusa opened #2432 "Transaction History Fields in documentation don't appear in transaction query results"
Transactions: Microsoft Store Apps
The following fields documented, but are not in the output of the transaction history query results. Can you please update the documentation if this is the correct expectation?

quantityType
paymentAmountWOTax
paymentCurrency
paymentExchangeRate
planId
customerCity
customerState
customerZip
programOfferingLevel
TenantID

Docs: https://docs.microsoft.com/en-us/win

[2020-05-11 23:56] mjfusa opened #2433 "Transaction History Fields in query results need documentation"
The following fields are in the output of the transaction history query results. However, they are not documented. Can you please include the definition for these fields in the documentation?

transactionCountryCode
licensingProgramName
taxCountry
taxState
taxCity
taxZipCode
programCode
earningAmountInLastPaymentCurrency
lastPaymentCurrency
assetId
orderId
lineItemId
resellerCountry
customerEmail

[2020-05-11 23:56] #2431 closed, assigned to nobody

[2020-05-11 23:57] mjfusa commented on #2431
Dupe of 2433

[2020-05-12 00:04] mjfusa opened #2434 "Payment Fields in query results need documentation"
The following field is in the output of the payment data query results. However, they are not documented. Can you please include the definition for these fields in the documentation?

CurrencyCode

Docs: https://docs.microsoft.com/en-us/windows/uwp/publish/payout-summary#payments
https://apidocs.microsoft.com/services/partnerpayouts

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-05-12 00:07] mjfusa opened #2435 "Payment Fields in documentation don't appear in transaction query results"
Transactions: Microsoft Store Apps
The following fields are documented, but are not in the output of the payment data query results. Can you please update the documentation if this is the correct expectation?
earnedCurrencyCode
paymentCurrencyCode

Docs: https://docs.microsoft.com/en-us/windows/uwp/publish/payout-summary#payments
https://apidocs.microsoft.com/services/partnerpayouts

---
#### Docu

[2020-05-12 07:49] PrinceCharles23 commented on #2205
since i am not part of the insider program i cannot download this preview version. i also do not feel too confident in using the preview in a production setting.

so, the next question is: when will this be available for common folk for production?

[2020-05-12 08:06] hez2010 commented on #2205
@PrinceCharles23 Since 10.0.19624.0 is the SDK for Windows 10 21H1, it will be available for production in 2021 April or May.

There's a workaround for temporary, you can create a class to wrap `Windows.Networking.Sockets.WebSocketKeepAlive`.
[code]

Although WebSocket connection will not persist after App closed in this approach.

You can see further discussion in https://docs.microsoft.com/en-us

[2020-05-12 13:20] PrinceCharles23 commented on #2205
well thanks for the info but i only get exactly the same error but i am not using any web sockets. i just want a background task that is not audio related.

[2020-05-12 13:34] hez2010 commented on #2205
@PrinceCharles23 You also need to modify the entrypoint in your app.manifest to reference your warp class instead.

[2020-05-12 20:26] stevewhims commented on #2205
Hi, @PrinceCharles23, I'm sorry not to be able to give a definitive answer there. I can talk about the documentation as it relates to the version of the platform that's currently generally available (GA), and as it relates to version(s) of the platform that are currently in Insider Preview.

-Steve

[2020-05-13 04:48] jonitis opened #2437 "Some text is cropped from left."
Starting from TappedEventArgs section there are lines with missing leftmost characters. E.g. "ichEditMathMode" is missing "R", "nagement" needs to be "Management" etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c68dc509-816d-26b2-4e61-c87e52171b6b
* Version Independent ID: 7d8d4517-28f1-19e5-a102-6bfa4ce21173
* Con

[2020-05-13 06:42] frankcai4real opened #2438 "Store id key is related to the device and the Microsoft account. How can we detect changes to the Microsoft account?"
During the test, we found that the store id key is related to the device and the Microsoft account.
When we change the device or change the Microsoft account used for payment,  the store id key generated at the beginning cannot find the corresponding purchase information.
What we need to do is to regenerate the store id key when the device changes or when the Microsoft account changes.
The questio

[2020-05-13 11:10] fancat-programer opened #2439 "Режим разработчика"
Могу ли я войти в режим разработчика, не имея аккаунта разработчика?

---
#### Сведения о документе

⚠ *Не вносите правки в этот раздел. Это необходимо для связывания страницы сайта docs.microsoft.com с вопросом на GitHub.*

* ID: 1c1ccf0b-ef01-030b-73ed-f1c52bcfe379
* Version Independent ID: 537dc92f-e701-42c1-d0a6-e6f285d2994d
* Content: [Начало разработки приложений UWP на Xbox One - UWP applic

[2020-05-13 11:37] Gavin-Williams commented on #2437
Also, some of the previewteamview api's are in the section above where they should be.

[2020-05-13 22:11] echao2012 opened #2440 "No beforeunload event when exiting Take a Test"
The beforeunload event does not get fired when exiting Take a Test with either Ctrl+Alt+Delete, or Alt+Tab to the lock screen and logging in. I would like to sync with the server that the student has exited the test. Is there an alternative to this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b75a82cd-e530-bc8e-b822

[2020-05-14 15:25] buildYourOwnGolfSimulator opened #2441 "Confusing with two "advertisments""
I can use the GattServiceProvider and have several local characteristics added to it. I call the method serviceProvider.StartAdvertising and I can interact with the GATTServer from e.g. LightBlue on my phone. So far so good, but I fail to find anywhere to specify CompanyId and ManufacturerData. The GattServiceProviderAdvertisingParameters has a ServiceData of type IBuffer, but I can't find any exa

[2020-05-14 18:55] hkhmsft commented on #2430
@ghd796 Thanks. We appreciate the feedback!

[2020-05-14 18:55] #2430 closed, assigned to lastnameholiu

[2020-05-14 21:11] WhiteDogBe opened #2442 "Toast Notification of type reminder does not stay on screen indefinitely"
Hello,

My understanding is that a Toast Notification of the scenario type "reminder" or "alert" stays on the screen until the user interacts with it. This has also been my experience the past months, when creating these types of Toast Notifications. Since recently this behavior seems to have changed: after roughly 6 minutes, the Toast Notification is moved to the Message Center.

A number of obse

[2020-05-15 13:18] chausner commented on #2392
It's worth noting that the file access must happen through the Windows.Storage APIs, e.g. StorageFile.GetFileFromPathAsync. The older File APIs in System.IO will continue to throw access denied exceptions.

Finally, file system permissions must be enabled explicitly by the user (Windows Settings -> Privacy -> File System). By default, it is disabled.

[2020-05-16 21:36] vlsireddy opened #2443 "RHPROXY Enabled, but no I2C Controller device"
HI Team@Microsoft, Experts,

Statement from Michael XU-MSFT "The Resource Hub Proxy driver service is a kernel mode driver. It exists in windows 10 only(Home,Pro, Education, or Enterprise)"

NT Core - > Windows 10 Pro, Home editions.

I am trying to leverage RHPROXY to access I2C/SPI/UART.

[1] First, i ensured that Microsoft windows PRO, Enterprise [NT Core] has RHPROXY.SYS driver in it.

[2] Cha

[2020-05-17 09:06] pjmlp opened #2444 "Missing documentation."
I am currently going through the process of migrating a project.

This page misses relevant information regarding other WRL types like the wrappers namespace,

https://docs.microsoft.com/en-us/cpp/cppcx/wrl/microsoft-wrl-wrappers-namespace?view=vs-2019

No guideline is provided for which classes exist as replacement, either C++17 based ones, or C++/WinRT alternatives.

---
#### Document Details

⚠

[2020-05-17 15:40] msavazzi opened #2445 "Examples does not compile in VS2019"
[Enter feedback here]
The examples does not compile in VS2019 and there are no instructions on how to have them work.
I've created a sample empty UWP app single page.
Copied the XAML in the page (fixing the name and minor things), copied the code to cs file

At runtime I get:
Windows.UI.Xaml.Markup.XamlParseException
  HResult=0x802B000A
  Message=The text associated with this error code could not

[2020-05-17 16:03] msavazzi opened #2446 "Request to update examples from {Binding} to {x:Bind}"
As per Microsoft documentation UWP applications should use x:Bind and not Binding as x:Bind is quicker, strong typed, etc. The issue is that the examples here use Binding and converting them to x:Bind generates several errors

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b245536a-3179-ff1e-dfd5-76898d07381b
* Version

[2020-05-17 20:52] msavazzi opened #2447 "TreeView example does not behave correctly"
When a folder is selected it is expanded (and this is ok) but then the selected item is random.
Is not the folder that has been clicked. Also very often it goes out of screen.

The correct behavior is that the folder is expanded but the focus and selected item remains the folder!
here the project: [TreeView-SelectionIssue.zip](https://1drv.ms/u/s!AohVtHaw3aCiwaE8ADrS0bbIbs6vkA?e=DaJGvn)
---
#### D

[2020-05-17 23:57] TechPhil opened #2448 "The WACK always returns an error"
No matter what I do, the app manifest resources test is 'blocked from execution'
I'm not at my PC right now, so don't have the exact error to hand

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bea36edd-22d6-7d1e-73c3-63d8f276d679
* Version Independent ID: a50a03aa-e89d-55da-43ba-b23155b9bbaf
* Content: [Windows App Ce

[2020-05-18 01:07] Karl-Bridge-Microsoft commented on #2448
Hi @TechPhil - This feedback is not specifically about the documentation, but rather a support request. Please contact the following support channel.

- For developer issues, or suspected product bugs, there's [Microsoft Support](https://support.microsoft.com/contactus); a support engineer will look at the repro and see whether the issue is a Microsoft product bug, or something else. If it's a bug

[2020-05-18 01:07] #2448 closed, assigned to Karl-Bridge-Microsoft

[2020-05-18 01:08] Karl-Bridge-Microsoft commented on #2412
Hi @asklar - This feedback is not specifically about the documentation, but rather a support request. Please contact the following support channel.

- For developer issues, or suspected product bugs, there's [Microsoft Support](https://support.microsoft.com/contactus); a support engineer will look at the repro and see whether the issue is a Microsoft product bug, or something else. If it's a bug w

[2020-05-18 01:08] #2412 closed, assigned to Karl-Bridge-Microsoft

[2020-05-18 16:40] avakhrushev opened #2449 "How multiple default languages work exactly?"
What are the uses and effects of specifying multiple default languages?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd95236a-2f7c-213b-924c-a8aad87fe576
* Version Independent ID: 7b1bc7f5-452d-aa59-ac84-a71644539f49
* Content: [Specify the default resources that your app uses - UWP applications](https://docs.microso

[2020-05-18 18:59] hkhmsft commented on #2442
Hi @WhiteDogBe , really appreciate the detailed feedback regarding Toast Notification. I could try and repro it, but I think it would be way more efficient if you submitted this directly to our [msdn forums](https://social.msdn.microsoft.com/Forums/newthreadcategory=windowsapps&forum=wpdevelop&prof=required) or to [Microsoft Q&A](https://docs.microsoft.com/answers/topics/uwp.html?sort=active&filte

[2020-05-18 19:31] hkhmsft commented on #2443
Hi @vlsireddy , really appreciate the detailed scenario about leveraging RHPROXY to access I2C/SPI/UART. Could you submit this to our [msdn forums](https://social.msdn.microsoft.com/Forums/newthreadcategory=windowsapps&forum=wpdevelop&prof=required) or to [Microsoft Q&A](https://docs.microsoft.com/answers/topics/uwp.html?sort=active&filter=all)? The community of experts and Microsoft engineers the

[2020-05-18 19:38] vlsireddy commented on #2443
Hi,
     Once i get answer. I will reply back, if anything need to be changed in docs.
Thanks

[2020-05-18 19:39] hkhmsft commented on #2443
@vlsireddy Sounds like a plan. Thanks once again.

Closing the Issue for now, but feel free to re-open in the future.

[2020-05-18 19:39] #2443 closed, assigned to lastnameholiu

[2020-05-18 22:41] og-neth opened #2450 "docker context ls not showing wsl in list"
Hope someone can help me here, I followed these instruction for a Nuxt.js app, I have installed everything and have docker desktop etc, however, when running `docker context ls`, I only see the classic docker daemon in the list. This article seems outdated so not sure if that is accurate anymore, since it seems now that the Docker Desktop enables WSL 2 integration out of the box.  My question is a

[2020-05-19 00:00] asklar commented on #2412
Answering my own question: https://github.com/asklar/RegisterFromLayoutUWP.net

[2020-05-19 01:54] asklar commented on #2413
Fix is to follow the instructions in https://github.com/asklar/RegisterFromLayoutUWP.net

[2020-05-19 02:44] hupo376787 opened #2451 "Still no api for keeping playback rate speed when changing media source"
Still no api for keeping playback rate speed when changing media source

---
#### 文档详细信息

⚠ *请勿编辑此部分。 docs.microsoft.com ➟ GitHub 问题链接必须具有此部分。*

* ID: c68dc509-816d-26b2-4e61-c87e52171b6b
* Version Independent ID: 7d8d4517-28f1-19e5-a102-6bfa4ce21173
* Content: [Windows 10 Build 19041 API changes - UWP applications](https://docs.microsoft.com/zh-cn/windows/uwp/whats-new/windows-10-build-19041-api-

[2020-05-19 10:51] jpopeneng opened #2452 "Error in manifest example"
The following URL does not exists:
http://schemas.microsoft.com/SMI/2019/WindowsSettings

In Visual Studio 2019 I get the following message:
`manifest authoring warning 81010002: Unrecognized Element "activeCodePage" in namespace "http://schemas.microsoft.com/SMI/2019/WindowsSettings".`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-05-19 16:12] msavazzi opened #2453 "UWP not stable to deliver applications"
Team, the page is misleading. I've opened several issues and bugs, as of today the UWP UI libraries are not usable. Something it could be done in couple of days with Forms of WPF like a very simple app that reads some data, shows a treeview and sorts the data... is simply impossible in UWP. Looks like controls are not stable enough to build apps

---
#### Document Details

⚠ *Do not edit this sect

[2020-05-19 16:13] msavazzi opened #2454 "UWP not ready for production and real app development"
Team, the page is misleading. I've opened several issues and bugs, as of today the UWP UI libraries are not usable. Something it could be done in couple of days with Forms of WPF like a very simple app that reads some data, shows a treeview and sorts the data... is simply impossible in UWP. Looks like controls are not stable enough to build apps

---
#### Document Details

⚠ *Do not edit this sect

[2020-05-19 16:31] mcleanbyron commented on #2454
I'm sorry you had a dissatisfactory experience with UWP development. Do you have specific feedback about particular controls that I can pass on to the product team?

In the mean time, the following samples may be of interest to you:

* [Inventory sample](https://github.com/Microsoft/InventorySample)
* [Customer orders database sample](https://github.com/Microsoft/Windows-appsample-customers-orders

[2020-05-19 16:31] #2454 closed, assigned to mcleanbyron

[2020-05-19 16:36] msavazzi commented on #2454
@mcleanbyron thank you for your prompt reply. As you can see here [Treeview selection leads to a complete crash](https://github.com/microsoft/microsoft-ui-xaml/issues/2465?notification_referrer_id=MDE4Ok5vdGlmaWNhdGlvblRocmVhZDg4MTUwMTA1MDoyNjYwMDMy#issuecomment-630921212) and here [Expand messes up selected item](https://github.com/microsoft/microsoft-ui-xaml/issues/2463) and several issues I've

[2020-05-19 16:44] mcleanbyron commented on #2454
Thanks for your detailed reply. The microsoft-ui-xaml repo is the best place to submit issues like these against the product team, so I'm glad you opened those issues there. The product team does triage those issues on a regular basis.

[2020-05-19 17:13] seesharprun opened #2455 "XAML Controls Gallery Link Incorrect"
The link you have for the XAML Controls Gallery preview branch is incorrect: &lt;https://github.com/microsoft/Xaml-Controls-Gallery/tree/winui3preview1&gt;

This is the correct link: &lt;https://github.com/microsoft/Xaml-Controls-Gallery/tree/winui3preview&gt;

I tried to edit the page on GitHub, but the edit button also points to a dead hyperlink

---
#### Document Details

⚠ *Do not edit this se

[2020-05-19 18:57] Reset816 opened #2456 "Misspelling and Redirection error"
Misspelling in [command](https://docs.microsoft.com/en-us/windows/package-manager/package/repository#feedback)
<img width="670" alt="批注 2020-05-20 024851" src="https://user-images.githubusercontent.com/40438607/82366502-dc23aa80-9a44-11ea-90a6-a94d510a8cf2.png">
which should be **validate**

Besides, I wanted to edit this page directly and open a pull requests. When I clicked the Edit button, this

[2020-05-19 19:14] RealTommyKlein commented on #2455
Looks like this is now fixed.

[2020-05-19 19:34] #2455 closed, assigned to GrantMeStrength

[2020-05-19 20:16] michael-hawker opened #2457 "Should we have a section for currently compatible libraries with previews?"
Like the XAML Behaviors and the Windows Community Toolkit (https://aka.ms/wct-winui3)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49f58672-73e9-87bb-d7f0-8d67b6878e20
* Version Independent ID: 94fc53da-622a-93c8-a4c8-4faaf7e442b8
* Content: [WinUI 3.0 Preview 1 (May 2020)](https://docs.microsoft.com/en-us/windows/a

[2020-05-19 21:08] Karl-Bridge-Microsoft commented on #2457
Hi @michael-hawker, can you clarify what you're reporting here?

[2020-05-19 21:31] jwmsft commented on #2446
@msavazzi, thanks for the feedback. The examples have been updated to show x:Bind instead of Binding.

[2020-05-19 21:35] jwmsft commented on #2445
@msavazzi, which example in particular are you having trouble with? These examples use the WinUI NuGet package. Are you using the latest WinUI package?

[2020-05-19 23:01] jwmsft commented on #2447
It looks like this is a product issue and not a doc issue, so I'm closing this. Product issue is opened at https://github.com/microsoft/microsoft-ui-xaml/issues/2463.

[2020-05-19 23:01] #2447 closed, assigned to jwmsft

[2020-05-19 23:57] Karl-Bridge-Microsoft commented on #2452
@jpopeneng - Please install the latest Windows SDK from https://developer.microsoft.com/en-us/windows/downloads/windows-10-sdk/. This might fix your issue.

[2020-05-20 01:51] boltomli opened #2458 "The page is not up-to-date and I can't find it in docs repo"
InstallerType now supports: exe, msi, msix, inno, nullsoft

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b884a25-4155-ac22-67b1-afb6d81d9751
* Version Independent ID: 2b7bd115-a4d9-17c7-0e21-6d23a0774af6
* Content: [Submit packages to Windows Package Manager](https://docs.microsoft.com/en-us/windows/package-manager/p

[2020-05-20 02:26] denelon commented on #2458
If the installer is a .exe and it was built using Nullsoft or Inno, you may specify those values instead.  When Nullsoft or Inno are specified, the client will automatically set the silent, and silent with progress install behaviors for the installer.

[2020-05-20 07:26] bisdeep commented on #1558
I looked for hours and I FINALLY found this: https://blogs.windows.com/windowsdeveloper/2017/01/25/calling-windows-10-apis-desktop-application/#vZiZ96PlZUqTduts.97

[2020-05-20 07:53] TEitelberg opened #2459 "Misspelling in validate command"
The correct command should be:

winget validate .\&lt;manifest-file&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30002562-8d98-050f-eb56-f484c11f37ad
* Version Independent ID: 12fc6af3-ae25-f845-05aa-9b84878fd33e
* Content: [Submit your manifest to the repository](https://docs.microsoft.com/en-us/windows/package-

[2020-05-20 13:38] jirir opened #2460 "Add source - example, source properties"
There is no description or example of what properties a to-be-added-source should have.

---
#### Podrobnosti dokumentu

⚠ *Neupravujte tuto část. Vyžaduje se k propojení problémů docs.microsoft.com ➟ GitHub.*

* ID: d5a5e2ab-44a7-a652-d3d4-c7e0bfa246ab
* Version Independent ID: bdbeae08-947d-2413-3053-ca66f0a9d90e
* Content: [source Command](https://docs.microsoft.com/cs-cz/windows/package-manage

[2020-05-20 14:47] dlemstra commented on #2459
Related to #2456

[2020-05-20 18:04] kishorpise opened #2461 "Humm.. noise when changing mp3 or mp4 file"
has any one used this ?
I build simple media player with this control it looks every thing works well, but when song changed or moved next.. I hear tick sound. this tick sound comes very poweful on external speakers where woofer is connected. please note conf as below.
RP 3B + win 10 IOT core + External speakers on 3.5 mm jack. Code c# as mentioned in example.

Thanks ..
Kishor

[2020-05-20 18:11] hansmbakker commented on #2374
@chigy this is the topic that was discussed during todays focus group on design systems. Could you please share this with your colleagues?

cc @niels9001 @hickeys

[2020-05-20 18:42] pivendren opened #2462 "Switch options need to be documented"
Can we please list the switch options with descriptions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d657479f-c0b7-6358-c7d0-0402215edaa5
* Version Independent ID: 8976699b-cdba-5206-bdb0-8a0875acfe45
* Content: [Create your package manifest](https://docs.microsoft.com/en-us/windows/package-manager/package/manifest?

[2020-05-20 18:46] pivendren commented on #2462
Hmm, not sure this was meant to land here. Is it possible that the feedback flow is not setup yet for Windows Package Manager yet?

[2020-05-20 19:11] mattwojo commented on #2450
Hey @og-neth -- I'm looking into this. Thanks for bringing this issue to our attention and sorry for the trouble. I'll get it sorted as soon as I can get some attention from one of the devs or PMs.

[2020-05-20 21:42] stevewhims commented on #2444
Hi, @pjmlp, and thanks for filing this issue. I've added a work item to my backlog to address this.

Thanks!
Steve

[2020-05-21 00:54] snakex2000 opened #2463 "Typo in first sentence"
"UWP app that uses th Windows"

Need to change th to the.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21a59145-2721-5b06-eb10-6b2e6d5af7ac
* Version Independent ID: 0f10e286-8759-cc74-dcef-aa7c1334607e
* Content: [Write a custom plugin for device portal - UWP applications](https://docs.microsoft.com/en-us/windows/uw

[2020-05-21 06:17] id-strange opened #2464 "mosaic wonder"
there's a picture with mosaic in this page and it looks SO cool, so i wonder what's the name of the tool

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23257172-281d-1069-0db2-d63d72d3d8cc
* Version Independent ID: 0810ba9a-254a-073a-8a86-a5f750fe9ae4
* Content: [Web development with Python on Windows](https://docs.mic

[2020-05-21 11:22] Nukepayload2 opened #2465 "Add "No Visual Basic templates" to the "Preview 1 limitations" section"
The vsix download page said "C# and C++/WinRT are the only languages supported at this time". But this limitation was not listed in this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49f58672-73e9-87bb-d7f0-8d67b6878e20
* Version Independent ID: 94fc53da-622a-93c8-a4c8-4faaf7e442b8
* Content: [WinUI 3.0 Preview

[2020-05-21 16:29] michael-hawker opened #2466 "WinUI Alpha call out should be updated to Preview 1"
Also, the docs link from https://aka.ms/winui goes to the 3 page instead of the stable 2 page? Is that expected, especially with the call out box here to the preview page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51f403c4-0dc2-86da-8992-ae026577c843
* Version Independent ID: 6283b0fd-909e-06e0-eb92-a8c2a57b361b
*

[2020-05-21 18:08] aruproy14 opened #2467 "What are installation instructions for Windows Insiders?"
If I'm already on an insider build, when should I expect winget to be installed? Is it already being shipped with the latest insider flights? Could we get a min build from which you should expect winget to just be in the path?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98654069-5528-4f98-7218-a803bee0a532
* Version

[2020-05-21 18:53] hkhmsft commented on #2461
Hi @kishorpise , thanks for submitting this. Could you submit this through [Microsoft Q&A](https://docs.microsoft.com/answers/topics/uwp.html?sort=active&filter=all)
 or through our [forums](https://social.msdn.microsoft.com/Forums/newthreadcategory=windowsapps&forum=wpdevelop&prof=required)? The community of experts and Microsoft Engineers over there will have a better answer for you. If you do r

[2020-05-21 19:35] Karl-Bridge-Microsoft commented on #2466
@anawishnoff - do you want to address this feedback on the aks.ms/winui page?

[2020-05-21 19:48] Karl-Bridge-Microsoft commented on #2466
@michael-hawker - feedback has been addressed (along with a few other related issues). Thanks.

[2020-05-21 19:48] #2466 closed, assigned to Karl-Bridge-Microsoft, anawishnoff

[2020-05-21 20:21] anawishnoff commented on #2466
Thanks both - I'll update the docs link on the website.

[2020-05-21 20:47] mcleanbyron commented on #2456
Thanks for reporting this typo. I have just checked in a fix for it, and the fix should be published to the live site shortly.

That's strange that you're getting the 404 page when you click Edit. Can you reach this source file directly? https://github.com/MicrosoftDocs/windows-uwp/blob/docs/hub/package-manager/package/repository.md

[2020-05-21 20:47] #2456 closed, assigned to mcleanbyron, denelon

[2020-05-21 20:48] mcleanbyron commented on #2459
Thanks for reporting this typo. I have just checked in a fix for it, and the fix should be published to the live site shortly.

[2020-05-21 20:48] #2459 closed, assigned to denelon

[2020-05-21 22:47] Reset816 commented on #2456
It's seemed that I can open the link now. Two days ago I tried many ways even clone the whole repository and searched the file :)
My pleasure to get involved in this project.

[2020-05-21 22:59] jwmsft commented on #1501
This issue is fixed. Thanks!

[2020-05-21 22:59] #1501 closed, assigned to jwmsft, stmoy

[2020-05-21 23:02] jwmsft commented on #1525
This link has been added.

[2020-05-21 23:02] #1525 closed, assigned to jwmsft

[2020-05-21 23:03] jwmsft commented on #1595
This link has been added.

[2020-05-21 23:03] #1595 closed, assigned to jwmsft

[2020-05-21 23:06] ejlayne commented on #2374
@hansmbakker thank you again for this feedback from the focus group, and we are indeed passing it along to the Fluent UI team.

[2020-05-21 23:24] mdtauk commented on #2374
Material Design's documentation includes redlines and values for sizes and positions.

WinUI could do with some of this, included in it's controls and layout sections.

For things like app settings, I would like to see some guidelines, matching those used by the Windows Settings app.

[2020-05-22 01:20] mjfusa opened #2469 "Query for Products Fails if a large number of products (> 5000) are associated with client id"
1) Microsoft Subscriptions Validation Failing - Purchase API returns Service Unavailable.
Summary: Calling https://purchase.mp.microsoft.com/v8.0/b2b/recurrences/query result in error: 503 Service Unavailable
Research: The total number of products that are associated with the AAD app client id it seems to be exceeding an internal limit  which forces the 503 error.

2) IAP Validation Failure
Summar

[2020-05-22 02:51] stevewhims commented on #2179
Hi, Colin! So, I have a work item lined up to go through this whole series of topics and update the code to use C++/WinRT instead of C++/CX. I have the sample app already ported, I'm just awaiting code review before taking the next step. So I'll do something about the images while I'm doing that work.

Feel free to ping me internally if you like. For here, I'll go ahead and close the GitHub issue

[2020-05-22 02:51] #2179 closed, assigned to stevewhims

[2020-05-22 03:11] stevewhims commented on #1547
Hi, @jonaserikssonnet, and thank you for filing this issue (I just noticed it, so I did some investigation).

I've hunted for the "Asynchronous C API calling patterns - Windows UWP applications" topic, and for the original source file, and I can't find them. It looks like the topic has been removed or relocated somewhere beyond our reach.

This issue is over a year old, so that might account for t

[2020-05-22 03:11] #1547 closed, assigned to KevinAsgari

[2020-05-22 03:19] stevewhims commented on #1081
Let's go ahead and close this issue now, since it's been dormant for a long time.

Thanks!
Steve

[2020-05-22 03:19] #1081 closed, assigned to mtoepke

[2020-05-22 03:59] keithnicholson opened #2470 "Image is misleading?"
The top image of this dock shows annotations on a document.  But nothing in this or related articles show how to wire that up and persist the ink for editing later on the text.  Can you guide a Dev to another related article!

Peace,
Keith
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66d1a037-b3ed-4c55-5a95-ee96e6cb90

[2020-05-22 08:47] dalek09 opened #2471 "Programming languages."
Where are examples in  a programming language other than c# - for me specifically where is c or c++?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 340f7839-6454-f1b5-ced5-5000964efc2e
* Version Independent ID: f83df5c8-e149-df6e-243f-07311caab297
* Content: [Store and retrieve settings and other app data - UWP applica

[2020-05-22 09:21] dingyx99 opened #2472 "schema "URL" is wrong"
In "Minimal required schema" and "Complete schema", using `Url` instead of `URL` to avoid errors when validating.

[2020-05-22 10:32] mark99i opened #2473 "Error 404"
AudioPlaybackConnection link get error 404

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1636774-f1b5-3f09-49d1-fd6fab03e2d9
* Version Independent ID: 8a9ad5cc-e61e-936c-3f73-d8330ec0b619
* Content: [Enable audio playback from remote Bluetooth-connected devices - UWP applications](https://docs.microsoft.com/en-au/win

[2020-05-22 13:26] GeneralConfidential opened #2474 "Issue with installing packages with similar names."
I am having problems installing applications where the name of a package is a subset of another package name. I get this problem when trying to install PowerShell from "winget.exe".
The following is the command I entered for installing PowerShell.
[code]
I can not find any way to install Powershell (not PowerShell-Preview).

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-05-22 14:15] coldKingdom commented on #2474
You could install it by running:
[code]
[code]

You can find the switches by running:
[code]
Hope it helps!

[2020-05-22 14:37] KevinLaMS commented on #2467
Greetings.  If you are a Windows Insider, then the Windows Package Manager is available to you.  You can go to the store and check for updates.  The Windows Package Manager is included in the Desktop App Installer.  https://www.microsoft.com/en-us/p/app-installer/9nblggh4nns1
If you are not an insider, you can join our flight:  https://aka.ms/winget-InsiderProgram

[2020-05-22 16:26] Gavin-Williams commented on #2457
SharpDX - not compatible.

[2020-05-22 16:29] Karl-Bridge-Microsoft commented on #2457
@adambarlow @MikeHillberg - do you want to review this suggestion?

[2020-05-22 17:17] Karl-Bridge-Microsoft commented on #1208
@jakehockey10 - your second example is exactly what is in the topic, so I believe your issue was addressed in a subsequent PR. Please reopen if that's not the case.

[2020-05-22 17:17] #1208 closed, assigned to Karl-Bridge-Microsoft

[2020-05-22 17:21] drewbatgit commented on #687
Hello, GitHub issues in this repository are for feedback specifically about the documentation. It seems like your issue is a developer support request. Here are all of the developer support resources:

- The [Feedback Hub app](https://support.microsoft.com/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app) is the right place to lobby for a change, a feature, or to make a sug

[2020-05-22 17:21] #687 closed, assigned to drewbatgit

[2020-05-22 17:25] MikeHillberg commented on #2457
Yes, I think it's a great idea to keep this list in the release notes.

[2020-05-22 17:29] hickeys commented on #1084
It's been a while, it seems to be working fine, and I haven't seen any responses. I'm going to close this issue, please let me know if it happens again.

[2020-05-22 17:29] #1084 closed, assigned to hickeys

[2020-05-22 17:36] drewbatgit commented on #986
Sorry for the delay in addressing this issue. It appears that this issue has been fixed.

[2020-05-22 17:36] #986 closed, assigned to drewbatgit

[2020-05-22 17:39] hickeys commented on #1693
This link is working correctly for me. I'm going to close this issue. If the link still does not work, please reopen.

[2020-05-22 17:39] #1693 closed, assigned to hickeys

[2020-05-22 17:42] mattwojo commented on #2464
Sorry - I'm not sure what picture you're referring to. Closing this, but if you want to attach a screenshot and re-open, I can do my best to help.

[2020-05-22 17:42] #2464 closed, assigned to mattwojo

[2020-05-22 17:45] hickeys commented on #1833
I've checked in with the devs and will update when I have more information

[2020-05-22 17:45] hickeys commented on #1568
I've checked with the team and will update when I have more information

[2020-05-22 18:01] hickeys commented on #2043
I just checked in with @YuliKl. I'll update as soon as I have the current list.

[2020-05-22 18:25] hickeys commented on #2159
There isn't much I can do about this. This page displays all of the Segoe MDL2 Icons, so there are going to be a lot of images that need to be loaded. I'm sorry your connection is timing out. Perhaps you can view the glyphs in some alternate way, such as using character map?

[2020-05-22 18:25] #2159 closed, assigned to hickeys

[2020-05-22 18:30] mcleanbyron commented on #1106
This article has been significantly revised since this feedback was originally submitted, and this issue has been addressed.

[2020-05-22 18:30] #1106 closed, assigned to mcleanbyron

[2020-05-22 18:35] QuinnRadich commented on #2410
The Design Toolkits are intended to provide templates and examples for combining controls within your UWP app. There's not a direct way to, say, export the visual display from a .psd directly to your app.

For information on how to implement these design ideas, see the rest of our design docs. For instance, you can find a specific control within the https://docs.microsoft.com/windows/uwp/design/co

[2020-05-22 18:35] #2410 closed, assigned to QuinnRadich

[2020-05-22 18:35] hickeys commented on #2078
the code in this example is designed to be used with a user-supplied receipt that you load from disk. The certificate ID is extracted from the receipt and appended to that link. The link you've made, with "cid=CertificateId" should never work, as you need an actual certificate ID instead of the string "CertificateId

[2020-05-22 18:35] #2078 closed, assigned to hickeys

[2020-05-22 18:47] QuinnRadich commented on #2298
Link has been revised and fixed. Thank you.

[2020-05-22 18:47] #2298 closed, assigned to QuinnRadich

[2020-05-22 19:03] QuinnRadich commented on #1715
I'd added links and instructions to the Visual Studio 2019 downloads to this doc page https://docs.microsoft.com/windows/uwp/porting/apps-on-arm . No further redundant links have been added, as I want to minimize customer confusion.

Thank you.

[2020-05-22 19:03] #1715 closed, assigned to QuinnRadich

[2020-05-22 20:03] hickeys commented on #2189
@Xotikos

This UIR is used in a number of places in the document. Can you share more about your workflow, where you're encountering the errors, and what behavior you're seeing with the working URI?

[2020-05-22 20:10] Karl-Bridge-Microsoft commented on #1363
Closing. No follow-up from OP.

[2020-05-22 20:10] #1363 closed, assigned to M-Stahl

[2020-05-22 20:16] hickeys commented on #2377
This says Setting. Likely someone else changed it between the time this issue was opened and now. Thank you for the report.

[2020-05-22 20:16] #2377 closed, assigned to hickeys

[2020-05-22 20:16] Karl-Bridge-Microsoft commented on #1623
Topic has been fixed.

[2020-05-22 20:16] #1623 closed, assigned to Karl-Bridge-Microsoft

[2020-05-22 20:17] Karl-Bridge-Microsoft commented on #2208
Thanks @keparanj. Topic has been fixed.

[2020-05-22 20:17] #2208 closed, assigned to Karl-Bridge-Microsoft

[2020-05-22 20:19] Karl-Bridge-Microsoft commented on #2228
Topic has been revised.

[2020-05-22 20:19] #2228 closed, assigned to Karl-Bridge-Microsoft

[2020-05-22 20:53] KevinLaMS commented on #2474
Thanks coldKingdom.  That is correct.  But I will file an issue to raise this so we can look at improving in the future.  Kevin.

[2020-05-22 21:07] hickeys commented on #2380
Thank you for the feedback. I agree that the icon guidance needs to be updated, but some of the comments in this issue are beyond the scope of this repo. Issues here are for documentation changes only.

I've taken the feedback here and am tracking it internally. I know that isn't the most satisfying resolution, and I'm sorry. The core issue here with respect to documentation is valid, and it will

[2020-05-22 21:07] #2380 closed, assigned to hickeys

[2020-05-22 21:19] hickeys commented on #2345
Just checked in a fix. Should be published shortly.

[2020-05-22 21:19] #2345 closed, assigned to hickeys

[2020-05-22 21:44] jozefizso opened #2475 "Link to "app services" does not work"
Last sentence links the "app services" text to address https://docs.microsoft.com/en-us/windows/uwp/launch-resume/app-services.md

This link does not work and returns 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6a7e980-cfd8-6d9c-6cc5-0ca6763fd327
* Version Independent ID: 5f59e641-6576-e10e-99c0-794907285580
*

[2020-05-22 21:49] mcleanbyron commented on #2475
Thanks for reporting this broken link. I checked in a fix, and the correction should be published in the next hour or so (there shouldn't be a ".md" extension in the link).

[2020-05-22 21:49] #2475 closed, assigned to mcleanbyron

[2020-05-22 22:14] jordanmills commented on #1833
Thanks

[2020-05-23 00:59] id-strange commented on #2464
![image](https://user-images.githubusercontent.com/44487584/82718213-b6600500-9cd3-11ea-83c5-8e53abb2c010.png)

[2020-05-23 01:00] id-strange commented on #2464
this pic, in the center of it

[2020-05-23 11:42] eluchsinger opened #2476 "Outdated documentation"
This documentation is outdated. You have to use App registrations on the Azure Portal now. Please update.

PS: Even the Notification Hub resource on Azure is outdated and links to the partner portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd1500dd-1909-34d6-d67a-8ae2dc5393db
* Version Independent ID: 490fe0f3-6

[2020-05-23 17:30] smurancsik opened #2477 "Remove "continuum" tip"
[Enter feedback here]
Maybe the "Continuum" part can be removed as the whole Windows Phone project has already been cancelled among with the Continuum-supported devices.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a5f48a1-c62a-9f8f-ab29-70d013346d2a
* Version Independent ID: 6ad201c6-ae84-5c10-0129-2cfa6f420cb6
* C

[2020-05-23 20:51] MaxwellWibert opened #2478 "failed to install mongodb on WSL"
When following instructions in this tutorial for mongodb
"sudo apt-get mongodb" gives error "Package mongodb has no installation candidate"
WSL running with pengwin distro
Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb282339-e2e5-ae64-4d76-3c999828f4e4
* Version Independent ID: f7c88e68-43a2-bc0

[2020-05-24 09:06] fahdriyami opened #2479 "Adobe XD tooklit outdated"
The Adobe XD toolkit hasnt been updated since October 2018/January 2019. Can it please be updated to have the latest WinUI 3.0 elements?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7489a614-ddc3-d1ff-5ffd-b6d4228d9079
* Version Independent ID: 99b83fb8-3491-95eb-b4e1-ba326f82d784
* Content: [Design toolkits and samp

[2020-05-24 10:30] barnabas90 commented on #2090
Hi guys! I had the same issue and I found out what causes it and how to do the build right. Check the solution, at first I had the same 'recipe not found issue', then what I posted.

https://developercommunity.visualstudio.com/content/problem/891689/uwp-vs-msbuild-build-issue.html

[2020-05-25 15:18] snakex2000 opened #2484 "Need to update sample code, has typo and does not compile"
Code needs to be updated as does not compile.

This needs to be changed from:

        res.Content = new HttpStringContent(con);
        res.Content.Headers.ContentType = new HttpMediaTypeHeaderValue("text/html");
        res.StatusCode = HttpStatusCode.Ok;

To following:

                res.Content = new Windows.Web.Http.HttpStringContent(con);
                res.Content.Headers.ContentType = n

[2020-05-26 06:50] Pawper opened #2486 "Node about nvm version is in the wrong place / no upgrade info"
Please move the note to right after the command to install nvm, instead of quite further down the page. Please add instructions on how to upgrade nvm.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6995595-66c4-f26a-b307-89a068b4b5ba
* Version Independent ID: 69400ed1-5d98-4d6e-47a3-5c409564e77d
* Content: [Set up Nod

[2020-05-26 11:33] Marv51 opened #2487 "Leading letters missing"
Further down in the list, starting with "TappedEventArgs" some leading letters are clearly missing.

Unless there really is a new namespace called "nagement" 😁 (Clearly must be "Management")

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: c68dc509-816d-26b2-4e61-c87e52171b6b
* Version In

[2020-05-26 13:16] srvbpigh commented on #1837
Hello, @AurelienS

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-05-26 13:16] srvbpigh commented on #1692
Hello, @tanitanin

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-05-26 13:16] srvbpigh commented on #1625
Hello, @naiasin

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-05-26 15:59] hkhmsft commented on #2472
Hi @dingyx99 , could you point us to the page you are referring to?

[2020-05-26 16:01] hkhmsft commented on #2474
Thank you @KevinLaMS  and @coldKingdom for the answers. @GeneralConfidential , if there's anything else we can do to answer your questions, feel free to re-open this thread. Many thanks.

[2020-05-26 16:01] #2474 closed, assigned to denelon

[2020-05-26 16:03] dingyx99 commented on #2472
Sure, I'd love to.
The page is https://docs.microsoft.com/zh-cn/windows/package-manager/package/manifest?tabs=minschema%2Ccompschema

[2020-05-26 17:53] drewbatgit commented on #2473
Thanks for reporting this issue. It was caused by a build issue that has been fixed. The link resolves correctly now.

[2020-05-26 17:53] #2473 closed, assigned to drewbatgit

[2020-05-26 19:47] srvbpigh commented on #1837
Hello, @AurelienS

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-05-26 19:47] srvbpigh commented on #1692
Hello, @tanitanin

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-05-26 19:47] srvbpigh commented on #1625
Hello, @naiasin

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-05-26 21:27] hickeys commented on #2162
@SmartmanApps @bmwilson1978

We'd like to follow up on this issue, but it seems like it's a little too complex to do via GitHub. Can one or both of you email me at hickeys@microsoft.com?

[2020-05-26 21:36] CeciAc commented on #1837
Issue moved to [MicrosoftDocs/windows-uwp.fr-fr #1](https://github.com/MicrosoftDocs/windows-uwp.fr-fr/issues/1) via [**ZenHub**](https://www.zenhub.com/)

[2020-05-26 21:38] CeciAc commented on #1837
Hello, @AurelienS

Your feedback is much appreciated.
Since your comments are specific to the localization of the documentation, we have moved this issue to the corresponding localization repository and we will close this one.

Please review the status of this issue here https://github.com/MicrosoftDocs/windows-uwp.fr-fr/issues/1

Kind regards,
Microsoft DOCS International Team

[2020-05-26 21:38] CeciAc commented on #1837
#please-close

[2020-05-26 21:38] #1837 closed, assigned to hickeys

[2020-05-26 21:44] srvbpigh commented on #1692
Hello, @tanitanin,

Thank you for your feedback.

Our linguistic team reviewed your linguist suggestions and accepted them. We implemented your feedback and published to the updated articles on the Docs site to the following pages https://docs.microsoft.com/ja-jp/windows/uwp/xaml-platform/xaml-host-controls.

We truly appreciate your contribution to our articles and we encourage you to continue pr

[2020-05-26 21:50] CeciAc commented on #1692
#please-close

[2020-05-26 21:50] #1692 closed, assigned to jwmsft

[2020-05-27 13:18] aavdberg opened #2493 "How to use the winget when there are more then one results, syntax of -v --id is unclear"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73bd6478-de0f-6aa9-fb31-0818abdb7f68
* Version Independent ID: f5ff6ecd-0231-d438-7301-6eb20863ec50
* Content: [install Command](https://docs.microsoft.com/en-us/windows/package-manager/winget/install)
* Content Source: [hub/package-manager/winget/ins

[2020-05-27 16:11] #2467 closed, assigned to KevinLaMS, mcleanbyron

[2020-05-27 16:47] mcleanbyron commented on #2462
Thanks for your feedback. We have updated the Switches description in the [manifest article](https://docs.microsoft.com/en-us/windows/package-manager/package/manifest) with this information.

[2020-05-27 16:47] #2462 closed, assigned to mcleanbyron, denelon

[2020-05-27 16:49] mcleanbyron commented on #2458
This information has been added to the [manifest article](https://docs.microsoft.com/en-us/windows/package-manager/package/manifest).

[2020-05-27 16:49] #2458 closed, assigned to mcleanbyron, denelon

[2020-05-27 21:00] CameronGoodwin commented on #1717
Hi,
I also ran into this when writing some samples.  The error was happening because there is another app that has already defined those identifierURI's under your AAD tenant.  But it only needs to be defined under one app and other apps under the same tenant don't need to re-define them in their manifests.  You can create another app / client ID in AAD under the tenant that doesn't have the ident

[2020-05-27 22:23] ShaneC opened #2496 "Consideration to add more info on install usage when multiple packages match"
When installing in winget, if your install query results in multiple matches you receive an error "Multiple apps found matching input criteria. Please refine the input."

The docs mention this case but don't give a prescribed way to get beyond it (i.e. "winget install PowerShell -e").

I've noticed this to be a pretty frequent case on most apps I've installed, as many apps have multiple release ch

[2020-05-27 22:30] renuac commented on #2496
$#root✓

On Wed, May 27, 2020, 7:24 PM Shane Chism <notifications@github.com> wrote:

[2020-05-28 10:17] elyoh opened #2497 "Incorrect path for windows.winmd reference"
The documentation for adding the reference to windows.winmd appears to be incorrect.

It states that the file `windows.winmd` at `C:\Program Files (x86)\Windows Kits\10\UnionMetadata\<sdk version>\Facade` should be used.

However this causes:
`Error CS0731 The type forwarder for type 'xyz' in assembly 'Windows' causes a cycle`

Adding a referenc to the file `Windows.winmd` at `C:\Program Files (x8

[2020-05-30 22:00] jozefchutka opened #2500 "ms-photos:viewer?fileName uri scheme not working"
Win 10 Home 1903 18362.836
Microsoft Photos 2020.19111.24110.0

Running `ms-photos:viewer?fileName=c:\users\userName\Pictures\image.jpg` opens the photos app but doesnt show the photo. It seems the fileName parameter is ignored. App is opened in some "collections" setion.

Is there any uri scheme for opening video from web (http://.../video.mp4)?

---
#### Document Details

⚠ *Do not edit this sec

[2020-05-31 02:55] mark99i opened #2501 "restrictedcapabilities returns 404"
Link http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities returns 404 error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdfe599a-af5b-acbc-1405-d1030d9f6661
* Version Independent ID: 85857337-8448-af63-b543-f01ef482ea09
* Content: [App capability declarations - UWP applications](htt

[2020-05-31 08:32] mc0re opened #2502 "How to create design time data for {x:Bind}?"
The document never mentions how to create design-time data for `{x:Bind ...}` binding.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64d8500f-a77e-00eb-c179-b72209f25949
* Version Independent ID: f4b970f5-af50-d626-68de-2c8b39140687
* Content: [Sample data on the design surface, and for prototyping - UWP applications]

[2020-05-31 13:47] sunnydatascince opened #2503 "dev"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81352611-1537-f3ca-b9e8-2cfdb6d45220
* Version Independent ID: f2bae603-e33a-1b54-78f2-469ac679c7b6
* Content: [Design and code for Windows apps - UWP applications](https://docs.microsoft.com/en-in/windows/uwp/design/)
* Content Source: [windows-apps-

[2020-05-31 18:08] dubeg opened #2504 "Truncated text"
A portion of the text is truncated. E.g. below:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c68dc509-816d-26b2-4e61-c87e52171b6b
* Version Independent ID: 7d8d4517-28f1-19e5-a102-6bfa4ce21173
* Content: [Windows 10 Build 19041 API changes - UWP applications](https://docs.microsoft.com/en-us/windows/uwp/whats-

[2020-06-01 15:09] CeciAc commented on #1625
Hello @naiasin

Thank you for your contribution.

Contributions on translation problems against machine translated content are currently not accepted.

We value your feedback and suggestions on human translated content, which is used to train the machine translation engines, so over time, your contributions will improve the quality of both human and machine translations.

Human translated topics c

[2020-06-01 15:09] #1625 closed, assigned to hickeys

[2020-06-01 16:19] crackerland commented on #2354
I found that the sample also does not work unless you call `args.IsContainerPrepared = true;` after creating the new ListViewItem. If you don't do this the DataTemplate never loads and all you see is the default item, which is just a TextBox.

[2020-06-01 16:41] mcleanbyron commented on #2501
The URL `http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities` is used in the context of the package manifest as an XML namespace in which the rescap:Capability element is defined. Just think of this as a unique string that defines a specific XML namespace. It is by design that this URL does not lead to a live web site.

[2020-06-01 16:41] #2501 closed, assigned to mcleanbyron

[2020-06-01 17:52] LiviuSosu opened #2506 "There is an error at step #2 - Section:Instantiate the XamlApplication object in the entry point of your WPF app"
[Enter feedback here]
we will get an error on this line:
  app.Run();

The method is not defined.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ba9095f-57b4-267d-8896-5375c68b01ee
* Version Independent ID: 514d7e51-6f16-8199-aabf-26ee901a6ed3
* Content: [Host a standard UWP control in a WPF app using XAML Islands](ht

[2020-06-01 18:21] pjmlp opened #2507 "Direct2D example with C++/WinRT no longer compiles."
I have tried to compile the Direct 2D example listed in

and got the following set of error messages

The same error has been documented  as https://github.com/MicrosoftDocs/windows-uwp/issues/1305, however using the latest version of Visual Studio 2019, the same error is present.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-06-01 18:43] mcleanbyron commented on #2506
Thanks for your feedback. However, I'm not able to reproduce the error you're seeing. Here are a few things you can check:

* When you copied over the code snippet for this section into your project, did you replace `MyUWPApp` with the namespace of your UWP app project and replace `MyWPFApp` with the namespace of your WPF app project?
* Did you do into the properties for your WPF project and assig

[2020-06-01 18:43] #2506 closed, assigned to mcleanbyron

[2020-06-01 21:27] #2446 closed, assigned to jwmsft

[2020-06-01 21:28] #2445 closed, assigned to jwmsft

[2020-06-01 22:16] stevewhims commented on #2507
Hi, @pjmlp, did you see the paragraph that begins "Open `pch.h`, and add `#include <unknwn.h>` immediately after including `windows.h`."? I can repro the build error *only* if I omit that step.

It's possible that that paragraph wasn't drawing enough attention to itself, so I've made a change to the topic. I've used headings to make it clearer that there are two steps: edit `pch.h`, and then edit

[2020-06-02 17:04] rolandoglez opened #2508 "Dependencies and references"
Hello,

Guide: https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/host-standard-control-with-xaml-islands

I'm having issues on this step:
_In your WPF project, right-click the Dependencies node and add a reference to your UWP app project._

I can't find the _Dependencies node_.

I can only find:
1. right-click on WPF project > Build dependences (this works), or
2. right click on WPF

[2020-06-03 00:52] stevewhims commented on #685
Just a heads up that I'm closing this GitHub issue because I'm tracking it internally in my work items (so that it's not being tracked and counted twice). You'll still be able to leave comments here. I'll come back and (possibly reopen and) comment when I have a resolution for my work item.

Thanks!
Steve

[2020-06-03 00:52] #685 closed, assigned to stevewhims

[2020-06-03 01:19] stevewhims commented on #1247
Just a heads up that I'm closing this GitHub issue because I'm tracking it internally in my work items (so that it's not being tracked and counted twice). You'll still be able to leave comments here. I'll come back and (possibly reopen and) comment when I have a resolution for my work item.

Thanks!
Steve

[2020-06-03 01:19] #1247 closed, assigned to stevewhims

[2020-06-03 01:29] stevewhims commented on #2205
I'll go ahead and close the issue now as it feels resolved, and there's no further update needed to the content.

Thanks!
Steve

[2020-06-03 01:29] #2205 closed, assigned to stevewhims

[2020-06-03 01:30] stevewhims commented on #2381
I'll go ahead and close.

Thanks again!
Steve

[2020-06-03 01:30] #2381 closed, assigned to stevewhims

[2020-06-03 01:33] stevewhims commented on #2423
Thanks for the update! I'll go ahead and close the issue now.

-Steve

[2020-06-03 01:33] #2423 closed, assigned to stevewhims

[2020-06-03 01:34] stevewhims commented on #2444
Just a heads up that I'm closing this GitHub issue because I'm tracking it internally in my work items (so that it's not being tracked and counted twice). You'll still be able to leave comments here. I'll come back and (possibly reopen and) comment when I have a resolution for my work item.

Thanks!
Steve

[2020-06-03 13:03] rhjanssen opened #2509 "Make Acrylic guidelines more clear"
Hi,

Please be more clear in the intended use of acrylic.
On one hand you say it should only be used in transient UI where you can click out of.

Right-click menu = Yes
Pop-Up dialog = No

But acrylic is used on static navigation menus.
Those are not transient.

And if they can be used for a navigation pane I would assume it could be used for, let's say the lint UI in file explorer or Word.
But yo

[2020-06-03 17:48] youceflabed opened #2510 "errase cockies"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac54ebce-b330-44e7-4052-cfbdb878df19
* Version Independent ID: 805fc71b-6b54-3b09-95ef-4254de5e0036
* Content: [Windows Package Manager](https://docs.microsoft.com/en-us/windows/package-manager/#understanding-package-managers)
* Content Source: [hub/p

[2020-06-03 18:17] #2503 closed, assigned to Karl-Bridge-Microsoft

[2020-06-03 18:57] axodox opened #2511 "co_await CoreApplication::RequestRestartAsync({}) returns NotInForeground, even if the app is in fact in foreground"
In our C++/WinRT XAML + Direct3D app we have added a button which would restart the app when some settngs are changed. While worked for a while, recently we noticed it stopped working, while our code did not change.

The call returns NotInForeground even though the call is bound to an XAML button directly. Our app supports multiple instances, but always focuses on the default instance when launche

[2020-06-03 20:30] pjmlp commented on #2507
@stevewhims Thanks for replying. I did indeed miss the description you mentioned.

I guess my error was that I have long experience with Windows development and while trying to find examples how to port C++/CX code into C++/WinRT did not read everything with the right attention.

I am closing the ticket, given it was a mistake caused by my lack of attention.

Thanks for the support.

[2020-06-03 20:30] #2507 closed, assigned to stevewhims

[2020-06-03 20:50] denelon commented on #2510
Hello @youceflabed can you elaborate on the issue with the documentation?

[2020-06-03 21:07] stevewhims commented on #2507
Thank you, @pjmlp! For the porting work, hopefully the [Move to C++/WinRT from C++/CX](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/move-to-winrt-from-cx) topic is helpful.

-Steve

[2020-06-03 21:48] hkhmsft commented on #2421
Thanks so much for the feedback @rogerms!

[2020-06-03 21:48] #2421 closed, assigned to hickeys

[2020-06-04 01:59] Karl-Bridge-Microsoft commented on #2457
@michael-hawker - has this issue been resolved to your satisfaction?

[2020-06-04 05:23] michael-hawker commented on #2457
Sorry, somehow I missed the original ping.

@Karl-Bridge-Microsoft @MikeHillberg based on some community feedback ([for example](https://twitter.com/josefajardo/status/1268133005920354304)) and discussions with other community members (FYI @nickrandolph), I think maintaining an explicit table with information of known supporting libraries would be a good idea.

E.g.

| Library | Preview Version |

[2020-06-04 08:25] pjmlp commented on #2507
Thanks I am aware of that topic.

C++/WinRT tooling still feels quite rough versus what C++/CX and it isn't
always clear what the replacements are, even with that guide.

That belongs in other tickets thought.

My endeavour started as an attempt to port the Simple 3D DirectX sample
from C++/CX into C++/WinRT.

Steven White <notifications@github.com> schrieb am Mi., 3. Juni 2020, 23:07:

[2020-06-04 20:01] stevewhims commented on #2507
Thanks, @pjmlp. Getting that Simple 3D DirectX sample app (the target-shooting game) ported to C++/WinRT is something that's important to me, too. I have a task on my backlog to do that.

-Steve

[2020-06-05 06:53] rahulkps23 opened #2512 "Does 'two-pane-view' of winui still depend on OS version"
It is mentioned that 'two-pane-view' uses WinUi and hence not platform dependent.
But when i use it in my project having minimum target verson=1703, it is throwing error saying 'two-pane-view' is available in 1703(note: i used winui 2.4 and using that i am consuming this 'two-pane-view' in my xaml
 eg: <muxc:TwoPaneView> </muxc:TwoPaneView>).
What does that mean, if it is from WinUi it must be ind

[2020-06-08 17:13] mcleanbyron commented on #2510
We're closing this issue due to lack of information. Please feel free to reopen this issue with specific details about your feedback.

[2020-06-08 17:13] #2510 closed, assigned to denelon

[2020-06-08 17:45] mcleanbyron commented on #2493
Thanks for your feedback. We added additional examples to illustrate these arguments [here](https://github.com/MicrosoftDocs/windows-uwp/pull/2499/files).

[2020-06-08 17:45] #2493 closed, assigned to KevinLaMS, mcleanbyron

[2020-06-08 17:51] mcleanbyron commented on #2460
Thank you for your feedback. The 'source' command is currently intended for internal use only, and we have added a note to clarify this in the article. If this policy changes, we'll update the article to provide more prescriptive guidance about using it.

[2020-06-08 17:51] #2460 closed, assigned to KevinLaMS, mcleanbyron

[2020-06-08 18:19] mcleanbyron commented on #2508
Thanks for your feedback. It looks like the "Dependencies" node is only available for WPF projects that target .NET Core, whereas projects that target .NET Framework require the alternate procedure you followed. I have updated this section in the article to clarify this step.

[2020-06-08 18:19] #2508 closed, assigned to mcleanbyron

[2020-06-08 23:17] stevewhims commented on #2193
**UPDATE**: The ported code is currently in code review and is having corrections made to it.

[2020-06-09 19:31] mattwojo commented on #2486
Thanks @Pawper.  Good recommendation - I just moved the note directly under the install command and updated the command to represent v0.35.3.

The change should show up by tomorrow morning.

[2020-06-09 19:31] #2486 closed, assigned to mattwojo

[2020-06-09 19:41] mattwojo commented on #2478
Hmm.. thanks @MaxwellWibert. I don't currently have Pengwin but just requested a copy to test. I found this issue in the Pengwin repo: https://github.com/WhitewaterFoundry/Pengwin/issues/469
They suggest trying an update first:
sudo apt update && sudo apt install mongodb

Could you give this a try and let me know if it resolves the problem?
Thanks again,
Matt

[2020-06-09 21:14] stevewhims commented on #2511
Hi, @axodox, and thanks for filing this issue.

This feels more like a product question, or a support request, or a potential bug report, than feedback that's specifically about the documentation in a given topic. I've included some links below that might be appropriate for you.

Incidentally, for specific feedback about the documentation in a particular topic, you can visit that topic (perhaps th

[2020-06-09 21:14] #2511 closed, assigned to stevewhims

[2020-06-09 22:00] MaxwellWibert commented on #2478
@mattwojo I'm afraid that didn't work. same error message after the update finishes

[2020-06-10 20:58] artemious7 opened #2516 "What exactly does the deprecation warning mean?"
The warning says:

What does it really mean? Which report? Does it mean that I should not ask my users to leave their feedback in the Feedback Hub? Is this whole feature being deprecated?

I came to this page to learn how to use this feature. I can use this code in my app

`await Microsoft.Services.Store.Engagement.StoreServicesFeedbackLauncher.GetDefault().LaunchAsync();`

that will launch Feedba

[2020-06-10 22:08] tewarid opened #2518 "Example showing third-party runtime classes with EventHandler<T>"
Section https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/author-events#parameterized-delegates-and-simple-signals-across-an-abi mentions that "first- and third-party runtime classes, as well as primitive types such as numbers and strings" may be used with EventHandler<T> but doesn't give an example.

I've defined my own runtime class such as

[code]

But I still get "must be WinRT t

[2020-06-10 23:07] stevewhims commented on #2518
Hi, @tewarid, is it possible that you're using an instance of the implementation type for **MyEventArgs**, rather than the projected type, when you're raising the event? In the code below, I create an object of the implementation type simply so that I can use the non-projected non-default constructor. Constructing an object of the implementation type actually returns a com_ptr (in the variable `ar

[2020-06-11 00:27] tewarid commented on #2518
Your example and an idl I found in unit tests of [cppwinrt](https://github.com/microsoft/cppwinrt) have been immensely helpful!

Here's how I am declaring the event in the idl

[code]

In the implementation, I've got

[code]

I'm stuck at the idl on this. I've tried

[code]

But, I get the following compilation error

[code]

Thanks,
Devendra

[2020-06-11 01:48] stevewhims commented on #2518
Ah, yes, I was wrong about the array. There is a corner case where you can't use an array as a parameter type argument to a parameterized interface. But see whether the example here helps you: https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/concurrency-2#returning-an-array-asynchronously.

For the **MyEventArgs** scenario, I've added more example code to https://docs.microsoft.com/window

[2020-06-11 02:18] tewarid commented on #2518
Thanks for the prompt responses and help! I'll close this issue as I've been able to do what I wanted, by wrapping a com_array in a winrt runtime class.

[2020-06-11 02:18] #2518 closed, assigned to stevewhims

[2020-06-11 20:45] mattwojo commented on #2478
Bummer. I got a copy of Pengwin installed and took a look. I was able to install MongoDB in Pengwin following the instructions for Debian (which Pengwin is based on) from the Mongo site: https://docs.mongodb.com/manual/tutorial/install-mongodb-on-debian/

Basically ran this: `echo "deb http://repo.mongodb.org/apt/debian buster/mongodb-org/4.2 main" | sudo tee /etc/apt/sources.list.d/mongodb-org-4.

[2020-06-11 20:45] #2478 closed, assigned to mattwojo

[2020-06-13 02:31] krunch3r76 opened #2520 "a suggestion to change a sentence for improved clarity"
I constructively feel that this page can be enhanced by changing the language concerning this sentence as follows:

"In BookSku.h, add a constructor that takes a winrt::hstring, a private member to store the title string, and another for the event that we'll raise when the title changes. "

"another" appears to refer to that which is "taken" by the constructor, but in fact the constructor, as per

[2020-06-13 02:45] stevewhims commented on #2520
Hi, @krunch3r76, I completely agree, it's ambiguous. Note that the topic in question isn't the custom controls one, but this one: https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/binding-property.

I've published a fix, hopefully that removes the former clumsiness. :)

Thanks!
-Steve

[2020-06-13 03:49] krunch3r76 commented on #2520
thank you, the new language is definitely coherent with the example to a reader who is new to WinRT/C++ (RT class event-driven paradigm). Thanks for recognizing the correct page to which this feedback belonged and addressing it without fuss!

[2020-06-13 03:49] #2520 closed, assigned to stevewhims

[2020-06-13 06:47] krunch3r76 opened #2521 "recommendation to remove a superfluous/unclear statement"
Dear Microsoft team: I constructively feel this Content's readability can be enhanced by the removal of/elaboration on the following statement (**boldfaced**):

"In \Bookstore\Bookstore\MainPage.cpp, call winrt::make (with the implementation type) to assign a new instance of the projected type to m_mainViewModel. **Assign an initial value for the book's title.** "

URL: (https://docs.microsoft.com

[2020-06-14 14:53] ghost opened #2522 "C++/WinRT Code Samples for Education and Training"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f730731-e97d-a8e6-a344-a4906980ad64
* Version Independent ID: 5d99f618-f4de-8ed3-46d7-634df5105228
* Content: [Photo Editor C++/WinRT sample application - UWP applications](https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/photo-editor-sample)
* Content Sourc

[2020-06-15 05:36] BMarques opened #2523 "Developer forums links update"
Hello,
Half of the developer forums are either redirects to pages that are unrelated (specially the first ones with the filters), or the pages are now dead. Can you update it please?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5873bf21-4560-102a-a9c8-2ad4e425be49
* Version Independent ID: dea02fb9-f0a7-739d-2926-f92d

[2020-06-15 09:51] #2522 closed, assigned to stevewhims

[2020-06-16 03:15] stevewhims commented on #2523
Hi, @BMarques, and thanks for filing this issue. I've updated the live topic with fixes to the links. I think they're all ok now.

Thanks again!
Steve

[2020-06-16 17:26] mcleanbyron commented on #2472
Thanks for reporting this issue. We have fixed it in this article you specified.

[2020-06-16 17:26] #2472 closed, assigned to mcleanbyron, denelon

[2020-06-16 18:36] mcleanbyron commented on #2496
Thanks for your feedback. We added some information to [this section](https://docs.microsoft.com/en-us/windows/package-manager/winget/install#multiple-selections) of the docs to help clarify this.

[2020-06-16 18:36] #2496 closed, assigned to KevinLaMS

[2020-06-16 18:38] mattwojo commented on #2350
@carltonsmith Sorry that you've had trouble. Could you help me understand what didn't work for you in the MongoDB install process and determine whether this is an issue requiring an update to the docs?

[2020-06-16 18:40] mattwojo commented on #2411
Done. Thanks @alvarezskinner :)

[2020-06-16 18:40] #2411 closed, assigned to mattwojo

[2020-06-16 19:31] michael-hawker opened #2526 "Needs valid example, first example is wrong and leads to copy-paste problems"
The document doesn't provide a proper example of a dependency property (the `propdp` VS shortcut should probably be called out somewhere too):

[code]

Even worse, the first example is incomplete/invalid for the normal use-case, which appears to be what may have led to the problem in the linked issue.

The example should be updated (and it's not about it being a bad example should be removed).

--

[2020-06-16 21:07] jwmsft commented on #2477
@smurancsik, thanks for this feedback. The obsolete information about Continuum has been removed.

[2020-06-16 21:07] #2477 closed

[2020-06-17 12:25] tharun916 opened #2527 "navigation drawer with nested menu"
please help me .. i need a sample project navigation drawer with nested menu . pls help

[2020-06-17 23:11] davidmatson opened #2528 "Outdated developer mode docs"
I believe this content is outdated.

I looked but the sections I'm finding in settings don't talk about Sideload anymore. I only see two things:
1. Update & Security, For developers, has a single Developer Mode toggle, not multiple options.
2. Apps, Apps & features, Chose where to get apps has a Microsoft Store only option, but I think it's no longer on by default.

---
#### Document Details

⚠ *D

[2020-06-18 00:34] mattwojo commented on #2149
Hey @neo - clearly I got distracted from making this update. I've moved the git setup instructions our of the NodeJS guide and into the WSL docs (as it applies across a variety of languages/workflows): https://docs.microsoft.com/windows/wsl/tutorials/wsl-git

In regard to the GPG signing, I may need some help better understanding the issue. Does associating yoru email with your GPG key resolve the

[2020-06-18 00:34] #2149 closed, assigned to mattwojo

[2020-06-19 04:17] yoshiask opened #2532 "Content is a link"
The entire second half of the page is a hyperlink
![image](https://user-images.githubusercontent.com/7549325/85096409-16e64300-b1a9-11ea-92ab-53a849ab71a3.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c591596-d202-244c-6fbf-31c288fe9b57
* Version Independent ID: 1473907c-0cba-8917-2fd8-d3ca1fb73cae
* Content: [U

[2020-06-19 07:19] PrinceCharles23 opened #2533 "no idea what sample to download, compile error in own code"
there is a sample download mentioned in the video but i have no idea which one and where to get it.

following along the steps in my own code leads to this error during compile:
Validation error. error 80080204: App manifest validation error: Line 59, Column 12, Reason: If it is not an audio background task, it is not allowed to have EntryPoint="BackgroundTasks.LiveTileUpdateBackgroundTask" withou

[2020-06-20 09:00] tharun916 opened #2534 "can not click/select"
![image](https://user-images.githubusercontent.com/34917430/85197934-101f1380-b302-11ea-9db7-bbbe7041f7c2.png)
![image](https://user-images.githubusercontent.com/34917430/85197974-65f3bb80-b302-11ea-9ed5-77595d1daca6.png)

can not select/click menubar item -> File
pls help to solve this issue

[2020-06-21 13:10] benjamesward opened #2537 "Missing templates for DirectX tutorial"
The very first step of the first part of this tutorial doesn't work when using the latest version of Visual Studio 2019. The DirectX templates don't exist any more, and there is no guidance on where to go from there. I eventually figured out that I needed to install something extra from some guy on Github (https://walbourn.github.io/direct3d-game-visual-studio-templates-redux/), but it's not flagg

[2020-06-22 09:02] hupo376787 opened #2538 "Docs are out of date"
This doc describles how to add taskbar control buttons like below.
![image](https://user-images.githubusercontent.com/14960168/85269042-eacd0980-b4a9-11ea-9b14-962f1d86a31d.png)

But now the doc is out of date, we can easily achieve this by enable the `Background Media Playback` capability in the `package.manifest`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2020-06-22 12:12] Marv51 commented on #2487
Any update on this?

[2020-06-22 18:57] drewbatgit commented on #2538
Hi, thank you for your feedback. This article is intended to support legacy apps that use the old way of integrating with SMTC. As it states in the first paragraph:

"Starting with Windows 10, version 1607, UWP apps that use the MediaPlayer class to play media are automatically integrated with the System Media Transport Controls (SMTC) by default. This is the recommended way of interacting with th

[2020-06-22 18:57] #2538 closed, assigned to drewbatgit

[2020-06-22 19:18] dustinsoftware opened #2539 "downlaods typo"
Typo: "Visual Studio downlaods page" appears twice on the page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c920a34-495e-ae99-365a-f6bc0afa2052
* Version Independent ID: 1e3c088d-3ca5-7f26-b1f6-23d9c97918e7
* Content: [Windows 10 on ARM - UWP applications](https://docs.microsoft.com/en-us/windows/uwp/porting/apps-on

[2020-06-22 21:40] mcleanbyron commented on #2497
Thanks for reaching out to us, and I'm sorry for the delay in responding to you. I just tested out the "To add the required references manually" instructions in this article (including referencing windows.winmd from the /Facade folder) in a Windows Forms project that targets the .NET Framework, and I am not seeing this error; I can successfully call a WinRT API with the current instructions. The e

[2020-06-22 21:40] #2497 closed, assigned to mcleanbyron

[2020-06-22 23:10] lukeblevins commented on #2316
@QuinnRadich @lastnameholiu Any update on this?

[2020-06-22 23:14] QuinnRadich commented on #2316
We're currently working on larger updates to the Get Started section of our documentation, and this precise messaging on WinRT will be part of it. No timeline yet, but rest assured that it's in the works.

[2020-06-22 23:27] lukeblevins commented on #2316
@QuinnRadich Wonderful! Thanks Quinn. I'll look forward to seeing the spec for this!

[2020-06-23 01:08] stevewhims commented on #2537
Thanks for filing this issue, @benjamesward. I'm working on updating this topic right now because I want to change the language used in this series to C++/WinRT (from C++/CX). I'll update this thread when I have something published.

Thanks again!
Steve

[2020-06-23 11:01] elyoh commented on #2497
This was in a WPF application targetting .NET 4.8.
Visual Studio 2019 16.6.2.
Windows SDK 19041.

I just tried to produce a small repo of the issue and it seems a reference to `Facade\windows.winmd` gives the errors I reported if references to `Windows.Foundation.UniversalApiContract.winmd` and `Windows.Foundation.FoundationContract.winmd` are **not** included.

So from that angle, the instruction

[2020-06-23 21:42] ET3D-ET3D opened #2541 "Some inaccuracies"
[Enter feedback here]

There are a few problems with this page. I don't remember all of them (read it about a month ago), but here are two:

I won't suggest using MonoGame with VS2019 currently (version 3.7.1) because it only installs extensions for Visual Studio 2013 to 2017.

The page says that the Agency font comes with Windows. It doesn't. It comes with Office.

---
#### Document Details

⚠ *D

[2020-06-23 22:15] mcleanbyron commented on #2497
Thanks for all the additional info. You're correct that the intention is to reference all the .dll and .winmd files listed in the table, and I have updated the language to make this more explicit. I have also fixed the missing '\' characters.

If you haven't tried the Microsoft.Windows.SDK.Contracts NuGet package yet, you may want to try that out in the future. It provides a much easier experience

[2020-06-24 09:21] hadess opened #2542 "Unclear "out from the device" axis"
While trying to verify whether Linux' IIO subsystem and Windows used the same axis references, I found the page in question, and the description of the Z axis wasn't clear.

Linux says:
https://git.kernel.org/pub/scm/linux/kernel/git/jic23/iio.git/tree/Documentation/ABI/testing/sysfs-bus-iio#n1638

The Windows docs say:
https://docs.microsoft.com/en-us/windows/uwp/devices-sensors/sensor-orientatio

[2020-06-24 10:03] benjamesward commented on #2537
Great, thanks Steve!

On 23 June 2020 at 02:08:50, Steven White (notifications@github.com) wrote:

Thanks for filing this issue, @benjamesward
<https://github.com/benjamesward>. I'm working on updating this topic right
now because I want to change the language used in this series to C++/WinRT
(from C++/CX). I'll update this thread when I have something published.

Thanks again!
Steve

—
You are re

[2020-06-24 14:34] juvtib opened #2543 "Fix Links"
Many of the links in this document appear to be badly broken. They extend through entire paragraphs and code examples. Please review this document and fix the broken links.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6a7e980-cfd8-6d9c-6cc5-0ca6763fd327
* Version Independent ID: 5f59e641-6576-e10e-99c0-794907285580

[2020-06-24 17:32] mcleanbyron commented on #2543
Thanks for reaching out to us about this issue. The anchor links in that article have been fixed.

[2020-06-24 17:32] #2543 closed, assigned to mcleanbyron

[2020-06-25 02:30] dpaulino opened #2546 "PreviewKeyDown and PreviewKeyUp links lead to 404"
The links for `PreviewKeyDown` and `PreviewKeyUp` lead to 404.
The exact links:
- https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.uielement.previewkeydown.md
- https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.uielement.previewkeyup.md

![image](https://user-images.githubusercontent.com/7649589/85646473-06264900-b651-11ea-9232-f65a6c2f19ed.png)
![image](https://user-images.githubus

[2020-06-25 09:39] vach69 opened #2548 "MediaComposition.RenderToFileAsync empty mp4 file"
I try to render a MediaComposition with the RenderToFileAsync method. The file is created but the file is empty (0Ko) and the "TranscodeFailureReason" is "Unknown". I'm looking for explanation online for hours and i can't find a solution. I started to think that it is an issue but i'm not sure. Thanks in advance,

`    public sealed partial class MainPage : Page
    {
        MediaComposition comp

[2020-06-25 14:17] werto165 commented on #1398
Hi is there any progress on this? In the docs here: https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/handle-events it mentions that you can get event handlers using the properties -> lightning bolt. However, it still isn't present.

[2020-06-25 14:50] vach69 commented on #2548
Wrong place sorry

[2020-06-25 14:50] #2548 closed, assigned to nobody

[2020-06-25 19:12] stevewhims commented on #2523
The fixes are now live, so I'll go ahead and close the issue.

[2020-06-25 19:12] #2523 closed, assigned to stevewhims

[2020-06-25 19:28] stevewhims commented on #2521
Hi! I'll take a look at this soon, and make fixes. Thank you for filing!

-Steve

[2020-06-25 19:41] dpaulino commented on #2546
Closing this issue now that the PR I created was merged.

[2020-06-25 19:41] #2546 closed, assigned to jwmsft

[2020-06-25 22:32] hkhmsft commented on #2534
Hi @tharun916, thanks for bringing this to our attention. Could you instead submit this through [Microsoft Q&A](https://docs.microsoft.com/answers/topics/uwp.html?sort=active&filter=all) or through [Microsoft Support](https://support.microsoft.com/contactus)? A support engineer can look at the repro and see whether the issue is a Microsoft product bug, or something else. If it's a bug with a Micro

[2020-06-26 04:18] Gavin-Williams opened #2551 "App overlays cause Windows DWM to fail."
When running applications in HDR mode ( Settings / System / Display / Play HDR games and apps ) any overlay being rendered on screen such as TaskBar, TitleBar, Volume causes the DWM to fail - the screen goes black for a second or two. We think it's because with this setting enabled, applications are running in HDR and Windows Desktop is still running in SDR, so any attempt at rendering overlays (w

[2020-06-26 04:30] stevewhims commented on #2537
UPDATE: So, I've published a fix to the issue of the Direct3D project templates not being available for C++/WinRT. And I've updated all of the code snippets to show C++/WinRT instead of C++/CX. I'll go ahead and close the issue.

Thanks!
Steve

[2020-06-26 04:30] #2537 closed, assigned to stevewhims

[2020-06-26 04:32] stevewhims commented on #2193
UPDATE: I've now updated all the snippets in all the topics that show code from the Simple3DGameDX sample app. I've replaced the former C++/CX snippets with C++/WinRT and the sample app itself is also ported. Details in the topics.

Thanks!
Steve

[2020-06-26 14:37] Druffl3 opened #2552 "restrictedcapabilities URL is missing"
[Enter feedback here]

The namespace to be referred to enable restricted capabilities is not valid anymore.

The url:
`xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"`

Error received:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ee37beb-26fc-4eca-d48e-08b4c1563b

[2020-06-26 16:21] BMarques commented on #2523
I'm not sure if it was this change or not, but the page is considerably broken in some parts, I think the headings in some parts are wrong, for example  #### MonoGame instead of ###MonoGame

[2020-06-26 17:07] mcleanbyron commented on #1315
Apologies for the late reply on this issue. MSIX is indeed the recommended app packaging technology for any Windows 10 application, including UWP apps and other types of traditional desktop apps including .NET and native C++/Win32 apps. For more details about what MSIX provides and how to work with it, please see the [MSIX docs](https://docs.microsoft.com/en-us/windows/msix/overview).

[2020-06-26 17:07] #1315 closed, assigned to mcleanbyron

[2020-06-26 18:23] mcleanbyron commented on #1016
Thanks for your feedback, and I apologize for the delay in addressing it. I have updated [the article](https://docs.microsoft.com/en-us/windows/msix/package/optional-packages#related-sets) with a link to the bundle manifest schema.

[2020-06-26 18:23] #1016 closed, assigned to mcleanbyron

[2020-06-26 18:23] jwmsft commented on #2526
The code has been updated.

[2020-06-26 18:23] #2526 closed, assigned to jwmsft

[2020-06-26 18:28] mcleanbyron commented on #1105
Thanks for your feedback, and I apologize for the long delay in responding. Since the time you submitted this feedback we have completely rewritten [the article](https://docs.microsoft.com/en-us/windows/uwp/packaging/auto-build-package-uwp-apps) to align to the latest developer experience and recommendations. If you still have concerns/feedback, please feel free to reopen this issue with more deta

[2020-06-26 18:28] #1105 closed, assigned to mcleanbyron

[2020-06-26 18:39] hickeys commented on #2509
I don't know if that pun was intended or not, but if it was, _well done!_

I completely agree with your feedback; there are inconsistencies that _need_ to be addressed. I will be addressing them as part of a larger project, but in the short-term I don't have any specific guidance updates that I can make at this time. I'm going to close this issue, just know your feedback has been well received and

[2020-06-26 18:39] #2509 closed, assigned to hickeys

[2020-06-26 18:40] QuinnRadich commented on #2504
Well, that's a fascinating bug. This file is auto-generated by our scripting - clearly something broke right at that last part of the page.

For now, I'm removing these malformed entries. I'll go back through later and determine whether the fixed versions are supposed to be present, and re-adding them if they are.

[2020-06-26 18:40] #2504 closed, assigned to QuinnRadich

[2020-06-26 18:43] hkhmsft commented on #2500
Thanks for filing this issue @jozefchutka. Could you submit this to our [Microsoft Q&A](https://docs.microsoft.com/answers/topics/uwp.html?sort=active&filter=all) platform? The community of Microsoft experts and engineers over there could have a better answer to your issue. Though, if you suspect this to be a product bug, you could file this through [Microsoft Support](https://support.microsoft.co

[2020-06-26 18:45] hickeys commented on #2435
These items were removed in an earlier update as part of a transition to a new report format. Accordingly, I'm closing this issue. Thank you for reporting the discrepancy.

[2020-06-26 18:45] #2435 closed, assigned to hickeys

[2020-06-26 18:46] mcleanbyron commented on #1017
Thanks for your feedback, and I apologize for the delay in responding. I have expanded the [related sets](https://docs.microsoft.com/en-us/windows/msix/package/optional-packages#related-sets) discussion with the additional info you provided, and I removed any text that indicates that related sets are required to load code in an optional package.

[2020-06-26 18:46] #1017 closed, assigned to mcleanbyron

[2020-06-26 18:47] hickeys commented on #2434
This item was added in an earlier update as part of a transition to a new report format. Accordingly, I'm closing this issue. Thank you for reporting the discrepancy.

[2020-06-26 18:47] #2434 closed, assigned to hickeys

[2020-06-26 18:49] QuinnRadich commented on #2528
Indeed, these options have been changed in the most recent Windows 10 release. I've updated the alerts on the page, removed an outdated screenshot, and slightly changed the order of contents to reflect this (though the sideloading section is still present, for users who are not on the most recent version).

[2020-06-26 18:49] #2528 closed, assigned to QuinnRadich

[2020-06-26 18:51] hkhmsft commented on #2424
Thanks for submitting this @uallmight. I've created a work item to look into this and make any necessary snippet changes to reflect the most current code. I will circle back here in this thread with any updates.

[2020-06-26 18:51] QuinnRadich commented on #2487
For now, I'm removing the malformed entries. We generate this page from scripting in our side, so I need to track down exactly what broke it.

It's possible that the malformed entries were never intended to be added to this list, as they might be APIs which are internal or otherwise not documented. I'll evaluate, and re-add them in a fixed state if neccesary.

[2020-06-26 18:51] #2487 closed, assigned to QuinnRadich

[2020-06-26 18:51] hickeys commented on #2432
Most of these fields have already been added as part of a change in report format. However, programOfferingLevel and TenantId, while in the list, are both missing descriptions, I've reached out to the engineering team, and will update these two items when I receive a response.

[2020-06-26 18:53] hkhmsft commented on #2422
Thanks for filing this @yoshiask. I've created a work item to include this information in the documentation. I will circle back once there are updates.

[2020-06-26 18:53] QuinnRadich commented on #2297
The changes should have gone live in the latest version of Windows 10, build 19041. I've updated the documentation to align with this.

[2020-06-26 18:53] #2297 closed, assigned to QuinnRadich

[2020-06-26 19:01] QuinnRadich commented on #2437
Seems like issues related to a scripting bug. I've resolved them for now, and have trimmed out the truncated entries. I'll evaluate to see if they should be re-added in fixed form. Thank you.

[2020-06-26 19:01] #2437 closed, assigned to QuinnRadich

[2020-06-26 19:03] QuinnRadich commented on #2085
Thank you for your feedback.

We're in the process of revisiting our Get Started section to reflect the latest Windows Developer experience. As part of this, we also want to refine these tutorials and the messaging around them - I'll be sure to keep this in mind when I cover these, and make sure we reflect the deployment and publication steps for new devs.

[2020-06-26 19:03] #2085 closed, assigned to QuinnRadich

[2020-06-26 19:06] QuinnRadich commented on #2453
While we appreciate your feedback, this seems like more like a feature request or bug report than a documentation issue. I'd recommend reaching out to [Microsoft Support](https://support.microsoft.com/contactus) or other developer feedback channels.

If you receive assistance via any of these support resources, and you believe that information would help us improve the docs, then please come back

[2020-06-26 19:06] #2453 closed, assigned to QuinnRadich

[2020-06-26 19:08] QuinnRadich commented on #2451
While we appreciate your feedback, this doesn't seem like a documentation issue. I'd recommend reaching out to [Microsoft Support](https://support.microsoft.com/contactus) or other developer feedback channels to make this request. Thank you.

[2020-06-26 19:08] #2451 closed, assigned to QuinnRadich

[2020-06-26 19:09] drewbatgit commented on #1567
Thank you for catching this and helping improve the quality of our documentation. The correct verb was: "the ability to render video frames to a Windows.UI.Composition surface". This has been fixed in the source and should appear on the live site within ~24 hours.

[2020-06-26 19:09] #1567 closed, assigned to drewbatgit

[2020-06-26 19:10] Karl-Bridge-Microsoft commented on #2465
Thanks @Nukepayload2. The topic has been updated with the suggested detail.

[2020-06-26 19:10] #2465 closed, assigned to Karl-Bridge-Microsoft

[2020-06-26 19:11] hickeys commented on #2433
I've reached out to the engineering team regarding these fields. I will reply on this issue as soon as I get a response. Thank you.

[2020-06-26 19:14] Karl-Bridge-Microsoft commented on #2457
@MikeHillberg @anawishnoff - can you help provide the requested detail?

[2020-06-26 19:17] hickeys commented on #2426
It looks like your feedback concerns the product itself, rather than the documentation for the product. Unfortunately, GitHub issues in this repo are only used for documentation issues.

The best way to leave product feedback is through the [Feedback Hub app](https://support.microsoft.com/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app). If you return to the documentation

[2020-06-26 19:17] #2426 closed, assigned to hickeys

[2020-06-26 19:20] hickeys commented on #2409
It looks like there's no actionable feedback here, so I'll go ahead and close the issue. Please open a new issue if you have feedback about the documentation that you'd like us to address. Otherwise, you might try contacting the WiX team if you've found a bug in their toolset.

Thanks,
Shawn

[2020-06-26 19:20] #2409 closed, assigned to hickeys

[2020-06-26 19:23] jwmsft commented on #2420
Thanks for pointing this out. We've added a note that the IsTitleBarAutoPaddingEnabled property requirtes WinUI 2.2 or later. It's not available in the non-WinUI version of NavigationView.

[2020-06-26 19:23] #2420 closed, assigned to jwmsft

[2020-06-26 19:23] #2387 closed, assigned to hickeys

[2020-06-26 19:24] Karl-Bridge-Microsoft commented on #2452
Closing due to no response.

[2020-06-26 19:24] #2452 closed, assigned to Karl-Bridge-Microsoft

[2020-06-26 19:26] QuinnRadich commented on #1986
Thanks for the feedback, I've added this disclaimer to the instructions. Agmundr, if you're still having issues after following the updated steps, I'd encourage you to file a new issue here.

Thank you.

[2020-06-26 19:26] #1986 closed, assigned to QuinnRadich

[2020-06-26 19:26] mcleanbyron commented on #1244
Thanks for your feedback, and I apologize for the delay in responding. Please see our main [packaging signing](https://docs.microsoft.com/en-us/windows/msix/package/signing-package-overview) article for info about signing in general. If your questions are not answered by that article, please submit your feedback using the "Feedback" control at the bottom of the article.

You can also try the follo

[2020-06-26 19:26] #1244 closed, assigned to mcleanbyron

[2020-06-26 19:27] QuinnRadich commented on #2144
Thanks for the information. I've updated the docs with a note containing this information.

[2020-06-26 19:27] #2144 closed, assigned to QuinnRadich

[2020-06-26 19:33] jwmsft commented on #2207
A section has been added for pathless case syntax.

[2020-06-26 19:33] #2207 closed, assigned to jwmsft

[2020-06-26 19:35] #2202 closed, assigned to jwmsft

[2020-06-26 19:41] jwmsft commented on #2471
Thanks for the feedback about C++ code examples. We are working on bringing C++/WinRT code examples to more articles based on priority. In the meantime, please see the [C++/WinRT documentation](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/index) and [C++/WinRT API reference](https://docs.microsoft.com/uwp/cpp-ref-for-winrt/winrt).

[2020-06-26 19:41] #2471 closed, assigned to jwmsft

[2020-06-26 19:46] drewbatgit commented on #1558
Thanks for the feedback on the docs, and to the other users that offered guidance. These docs were originally authored to be targeted exclusively for UWP app development. As Microsoft is opening these features up to be used in more types of apps, we will need to provide guidance for other platforms. We are in a planning phase right now to determine the best way to do this across the docs. For now,

[2020-06-26 19:46] #1558 closed, assigned to drewbatgit

[2020-06-26 19:59] hickeys commented on #2233
As there has been no reply in months, I'm closing this issue.

[2020-06-26 19:59] #2233 closed, assigned to hickeys

[2020-06-26 20:04] hickeys commented on #1566
The version of Windows 10 referenced in this issue is a pre-release version, and this API is being deprecated. Since there has been no activity on this bug for over a year, I'm closing it.

[2020-06-26 20:04] #1566 closed, assigned to hickeys

[2020-06-26 20:20] jwmsft commented on #2300
There is some example code available in the XAML Controls Gallery, which is linked at the top of the navigation view page. The simple example looks like this:
[code]

Because _any_ content can be placed in the PaneCustomContent, more complex examples for custom scenarios are outside the scope of what we can provide here.

[2020-06-26 20:20] #2300 closed, assigned to jwmsft

[2020-06-26 21:14] Karl-Bridge-Microsoft commented on #2319
Thanks @Melsvik. C# code snippets have been corrected to build cleanly.

[2020-06-26 21:14] #2319 closed, assigned to Karl-Bridge-Microsoft

[2020-06-26 21:41] Karl-Bridge-Microsoft commented on #1791
Thanks @MasterSU. The en-us topics have been updated with this added detail. Localized versions will take some time to propagate.

[2020-06-26 21:41] #1791 closed, assigned to Karl-Bridge-Microsoft

[2020-06-26 22:39] jwmsft commented on #2146
This code example has been fixed. Sorry for the inconvenience. The line should be
`Frame rootFrame = Window.Current.Content as Frame;`.

[2020-06-26 22:39] #2146 closed, assigned to jwmsft

[2020-06-27 10:51] soumyamahunt opened #2553 "Indicate roaming data is deprecated"
[The deprecated features documentation](https://docs.microsoft.com/en-us/windows/deployment/planning/windows-10-deprecated-features) describes roaming to be deprecated and will be removed in future. Indicate roaming is deprecated in this doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 340f7839-6454-f1b5-ced5-500096

[2020-06-27 12:22] mc0re opened #2554 "How to debug payment errors?"
[Enter feedback here]
If during the sign up procedure one has got an error with a correlation ID, how to find out what went wrong?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4ddd610-d6de-7a7c-2d59-fdc08dd98371
* Version Independent ID: 1ed74795-fa40-80a5-4fc2-6f4e87efa594
* Content: [Opening a developer account -

[2020-06-27 15:31] renuac commented on #2496
#TODOS
CONTRA814714
CPRONA VIRUS.

--
Renato Nunes Achkar

[2020-06-27 15:33] renuac commented on #2496
Thanks
 'claro.com.br'

Em sáb, 27 de jun de 2020 12:31, Renato Nunes Achkar <renuac@gmail.com>
escreveu:

[2020-06-27 15:39] renuac commented on #2496
'APACHE 2.0'='2020-06-28 55.55.55.55.55.

Em sáb, 27 de jun de 2020 12:33, Renato Nunes Achkar <renuac@gmail.com>
escreveu:

[2020-06-27 15:40] renuac commented on #2496
Em sáb, 27 de jun de 2020 12:38, Renato Nunes Achkar <renuac@gmail.com>
escreveu:

[2020-06-27 15:54] ghost commented on #1420
I resolved the following C2039 error when using the C++/WinRT VSIX,
'Block': is not a member of 'winrt::AlphabetBlocks::implementation',
by editing the .vcxproj and the .vcproj.filters files and adding my Block class files. This gets the dependencies sorted and the Block files appear in a visual tree in Solution Explorer like that of MainPage.

[2020-06-29 07:26] jozefchutka commented on #2500
Hi @lastnameholiu , I tired posting the same on Q&A however after submission it showed **WAF v2 has determined your request exceeded the normal web request and has blocked your request.**

I do not know if this is product bug or not, resolve the attribute on your side.

Free of charge? Yes, thanks for letting me submit bug on your software free of charge.

At this point, I believe I did enough to

[2020-06-29 12:58] molikmiah opened #2555 "Minor typo"
There is a minor typographic error within the sentence below which appears in Walkthrough Section 4. The value of "PoinerLockControls.js" should actually read "PointerLockControls.js"

The **PoinerLockControls.js** library uses the mouse to rotate the camera in the direction that the mouse is moved, allowing the player to look around.

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-06-29 19:36] hickeys commented on #2162
Based on some investigations, I can confirm 1909 support. The engineering team did not see anything that would cause the issues you're describing. Since there has been no reply on this issue, I'm going to close it. Please reopen if you continue to encounter this issue.

[2020-06-29 19:36] #2162 closed, assigned to hickeys

[2020-06-29 20:43] Pololot64 commented on #2554
I have the same issue. I see an error reported on the status page but I do not know if it is related...

[2020-06-29 21:03] hickeys commented on #2353
We have no plans to offer a Win32 toolkit at this time.

[2020-06-29 21:03] #2353 closed, assigned to hickeys

[2020-06-29 21:10] hickeys commented on #1568
Thanks for catching this. The resolutions were correct; the aspect ratio was wrong. I've updated the docs.

[2020-06-29 21:10] #1568 closed, assigned to hickeys

[2020-06-29 21:18] hickeys commented on #1774
@jevansAN Can I bother you for some more information about this?

- Is this behavior still occurring?
- What sort of app are you trying to update (Windows app, Xbox app, Windows Phone app, etc)?
- Have you completed the account creation and verification process?
- Have you successfully submitted an update in the past?
- Is your app currently listed and available in the store, or are you in a pre-r

[2020-06-29 21:20] hickeys commented on #1832
Thanks for catching that. I agree that it should be updated, but I've lowered the priority to reflect the impact more accurately.

[2020-06-29 21:22] hickeys commented on #2246
#
Thanks for reaching out with your feedback. Unfortunately, it looks like you're requesting technical support, and GitHub issues in this repo are only used for documentation issues.

The best way to get support is by asking the community on the [Microsoft Developer Forums](https://social.msdn.microsoft.com/Forums/newthread?category=windowsapps&forum=wpdevelop&prof=required) or [StackOverflow](htt

[2020-06-29 21:22] #2246 closed, assigned to hickeys

[2020-06-29 22:11] jwmsft commented on #2512
The WinUI version of TwoPaneView will work on Windows 10 Creators Update (version 1703, build 15063) or later. If you are using TwoPaneView in your code-behind, be sure to use the Microsoft.UI.Xaml.Controls namespace, as shown in the C# examples.

There is a non-WinUI version (_Windows_.UI.Xaml.Controls.TwoPaneView) that requires Windows 10 version 1903 or later.

[2020-06-29 22:16] jwmsft commented on #1963
This information is now included on reference pages.

[2020-06-29 22:16] #1963 closed, assigned to jwmsft

[2020-06-29 22:17] #1881 closed, assigned to jwmsft

[2020-06-29 22:40] jevansAN commented on #1774
Shawn,

	Thanks - it’s been a while and I don’t precisely remember the situation, In any event I’m not experiencing it now - have updated several time recently.
	I appreciate the response,

	Jeff

On Jun 29, 2020, at 2:18 PM, Shawn Hickey <notifications@github.com> wrote:

@jevansAN <https://github.com/jevansAN> Can I bother you for some more information about this?

Is this behavior still occurri

[2020-06-29 23:01] anawishnoff commented on #2457
I like this idea of laying out all of our supported libraries for WinUI. I think this would be a great addition as a permanent table to the [WinUI overview article](https://docs.microsoft.com/en-us/windows/apps/winui/), and would also be good to have preview-versions of the table for each preview or other release of WinUI 3 in the appropriate release notes article.

@stmoy, would you be the person

[2020-06-29 23:12] stmoy commented on #2457
Between @michael-hawker and myself, I think we have the most knowledge about what libraries are supported. I've got a table internally that tracks a bunch of ecosystem partners. I'd imagine this table could be posted alongside the release notes as @MikeHillberg recommended.

@Karl-Bridge-Microsoft - how do you want this detail provided? Right now, a lot of the columns are ❌ for support when we'd l

[2020-06-30 06:05] anuragyayhdapu commented on #2237
Thanks @lastnameholiu
Checked now, Issue is fixed. I am able to download latest UWP docs.

[2020-06-30 06:05] #2237 closed, assigned to lastnameholiu

[2020-06-30 22:25] mattwojo commented on #2350
Closing this issue as the install appears to work fine for me. @carltonsmith -- If you have a chance to provide more details about what's not working, I can do my best to help and make any necessary update to this guidance.

[2020-06-30 22:25] #2350 closed, assigned to mattwojo

[2020-07-01 12:40] hadess commented on #2542
I found those pictures in the [Integrating Motion and Orientation Sensors whitepaper](https://docs.microsoft.com/en-us/windows-hardware/design/whitepapers/integrating-motion-and-orientation-sensors):

![image](https://user-images.githubusercontent.com/769861/86244548-6ca6ec00-bba8-11ea-9131-d36af00d6c15.png)

and:

![image](https://user-images.githubusercontent.com/769861/86244804-cd362900-bba8-11

[2020-07-01 16:27] robloo commented on #1870
Adding docs for the default control templates/styles is really important in my opinion. Copying some comments from #2772:

 * Concerning the discussion about re-templating in general: I notice a while ago ALL the documentation seemed to disappear for re-templating specific controls. You used to be able to go to Microsoft docs online and see the default template as well as which parts were required

[2020-07-02 13:32] Andrij-Ghorbunov opened #2558 "Error in Powershell code"
This code:
Set-Printer –Name "Microsoft XPS Document Writer" -WorkflowPolicy On
possibly should be
Set-Printer –Name "Microsoft XPS Document Writer" -WorkflowPolicy Enabled
At least, PS env says that enum values for WorkflowPolicy are Disabled, Enabled and Unitialized, just as stated above the code piece.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-07-02 16:34] 4epos opened #2559 "Typo in code"
The section 'Render the composition to a video file' has a typo in the code:
if (results != TranscodeFailureReason.None || status != AsyncStatus.Completed)
should be
if (results != TranscodeFailureReason.None || saveOperation.status != AsyncStatus.Completed)
Cheers,
Chris Ian Burkinshaw

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-07-02 21:33] drewbatgit commented on #2559
Hi. The code works the same either checking the Status property of the Async operation or capturing the status value passed into the completed handler. Can you share any info you have on why using the method you suggest is better than the code as-is? Thanks.

[2020-07-03 00:28] maxkatz6 commented on #1281
I believe that issue is out-of-dated.
There is new docs page with fixed example:
https://docs.microsoft.com/en-us/windows/msix/package/create-certificate-package-signing

[2020-07-03 09:20] 4epos commented on #2559
Apologies, it was just in reference to the example code given at
[https://docs.microsoft.com/en-us/windows/uwp/audio-video-camera/media-compositions-and-editing](url)

[2020-07-03 09:20] #2559 closed, assigned to drewbatgit

[2020-07-03 10:31] Felix-Dev commented on #2207
@jwmsft I think we should also mention that you can pass "this" as a parameter [here](https://docs.microsoft.com/en-us/windows/uwp/data-binding/function-bindings#function-arguments) as well.

[2020-07-03 22:55] Karl-Bridge-Microsoft commented on #2542
Thanks @hadess - the topic has been updated with additional detail.

[2020-07-03 22:55] #2542 closed, assigned to Karl-Bridge-Microsoft

[2020-07-04 06:09] AbhishekDimri opened #2560 "codes for the c++ users"
I am a c++ user trying to develop the UWP applications but the examples given are only for the c++ user and not for the c++ user.

It's a request for the MS team to add some of the examples of c++ also or at least add some hint to use this function or class to implement this following part.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-07-04 13:00] soumyamahunt commented on #458
Is memory mapped files still not supported??

[2020-07-04 13:25] MuleaneEve commented on #1917
I don't know why this issue was closed, but I also need this icon. I really wish it was part of the Segoe MDL2 icons.

Here are two possible workarounds: (Compose it with two icons or import the "SegMVR2.ttf" font)
https://stackoverflow.com/questions/45692232/w10-uwp-compactoverlay-button-icon

[2020-07-04 14:30] hupo376787 commented on #1917
Yeah, I closed it manually, cause MS doesn't care it at all. SoI took the icon from new `Calculator` app source code, and made a special font just for my app.

[2020-07-04 18:18] mediagatewizard opened #2561 "SSL"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68c07ba9-8f4f-c051-c945-16742c7fe409
* Version Independent ID: 61c4da19-8278-4764-05a4-000653932b83
* Content: [Provision Device Portal with a custom SSL certificate - UWP applications](https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/devi

[2020-07-04 18:57] ghost opened #2562 "XamlCompiler error WMC0095: Property 'Color1' must be a DependencyProperty to be set with a Setter"
[DependencyProperties.zip](https://github.com/MicrosoftDocs/windows-uwp/files/4875782/DependencyProperties.zip)

Porting a working C++/CX sample to C++/WinRT with no changes to MainPage.xaml the source of the WMC0095 errors. The code that gives the error is attached in a zip file.

[2020-07-05 09:52] pjmlp opened #2563 "Examples still show C++/CX code after update to C++/WinRT"
I just noticed that the example was finally updated to C++/WinRT, thanks for the effort.

However the code snippet on this page still makes use of `ref new` from C++/CX.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57ba16b2-6122-0499-b61d-ba93bf2781cf
* Version Independent ID: 9fb03c83-3f5c-dc72-09d6-0b571d2cf86d
* C

[2020-07-06 10:14] jakopo87 opened #2564 "'Complete Schema' misses 'Switches' keyword at root level"
`Silent` and `SilentWithProgress` in the `Complete Schema` produce a warning during validation,
they shound be nested under `Switches` at root level.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d657479f-c0b7-6358-c7d0-0402215edaa5
* Version Independent ID: 8976699b-cdba-5206-bdb0-8a0875acfe45
* Content: [Create your

[2020-07-06 10:29] jakopo87 opened #2565 "Too many dashes under 'Installations' list"
`Minimal required schema` and `Complete schema` have a dash in front of each line under `Installations`, it should be the same as `Good Example` or `Better Example`.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d657479f-c0b7-6358-c7d0-0402215edaa5
* Version Independent ID: 8976699b-cdba-5206-bdb0-8a0875acfe45
* Conten

[2020-07-06 15:59] tomasmcguinness commented on #2241
This would be very useful!

[2020-07-06 17:17] DanieleScipioni commented on #2241
I found this repo https://github.com/WindowsNotifications/alternate-push-channel that explains all. Maybe can be referenced in the documentation or included in https://github.com/Microsoft/Windows-universal-samples and referenced in the documentation.

[2020-07-06 18:27] Karl-Bridge-Microsoft commented on #2463
Thanks. The topic has been updated.

For future reference, you can use our Open Publishing system to submit PRs to fix issues like this. Just click the "Edit" button near the top of the topic to open the GitHub editor.

[2020-07-06 18:27] #2463 closed, assigned to Karl-Bridge-Microsoft

[2020-07-06 19:59] #1281 closed, assigned to mcleanbyron

[2020-07-06 21:09] #2562 closed, assigned to nobody

[2020-07-06 21:35] stevewhims commented on #2563
Hi, @pjmlp, and thanks for filing this issue. For the workstream that I completed recently, I updated any topic that shows source code from the **Simple3DGameDX** sample game. This particular topic (the "extend" topic) doesn't show source code from that sample, but from another, which hasn't been ported yet. So that'll be a new workstream for me (plus, there are a few other topics that show C++/CX

[2020-07-06 21:35] #2563 closed, assigned to stevewhims

[2020-07-06 21:47] Karl-Bridge-Microsoft commented on #2561
Hi @mediagatewizard - can you clarify your issue? You can also use our Open Publishing platform to submit PRs with your suggested updates. Just click the Edit button near the top of the topic and you can use the GitHub editor. Thanks!

[2020-07-07 08:48] pjmlp commented on #2563
Sure! I am mostly a .NET/Java dev, that occasionally uses C++ as hobby, so this is mostly as help for others anyway.

[2020-07-08 03:10] stevewhims commented on #2521
Yes, you're right, that sentence was unclear and out of date. I've published a fix. Does that look better?

Thanks for your patience!
Steve

[2020-07-10 17:19] Ryken100 opened #2567 "Using InputInjector to generate pen inputs incorrectly scales pen pressure by 0.25"
When using `Windows.Input.Preview.Injection.InputInjector` to generate pen inputs, the generated pen input's pressure will always be 0.25/one quarter of the value you specify in the `InjectedInputPenInfo.Pressure` property. So if you set `InjectedInputPenInfo.Pressure` to 1, the system will generate a pen input with a pressure of 0.25. If you set the pressure to 0.5, the system will generate an in

[2020-07-10 18:42] JacksonKearl opened #2568 "Re-word description of remote-wsl"
Both the client and the server are running locally in the remote-wsl case. cc @bamurtaugh

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6995595-66c4-f26a-b307-89a068b4b5ba
* Version Independent ID: 69400ed1-5d98-4d6e-47a3-5c409564e77d
* Content: [Set up NodeJS on WSL 2](https://docs.microsoft.com/en-us/windows/nodejs

[2020-07-10 19:31] marcelwgn opened #2569 "Update screenshots to reflect changes made to the TabViewItems"
Recently, the WinUI TabView was updated to also have the inset Corner radii present in Edgium. The screenshots however don't show this corners, since they are outdated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f18f00ea-66b6-827a-0aa5-2dc93465288f
* Version Independent ID: 1afcff76-c66a-f6f3-098f-12446d6b20df
* Co

[2020-07-11 05:39] nxtn opened #2571 "What does "0}" mean in XAML"
*generic.xaml* and *themeresources.xaml* are mentioned in the docs as reference sources. Could you explain what does `"0}"` mean in these two files?

generic.xaml Line 11697

[code]

generic.xaml Line 23325, Line 30724
themeresources.xaml Line 9282, Line 12717

[code]

#### Version

C:\Program Files (x86)\Windows Kits\10\DesignTime\CommonConfiguration\Neutral\UAP\10.0.19041.0\Generic\generic.xaml

[2020-07-12 19:22] Filimindji opened #2572 "Mixed Reality documentation is missing in Device Portal Documentation"
Hello,

With Windows 10 2004 now released, Mixed Reality documentation is missing in Device Portal Documentation.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 606c1247-47ba-a3fd-3abc-c072336bf019
* Version Independent ID: 729ff3d9-ebe0-bf23-605c-1ea1b0f2d3bd
* Content: [Device Portal core API reference - U

[2020-07-12 21:08] mcdurdin opened #2573 "Chromium Edge does not support web-to-app linking"
Chromium Edge does not support web-to-app linking and from what I understand there are no plans to do so. This content in this page should be marked as deprecated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7e251da-3cab-4aa0-2915-21189cf71bef
* Version Independent ID: b244b311-a0e5-185d-df82-1dadf3fe6416
* Content

[2020-07-12 21:09] hansmbakker opened #2574 "using statement in code sample looks odd?"
The code sample on this page contains:

[code]

Why is the new object from the `using` statement not used? Is this a mistake?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc7ec471-9257-39ba-173b-eb7973f4c360
* Version Independent ID: 3e07d5f0-8b19-2ef4-dc2a-48659f42c12e
* Content: [Host a custom UWP control in a WPF

[2020-07-12 21:20] hansmbakker commented on #2574
Excuse me, I misread the sample and did not see the difference between `MyUWPApp.App` and `MyWPFApp.App`. I thought the same thing was created twice.

[2020-07-12 21:20] #2574 closed, assigned to mcleanbyron

[2020-07-13 05:11] mc0re opened #2575 "How to get to the "Notes for certification" page?"
I wanted to amend some info, but I couldn't find that **Notes** page anymore. How to get to it?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b926c9e-ab41-f8cc-d2f9-df92cc1992a8
* Version Independent ID: 91f91c74-a4eb-8104-d094-d4012867b180
* Content: [Notes for certification - UWP applications](https://docs.microsof

[2020-07-13 14:40] dostende opened #2576 "Mention QueryOptionalDelayLoadedAPI in Version Adaptive App docs"
I think this documentation should provide a link to `QueryOptionalDelayLoadedAPI` as well. I wanted to check for and dynamically use `DXGIDeclareAdapterRemovalSupport` but any search for "uwp check if api available" or similar lead me to the Version Adaptive App docs instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-07-13 15:54] MikeHillberg commented on #2571
@ranjeshj - this looks like a product bug

[2020-07-13 16:27] ranjeshj commented on #2571
Agree. This should be fixed in the product.

[2020-07-13 17:05] mattwojo commented on #2568
Hi @JacksonKearl - Thanks for contributing this issue. I think this may be getting into semantics a bit. The statement you've identified is correct --the VS Code Remote extension defines the WSL instance as 'remote', even though you're correct that it's all still running on your local machine. This is because of the architecture of WSL running as it's own separated OS... so we've found it helpful

[2020-07-13 17:05] #2568 closed, assigned to mattwojo

[2020-07-13 17:16] ranjeshj commented on #2571
Moved to WinUI repo.

[2020-07-13 17:16] #2571 closed, assigned to MikeHillberg, ranjeshj

[2020-07-14 01:08] nxtn commented on #2571
Thank you!

[2020-07-14 18:00] michael-hawker opened #2578 "Back Button Guidance Update/Clarification?"
I know this issue was updated 3 years ago for Back Button Guidance when Sets was going to be coming in and asked to move back buttons out of the titlebar.

Since that plan has changed, should the guidance here be updated as well or is this still the recommended guidance from design?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-07-14 18:15] jwmsft commented on #2578
@chigy, can you provide any insight on this?

[2020-07-14 23:51] bamurtaugh commented on #2568
Hi @mattwojo, thanks for considering this issue. While it is semantics, I'd say the semantics here are important. We've had multiple users find defining this as "remote" to be confusing as they think they need a server running remotely in Azure to use WSL. Could we consider either rewording the explanation, or adding an additional explanation to clear up confusion? For instance,

[2020-07-15 00:48] mattwojo commented on #2568
Interesting. Thanks @bamurtaugh. That's a strange assumption to draw. We can certainly add a note to improve clarity here. I'll follow up on email. I'd like to know more about where the user feedback is coming in from.

[2020-07-15 06:38] darkxex opened #2579 "WinUI 3.0 and with webview2 with support yo xbox one?"
Is possible add support to xbox one with webview2 and winui 3?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49f58672-73e9-87bb-d7f0-8d67b6878e20
* Version Independent ID: 94fc53da-622a-93c8-a4c8-4faaf7e442b8
* Content: [WinUI 3.0 Preview 1 (May 2020)](https://docs.microsoft.com/en-us/windows/app

[2020-07-15 06:45] mdtauk commented on #2579
I think I heard that WinUI support for Xbox Series X wont be there at launch, but would be coming in the future.

I would assume the software platform will be shared, but I have not heard for sure, anything about what is to come for Xbox One.

[2020-07-15 09:41] MelbourneDeveloper opened #2580 "Context Menu Sample"
The [context menu sample](https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples/XamlContextMenu) doesn't work.

We need a working context menu sample.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24777eff-7485-a1ba-17b8-d56547bbd26d
* Version Independent ID: c5da8413-6441-3d07-4b84-02f145336771
*

[2020-07-15 14:15] Karl-Bridge-Microsoft commented on #2579
Hi @darkxex, I'm closing this issue as it's not a documentation concern.

However, the WinUI team welcomes feedback, suggestions, and issues at https://github.com/microsoft/microsoft-ui-xaml.

[2020-07-15 14:15] #2579 closed, assigned to Karl-Bridge-Microsoft

[2020-07-15 17:16] gotdang opened #2582 "Excellent documentation"
I'm a fairly experienced Windows and Linux user, and this documentation, explaining how to install nvm, nodejs and npm was outstanding. I love how the links go right where they should. It was easy to read through the text, clicking the appropriate link, running the appropriate command and so on. There were no hiccups or snags. Absolutely wonderful!
Thank you,
    --dang

---
#### Document Details

[2020-07-15 21:18] edward-a opened #2583 "The Plain "Vanilla" code snippets XmlDocument won't load unless '&' is replaced with '&amp;'"
The Plain "Vanilla" code snippets XmlDocument won't load unless '&' is replaced with '\&amp;'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59a52407-2fba-405c-267d-076b4306d0ab
* Version Independent ID: 946bec03-cbc7-a7e6-8174-01f5195c290e
* Content: [Send a local toast notification - UWP applications](https://docs.mi

[2020-07-15 21:19] mattwojo commented on #2582
Wow! Thank you so much @gotdang. We don't get very many of these sort of encouragement issues being filed and it's much appreciated. I hope that I can continue to offer this sort of value in the upcoming articles I'm working on. (Currently an expansion of the Docker tutorial as that's already growing outdated).

[2020-07-15 21:19] #2582 closed, assigned to mattwojo

[2020-07-15 21:37] mattwojo commented on #2568
Added a note further explaining the client/local - server/remote context here. :)
https://github.com/MicrosoftDocs/windows-uwp-pr/pull/927

Thanks for bringing this issue to our attention!

[2020-07-16 16:43] snakex2000 opened #2584 "Need Mixed Reality pages detailed here for portal"
From referral page, Mixed Reality is listed as shown on page in the list:

      https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/device-portal-desktop

This page needs to detail out the Mixed Reality interface as well.   This is a gap that is not filled elsewhere and needs to be part of the details for desktop portal

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-07-17 13:58] dscavezze opened #2587 "document: Show multiple views with AppWindow"
The document "Show multiple views with AppWindow" at https://docs.microsoft.com/en-us/windows/uwp/design/layout/app-window should be updated to tell users that it is important to keep the code in the AppWindow OnClosed handler to a minimum.

Here's a link about a difficult problem that could have been avoided if this "rule of thumb" was more widely known and observed.
https://stackoverflow.com/que

[2020-07-17 17:02] russellfoster opened #2588 "Unable to build per instructions"
[Enter feedback here]
Building 3.1 net core WPF app gives the following error:
Error	NU1201	Project Uwp is not compatible with netcoreapp3.1 (.NETCoreApp,Version=v3.1). Project Uwp supports: uap10.0.10240 (UAP,Version=v10.0.10240)

Trying with NET WPF app:
If I do as the article states and only add the build dependency, the build fails from unresolved call to the UWP project. It won't let me add t

[2020-07-17 17:05] russellfoster commented on #2588
Copied the wrong error for the first instance, I was trying several things out to get it to work. Following original instructions gives:

Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1201	Project Uwp is not compatible with netcoreapp3.1 (.NETCoreApp,Version=v3.1). Project Uwp supports: uap10.0.18362 (UAP,Version=v10.0.18362)

[2020-07-18 00:11] hkhmsft commented on #405
Closing this issue as there have been changes merged since: https://github.com/MicrosoftDocs/windows-uwp/pull/2290. Many thanks @superkid200 !

[2020-07-18 00:11] #405 closed, assigned to lastnameholiu

[2020-07-18 00:23] hkhmsft commented on #431
It seems there is no further actionable items here. Though I'm closing this Issue, feel free to follow-up below for any updates. Many thanks!

[2020-07-18 00:23] #431 closed, assigned to lastnameholiu

[2020-07-19 04:03] petersvp opened #2589 "Misleading text."
[Въведете обратна връзка тук]

Quote: You **don't have to be part of a developer program** to experiment, create, and test games or apps on Xbox. All you need is a developer account in Partner Center

Isn't creating a DEV account and joining Creators the same thing? I am forced to pay to test UWP app on XBOX now. I can remember it wasn't the case before.

---
#### Подробни данни за документите

⚠

[2020-07-20 08:45] randomua20 opened #2590 "What version of Fiddler is better to use for Scarlett ?"
There are some number of verrsions available, and the lates one have some differences that block working with scarlett:

- certificate file is rejected by console ( it has different name and type)
- FiddlerProxy rule is not presented in the rules list
- Some options in latest fiddler were removed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-07-20 16:24] nguyen-tam opened #2591 "Can't enter info for identifierUris"
When edit manifest file like the docs

"identifierUris" : [
        "https://onestore.microsoft.com",
        "https://onestore.microsoft.com/b2b/keys/create/collections",
        "https://onestore.microsoft.com/b2b/keys/create/purchase"
    ],

This error happens :  Error detail: The Application ID URI must be from a verified domain within your organization's directory.

---
#### Document Details

[2020-07-20 20:12] ramondeklein opened #2592 "Unable to register for "Windows & Xbox" developer program for Azure AD"
I am global administrator for our company's Azure AD account, but I am unable to enroll in the "Windows & Xbox" developer program. This makes it impossible to deploy a UWP application. It seems that an Azure AD account cannot be used to enroll in the developer program. Is that correct? We don't want to use live accounts for the developer program, because we cannot administer them.

[2020-07-20 22:08] hickeys commented on #2591
Thanks for reaching out with your feedback. GitHub issues in this repo are for documentation bugs only, and unfortunately this seems more like a support request than a documentation bug.

The best way to get support is by asking the community on [Microsoft Q&A](https://docs.microsoft.com/answers/topics/uwp.html?sort=active&filter=all) or [StackOverflow](https://stackoverflow.com/questions)

For co

[2020-07-20 22:08] #2591 closed, assigned to hickeys

[2020-07-20 22:12] hickeys commented on #2575
I'm not sure I understand what you mean. It looks like you were on the notes page when you submitted this issue, in which case you've already found it. There is an edit button at the top right of the page if you'd like to edit the content.

Please let me know if I've misunderstood. Otherwise I'll close this issue in a couple days.

Thanks,
Shawn

[2020-07-20 22:20] hickeys commented on #2554
Thanks for reaching out with your feedback. GitHub issues in this repo are for documentation bugs only, and unfortunately this seems more like a support request than a documentation bug.

The best way to get support is by asking the community on [Microsoft Q&A](https://docs.microsoft.com/answers/topics/uwp.html?sort=active&filter=all) or [StackOverflow](https://stackoverflow.com/questions)

For co

[2020-07-20 22:20] #2554 closed, assigned to hickeys

[2020-07-20 22:21] hickeys commented on #2527
Thanks for reaching out with your feedback. GitHub issues in this repo are for documentation bugs only, and unfortunately this seems more like a support request than a documentation bug.

The best way to get support is by asking the community on [Microsoft Q&A](https://docs.microsoft.com/answers/topics/uwp.html?sort=active&filter=all) or [StackOverflow](https://stackoverflow.com/questions)

For co

[2020-07-20 22:21] #2527 closed, assigned to hickeys

[2020-07-20 22:22] hickeys commented on #2469
It looks like your feedback concerns the product itself, rather than the documentation for the product. Unfortunately, GitHub issues in this repo are only used for documentation issues.

The best way to leave product feedback is through the [Feedback Hub app](https://support.microsoft.com/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app). If you return to the documentation

[2020-07-20 22:22] #2469 closed, assigned to hickeys

[2020-07-20 22:22] hickeys commented on #2440
Thanks for reaching out with your feedback. GitHub issues in this repo are for documentation bugs only, and unfortunately this seems more like a support request than a documentation bug.

The best way to get support is by asking the community on [Microsoft Q&A](https://docs.microsoft.com/answers/topics/uwp.html?sort=active&filter=all) or [StackOverflow](https://stackoverflow.com/questions)

For co

[2020-07-20 22:22] #2440 closed, assigned to hickeys

[2020-07-20 22:23] hickeys commented on #2438
Thanks for reaching out with your feedback. GitHub issues in this repo are for documentation bugs only, and unfortunately this seems more like a support request than a documentation bug.

The best way to get support is by asking the community on [Microsoft Q&A](https://docs.microsoft.com/answers/topics/uwp.html?sort=active&filter=all) or [StackOverflow](https://stackoverflow.com/questions)

For co

[2020-07-20 22:23] #2438 closed, assigned to hickeys

[2020-07-20 22:26] hickeys commented on #2331
Thanks for reaching out with your feedback. GitHub issues in this repo are for documentation bugs only, and unfortunately this seems more like a support request than a documentation bug.

The best way to get support is by asking the community on [Microsoft Q&A](https://docs.microsoft.com/answers/topics/uwp.html?sort=active&filter=all) or [StackOverflow](https://stackoverflow.com/questions)

For co

[2020-07-20 22:26] #2331 closed, assigned to hickeys

[2020-07-20 22:27] hickeys commented on #2324
Thanks for reaching out with your feedback. GitHub issues in this repo are for documentation bugs only, and unfortunately this seems more like a support request than a documentation bug.

The best way to get support is by asking the community on [Microsoft Q&A](https://docs.microsoft.com/answers/topics/uwp.html?sort=active&filter=all) or [StackOverflow](https://stackoverflow.com/questions)

For co

[2020-07-20 22:27] #2324 closed, assigned to hickeys

[2020-07-20 22:31] hickeys commented on #2271
Thanks for reaching out with your feedback. GitHub issues in this repo are for documentation bugs only, and unfortunately this seems more like a support request than a documentation bug.

The best way to get support is by asking the community on [Microsoft Q&A](https://docs.microsoft.com/answers/topics/uwp.html?sort=active&filter=all) or [StackOverflow](https://stackoverflow.com/questions)

For co

[2020-07-20 22:31] #2271 closed, assigned to hickeys

[2020-07-20 22:34] hickeys commented on #2152
Thanks for reaching out with your feedback. GitHub issues in this repo are for documentation bugs only, and unfortunately this seems more like a support request than a documentation bug.

The best way to get support is by asking the community on [Microsoft Q&A](https://docs.microsoft.com/answers/topics/uwp.html?sort=active&filter=all) or [StackOverflow](https://stackoverflow.com/questions)

For co

[2020-07-20 22:34] #2152 closed, assigned to hickeys

[2020-07-20 22:34] hickeys commented on #2172
Thanks for reaching out with your feedback. GitHub issues in this repo are for documentation bugs only, and unfortunately this seems more like a support request than a documentation bug.

The best way to get support is by asking the community on [Microsoft Q&A](https://docs.microsoft.com/answers/topics/uwp.html?sort=active&filter=all) or [StackOverflow](https://stackoverflow.com/questions)

For co

[2020-07-20 22:34] #2172 closed, assigned to hickeys

[2020-07-20 22:37] hickeys commented on #2168
No, you cannot. If you're interested in seeing how other developers have approached this, your best shot is to ask the community on [Microsoft Q&A](https://docs.microsoft.com/answers/topics/uwp.html?sort=active&filter=all) or [StackOverflow](https://stackoverflow.com/questions)

For completeness' sake, here is a list of developer resources:

- [Microsoft Q&A](https://docs.microsoft.com/answers/top

[2020-07-20 22:37] #2168 closed, assigned to hickeys

[2020-07-21 00:55] paszklar opened #2593 "Non-encoded angle brackets"
In the section [Iterable parameters](https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/pass-parms-to-abi#iterable-parameters) template parameters of IIterable use non-escaped angle brackets, as seen in the page source:

which renders them invisible:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d6f6d3b-

[2020-07-21 01:15] stevewhims commented on #2593
Thanks, @paszklar! The fix is now live, so I'll go ahead and close the issue.

-Steve

[2020-07-21 01:36] #2593 closed, assigned to stevewhims

[2020-07-21 02:20] theRealDarkFact opened #2594 "Xbox Developer Activation App"
The Xbox app that activates dev mode is broke. With the newest update for the console the app is still saying you need to update the console. There isn't a way to step back a revision or two to see exactly when that broke. However, I am completely unable to enter dev mode and this has been ongoing for about a week. It just says Almost There your're almost ready for development, but first we need t

[2020-07-21 02:23] nguyen-tam commented on #2591
No, it's documentation bug. The docs provides the WRONG instructions.

[2020-07-21 22:22] twhall-umich opened #2595 "C++/WinRT: Please always show what files to #include"
Please always show the full set of #include files relevant to every C++ example.

I can usually derive the #includes from the namespaces, but not always.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b97f1e3-af78-453e-6140-0fd37460d6c3
* Version Independent ID: e74f6cdb-2ac4-5a4d-8f73-0e97958f997b
* Content: [Boxing

[2020-07-22 00:55] e455a81e-d3ba-41a2-bc6d-7aafb1d9a5cd opened #2596 "Broken HTML in documentation"
There is an `<a>`  tag that wraps the whole _Add and retrieve data in a SQLite database_ section. The sections after that have the same problem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c591596-d202-244c-6fbf-31c288fe9b57
* Version Independent ID: 1473907c-0cba-8917-2fd8-d3ca1fb73cae
* Content: [Use a SQLite dat

[2020-07-22 21:14] SetTrend opened #2598 "The base unit is 4 because it's the only integer ...?"
From the page's content:

AFAIK, this statement isn't quite correct. What about 2 (2 * 1.5 = 3), 6 (6 * 1.5 = 9), 8 (8 * 1.5 = 12) and all the other integers that can be divided by 2?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05005ba0-1609-f4e1-16e2-47be162453e8
* Version Independent ID: 61bf242a-12ad-606f-e125-83

[2020-07-22 23:03] hkhmsft commented on #2596
Thanks so much for bringing this to our attention, @LariscusObscurus . I went ahead and patched the text. The changes should be live soon.

[2020-07-22 23:03] #2596 closed, assigned to lastnameholiu

[2020-07-23 02:17] stevewhims commented on #2595
Hi, @twhall-umich, and thanks for filing this issue. Can you give me an example of where you weren't able to tell what header file to include based on the namespace name of the Windows Runtime type you wanted to use?

I have this info in the topic [Get started with C++/WinRT](https://docs.microsoft.com/windows/uwp/cpp-and-winrt-apis/get-started):

Even so, in many examples, we are explicit about i

[2020-07-23 19:28] twhall-umich commented on #2595
Hi Steve, thanks for replying.

Sorry this answer is a long, and maybe not exactly on-point, but it
expresses my general frustration in trying to find a simple C++/WinRT
solution to a common task.  Some of the on-line documentation displays
examples in C# or C++/CX, even when I pick C++/WinRT in the language
drop-down.

I'm looking for a way to get the attributes for the current user (login ID,
di

[2020-07-23 21:47] 5U8cVs opened #2601 "Meeting The Needs of THIS Customer"
For a long time I respected Microsoft.  It delivered reliable operating systems and a really decent IDE.  Respect ended last year.   Today the IDE is okay if overly complex and underexplained.   Windows 10 and Office are shipped before testing.  That is completely unacceptable.  But the rule is that Microsoft is earning for investors.  And that is where responsibility ends.  There is ZERO contact

[2020-07-23 21:55] mcleanbyron commented on #2601
Thank you for taking the time to share your feedback with us. Do you have any specific feedback on Windows as a development platform that we can pass along to the Windows engineering team, or any specific feedback on the Windows developer docs that we can use to improve the docs? For example, specific features or APIs that don't work the way you expect, or specific articles in the Windows develope

[2020-07-23 22:24] stevewhims commented on #2075
Hi, @Kumara-Krishnan, thanks for the info! Sorry for the delay in working on this. I do have an internal work item, assigned to myself, to take care of this issue. So I'll go ahead and close this and circle back when the changes are live. After closing, I'll still be able to see any comments added to the issue.

Thanks again!
-Steve

[2020-07-23 22:24] #2075 closed, assigned to stevewhims

[2020-07-24 05:41] QuinnRadich commented on #1068
Sorry to leave this issue unresolved for so long, and thanks for your patience on this. As recommended by the above comment, I've added a notice to the page that the CommandBar can be embedded in a layout control such as Grid.Row.

Thank you.